{% extends 'panel.html.twig' %}

{% block content %}
    <style type="text/css">
        .addpicture.disabled {
            opacity: 0.5;
        }

        .mask, .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .overlay {
            opacity: 0;
        }

        .overlay:hover {
            opacity: 1;
        }

        .mask {
            background-color: black;
            opacity: 0.5;
        }

        .delete {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -27.5px;
            margin-top: -35px;
            color: white;
        }
    </style>
    <table class="table table-bordered">
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>品牌</th>
            <th>類別</th>
            <th>材質</th>
            <th>產地</th>
            <th>狀況</th>
            <th>原價</th>
            <th>二手價</th>
            <th>顏色</th>
            <th>季節</th>
            <th>風格</th>
            <th>款式</th>
            <th>袖/褲長</th>
            <th>尺寸標示</th>
            <th>備註</th>
            <th>觀看圖片</th>
        </tr>
        {% for clothing in clothings %}
        <tr>
            <td>{{ clothing.product_item_number }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="product_title">{{ clothing.product_title }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="product_brand">{{ clothing.product_brand }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="select" data-field="product_type" data-data-url="/restful/product_clothing/product_type">{{ clothing.product_type|product_type }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="material">{{ clothing.material }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="location">{{ clothing.location }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="select" data-field="item_status" data-data-url="/restful/product_clothing/item_status">{{ clothing.item_status }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="select" data-field="product_original_price" data-data-url="/restful/product_clothing/product_original_price">{{ clothing.product_original_price|get_price_range }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="product_sell_price">{{ clothing.product_sell_price }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="color">{{ clothing.color }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="select" data-data="{春: '春', 夏:'夏', 秋: '秋', 冬: '冬'}" data-field="season">{{ clothing.season }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="style">{{ clothing.style }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="item_long">{{ clothing.item_long }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="size">{{ clothing.size }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="text" data-field="pattern">{{ clothing.pattern }}</td>
            <td data-id="{{ clothing.id }}" class="editable" data-type="textarea" data-field="product_comments">{{ clothing.product_comments }}</td>
            <td href="#{{ clothing.product_item_number }}" data-toggle="collapse">觀看圖片</td>
        </tr>
        <tr id="{{ clothing.product_item_number }}" class="collapse">
            <td colspan="18">
                {% for file_id in clothing.files %}
                <div data-file-id="{{ file_id }}" style="display: inline-block; position: relative;">
                    <div class="overlay">
                        <div class="mask"></div>
                        <i class="fa fa-trash-o fa-5x delete"></i>
                    </div>
                    <img src="http://s3.getmore.cc/clothing/{{ file_id }}/medium.jpg">
                </div>
                {% endfor %}
                <i class="fa fa-plus-square-o fa-5x addpicture" data-id="{{ clothing.id }}" {% if clothing.files|length >= 5 %}style="display: none;" {% endif %}></i>
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="file" name="userfile" data-url="/restful/product_clothing/file/self_product" style="display: none;">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script type="text/javascript">

    $('input[type="file"]').bind('change', function(e){
        var target = $(this).data('target')
        target.data('disabled', true).addClass('disabled');
        $(this).fileupload().fileupload('add', {
            fileInput: $(this),
            forceIframeTransport: true,
            formData: {
                id: $(this).data('id'),
                sync: true
            }
        });
    }).bind('fileuploaddone', function(e, data){
        var target = $(this).data('target'),
            file_id = ("'"+data.result[0].body.innerText+"'").match(/\d*/g)[2];

        var template = '<div data-file-id="'+file_id+'" style="display: inline-block; position: relative;"><div class="overlay"><div class="mask"></div><i class="fa fa-trash-o fa-5x delete"></i></div><img src="http://s3.getmore.cc/clothing/'+file_id+'/medium.jpg"></div>'

        target.data('disabled', false).removeClass('disabled').before(template);

        if($('div[data-file-id]', target.parents('td')).length >= 5) target.hide();
    });

    $('table').delegate('.delete', 'click', function(e){
        var parent = $(this).parents('div[data-file-id]');
        $.ajax({
            type: 'DELETE',
            url: '/restful/product_clothing/file/'+parent.data('file-id'),
        }).then(function(){
            $(parent).siblings('i.addpicture').show();
            parent.remove();
        }, function(){
            console.log(arguments);
        });
    }).delegate('.addpicture', 'click', function(e){
        if($(this).data('disabled')) return false;
        $('input[type="file"]').data({id: $(this).data('id'), target: $(this)}).click();
    });

    $('.editable').each(function(){
        $(this).editable(function(value, settings) {
            var self = this,
                    data = {};

            data[$(this).data('field')] = value;
            $.ajax({
                type: 'PUT',
                url: '/restful/product_clothing/'+$(this).data('id'),
                data: data,
                dataType: 'json'
            }).then(function(value){
                if($(self).data('type') === 'select'){
                    value = $("option[value='"+value+"']", self).text();
                }
                $(self).html(value);
            }, function(err){
                if($(self).data('type') === 'select'){
                    value = $("option[value='"+value+"']", self).text();
                }
                $(self).html(value);
            });
          }, {
            type: $(this).data('type'),
            loadurl: $(this).data('data-url'),
            data: $(this).data('data'),
            rows: 3,
            cols: 10,
            submit: 'ok'
        });
    });
    </script>
{% endblock %}
