{% extends 'panel.html.twig' %}

{% block content %}
    <table id="sub_orders">
        <tr>
            <th>訂單編號</th>
            <th>會員ID</th>
            <th>訂購人</th>
            <th>訂購日期</th>
            <th>訂購件數</th>
            <th>付款金額</th>
            <th>付款日期</th>
            <th>托運單號</th>
            <th>出貨日期</th>
            {% if changeStatus %}
            <th>狀態轉換</th>
            {% endif %}
        </tr>
        {% for order in sub_orders %}
        <tr data-toggle="collapse" data-parent="#sub_orders" data-target="#sub_order_{{ loop.index }}" aria-expanded="true" aria-controls="sub_order_{{ loop.index }}">
            <td>{{ order.sub_order_number }}</td>
            <td>{{ order.buy_order.user_id }}</td>
            <td>{{ order.buy_order.buyer_name }}</td>
            {% if order.buy_order.created_at != '0000-00-00 00:00:00' %}
            <td>{{ order.buy_order.created_at|date('Y-m-d') }}</td>
            {% else %}
            <td>0000-00-00</td>
            {% endif %}
            <td>{{ order.items_count }}</td>
            <td>{{ order.total_price }}</td>
            {% if order.buy_order.paid_at != '0000-00-00 00:00:00' %}
            <td>{{ order.buy_order.paid_at|date('Y-m-d') }}</td>
            {% else %}
            <td>0000-00-00</td>
            {% endif %}
            <td>{{ order.shipping_number }}</td>
            {% if order.shipped_at != '0000-00-00 00:00:00' %}
            <td>{{ order.shipped_at|date('Y-m-d') }}</td>
            {% else %}
            <td>0000-00-00</td>
            {% endif %}
            {% if changeStatus %}
            <td><button class="btn btn-primary" data-order-id="{{ order.id }}" changeStatus-button>已出貨</button></td>
            {% endif %}
        </tr>
        <tr id="sub_order_{{ loop.index }}" class="collapse">
            <td colspan="6">
                <ul>
                    <li>訂購人資訊
                        <ul>
                            <li>姓名: {{ order.buy_order.buyer_name }}</li>
                            <li>地址: {{ order.buy_order.buyer_address }}</li>
                            <li>電話: {{ order.buy_order.buyer_phone_number }}</li>
                        </ul>
                    </li>
                    <li>寄件資訊
                        <ul>
                            <li>姓名: {{ order.buy_order.receiver_name }}</li>
                            <li>地址: {{ order.buy_order.receiver_address }}</li>
                            <li>電話: {{ order.buy_order.receiver_phone_number }}</li>
                        </ul>
                    </li>
                    <li>付款資訊
                        <ul>
                            <li>付款金額：{{ order.items_price }}（購物金額）+ {{ order.shipping_price }}（運費） + {{ order.buy_order.deduction_amount }}（抵扣額） = {{ order.total_price }}元</li>
                            <li>付款方式：{{ order.buy_order.payment_method }}</li>
                        </ul>
                    </li>
                    <li>其他
                        <ul>
                            <li>配送時間：{{ order.buy_order.delivery_time }}</li>
                            <li>發票狀態：{{ order.receipt_to }}</li>
                            <li>二聯/三聯：{{ order.uniform_invoice_type }}</li>
                            <li>發票抬頭：{{ order.uniform_invoice_title }}</li>
                            <li>發票編號：{{ order.uniform_invoice_number }}</li>
                            <li>
                            {% for log in order.logs %}
                                {{ log }}
                            {% endfor %}
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td colspan="3">
                {% for product_clothing in order.product_clothings %}
                <ul>
                    <li>商品名稱：{{ product_clothing.product_title }}</li>
                    <li>商品編號：{{ product_clothing.product_item_number }}</li>
                    <li>洗衣編號：{{ product_clothing.sellorders_product.shipping_wash_id }}</li>
                    <li>商品金額：{{ product_clothing.product_sell_price }}</li>
                    <li>配件：{{ product_clothing.sellorders_product.has_accessory }}</li>
                    <li>吊牌：{{ product_clothing.sellorders_product.has_tag }}</li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if changeStatus %}
    <script type="text/javascript">
    $("#sub_orders").delegate("button[changeStatus-button]","click", function(e){
        e.stopImmediatePropagation();
        var target = $(e.target);
        $.ajax('/restful/sub_order/'+target.data('order-id')+'/changeStatus',{
            type: "PUT"
        }).then(/*success section*/function(){
            target.parents('tr').trigger("remove");
        },/*failure section*/ function(){});
    }).delegate("tr[data-target]", "remove", function(e){
        var target = $(e.target);
        $(target.data('target')).remove();
    });
    </script>
    {% endif %}
{% endblock %}
