<div class="logoarea-right pull-left" style="margin-left:155px;">
  <div style="width:300px;">
    <div class="input-group">
      <input type="text" class="form-control search" placeholder="找品牌二手商品..." style="letter-spacing:0px;">
      <span class="input-group-btn">
        <button class="btn btn-default search" type="button" style="padding:4px 12px;"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
    <div class="searchsuggest">搜搜看：
      <a href="http://getmore.cc/clothing/newbrandsonly#?page=1&keyword=%E6%B4%8B%E8%A3%9D" target="_blank">洋裝</a>、
      <a href="http://getmore.cc/clothing/newbrandsonly#?page=1&keyword=%E9%87%9D%E7%B9%94" target="_blank">針織</a>、
      <a href="http://getmore.cc/clothing/newbrandsonly#?page=1&keyword=%E9%A2%A8%E8%A1%A3" target="_blank">風衣</a>
    </div>
</div><!-- /.row -->
<div class="pull-right logoarea-right" style="padding-top:10px;font-size:10px;">
    <div>
      <a class="headhighlight" href="/pages/about" target="_blank">什麼是Getmore?</a>
      <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">Getmore時尚誌</a>
      <a class="headhighlight" href="/pages/closetsell" target="_blank">個人二手代售</a>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script type="text/javascript">
    var check_keyword = function(){
      var keyword = $.url(location.href).fparam('keyword');
      if(keyword){
        $('input.search').val(keyword);
      }
    }

    $(window).bind('hashchange', check_keyword);

    $('button.search').bind('click', function(e){
      angular.element('#cloth_filter').scope().$emit('search', $('input.search').val());
    });

    $('input[type="text"].search').bind('keypress', function(e){
      if(e.which == 13){
        $('button.search').trigger('click');
      }
    });

    check_keyword();
</script>
