<div class="pull-right logoarea-right">
    <a class="headhighlight" href='http://blog.getmore.cc/about-getmore/' target="_blank">什麼是Getmore?</a>
    <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">Getmore時尚誌</a>
    <a class="headhighlight" href="/pages/closetsell" target="_blank">個人二手代售</a>
</div>