<div class="logoarea-right pull-left" style="margin-left:155px;">
  <div style="width:300px;">
    <div class="input-group">
      <input type="text" class="form-control search" id="searchInput" placeholder="找新銳設計服飾、時尚配件、二手單品..." style="letter-spacing:0px;">
      <span class="input-group-btn">
        <button class="btn btn-default search" type="button" style="padding:4px 12px;" onclick="search()"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="searchsuggest">搜搜看：
    <a href="http://getmore.cc/clothing/newcate#?page=1&keyword=%E7%B2%89" target="_blank">粉</a>、
    <a href="http://getmore.cc/clothing/newcate#?page=1&keyword=%E7%B4%85" target="_blank">紅</a>、
    <a href="http://getmore.cc/clothing/newcate#?page=1&keyword=%E7%9A%AE" target="_blank">皮</a>
  </div>
</div><!-- /.row -->
<div class="pull-right logoarea-right" style="padding-top:10px;font-size:10px;">
    <div>
      <a class="headhighlight" href="/pages/about" target="_blank">什麼是Getmore?</a>
      <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">Getmore時尚誌</a>
      <a class="headhighlight" href="/pages/closetsell" target="_blank">個人二手代售</a>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script type="text/javascript">
      function search() {
        window.location = "/clothing/newcate#?page=1&keyword=" + $("#searchInput").val();
      }
      $(document).keypress(function(e) {
        if(e.which == 13 && $('#searchInput').is(':focus')) {
          search();
        }
      });
</script>