{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.error-div {
    margin:3px;
    border:1px solid rgb(196,59,29);
}
.select-box {
    width: 204px !important;
}
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.nobgnoboard{
    background-color: #f7f7f9;
    border: 0px;
}
.birthdayPicker{
    padding: 7px 10px 20px;
}
</style>
<style>
.editpimg {
  width: 30px;
  margin: 5px;
}
.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.col-726{
    padding-right: 0;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #006699;
  border-color: #006699;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.input-group-addon {
    border: 0px !important;
    background-color:transparent !important;
}

.measure-input {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
}
.cm-text {
    border: 0px;
    background-color: #FFFFFF;
}
.add-style-btn {
    display: inline-block;
}
#free_style-tokenfield {
    min-width: 629px !important;
}

</style>
{% endblock %}

{% block body %}
<div class='col-md-10 col-md-offset-1 certifycontainer'>
    <form id="account_activated_form" action="account_activated" method="post" enctype="multipart/form-data">
        <div class="upload-direction">
            <h3><i class="fa fa-check-circle" style="color:#FFCC22;"></i>&nbsp;帳號開通</h3>
            <p>歡迎成為 GetMore 狂熱市集賣家，請先閱讀客服中心的相關規範，完成以下帳號開通，即可開始上架您的商品。</p>
        </div>
        <hr />
        <div class="upload-direction">
            <div><label><input type="checkbox" class="agree_getmore">&nbsp;我已經瀏覽並同意所有GetMore 的<a href="http://support.getmore.cc/?p=389" target="_blank">狂熱市集賣家相關規範</a></label></div>
            <div><label><input type="checkbox" class="agree_data">&nbsp;我同意成為 GetMore認證賣家，並了解 GetMore有可能取用我上傳資訊作為平台營運使用。</label></div>
        </div>
        <hr />
        <div class="upload-direction">
            <label><u>衣櫃招牌</u></label>
            <p>請上傳一張 720 X 300以上 (等比例)照片，招牌是您衣櫃的門面。<a href:"http://support.getmore.cc/knowledgebase/howtomakebanner/" target="_blank">製作招牌小技巧</a></p>
            <input id="signboard_file" type="file" name="closet[signboard]">
            <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
        </div>
        <div class="upload-direction">
            <label><u>個人大頭貼上傳</u></label>
            <p>請上傳一張 180 X 180以上(等比例)照片。</p>
            <input id="personal_photo" type="file" name="closet[profile]">
            <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
        </div>
        <div class="upload-direction">
            <label><u>衣櫃名稱</u></label>
            <p>您可自行設定您的衣櫃名稱</p>
            <input type="text" name="closet[title]" class="form-control input-area">
        </div>
        <div class="upload-direction">
            <label><u>衣櫃介紹</u></label>
            <p>請輸入您的衣櫃介紹，建立個人品牌，讓消費者認識你。</p>
            <textarea type="text" name="closet[description]" class="form-control" rows="5"></textarea>
        </div>
        <hr />
            <!--<div class="upload-direction">
                <center><h3>個人資訊</h3></center>
                <hr>
            </div>-->
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="closet_account" class="col-md-3 control-label">衣櫃網址：</label>
                    <div class="col-md-8 has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon">http://getmore.cc/closet/</span>
                            <input type="text" class="form-control" name="closet[url_code]" id="closet_url">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <span class="help-block" style="color: grey;">請輸入英文字母（網址列顯示為小寫）或數字，不可輸入空格（space）、中文 或其他符號。 本項目一經開通後，無法任意更改。</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="name" class="col-md-3 control-label">中文姓名：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name" name="user[user_name]">
                        <span class="help-block" style="color: grey;">請輸入身分證上真實姓名</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label class="col-md-3 control-label">性別：</label>
                    <div class="btn-group col-md-8" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="user[sex]" value="0" autocomplete="off" checked> 小姐
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="user[sex]" value="1" autocomplete="off"> 先生
                        </label>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label class="col-md-3 control-label">生日：</label>
                    <div id="birthdayPicker"></div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="identification_card_number" class="col-md-3 control-label">身份證號碼：</label>
                    <div class="col-md-8 has-feedback">
                        <input type="text" class="form-control" name="user[identification_card_number]" id="identification_card_number">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span class="help-block" style="color: grey;">首字請大寫</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="mobile_phone" class="col-md-3 control-label" maxlength="10">手機號碼：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="user[mobile_phone]" id="mobile_phone">
                        <span class="help-block" style="color: grey;">簡訊認證用</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="active_email" class="col-md-3 control-label">常用電子郵件信箱：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="user[active_email]" id="active_email">
                    </div>
                </div>
            <hr />
            <div class="upload-direction">請提供與申請人相同戶名之匯款帳戶，並上傳存摺封面檔案，本項目一經開通後，無法任意更改，匯款以您輸入的資料為主，影本為資料留存。</div>
            <div class="panel-body">
                <!-- <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_name" class="col-sm-2 control-label">銀行名稱：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="bank[title]" id="bank_name">
                    </div>
                </div> -->
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_number" class="col-md-3 control-label">銀行名稱(代號)：</label>
                    <div class="col-md-8">
                        <select class="form-control" name="bank[code]" id="bank_number">
                            <option value="0"> </option>
                            <option value="004-臺灣銀行">004 - 臺灣銀行</option> 
                            <option value="005-土地銀行">005 - 土地銀行</option> 
                            <option value="006-合作商銀">006 - 合作商銀</option> 
                            <option value="007-第一銀行">007 - 第一銀行</option> 
                            <option value="008-華南銀行">008 - 華南銀行</option> 
                            <option value="009-彰化銀行">009 - 彰化銀行</option> 
                            <option value="011-上海商業儲蓄銀行">011 - 上海商業儲蓄銀行</option> 
                            <option value="012-台北富邦銀行">012 - 台北富邦銀行</option> 
                            <option value="013-國泰世華銀行">013 - 國泰世華銀行</option> 
                            <option value="016-高雄銀行">016 - 高雄銀行</option> 
                            <option value="017-兆豐國際商業銀行">017 - 兆豐國際商業銀行</option> 
                            <option value="018-農業金庫">018 - 農業金庫</option> 
                            <option value="021-花旗(台灣)商業銀行">021 - 花旗(台灣)商業銀行</option> 
                            <option value="025-首都銀行">025 - 首都銀行</option> 
                            <option value="039-澳商澳盛銀行">039 - 澳商澳盛銀行</option> 
                            <option value="040-中華開發工業銀行">040 - 中華開發工業銀行</option> 
                            <option value="050-臺灣企銀">050 - 臺灣企銀</option> 
                            <option value="052-渣打國際商業銀行">052 - 渣打國際商業銀行</option> 
                            <option value="053-台中商業銀行">053 - 台中商業銀行</option> 
                            <option value="054-京城商業銀行">054 - 京城商業銀行</option> 
                            <option value="072-德意志銀行">072 - 德意志銀行</option> 
                            <option value="075-東亞銀行">075 - 東亞銀行</option> 
                            <option value="081-匯豐(台灣)商業銀行">081 - 匯豐(台灣)商業銀行</option> 
                            <option value="085-新加坡商新加坡華僑銀行">085 - 新加坡商新加坡華僑銀行</option> 
                            <option value="101-大台北銀行">101 - 大台北銀行</option> 
                            <option value="102-華泰銀行">102 - 華泰銀行</option> 
                            <option value="103-臺灣新光商銀">103 - 臺灣新光商銀</option> 
                            <option value="104-台北五信">104 - 台北五信</option> 
                            <option value="106-台北九信">106 - 台北九信</option> 
                            <option value="108-陽信商業銀行">108 - 陽信商業銀行</option> 
                            <option value="114-基隆一信">114 - 基隆一信</option> 
                            <option value="115-基隆二信">115 - 基隆二信</option> 
                            <option value="118-板信商業銀行">118 - 板信商業銀行</option> 
                            <option value="119-淡水一信">119 - 淡水一信</option> 
                            <option value="120-淡水信合社">120 - 淡水信合社</option> 
                            <option value="124-宜蘭信合社">124 - 宜蘭信合社</option> 
                            <option value="127-桃園信合社">127 - 桃園信合社</option> 
                            <option value="130-新竹一信">130 - 新竹一信</option> 
                            <option value="132-新竹三信">132 - 新竹三信</option> 
                            <option value="146-台中二信">146 - 台中二信</option> 
                            <option value="147-三信商業銀行">147 - 三信商業銀行</option> 
                            <option value="158-彰化一信">158 - 彰化一信</option> 
                            <option value="161-彰化五信">161 - 彰化五信</option> 
                            <option value="162-彰化六信">162 - 彰化六信</option> 
                            <option value="163-彰化十信">163 - 彰化十信</option> 
                            <option value="165-鹿港信合社">165 - 鹿港信合社</option> 
                            <option value="178-嘉義三信">178 - 嘉義三信</option> 
                            <option value="179-嘉義四信">179 - 嘉義四信</option> 
                            <option value="188-台南三信">188 - 台南三信</option> 
                            <option value="204-高雄三信">204 - 高雄三信</option> 
                            <option value="215-花蓮一信">215 - 花蓮一信</option> 
                            <option value="216-花蓮二信">216 - 花蓮二信</option> 
                            <option value="222-澎湖一信">222 - 澎湖一信</option> 
                            <option value="223-澎湖二信">223 - 澎湖二信</option> 
                            <option value="224-金門信合社">224 - 金門信合社</option> 
                            <option value="512-雲林區漁會">512 - 雲林區漁會</option> 
                            <option value="515-嘉義區漁會">515 - 嘉義區漁會</option> 
                            <option value="517-南市區漁會">517 - 南市區漁會</option> 
                            <option value="518-南縣區漁會">518 - 南縣區漁會</option> 
                            <option value="520-小港區漁會">520 - 小港區漁會</option> 
                            <option value="520-高雄區漁會">520 - 高雄區漁會</option> 
                            <option value="521-彌陀區漁會">521 - 彌陀區漁會</option> 
                            <option value="521-永安區漁會">521 - 永安區漁會</option> 
                            <option value="521-興達港區漁">521 - 興達港區漁會</option> 
                            <option value="521-林園區漁會">521 - 林園區漁會</option> 
                            <option value="523-東港漁會">523 - 東港漁會</option> 
                            <option value="523-琉球區漁會">523 - 琉球區漁會</option> 
                            <option value="523-林邊區漁會">523 - 林邊區漁會</option> 
                            <option value="524-新港區漁會">524 - 新港區漁會</option> 
                            <option value="525-澎湖區漁會">525 - 澎湖區漁會</option> 
                            <option value="605-高雄市農會">605 - 高雄市農會</option> 
                            <option value="612-豐原市農會">612 - 豐原市農會</option> 
                            <option value="612-神岡鄉農會">612 - 神岡鄉農會</option> 
                            <option value="613-名間農會">613 - 名間農會</option> 
                            <option value="614-彰化地區農會">614 - 彰化地區農會</option> 
                            <option value="616-雲林地區農會">616 - 雲林地區農會</option> 
                            <option value="617-嘉義地區農會">617 - 嘉義地區農會</option> 
                            <option value="618-台南地區農會">618 - 台南地區農會</option> 
                            <option value="619-高雄地區農會">619 - 高雄地區農會</option> 
                            <option value="620-屏東地區農會">620 - 屏東地區農會</option> 
                            <option value="621-花蓮地區農會">621 - 花蓮地區農會</option> 
                            <option value="622-台東地區農會">622 - 台東地區農會</option> 
                            <option value="624-澎湖農會">624 - 澎湖農會</option> 
                            <option value="625-台中市農會">625 - 台中市農會</option> 
                            <option value="627-連江縣農會">627 - 連江縣農會</option> 
                            <option value="700-中華郵政">700 - 中華郵政</option> 
                            <option value="803-聯邦商業銀行">803 - 聯邦商業銀行</option> 
                            <option value="805-遠東銀行">805 - 遠東銀行</option> 
                            <option value="806-元大銀行">806 - 元大銀行</option> 
                            <option value="807-永豐銀行">807 - 永豐銀行</option> 
                            <option value="808-玉山銀行">808 - 玉山銀行</option> 
                            <option value="809-萬泰銀行">809 - 萬泰銀行</option> 
                            <option value="810-星展銀行">810 - 星展銀行</option> 
                            <option value="812-台新銀行">812 - 台新銀行</option> 
                            <option value="814-大眾銀行">814 - 大眾銀行</option> 
                            <option value="815-日盛銀行">815 - 日盛銀行</option> 
                            <option value="816-安泰銀行">816 - 安泰銀行</option> 
                            <option value="822-中國信託">822 - 中國信託</option> 
                            <option value="901-大里市農會">901 - 大里市農會</option> 
                            <option value="903-汐止農會">903 - 汐止農會</option> 
                            <option value="904-新莊農會">904 - 新莊農會</option> 
                            <option value="910-財團法人農漁會聯合資訊中心">910 - 財團法人農漁會聯合資訊中心</option> 
                            <option value="912-冬山農會">912 - 冬山農會</option> 
                            <option value="916-草屯農會">916 - 草屯農會</option> 
                            <option value="922-台南市農會">922 - 台南市農會</option> 
                            <option value="928-板橋農會">928 - 板橋農會</option> 
                            <option value="951-北農中心">951 - 北農中心</option> 
                            <option value="954中南部地區農漁會-">954 - 中南部地區農漁會</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_branch" class="col-md-3 control-label">分行名稱：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[branch]" id="bank_branch">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_account" class="col-md-3 control-label">帳       號：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[account]" id="bank_account">
                        <span class="help-block" style="color: grey;">請直接輸入數字部分</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_username" class="col-md-3 control-label">戶       名：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[username]" id="bank_username">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_book_cover" class="col-md-3 control-label">存摺封面：</label>
                    <div class="col-md-8">
                        <input type="file" class="form-control" name="bank[bank_book_cover]" id="bank_book_cover">
                        <span class="help-block" style="color: grey;">請提供.pdf, .jpg或.png檔案</span>
                    </div>
                </div>
            </div>
        <hr />
        <div class="upload-direction">
            <div class="panel-heading">發票資訊</div>
            <div class="panel-body">
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label class="col-md-3 control-label">如何開立發票：</label>
                    <div class="btn-group col-md-8" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" value="1" name="invoice[type]" autocomplete="off" checked> 捐贈發票
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="2" name="invoice[type]" autocomplete="off"> 二聯式發票
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="3" name="invoice[type]" autocomplete="off"> 三聯式發票
                        </label>
                    </div>
                </div>
                <div id="input_for_invoice2">
                    <label for="invoice[carriertype]">請選擇</label>
                    <div>
                        <label>
                            <input type="radio" value="1" name="invoice[carriertype]" autocomplete="off" checked>&nbsp;存在GetMore自動對獎(會員載具)
                        </label>
                        </br>
                        <label>
                            <input type="radio" value="2" name="invoice[carriertype]" autocomplete="off">&nbsp;共通性載具
                        </label>
                    </div>
                </div>
                <div id="input_for_invoice3">
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-3  control-label">發票抬頭：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="invoice[title]">
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-3 control-label">統一編號：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="invoice[number]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
           <!-- <button type="reset" class="btn btn-success">還原</button> -->
            <center><button type="submit" class="btn btn-info">提交，進行簡訊認證 >></button></center>

        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function(e){
        //birthday

        var t={number:["01","02","03","04","05","06","07","08","09","10","11","12"],"short":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"long":["January","February","March","April","May","June","July","August","September","October","November","December"]},n=new Date,r=n.getFullYear(),i=n.getMonth()+1,s=n.getDate();generateBirthdayPicker=function(n,s){var o=e("<fieldset class='birthdayPicker'></fieldset>"),u=e("<select class='birthYear "+s.sizeClass+"' name='birth[year]'></select>"),a=e("<select class='birthMonth "+s.sizeClass+"' name='birth[month]'></select>"),f=e("<select class='birthDate "+s.sizeClass+"' name='birth[day]'></select>");$birthday=e("<input class='birthDay' name='birthDay' type='hidden'/>");if(s.placeholder){e("<option value='0'>Year</option>").appendTo(u);e("<option value='0'>Month</option>").appendTo(a);e("<option value='0'>Day</option>").appendTo(f)}if(s.dateFormat=="bigEndian"){o.append(u).append(a).append(f)}else if(s.dateFormat=="littleEndian"){o.append(f).append(a).append(u)}else{o.append(a).append(f).append(u)}var l=r-s.minAge;var c=r-s.maxAge;if(s.maxYear!=r&&s.maxYear>r){l=s.maxYear;c=c+(s.maxYear-r)}for(var h=l;h>=c;h--){e("<option></option>").attr("value",h).text(h).appendTo(u)}for(var h=0;h<=11;h++){e("<option></option>").attr("value",h+1).text(t[s.monthFormat][h]).appendTo(a)}for(var h=1;h<=31;h++){var p=h<10?"0"+h:h;e("<option></option>").attr("value",h).text(p).appendTo(f)}if(s.defaultDate){var d=new Date(s.defaultDate);console.log(d);u.val(d.getFullYear());a.val(d.getMonth()+1);f.val(d.getDate())}o.append($birthday);n.append(o);o.on("change",function(){selectedYear=parseInt(u.val(),10),selectedMonth=parseInt(a.val(),10),selectedDay=parseInt(f.val(),10);var n=a.children(":last").val();if(selectedYear>r){if(n>i){while(n>i){a.children(":last").remove();n--}}}else{while(n<12){e("<option></option>").attr("value",parseInt(n)+1).text(t[s.monthFormat][n]).appendTo(a);n++}}var o=f.children(":last").val();var l=(new Date(selectedYear,selectedMonth,0)).getDate();if(o>l){while(o>l){f.children(":last").remove();o--}}else if(o<l){while(o<l){var c=parseInt(o)+1;var h=c<10?"0"+c:c;e("<option></option>").attr("value",c).text(h).appendTo(f);o++}}if(selectedYear*selectedMonth*selectedDay!=0){if(selectedMonth<10)selectedMonth="0"+selectedMonth;if(selectedDay<10)selectedDay="0"+selectedDay;hiddenDate=selectedYear+"-"+selectedMonth+"-"+selectedDay;e(this).find("input[name=birthDay]").val(hiddenDate)}})};e.fn.birthdayPicker=function(t){return this.each(function(){var n=e.extend(e.fn.birthdayPicker.defaults,t);generateBirthdayPicker(e(this),n)})};e.fn.birthdayPicker.defaults={maxAge:100,minAge:0,maxYear:r,dateFormat:"middleEndian",monthFormat:"number",placeholder:true,defaultDate:false,sizeClass:"span2"}

        $('#input_for_invoice2').hide();
        $('#input_for_invoice3').hide();

        $("#birthdayPicker").birthdayPicker({
            maxAge : 100,
            minAge : 10,
            "dateFormat" : "bigEndian",
            "sizeClass" : "span3"
        });

        $('.birthYear').attr('name', "user[birthday][year]"); // changes/adds name
        $('.birthMonth').attr('name', "user[birthday][month]"); // changes/adds name
        $('.birthDate').attr('name', "user[birthday][day]"); // changes/adds name

        $('#mobile_phone').keyup(function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if (this.value.length > 10) {
                this.value = this.value.substr(0,10);
            }
        });

        $('#bank_account').keyup(function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
        });


        $('#closet_url').keyup(function () { 
            this.value = this.value.replace(/[^a-zA-Z0-9_\.]/g,'');
        });

        $("input[name='invoice[type]']").change(function(){
            if (this.value == 2) {
                $('#input_for_invoice3').hide();  
                $('#input_for_invoice2').show();
            } else if (this.value == 3) {
                $('#input_for_invoice2').hide();
                $('#input_for_invoice3').show();
            } else {
                $('#input_for_invoice2').hide();
                $('#input_for_invoice3').hide();  
            }
        });
    });

    $('#identification_card_number').bind('change keyup keypress', function(){
        if (checkPID(this.value)) {
            $(this).parent('div').removeClass("has-error");
            $(this).parent('div').addClass("has-success");
            $(this).siblings('.glyphicon').removeClass("glyphicon-remove");
            $(this).siblings('.glyphicon').addClass("glyphicon-ok");
        } else {
            $(this).parent('div').removeClass("has-success");
            $(this).parent('div').addClass("has-error");
            $(this).siblings('.glyphicon').removeClass("glyphicon-ok");
            $(this).siblings('.glyphicon').addClass("glyphicon-remove");
        }
    });

    $('#closet_url').on('focusout', function(){
        var lowerCase = this.value.toLowerCase();

        $.ajax({
            type: "GET",
            url: "/restful/closet/count",
            data: {url_code: lowerCase},
            success: function(response){
                if (response == "0") {
                    $('#closet_url').parent('div').removeClass("has-error");
                    $('#closet_url').parent('div').addClass("has-success");
                    $('#closet_url').siblings('.glyphicon').removeClass("glyphicon-remove");
                    $('#closet_url').siblings('.glyphicon').addClass("glyphicon-ok");
                } else {
                    $('#closet_url').parent('div').removeClass("has-success");
                    $('#closet_url').parent('div').addClass("has-error");
                    $('#closet_url').siblings('.glyphicon').removeClass("glyphicon-ok");
                    $('#closet_url').siblings('.glyphicon').addClass("glyphicon-remove");
                }
            }
        }); 
    });

    $('#account_activated_form').submit(function(){
        $('.error-div').removeClass('error-div');
        var have_error = false;

        if ($('.agree_getmore').is(':checked') == false) {
            $('.agree_getmore').parent('label').parent('div').addClass('error-div');
            have_error = true;
        }
        if ($(".agree_data").is(':checked') == false) {
            $('.agree_data').parent('label').parent('div').addClass('error-div');
            have_error = true;
        }
        if ($('#signboard_file')[0].files.length == 0) {
            $('#signboard_file').parent('div').addClass('error-div');
            have_error = true;
        } else {          
            if ($('#signboard_file')[0].files[0]['name'].search(/\.(jpe?g|png)$/i) < 0) {
                $('#signboard_file').parent('div').addClass('error-div');
                have_error = true;
            }
        }
        if ($('#personal_photo')[0].files.length == 0) {
            $('#personal_photo').parent('div').addClass('error-div');
            have_error = true;
        } else {       
            if ($('#personal_photo')[0].files[0]['name'].search(/\.(jpe?g|png)$/i) < 0) {
                $('#personal_photo').parent('div').addClass('error-div');
                have_error = true;
            }
        }
        if ($("input[name='closet[title]']").val() == "") {
            $("input[name='closet[title]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("textarea[name='closet[description]']").val() == "") {
            $("textarea[name='closet[description]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ( ($("input[name='closet[url_code]']").val() == "") || ($("input[name='closet[url_code]']").parent('div').hasClass('has-error')) ) {
            $("input[name='closet[url_code]']").parent('div').parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='user[user_name]']").val() == "") {
            $("input[name='user[user_name]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if (($("select[name='user[birthday][year]']") == -1) || ($("select[name='user[birthday][year]']") == -1) || ($("select[name='user[birthday][year]']") == -1)) {
            $("select[name='user[user_name]']").parent('').parent('div').addClass('error-div');
            have_error = true;
        }
        if ( ($("input[name='user[identification_card_number]']").val() == "") || ($("#identification_card_number").parent('div').hasClass('has-error')) ) {
            $("input[name='user[identification_card_number]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='user[mobile_phone]']").val() == "") {
            $("input[name='user[mobile_phone]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='user[active_email]']").val() == "") {
            $("input[name='user[active_email]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("select[name='bank[code]']").val() == 0) {
            $("select[name='bank[code]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='bank[branch]']").val() == "") {
            $("input[name='bank[branch]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='bank[account]']").val() == "") {
            $("input[name='bank[account]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($("input[name='bank[username]']").val() == "") {
            $("input[name='bank[username]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($('#bank_book_cover')[0].files.length == 0) {
            $('#bank_book_cover').parent('div').addClass('error-div');
            have_error = true;
        } else {            
            if ($('#bank_book_cover')[0].files[0]['name'].search(/\.(jpe?g|pdf|png)$/i) < 0) {
                $('#bank_book_cover').parent('div').addClass('error-div');
                have_error = true;
            }
        }
        if ($("input[name='invoice[type]']:checked").val() == "3") {
            if ($("input[name='invoice[title]']").val() == "") {
                $("input[name='invoice[title]']").parent('div').addClass('error-div');
                have_error = true;
            }
            if ($("input[name='invoice[number]']").val() == "") {
                $("input[name='invoice[number]']").parent('div').addClass('error-div');
                have_error = true;
            }
        }

        if (have_error) {
            return false;
        }
    });

    function checkPID( id ) {
        var tab = "ABCDEFGHJKLMNPQRSTUVXYWZIO",
               A1 = new Array (1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3 ),
               A2 = new Array (0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5 ),
               Mx = new Array (9,8,7,6,5,4,3,2,1,1);

        if ( id.length != 10 ) {
            return false;
        }
        var i = tab.indexOf( id.charAt(0) );
        if ( i == -1 ) {
            return false;
        }
        var sum = A1[i] + A2[i]*9;

        for ( i=1; i<10; i++ ) {
            var v = parseInt( id.charAt(i) );
            if ( isNaN(v) ) {
                return false;
            }
            var sum = sum + v * Mx[i];
        }
        if ( sum % 10 != 0 ) {
            return false;
        }
        return true;
    }

</script>
{% endblock %}