{% extends 'template/sell_manage.html.twig' %}



{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<style>
.ui-widget-content {
    z-index: 9999;
}
.modal-backdrop{
  z-index: -1 !important;
}
.editpimg {
  width: 30px;
  margin: 5px;
}
.col-726{
    padding-right: 0;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
  font-size: 10px;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.show-img-s img{
    width: 80px;
    margin-bottom: 10px;
}

.clothing_image {
    display: inline-block;
    position: relative;
}

.clothing_image img {
    width: 200px;
}

.delete_image {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delete_image:hover {
    opacity: 1;
}

.delete_image_mask {
    position: absolute;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.delete_image_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -27.5px;
    color: white;
}

.add_image {
    display: inline-block;
}

#free_style-tokenfield {
    min-width: 548px !important;
}

</style>
{% endblock %}

{% block body %}

<div>
    <div class='col-254'>
        {% include '/marketplace/sell_manage_sidebar.html.twig' %}       
    </div>
    <div class='col-726' ng-app="getmore_sell_manage">
        <div class="col-726" ng-controller="ManageController">
            <div class="member_order_list_title">
                <h3 style="display: inline-block;"><i class="fa fa-list" style="color:#FFCC22;"></i>&nbsp;交易商品列表</h3><span style="color:#bbb;">（交易中或是已交易商品列表，無法修改）</span>
            </div>
            <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>圖片</th>
                      <th>詳細資訊</th>
                      <th>價格</th>
                      <th>尺寸</th>
                      <th>風格</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="clothing in clothings">
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#upload_files" ng-click="getInfo(clothing.id);">
                            <img class="editpimg" ng-src="[[ clothing.files[0]|s3_url ]]">
                            </a>
                            <a data-toggle="modal" data-target="#upload_files" ng-click="getInfo(clothing.id);"><i class="fa fa-info-circle lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_detail" ng-click="getInfo(clothing.id);" ng-bind="clothing.product_title"></a>
                            <a data-toggle="modal" data-target="#edit_detail" ng-click="getInfo(clothing.id);"><i class="fa fa-info-circle lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_price" ng-click="getInfo(clothing.id);" ng-bind="clothing.product_sell_price"></a>
                            <a data-toggle="modal" data-target="#edit_price" ng-click="getInfo(clothing.id);"><i class="fa fa-info-circle lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_size" ng-click="getInfo(clothing.id);" ng-bind="clothing.size"></a>
                            <a data-toggle="modal" data-target="#edit_size" ng-click="getInfo(clothing.id);"><i class="fa fa-info-circle lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_style" ng-click="getInfo(clothing.id);" data-fstyle="[[ clothing.free_style ]]">風格</a>
                            <a data-toggle="modal" data-target="#edit_style" ng-click="getInfo(clothing.id);" data-fstyle="[[ clothing.free_style ]]"><i class="fa fa-info-circle lg edit-icon"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <!-- modal_img -->
            <div class="modal fade" id="upload_files">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Upload Files</h4>
                  </div>
                  <div class="modal-body">
                    <div id="clothing_images">
                        <div class="row clothing_view_list">
                            <div class="col-xs-6 col-md-3 clothing_view" ng-repeat="file_id in files">
                                <div class="thumbnail text-center">
                                    <img class="clothing_view_img" ng-src="http://s3.getmore.cc/clothing/[[ file_id ]]/medium.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.modal_img -->

            <!-- modals_detail -->
            <div class="modal fade" id='edit_detail'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯商品資訊</h4>
                        </div>
                        <div class="modal-body">
                          <form id="editForm">
                            <div class='upload-direction'>
                                <h3>填寫商品資訊</h3>
                                <p>填寫顯示在商品頁面的商品名稱,品牌及敘述。沒有idea嗎？看<a href="#">教學影片</a>。</p>
                            </div>                          
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>商品名稱</u></label>
                                <p>幫商品取一個好的名字，也讓使用者能方便搜尋到。</p>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="product_title" maxlength="20" ng-model="product_title" name="product_title" disabled="disabled">
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_brand"><u>填寫品牌</u></label>
                                <input type="text" class="form-control ui-autocomplete-input ng-pristine ng-untouched ng-valid" id="product_brand" name="product_brand" maxlength="30" autocomplete="off" ng-model="clothing.product_brand" disabled="disabled">
                            </div>
                            <div class="form-group upload-direction">
                                <label for="item_status"><u>商品狀況</u><sup>*必填</sup></label>
                                <p>請仔細檢查商品狀況，商品狀況，若有瑕疵請於商品描述中填寫。不明瞭？來看看<a>影片說明</a>。</p>
                                <select class="form-control width375" name="item_status" id="item_status" ng-model="clothing.item_status" disabled="disabled">
                                    <option value="1">全新未拆吊牌</option>
                                    <option value="2">幾近全新</option>
                                    <option value="3">狀況良好</option>
                                    <option value="4">有歲月痕跡 </option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_comments"><u>商品敘述</u></label>
                                <textarea class="form-control ng-pristine ng-untouched ng-valid" id="product_comments" name="product_comments" ng-model="clothing.product_comments" rows="5" disabled="disabled"></textarea>
                            </div>
                          </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_detail -->

            <!-- modal_size -->
            <div class="modal fade" id='edit_size'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯尺寸</h4>
                        </div>
                        <div class="modal-body">
                          <form id="editSize" >
                            <div class="upload-direction">
                                <h3>填寫尺寸</h3>
                                <p>利用GetMore的系統，並依照您的尺寸標籤標示尺寸。不明瞭？來看看<a>影片說明</a>。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_type_major">單位</label>
                                <select class="form-control width375 ng-pristine ng-untouched ng-valid" name="size_type_major" id="size_type_major" ng-model="clothing.size_type_major" disabled="disabled">
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                    <option value="EU">EU</option>
                                    <option value="IT">IT</option>
                                    <option value="JP">JP</option>
                                    <option value="腰圍">腰圍</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size">尺寸</label>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'US'" disabled="disabled">
                                    <option value="0">0</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'UK'" disabled="disabled">
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'EU'" disabled="disabled">
                                    <option value="32">32</option>
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'IT'" disabled="disabled">
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="44">44</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'JP'" disabled="disabled">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_comment">其他尺寸敘述</label>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="size_comment" maxlength="20" ng-model="clothing.size_comment" name="size_comment" placeholder="加上更多尺寸註解">
                                <div class="planaex">例如：很寬鬆適合各式尺寸</div>
                            </div>
                            <div class="form-group upload-direction">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="measure_table">
                                    <tbody>
                                        <tr>
                                            <td rowspan="10" align="right">
                                                <img ng-src="[[ clothing.product_type|measure_img:clothing.item_long:clothing.pattern ]]" id="measure_img" style="height: auto;">
                                            </td>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure1" name="measure[1]" ng-model="measure[1]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure2" name="measure[2]" ng-model="measure[2]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure3" name="measure[3]" ng-model="measure[3]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure4" name="measure[4]" ng-model="measure[4]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure5" name="measure[5]" ng-model="measure[5]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure6" name="measure[6]" ng-model="measure[6]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure7" name="measure[7]" ng-model="measure[7]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure8" name="measure[8]" ng-model="measure[8]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure9" name="measure[9]" ng-model="measure[9]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure10" name="measure[10]" ng-model="measure[10]" disabled="disabled">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_size -->

            <!-- modal_price -->
            <div class="modal fade" id='edit_price'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯價格</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="upload-direction">
                                <h3>設定價格</h3>
                                <p>原始價格以及定價，建議您設定的價格是原價的2折，請勿超過4折，如何定價？<a href="#">看影片就對了！</a>。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_original_price"><u>原始價格</u></label>
                                <p>$ [[clothing.product_original_price]] </p>
                                </select>
                                <p>建議價商品定價為：<font class="red">$800</font> </p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_sell_price"><u>定價</u></label>
                                <div class="input-group" style="width:120px;">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="product_sell_price" maxlength="20" ng-model="product_sell_price" name="product_sell_price" disabled="disabled">
                                </div>
                                <div class="planaex">建議是原價的2折，並包含平均運費。</div>
                            </div>
                          </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_prize -->

            <!-- modal_style -->
            <div class="modal fade" id='edit_style'>
                <div class="modal-dialog">
                    <div class="modal-content">
                      <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯顏色及風格</h4>
                        </div>
                        <div class="modal-body">
                            <div class='upload-direction'>
                                <h3>選擇顏色以及風格</h3>
                                <p>選擇這件衣服相近的顏色，以及1~3項風格，買家可以更快找到想要的商品，也可以加入GetMore的行銷活動．</p>
                            </div>
                            <div class="form-group upload-direction">
                                <div ng-init="r_color = black" class="selectcolor">
                                    <label for="color"><u>顏色</u></label>
                                    <div ng-init="color=clothing.color">
                                        <label>
                                            <input type="radio" value="black" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/black.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="white" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/white.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="gray" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/gray.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="red" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/red.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="green" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/green.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="brown" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/brown.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="blue" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/blue.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="orange" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/orange.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="purple" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/purple.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="pink" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/pink.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="yellow" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/yellow.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="color" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                            <img src="/admin/assets/images/colorbox/color.png">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="selectstyle upload-direction">
                                <label for="style"><u>風格</u></label>
                                <div>
                                    {% for index, style in styles %}
                                    <label>
                                        <input type="checkbox" name="style[]" ng-model="r_style[{{ index }}]" class="ng-pristine ng-untouched ng-valid" disabled="disabled"> {{ style }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="filltag upload-direction">
                                <label for="free_style"><u>自訂風格</u></label>
                                <input type="text" class="form-control" id="free_style" name="free_style" ng-model="clothing.free_style">
                            </div>
                        </div>
                      </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_style -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">

  $(function() {
    $('.modal').on('show.bs.modal', function (event) {
        //console.log("modal open");
        //$(this).attr('id')); modal id
        var modal_id = $(this).attr('id');
        //console.log(modal_id);
        if (modal_id == "edit_style") {
            //tags input
            var button = $(event.relatedTarget); // Button that triggered the modal
            var old_freeStyle = button.data('fstyle'); // clothing_id
            if (typeof(old_freeStyle) == "string") {
                old_freeStyle = old_freeStyle.split(",");
            }
            var exist_style = {{ free_styles | json_encode() }};
            old_freeStyle = _.pick(exist_style,old_freeStyle);
            //console.log(old_freeStyle);
            //console.log(exist_style);
            exist_style_list = _.values(exist_style);
            $('#free_style').tokenfield({
                autocomplete: {
                    source: exist_style_list,
                    delay: 100,
                    minLength: 1
                },
                showAutocompleteOnFocus: true
            });
            $('#free_style').tokenfield('setTokens', old_freeStyle);
            $('#free_style').tokenfield('readonly');
            $('#free_style').parent().keypress(function(e){
                if(e.keyCode === 13) {
                    e.preventDefault();
                }
            });
        }
    });
  });

  app
    .controller('ManageController', ['$scope', '$element', 
      function ($scope, $element){
        $scope.clothings = {{ sell_list|json_encode() }};
        
        $scope.getInfo = function(clothing_id){
            $scope.clothing = _.findWhere($scope.clothings, {id: clothing_id});
            
            $scope.product_title = $scope.clothing.product_title;
            $scope.product_sell_price = $scope.clothing.product_sell_price;
            
            $scope.r_style = _.reduce($scope.clothing.style, function(result,key){result[key] = true;return result;},{});

            $scope.measure = JSON.parse($scope.clothing.measure);//decode measure
            
            $scope.files = $scope.clothing.files;
            
            if (!$scope.$$phase) {
                $scope.$apply();
            }
        }

        $('.modal').bind('hidden.bs.modal', function(e){
            $scope.clothing = {};
            $scope.product_title = 0;
            $scope.product_sell_price = 0;
            $scope.r_style = [];
            $scope.measure = '';
            $scope.files = [];

            if (!$scope.$$phase) {
                $scope.$apply();
            }
        });

      }
    ]);

</script>
{% endblock %}