{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">
<style>
{#
.editpimg {
  width: 30px;
  margin: 5px;
}
.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.col-726{
    padding-right: 0;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #006699;
  border-color: #006699;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.input-group-addon {
    border: 0px !important;
    background-color:transparent !important;
}

.measure-input {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
}
.cm-text {
    border: 0px;
    background-color: #FFFFFF;
}
.add-style-btn {
    display: inline-block;
}
#free_style-tokenfield {
    min-width: 629px !important;
}
.error-div {
    border:1px solid rgb(196,59,29);
}
#}
</style>
{% endblock %}
{% block body %}
<div>
        <div class='col-254'>
        {% include '/marketplace/sell_manage_sidebar.html.twig' %}       
    </div>
<div class='col-726' ng-app="getmore_sell_manage">
<div class="tab-content article-line">
    <div class="tab-pane active" id="GetMore">
        <div class='rightcol fontp15'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" style="height: auto;" ng-controller="launch">
                <ul class="list-unstyled list-inline text-center">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">圖片上傳</li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="active">選擇分類</li>
                    <li data-target="#carousel-example-generic" data-slide-to="2">設定風格</li>
                    <li data-target="#carousel-example-generic" data-slide-to="3">商品敘述</li>
                    <li data-target="#carousel-example-generic" data-slide-to="4">填寫尺寸</li>
                    <li data-target="#carousel-example-generic" data-slide-to="5">購買資訊</li>
                    <li data-target="#carousel-example-generic" data-slide-to="6">確認上架</li>
                </ul>
                <div class="planabox">
                    <form id="launchForm" name="launchForm" method="post" action="/marketplace/launch_product" class="carousel-inner" role="listbox" enctype="multipart/form-data" ng-submit="submit($event)">
                        <div class="item active">
                            <div class="upload-direction">
                                <h3><i class="fa fa-bullhorn 3x" style="color:#FFCC22;"></i>&nbsp Hello! 狂熱市集的賣家！</h3>
                                <p>恭喜您完成審核成為GetMore的賣家，一起享受二次時尚生活的樂趣，在販售前，務必詳讀<a href="#">販售規定</a>，切勿私下交易破壞規則。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>上傳圖片<sup class="red">*</sup></h3>
                                <p>您可以新增刪除圖片，或直接拖曳更換順序。首張圖片<span class="hint">請傳長寬比 3:2的圖片（直式）</span>，例：1800 X 1200。照片至多上傳五張，上傳前請先詳閱<a>規範。</a></p>
                                <div class="planaex">商品頁的照片顯示順序即是以您目前的擺放順序去做安排，第一張照片建議放人物照，每張照片的檔案大小不得超過10MB。</div>
                            </div>
                            <div class="row clothing_view_list"></div>
                            <input id="fileupload" type="file" name="files" data-url="/restful/marketplace/files" multiple>
                            <div class="planabtn">
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="1">下一步，填寫商品分類</a>
                            </div>
                        </div>
                        <!-- first step-->
                        <div class="item filelist">
                            <div  class="upload-direction">
                                <h3>選擇商品的分類</h3>
                                <p>選擇一個正確的分類，讓買家能快速找到您的商品。</p>
                            </div>
                            <!-- just view -->
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>商品分類</u><sup class="red">*</sup></label>
                                <div class="col-md-12" style="overflow:hidden;">
                                    <input type="hidden" value="" id="product_type">
                                    <div class="col-md-4 level_1">
                                        <h6>服裝</h6>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="1" class="item_class1 item_class" ng-model="category">Women</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="2" class="item_class1 item_class" ng-model="category">Men</label>
                                        </div>
                                       {# <div class="radio">
                                            <label>
                                                <input type="radio" value="3" class="item_class1 item_class" ng-model="category">Kids / Baby</label>
                                        </div> #}
                                    </div>
                                    <div class="col-md-4 level_2">
                                        <h6>類別</h6>
                                        <div class="category women" ng-show="category == 1" ng-hide="category != 1">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="11" name="category2" class="item_class2 item_class" ng-model="category2">上衣</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="12" name="category2" class="item_class2 item_class" ng-model="category2">洋裝</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="13" name="category2" class="item_class2 item_class" ng-model="category2">褲子</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="14" name="category2" class="item_class2 item_class" ng-model="category2">裙子</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="15" name="category2" class="item_class2 item_class" ng-model="category2">外套</label>
                                            </div>
                                        </div>
                                        <div class="category men" ng-show="category == 2" ng-hide="category != 2">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="21" name="category2" class="item_class2 item_class" ng-model="category2">上衣</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="22" name="category2" class="item_class2 item_class" ng-model="category2">襯衫</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="23" name="category2" class="item_class2 item_class" ng-model="category2">褲子</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="24" name="category2" class="item_class2 item_class" ng-model="category2">外套</label>
                                            </div>
                                        </div>
                                        <div class="category kid" ng-show="category == 3" ng-hide="category != 3">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="31" name="category2" class="item_class2 item_class" ng-model="category2">連身衣</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="32" name="category2" class="item_class2 item_class" ng-model="category2">上衣</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="33" name="category2" class="item_class2 item_class" ng-model="category2">下身</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="34" name="category2" class="item_class2 item_class" ng-model="category2">洋裝</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="35" name="category2" class="item_class2 item_class" ng-model="category2">外套</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="upload-direction">
                                    <h3>選擇款式</h3>
                                    <p>對於不同分類，選擇適當的款式，讓您的商品正確曝光。</p>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_title" ng-if="category2 != 34 && category2 != 31;"><u>款式</u><sup class="red">*</sup></label>
                                    <div ng-if="category == 1">
                                        <div class="item_pattern" ng-show="$parent.category2 == 11">
                                            <label>
                                                <input type="radio" value="3" name="pattern" ng-model="$parent.r_pattern"> T-Shirt
                                            </label>
                                            <label>
                                                <input type="radio" value="23" name="pattern" ng-model="$parent.r_pattern"> 襯衫
                                            </label>
                                            <label>
                                                <input type="radio" value="19" name="pattern" ng-model="$parent.r_pattern"> 背心
                                            </label>
                                            <label>
                                                <input type="radio" value="10" name="pattern" ng-model="$parent.r_pattern"> 娃娃裝
                                            </label>
                                            <label>
                                                <input type="radio" value="2" name="pattern" ng-model="$parent.r_pattern"> Polo衫
                                            </label>
                                            <label>
                                                <input type="radio" value="33" name="pattern" ng-model="$parent.r_pattern"> 雪紡
                                            </label>
                                            <label>
                                                <input type="radio" value="28" name="pattern" ng-model="$parent.r_pattern"> 針織/毛衣
                                            </label>
                                            <label>
                                                <input type="radio" value="30" name="pattern" ng-model="$parent.r_pattern"> 長上衣
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 12">
                                            <label>
                                                <input type="radio" value="31" name="pattern" ng-model="$parent.r_pattern"> 長洋裝
                                            </label>
                                            <label>
                                                <input type="radio" value="15" name="pattern" ng-model="$parent.r_pattern"> 短洋裝
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 13">
                                            <label>
                                                <input type="radio" value="5" name="pattern" ng-model="$parent.r_pattern"> 休閒褲
                                            </label>
                                            <label>
                                                <input type="radio" value="25" name="pattern" ng-model="$parent.r_pattern"> 西裝褲
                                            </label>
                                            <label>
                                                <input type="radio" value="13" name="pattern" ng-model="$parent.r_pattern"> 牛仔褲
                                            </label>
                                            <label>
                                                <input type="radio" value="26" name="pattern" ng-model="$parent.r_pattern"> 連身褲
                                            </label>
                                            <label>
                                                <input type="radio" value="1" name="pattern" ng-model="$parent.r_pattern"> Legging
                                            </label>
                                            <label>
                                                <input type="radio" value="22" name="pattern" ng-model="$parent.r_pattern"> 褲裙
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 14">
                                            <label>
                                                <input type="radio" value="16" name="pattern" ng-model="$parent.r_pattern"> 短裙
                                            </label>
                                            <label>
                                                <input type="radio" value="32" name="pattern" ng-model="$parent.r_pattern"> 長裙
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 15">
                                            <label>
                                                <input type="radio" value="24" name="pattern" ng-model="$parent.r_pattern"> 西裝外套
                                            </label>
                                            <label>
                                                <input type="radio" value="29" name="pattern" ng-model="$parent.r_pattern"> 針織/毛衣外套
                                            </label>
                                            <label>
                                                <input type="radio" value="14" name="pattern" ng-model="$parent.r_pattern"> 皮衣
                                            </label>
                                            <label>
                                                <input type="radio" value="12" name="pattern" ng-model="$parent.r_pattern"> 棉質外套
                                            </label>
                                            <label>
                                                <input type="radio" value="18" name="pattern" ng-model="$parent.r_pattern"> 羽絨衣
                                            </label>
                                            <label>
                                                <input type="radio" value="9" name="pattern" ng-model="$parent.r_pattern"> 大衣
                                            </label>
                                            <label>
                                                <input type="radio" value="11" name="pattern" ng-model="$parent.r_pattern"> 斗篷
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                            <label>
                                                <input type="radio" value="34" name="pattern" ng-model="$parent.r_pattern"> 背心外套
                                            </label>
                                        </div>
                                    </div>
                                    <div ng-if="category == 2">
                                        <div class="item_pattern" ng-show="$parent.category2 == 21">
                                            <label>
                                                <input type="radio" value="3" name="pattern" ng-model="$parent.r_pattern"> T-Shirt
                                            </label>
                                            <label>
                                                <input type="radio" value="2" name="pattern" ng-model="$parent.r_pattern"> Polo衫
                                            </label>
                                            <label>
                                                <input type="radio" value="28" name="pattern" ng-model="$parent.r_pattern"> 針織/毛衣
                                            </label>
                                            <label>
                                                <input type="radio" value="19" name="pattern" ng-model="$parent.r_pattern"> 背心
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 22">
                                            <label>
                                                <input type="radio" value="8" name="pattern" ng-model="$parent.r_pattern"> 商務襯衫
                                            </label>
                                            <label>
                                                <input type="radio" value="6" name="pattern" ng-model="$parent.r_pattern"> 休閒襯衫
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 24">
                                            <label>
                                                <input type="radio" value="24" name="pattern" ng-model="$parent.r_pattern"> 西裝外套
                                            </label>
                                            <label>
                                                <input type="radio" value="14" name="pattern" ng-model="$parent.r_pattern"> 皮衣
                                            </label>
                                            <label>
                                                <input type="radio" value="27" name="pattern" ng-model="$parent.r_pattern"> 運動外套
                                            </label>
                                            <label>
                                                <input type="radio" value="17" name="pattern" ng-model="$parent.r_pattern"> 羽絨衣
                                            </label>
                                            <label>
                                                <input type="radio" value="9" name="pattern" ng-model="$parent.r_pattern"> 大衣
                                            </label>
                                            <label>
                                                <input type="radio" value="29" name="pattern" ng-model="$parent.r_pattern"> 針織/毛衣外套
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                            <label>
                                                <input type="radio" value="34" name="pattern" ng-model="$parent.r_pattern"> 背心外套
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 23">
                                            <label>
                                                <input type="radio" value="5" name="pattern" ng-model="$parent.r_pattern"> 休閒褲
                                            </label>
                                            <label>
                                                <input type="radio" value="25" name="pattern" ng-model="$parent.r_pattern"> 西裝褲
                                            </label>
                                            <label>
                                                <input type="radio" value="13" name="pattern" ng-model="$parent.r_pattern"> 牛仔褲
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                        </div>
                                    </div>
                                    <div ng-if="category == 3">
                                        <div class="item_pattern" ng-show="$parent.category2 == 32">
                                            <label>
                                                <input type="radio" value="3" name="pattern" ng-model="$parent.r_pattern"> T-Shirt
                                            </label>
                                            <label>
                                                <input type="radio" value="19" name="pattern" ng-model="$parent.r_pattern"> 背心
                                            </label>
                                            <label>
                                                <input type="radio" value="28" name="pattern" ng-model="$parent.r_pattern"> 針織/毛衣
                                            </label>
                                            <label>
                                                <input type="radio" value="23" name="pattern" ng-model="$parent.r_pattern"> 襯衫
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 33">
                                            <label>
                                                <input type="radio" value="21" name="pattern" ng-model="$parent.r_pattern"> 褲子
                                            </label>
                                            <label>
                                                <input type="radio" value="20" name="pattern" ng-model="$parent.r_pattern"> 裙子
                                            </label>
                                            <label>
                                                <input type="radio" value="22" name="pattern" ng-model="$parent.r_pattern"> 褲裙
                                            </label>
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 35">
                                            <label>
                                                <input type="radio" value="4" name="pattern" ng-model="$parent.r_pattern"> 一般外套
                                            </label>
                                            <label>
                                                <input type="radio" value="18" name="pattern" ng-model="$parent.r_pattern"> 羽絨衣
                                            </label>
                                            <label>
                                                <input type="radio" value="34" name="pattern" ng-model="$parent.r_pattern"> 背心外套
                                            </label>
                                            <label>
                                                <input type="radio" value="7" name="pattern" ng-model="$parent.r_pattern"> 其他
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <div ng-show="category2 == 11 || category2 == 12 || category2 == 21 || category2 == 22 || category2 == 32 || category2 == 34">
                                    <label for="product_title"><u>袖長</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        <label>
                                            <input type="radio" value="ns" name="item_long" ng-model="r_long"> 無袖
                                        </label>
                                        <label>
                                            <input type="radio" value="ss" name="item_long" ng-model="r_long"> 短袖
                                        </label>
                                        <label>
                                            <input type="radio" value="ls" name="item_long" ng-model="r_long"> 長袖
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="category2 == 15 || category2 == 24">
                                    <label for="product_title"><u>長度</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        <label>
                                            <input type="radio" value="sb" name="item_long" ng-model="r_long"> 短版
                                        </label>
                                        <label>
                                            <input type="radio" value="lb" name="item_long" ng-model="r_long"> 長版
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="category2 == 13 || category2 == 23 || category2 == 33">
                                    <label for="product_title"><u>褲長</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        <label>
                                            <input type="radio" value="sp" name="item_long" ng-model="r_long"> 短褲
                                        </label>
                                        <label>
                                            <input type="radio" value="lp" name="item_long" ng-model="r_long"> 長褲
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>季節</u><sup class="red">*</sup></label>
                                <div class="item_pattern" ng-init="r_season = 1">
                                    <label>
                                        <input type="radio" value="1" name="season" ng-model="r_season" > 春夏
                                    </label>
                                    <label>
                                        <input type="radio" value="2" name="season" ng-model="r_season"> 秋冬
                                    </label>
                                    <label>
                                        <input type="radio" value="3" name="season" ng-model="r_season"> 無季節
                                    </label>
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="0">上一步</a>
                                <a class="btn btn-info" data-target="#carousel-example-generic" data-slide-to="2">下一步，填寫風格</a>
                            </div>
                        </div>

                        <!-- add style -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>選擇顏色以及風格</h3>
                                <p>選擇這件衣服相近的顏色，以及1~3項風格，讓潛在買家可以更快找到您的商品。另外，GetMore也會在各季推出宣傳活動，將挑選出類似風格、顏色的商品做行銷，增加您商品的曝光率。</p>
                            </div>
                            <div>
                                <div ng-init="r_color = black" class="selectcolor form-group upload-direction">
                                    <label for="color"><u>顏色</u><sup class="red">*</sup></label>
                                    <div>
                                        <label>
                                            <input type="radio" value="black" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/black.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="white" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/white.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="gray" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/gray.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="red" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/red.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="green" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/green.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="brown" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/brown.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="blue" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/blue.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="orange" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/orange.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="purple" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/purple.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="pink" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/pink.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="yellow" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/yellow.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="color" name="color" ng-model="r_color">
                                            <img src="/admin/assets/images/colorbox/color.png">
                                        </label>
                                    </div>
                                </div>
                                <div class="selectstyle form-group upload-direction">
                                    <label for="style"><u>風格</u></label>
                                    <div>
                                        <label>
                                            <input type="checkbox" name="style[]" value="1" ng-model="r_style[1]" ng-true-value="'上班族'">上班族
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="2" ng-model="r_style[2]" ng-true-value="'復古'">復古
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="3" ng-model="r_style[3]" ng-true-value="'浪漫'">浪漫
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="4" ng-model="r_style[4]" ng-true-value="'小碎花'">小碎花
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="5" ng-model="r_style[5]" ng-true-value="'幾何'">幾何
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="6" ng-model="r_style[6]" ng-true-value="'格子'">格子
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="7" ng-model="r_style[7]" ng-true-value="'條紋'">條紋
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="8" ng-model="r_style[8]" ng-true-value="'正式場合'">正式場合
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="9" ng-model="r_style[9]" ng-true-value="'牛仔'">牛仔
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="10" ng-model="r_style[10]" ng-true-value="'運動風'">運動風
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="11" ng-model="r_style[11]" ng-true-value="'休閒'">休閒
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="12" ng-model="r_style[12]" ng-true-value="'學院'">學院
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="13" ng-model="r_style[13]" ng-true-value="'可愛'">可愛
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="14" ng-model="r_style[14]" ng-true-value="'奢華'">奢華
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="15" ng-model="r_style[15]" ng-true-value="'宴會'">宴會
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="16" ng-model="r_style[16]" ng-true-value="'中國風'">中國風
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="17" ng-model="r_style[17]" ng-true-value="'動物紋'">動物紋
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="18" ng-model="r_style[18]" ng-true-value="'印花'">印花
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="19" ng-model="r_style[19]" ng-true-value="'個性'">個性
                                        </label>
                                        <label>
                                            <input type="checkbox" name="style[]" value="20" ng-model="r_style[20]" ng-true-value="'民俗風'">民俗風
                                        </label>
                                        <label ng-show="category != 2">
                                            <input type="checkbox" name="style[]" value="21" ng-model="r_style[21]" ng-true-value="'性感'">性感
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group filltag upload-direction">
                                    <label for="freestyle"><u>自訂風格</u></label>
                                    <p id="helpBlock" class="help-block">找不到適合您商品的風格？您可以在這邊自訂風格喔！</p>
                                    <input type="text" class="form-control" id="free_style" name="free_style" ng-model="free_style" placeholder="請直接輸入並按下ENTER"/>
                                    <p class="help-block" style="font-size:10px;">請按ENTER區分不同的風格標籤。</p>
                                </div>
                            </div>
                            <hr>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="1">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="3">下一步，商品敘述</a>
                            </div>
                        </div>               

                        <!-- add descioption -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>填寫商品資訊</h3>
                                <p>填寫顯示在商品頁面的商品名稱,品牌及敘述。</p>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_title"><u>商品名稱</u><sup class="red">*</sup></label>
                                    <p>幫商品取一個好的名字，也讓使用者能方便搜尋到。</p>
                                    <input type="text" class="form-control" id="product_title" maxlength="20" ng-model="product_title" name="product_title" placeholder="商品名稱">
                                    <div class="planaex">例如：AJ 深藍棉質背心</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_brand"><u>填寫品牌</u><sup class="red">*</sup></label>
                                    <input type="text" style="position: relative;" class="form-control ui-autocomplete" id="product_brand" name="product_brand" maxlength="30" autocomplete="off" ng-model="product_brand" placeholder="商品品牌">
                                    <div class="planaex">請輸入品牌，並注意您的<a>法律責任</a>。</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="item_status"><u>商品狀況</u><sup class="red">*</sup></label>
                                    <p>請仔細檢查商品狀況，商品狀況，若有瑕疵請於商品描述中填寫。</p>
                                    <select class="form-control width375" name="item_status" id="item_status" ng-model="item_status">
                                        <option value="0"></option>
                                        <option value="1">全新未拆吊牌</option>
                                        <option value="2">幾近全新</option>
                                        <option value="3">狀況良好</option>
                                        <option value="4">有歲月痕跡 </option>
                                    </select>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_comments"><u>商品敘述</u><sup class="red">*</sup></label>
                                    <textarea class="form-control" id="product_comments" name="product_comments" ng-model="product_comments" rows="5" placeholder="請詳細描述這衣服的特徵及穿起來的感受等等，請勿在此留下您的聯絡資訊或是私下交易訊息，會被取消賣家資格喔！"></textarea>
                                    <div class="planaex">字數限制100字，還剩 [[ remain_count ]] 字。</div>
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="2">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="4">下一步，填寫尺寸</a>
                            </div>
                        </div>

                        <!-- add  size-->
                        <div class="item">
                            <div class="paddingtop20">
                                <div class="upload-direction">
                                <h3>填寫尺寸</h3>
                                <p>利用Getmore的系統，並依照您的尺寸標籤標示尺寸。</p>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_type_major">先選單位<sup class="red">*</sup></label>
                                <select class="form-control width375" name="size_type_major" id="size_type_major" ng-model="size_type_major">
                                    <option value="0"> </option>
                                    <option value="S/M/L">S/M/L</option>
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                    <option value="EU">EU</option>
                                    <option value="IT" ng-hide = "category == 2">IT</option>
                                    <option value="JP">JP</option>
                                    <option value="牛仔褲">牛仔褲</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction" ng-show="category == 1" ng-hide="category != 1">
                                <label for="size">再選SIZE</label>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'S/M/L'">
                                    <option value="XXS">XXS</option>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXl">XXL</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'US'">
                                    <option value="0">0</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'UK'">
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'EU'">
                                    <option value="32">32</option>
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'IT'">
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="44">44</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'JP'">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == '牛仔褲'">
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction" ng-show="category != 1" ng-hide="category == 1">
                                <label for="size">再選SIZE</label>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'S/M/L'">
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'US'">
                                    <option value="14.5">14.5</option>
                                    <option value="15">15</option>
                                    <option value="15.5">15.5</option>
                                    <option value="16">16</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'UK'">
                                    <option value="14.5">14.5</option>
                                    <option value="15">15</option>
                                    <option value="15.5">15.5</option>
                                    <option value="16">16</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'EU'">
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == 'JP'">
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="$parent.size" ng-if="size_type_major == '牛仔褲'">
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_comment">其他尺寸敘述</label>
                                <input type="text" class="form-control" id="size_comment" maxlength="20" ng-model="size_comment" name="size_comment" placeholder="其他尺寸敘述">
                                <div class="planaex">例如：很寬鬆適合各式尺寸</div>
                            </div>
                            <div class="form-group upload-direction">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="measure_table">
                                    <tbody>
                                        <tr>
                                            <td rowspan="10" align="right">
                                                <img ng-src="[[ category2|measure_img:r_long:r_pattern ]]" id="measure_img" style="height: auto;">
                                            </td>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure1" name="measure[1]" ng-model="measure[1]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure2" name="measure[2]" ng-model="measure[2]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure3" name="measure[3]" ng-model="measure[3]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure4" name="measure[4]" ng-model="measure[4]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure5" name="measure[5]" ng-model="measure[5]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure6" name="measure[6]" ng-model="measure[6]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure7" name="measure[7]" ng-model="measure[7]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure8" name="measure[8]" ng-model="measure[8]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure9" name="measure[9]" ng-model="measure[9]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" id="measure10" name="measure[10]" ng-model="measure[10]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="3">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="5">下一步，填寫販售資訊</a>
                            </div>
                        </div>

                        <!-- add price -->
                        <div class="item">
                            <div class="upload-direction">
                                <h3>設定價格</h3>
                                <p>原始價格以及定價，建議您設定的價格是原價的2折，請勿超過4折。</p>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_original_price">原始價格<sup class="red">*</sup></label>
                                    <select class="form-control width375" id="product_original_price" name="product_original_price" ng-model="product_original_price">
                                        {{ price_area() }}
                                    </select>
                                    <div ng-model="suggest_price" >
                                        <p>建議價商品定價為：<font class="red">$</font>
                                        <font class="red" ng-bind="suggest_price"></font></p>
                                    </div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_sell_price"><u>定價</u><sup class="red">*</sup></label>
                                    <div class="input-group" style="width:120px;">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control numbersOnly" id="product_sell_price" maxlength="20" ng-model="product_sell_price" name="product_sell_price">
                                    </div>
                                    <div class="planaex">建議是原價的2折，並包含平均運費。</div>
                                </div>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>編輯交易政策</h3>
                                <p>交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</p>
                                <p>已自動帶入您衣櫃的交易政策，會套用到所有商品上。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_time"><u>寄送時間</u></label>
                                <div>{{ trade_rule["time"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_method"><u>寄送方式</u></label>
                                <div>{{ trade_rule["method"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_transport"><u>商品運送方式</u></label>
                                <div>{{ trade_rule["transport"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_returns"><u>退貨政策</u></label>
                                <div>{{ trade_rule["returns"]|nl2br }}</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="4">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="6">下一步，確認上架資訊</a>
                            </div>
                        </div>

                        <!-- check new clothing info-->
                        <div class="item">
                            <div  class="upload-direction">
                                <h3><i class="fa fa-pencil-square-o 3x" style="color:#4DBAA9;"></i>&nbsp 確認您填入的資料</h3>
                                <p>以下為您填入的資料，可按「上一步」往前編輯內容，並再次確認是否符合<a href="">販售規定</a>，確認無誤後請按「確認上架」，商品會立即上架。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <div class="show-title">商品分類</div>
                                <div class="show-content" id="preview_product">
                                    <p>[[ category|preview_type:category2:r_long ]]</p>
                                </div>
                                <div class="show-title">款式</div>
                                <div class="show-content">
                                    <p>[[ r_pattern|preview_pattern ]]</p>
                                </div>
                                <div>
                                    <div class="show-title" ng-if="category2 == 11 || category2 == 12 || category2 == 21 || category2 == 22 || category2 == 32 || category2 == 34">袖長</div>
                                    <div class="show-title" ng-if="category2 == 15 || category2 == 24">長度</div>
                                    <div class="show-title" ng-if="category2 == 13 || category2 == 23 || category2 == 33">褲長</div>
                                    <div class="show-content">
                                        <p>[[ r_long|preview_long ]]</p>
                                    </div>
                                </div>
                                <div class="show-title">季節</div>
                                <div class="show-content">
                                    <p ng-if="[[ r_season ]] == 1">春夏</p>
                                    <p ng-if="[[ r_season ]] == 2">秋冬</p>
                                    <p ng-if="[[ r_season ]] == 3">無季節</p>
                                </div>
                                <hr>
                                <div class="show-title">顏色</div>
                                <div class="show-content">
                                    <img ng-src="/admin/assets/images/colorbox/[[r_color]].png">
                                </div>
                                <div class="show-title">風格</div>
                                <div class="show-content" ng-repeat="style in r_style" ng-if="style != false">
                                    <p>[[ style ]]</p>
                                </div>
                                <div class="show-title">自訂風格</div>
                                <div class="show-content">
                                    <p>[[ free_style ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品名稱</div>
                                <div class="show-content">
                                    <p>[[ product_title ]]</p>
                                </div>
                                <div class="show-title">品牌</div>
                                <div class="show-content">
                                    <p>[[ product_brand ]]</p>
                                </div>
                                <div class="show-title">商品狀況</div>
                                <div class="show-content">
                                    <p ng-if="[[ item_status ]] == 1">全新未拆吊牌</p>
                                    <p ng-if="[[ item_status ]] == 2">幾近全新</p>
                                    <p ng-if="[[ item_status ]] == 3">狀況良好</p>
                                    <p ng-if="[[ item_status ]] == 4">有歲月痕跡</p>
                                </div>
                                <div class="show-title">商品描述</div>
                                <div class="show-content">
                                    <p>[[ product_comments ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品尺寸</div>
                                <div class="show-content">
                                    <p>[[ size_type_major ]] > [[ size ]]</p> 
                                </div>
                                <div class="show-title">商品價格</div>
                                <div class="show-content">
                                    <p>原始價格：$[[ product_original_price|preview_price ]]</p>
                                    <p>販售價格：$[[ product_sell_price ]]</p>
                                </div>
                                <div class="show-title">交易政策</div>
                                <div class="show-content">交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</div>
                                <br>
                                <hr>
                            </div>
                            <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="5">上一步</a>
                            <button type="submit" class="btn btn-info" data-target="#carousel-example-generic">完成上架！</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
 <script type="text/javascript">
    $('body').delegate('*', 'change', function(e){
        $(window).bind('beforeunload', function(e){
            return "確定離開嗎？離開的話 剛才所輸入的資訊都會消失喔！";
        });

        $('body').undelegate('*', 'change');
    });

    (function(){
        var file_count = 5;

        $('div.clothing_view_list').delegate('a.del_file', 'click', function(e){
            if(file_count === 5){
                return false;
            }
            var target = e.target;
            $.ajax({
                url: '/restful/marketplace/files/'+$(target).data('file_id'),
                type: 'DELETE'
            }).done(function(){
                $(target).parents('div.clothing_view').remove();
                file_count++;
            });
        });

        $("div.clothing_view_list").sortable();
        $("div.clothing_view_list").disableSelection();

        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /\.(gif|jpe?g|png)$/i,
            maxFileSize: 5000000,
            autoUpload: false,
            done: function (e, data) {
                var img = $('<img class="clothing_view_img">').attr('src', 'http://s3.getmore.cc/clothing/'+data.result[0]+'/medium.jpg');
                var del_btn = $('<a class="btn btn-danger del_file">').data('file_id', data.result[0]).html('刪除');
                var input = $('<input type="hidden" name="files[]">').attr('value', data.result[0]);
                $('i.clothing_loading_icon:first').after(input).after(del_btn).replaceWith(img);
            },
            add: function (e, data) {
                if(file_count > 0){
                    file_count--;
                    data.submit();
                }
                else {
                    $('#fileupload').hide();
                }
            }
        }).bind('fileuploadsubmit', function(){
            var div = $('<div class="col-xs-6 col-md-3 clothing_view"><a class="thumbnail text-center"><i class="fa fa-spinner fa-spin fa-5x clothing_loading_icon"></i></a></div>');
            
            $('div.clothing_view_list').append(div);
        });
    }());

    $(function() {

        if(location.hash == "#success") {
            alert("上架成功！");
            location.hash = "";
        }

        //tag input
        var exist_style = {{ styles | json_encode() }};
        
        $('#free_style').tokenfield({
            autocomplete: {
                source: exist_style,
                delay: 100,
                minLength: 1
            },
            showAutocompleteOnFocus: true
        }).on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function(index, token) {
                if (token.value === event.attrs.value)
                    event.preventDefault();
            });
        });
        //$('#free_style').tokenfield('setTokens', 'blue,red,white');
        $('#free_style').parent().keypress(function(e){
            if(e.keyCode === 13) {
                e.preventDefault();
            }
        })

        $('.numbersOnly').keyup(function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
        });

        $("#launchForm").submit(function(e){
            console.log(e);
            var have_error = false;
            var error_input = ["請完成以下必填欄位："];
            $('.has-error').removeClass('has-error');
            $('.error-div').removeClass('error-div');

            if ($("input[name='color']:checked").length == 0){
                $(".selectcolor").addClass('error-div');
                have_error = true;
                error_input.push("顏色");
            }
            if ($("input[name='product_title']").val() == ""){
                $("input[name='product_title']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品名稱");             
            }
            if ($("input[name='product_brand']").val() == ""){
                $("input[name='product_brand']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("品牌");
            }
            if ($("select[name='item_status']").val() == 0){
                $("select[name='item_status']").parent('div').addClass('error-div');
                have_error = true;
                error_input.push("商品狀況");             
            }
            if ($("textarea[name='product_comments']").val() == ""){
                $("textarea[name='product_comments']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品敘述");                
            }
            if ($('img.clothing_view_img').length == 0){
                have_error = true;
                error_input.push("上傳照片");                
            }
            if ($("select[name='size_type_major']").val() == 0){
                $("select[name='size_type_major']").parent('div').addClass('error-div');
                have_error = true;
                error_input.push("尺寸");                
            }
            if ($("select[name='product_original_price']").val() == 0){
                $("select[name='product_original_price']").parent('div').addClass('error-div');
                have_error = true;
                error_input.push("商品原始價格");             
            }
            if ($("input[name='product_sell_price']").val() == ""){
                $("input[name='product_sell_price']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品售價");
            }

            console.log(typeof $("select[name='size_type_major']").val());
            console.log(typeof $("select[name='size']").val());
            if (have_error == true) {
                error_input = error_input.join('\n');
                alert(error_input);
                return false;
            }
        });
    });

    app
        .controller('launch', ['$scope', '$element', '$http', function ($scope, $element, $http) {
            
            $scope.category = 1;
            $scope.category2 = 11;

            $scope.size_type_major = '0';

            $scope.measure = {
                1: '',
                2: '',
                3: '',
                4: '',
                5: '',
                6: '',
                7: '',
                8: '',
                9: '',
                10: ''
            };
            //default values
            $scope.product_original_price = "0";
            $scope.item_status = "0";

            $scope.$watch('category', function(newVal, oldVal){
                $scope.category2 = newVal + '1';
            });

            $scope.$watch('product_original_price', function(newVal, oldVal){
                if ($scope.product_original_price == "0"){
                    $scope.suggest_price = "";
                } else if ($scope.product_original_price == "1000"){
                    $scope.suggest_price = 150;
                } else if ($scope.product_original_price == "2000"){
                    $scope.suggest_price = 300;
                } else if ($scope.product_original_price == "3000"){
                    $scope.suggest_price = 500;
                } else if ($scope.product_original_price == "4000"){
                    $scope.suggest_price = 700;
                } else if ($scope.product_original_price == "5000"){
                    $scope.suggest_price = 900;
                } else if ($scope.product_original_price == "6000"){
                    $scope.suggest_price = 1100;
                } else if ($scope.product_original_price == "7000"){
                    $scope.suggest_price = 1300;
                } else if ($scope.product_original_price == "8000"){
                    $scope.suggest_price = 1500;
                } else if ($scope.product_original_price == "9000"){
                    $scope.suggest_price = 1700;
                } else if ($scope.product_original_price == "10000"){
                    $scope.suggest_price = 1900;
                } else if ($scope.product_original_price == "15000"){
                    $scope.suggest_price = 2500;
                } else if ($scope.product_original_price == "20000"){
                    $scope.suggest_price = 3500
                } else if ($scope.product_original_price == "25000"){
                    $scope.suggest_price = 4500;
                } else if ($scope.product_original_price == "30000"){
                    $scope.suggest_price = 5500;
                } else if ($scope.product_original_price == "35000"){
                    $scope.suggest_price = 6500;
                } else if ($scope.product_original_price == "40000"){
                    $scope.suggest_price = 7500;
                } else if ($scope.product_original_price == "45000"){
                    $scope.suggest_price = 8500;
                } else if ($scope.product_original_price == "50000"){
                    $scope.suggest_price = 9500;
                } else if ($scope.product_original_price == "60000"){
                    $scope.suggest_price = 11000;
                } else if ($scope.product_original_price == "70000"){
                    $scope.suggest_price = 13000;
                } else if ($scope.product_original_price == "80000"){
                    $scope.suggest_price = 15000;
                } else if ($scope.product_original_price == "90000"){
                    $scope.suggest_price = 17000;
                } else if ($scope.product_original_price == "100000"){
                    $scope.suggest_price = 19000;
                } else if ($scope.product_original_price == "999999"){
                    $scope.suggest_price = 20000;
                }
            });

            $scope.$watch('category2', function(newVal, oldVal){
                // 上衣款式預設值
                if(_.contains(['11', '21', '32'], newVal)){
                    $scope.r_pattern = '3';
                }
                // 襯衫款式預設值
                else if(_.contains(['22'], newVal)){
                    $scope.r_pattern = '8';
                }
                // 洋裝款式預設值
                else if(_.contains(['12'], newVal)){
                    $scope.r_pattern = '31';
                }
                // 成人褲子款式預設值
                else if(_.contains(['13', '23'], newVal)){
                    $scope.r_pattern = '5';
                }
                // 小孩褲子款式預設值
                else if(_.contains(['33'], newVal)){
                    $scope.r_pattern = '21';
                }
                // 裙子款式預設值
                else  if(_.contains(['14'], newVal)){
                    $scope.r_pattern = '16';
                }
                // 成人外套款式預設值
                else if(_.contains(['15', '24'], newVal)){
                    $scope.r_pattern = '24';
                }
                // 小孩外套款式預設值
                else if(_.contains(['35'], newVal)){
                    $scope.r_pattern = '4';
                }


                if(_.contains(['11', '12', '21', '22', '32', '34'], newVal)){
                    $scope.r_long = 'ns';
                }
                else if(_.contains(['15', '24'], newVal)){
                    $scope.r_long = 'sb';
                }
                else if(_.contains(['13', '23', '33'], newVal)){
                    $scope.r_long = 'sp';
                }
            });

            $scope.$watch('size_type_major', function(newVal, oldVal){
                switch(newVal){
                    case 'US':
                    case 'JP':
                        $scope.$parent.size = 0;
                        break;
                    case 'UK':
                        $scope.$parent.size = 4;
                        break;
                    case 'EU':
                        $scope.$parent.size = 32;
                        break;
                    case 'IT':
                        $scope.$parent.size = 34;
                        break;
                    case '牛仔褲':
                        $scope.$parent.size = 27;
                        break;
                }
            });

            $scope.$watch('product_comments', function(newVal, oldVal){
                if(!newVal) {
                    $scope.remain_count = 100;
                }
                else {
                    $scope.remain_count = 100 - newVal.length;
                }
            });

            $scope.submit = function(e){
                $(window).unbind('beforeunload');
            }

            // autocomplete product_brand
            var availableTags = {{ brands | json_encode() }};
            $("#product_brand").autocomplete({
                source: function(req, responseFn) {
                    var re = $.ui.autocomplete.escapeRegex(req.term);
                    var matcher = new RegExp( "^" + re, "i" );
                    var a = $.grep( availableTags, function(item,index){
                        return matcher.test(item);
                    });
                    responseFn( a );
                }                 
            }).bind('keypress blur', function(e){
                $scope.product_brand = $(this).val();
                if(e.type === 'keypress' && e.keyCode !== 13) return;
                var reg = new RegExp('^'+$(this).val()+'$', "i");
                var brand = _.find(availableTags, function(tag){
                  return reg.test(tag);
                });
                if(e.keyCode == 13){
                    e.preventDefault();
                    var inputs = $(this).closest('form').find(':input:visible');
                    inputs.eq( inputs.index(this)+ 1 ).focus();
                };

                if(brand){
                  $(this).val(brand);
                }
            })
        }]);
</script>
{% endblock %}