{% extends 'template/sell_manage.html.twig' %}



{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<style>
.ui-widget-content {
    z-index: 9999;
}
.modal-backdrop{
  z-index: -1 !important;
}
.editpimg {
  width: 30px;
  margin: 5px;
}
.col-726{
    padding-right: 0;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
  font-size: 10px;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.show-img-s img{
    width: 80px;
    margin-bottom: 10px;
}

.clothing_image {
    display: inline-block;
    position: relative;
}

.clothing_image img {
    width: 200px;
}

.delete_image {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delete_image:hover {
    opacity: 1;
}

.delete_image_mask {
    position: absolute;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.delete_image_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -27.5px;
    color: white;
}

.add_image {
    display: inline-block;
}

#free_style-tokenfield {
    min-width: 548px !important;
}

</style>
{% endblock %}

{% block body %}

<div>
    <div class='col-254'>
        {% include '/marketplace/sell_manage_sidebar.html.twig' %}       
    </div>
    <div class='col-726' ng-app="getmore_sell_manage">
        <div class="col-726" ng-controller="ManageController">
            <div class="member_order_list_title">
                <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;編輯已上架商品</h3>
            </div>
            <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>圖片</th>
                      <th>詳細資訊</th>
                      <th>價格</th>
                      <th>尺寸</th>
                      <th>風格</th>
                      <th>其他</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="clothing in clothings">
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#upload_files" ng-click="getInfo(clothing.id);">
                            <img class="editpimg" ng-src="[[ clothing.files[0]|s3_url ]]">
                            </a>
                            <a data-toggle="modal" data-target="#upload_files" ng-click="getInfo(clothing.id);"><i class="fa fa-pencil lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_detail" ng-click="getInfo(clothing.id);" ng-bind="clothing.product_title"></a>
                            <a data-toggle="modal" data-target="#edit_detail" ng-click="getInfo(clothing.id);"><i class="fa fa-pencil lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_price" ng-click="getInfo(clothing.id);" ng-bind="clothing.product_sell_price"></a>
                            <a data-toggle="modal" data-target="#edit_price" ng-click="getInfo(clothing.id);"><i class="fa fa-pencil lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_size" ng-click="getInfo(clothing.id);" ng-bind="clothing.size"></a>
                            <a data-toggle="modal" data-target="#edit_size" ng-click="getInfo(clothing.id);"><i class="fa fa-pencil lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <a data-toggle="modal" data-target="#edit_style" ng-click="getInfo(clothing.id);" data-fstyle="[[ clothing.free_style ]]">風格</a>
                            <a data-toggle="modal" data-target="#edit_style" ng-click="getInfo(clothing.id);" data-fstyle="[[ clothing.free_style ]]"><i class="fa fa-pencil lg edit-icon"></i></a>
                        </td>
                        <td ng-if="clothing">
                            <span ng-if="[[clothing.on_shelf]] == 'true';">
                                <a ng-click="set_onself(clothing.id);">下架</a>
                            </span>
                            <span ng-if="[[clothing.on_shelf]] == 'false';">
                                <a ng-click="set_onself(clothing.id);">上架</a>
                            </span>
                        </td>
                        <td ng-if="clothing">
                            <span>
                                <a data-toggle="modal" href="#delete_product" ng-click="delete_clothing(clothing.id)"><i class="fa fa-times fg-lg"></i></a>
                            </span>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div id='delete_product' class="modal fade bs-example-modal-sm">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <center>
                        <div class="modal-header">
                            <h4 class="modal-title">刪除上架商品</h4>                                          
                        </div>
                        <div class="modal-body">
                            <p>
                                *請注意！這個動作會使商品所有資料刪除，此動作永久無法回復！！<br />
                            </p>
                            <p><span class="prmary-btn-a"><a class='btn btn-primary' ng-click="confirm_delete()">確定刪除</a></span> <a class='btn btn-default' data-dismiss="modal">取消</a></p>
                        </div>
                    </center>
                </div>
              </div>
            </div>
            <!-- modal_img -->
            <div class="modal fade" id="upload_files">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Upload Files</h4>
                  </div>
                  <div class="modal-body">
                    <div id="clothing_images">
                        <div class="row clothing_view_list">
                            <div class="col-xs-6 col-md-3 clothing_view" ng-repeat="file_id in files">
                                <div class="thumbnail text-center">
                                    <img class="clothing_view_img" ng-src="http://s3.getmore.cc/clothing/[[ file_id ]]/medium.jpg">
                                    <input type="hidden" value="[[ file_id ]]" class="file_id">
                                    <a class="btn btn-danger del_file">刪除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add_image" ng-show="files.length < 5">
                        <a href="#" class="add_image_icon" ng-click="add_image()">
                            <i class="fa fa-plus-square-o fa-5x"></i>
                        </a>
                        <input id="fileupload" type="file" data-url="/restful/marketplace/files" multiple style="display: none;">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal" ng-click="cancel_upload()">Close</button>
                    <button type="button" class="btn btn-primary submit" ng-click="save_images(clothing.id)">Save changes</button>
                  </div>
                </div>
              </div>
            </div><!-- /.modal_img -->

            <!-- modals_detail -->
            <div class="modal fade" id='edit_detail'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯商品資訊</h4>
                        </div>
                        <div class="modal-body">
                          <form id="editForm">
                            <div class='upload-direction'>
                                <h3>填寫商品資訊</h3>
                                <p>填寫顯示在商品頁面的商品名稱,品牌及敘述。沒有idea嗎？看<a href="#">教學影片</a>。</p>
                            </div>                          
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>商品名稱</u><sup>*必填</sup></label>
                                <p>幫商品取一個好的名字，也讓使用者能方便搜尋到。</p>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="product_title" maxlength="20" ng-model="product_title" name="product_title">
                                <div class="planaex">例如：AJ 深藍棉質背心</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_brand"><u>填寫品牌</u><sup>*必填</sup></label>
                                <p>系統會自動帶出資料庫內品牌，若顯示請直接點選，若沒有請自行輸入。</p>
                                <input type="text" class="form-control ui-autocomplete-input ng-pristine ng-untouched ng-valid" id="product_brand" name="product_brand" maxlength="30" autocomplete="off" ng-model="clothing.product_brand">
                                <div class="planaex">輸入正確品牌，並注意您的<a>法律責任</a>(拒絕盜版)。</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="item_status"><u>商品狀況</u><sup>*必填</sup></label>
                                <p>請仔細檢查商品狀況，商品狀況，若有瑕疵請於商品描述中填寫。不明瞭？來看看<a>影片說明</a>。</p>
                                <select class="form-control width375" name="item_status" id="item_status" ng-model="clothing.item_status">
                                    <option value="1">全新未拆吊牌</option>
                                    <option value="2">幾近全新</option>
                                    <option value="3">狀況良好</option>
                                    <option value="4">有歲月痕跡 </option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_comments"><u>商品敘述</u><sup>*必填</sup></label>
                                <textarea class="form-control ng-pristine ng-untouched ng-valid" id="product_comments" name="product_comments" ng-model="clothing.product_comments" rows="5"></textarea>
                                <div class="planaex ng-binding">字數限制100字，還剩 [[ remain_count ]] 字。</div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer planabtn">
                            <button type="submit" class="btn btn-info" ng-click="update('product_title','product_brand','item_status','product_comments');">確認更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_detail -->

            <!-- modal_size -->
            <div class="modal fade" id='edit_size'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯尺寸</h4>
                        </div>
                        <div class="modal-body">
                          <form id="editSize" >
                            <div class="upload-direction">
                                <h3>填寫尺寸</h3>
                                <p>利用GetMore的系統，並依照您的尺寸標籤標示尺寸。不明瞭？來看看<a>影片說明</a>。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_type_major">單位</label>
                                <select class="form-control width375 ng-pristine ng-untouched ng-valid" name="size_type_major" id="size_type_major" ng-model="clothing.size_type_major">
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                    <option value="EU">EU</option>
                                    <option value="IT">IT</option>
                                    <option value="JP">JP</option>
                                    <option value="腰圍">腰圍</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size">尺寸</label>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'US'">
                                    <option value="0">0</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'UK'">
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'EU'">
                                    <option value="32">32</option>
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'IT'">
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="42">42</option>
                                    <option value="44">44</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" name="size" ng-model="clothing.size" id="size" ng-if="clothing.size_type_major == 'JP'">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_comment">其他尺寸敘述</label>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="size_comment" maxlength="20" ng-model="clothing.size_comment" name="size_comment" placeholder="加上更多尺寸註解">
                                <div class="planaex">例如：很寬鬆適合各式尺寸</div>
                            </div>
                            <div class="form-group upload-direction">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="measure_table">
                                    <tbody>
                                        <tr>
                                            <td rowspan="10" align="right">
                                                <img ng-src="[[ clothing.product_type|measure_img:clothing.item_long:clothing.pattern ]]" id="measure_img" style="height: auto;">
                                            </td>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure1" name="measure[1]" ng-model="measure[1]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure2" name="measure[2]" ng-model="measure[2]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure3" name="measure[3]" ng-model="measure[3]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure4" name="measure[4]" ng-model="measure[4]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure5" name="measure[5]" ng-model="measure[5]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure6" name="measure[6]" ng-model="measure[6]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure7" name="measure[7]" ng-model="measure[7]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure8" name="measure[8]" ng-model="measure[8]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure9" name="measure[9]" ng-model="measure[9]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="measure10" name="measure[10]" ng-model="measure[10]">
                                                    <span class="input-group-addon">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer planabtn">
                            <a type="submit" class="btn btn-info" ng-click="update('size_type_major','size','measure');">確認更改</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_size -->

            <!-- modal_price -->
            <div class="modal fade" id='edit_price'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯價格</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="upload-direction">
                                <h3>設定價格</h3>
                                <p>原始價格以及定價，建議您設定的價格是原價的2折，請勿超過4折，如何定價？<a href="#">看影片就對了！</a>。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_original_price"><u>原始價格</u></label>
                                <p>$ [[clothing.product_original_price]] </p>
                                </select>
                                <p>建議價商品定價為：<font class="red">$800</font> </p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_sell_price"><u>定價</u></label>
                                <div class="input-group" style="width:120px;">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="product_sell_price" maxlength="20" ng-model="product_sell_price" name="product_sell_price">
                                </div>
                                <div class="planaex">建議是原價的2折，並包含平均運費。</div>
                            </div>
                          </form>
                            <div class="modal-footer planabtn">
                                <button type="submit" class="btn btn-info" ng-click="update('product_sell_price');">確認更改</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_prize -->

            <!-- modal_style -->
            <div class="modal fade" id='edit_style'>
                <div class="modal-dialog">
                    <div class="modal-content">
                      <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">編輯顏色及風格</h4>
                        </div>
                        <div class="modal-body">
                            <div class='upload-direction'>
                                <h3>選擇顏色以及風格</h3>
                                <p>選擇這件衣服相近的顏色，以及1~3項風格，買家可以更快找到想要的商品，也可以加入GetMore的行銷活動．</p>
                            </div>
                            <div class="form-group upload-direction">
                                <div ng-init="r_color = black" class="selectcolor">
                                    <label for="color"><u>顏色</u><sup>*必填</sup></label>
                                    <div ng-init="color=clothing.color">
                                        <label>
                                            <input type="radio" value="black" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/black.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="white" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/white.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="gray" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/gray.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="red" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/red.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="green" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/green.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="brown" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/brown.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="blue" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/blue.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="orange" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/orange.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="purple" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/purple.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="pink" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/pink.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="yellow" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/yellow.png">
                                        </label>
                                        <label>
                                            <input type="radio" value="color" name="color" ng-model="clothing.color" class="ng-pristine ng-untouched ng-valid">
                                            <img src="/admin/assets/images/colorbox/color.png">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="selectstyle upload-direction">
                                <label for="style"><u>風格</u></label>
                                <div>
                                    {% for index, style in styles %}
                                    <label>
                                        <input type="checkbox" name="style[]" ng-model="r_style[{{ index }}]" class="ng-pristine ng-untouched ng-valid"> {{ style }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="filltag upload-direction">
                                <label for="free_style"><u>自訂風格</u></label>
                                <input type="text" class="form-control" id="free_style" name="free_style"placeholder="請直接輸入並按下ENTER" ng-model="clothing.free_style">
                            </div>
                        </div>
                      </form>  
                        <div class="modal-footer planabtn">
                            <button type="submit" class="btn btn-info" ng-click="update('color','style','free_style');">確認更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal_style -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript">

    $('#measure_table').delegate('input', 'keypress', function(e){
        var keyCode = e.keyCode;

        if((keyCode < 48 || keyCode > 57) && keyCode != 46){
            return false;
        }
    });

    (function(){
        var uploading_count = 0;

        $('#upload_files')
            .bind('hidden.bs.modal', function(e){
                $('div.clothing_view:not([ng-repeat])').remove();

                if($('div.clothing_view', 'div.clothing_view_list').length+1 < 5){
                    $('.add_image').show();
                }
            });

        $('div.clothing_view_list').delegate('a.del_file', 'click', function(e){
            var target = e.target;
            
            if($(target).data('file_id')){
                $.ajax({
                    url: '/restful/marketplace/files/'+$(target).data('file_id'),
                    type: 'DELETE'
                });
            }
            
            $(target).parents('div.clothing_view').remove();
            $('.add_image').removeClass('ng-hide').show();
        });

        $("div.clothing_view_list").sortable();
        $("div.clothing_view_list").disableSelection();

        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /\.(gif|jpe?g|png)$/i,
            maxFileSize: 5000000,
            autoUpload: false,
            done: function (e, data) {
                var img = $('<img class="clothing_view_img">').attr('src', 'http://s3.getmore.cc/clothing/'+data.result[0]+'/medium.jpg');
                var input = $('<input type="hidden" class="file_id">').val(data.result[0]);
                var del_btn = $('<a class="btn btn-danger del_file">').data('file_id', data.result[0]).html('刪除');
                $('i.clothing_loading_icon:first').after(input).after(del_btn).replaceWith(img);
                uploading_count--;
                if(!uploading_count){
                    $('button.cancel', '#upload_files').removeClass('disabled');
                    $('button.submit', '#upload_files').removeClass('disabled');
                }
            },
            add: function (e, data) {
                var file_count = $('div.clothing_view', 'div.clothing_view_list').length+1;
                
                if(file_count <= 5){
                    uploading_count++;

                    if(uploading_count){
                        $('button.cancel', '#upload_files').addClass('disabled');
                        $('button.submit', '#upload_files').addClass('disabled');
                    }

                    data.submit();
                }

                if(file_count >= 5){
                    $('.add_image').hide();
                }
            }
        }).bind('fileuploadsubmit', function(){
            var div = $('<div class="col-xs-6 col-md-3 clothing_view"><div class="thumbnail text-center"><i class="fa fa-spinner fa-spin fa-5x clothing_loading_icon"></i></div></div>');
            
            $('div.clothing_view_list').append(div);
        });
    }());


  $(function() {
    $('.modal').on('show.bs.modal', function (event) {
        //console.log("modal open");
        //$(this).attr('id')); modal id
        var modal_id = $(this).attr('id');
        //console.log(modal_id);
        if (modal_id == "edit_style") {
            //tags input
            var button = $(event.relatedTarget); // Button that triggered the modal
            var old_freeStyle = button.data('fstyle'); // clothing_id
            if (typeof(old_freeStyle) == "string") {
                old_freeStyle = old_freeStyle.split(",");
            }
            var exist_style = {{ free_styles | json_encode() }};
            old_freeStyle = _.pick(exist_style,old_freeStyle);
            //console.log(old_freeStyle);
            //console.log(exist_style);
            exist_style_list = _.values(exist_style);
            $('#free_style').tokenfield({
                autocomplete: {
                    source: exist_style_list,
                    delay: 100,
                    minLength: 1
                },
                showAutocompleteOnFocus: true
            }).on('tokenfield:createtoken', function (event) {
                var existingTokens = $(this).tokenfield('getTokens');
                $.each(existingTokens, function(index, token) {
                    if (token.value === event.attrs.value)
                        event.preventDefault();
                });
            });
            $('#free_style').tokenfield('setTokens', old_freeStyle);
            $('#free_style').parent().keypress(function(e){
                if(e.keyCode === 13) {
                    e.preventDefault();
                }
            });
        }


        //brands
        var availableTags = {{ brands | json_encode() }};
            $("#product_brand").autocomplete({
                source: function(req, responseFn) {
                    var re = $.ui.autocomplete.escapeRegex(req.term);
                    var matcher = new RegExp( "^" + re, "i" );
                    var a = $.grep( availableTags, function(item,index){
                        return matcher.test(item);
                    });
                    responseFn( a );
                }                 
            }).bind('keypress blur', function(e){
                $scope.product_brand = $(this).val();
                if(e.type === 'keypress' && e.keyCode !== 13) return;
                var reg = new RegExp('^'+$(this).val()+'$', "i");
                var brand = _.find(availableTags, function(tag){
                  return reg.test(tag);
                });
                if(e.keyCode == 13){
                    e.preventDefault();
                    var inputs = $(this).closest('form').find(':input:visible');
                    inputs.eq( inputs.index(this)+ 1 ).focus();
                };

                if(brand){
                  $(this).val(brand);
                }
            })
    });
  });

  app
    .controller('ManageController', ['$scope', '$element', 
      function ($scope, $element){
        $scope.clothings = {{ sell_list|json_encode() }};
        
        $scope.delete_clothing = function(clothing_id){
            angular.element('#delete_product').data('clothing_id', clothing_id);
        }

        $scope.confirm_delete = function(){
            var clothing_id = angular.element('#delete_product').data('clothing_id');

            $.ajax({
                url: '/restful/marketplace/'+clothing_id,
                type: 'DELETE'
            }).done(function(){
                $scope.clothing = _.findWhere($scope.clothings, {id: clothing_id});
                $scope.clothings = _.reject($scope.clothings, function(clothing){
                    return clothing.id === clothing_id;
                });
                angular.element('#delete_product').modal('hide');
            }).fail(function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        $scope.getInfo = function(clothing_id){
            $scope.clothing = _.findWhere($scope.clothings, {id: clothing_id});
            
            $scope.product_title = $scope.clothing.product_title;
            $scope.product_sell_price = $scope.clothing.product_sell_price;
            
            $scope.r_style = _.reduce($scope.clothing.style, function(result,key){result[key] = true;return result;},{});

            $scope.measure = JSON.parse($scope.clothing.measure);//decode measure
            
            $scope.files = $scope.clothing.files;
            
            if (!$scope.$$phase) {
                $scope.$apply();
            }
        }

        $('.modal').bind('hidden.bs.modal', function(e){
            $scope.clothing = {};
            $scope.product_title = 0;
            $scope.product_sell_price = 0;
            $scope.r_style = [];
            $scope.measure = '';
            $scope.files = [];

            if (!$scope.$$phase) {
                $scope.$apply();
            }
        });

        $scope.$watch('product_comments', function(newVal, oldVal){
            if(!newVal) {
                $scope.remain_count = 100;
            } 
            else {
                $scope.remain_count = 100 - newVal.length;
            }
        });

        $scope.save_images = function(product_id){
            var files = (function(){
                return _.map($('input.file_id', 'div.clothing_view_list'), function(input){
                    return $(input).val();
                });
            }());

            $.ajax({
                type: "PUT",
                url: "/restful/marketplace/"+product_id,
                datatype: "json",
                data: {data: JSON.stringify({files: files})},
                success: function(response){
                    $scope.clothing.files = files;
                    if (!$scope.$$phase) {
                        $scope.$apply();
                    }
                    $('#upload_files').modal('toggle');
                }
            });
        }

        $scope.add_image = function(){
            $('#fileupload').click();
        }

        $scope.delete_image = function(file_id){
            $scope.files = _.without($scope.files, file_id);
            delete_images.push(file_id);
            if (!$scope.$$phase) {
                $scope.$apply();
            }
        }

        $scope.set_onself = function (clothing_id){
            $scope.clothing = _.findWhere($scope.clothings, {id: clothing_id});

            $scope.clothing.on_shelf = !$scope.clothing.on_shelf;

            if($scope.clothing.on_shelf){
                $scope.clothing.lock_status = 0;
            }
            else {
                $scope.clothing.lock_status = 5;
            }
            
            var on_shelf = { "on_shelf" : $scope.clothing.on_shelf, "lock_status": $scope.clothing.lock_status };
            
            $.ajax({
                type: "PUT",
                url: "/restful/marketplace/"+$scope.clothing.id,
                datatype: "json",
                data: {data: JSON.stringify(on_shelf)},
                success: function(response){
                    if ($scope.clothing.on_shelf){
                        alert("商品已上架!");
                    } else {
                        alert("商品已下架!");
                    }
                }
            });
        }

        $scope.update = function (){
            var argToArray = _.toArray(arguments);
            
            if(_.contains(argToArray,"free_style")) {
                $scope.clothing.style = (_.reduce($scope.r_style, function(memo, value, key){ if (value == true) {memo.push(key)}; return memo; }, [])).toString();
                $scope.clothing.free_style = $scope.clothing.free_style.toString();

                $.ajax({
                    type: "POST",
                    url: "/restful/free_style",
                    datatype: "json",
                    data: {data: $scope.clothing.free_style},
                    success: function(response){
                        //console.log(response);
                        var fstyle_idx = _.keys(_.indexBy(response, 'id'));
                        $scope.clothing.free_style = fstyle_idx.toString();
                        // console.log($scope.clothing.free_style);
                        // console.log({data: JSON.stringify(_.pick.apply(this, argToArray))});
                        update_ajax();
                        //console.log(_.contains(argToArray,"free_style"));
                        if(_.contains(argToArray,"free_style")) {
                            location.reload();
                        }
                    }
                });
            } else if (_.contains(argToArray,"product_comments")) {
                $scope.clothing.product_title = $scope.product_title;
                if ($scope.clothing.product_title == "") {
                    alert("商品標題請勿空白");
                } else if ($scope.clothing.product_brand == "") {
                    alert("商品品牌請勿空白");
                } else if ($scope.clothing.product_comments == "") {
                    alert("商品敘述請勿空白");
                } else {
                    update_ajax();
                }
            } else if (_.contains(argToArray,"product_sell_price")) {
                $scope.clothing.product_sell_price = $scope.product_sell_price;
                if ($scope.clothing.product_sell_price == "") {
                    alert("金額請勿空白");
                } else {
                    update_ajax();
                }
            } else if (_.contains(argToArray,"size")) {
                $scope.clothing.measure = JSON.stringify($scope.measure);
                
                update_ajax();
            }

            function update_ajax() {
                argToArray.unshift($scope.clothing);
                console.log({data: JSON.stringify(_.pick.apply(this, argToArray))});
                $.ajax({
                    type: "PUT",
                    url: "/restful/marketplace/"+$scope.clothing.id,
                    datatype: "json",
                    data: {data: JSON.stringify(_.pick.apply(this, argToArray))},
                    success: function(response){
                        alert("修改成功");
                    },
                    complete: function(){
                        $('.modal').modal('hide');
                    }
                });
            }
        }
      }
    ]);

</script>
{% endblock %}