{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.modal-backdrop{
  z-index: 0 !important;
}
.col-254 {
    padding-right: 10px;
    padding-top:65px;
}
.col-726{
    padding-right: 0;
}
a{
    color: #687E84;
}
.ordertitle{
    display: inline-block;
    font-size: 10px;
}
.ordertitle-productid{
    width: 120px;
}
.ordertitle-img{
    width: 243px;
}
.ordertitle-buyer{
    width: 80px;
}
.ordertitle-pcs{
    width: 60px;
}
.ordertitle-total{
    width: 50px;
}
.ordertitle-date{
    width: 110px;
}
.orderlist-content{
    overflow: auto;
}
.orderlist-img{
    width: 50px;
    display: inline-block;
    margin-right: 5px;
}
.orderlist-box{
    margin-bottom: 10px;
}

.orderlist-detail{
    width: 400px;
    float: left;
    padding: 0 20px; 
    font-size: 10px;
    color:#333;
}

.orderlist-detail-img{
    float: left;
    margin-right: 10px;
    width: 55px;
}
.orderlist-detail-info{
    float: left;
    width: 168px;
}
.orderlist-detail-return{
  float:left;
  padding:30px;
}
.orderlist-detail-product{
    border-bottom: 1px solid #bbb;
    overflow: auto;
    padding: 10px 0;
}
.orderlist-control{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}
.orderlist-status{
    font-size: 16px;
    color: #1fa0ae;
    font-weight: bold;
    padding: 6px 0 6px 20px;
    width: 280px;
}
.orderlist-note{
    font-size: 16px;
    padding: 6px 0 6px 20px;
    width: 360px;
    margin: 0 20px;
}
.orderlist-btnarea{
    width: 360px;
    margin: 0 20px;
}
.orderlist-info{
    margin-top: 10px;
    width: 280px;
    float: left;
    padding: 0 20px;
    font-size: 14px;
    color:#333;
}
.orderlist-info-btn{
    margin-bottom: 10px;
}
.orderlist-info-date{
    margin-bottom: 5px;
}
.orderlist-info-nunber{
    margin-bottom: 5px;
}
.orderlist-info-seller{
    margin-bottom: 5px;
}
.orderlist-info-whobuy{
    margin-bottom: 5px;
}
.orderlist-info-buyphone{
    margin-bottom: 5px;
}
.orderlist-info-to{
    margin-bottom: 5px;
}
.orderlist-info-phone{
    margin-bottom: 5px;
}
.orderlist-info-address{
    margin-bottom: 5px;
}
.orderlist-info-paystatus{
    margin-bottom: 5px;
}
.orderlist-info-tracking{
    margin-bottom: 5px;
}
</style>
{% endblock %}

{% block body %}
<div>
    <div class='col-254'>
        {% include '/marketplace/sell_manage_sidebar.html.twig' %}       
    </div>
	<div class="col-726">
	    <div class="rightcol fontp15">
	        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	          <div class="panel panel-default">  
	            <div class="panel-heading">
	                <div class="panel-title ordertitle ordertitle-productid">訂單編號 </div> 
	                <div class="panel-title ordertitle ordertitle-img">商品</div>  
	                <div class="panel-title ordertitle ordertitle-buyer">購買人 </div> 
	                <div class="panel-title ordertitle ordertitle-pcs">訂購件數</div>  
	                <div class="panel-title ordertitle ordertitle-total">金額</div>
	                <div class="panel-title ordertitle ordertitle-date">訂購時間</div>
	            </div>
	          </div>
	          {% for sub_order_list in sub_order_lists %}
	          	<div class="panel panel-default">
	          		<div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true" aria-controls="{{ sub_order_list.sub_order_number }}">
	          			<div class="panel-title ordertitle ordertitle-productid">
	          				<a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true" aria-controls="{{ sub_order_list.sub_order_number }}">
	                  			{{ sub_order_list.sub_order_number }}
	                		</a>
	          			</div>
	          			<div class="panel-title ordertitle ordertitle-img">
	          				<a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true"	aria-controls="{{ sub_order_list.sub_order_number }}">
                            	<img src={{ sub_order_list.products[0].files[0]|s3_url() }} class="orderlist-img">
                            </a>
                            {% if sub_order_list.items_count > 1 %}
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true"	aria-controls="{{ sub_order_list.sub_order_number }}">
                            	<img src={{ sub_order_list.products[1].files[0]|s3_url() }} class="orderlist-img">
                            </a>
                            {% endif %}
                            {% if sub_order_list.items_count > 2 %}
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true"	aria-controls="{{ sub_order_list.sub_order_number }}">
                            	<img src="{{ sub_order_list.products[2].files[0]|s3_url() }}" class="orderlist-img">
                            </a>
                            {% endif %}
	          			</div>
	          			<div class="panel-title ordertitle ordertitle-buyer">
	                		<a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true"	aria-controls="{{ sub_order_list.sub_order_number }}">
	                  			{{ sub_order_list.BuyOrder.buyer_name }}
	                		</a>
	              		</div>
	              		<div class="panel-title ordertitle ordertitle-pcs">
			                <a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true" aria-controls="{{ sub_order_list.sub_order_number }}">
			                  	{{ sub_order_list.items_count }}件
			                </a>
			            </div>
			            <div class="panel-title ordertitle ordertitle-total">
			                <a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true" aria-controls="test">
			                	{{ sub_order_list.total_price }}
			                </a>
			              </div>
			            <div class="panel-title ordertitle ordertitle-date">
			                <a data-toggle="collapse" data-parent="#accordion" href="#{{ sub_order_list.sub_order_number }}" aria-expanded="true" aria-controls="{{ sub_order_list.sub_order_number }}">
			                	{{ sub_order_list.BuyOrder.created_at|date('Y-m-d H:i') }}
			                </a>
			            </div>
	          		</div>

	          		<!--toggle field-->
	          		<div id="{{ sub_order_list.sub_order_number }}" class="panel-collapse collapse {% if sub_order_list.sub_order_number == sub_order_lists[0].sub_order_number %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
	          			<div class="panel-body orderlist-box">
	                		<div class="orderlist-control">
			                	{% if orderlist_url == 1 %}
			                		<div class="orderlist-status pull-left">
				                    	<span>狀態：買家下訂尚未付款</span>
				                    </div>
				                    <div class="orderlist-note pull-left">
				                        <span>尚未付款，請勿出貨</span>
				                    </div>
			                	{% elseif orderlist_url == 2 %}
				                    <div class="orderlist-status pull-left">
				                    	<span>狀態：等待出貨</span>
				                    </div>
				                    <div class="orderlist-note pull-left">
				                        <a id="shipping_number_btn" class="btn btn-primary" data-toggle="modal" data-target="#edit_shipping_number" data-id="{{ sub_order_list.id }}">已出貨，輸入托運編號</a>
				                    </div>
				                {% elseif orderlist_url == 3 %}
				                	<div class="orderlist-status pull-left">
				                		<span>狀態：已經出貨</span>
				                	</div>
		                    		<div class="orderlist-note pull-left">
		                        		<span>買家收貨中（<a href="#">什麼時候會入帳？</a>）</span>
		                    		</div>
				                {% elseif orderlist_url == 4 %}
				                	<div class="orderlist-status pull-left">
				                		<span>狀態：已經到貨</span>
				                	</div>
		                    		<div class="orderlist-note pull-left">
		                        		<span>買家已經收到貨（<a href="#">什麼時候會入帳？</a>）</span>
		                    		</div>
				                {% elseif orderlist_url == 4.5 %}
				                	<div class="orderlist-status pull-left">
				                		<span>狀態：異常訂單</span>
				                	</div>
		                    		<div class="orderlist-note pull-left">
		                        		<span>此訂單可能有退貨必須處理（<a href="#">如何處理退貨</a>）</span>
		                    		</div>
				                {% elseif orderlist_url == 5 %}
				                	<div class="orderlist-status pull-left">
				                		<span>狀態：訂單已完成</span>
				                	</div>
		                    		<div class="orderlist-btnarea pull-left">
		                        		<a class="btn btn-primary" data-toggle="modal" data-target="#edit_comments">給買家評價</a>
				                    </div>
				                {% elseif orderlist_url == 6 %}
				                	<div class="orderlist-status pull-left">
				                    	<span>狀態：買家退貨整筆訂單</span>
				                    </div>
				                    <div class="orderlist-note pull-left">
				                        <span>買家退貨</span>
				                    </div>
				                {% elseif orderlist_url == -2 %}
				                	<div class="orderlist-status pull-left">
				                    	<span>狀態：訂單取消</span>
				                    </div>
				                    <div class="orderlist-note pull-left">
				                        <span>商品找不到</span>
				                    </div>
				                {% elseif orderlist_url == -1 %}
				                	<div class="orderlist-status pull-left">
				                		<span>狀態：訂單過期</span>
				                	</div>
		                    		<div class="orderlist-note pull-left">
		                        		<span>買家未在期限內匯款，訂單自動取消</span>
				                    </div>
			                    {% endif %}
			                </div>
		                	<div class="orderlist-content">
		                		{% if orderlist_url <= 1 %}
		                			<div class="orderlist-info">
				                        <div class="orderlist-info-btn">
				                        	{% if orderlist_url == 1 %}
				                        		<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#userpostmsg">聯絡買家</a>&nbsp;
				                        	{% endif %}
				                        	{{ post_user_message_modal( sub_order_list.BuyOrder.user_id, current_url() ) }}
				                        </div>
				                        <div class="orderlist-info-date">
				                        	{{ sub_order_list.BuyOrder.created_at|date('Y-m-d H:i') }}
				                        </div>
				                        <div class="orderlist-info-nunber">
				                        	訂單編號：{{ sub_order_list.sub_order_number }}
				                        </div>
				                        <div class="orderlist-info-whobuy">
				                        	購買人：{{ sub_order_list.BuyOrder.buyer_name }}
				                        </div>
				                        <div class="orderlist-info-seller">
				                        	賣家：{{ sub_order_list.User.user_name }}
				                        </div>
				                        <div class="orderlist-info-paystatus">
				                        	付款狀態：未付款
				                        </div>
			                    	</div>
		                		{% elseif orderlist_url > 1 %}                
			                    	<div class="orderlist-info">
				                        <div class="orderlist-info-btn">
			                        		<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#message">聯絡買家</a>&nbsp;
			                        		<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#edit_comments">給買家評價</a>
				                        </div>
				                        <div class="orderlist-info-date">
				                        	{{ sub_order_list.BuyOrder.created_at|date('Y-m-d H:i') }}
				                        </div>
				                        <div class="orderlist-info-nunber">
				                        	訂單編號：{{ sub_order_list.sub_order_number }}
				                        </div>
				                        <div class="orderlist-info-whobuy">
				                        	購買人：{{ sub_order_list.BuyOrder.buyer_name }}
				                        </div>
				                        <div class="orderlist-info-buyphone">
				                        	購買人電話：{{ sub_order_list.BuyOrder.buyer_phone_number }}
				                        </div>
				                        <div class="orderlist-info-seller">
				                        	賣家：{{ sub_order_list.User.user_name }}
				                        </div>
				                        <div class="orderlist-info-to">
				                        	收件人：{{ sub_order_list.BuyOrder.receiver_name }}
				                        </div>
				                        <div class="orderlist-info-phone">
				                        	收件人電話：{{ sub_order_list.BuyOrder.receiver_phone_number }}
				                        </div>
				                        <div class="orderlist-info-address">
				                        	收件地址：{{ sub_order_list.BuyOrder.receiver_address }}
				                        </div>
				                        <div class="orderlist-info-paystatus">
				                        	{% if sub_order_list.status >= 2 %}付款狀態：已付款
				                        	{% else %}付款狀態：未付款
				                        	{% endif %}
				                        </div>
				                        {% if orderlist_url > 2 %}
					                        <div class="orderlist-info-tracking">
					                        	追蹤碼：{{ sub_order_list.shipping_number }}（{{ sub_order_list.shipped_at|date('Y-m-d H:i') }} 填入）
					                        </div>
				                        {% endif %}
			                    	</div>
		                    	{% endif %}
		                    	<div class="orderlist-detail">
			                    	{% for clothing in sub_order_list.products %}
				                        <div class="orderlist-detail-product">
				                            <div class="orderlist-detail-img">
				                                <img src={{ clothing.files[0]|s3_url() }} class="orderlist-img">
				                            </div>
				                            <div class="orderlist-detail-info">
				                                <div>商品名稱：<a href="/clothing/marketplace/{{ clothing.id }}">{{ clothing.product_title }}</a></div>
				                                <div>商品編號：<a href="/clothing/marketplace/{{ clothing.id }}">{{ clothing.product_item_number }}</a></div>
				                                <div>商品金額：{{ clothing.product_sell_price }}</div>
				                            </div>
				                            {% if (orderlist_url == 4.5) and (clothing.returns == 1) %}
					                            <div class="orderlist-detail-return">
					                              <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#return" data-id="{{ sub_order_list.id }}" data-item="{{ clothing.product_item_number }}">買家退貨</a>
					                            </div>
					                        {% elseif (orderlist_url == 5) and (clothing.returns == 1) %}
					                        	<div class="orderlist-detail-return">
					                              <a class="btn btn-default btn-xs" herf="#">已退貨</a>
					                            </div>
					                        {% endif %}
				                        </div>
				                    {% endfor %}
				                </div>
		                    </div>
		                </div>
	                </div><!-- end toggle-->
	          	</div>
	          {% endfor %}
	        </div>

	        <!-- edit shopping number -->
            <div class="modal fade ajax-modal" id="edit_shipping_number">
              <div class="modal-dialog">
                <div class="modal-content">
                  	<div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title">通知賣家已出貨</h4>
                  	</div>
                  	<div class="modal-body">
                    	<label >追蹤號碼</label>
		                <input type="text" id='shipping_number' class="form-control" name='shipping_number' placeholder="例 黑貓宅急便：9879999883">
		                <p class="help-block" style="font-size:10px;">請輸入您郵局或宅配所提供的追蹤號碼，確認後訂單狀態轉為已出貨。<br />輸入時請在前方加上寄送方式，以方便買家追蹤貨況。</p>
		                {{ sub_order_list.sub_order_number }}
		            </div>
		            <div class="modal-footer text-center">
		                <button class="btn btn-primary submit-btn" id="ship_btn">確定</button> &nbsp;&nbsp;
		                <button class="btn btn-primary close-modal" >取消</button>
                  	</div>
                </div>
              </div>
            </div><!-- /.modal_shipping_number -->

           	<!-- edit comments -->
            <div class="modal fade" id="edit_comments">
              <div class="modal-dialog">
                <div class="modal-content">
                  	<div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title">對買家的評價</h4>
                  	</div>
                  	<div class="modal-body">
                    	<label >寫下評價</label>
		                <input type="text">
		                <p class="help-block" style="font-size:10px;">
		                請輸入您對買家的評價</p>
		            </div>
		            <div class="modal-footer text-center">
		                <button type="submit" class="btn btn-primary" >確定</button> &nbsp;&nbsp;
		                <button class="btn btn-primary close-modal" >取消</button>
                  	</div>
                </div>
              </div>
            </div><!-- /.modal_comments -->

           	<!-- send message -->
            <div class="modal fade" id="message">
              <div class="modal-dialog">
                <div class="modal-content">
                  	<div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title">留言給買家</h4>
                  	</div>
                  	<div class="modal-body">
                    	<label >留言</label>
		                <input type="text">
		                <p class="help-block" style="font-size:10px;">
		                請輸入您要留給買家的話</p>
		            </div>
		            <div class="modal-footer text-center">
		                <button type="submit" class="btn btn-primary" >確定</button> &nbsp;&nbsp;
		                <button class="btn btn-primary close-modal" >取消</button>
                  	</div>
                </div>
              </div>
            </div><!-- /.modal_message -->

			<!-- return-->
			<div class="modal fade ajax-modal" id="return">
			  <div class="modal-dialog" style="width:500px;">
			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<h4 class="modal-title">買家退貨</h4>
			      	</div>
			      	<div class="modal-body">
			            <div class="form-group">
			              	<label for="reason">選擇退貨原因</label>
			                <select class="form-control" name="reason">
			                	<option value="0"> </option>
			                  	<option value="1">1</option>
			                  	<option value="2">2</option>
			                  	<option value="3">3</option>
			                  	<option value="4">4</option>
		                  		<option value="5">5</option>
		                	</select>
			                <p class="help-block" style="font-size:10px;">請確認退貨商品無誤，並選擇退貨原因</p>
			            </div>
			            <div class="text-center">
			                <button class="btn btn-primary submit-btn" id="return_btn">確定</button> &nbsp;&nbsp;
			                <button class="btn btn-primary close-modal" >取消</button>
			            </div>
			      	</div>
			      	<div class="modal-footer">
			        	<p class="announcement"><a href="#" target="_blank">如何處理退貨？</a></p>
			      	</div>
			    </div>
			  </div>
			</div><!--/.modal_return-->
	    </div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script>
	$(function(){
		$('.ajax-modal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget); // Button that triggered the modal
			var id = button.data('id');
			var product_item_number = button.data('item');
			var modal = $(this);
			//$(this).find('.modal-body input').val(sipping_num);

			// modal.find('.modal-body input').bind('keypress',function(){
			// 	console.log($(this).val());
			// });
			$('.submit-btn').click(function(){
				if ($(this).attr('id')=="ship_btn"){
					var shipping_num = modal.find('.modal-body input').val();
					if (shipping_num == ""){
						alert("請輸入追蹤號碼");
						$(this).off("click");
					} else {
						var data = {
							"shipping_number": shipping_num,
							"status": 3
						};
						update_date();
					}
				} else if ($(this).attr('id')=="return_btn") {
					var reason = modal.find('.modal-body select').val();
					if (reason == "0"){
						alert("請選擇退貨原因");
						$(this).off("click");
					} else {
						var data = {
							"product": {
								"product_item_number": product_item_number,
								"reason": reason
							}
						};
						update_date();
					}
				}

				function update_date(){
					$.ajax({
			            type: "PUT",
			            url: "/restful/sub_order/"+id,
			            datatype: "json",
			            data: {data: JSON.stringify(data)},
			            success: function(response){
			            	if ($(this).attr('id')=="ship_btn"){
				              	alert("訂單已出貨，請至已出貨訂單中查看！");
			            	} else if ($(this).attr('id')=="return_btn") {
			            		alert("退貨原因已記錄");
			            	}
			            },
			            complete: function(){
			              	location.reload();
			            }
			        });
			    }
			});

			$('.close-modal').click(function(){
				modal.modal('hide');
			});
		});
	});
</script>
<script>
          $('#post_submit').click(function(event){
            event.preventDefault();
            var actionUrl = "/restful/post";

            var tempData, i , tempReceiver;
            tempReceiver = $( '#owner_id' ).val();
            //$( '#receiver' ).val( "999" );
            var tempData = $( '#message_post' ).serialize();
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// check content
   var message_title = ($('#message_title').val()).replace(/\s/gm,'');
   var message_content = ($('#message_content').val()).replace(/\s/gm,'');
   document.getElementById("message_title").style.background = ( message_title == "" ) ? "#FFFFCC" : "#FFFFFF";
   document.getElementById("message_content").style.background = ( message_content == "" ) ? "#FFFFCC" : "#FFFFFF";

   var alert_message = "系統偵測到可能是私下交易的文字。為了交易安全以及平台的權益，嚴禁私下交易喔！";
   
   var re = /[0-9]{6,}|電話|私下交易|面交|手續費|[零一二三四五六七八九]{6,}|[零壹貳參肆伍陸柒捌玖]{6,}|直接跟你買|直接聯絡|傳真|e[-]{0,1}mail|E[-]{0,1}mail|Line|line|一手交錢一手交貨|歡迎來店選購/;
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }

   re =/^([a-z0-9_\.-]+\@[\da-z\.-]+\.[a-z\.]{2,6})$/gm; // mail
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
            var formData;
                formData = new FormData(document.getElementById("message_post"));

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    dataType: 'json'
                }).done(function(post){
                    formData.append("post_id", post['_id']);

                    $.ajax({
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: "/restful/post/message",
                        data: formData,
                        dataType: 'json'
                    }).done(function(post){
                        $.ajax({
                            type: 'POST',
                            url: '/post/change_message_value',
                            data: {post_id: post['post_id'], read: 'true'},
                            dataType: 'json'
                         });
                        console.log("success");
                        location.reload();
                        // form.reset();
                        // var html = message_template(post);
                        // $(form).before(html);
                    }).fail(function(error){
                        console.log(error);
                    });

                    console.log();
                }).error(function(){
                    console.log("error");
                });
          });
        </script>
{% endblock %}