<style>
.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.console-sidebar{
    border-radius:4px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #006699;
    border-color: #006699;
}
.list-group-item{
    border-radius: 0px !important; 
    border-radius: 0px !important; 
    border: 0px;
    background: #f5fffa;
}

.list_content {
    font-size:10px;
    border: 0px;
    background: #f5fffa;
}

.list-group-item-title{
    font-weight: bold;
    border: 0px;
    background: #f5fffa;
}
.list-group-item-sub{
    padding: 5px 30px;
    border: 0px;
    background: #f5fffa;
}
.sidebar-box{
    margin-bottom: 15px;
}
</style>
<div class="list-group">

    <div class="product_btn">
        <div class="list_title">
            <a class="list-group-item">商品管理</a>
        </div>
        <div class="list_content" style = "display: none;">
            <div class="list-group-item">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class = "{% if page_url == 'manage' %}active{% endif %}"><a href="/marketplace/manage">
                        上架二手衣
                    </a></li>
                    <li class = "{% if page_url == 'sell_clothing_management' %}active{% endif %}"><a href="/marketplace/sell_clothing_management">
                        修改已上架資訊
                    </a></li>
                    <li class = "{% if page_url == 'trade_rule' %}active{% endif %}"><a href="/marketplace/trade_rule">
                        設定交易政策
                    </a><li>
                    <li><a href="#">
                        宣傳我的衣櫃
                    </a></li>
                    <li><a href="#">
                        加入賣家的社群
                    </a></li>
                    <li><a href="#">
                        賣家規範
                    </a></li>
                    <li><a href="#">
                        賣家Q&A
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="order_btn">
        <div class="list_title"> 
            <a class="list-group-item">訂單管理</a>
        </div>
        <div class="list_content">
            <div class="list-group-item" >
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class="{% if orderlist_url == '1' %}active{% endif %}"><a href="/marketplace/orderlist/1">
                        待付款訂單
                    </a></li>
                    <li class="{% if orderlist_url == '2' %}active{% endif %}"><a href="/marketplace/orderlist/2">
                        待出貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '3' %}active{% endif %}"><a href="/marketplace/orderlist/3">
                        已出貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '4' %}active{% endif %}"><a href="/marketplace/orderlist/4">
                        已到貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '4.5' %}active{% endif %}"><a href="/marketplace/orderlist/4.5">
                        異常訂單
                    </a></li>
                    <li class="{% if orderlist_url == '5' %}active{% endif %}"><a href="/marketplace/orderlist/5">
                        已完成訂單
                    </a></li>
                    <li class="{% if orderlist_url == '6' %}active{% endif %}"><a href="/marketplace/orderlist/6">
                        已退貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '-2' %}active{% endif %}"><a href="/marketplace/orderlist/-2">
                        取消的訂單
                    <li></a>
                    <li class="{% if orderlist_url == '-1' %}active{% endif %}"><a href="/marketplace/orderlist/-1">
                        過期的訂單
                    </a></li>
                    <li><a href="#" class="">
                        訂單相關說明
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <hr>
    <div class="contactus">
        <p> Contact us
            <br> service@getmore.cc </p>
    </div>


<script type="text/javascript">

    $(document).ready(function () {
        //$(".list_content").hide();
        if ($(".product_btn").children(".list_content").children(".list-group-item").children(".nav-pills").children("li").hasClass("active")) {
            $(".product_btn").children(".list_content").show();
            $(".product_btn").children(".list_content").addClass("list_opening");
        } else {
            $(".order_btn").children(".list_content").show();
            $(".order_btn").children(".list_content").addClass("list_opening");
        }

        $(".list_title").click(function(){
            if ($(this).parent().children(".list_content").hasClass("list_opening")) {
                $(this).parent().children(".list_content").hide();
                $(this).parent().children(".list_content").removeClass("list_opening");
            } else {
                $(this).parent().children(".list_content").show();
                $(this).parent().children(".list_content").addClass("list_opening");
            }
        });

    });
</script>