<style>
.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.console-sidebar{
    border-radius:4px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #006699;
    border-color: #006699;
}
.list-group-item{
    border-radius: 0px !important; 
    border-radius: 0px !important; 
    border: 0px;
    background: #f5fffa;
}

.list_content {
    font-size:10px;
    border: 0px;
    background: #f5fffa;
}

.list-group-item-title{
    font-weight: bold;
    border: 0px;
    background: #f5fffa;
}
.list-group-item-sub{
    padding: 5px 30px;
    border: 0px;
    background: #f5fffa;
}
.sidebar-box{
    margin-bottom: 15px;
}
.nav>li>a{
    padding:5px 15px;
}
.list-groupformenu{
  padding-bottom: 30px;
  background-color: #f5fffa;
}
</style>
<div class="list-group list-groupformenu">
    <div class="order_btn">
        <div class="list_title"> 
            <a class="list-group-item"><strong>訂單管理</strong></a>
        </div>
        <div class="list_content" style = "display:none;">
            <div class="list-group-item" >
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class="{% if orderlist_url == '1' %}active{% endif %}"><a href="/marketplace/orderlist/1">
                        待付款訂單
                    </a></li>
                    <li class="{% if orderlist_url == '2' %}active{% endif %}"><a href="/marketplace/orderlist/2">
                        待出貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '3' %}active{% endif %}"><a href="/marketplace/orderlist/3">
                        已出貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '4' %}active{% endif %}"><a href="/marketplace/orderlist/4">
                        已到貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '4.5' %}active{% endif %}"><a href="/marketplace/orderlist/4.5">
                        異常訂單
                    </a></li>
                    <li class="{% if orderlist_url == '5' %}active{% endif %}"><a href="/marketplace/orderlist/5">
                        已完成訂單
                    </a></li>
                    <li class="{% if orderlist_url == '6' %}active{% endif %}"><a href="/marketplace/orderlist/6">
                        已退貨訂單
                    </a></li>
                    <li class="{% if orderlist_url == '-2' %}active{% endif %}"><a href="/marketplace/orderlist/-2">
                        取消的訂單
                    <li></a>
                    <li class="{% if orderlist_url == '-1' %}active{% endif %}"><a href="/marketplace/orderlist/-1">
                        過期的訂單
                    </a></li>
                    <li><a href="http://support.getmore.cc/?p=670" target="_blank">
                        訂單相關說明
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product_btn">
        <div class="list_title">
            <a class="list-group-item"><strong>商品管理</strong></a>
        </div>
        <div class="list_content" style = "display:none;">
            <div class="list-group-item">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class = "{% if page_url == 'manage' %}active{% endif %}"><a href="/marketplace/manage">
                        上架二手衣
                    </a></li>
                    <li class = "{% if page_url == 'sell_clothing_management' %}active{% endif %}">
                        <a href="/marketplace/sell_clothing_management">
                        修改已上架資訊
                        </a>
                    </li>
                    <li class="{% if page_url == 'in_business' %}active{% endif %}">
                        <a href="/marketplace/in_business">
                            交易商品列表
                        </a>
                    </li>
                    <li><a href="http://support.getmore.cc/?p=389" target="_blank">
                        賣家規範
                    </a></li>
                    <li><a href="http://support.getmore.cc/faq/aseller/" target="_blank">
                        賣家Q&A
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="closet_btn">
        <div class="list_title">
            <a class="list-group-item"><strong>市集相關設定</strong></a>
        </div>
        <div class="list_content" style = "display: none;">
            <div class="list-group-item">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class = "{% if page_url == 'closet_settings' %}active{% endif %}">
                        <a href="/marketplace/closet_settings">
                            衣櫃基本設定
                        </a>
                    </li>
                    <li class = "{% if page_url == 'bank_info' %}active{% endif %}">
                        <a href="/marketplace/bank_info">
                            匯款帳戶資料
                        </a>
                    </li>
                    <li class = "{% if page_url == 'invoice_info' %}active{% endif %}">
                        <a href="/marketplace/invoice_info">
                            設定發票資訊
                        </a>
                    <li>
                    <li class = "{% if page_url == 'trade_rule' %}active{% endif %}">
                        <a href="/marketplace/trade_rule">
                            設定交易政策
                        </a>
                    <li>
                    <li>
                        <a href="https://www.facebook.com/groups/359240690948241/" target="_blank">
                            加入賣家的秘密社群
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <hr>
    <div class="contactus">
        <p> Contact us
            <br> service@getmore.cc </p>
    </div>


<script type="text/javascript">

    if($('li.active', '.product_btn').length){
        $('.list_content').hide();
        $('.list_content', '.product_btn').show();
    }
    else if($('li.active', '.order_btn').length){
        $('.list_content').hide();
        $('.list_content', '.order_btn').show();
    }
    else {
        $('.list_content').hide();
        $('.list_content', '.closet_btn').show();
    }
    
    $('.list_title').bind('click', function(e){
        $('.list_content', $(this).parent()).toggle();
    });
</script>

