{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

img {
    max-width: 100%;
}

div.signboard_preview,div.profile_preview {
    position: relative;
}

.masker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.7;
}

.img_loading {
    color: white;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -36.5px;
}
</style>
{% endblock %}

{% block body %}
<div class='col-254'>
    {% include '/marketplace/sell_manage_sidebar.html.twig' %}       
</div>
<div class='col-726'>
    <div class="member_order_list_title">
        <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;衣櫃基本設定</h3>
    </div>
    <div class="certifycontainer">
        <form action="" method="post" class="form-horizontal container-fluid" style="margin-top: 10px;" enctype="multipart/form-data">
            <div class="upload-direction">
                <label><u>衣櫃招牌</u></label>
                {% if closet.banner_photo_file_id %}
                <div class="signboard_preview">
                    <img class="signboard" src="http://s3.getmore.cc/signboard/{{ closet.banner_photo_file_id }}.jpg">
                    <div class="masker"></div>
                    <i class="fa fa-spinner fa-5x img_loading fa-pulse"></i>
                    <script type="text/javascript">
                        $('img.signboard').one('load', function(){
                            setTimeout(function(){
                                var src = $('img.signboard').attr('src').replace(/s3.getmore.cc/, 'getmore.s3.amazonaws.com');
                                $('img.signboard').attr('src', src+'?'+Math.random());
                                $('img.signboard').one('load', function(){
                                    $('div.masker, i.img_loading', $('div.signboard_preview')).remove();
                                });
                            }, 2000);
                        });
                    </script>
                </div>
                {% endif %}
                <p>請上傳一張 720 X 300以上 (等比例)照片，招牌是您衣櫃的門面。</p>
                <input id="signboard_file" type="file" name="closet[signboard]">
                <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
            </div>
            <div class="upload-direction" style="overflow: auto;">
                <div class="pull-left" style="width: 50%;">
                    <label><u>個人大頭貼上傳</u></label>
                    <p>請上傳一張 180 X 180以上(等比例)照片。</p>
                    <input id="personal_photo" type="file" name="closet[profile]">
                    <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
                </div>
                {% if closet.profile_photo_file_id %}
                <div class="pull-left profile_preview" style="width: 50%;">
                    <img class="profile" src="http://s3.getmore.cc/profile/{{ closet.profile_photo_file_id }}/medium.jpg">
                    <div class="masker"></div>
                    <i class="fa fa-spinner fa-5x img_loading fa-pulse"></i>
                    <script type="text/javascript">
                        $('img.profile').one('load', function(){
                            setTimeout(function(){
                                var src = $('img.profile').attr('src').replace(/s3.getmore.cc/, 'getmore.s3.amazonaws.com');
                                $('img.profile').attr('src', src+'?'+Math.random());
                                $('img.profile').one('load', function(){
                                    $('div.masker, i.img_loading', $('div.profile_preview')).remove();
                                });
                            }, 2000);
                        });
                    </script>
                </div>
                {% endif %}
            </div>
            <hr />
            <div class="upload-direction">
                <label><u>衣櫃名稱</u></label>
                <p>您可自行設定您的衣櫃名稱</p>
                <input type="text" name="closet[title]" class="form-control input-area" value="{{ closet.title }}">
            </div>
            <div class="upload-direction">
                <label><u>衣櫃介紹</u></label>
                <p>請輸入您的衣櫃介紹，建立個人品牌，讓消費者認識你。</p>
                <textarea type="text" name="closet[description]" class="form-control" rows="5">{{ closet.description }}</textarea>
            </div>
            <hr />

                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">衣櫃網址：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">http://getmore.cc/closet/{{ closet.url_code }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">中文姓名：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.user_name }} {% if user.sex %}先生{% else %}小姐{% endif %}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">生日：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.birthday }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">身份證號碼：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.identification_card_number }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">手機號碼：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.mobile_phone }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label for="active_email" class="col-md-4 control-label">常用電子郵件信箱：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="user[active_email]" id="active_email" value="{{ user.active_email }}">
                        </div>
                    </div>
            <div style="margin-top:40px;">
                <center>
                    <button type="submit" class="btn btn-primary">更新資訊</button>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}