{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}
</style>
{% endblock %}

{% block body %}
<div class='col-254'>
    {% include '/designer/sell_manage_sidebar.html.twig' %}       
</div>
<div class='col-726'>
    <div class="member_order_list_title">
        <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;匯款帳戶資訊</h3>
    </div>
    <div class="certifycontainer">
        <div class="upload-direction">
            <p>匯款帳戶等資訊為帳號開通時所填入之資料，若需要修改，請Email聯繫客服人員。</p>
        </div>
        <dl class="dl-horizontal" style="margin-top: 10px;">
            <dt>
                銀行名稱：
            </dt>
            <dd>
                {{ bank.code }} - {{ bank.title }}
            </dd>
            <dt>
                分行名稱：
            </dt>
            <dd>
                {{ bank.branch }}
            </dd>
            <dt>
                帳       號：
            </dt>
            <dd>
                {{ bank.account }}
            </dd>
            <dt>
                戶       名：
            </dt>
            <dd>
                {{ bank.username }}
            </dd>
        </dl>
    </div>
</div>
{% endblock %}