{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}
</style>
{% endblock %}

{% block body %}
<div class='col-254'>
    {% include '/designer/sell_manage_sidebar.html.twig' %}       
</div>
<div class='col-726'>
    <div class="member_order_list_title">
        <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;發票資訊</h3>
    </div>
    <div class="certifycontainer">
        <form action="invoice_info" method="post" class="form-horizontal" style="margin-top: 10px;">
            <div class="form-group">
                <label class="col-sm-3 control-label">如何開立發票</label>
                <div class="col-sm-9">
                    <div class="btn-group invoice_type" data-toggle="buttons">
                        <label class="btn btn-primary {% if invoice.type == 1 %} active {% endif %}">
                            <input type="radio" name="type" autocomplete="off" {% if invoice.type == 1 %} checked {% endif %} value="1"> 捐贈創世基金會
                        </label>
                        <label class="btn btn-primary {% if invoice.type == 2 %} active {% endif %}">
                            <input type="radio" name="type" autocomplete="off" {% if invoice.type == 2 %} checked {% endif %} value="2"> 二聯式發票
                        </label>
                        <label class="btn btn-primary {% if invoice.type == 3 %} active {% endif %}">
                            <input type="radio" name="type" autocomplete="off" {% if invoice.type == 3 %} checked {% endif %} value="3"> 三聯式發票
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" id="input_for_invoice2" style="display: {% if invoice.type == 2 %}block{% else %}none{% endif %}">
                <label class="col-sm-3 control-label">請選擇：</label>
                <div class="col-sm-9">
                    <div class="radio">
                        <label >
                            <input type="radio" value="1" name="carriertype" {% if invoice.carriertype == 1 %} checked {% endif %}>&nbsp;存在GetMore自動對獎(會員載具)
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio">
                            <input type="radio" value="2" name="carriertype" {% if invoice.carriertype == 2 %} checked {% endif %}>&nbsp;共通性載具
                        </label>
                    </div>
                </div>
            </div>
            <div id="input_for_invoice3" style="display: {% if invoice.type == 3 %}block{% else %}none{% endif %}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">發票抬頭：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="title" value="{{ invoice.title }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">統一編號：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="number" value="{{ invoice.number }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-top:40px;">
                    <center>
                        <button type="submit" class="btn btn-primary">更新資訊</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('input[name="type"]').bind('change', function(e){
        var target = e.target,
              value = parseInt($(target).val(), 10);

        switch(value){
            case 2:
                $('#input_for_invoice3').hide();
                $('#input_for_invoice2').show();
                break;
            case 3:
                $('#input_for_invoice2').hide();
                $('#input_for_invoice3').show();
                break;
            default:
                $('#input_for_invoice3, #input_for_invoice2').hide();
                break;
        }
    });
</script>
{% endblock %}