.login-page {

    .facebook {
        font-size: 1.2em;
        margin-top: 15px;
    }

    .login-form {
        margin: $login-form-margin 0px;
        .login-left {
            background: image-url('member/login_banner.jpg') no-repeat;
            width: $login-form-left-width;
            height: $login-form-left-height;
            float: left;
        }
        .login-right {
            margin-left: $login-form-right-margin-left;
            float: left;
            width: $login-form-right-width;

            .input-form {
                @include single-box-shadow;
                padding: $input-form-padding;

                .controlls {
                    button {
                        display: inline-block;
                        width: $button-width;
                        padding: 4px 0px;
                        font-size: 11pt;
                        cursor: pointer;
                        display: inline-block;
                        color:#fff;
                        text-align:center;
                        border:1px solid #ccc;
                        background-color: #8DC3B3;
                        font-family: "微軟正黑體";
                        margin-left: $button-margin-left;
                        &:hover {
                            background-color: #9FA0A0;
                        }
                    }
                    input[type="password"] {
                        display: inline-block;
                        width: $input-form-password-width;
                    }
                    input[type="text"] {
                        width: $input-form-text-width;
                    }
                }

                .left{
                    width: $input-form-left-width;
                    height: $input-form-left-height;
                    line-height: $input-form-left-height;
                    text-align: center;
                    float: left;
                }

                .right{
                    width: $input-form-right-width;
                    float: left;
                    font-size: 13px;
                }
            }
            .member-register-form {
                border: 1px solid #ccc;
                margin-top: 20px;
                .message {
                    margin-bottom: 10px;
                    color: #999;
                    font-size: 0.9em;
                }
            }
            .member-login-form {
                border: 1px solid #ccc;
            }
        }
        .note{
            font-size: 0.9em;
            text-align: left;
            color: #F372AB;
            clear: both;
            margin-top: 8px;
        }
    }
}

.profile-page {
    .container {
        .right {
            float: right;
            width: $profile-right-width;
            margin: 0 $profile-right-panel-margin;
            padding: 0 $profile-right-panel-padding 10px;

            // profile data
            .panel {
                @include single-box-shadow;
                background-color: #FFFFFF;
                margin: 10px 0;
                padding: 20px;
                h3 {
                    margin-bottom: 10px;
                    font-size: 1.3em;
                    color: #62C6C6;
                }
                select {
                    width: 70px;
                    margin-right: 2px;
                }
                label {
                    font-size: 1em;
                }
                input {
                    margin-right: 2px;
                    &.zipcode {
                        width: 35px;
                    }
                }
            }
            .submit {
                font-size: 1.1em;
                padding: 10px;
            }

            // order list data
            table.table-order {
                th {
                    background-color: #B2B2B2;
                    color: #fff;
                }
            }
        }
        .right.profile {
            background-color: #B6A682;
            @include single-box-shadow;
        }
    }
}
