@import "compass/reset";
@import "compass/css3";

$wrapper-width: 981px;
$page-width: 980px;
$page-padding: 15px;

/* home page */
$tool-bar-height: 35px;
$tool-bar-white-height: 5px;
$tool-bar-total-height: $tool-bar-height + $tool-bar-white-height;
$tool-bar-separate-height: $tool-bar-height/2;
$tool-bar-separate-margin-top: ($tool-bar-height - $tool-bar-separate-height)/2;

$logo-bar-margin-top: $tool-bar-total-height;

/* login page variable start */

$login-form-margin: 15px;
$login-form-left-width: 500px;
$login-form-left-height: 370px;

$login-form-right-margin-left: 20px;
$login-form-right-border: 1px;
$login-form-right-width: $page-width - 2*$login-form-right-border - 2*$page-padding - $login-form-left-width - $login-form-right-margin-left;

$input-form-padding: 10px;
$button-width: 60px;
$button-border-width: 1px;
$button-margin-left: 5px;

$input-form-left-width: 130px;
$input-form-left-height: 100px;

$input-from-default-padding: 10px;
$input-form-right-width: $login-form-right-width - 2*$login-form-right-border - 2*$input-form-padding - $input-form-left-width;
$input-form-text-width: $input-form-right-width - $input-from-default-padding;
$input-form-password-width: $input-form-right-width - $input-from-default-padding - $button-width - 2*$button-border-width - $button-margin-left;
/* login page variable end */

/* profile page variable start */

$profile-left-width: 180px;
$profile-left-panel-border-right: 3px;

$profile-right-panel-margin: 20px;
$profile-right-panel-padding: 20px;

$profile-right-width: $page-width - 2*$page-padding - $profile-left-width - $profile-left-panel-border-right - 2*$profile-right-panel-margin - 2*$profile-right-panel-padding;


@mixin text-overfolow-hidden($width) {
    width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* profile page variable end */

.login-page, .profile-page, .order-page {
    border-top: 0px;
    padding: 5px $page-padding;
}

.login-page, .profile-page, .order-page {
    .container {
        margin-top: 30px;
        .left {
            float: left;
            width: $profile-left-width;
            background-color: #fff;
            height: 100%;
            border-right: {
                color: #F0F0F0;
                style: solid;
                width: $profile-left-panel-border-right;
            }
            ul {
                list-style-type: none;
                padding-left: 20px;
                li.menu {
                    color: #555555;
                    margin: 20px 0;
                    font-size: 15pt;
                }
                li.sub-menu {
                    margin: 10px 0;
                    a {
                        color: #777777;
                        font-size: 15pt;
                    }
                    a.active {
                        color: #E73349;
                    }
                }
            }
        }
    }
    .welcome {
        margin-top: 10px;
        padding:30px 0 30px 80px;
        line-height: 31px;
        background:#f2f2f2;
        font-size: 12pt;
        letter-spacing:1px;
        img {
            vertical-align: bottom;
        }
    }
    .welcome.checkout {
        background-color:#fff;
        padding-left: 0px;
        text-align:center;
        color: #656565;
    }

    button {
        display: block;
        cursor: pointer;
        width: auto;
        background: #00A3A3;
        color: #fff;
        font-size:12px;
        text-align:center;
        border: $button-border-width solid #aaa;
        @include border-radius(3px);
        &.update-cart {
            background-color: #8DC3B3;
        }
        &.delete-cart {
            background-color: #E73349;
        }
    }
    button:hover {
        background:#004545;
        &.update-cart {
            background-color: #939393;
        }
        &.delete-cart {
            background-color: #939393;
        }
    }
}

.line {
    margin: 10px auto;
    width: 820px;
    height: 2px;
    background: image-url('line.png') no-repeat center center;
}

.show {
    display: block;
}

.hide {
    display: none;
}
