.order-page {
    background-color: #fff;
    .container {
        .right {
            float: right;
            width: $profile-right-width;
            margin: 0 $profile-right-panel-margin;
            padding: 0 $profile-right-panel-padding 10px;

            /* single order data */
            .single {
                h3 {
                    margin-bottom: 10px;
                    font-size: 15pt;
                    color: #242424;
                    font-weight: normal;
                }
            }
            // order list data
            table.table-order {
                th {
                    background-color: #B2B2B2;
                    color: #fff;
                }
            }
        }
        .right.order {
            background-color: #fff;
        }
    }
    .information {
        background-color: #B6A682;
        padding: 20px 20px 10px;
        table {
            width: 100%;
            background-color: #fff;
            border: 0px;
            margin-bottom: 5px;
            td {
                padding: 2px 0px 0px 20px;
                font-size: 1.1em;
            }
            .header {
                border: 0px;
                font-size: 1.2em;
                text-align: center;
                padding: 10px 0px;
                text-align: left;
                span {
                    font-size: 11pt;
                    color: #DB2E0B;
                    &.delivery {
                        color: #999;
                    }
                }
            }
            .address {
                display: block;
                width: 235px;
            }
            label {
                font-size: 1em;
                height: 30px;
                line-height: 30px;
            }
            select {
                margin-right: 2px;
            }
            input[type="text"] {
                width: 120px;
                margin-right: 2px;
                &.zipcode {
                    width: 35px;
                }
                &.address {
                    width: 220px;
                }
            }
            .form_error {
                border-color: #B94A48;
                color: #B94A48;
            }
        }
        &.footer {
            padding-bottom: 20px;
        }
    }
    .information.charge-type {
        margin-top: 20px;
        .charge-info {
            background-color: #fff;
            @include single-box-shadow;
            padding: 10px 20px;
            ul {
                list-style-type: none;
                li {
                    float: left;
                    margin: 5px 10px;
                    padding: 5px 7px;
                    cursor: pointer;
                    &.title {
                        font-weight: bold;
                        color: #878787;
                        font-size: 1.1em;
                    }
                    &.button {
                        border: 1px #ccc solid;
                        background-color: #F1F1F1;
                        color: #B6B6B6;
                        &.active {
                            background-color: #8DC3B3;
                            color: #fff;
                        }
                         &:hover {
                            background-color: #939393;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .detail {
        @include single-box-shadow;
        padding: 5px 5px 0px;
        border: 1px #DDDDDD solid;
        background-color: #fff;
        .table-single-order {
            margin-bottom: 5px;
            border: 0px;
            td, th {
                border: 0px;
            }
            th {
                background-color: #B2B2B2;
                color: #fff;
            }
            tbody tr td {
                border-bottom: 2px #F1F1F1 solid;
                color: #929292;
                padding: 8px;
                vertical-align: middle;
                font-size: 13pt;
                .register {
                    height: 35px;
                    line-height: 35px;
                }
                &.image {
                    height: 72px;
                    line-height: 72px;
                    img {
                        width: 72px;
                        height: 72px;
                        vertical-align: middle;
                    }
                }
                &.step-2 {
                    vertical-align: middle;
                }
                .inline {
                    display: inline-block;
                }
                a {
                    color: #929292;
                }
                select {
                    width: 50px;
                }
            }
            tbody tr:last-child td {
                border-bottom: 0px;
            }
        }
        p {
            color: #878787;
            margin: 10px 0 10px 20px;
        }
    }
    .price {
        margin: 15px 0;
        text-align: left;
        color: #fff;
        @include single-box-shadow;
        border: 1px #939393 solid;
        background-color: #939393;
        padding: 8px 0px 8px 8px;
        font-size: 14pt;
        .title {
            float: left;
        }
        .title.product {
            height: 80px;
            line-height: 80px;
        }
        .title.activity {
            height: 32px;
            line-height: 32px;
        }
        .title.total {
            height: 100px;
            line-height: 100px;
        }
        .total-price {
            float: right;
            text-align: right;
            margin-right: 30px;
            p {
                margin: 8px 0;
            }
            p.yellow {
                color: #D3D3D3;
            }
        }
        &.left {
            float: left;
            background-color: #8DC3B3;
            width: 450px;
            height: 80px;
            border: 0px;
            a {
                display: inline-block;
                border-right: 2px #ccc solid;
                font-size: 16pt;
                color: #fff;
                width: 199px;
                padding: 10px;
                text-align: center;
                line-height: 60px;
                &:last-child {
                    border-right: 0px;
                }
                &.last-child {
                    border-right: 0px;
                }
                &:hover {
                    text-indent: -9999px;
                }
            }
            .keep_product:hover {
                background: image-url('order/kp-shop.png') no-repeat center center;
            }
            .keep_event:hover {
                background: image-url('order/kp-book.png') no-repeat center center;
            }
        }
        &.right {
            float: right;
            .title.total {
                width: 210px;
            }
        }
    }

    // checkout page
    .all-steps {
        margin: 0 auto 20px;
        width: 100%;
        text-align: center;
        .steps {
            display: inline-block;
            width: 100px;
            height: 170px;
            margin: 0 20px;
            background: image-url('order/check-no-box.png') no-repeat center bottom;
            .single-step {
                width: 100px;
                height: 80px;
                padding-top: 20px;
                font-size: 20pt;
                @include border-radius(2px);
                @include single-box-shadow;
                color: #fff;
                background-color: #8DC3B3;
            }
            &.active {
                background: image-url('order/check-on-box.png') no-repeat center bottom;
                .single-step {
                    background-color: #E73349;
                }
            }
        }
    }

    .steps {
        margin: 15px 0;
        text-align: center;
        a {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            margin-right: 30px;
            font-size: 1.2em;
            width: 120px;
            border: $button-border-width solid #aaa;
            @include border-radius(3px);
            &.back {
                background-color: #8DC3B3;
            }
            &.next {
                background-color: #E73349;
            }
            &:hover {
                background-color: #939393;
            }
        }
    }
}

$order-note-padding: 20px;
$order-note-left-width: 180px;
$order-note-container-border: 1px;
$order-note-container-padding: 10px;
$order-note-right-width: $page-width - 2*$order-note-container-padding - 2*$order-note-container-border - 2*$order-note-padding - $order-note-left-width;

.order-note {
    margin-top: 20px;
    padding: $order-note-padding;
    background-color: #B6A682;
    border: 1px solid #CBBD9F;
    .container {
        background-color: #FFFFFF;
        border: 1px solid #ECEAE4;
        padding: 10px;
        .left {
            width: $order-note-left-width;
            text-align: center;
            height: 112px;
            line-height: 112px;
            float: left;
            h3 {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 1.3em;
                color: #8DC3B3;
            }
        }
        .right {
            width: $order-note-right-width;
            float: right;
            ul {
                li {
                    color: #878787;
                    margin: 8px 0;
                }
            }
        }
    }
}
