$theme-color-1: #4cb2a2;
$text-color-1: #717170;

.default-border {
  border: solid 1px #b7b7b7; 
}

/* start */

.carousel-indicators {
  position: relative;
  top: 25px;
  > {
    .active {
      background-color: $theme-color-1 ;
    }
    li {
      background-color: #bbbebd;
    }
  }
}

#getmore_suggestions {
  margin: 50px 0px;
  > h5 {
    color: #e72d2c;
    font-size: 22px;
  }
}

#dannytag {
  background-image: none;
}

.production {
  width: 212px;
  height: 360px;
  margin: 0 7px 10px 7px;
  padding: 0;
  border: solid 1px #b7b7b5;
  background: #ffffff;
  > {
    p {
      margin-left: 20px;
      margin-top: 5px;
    }
    img {
      margin-top: -20px;
    }
  }
}

.collection {
  position: relative;
  left: 175px;
  top: 25px;
}

#log_in {
  position: relative;
  right: 3px;
  bottom: 3px;
}

.form-group > .col-md-5 {
  padding-left: 0px;
  padding-right: 25px;
  text-align: right;
  margin-top: 10px;
}

#getmore_login, .fb_login {
  width: 400px;
  margin: 0 auto;
}

.modal-title {
  text-align: center;
}

.fb_login > h4 {
  text-align: center;
  margin-bottom: 30px;
}

.fb_login_btn {
  margin: 0 40px;
  background-color: #2c5D97;
  border-width: 0px;
}

#getmore_login > .row {
  > div {
    padding-left: 0;
  }
  padding-bottom: 10px;
}

.getmore_instruction {
  padding-top: 13px;
}

.announcement {
  color: $text-color-1;
  font-size: 12px;
}

#start_to_getmore {
  padding: 0;
}

.form-group > input {
  width: 375px;
}

#registration {
  padding: 10px 0;
  color: $text-color-1;
  font-size: 12px;
}

#forget_password {
  color: #e72d2c;
  padding-right: 25px;
}

#registration > a {
  color: #3e9b95;
}

.carousel {
  margin-bottom: 60px;
}

.homead {
  margin-left: -18px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 0px;
}

.homead-box {
  width: 980px;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
}

/* apply.css */

.blank_rectangel {
  width: auto;
  height: 25px;
}

h4 {
  margin-bottom: 0;
}

div {
  padding: 0px;
}

.dashed_hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

#buttons {
  margin: 30px 0;
}

.bold_hr {
  margin-top: 0;
}

#flow {
  /* margin-left: 65px; */
}

#congratulation {
  color: #ff002b;
}

#clothe_icon, #member_icon {
  position: relative;
  top: 2px;
  margin-right: 30px;
}

#sidebar {
  height: 255px;
}

#clothes_management {
  color: $theme-color-1;
}

#address_code {
  width: 45px;
}

#returning_description {
  font-style: italic;
  padding: 20px;
  width: 360px;
  float: none;
}

#info {
  @extend .default-border;
  padding: 10px;
  margin: 10px;
}

#total_fee {
  color: #ff0019;
}

#getting_info {
  clear: both;
}

#ssl_description {
  font-style: italic;
}

#insturction {
  margin: 30px 0px;
}

#print {
  margin-top: 20px;
}

#receipt {
  @extend .default-border;
  margin: 10px;
  padding: 0;
  > div {
    padding: 0;
  }
}

#first_row {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.info_div {
  padding: 5px 0;
  text-align: bottom;
}

#production_number_code {
  height: 100%;
  overflow: auto;
  height: 100%;
  position: absolute;
  right: 0;
}

#selling {
  color: $theme-color-1;
}

#upper_container {
  height: 300px;
}

#center_spliter {
  margin: 30px 0;
}

#next_step {
  position: relative;
  top: 200px;
}

#getmore_suggestions {
  margin: 50px 0px;
}

#pagerow {
  margin-bottom: 45px;
}