@import "base";

body {
    background:#F2F2F2;
    font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", "Arial", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
}

a {
    text-decoration:none;
}

#wrapper {
    width: $wrapper-width;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#header, .header {
    overflow: hidden;
    background: #fff;
    border-left:1px solid #999;
    border-right:1px solid #999;
}

#tool-bar {
    position: fixed;
    z-index: 9999;
    width: $page-width;
    height: $tool-bar-total-height;
    background-color: #191A19;
    .white {
        height: $tool-bar-white-height;
        background-color: #fff;
        width: $page-width;
    }
    .left-bar {
        float: left;
        li {
            float: left;
            height: $tool-bar-height;
            line-height: $tool-bar-height;
            cursor: pointer;
            &.space {
                width: 0px;
                padding: 0px;
                height: $tool-bar-separate-height;
                line-height: $tool-bar-separate-height;
                margin-top: $tool-bar-separate-margin-top;
                border-right: 2px solid #fff;
            }
            a {
                display: block;
                text-indent: -9999px;
                padding: 0 15px;
                &.home {
                    background: image-url('home/home.png') no-repeat center center;
                    width: 20px;
                    margin-left: 25px;
                    height: $tool-bar-total-height;
                    &:hover {
                        background: #E73A36 image-url('home/home.png') no-repeat center center;
                    }
                }
                &.blog {
                    background: image-url('home/blog.png') no-repeat center center;
                    width: 103px;
                    &:hover {
                        background: #000 image-url('home/blog-hover.png') no-repeat center center;
                    }
                }
                &.lab {
                    background: image-url('home/lab.png') no-repeat center center;
                    width: 103px;
                    &:hover {
                        background: #000 image-url('home/lab-hover.png') no-repeat center center;
                    }
                }
            }
        }
    }
    .right-bar {
        float: right;
        li {
            float: right;
            /*padding: 0 15px;*/
            height: $tool-bar-height;
            line-height: $tool-bar-height;
            font-size: 19px;
            color: #fff;
            text-align: right;
            a {
                color: #fff;
            }
            &.space {
                width: 0px;
                padding: 0px;
                height: $tool-bar-separate-height;
                line-height: $tool-bar-separate-height;
                margin-top: $tool-bar-separate-margin-top;
                border-right: 2px solid #fff;
            }
            .empty {
                display: block;
                position: absolute;
                z-index: 9999;
                height: 3px;
                background-color: transparent;
                &.login-block {
                    bottom: 0px;
                    left: 0px;
                    width: 100px;
                    height: 0px;
                    border-bottom: 1px solid #9FA0A0;
                }
                &.login-empty {
                    top: $tool-bar-height;
                    left: 0px;
                    width: 100px;
                }
                &.shopping-cart-empty {
                    top: $tool-bar-height;
                    left: 0px;
                    width: 140px;
                }
            }
            .panel-header {
                display: block;
                position: absolute;
                z-index: 9999;
                height: $tool-bar-white-height;
                &.login-header {
                    background-color: #E73349;
                    top: -5px;
                    left: -1px;
                    width: 102px;
                    &.logout {
                        background-color: #9FA0A0;
                    }
                }
                &.shopping-cart-header {
                    background-color: #8DC3B3;
                    top: -5px;
                    left: -1px;
                    width: 142px;
                }
            }
            &.shopping {
                position: relative;
                background: image-url('home/cart.png') no-repeat 10px center;
		/*padding: 0 15px;*/
		width: 50px;
                z-index: 9999;
                .shopping-cart-area {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
                &.active {
                    background: #E73A36 image-url('home/cart.png') no-repeat 10px center;
                   /* border-left: 1px solid #9FA0A0;
                    border-right: 1px solid #9FA0A0;*/
                    color: #FEFEFE;
                }
                .shopping-cart {
                    display: none;
                    position: absolute;
                    z-index: 4;
                    top: $tool-bar-height;
                    left: -158px;
                    border: 1px solid #9FA0A0;
                    width: 400px;
                    background-color: #fff;
                    .cart-content {
                        margin: 8px;
                        #shopping-car {
                            width: 100%;
                            td {
                                text-align: center;
                            }
                            .type {
                                font-size: 10pt;
                                color: #9FA0A0;
                                padding: 0 5px;
                            }
                            .title {
                                width: 150px;
                                font-size: 11pt;
                                text-align: left;
                                a {
                                    color: #595757;
                                }
                                span {
                                    display: block;
                                    @include text-overfolow-hidden(150px);
                                }
                            }
                            .quantity, .price {
                                font-size: 12pt;
                                color: #898989;
                            }
                            .quantity {
                                padding: 0 5px;
                            }
                            .action {
                                text-align: right;
                                width: 80px;
                            }
                            .action button {
                                font-size: 10pt;
                                width: 80px;
                                height: 22px;
                                line-height: 22px;
                                padding: 0px;
                            }
                        }
                        .cart-note {
                            font-size: 10pt;
                            color: #9FA0A0;
                            text-align: center;
                            span {
                                color: #E73349;
                            }
                        }
                        .cart-button {
                            ul {
                                li {
                                    cursor: pointer;
                                    float: right;
                                    display: block;
                                    margin-left: 10px;
                                    width: 82px;
                                    height: 24px;
                                    line-height: 24px;
                                    border: 1px solid #8DC3B3;
                                    text-align: center;
                                    padding: 0px;
                                    &.close_menu {
                                        background-color: #fff;
                                        color: #8DC3B3;
                                        a {
                                            display: block;
                                            width: 100%;
                                            color: #8DC3B3;
                                            &:hover {
                                                background-color: #8DC3B3;
                                                color: #fff;
                                            }
                                        }
                                        &:hover {
                                            background-color: #fff;
                                        }
                                    }
                                    &.checkout {
                                        border: 1px solid #E73349;
                                        background-color: #E73349;
                                        color: #fff;
                                        a {
                                            display: block;
                                            width: 100%;
                                            &:hover {
                                                color: #E73349;
                                            }
                                        }
                                        &:hover {
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cart-count{
		    color: #E73A36;
		    padding: 2px 24px 0px 0px;
		    font-size: 16px;
	        }
                /* deprecated
                &:hover {
                    background: #fff image-url('home/cart-hover.png') no-repeat 10px center;
                    border-left: 3px solid #B5B5B6;
                    border-right: 3px solid #B5B5B6;
                    color: #8DC3B3;
                    .shopping-cart-area {
                        display: block;
                    }
                }
                */
            }
            &.login {
                position: relative;
                background: image-url('home/mem.png') no-repeat 10px center;
                width: 91px;
                padding: 0px 5px 0px 15px;
                z-index: 9999;
		margin-right: 25px;
                a {
                    display: block;
                    text-align: center;
                }
                .login-area {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
                &.active {
                    background: #E73A36 image-url('home/mem.png') no-repeat 10px center;
                    a.hover {
                        color: #FEFEFE;
                    }
                }
                .login-panel {
                    display: block;
                    position: absolute;
                    z-index: 4;
                    top: $tool-bar-height;
                    right: -1px;
                    border: 1px solid #9FA0A0;
                    width: 370px;
                    background-color: #fff;
                    font-size: 10pt;
                    color: #9FA0A0;
                    a {
                        color: #9FA0A0;
                    }
                }
                label {
                    color: #9FA0A0;
                    text-align: left;
                }
                button {
                    font-size: 11pt;
                    cursor: pointer;
                    display: inline-block;
                    padding: 4px 5px;
                    color:#fff;
                    text-align:center;
                    border:1px solid #ccc;
                    background-color: #8DC3B3;
                    font-family: "微軟正黑體";
                    &:hover {
                        background-color: #9FA0A0;
                    }
                }
                /* deprecated
                &:hover {
                    background: #fff image-url('home/mem-hover.png') no-repeat 10px center;
                    border-left: 3px solid #B5B5B6;
                    border-right: 3px solid #B5B5B6;
                    a.hover {
                        color: #E73349;
                    }
                    .login-area {
                        display: block;
                    }
                }
                */
                &.logout {
                    background: image-url('home/logout.png') no-repeat 10px center;
                    padding: 0px 5px 0px 25px;
                    &.active {
                        background: #fff image-url('home/logout-hover.png') no-repeat 10px center;
                        border-right: 0px;
                        a.hover {
                            color: #9FA0A0;
                        }
                    }
                }
            }
            &.account {
                position: relative;
                background: image-url('home/account.png') no-repeat 10px center;
		width: 50px;
                &.active {
                    background: #E73A36 image-url('home/account.png') no-repeat 10px center;
                    a.hover {
                        color: #FEFEFE;
                    }
                }
            }
            &.collection {
                position: relative;
                background: image-url('home/collection.png') no-repeat 10px center;
		width: 50px;
                &.active {
                    background: #E73A36 image-url('home/collection.png') no-repeat 10px center;
                    a.hover {
                        color: #FEFEFE;
                    }
                }
            }
        }
    }
    #search-box {
    	background: none repeat scroll 0 0 #1A1A1A;
    	border: 0.3px solid #666666;
    	height: 20px;
    	margin: 10px auto auto;
         #s {
            float: left;
/*
            @include transition-property(width, background);
            @include transition-duration(0.4s);
            @include transition-timing-function(ease);
*/
            width: 220px;
            border-radius: 0px;
            font-size: 10pt;
            height: 14px;
	    color: #FEFEFE;
            line-height: 22px;
/*            padding: 4px 16px 4px 4px;
*/
            @include border-radius(0px);
            background: image-url('home/search.png') no-repeat scroll 206px center #1C1D1D ;
	    box-shadow: 0 1px 1px transparent inset, 0 0 8px rgba(82, 168, 236, 0);

            &:focus {
	    @include border-radius(0px);
            background: image-url('home/search.png') no-repeat scroll 206px center #1C1D1D ;
            width: 220px;
            border-radius: 0px;
            font-size: 10pt;
            height: 14px;
            color: #FEFEFE;
            line-height: 22px;
	    float: left;
	    border-color:transparent;
	    box-shadow: 0 1px 1px transparent inset, 0 0 8px rgba(82, 168, 236, 0);
            }

        }
        #searchsubmit {
            display: none;
        }
    }
}

#logo-bar {
    height: 100px;
    padding-top: 20px;
    margin: $logo-bar-margin-top 0px 0px;
    .logo {
        width: 100%;
        height: 120px;
        display: block;
        /*margin: 30px 0 0 30px ;
        float: left;
        */
        background: image-url('logo.png') no-repeat center center;
        text-indent: -9999px;
    }
    ul {
        float: left;
        margin-left: 5px;
        li {
	    background: image-url("home/star.png") no-repeat 0px 68px transparent;
            position: relative;
            float: left;
            font-size: 11pt;
            margin: 0 12px;
            height: 80px;
            width: 68px;
            letter-spacing: 1px;
            a {
                position: relative;
                display: block;
                height: 80px;
                width: 100%;
                color: #808080;
		margin-left: 16px;
                span {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    display: block;
                }
            }
            &.product.active, &.product:hover {
                background: image-url('home/menu-product-icon-large.png') no-repeat center center;
                font-weight: bold;
                a {
                    color: #000;
                    &:hover {
                        color: #000;
                    }
                }
            }
            &.activity.active, &.activity:hover {
                background: image-url('home/star-hover.png') no-repeat 0px 68px;
                font-weight: bold;
                a {
                    color: #4BB1A1;
                    &:hover {
                        color: #4BB1A1;
                    }
                }
            }

        }
    }
}

/* headline */
#slideshow {
    width: 100%;
    margin: 10px auto 0px 23px;
    text-align: center;
    #headline {
        width: 900px;
        padding: 6px;
        box-shadow:0 0 5px #999;
        border: 1px #C9CACA solid;
        #top-theme {
            width: 900px;
            height: 360px;
            background: #fff;
            margin: 0 auto;
            z-index: 500;
            overflow: hidden;
            position: relative;
            #volti {
                position: relative;
                z-index:999;
                a {
                    width:27px;
                    height:27px;
                    margin: 0 auto;
                    display: inline-block;
                    vertical-align: middle;
                    @include opacity(0.7);
                }
                #left {
                    float: left;
                    display: block;
                    width: 43px;
                    height: 360px;
                    line-height: 360px;
                    cursor: pointer;
                    a {
                        background: image-url('home/slide-button.png') no-repeat;
                    }
                    &:hover {
                        background-color: #898989;
                        @include opacity(0.8);
                    }
                }
                #right {
                    float: right;
                    display: block;
                    width: 43px;
                    height: 360px;
                    line-height: 360px;
                    cursor: pointer;
                    a {
                        background: image-url('home/slide-button.png') no-repeat -27px 0;
                    }
                    &:hover {
                        background-color: #898989;
                        @include opacity(0.8);
                    }
                }
            }
        }
        .slide_float {
            margin-top: 21px;
            float: right;
        }
    }
}

#theme-img ul li {
    width: 900px;
    overflow: hidden;
    float: left;
}

.local-icon-star {
    background: image-url('icon-star.png') no-repeat;
    height: 5px;
    width: 6px;
    margin: 12px 5px 0;
    float: left;
}

/* fonts color */

.black {
    color: #111111;
}

.gray {
    color: #888;
}

.red {
    color: #ED1C24;
}

.input {
    width: 300px;
    height: 20px;
    padding: 3px 0 3px 0;
}

$content-large-padding: 22px;
$content-large-article: 446px;
$content-large-article-border: 1px;
$content-large-width: $page-width - $content-large-padding*2;
$content-large-margin-right: ($page-width - $content-large-article*2 - $content-large-padding*2 - $content-large-article-border*4)/2;

$content-row-3-width: 276px;
$content-row-3-image-height: 224px;
$content-row-3-border-width: 1px;
$content-row-3-image-padding-width: 9px;
$content-row-3-image-width: $content-row-3-width - 2*$content-row-3-image-padding-width;
$content-row-3-margin-left: ($page-width - $content-row-3-width*3 - $content-row-3-border-width*6)/4;

#content, .content{
    background: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    position: relative;
    z-index: 1;
    .all-new {
        display: block;
        position: relative;
        background: image-url('home/all-new.png') no-repeat center center;
        width: 233px;
        height: 67px;
        margin-left: -17px;
        z-index: 9999;
    }
    .all-sale {
        display: block;
        position: relative;
        background: image-url('home/all-sale.png') no-repeat center center;
        width: 170px;
        height: 67px;
        margin-left: -17px;
        z-index: 9999;
    }
    #content-buy {
        padding: 0px $content-large-padding 0px;
        width: $content-large-width;
        position: relative;
        .article {
            margin-bottom: 15px;
            margin-right: $content-large-margin-right;
            float:left;
        }
        .article-title {
            width: $content-large-article;
            .buy-icon {
                background: image-url('home/product-small-icon.png') no-repeat 5px center;
            }
            .fun-icon {
                background: image-url('home/activity-small-icon.png') no-repeat 5px center;
            }
            h3 {
                font-size: 15pt;
                padding: 10px 0 10px 45px;
                margin-bottom: 10px;
                font-family: "微軟正黑體";
            }
        }
        .article-thing {
            border: $content-large-article-border solid #ccc;
            box-shadow:0 0 5px #999;
            float:left;
            width: $content-large-article;
            .article-img {
                padding: 9px 9px 0 9px;
                height:380px;
                position: relative;
                z-index: 1;
                .article-img-hover {
                    z-index: 2;
                    display: block;
                    position: absolute;
                    width: 430px;
                    height: 380px;
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(0.5s);
                }
                .article-img-hover-text {
                    z-index: 3;
                    display: block;
                    position: absolute;
                    width: 430px;
                    top: 165px;
                    text-align: center;
                    color: #fff;
                    font-size: 15pt;
                    font-family: 'Lucida console';
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(0.5s);
                }
                .article-explain {
                    position: absolute;
                    display: block;
                    bottom: 0px;
                    z-index: 2;
                    width: 420px;
                    height: 42px;
                    line-height: 42px;
                    color: #fff;
                    padding-left: 10px;
                    background-color: #000;
                    font-size: 12pt;
                    @include opacity(0.8);
                }
                .sold-out {
                    position: absolute;
                    background: image-url('home/sold-out-large.png') no-repeat;
                    width: 170px;
                    height: 53px;
                    top: 24px;
                    left: -15px;
                    z-index: 2;
                }
            }
            .explain {
                .title {
                    float: left;
                    font-weight: bold;
                    font-size: 16pt;
                    margin: 15px 0px 15px 9px;
                }
                .price {
                    float: right;
                    font-size: 18pt;
                    color: #595757;
                    margin: 15px 9px 15px 0px;
                }
            }
            &:hover {
                .article-explain {
                    display: none;
                }
                .article-img-hover {
                    background-color: #000;
                    @include opacity(0.8);
                }
                .article-img-hover-text {
                    @include opacity(1);
                }
            }
        }
    }
    /* content-row-3 */
    #content-row-3 {
        #row-3 {
            margin-left: $content-row-3-margin-left;
            .small-article {
                position: relative;
                margin: 10px $content-row-3-margin-left 0 0;
                float:left;
                width: $content-row-3-width;
            }
            .small-article-title {
                width: $content-row-3-width;
                height: 31px;
                line-height: 28px;
                margin-bottom: 14px;
                font-size: 15pt;
                .buy-icon {
                    height: 31px;
                    width: 100%;
                    padding-left: 45px;
                    background: image-url('home/product-small-icon.png') no-repeat 5px center;
                }
                .fun-icon {
                    height: 31px;
                    width: 100%;
                    padding-left: 45px;
                    background: image-url('home/activity-small-icon.png') no-repeat 5px center;
                }
            }
            .small-article-thing {
                position: relative;
                border: 1px solid #ccc;
                box-shadow:0 0 5px #999;
                margin-bottom:8px;
                width: $content-row-3-image-width;
                padding: $content-row-3-image-padding-width;
                img {
                    width: $content-row-3-image-width;
                    height: $content-row-3-image-height;
                }
                .surplus-time {
                    position: absolute;
                    bottom: 19px;
                    width: $content-row-3-image-width;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    color: #fff;
                    font-size: 11pt;
                    z-index: 2;
                    background: image-url('home/sale-end.png') no-repeat;
                }
                .article-img-hover {
                    z-index: 2;
                    display: block;
                    position: absolute;
                    height: $content-row-3-image-height;
                    width: $content-row-3-image-width;
                    font-family: 'Lucida console';
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(0.5s);
                }
                .article-img-hover-text {
                    z-index: 3;
                    display: block;
                    position: absolute;
                    top: 100px;
                    width: $content-row-3-image-width;
                    vertical-align: middle;
                    text-align: center;
                    color: #fff;
                    font-size: 13pt;
                    font-family: 'Lucida console';
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(0.5s);
                }
                .sold-out {
                    position: absolute;
                    background: image-url('home/sold-out-small.png') no-repeat;
                    width: 123px;
                    height: 39px;
                    top: 24px;
                    left: -10px;
                    z-index: 3;
                }
                &:hover {
                    .surplus-time {
                        display: none;
                    }
                    .article-img-hover {
                        background-color: #000;
                        @include opacity(0.8);
                    }
                    .article-img-hover-text {
                        @include opacity(1);
                    }
                }
            }
            .small-article-theme {
                border: 1px solid #ccc;
                box-shadow:0 0 5px #999;
                display: block;
                width: $content-row-3-width;
                height:70px;
                h3 {
                    font-size: 13pt;
                    color: #595757;
                    padding: 15px 15px 0;
                }
                p {
                    font-size: 12pt;
                    color: #9FA0A0;
                    padding:10px 15px 2px;
                    @include text-overfolow-hidden(246px);
                }
            }
        }
    }
}

#footer {
    overflow: auto;
    background: #fff;
    border: 1px solid #999;
    margin: 10px 0;
    position: relative;
    a {
        display: block;
    }
    #share-text {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        span {
            color: #B4B5B5;
            font-size: 10pt;
            font-family: 'Lucida console';
            display: inline-block;
        }

    }
    #share-button {
        position: absolute;
        top: 20px;
        left: 140px;
        z-index: 2;
        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            &.facebook {
                margin-right: 20px;
                background: image-url('home/facebook.png') no-repeat center center;
            }
            &.gplus {
                margin-right: 20px;
                background: image-url('home/gplus.png') no-repeat center center;
            }
            &.twitter {
                margin-right: 20px;
                background: image-url('home/twitter.png') no-repeat center center;
            }
        }
    }
    #back-top {
        border-bottom: 1px solid #999;
        color:#999;
        font-size: 11pt;
        text-align:center;
        width: 100px;
        margin:20px auto;
        padding-bottom:3px;
        font-family: 'Lucida Sans Unicode';
    }
    #back-top:hover {
        border-bottom: 1px solid #000;
        color:#000;
    }

    #gray-box {
        height:45px;
        background: #B4B5B5;
        li {
            width:25%;
            float:left;
            font-size:11px;
            list-style:none;
            &:hover {
                background:#898989;
            }
            a {
                padding:17px 0px;
                height:11px;
                margin: 0 auto;
            }
            .local-icon-star {
                background: image-url('home/stars.png') no-repeat center center;
                display: block;
                width: 8px;
                height: 100%;
                margin: 0px 5px;
            }
            .local-icon-logo {
                background: url('images/icon-logo.png') no-repeat;
                float:left;
                width:46px;
                height:11px;
                margin-left:5px;
            }
        }
        p {
            color:#E9E8E8;
            float:left;
            display:block;
            font-size: 11pt;
        }
        #about-we {margin-left:70px;}
        #how-to {margin-left: 7px;}
        #service {margin-left:30px;}
        #contac {margin-left:50px;}
    }
    #copyright {
        font-size: 12px;
        /*padding:20px 0;*/
        text-align:center;
        background:#191A19;
        color:#FEFEFE;
        font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", "Arial", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
        height:40px;
        a {
            padding:17px 0px;
            display: inline;
	    padding: 6px;
	    color: #FEFEFE;
            text-decoration: underline;
        }
	div {
	    padding-top: 4px;
	}
    }
}

/* add by subject */

#content-row-3 #row-3 .article-theme {
    .left {
        float: left;
        width: 205px;
        padding: 0;
        margin: 0;
    }
    .right {
        float: right;
        width: 70px;
        padding: 0;
        margin: 0 5px 0 0;
        .price {
            font-size: 12px;
            text-decoration: line-through;
            text-align: right;
            color: #777;
            margin: 18px 0 0 0;
        }
        .off {
            font-size: 15px;
            text-align: right;
            color: #333;
            margin: 10px 0 0 0;
        }
    }
    .discounts {
        float: left;
        width: 100%;
    }
}

/* product.html */

.nav {
    background: #666;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px #666;
    a {
        color: #fff;
    }
}

.product_frame {
    padding: 0 0 30px 0;
    margin: 40px 0 0 0px;
}

.product_left {
    float: left;
    width: 370px;
    padding: 0;
    margin: 0;
}

.product_right {
    float: right;
    width: 500px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
}

.product_imgblock {
    width: 370px;
    padding: 0;
    margin: 0;
}

.product_img {
    width: 370px;
    height: 350px;
    padding: 0;
    margin: 0 0 10px 0;
}

.product_imgnav {
    cursor: pointer;
    float: left;
    width: 82px;
    height: 82px;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 5px;
    border: 1px soild #ccc;
    backround: #eee;
}

.product_introblock {
    width: 500px;
    padding: 0;
    margin: 0;
}

.product_back {
    width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
    color: #888;
    font-size: 13px;
    a {
        display: inline;
        color: #333;
        &:hover {
            text-decoration: underline;
        }
    }
}

.product_title {
    font-size: 36px;
    padding: 0;
    margin: 0 0 30px 0;
    letter-spacing: 1px;
}

.product_intro {
    width: 100%;
    min-height: 200px;
    font-size: 14px;
    line-height: 24px;
    font-size: 14px;
}

.product_price {
    float: left;
    background: #333;
    width: 100%;
    height: 82px;
    margin: 15px 0 0 0;
}

.product_price_block {
    float: left;
    padding: 0;
    margin: 0;
}

.product_price_org {
    width: 150px;
    color: #aaa;
    margin: 15px 0 0 40px;
    text-decoration: line-through;
}

.product_price_special {
    width: 150px;
    font-size: 30px;
    color: #aaa;
    margin: 0 0 0 40px;
}

.product_amont {
    width: 150px;
    font-size: 15px;
    color: #fff;
    margin: 35px 0 0 0;
    select {
        width: 50px;
    }
}

.product_price_carticon {
    float: left;
    padding: 0;
    margin: 25px 5px 0 0;
}

.product_price_cartadd {
    float: left;
    padding: 0;
    margin: 30px 0 0 0;
}

.product_topic {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
}

.product_topic_gray {
    float: left;
    padding: 10px 60px 10px 10px;
    background: #E6E6E6;
    font-size: 15px;
}

.product_topic_black {
    float: left;
    padding: 10px 60px 10px 10px;
    background: #333;
    font-size: 15px;
    color: #fff;
}

.product_color_left {
    float: left;
    width: 175px;
    padding: 0;
    margin: 10px 0 0 0;
}

.product_color_right {
    float: right;
    width: 175px;
    padding: 0;
    margin: 10px 0 0 0;
}

.product_info {
    float: left;
    padding: 0;
    margin: 0 0 30px 0;
}

.product_info_list {
    float: left;
    width: 100%;
    padding: 0;
    margin: 5px 0 5px 0;
    border-bottom: 3px solid #F2F2F2;
}

.product_info_formname {
    float: left;
    width: 85px;
    padding: 5px 20px 5px 25px;
    margin: 0 0 3px 0;
    background: #F2F2F2;
    font-size: 14px;
}

.product_info_formvalue {
    float: left;
    width: 355px;
    padding: 5px 0 5px 0;
    margin: 0 0 0 15px;
    font-size: 14px;
}

.product_info_bottom {
    float: left;
    width: 100%;
    text-align: right;
    line-height: 15px;
    font-size: 13px;
    a {
        color: #333;
        &:hover {
            color: #f90;
        }
    }
    img {
        vertical-align: middle;
    }
}

.product_persist {
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0 0 40px 0;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    font-size: 14px;
    line-height: 24px;
    color: #888;
}

.product_persist_title {
    color: #111;
    font-size: 15px;
    font-weight: bold;
}

/* event.html */

.event_frame {
    padding: 0;
    margin: 0;
}

.event_left {
    float: left;
    width: 580px;
    padding: 0;
    margin: 0;
}

.event_right {
    float: right;
    width: 320px;
    padding: 0;
    margin: 0;
}

.event_img {
    float: left;
    width: 580px;
    height: 428px;
    padding: 0;
    margin: 10px 0 0 0;
    background: url(../images/event/event_imgbg.jpg) no-repeat;
    img {
        float: left;
        width: 540px;
        height: 385px;
        padding: 0;
        margin: 20px 0 0 20px;
    }
}

.event_back {
    width: 100%;
    padding: 0;
    margin: 20px 0 30px 0;
    color: #888;
    font-size: 13px;
    a {
        display: inline;
        color: #333;
        &:hover {
            text-decoration: underline;
        }
    }
}

.event_cate {
    width: 100%;
    padding: 0;
    margin: 10px 0 20px 0;
    span {
        font-size: 12px;
        color: #888;
        border: 1px solid #ccc;
        padding: 2px 5px;
    }
}

.event_title {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
}

.event_price {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    span {
        color: #aaa;
        font-size: 1.5em;
    }
}

.event_join {
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    select {
        width: 50px;
        vertical-align: top;
    }
}

.event_intro {
    width: 100%;
    height: 190px;
    font-size: 14px;
    line-height: 24px;
}

.event_sharebutton {
    width: 100%;
    height: 32px;
    padding: 0;
    margin: 5px 0 0 0;
}

.date {
    float: left;
    padding: 3px 0 0 0;
    margin: 0 15px 0 0;
}

.event_mainintro {
    width: 500px;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 30px 0 20px 80px;
}

.maybe {
    width: 305px;
    font-size: 18px;
    color: #888;
    text-align: right;
    margin: 0 0 20px 0px;
}

.maybe_block {
    width: 305px;
    height: 190px;
    padding: 0;
    margin: 0 0 0px 10px;
    background: url(../images/event/maybe_bg.jpg) no-repeat;
}

.maybe_left {
    float: left;
    width: 140px;
    padding: 0;
    margin: 15px 0 0 15px;
}

.maybe_right {
    float: right;
    width: 130px;
    padding: 0;
    margin: 15px 15px 0 0;
}

.maybe_caption {
    width: 100%;
    font-size: 13px;
    color: #555;
    padding: 5px 0 5px 0;
    margin: 0;
    text-align: center;
}

.maybe_title {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 0;
    margin: 5px 0 0 0;
}

.maybe_price_org {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #aaa;
    margin: 15px 0 0 0;
    text-decoration: line-through;
}

.maybe_price_special {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #555;
    margin: 5px 0 0 0;
}

.maybe_inventory {
    width: 100%;
    font-size: 15px;
    color: #E83827;
    text-align: center;
    margin: 13px 0 10px 0;
    span {
        font-size: 28px;
    }
}

.maybe_seeit {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* subject */

#project {
    padding: 0;
    margin: 0;
}

.project-cover {
    float: left;
    margin: 30px 0 0 5px;
    img {
        width: 350px;
        height: 350px;
        overflow: hidden;
    }
}

.project-cotent {
    float: left;
    width: 520px;
    margin: 40px 0 0 30px;
}

.project-article {
    margin-left: 20px;
    min-height: 220px;
    h2 {
        font-weight: normal;
        font-size: 36px;
        margin-bottom: 30px;
    }
    p {
        color: #777;
        font-size: 14px;
        line-height: 30px;
        span {
            color: #FF271F;
        }
    }
}

.project-teacher {
    margin: 0 0 0 20px;
    width: 500px;
    height: 116px;
    float: left;
}

.more {
    font-size: 20px;
    color: #728776;
    &:hover {
        color: #FFDF55;
    }
}

.register-message {
    background: #333;
    width: 150px;
    height: auto;
    float: left;
    h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 10px 0 10px 0px;
    }
    p {
        color: #fff;
        text-align: center;
    }
}

/* register-box */

.register-box {
    margin-left: 10px;
    float: left;
    p, span {
        font-size: 10pt;
    }
    input {
        width: 180px;
    }
}

.box-class {
    margin-bottom: 5px;
}

.p-class {
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.repeat-p-class {
    float: right;
}

/* login-region */

#login-region {
    margin: 10px;
    .register-message p {
        font-size: 11pt;
    }
    #password-keyword {
        width: 180px;
    }
}

#fb-login {
    padding: 10px 0;
    width: auto;
    background: #3b5998;
    margin-top: 11px;
    display: block;
    &:hover {
        background: #4f78cd;
    }
    p {
        font-size: 11pt;
        color: #fff;
        margin: 0;
        text-align: center;
    }
}

#fb-logo {
    background: url('images/fb-logo.png') no-repeat;
    width: 100px;
    height: 24px;
    margin: auto;
}

#login-region .repeat-p-class a {
    color: #ccc;
    &:hover {
        color: #fff3a0;
    }
}

#join-member {
    clear: both;
    font-size: 10pt;
    overflow: auto;
    a {
        float: right;
        color: #ccc;
        &:hover {
            color: #fff3a0;
        }
    }
}

.add-cart {
    cursor: pointer;
}

.close {
    cursor: pointer;
    float: right;
}

.clear {
    clear: both;
}

@import "auth";
@import "order";
@import "slideshow";
@import "bootstrap";
