<style>

.msg-left{
    float:left;
    width:280px;
    background-color: #edefed;
    overflow: auto;
}
.msg-right{
    float: left;
    width:368px;
   // overflow: auto;
    padding: 20px;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="msg-modal">
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding:0px;min-height:630px;">
            <div class="msg-left"  style="min-height:630px;border-radius: 6px 0 0 6px;padding:20px;">
                <center><div style="text-align:center;width:90px;height:90px;border-radius:50px;background-color:#fff;"><i class="fa  fa-user fa-5x" style="margin-top:10px;"></i></div></center>
                <div><center><h3>有事溝通嗎？</br>聯絡買家！</h3></center></div>
                
                <div style="margin-top:30px;">                
                    <ul>
                        <li>歡迎利用 Getmore 訊息系統和買家溝通商品規格以及運送細節。</li>
                        <li>為保障消費者以及設計師的交易安全，請勿透漏私下結帳的資訊。</li>
                        <li>讓我們一起努力，一起成為夥伴，請勿私下交易。</li>
                        <li>Getmore祝您時尚生活愉快。</li>
                    </ul>
                </div>
            </div>
            <div class="msg-right">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data" action="/restful/post" class="post" id="message_post" nate="post">
                            <label><h3>關於</h3></label>
                            <input class="form-control" type="text" id="message_title" name="title">
                            <label><h3>訊息內容</h3></label>
                            <div style="height:280px;">
                                <textarea class="form-control" id="message_content" name="content" rows="15"></textarea>
                            </div>
                        <input type="file" id="file" name="file" style="margin-bottom:10px;font-size:10px;">
                       {# <input type="reset" value="取消"> #}
                        <div style="overflow:auto;">
                            <div style="margin-top:20px;float:left;text-align:center;width:70px;height:70px;border-radius:50px;background-color:#bbb;"><i class="fa  fa-user fa-4x" style="margin-top:6px;"></i></div>
                            <div style="margin-top:40px;float:right;"><input type="submit" value="發送訊息" class="btn product-view-buy" id="post_submit" style="width:200px;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>