<div class="modal fade" id="edit_comments" tabindex="-1" role="dialog" aria-labelledby="ratingTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" id="ratingForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ratingTitle">給買家評價</h4>
      </div>
      <div class="modal-body" style="padding:30px;"> 
        <p style="color:#888;">對購買此商品的買家評價，若交易中一切順利，也感謝他的購買以及支持 ：）</p>
    <div class="stars">
      <h4>評價分數</h4><br />
      <label style="float: right; margin-left: 20px; margin-top: 15px; width: 100px" id="ratingText">好棒棒</label>
      <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/ checked>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/>
      <label class="star star-1" for="star-1"></label>
    </div>
    <hr />
    <div class="form-group">
      <h4><label>留下交易評論，感謝買家的購買</label></h4>
      <p style="color:#888;">感謝買家的購買，也提醒買家給好的評價，讓更多人知道！</p>
      <textarea name="comment" id="descriptionInput" cols="30" rows="6" class="form-control"></textarea>
      <input type="hidden" name="product_item_number"  class="btn btn-primary" id="productId">
    </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <input type="submit" value="確認送出" class="btn btn-primary" onclick="recording()">
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('#ratingForm input[type=radio]').change(function() {  
    var data = ["極差", "差", "普通", "不錯", "好棒棒"];  
    $("#ratingText").html(data[this.value - 1]);
  });
</script>

<style>

 div.stars {
    width: 400px;
    display: inline-block;
  }

  input.star { 
    display: none; 
  }

  label.star {
    float: right;
    padding: 8px;
    font-size: 28px;
    color: #ff3366;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f004';
    color: #ff3366;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #ff3366;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before { 
    color: #ff3366; 
  }

  label.star:hover { 
    transform: scale(1.3); 
  }

  label.star:before {
    content: '\f08a';
    font-family: FontAwesome;
  }

</style>