<div id='checkout-modal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <center>
            <div class="modal-header">
                <h4 class="modal-title">結帳提醒</h4>
            </div>
            <div class="modal-body">
                <p>
                    請問是否確認過這些衣服尺寸有符合您的身型嗎？<br />
                    商品照片下方有詳細尺寸表。<br />
                    （愛護地球，避免退貨可節省不必要的浪費喔！）<br />
                </p>
                <p><span class="prmary-btn-a"><a class='btn btn-primary' href='/checkout/first'>我確認過了</a></span> <a class='btn btn-default' data-dismiss="modal">再檢查看看</a></p>
            </div>
        </center>
    </div>
  </div>
</div>

<div class="modal fade" id="signUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">註冊會員</h4>
            </div>
            <div class="modal-body">
                <div class="fb_login">
                    <h4>Getmore 時尚小圈圈，把時尚圈起來</h4>
                    <a class="fb_login_btn btn btn-primary" href="{{ site_url('/auth/facebook?redirect_url=') }}{{ current_url()|url_encode }}">用facebook登入</a> 快使用facebook快速登入!
                    <hr class="dashed_hr">
                </div>
                <div id="getmore_login">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>註冊會員</h4>
                        </div>
                        <div class="col-md-8 pull-right announcement getmore_instruction">
                            還不是Getmore的會員嗎？ 免費加入！
                        </div>
                    </div>
                    <form method="POST" action="/auth/register" name="dig_register">
                        <div class="form-group">
                            <label for="sign_up_email">信箱</label>
                            <div class="col-md-5 pull-right description">此為您的會員登入帳號</div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="nickname">暱稱</label>
                            <div class="col-md-5 pull-right description">14字元以內</div>
                            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="暱稱">
                        </div>
                        <div class="form-group">
                            <label for="new_password">密碼</label>
                            <input type="password" class="form-control" id="new_password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">確認密碼</label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="1" name="aggree" style="width:20px;">我已閱讀，並同意<a href="http://desk.getmore.cc">Getmore 服務條款</a>
                        </div>
                        <button id="start_to_getmore" class="btn btn-primary">開始Getmore</button>
                        <div id="registration" class="col-md-4 pull-right">
                            已是會員？ <a id="logIn" href="#logInModal" data-toggle="modal" onclick="$(&quot;#signUpModal&quot;).modal(&quot;hide&quot;);">由此登入！</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="announcement text-center">已成為「會員」或是點擊「用facebook 登入」按鈕的同時,
                    <br>表示您已詳讀並同意Getmore相關的< a href="http://desk.getmore.cc" target="_blank">購買條款</a>以及<a href="http://desk.getmore.cc/knowledgebase/articles/790941-%E5%BE%85%E6%B4%97%E4%BB%A3%E5%94%AE%E6%A2%9D%E6%AC%BE" target="_blank">代洗代售服務條款</a>。</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="logInModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">會員入口</h4>
            </div>
            <div class="modal-body">
                <div class="fb_login">
                    <h4>Getmore 時尚小圈圈，把時尚圈起來</h4>
                    <a class="fb_login_btn btn btn-primary" href="{{ site_url('/auth/facebook?redirect_url=') }}{{ current_url()|url_encode }}">用facebook登入</a> 快使用facebook快速登入!
                    <hr class="dashed_hr">
                </div>
                <div id="getmore_login">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>會員登入</h4>
                        </div>
                        <div class="getmore_instruction col-md-8 pull-right announcement">
                            若已是Getmore的會員,請在此登入!
                        </div>
                    </div>
                    <form name="login-form" action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="email">信箱</label>
                            <input type="email" class="form-control" id="email" name="identity" placeholder="email" tabindex="1">
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <a target="_blank" id="forget_password" class="pull-right" href="/auth/forget_password" tabindex="-1">忘記密碼？</a>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" tabindex="2">
                        </div>
                        <input type="submit" id="start_to_getmore" class="btn btn-primary" value="開始Getmore">
                        <input type="hidden" name="redirect_url" value="{{ current_url()|url_encode }}">
                        <div id="registration" class="col-md-4 pull-right">
                            還不是會員? <a id="register" href="#signUpModal" data-toggle="modal" onclick="$(&quot;#logInModal&quot;).modal(&quot;hide&quot;);">來註冊!</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="announcement text-center">已成為「會員」或是點擊「用facebook 登入」按鈕的同時,
                    <br>表示您已詳讀並同意Getmore相關的<a href="http://desk.getmore.cc" target="_blank">購買條款</a>以及<a href="http://desk.getmore.cc/knowledgebase/articles/790941-%E5%BE%85%E6%B4%97%E4%BB%A3%E5%94%AE%E6%A2%9D%E6%AC%BE" target="_blank">代洗代售服務條款</a>。</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modalbtn-04">
    <div class="modal-dialog-800">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">創造更多，得到更多</h4>
            </div>
            <div class="modal-body">
                <a href="http://getmore.cc/sellorder/info/sellpolicy/"><img src="/assets/images/banner/btn-04.png">
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="user-disfollow-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Disfollow this user?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                        <button type="button" class="btn btn-warning" id="disfollow_confirm">Yes</button>
                        <input type="hidden" name="followed_id" value="">
                        <input type="hidden" name="type" value="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modals end -->
