<style>

.msg-left{
    float:left;
    width:280px;
    background-color: #edefed;
    overflow: auto;
}
.msg-right{
    float: left;
    width:368px;
   // overflow: auto;
    padding: 20px;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="msg-modal">
<div class="modal fade" id="sendMessageToDesigner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding:0px;min-height:630px;">
            <div class="msg-left"  style="min-height:630px;border-radius: 6px 0 0 6px;padding:20px;">
                <center><div style="text-align:center;width:90px;height:90px;border-radius:50px;background-color:#fff;"><i class="fa  fa-user fa-5x" style="margin-top:10px;"></i></div></center>
                <div><center><h3>對商品有問題嗎？</br>直接問設計師！</h3></center></div>
                
                <div style="margin-top:30px;">                
                    <ul>
                        <li>歡迎利用 Getmore 訊息系統詢問設計師商品的細節。</li>
                        <li>為保障消費的安全，以及您的會員權益，請勿透漏私下結帳的資訊。</li>
                        <li>若有濫用或被騷擾，請向客服檢舉。</li>
                        <li>Getmore祝您時尚生活愉快。</li>
                    </ul>
                </div>
            </div>
            <div class="msg-right">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data" action="/restful/post" class="post" id="message_post" nate="post">
                            <input class="form-control" type="hidden" id="owner_id" name="owner_id" value="{{ owner_id }}" placeholder="1234....">
                            <input class="form-control" type="hidden" id="user_id" name="user_id" value="{{ user_id }}" placeholder="1234....">
                            <input class="form-control" type="hidden" id="url_code" name="url_code" value="{{ current_url }}" placeholder="1234....">
                            <label><h3>關於</h3></label>
                            <input class="form-control" type="text" id="message_title" name="title">
                            <label><h3>我的問題</h3></label>
                            <div style="height:280px;">
                                <textarea class="form-control" id="message_content" name="content" rows="15"></textarea>
                            </div>
                        <input type="file" id="file" name="file" style="margin-bottom:10px;font-size:10px;">
                       {# <input type="reset" value="取消"> #}
                        <div style="overflow:auto;">
                            <div style="margin-top:20px;float:left;text-align:center;width:70px;height:70px;border-radius:50px;background-color:#bbb;"><i class="fa  fa-user fa-4x" style="margin-top:6px;"></i></div>
                            <div style="margin-top:40px;float:right;"><input type="submit" value="發送訊息" class="btn product-view-buy" id="post_submit" style="width:200px;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
$('form', '#sendMessageToDesigner').bind('submit', function(e){
    e.preventDefault();

    data = new FormData($(this)[0]);
    
    $.ajax({
        url: $(this).attr('action'),
        data: data,
        processData: false,
        cache: false,
        contentType: false,
        type: $(this).attr('method')
    }).done(function(){
        $('.modal-body','#sendMessageToDesigner').html('<div style="background-color: #edefed;min-height:630px;border-radius:6px 6px 6px 6px;" ><div class="getmoregreen" style="font-size:24px;text-align:center;padding-top:280px;"><i class="fa fa-paper-plane fa-3x"></i>&nbsp;訊息已送出!</div></div>');

        setTimeout(function(){
            $('#sendMessageToDesigner').modal('hide');
        }, 2500);
    });

    $(this)[0].reset();
    return false;
});

</script>