<div class="modal fade" id="product-size-detail">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width:800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">詳細尺寸</h4>
            </div>
            <div class="modal-body measure" style="overflow: auto;">
                <div class="clearfix" style="margin: 10px 30px 0 30px;;">
                    <div class="btn-group" data-toggle="buttons">
                        {% for size in array_keys(stock_info.measure_labels_list) %}
                        <label class="btn btn-xs btn-default detail_size {{ str_replace(['.', ' '], '_', size) }} {% if loop.first %} active {% endif %}">
                          <input type="radio" name="displayMeasure" autocomplete="off" value="{{ str_replace(['.', ' '], '_', size) }}"> {{ size|size_translate }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% if product.group != 'Clothing' %}
                <table style="margin-left:30px;">
                    <tr>
                        <td style="padding:10px 30px;">
                            <div style="background-image: url('{{ product.files[0]|s3_url('medium') }}');background-repeat: no-repeat;background-size:100%;">
                            <img  src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="width:230px;height:345px;margin-bottom:5px;">
                            </div>
                            {#
                            <img id="measure_img" src="{{ product.files[0]|s3_url('medium') }}" style="max-width:200px;height:300px;">#}
                        </td>
                        <td>
                            {% for size, measure in stock_info.measure_labels_list %}
                            <div class='{{ str_replace(['.', ' '], '_', size) }} measure_labels {% if not loop.first %} hidden {% endif %}'>
                                {% for key, value in measure %}
                                <p class='size-modal-text' style="height: 30px;margin: 0;line-height: 30px; font-size:14px;color:#666666;">{{ accessories_semantic_measure_name(key, product.group) }} : {{ value }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                {% else %}
                <div class="pull-left">
                    <img id="measure_img" style="height: auto;" src="{{ measure_img(product.product_type, product.item_long, product.pattern) }}">
                </div>
                <div class="pull-left">
                    {% for size, measure in stock_info.measure_labels_list %}
                    <div class='{{ str_replace(['.', ' '], '_', size) }} measure_labels {% if not loop.first %} hidden {% endif %}'>
                        {% for index, value in measure %}
                        <p class='size-modal-text' style="height: 30px;margin: 0;line-height: 30px;">{{ value }}{% if value %}cm{% endif %}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <p class="announcement text-center">
                測量出的尺寸數據會因為其布料彈性、水洗處理、測量起訖點等因素而出現些微誤差; 誤差值在+-2公分內視為合理範圍。<br />
                為了避免因商品尺寸不合，耽誤您寶貴的時間，請在訂購前務必先確認各款尺寸，減少退貨，也是節能減碳愛護地球的一種方式。
                </p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<!-- modals end -->