<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" id="ratingForm" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ratingTitle">給這件商品評價</h4>
      </div>
      <div class="modal-body" style="padding:30px;"> 
        <p style="color:#888;">對您的購買商品留下評價，也可以選擇上傳搭配照，評價會顯示在賣家的頁面，也作為自已的時尚紀錄 ：）</p>
    <div class="stars">
      <h4>評價分數</h4><br />
      <label style="float: right; margin-left: 20px; margin-top: 15px; width: 100px" id="ratingText">好棒棒</label>
      <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/ checked>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/>
      <label class="star star-1" for="star-1"></label>
    </div>
    <hr />
    <div class="form-group">
      <h4><label>留下商品評論，給賣家鼓勵</label></h4>
      <p style="color:#888;">分享你對收到商品的評論，或是穿搭的分享或時尚心得。如果還沒收到商品，要等收到在給評價喔！</p>
      <textarea name="comment" id="descriptionInput" cols="30" rows="6" class="form-control"></textarea>
      <input type="hidden" name="product_item_number"  class="btn btn-primary" id="productId">
      <input type="hidden" name="to_user_id"  class="btn btn-primary" id="sellerId">
    </div>
    <hr />
    <div class="form-group" style="margin-top:30px;"><h4><label>上傳搭配照</h4></strong><input type="file" name="photo" id="photo"></div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <input type="submit" value="確認送出" class="btn btn-primary">
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('#ratingForm input[type=radio]').change(function() {  
    var data = ["極差", "差", "普通", "不錯", "好棒棒"];  
    $("#ratingText").html(data[this.value - 1]);
  });
</script>

<script>


  $("#ratingForm").submit(function(data) {
    var formData = new FormData($(this)[0]);
    $('.modal-content','#ratingModal').html('<div style="background-color: #edefed;min-height:630px;border-radius:6px 6px 6px 6px;" ><div class="getmoregreen" style="font-size:24px;text-align:center;padding-top:280px;"><i class="fa fa-spinner fa-pulse fa-3x"></i></div></div>');
    $.ajax({
        url: '/restful/buy_history/rating',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (returnData) {
          $('.modal-content','#ratingModal').html('<div style="background-color: #edefed;min-height:630px;border-radius:6px 6px 6px 6px;" ><div class="getmoregreen" style="font-size:24px;text-align:center;padding-top:280px;"><i class="fa fa-paper-plane fa-3x"></i>&nbsp;評價已送出!</div></div>');
        setTimeout(function(){
            $('#ratingModal').modal('hide');
        }, 250000);
          location.reload();
        }
      });
      event.preventDefault();
      return false;
  });

  function changeModalId(id, seller_id) {
    $("#productId").val(id);
    $("#sellerId").val(seller_id);
  }
</script>

<style>

 div.stars {
    width: 400px;
    display: inline-block;
  }

  input.star { 
    display: none; 
  }

  label.star {
    float: right;
    padding: 8px;
    font-size: 28px;
    color: #ff3366;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f004';
    color: #ff3366;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #ff3366;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before { 
    color: #ff3366; 
  }

  label.star:hover { 
    transform: scale(1.3); 
  }

  label.star:before {
    content: '\f08a';
    font-family: FontAwesome;
  }

</style>