
<div class="modal fade" id="modalwomen">
    <div class="modal-dialog-800">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">尺寸參考表-WOMEN</h4>
            </div>
            <div class="modal-body">
                <div class="modal-center">
                    <img src="/assets/images/content/buy/womensize.png">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modalmen">
    <div class="modal-dialog-800">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">尺寸參考表-MEN</h4>
            </div>
            <div class="modal-body">
                <div class="modal-center">
                    <img src="/assets/images/content/buy/mensize.png">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modalkids">
    <div class="modal-dialog-800">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">尺寸參考表-KIDS/BABY</h4>
            </div>
            <div class="modal-body">
                <div class="modal-center">
                    <img src="/assets/images/content/buy/kidssize.png">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id='size-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">詳細尺寸</h4>
      </div>
      <div class="modal-body" id='size-modal-body'>
        <div class="modal-center">
              <center>
              <div id="measure_pic">
                <img src="{{ clothing['measure_img_url'] }}" id="measure_img" />
              </div>
              <div id='measure_column'>
                {% for key, size in clothing['measure'] %}
                  <div class='measure_unit'>
                    {% if size != "" %}
                        {{ size }}cm
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              </center>

              <div style='clear: both'></div>
            <br />
              <ul class='product-view-ul'>
                <li>測量出的尺寸數據會因為其布料彈性、水洗處理、測量起訖點等因素而出現些微誤差; 誤差值在+-2公分內視為合理範圍。</li>
                <li>為了避免因商品尺寸不合，耽誤您寶貴的時間，請在訂購前務必先確認各款尺寸。</li>
                <li>在GetMore，所有衣服都是獨一無二，請留給真心喜歡的人，減少退貨，也是節能減碳愛護地球的一種方式。  </li> 
              </ul>  
            <br />
            <a class='pull-right' data-dismiss="modal" data-toggle="modal" href="{% if clothing['gender'] == '2' %}#modalmen{% elseif clothing['gender'] == '1' %}#modalwomen{% elseif clothing['gender'] == '3' %}#modalkids{% endif %}" class="product-size-image">？如何測量</a>
        </div>
      </div>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id='sizetable-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
              {% if clothing['gender'] == '1' %}
                  女裝尺碼對照參考
              {% elseif clothing['gender'] == '2' %}
                  男裝尺碼對照參考
              {% endif %}
          </h4>
      </div>
      <div class="modal-body">
        <div class="modal-center">
          <center>
            <table id='sizetable'>
                {% if clothing['gender'] == '1' %}
                <tr>
                    <th>Regular</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                </tr>
                <tr>
                    <td>US</td>
                    <td>0</td>
                    <td>2</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>UK</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>EUR/FR</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>JP 1</td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>JP 2</td>
                    <td>3</td>
                    <td>5</td>
                    <td>7</td>
                    <td>9</td>
                    <td>11</td>
                    <td>13</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>牛仔褲</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24.25</td>
                    <td>26.27</td>
                    <td>28.29</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
                {% elseif clothing['gender'] == '2' %}
                <tr>
                    <th>Regular</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                </tr>                
                <tr>
                    <td>US</td>
                    <td></td>
                    <td>14½</td>
                    <td>15</td>
                    <td>15½</td>
                    <td>16</td>
                    <td>16½</td>
                </tr>
                <tr>
                    <td>UK</td>
                    <td></td>
                    <td>14½</td>
                    <td>15</td>
                    <td>15½</td>
                    <td>16</td>
                    <td>16½</td>
                </tr>
                <tr>
                    <td>EUR/FR</td>
                    <td></td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>JP 1</td>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>XXL</td>
                    <td></td>
                </tr>
                <tr>
                    <td>JP 2</td>
                    <td>36-37</td>
                    <td>38-39</td>
                    <td>40-41</td>
                    <td>42-43</td>
                    <td>44</td>
                    <td></td>
                </tr>
                <tr>
                    <td>牛仔褲</td>
                    <td>28-29</td>
                    <td>30-31</td>
                    <td>32-34</td>
                    <td>35-37</td>
                    <td>38-40</td>
                    <td>41-43</td>
                </tr>
                {% endif %}
            </table>
          </center>
            <hr />
        <ul class='product-view-ul'>
        <li>F：One Size / Free Size。</li>
        <li>吊牌/布標遺失、無尺碼，我們會依據丈量尺寸結果，給予衣服一個近似尺碼。<br/>
         ex. Fits L：表示這件好衣尺寸近似 L 。</li>
        <li>上表尺碼對照為普遍情形，可能因各個品牌不同而有所差異，僅供參考。 </li>
        </ul>            
        </div>
      </div>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
