{% extends 'GetMore_HomePage_layout.html.twig' %}
{% block stylesheets %}
/*! newpage by PoKai */

.pagetitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  margin-left: 30px;
  font-weight: bold;
}
.pagecentertitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: bold;
}

.fifthrow {
  overflow: auto;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  min-height: 160px;
}
.plandescription {
  overflow: auto;
  text-align: center;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  min-height: 160px;
  margin-bottom:30px;
}
.pageabouttitle{
  margin: 0 auto;
  width: 230px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;

}
.pageaboutbox{
  margin-top: 15px;
}
.pageaboutp{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 25px;
}

.sixthrow{
  overflow: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
//  min-height: 160px;
  border-bottom: 2px solid #888;
}
.pageliketitle{
  margin: 0 auto;
  width: 330px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;
}

.pagelikebox{
  overflow: auto;
  margin: 20px auto 0px auto;
  display:inline-block; 
}

.pagelikefacebook ,.pagelikeinstagram{
  float: left;
  margin-right: 20px;
}

.pagelikeyoutube{
  float: left;
}

a.pagelikea{
  color: #333;
  text-decoration: none;
}
a.pagelikea:hover{
  color: #000;
  text-decoration: none;
}

#newContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newfooter{
  z-index: 101;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
.fresh-box {
  width: 1000px;
  padding: 0 20px;
  margin-top: 20px;
  overflow: auto;
}
.sellerbanner{
  float: left;
  width: 300px;
  margin: 10px 10px;
}
#newclosetleft{ 
  float: left;
  width: 720px;
  padding: 0px;
  margin-top: 20px;
  overflow: auto;
}
#newclosetright{
  float: left;
  width: 280px;
  padding: 0 20px 0 40px;
  margin-top: 20px;
  overflow: auto;
}
.productcontainer{
  width: 1000px;
  overflow: auto;
}
#newclosetright-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
#newclosetright-content{
  font-size: 16px;
  color: #333;
}
{% endblock %}
{% block body %}
<div id="newbannerContainer"style=" display: block;">
      <div class="productcontainer">
      <div id="newclosetleft">
        <img src="/assets/GetMore_HomePage_files/720300.png" style="margin-bottom:10px;border-radius: 10px;">
        <a target="_blank" href="http://getmore.cc/clothing/view/6259"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6259" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(47).jpg"><div class="fresh-product-title">A/T 卡其雙排釦外套</div><div class="fresh-product-price"><span class="is-deleted">NT$8,001~9,000</span><span class="fresh-product-sale">NT$1790</span></div><span class="size-tag">Size Fits L</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6372"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6372" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(48).jpg"><div class="fresh-product-title">羊毛菱格紋洋裝</div><div class="fresh-product-price"><span class="is-deleted">NT$6,001~7,000</span><span class="fresh-product-sale">NT$2300</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6371"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6371" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(49).jpg"><div class="fresh-product-title">GARCIA針織毛背心</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$1499</span></div><span class="size-tag">Size XS</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6370"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6370" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(50).jpg"><div class="fresh-product-title">艷藍色T恤</div><div class="fresh-product-price"><span class="is-deleted">NT$ 500~1,000</span><span class="fresh-product-sale">NT$300</span></div><span class="size-tag">Size S</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6366"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6366" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><div class="recommended_tag"><img src="/assets/GetMore_HomePage_files/superrecommend.png"></div><img src="/assets/GetMore_HomePage_files/small.jpg"><div class="fresh-product-title">SportMax 背後網狀條紋T</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$350</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6369"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6369" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(51).jpg"><div class="fresh-product-title">針織蝴蝶結扣外套 </div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$1300</span></div><span class="size-tag">Size </span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6364"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6364" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(52).jpg"><div class="fresh-product-title">COCOLULU 帥氣外套</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6363"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6363" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(53).jpg"><div class="fresh-product-title">條紋雪紡露背上衣</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size EU38/US6</span></div></a>            
      </div>
      <div id="newclosetright">
        <div id="newclosetright-title">
          FIVI LEO BOUTIQUE
        </div>
        <div id="newclosetright-content">
          業餘模特兒，常收集歐美古董衣著，分享在我的BOUTIQUE，都只有一件。
        </div>
        <img src="/assets/GetMore_HomePage_files/180180.png" style="margin:20px 0;border-radius: 50%;">
        <hr />
        <div  class="text-center">
          <a href="#" style="font-size:18px;"> 交易政策 </a>
          <hr />
          <a href="#" style="font-size:18px;"> 聯絡賣家 </a>
        </div>
      </div>
    </div>
    <hr />

  </div>
  <div id="newContainer"style="display: block;">
    <div class="fifthrow">
      <div class="pageabouttitle"><font class="pagecentertitle">ABOUT GETMORE</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">GetMore是一個以「共享經濟」為概念的時尚分享網站</div>
        <div class="pageaboutp">在這裡，你可以輕鬆享受二手衣帶來的自由、獨特 、環保等時尚樂趣</div>
        <div class="pageaboutp" style="margin-top:10px;">Enjoy Pre-owed Fashion on GetMore Now!</div>
      </div>
    </div>
    <div class="sixthrow">
      <div class="pageliketitle"><font class="pagecentertitle">GET MORE GETMORE ON</font></div>
      <div class="pagelikebox">
          <div class="pagelikefacebook"><a href="https://www.facebook.com/getmore.cc" class="pagelikea" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></div>
          <div class="pagelikeinstagram"><a href="https://instagram.com/getmorecc/" class="pagelikea" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></div>
          <div class="pagelikeyoutube"><a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/feed" class="pagelikea" target="_blank"><i class="fa fa-youtube-square fa-3x"></i></a></div>
      </div>
    </div>
  </div>
    <div id="newfooter">
    <div class="panel-body bggetmorecolor">
          <div class="panel-box bggetmorecolor">
          <div class="footer-menu">
            <h5>關於GetMore</h5>
            <div class="panel-link">
              <a class="nav-a" href="/info/about#GetMore">
              <h6>GetMore簡介</h6>
              </a>
              <a class="nav-a" href="/info/joinus">
              <h6>加入我們</h6>
              </a>
              <a class="nav-a" href="/info/about#vender">
              <h6>合作夥伴</h6>
              </a>
              <a class="nav-a" href="/info/about#news">
              <h6>媒體報導</h6>
              </a>
              <a href="http://blog.getmore.cc" target="_blank">
              <h6>Blog</h6>
              </a>
            </div>
          </div>
          <div class="footer-menu">
            <h5>我要賣衣服</h5>
            <div class="panel-link">
              <a class="nav-a" href="/info/sell_type">
              <h6>GetMore搶手貨</h6>
              </a>
              <a class="nav-a" href="/info/sellchoice">
              <h6>開始賣衣服</h6>
              </a>
              <a class="nav-a" href="/info/sell#wash">
              <h6>保證嚴格清洗</h6>
              </a>
              <a class="nav-a" href="/info/sell#sellpolicy">
              <h6>代洗代售條款</h6>
              </a>
            </div>
          </div>
          <div class="footer-menu">
            <h5>我要買衣服</h5>
            <div class="panel-link">
              <a href="/info/perfectbuy">
              <h6>完美的購物體驗</h6>
              </a>
              <a href="/info/product">
              <h6>商品頁說明</h6>
              </a>
              <a class="nav-a" href="/info/buy#paynfee">
              <h6>購買說明</h6>
              </a>
              <a class="nav-a" href="/info/buy#return">
              <h6>關於退貨</h6>
              </a>
              <a class="nav-a" href="/info/buy#buypolicy">
              <h6>購買條款</h6>
              </a>
            </div>
          </div>
          <div class="footer-menu">
            <h5>和世界一起</h5>
            <div class="panel-link">
              <a href="/sellorder/info/redress">
              <h6>redress</h6>
              </a>
              <a href="/info/joinintern">
              <h6>實習計畫</h6>
              </a>
            </div>
          </div>
          <div class="footer-menu">
            <h5>客服中心</h5>
            <div class="panel-link">
              <a href="/info/qalist/">
              <h6> Q&amp;A </h6>
              </a>
              <h4> Contact us <br> service@getmore.cc </h4>
              <a href="http://on.fb.me/1e3k3Up" target="_blank"><img src="/assets/images/likeicon/fb.png" alt="" class="panel-like"></a>
              <a href="http://www.youtube.com/channel/UCLQtRAJ28v2e-ymeKJR-yXw/videos/" target="_blank"><img src="/assets/images/likeicon/youtube.png" alt="" class="panel-like"></a>
              <a href="http://blog.getmore.cc" target="_blank"><img src="/assets/images/likeicon/blog.png" alt="" class="panel-like"> </a>
            </div>
          </div>
          </div>
        </div>
  </div>
{% endblock %}