{% extends 'GetMore_HomePage_layout.html.twig' %}
{% block body %}
  <div id="newbannerContainer"style=" width: 1437px; display: block;">
    <div class="fifthrow" style="margin-bottom:30px;">
      <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle">ABOUT BRANDS ONLY</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">國際品牌限定的二手精品專區，每件商品都經過第三方專業清洗整燙，</div>
        <div class="pageaboutp">由GetMore統一出貨，2折起，輕鬆上手精品服飾！</div>
      </div>
    </div>
  </div>  
<div id="newContainer"style=" width: 1437px; display: block;">
        <div class="fresh" style="padding-top: 0px;">
      <span class="fresh-title">
        主編推薦 / EDIT's PICK
      </span>
      <div class="fresh-box">
        
        <a target="_blank" href="http://getmore.cc/clothing/view/6259"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6259" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(47).jpg"><div class="fresh-product-title">A/T 卡其雙排釦外套</div><div class="fresh-product-price"><span class="is-deleted">NT$8,001~9,000</span><span class="fresh-product-sale">NT$1790</span></div><span class="size-tag">Size Fits L</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6372"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6372" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(48).jpg"><div class="fresh-product-title">羊毛菱格紋洋裝</div><div class="fresh-product-price"><span class="is-deleted">NT$6,001~7,000</span><span class="fresh-product-sale">NT$2300</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6371"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6371" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(49).jpg"><div class="fresh-product-title">GARCIA針織毛背心</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$1499</span></div><span class="size-tag">Size XS</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6370"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6370" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(50).jpg"><div class="fresh-product-title">艷藍色T恤</div><div class="fresh-product-price"><span class="is-deleted">NT$ 500~1,000</span><span class="fresh-product-sale">NT$300</span></div><span class="size-tag">Size S</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6366"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6366" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><div class="recommended_tag"><img src="/assets/GetMore_HomePage_files/superrecommend.png"></div><img src="/assets/GetMore_HomePage_files/small.jpg"><div class="fresh-product-title">SportMax 背後網狀條紋T</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$350</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6369"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6369" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(51).jpg"><div class="fresh-product-title">針織蝴蝶結扣外套 </div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$1300</span></div><span class="size-tag">Size </span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6364"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6364" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(52).jpg"><div class="fresh-product-title">COCOLULU 帥氣外套</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6363"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6363" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(53).jpg"><div class="fresh-product-title">條紋雪紡露背上衣</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size EU38/US6</span></div></a></div>
    </div>
    <!-- fresh product -->
    <!-- fresh product -->
    <div class="fresh">
      <span class="fresh-title">
        新鮮推薦 / NEW LOOK
      </span>
      <div class="fresh-box">
        
        <a target="_blank" href="http://getmore.cc/clothing/view/6259"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6259" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(47).jpg"><div class="fresh-product-title">A/T 卡其雙排釦外套</div><div class="fresh-product-price"><span class="is-deleted">NT$8,001~9,000</span><span class="fresh-product-sale">NT$1790</span></div><span class="size-tag">Size Fits L</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6372"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6372" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(48).jpg"><div class="fresh-product-title">羊毛菱格紋洋裝</div><div class="fresh-product-price"><span class="is-deleted">NT$6,001~7,000</span><span class="fresh-product-sale">NT$2300</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6371"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6371" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(49).jpg"><div class="fresh-product-title">GARCIA針織毛背心</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$1499</span></div><span class="size-tag">Size XS</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6370"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6370" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(50).jpg"><div class="fresh-product-title">艷藍色T恤</div><div class="fresh-product-price"><span class="is-deleted">NT$ 500~1,000</span><span class="fresh-product-sale">NT$300</span></div><span class="size-tag">Size S</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6366"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6366" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><div class="recommended_tag"><img src="/assets/GetMore_HomePage_files/superrecommend.png"></div><img src="/assets/GetMore_HomePage_files/small.jpg"><div class="fresh-product-title">SportMax 背後網狀條紋T</div><div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$350</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6369"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6369" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(51).jpg"><div class="fresh-product-title">針織蝴蝶結扣外套 </div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$1300</span></div><span class="size-tag">Size </span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6364"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6364" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(52).jpg"><div class="fresh-product-title">COCOLULU 帥氣外套</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size M</span></div></a>        
        <a target="_blank" href="http://getmore.cc/clothing/view/6363"><div class="fresh-product-view"><div class="like_tag to_like" data-id="6363" style="display: none;"><img src="/assets/GetMore_HomePage_files/to_like.png"></div><img src="/assets/GetMore_HomePage_files/small(53).jpg"><div class="fresh-product-title">條紋雪紡露背上衣</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$800</span></div><span class="size-tag">Size EU38/US6</span></div></a></div>
    </div>
    <!-- fresh product -->

    <div style="clear: both;"></div>
    <div class="gotonew text-center"><a href="http://getmore.cc/clothing/category/new" class="btn btn-default enterplanbtn" role="button" style="width:920px;">到最新上架一件一件逛 &gt;&gt;</a></div>



    <div class="fifthrow">
      <div class="pageabouttitle"><font class="pagecentertitle">ABOUT GETMORE</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">GetMore是一個以「共享經濟」為概念的時尚分享網站</div>
        <div class="pageaboutp">在這裡，你可以輕鬆享受二手衣帶來的自由、獨特 、環保等時尚樂趣</div>
        <div class="pageaboutp" style="margin-top:10px;">Enjoy Pre-owed Fashion on GetMore Now!</div>
      </div>
    </div>
    <div class="sixthrow">
      <div class="pageliketitle"><font class="pagecentertitle">GET MORE GETMORE ON</font></div>
      <div class="pagelikebox">
          <div class="pagelikefacebook"><a href="https://www.facebook.com/getmore.cc" class="pagelikea" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></div>
          <div class="pagelikeinstagram"><a href="https://instagram.com/getmorecc/" class="pagelikea" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></div>
          <div class="pagelikeyoutube"><a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/feed" class="pagelikea" target="_blank"><i class="fa fa-youtube-square fa-3x"></i></a></div>
      </div>
    </div>
  </div>
{% endblock %}