{% extends 'GetMore_HomePage_layout.html.twig' %}

{% block stylesheets %}
.carousel-inner{
  width: 326px;
  max-height: 450px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  height: 450px;
}

#newbannerfirstrow{
  height: 450px;
  overflow: hidden;
}
{% endblock %}

{% block body %}
<div id="newbannerContainer"style="display: block;">
  <div id="newbannerfirstrow">
    <div id="newbanner-1">

    </div>
{#     <div id="newbanner-2">
      <img src="/assets/GetMore_HomePage_files/326450.png">
    </div> #}

      <div id="newbanner-2">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
            <div class="carousel-inner">
{#               <div class="item active">
                <a href='http://getmore.cc/clothing/category'><img src="/assets/images/banner/banner-00.jpg"></a>
              </div>
              <div class="item">
                <a href='/clothing/category/new/'><img src="https://dl.dropboxusercontent.com/u/13417710/newbanner.jpg"></a>
              </div>
              <div class="item">
                <a href='http://getmore.cc/sellorder/info/bigvip'><img src="/assets/images/banner/banner-01.jpg"></a>
              </div>
              <div class="item">
                <a href='http://getmore.cc/sellorder/info/sellintro/'><img src="/assets/images/banner/banner-02.jpg"></a>
              </div>
              <div class="item">
                <a data-toggle="modal" href="#modalbtn-04"><img src="/assets/images/banner/banner-03.jpg"></a>
              </div>
              <div class="item">
                <a href='http://getmore.cc/sellorder/steps/1'><img src="/assets/images/banner/banner-04.jpg"></a>
              </div>
              <div class="item">
                <a href='http://getmore.cc/sellorder/info/idea/'><img src="/assets/images/banner/banner-05.jpg"></a>
              </div>
              <div class="item">
                <a href="http://getmore.cc/sellorder/info/washintro/"><img src="/assets/images/banner/banner-06.jpg"></a>
              </div> #}
            </div>
          <!-- Controls -->
{#           <a class="left carousel-control" href="#main-carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#main-carousel" data-slide="next">
            <span class="icon-next"></span>
          </a> #}
          <!-- Indicators -->
{#           <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            <li data-target="#main-carousel" data-slide-to="4"></li>
            <li data-target="#main-carousel" data-slide-to="5"></li>
            <li data-target="#main-carousel" data-slide-to="6"></li>
          </ol> #}
        </div>
      </div>

  </div>
  <div id="newbannersecondrow">
    <div id="newbanner-3">

    </div>
    <div id="newbanner-4">

    </div>
    <div id="newbanner-5">

    </div>
  </div>

</div>
<div id="newContainer"style="display: block;">
  <div class="fifthrow">
    <div class="pageabouttitle"><font class="pagecentertitle">ABOUT GETMORE</font></div>
    <div class="pageaboutbox">
      <div class="pageaboutp">GetMore是一個以「共享經濟」為概念的時尚分享網站</div>
      <div class="pageaboutp">在這裡，你可以輕鬆享受二手衣帶來的自由、獨特 、環保等時尚樂趣</div>
      <div class="pageaboutp" style="margin-top:10px;">Enjoy Pre-owed Fashion on GetMore Now!</div>
    </div>
  </div>
  <div class="sixthrow">
    <div class="pageliketitle"><font class="pagecentertitle">GET MORE GETMORE ON</font></div>
    <div class="pagelikebox">
        <div class="pagelikefacebook"><a href="https://www.facebook.com/getmore.cc" class="pagelikea" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></div>
        <div class="pagelikeinstagram"><a href="https://instagram.com/getmorecc/" class="pagelikea" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></div>
        <div class="pagelikeyoutube"><a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/feed" class="pagelikea" target="_blank"><i class="fa fa-youtube-square fa-3x"></i></a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // event.preventDefault();
        // var form = this;
        var actionUrl = "/restful/banner";

        var banner_template_first = _.template('<div class="item active"><a href="<%=href%>"><img src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a></div>');
        var banner_template_first_newtarget = _.template('<div class="item active"><a href="<%=href%>" target="_blank"><img src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a></div>');

        var banner_template = _.template('<div class="item"><a href="<%=href%>"><img src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a></div>');
        var banner_template_newtarget = _.template('<div class="item"><a href="<%=href%>" target="_blank"><img src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a></div>');

        $.ajax({
            // processData: false,
            // contentType: false,
            type: 'GET',
            url: actionUrl,
            //data: formData,
            dataType: 'json'
        }).done(function(post){
            var index = 0;
            var count = post.length;
            var neworder = 0;
            var first = 0;
            var html = "";
            for ( var i = 0 ; i <= count ; i++ ) {
                index = 0;
                for( index in post ){
                    if ( post[index]['type'] == 2 && post[index]['order'] == i ) { // change type
                        // console.log(post[index]);
                        if ( first == 0 ) {
                          if ( post[index]['open_in_new_tab'] == 1 )
                            html = banner_template_first_newtarget(post[index]);
                          else
                            html = banner_template_first(post[index]);

                          first++;
                        } // if
                        else {
                          if ( post[index]['open_in_new_tab'] == 1 )
                            html = banner_template_newtarget(post[index]);
                          else
                            html = banner_template(post[index]);

                          html = banner_template(post[index]);
                        } // else

                        // console.log(html);
                        $('.carousel-inner').append(html);   
                    } // if 
                } // for
            } // for

        }).fail(function(error){
            console.log(error);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // event.preventDefault();
        // var form = this;
        var actionUrl = "/restful/banner";

        var banner1_template = _.template('<a href="<%=href%>"><img style="width:660px; height:450px;" src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a>');
        var banner1_template_newtarget = _.template('<a href="<%=href%>"target="_blank"><img style="width:660px;height:450px;" src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a>');
        var banner_template = _.template('<a href="<%=href%>"><img style="width:325px;height:325px;" src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a>');
        var banner_template_newtarget = _.template('<a href="<%=href%>"target="_blank"><img style="width:325px;height:325px;" src="http://s3.getmore.cc/banner/<%=file_id%>.jpg"></a>');


        var banner1Index = [];
        $.ajax({
            // processData: false,
            // contentType: false,
            type: 'GET',
            url: actionUrl,
            //data: formData,
            dataType: 'json'
        }).done(function(post){
            var count = post.length - 1;
            var exit = 0;
            var exit1 = 0;
            var exit3 = 0;
            var exit4 = 0;
            var exit5 = 0;
            var html = "";
            var random = Math.floor(Math.random() * count);
            // for ( var i = 0, j = 0 ; i < count ; i++ ) {
            //   if ( parseInt(post[i]['type']) == 1 ) {
            //     banner1Index[j] = i;
            //   } // if 
            // } // for
            while ( exit < 4 ) {
              // console.log(post[random]['type']);
              console.log( random );
              if ( exit1 == 0 && parseInt(post[random]['type']) == 1 ) { // change type
                  console.log(post[random]);
                    if ( post[random]['open_in_new_tab'] == 1 )
                      html = banner1_template_newtarget(post[random]);
                    else
                      html = banner1_template(post[random]);
                  $('#newbanner-1').append(html);  
                  exit1 = 1; 
                  exit++;

              } // if 
              else if ( exit3 == 0 && parseInt(post[random]['type']) == 3 ) { 
                  console.log(post[random]);
                    if ( post[random]['open_in_new_tab'] == 1 )
                      html = banner_template_newtarget(post[random]);
                    else
                      html = banner_template(post[random]);
                  $('#newbanner-3').append(html);  
                  exit3 = 1; 
                  exit++;
              } // if
              else if ( exit4 == 0 && parseInt(post[random]['type']) == 4 ) { 
                  console.log(post[random]);
                    if ( post[random]['open_in_new_tab'] == 1 )
                      html = banner_template_newtarget(post[random]);
                    else
                      html = banner_template(post[random]);
                  $('#newbanner-4').append(html);  
                  exit4 = 1; 
                  exit++;
              } // if
              else if ( exit5 == 0 && parseInt(post[random]['type']) == 5 ) { 
                  console.log(post[random]);
                    if ( post[random]['open_in_new_tab'] == 1 )
                      html = banner_template_newtarget(post[random]);
                    else
                      html = banner_template(post[random]);
                  $('#newbanner-5').append(html);  
                  exit5 = 1; 
                  exit++;
              } // if

              random = Math.floor(Math.random()*(count-0+1)+0);
            } // while

        }).fail(function(error){
            console.log(error);
        });
    });
</script>
{% endblock %}