{% extends 'new_page_layout.html.twig' %}
{% block stylesheets %}
/*! newpage by PoKai */

.pagetitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  margin-left: 30px;
  font-weight: bold;
}
.pagecentertitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: bold;
}

.fifthrow {
  overflow: auto;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  min-height: 160px;
}
.plandescription {
  overflow: auto;
  text-align: center;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  min-height: 160px;
  margin-bottom:30px;
}
.pageabouttitle{
  margin: 0 auto;
  width: 230px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;

}
.pageaboutbox{
  margin-top: 15px;
}
.pageaboutp{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 25px;
}

.sixthrow{
  overflow: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
//  min-height: 160px;
  border-bottom: 2px solid #888;
}
.pageliketitle{
  margin: 0 auto;
  width: 330px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;
}

.pagelikebox{
  overflow: auto;
  margin: 20px auto 0px auto;
  display:inline-block; 
}

.pagelikefacebook ,.pagelikeinstagram{
  float: left;
  margin-right: 20px;
}

.pagelikeyoutube{
  float: left;
}

a.pagelikea{
  color: #333;
  text-decoration: none;
}
a.pagelikea:hover{
  color: #000;
  text-decoration: none;
}

#newContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newfooter{
  z-index: 101;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
.fresh-box {
  width: 1000px;
  padding: 0 20px;
  margin-top: 20px;
  overflow: auto;
}
.sellerbanner{
  float: left;
  width: 300px;
  margin: 10px 10px;
}
#newclosetleft{ 
  float: left;
  width: 720px;
  padding: 0px;
  margin-top: 20px;
  overflow: auto;
}
#newclosetright{
  float: left;
  width: 280px;
  padding: 0 20px 0 40px;
  margin-top: 20px;
  overflow: auto;
}
.productcontainer{
  width: 1000px;
  overflow: auto;
}
#newclosetright-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
#newclosetright-content{
  font-size: 16px;
  color: #333;
}
{% endblock %}
{% block body %}
<div id="newbannerContainer"style=" display: block;">
      <div class="productcontainer">
      <div id="newclosetleft">
        {% if banner_photo_file_id != 0 %}
          <img src="http://s3.getmore.cc/signboard/{{banner_photo_file_id}}.jpg" style="margin-bottom:10px;border-radius: 10px;width720px;height:300px;">
        {% else %}
          <img src="/assets/GetMore_HomePage_files/720300.png" style="margin-bottom:10px;border-radius: 10px;">
        {% endif %}

        {% for clothing in clothing_plan_a %}
            <a target="_blank" href="/clothing/marketplace/{{clothing.id}}">
              <div class="fresh-product-view">
                <div class="like_tag to_like" data-id="6259" style="display: none;">
                  <img src="/assets/likeicon/to_like.png">
                </div>
                <img src="http://s3.getmore.cc/clothing/{{ clothing.files|split_files|array_shift }}/medium.jpg">
                <div class="fresh-product-title">{{clothing.product_brand}} {{clothing.product_title}}</div>
                <div class="fresh-product-price">
                  <span class="is-deleted">NT${{clothing.product_original_price}}</span>
                  <span class="fresh-product-sale">NT${{clothing.product_sell_price}}</span>
                </div>
                <span class="size-tag">.....</span>
              </div>
            </a>   
        {% endfor %}
      </div>
      <div id="newclosetright">
        <div id="newclosetright-title">
          FIVI LEO BOUTIQUE
        </div>
        <div id="newclosetright-content">
          業餘模特兒，常收集歐美古董衣著，分享在我的BOUTIQUE，都只有一件。
        </div>
        {% if profile_photo_file_id != 0 %}
          <img src="http://s3.getmore.cc/profile/{{profile_photo_file_id}}/medium.jpg" style="margin:20px 0;border-radius: 50%; width:180px;height:180px;">
        {% else %}
          <img src="/assets/GetMore_HomePage_files/180180.png" style="margin:20px 0;border-radius: 50%;">
        {% endif %}
        <hr />
        <div  class="text-center">
          <a data-toggle="modal" data-target="#trad_rule" href="#" target="_blank"style="font-size:18px;color:">交易政策</a>
          <hr />
          <a href="#" style="font-size:18px;"> 聯絡賣家 </a>
        </div>
      </div>
    </div>
    <hr />

  </div>
        <div class="modal fade" id='trad_rule'>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="text-center">交易政策</h3>
              </div>
              <div class="modal-body">
                <p>
                  <h3>出貨時間</h3>
                  {{trade_time}}
                  <hr>
                  <h3>配送方式</h3>
                  {{trade_method}}
                  <hr>
                  <h3>運送時間</h3>
                  {{trade_transport}}
                  <hr>
                  <h3>退貨政策</h3>
                  {{trade_returns}}
                </p>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
{% endblock %}
