{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.css" rel="stylesheet">
<style>
.error-div {
    margin:3px;
    border:1px solid rgb(196,59,29);
}
.select-box {
    width: 204px !important;
}
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.nobgnoboard{
    background-color: #f7f7f9;
    border: 0px;
}
.birthdayPicker{
    padding: 7px 10px 20px;
}
</style>
<style>
.editpimg {
  width: 30px;
  margin: 5px;
}
.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.col-726{
    padding-right: 0;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #006699;
  border-color: #006699;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.input-group-addon {
    border: 0px !important;
    background-color:transparent !important;
}

.measure-input {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
}
.cm-text {
    border: 0px;
    background-color: #FFFFFF;
}
.add-style-btn {
    display: inline-block;
}
#free_style-tokenfield {
    min-width: 629px !important;
}

.address-city{
  float: left;
  width: 100px;
  margin-right: 5px;
}

.address-zip{
  float: left;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

.addressdetail{
  width: 350px;
  margin-top: 3px;
}

</style>
{% endblock %}

{% block body %}
<div class='col-md-10 col-md-offset-1 certifycontainer'>
    <form id="account_activated_form" action="account_activated" method="post" enctype="multipart/form-data">
        <div class="upload-direction">
            <h3><i class="fa fa-check-circle" style="color:#FFCC22;"></i>&nbsp;時尚買手帳號開通</h3>
            <p>歡迎您加入成為 Getmore 的時尚買手夥伴。 在上架前，請您先完成線上認證程序，包含手機認證，此為一次性的認證，若有任何問題，歡迎聯繫您的相關服務專員，或點選右下角的<i class="fa fa-question-circle fa-lg" style="color:#bbb"></i>，將儘快解答您的問題。</p>
        </div>
        <hr />
        <div class="upload-direction">
            <div><label><input type="checkbox" class="agree_getmore">&nbsp;我已經瀏覽並同意所有Getmore 的<a href="http://desk.getmore.cc/knowledgebase/articles/761004-%E6%99%82%E5%B0%9A%E8%B2%B7%E6%89%8B%E8%A6%8F%E7%AF%84" target="_blank">合作時尚買手相關規範</a></label></div>
            <div><label><input type="checkbox" class="agree_data">&nbsp;我同意成為 Getmore認證時尚買手，並了解 Getmore有可能取用我上傳資訊作為平台營運使用。</label></div>
        </div>
        <hr />
        <div class="upload-direction">
            <label><u>個人大頭照</u></label>
            <p>請上傳一張300 X 300以上（寬 X 高，等比例)照片</p>
            <div class="profile_preview" style="width: 300px;">
                <img src="holder.js/300x300" class="profile" data-src="holder.js/300x300">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                </div>
            </div>
            <input type="hidden" name="buyer[profile]">
            <input id="personal_photo" type="file" style="display: none;">
            <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
        </div>
        <div class="upload-direction">
            <label><u>品牌招牌</u></label>
            <p>請上傳一張720 X 260以上（寬 X 高，等比例)照片，招牌是您品牌的門面。<a href="http://desk.getmore.cc/knowledgebase/articles/760797-%E5%A6%82%E4%BD%95%E9%96%8B%E9%80%9A%E8%A8%AD%E8%A8%88%E5%B8%AB%E5%B8%B3%E8%99%9F" target="_blank">製作招牌小技巧</a></p>
            <div class="signboard_preview" style="width: 720px;">
                <img src="holder.js/720x260" class="signboard" data-src="holder.js/720x260">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                </div>
            </div>
            <input type="hidden" name="buyer[signboard]">
            <input id="signboard_file" type="file" style="display: none;">
            <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
        </div>
        <div class="upload-direction">
            <label><u>品牌Logo</u></label>
            <p>請上傳一張寬度不超過350，高度不超過50，盡量以logo字樣置中於白底的圖片</p>
            <div class="logo_preview" style="width: 350px;">
                <img src="holder.js/350x50" class="logo" data-src="holder.js/350x50">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                </div>
            </div>
            <input type="hidden" name="buyer[logo]">
            <input id="logo_photo" type="file" style="display: none;">
            <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
        </div>
        <div class="upload-direction">
            <label><u>品牌名稱</u></label>
            <p>請填入您的品牌名稱</p>
            <input type="text" name="buyer[title]" class="form-control input-area">
        </div>
        <div class="upload-direction">
            <label><u>品牌介紹</u></label>
            <p>請輸入您的品牌介紹，讓消費者更加認識您。</p>
            <textarea type="text" name="buyer[description]" class="form-control" rows="5"></textarea>
        </div>
        <hr />
            <!--<div class="upload-direction">
                <center><h3>個人資訊</h3></center>
                <hr>
            </div>-->
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="buyer_account" class="col-md-3 control-label">品牌網址：</label>
                    <div class="col-md-8 has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon">http://getmore.cc/buyer/</span>
                            <input type="text" class="form-control" name="buyer[url_code]" id="buyer_url">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <span class="help-block" style="color: grey;">請輸入英文字母（網址列顯示為小寫）或數字五個字元以上，不可輸入空格（space）、中文 或其他符號。 本項目一經開通後，無法任意更改。</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="name" class="col-md-3 control-label">公司名稱：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name" name="buyer[company_name]">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="tax_id" class="col-md-3 control-label">統一編號：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="buyer[tax_id]" id="tax_id">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="mobile_phone" class="col-md-3 control-label" maxlength="10">手機號碼：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" style="border-radius:0px; width: 9em;"name="user[mobile_phone]" id="mobile_phone" value="{{ mobile_phone }}">
                        <span class="help-block" style="color: grey;">簡訊認證用</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="active_email" class="col-md-3 control-label">常用電子郵件信箱：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="user[active_email]" id="active_email" value="{{ email }}">
                    </div>
                </div>
            <div class="form-group form-horizontal" style="overflow: auto;">
              <label for="putname" class="col-md-3 control-label">聯絡地址：</label>
              <div class="nameandgender col-md-9">
                <div id="address_twzipcode">
                  <div class="address-city">
                    <div data-role="county" data-name="buyer[county]" data-style="form-control" data-value="{{ address_info.county }}"></div>
                  </div>
                  <div class="address-city">
                    <div data-role="district" data-name="buyer[district]" data-style="form-control" data-value="{{ address_info.district }}"></div>
                  </div>
                  <div class="address-zip">
                    <div data-role="zipcode" data-name="buyer[zipcode]" data-style="form-control" data-value="{{ address_info.zipcode }}"></div>
                  </div>
                </div>
                <div class="addressdetail">
                    <input type="text" name="buyer[address]" class="form-control required" placeholder="請填寫詳細地址" value="{{ address_info.address }}">
                </div>
              </div>
            </div>
            <br/>
            <hr />
            <div class="upload-direction">
            請提供與申請人相同戶名之匯款帳戶，並上傳存摺封面檔案，本項目一經開通後，無法任意更改，匯款以您輸入的資料為主，影本為資料留存。</div>
            <div class="panel-body">
                <!-- <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_name" class="col-sm-2 control-label">銀行名稱：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="bank[title]" id="bank_name">
                    </div>
                </div> -->
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_number" class="col-md-3 control-label">銀行名稱(代號)：</label>
                    <div class="col-md-8">
                        <select class="form-control" name="bank[code]" id="bank_number">
                            <option value="0"> </option>
                            <option value="004-臺灣銀行">004 - 臺灣銀行</option> 
                            <option value="005-土地銀行">005 - 土地銀行</option> 
                            <option value="006-合作商銀">006 - 合作商銀</option> 
                            <option value="007-第一銀行">007 - 第一銀行</option> 
                            <option value="008-華南銀行">008 - 華南銀行</option> 
                            <option value="009-彰化銀行">009 - 彰化銀行</option> 
                            <option value="011-上海商業儲蓄銀行">011 - 上海商業儲蓄銀行</option> 
                            <option value="012-台北富邦銀行">012 - 台北富邦銀行</option> 
                            <option value="013-國泰世華銀行">013 - 國泰世華銀行</option> 
                            <option value="016-高雄銀行">016 - 高雄銀行</option> 
                            <option value="017-兆豐國際商業銀行">017 - 兆豐國際商業銀行</option> 
                            <option value="018-農業金庫">018 - 農業金庫</option> 
                            <option value="021-花旗(台灣)商業銀行">021 - 花旗(台灣)商業銀行</option> 
                            <option value="025-首都銀行">025 - 首都銀行</option> 
                            <option value="039-澳商澳盛銀行">039 - 澳商澳盛銀行</option> 
                            <option value="040-中華開發工業銀行">040 - 中華開發工業銀行</option> 
                            <option value="050-臺灣企銀">050 - 臺灣企銀</option> 
                            <option value="052-渣打國際商業銀行">052 - 渣打國際商業銀行</option> 
                            <option value="053-台中商業銀行">053 - 台中商業銀行</option> 
                            <option value="054-京城商業銀行">054 - 京城商業銀行</option> 
                            <option value="072-德意志銀行">072 - 德意志銀行</option> 
                            <option value="075-東亞銀行">075 - 東亞銀行</option> 
                            <option value="081-匯豐(台灣)商業銀行">081 - 匯豐(台灣)商業銀行</option> 
                            <option value="085-新加坡商新加坡華僑銀行">085 - 新加坡商新加坡華僑銀行</option> 
                            <option value="101-大台北銀行">101 - 大台北銀行</option> 
                            <option value="102-華泰銀行">102 - 華泰銀行</option> 
                            <option value="103-臺灣新光商銀">103 - 臺灣新光商銀</option> 
                            <option value="104-台北五信">104 - 台北五信</option> 
                            <option value="106-台北九信">106 - 台北九信</option> 
                            <option value="108-陽信商業銀行">108 - 陽信商業銀行</option> 
                            <option value="114-基隆一信">114 - 基隆一信</option> 
                            <option value="115-基隆二信">115 - 基隆二信</option> 
                            <option value="118-板信商業銀行">118 - 板信商業銀行</option> 
                            <option value="119-淡水一信">119 - 淡水一信</option> 
                            <option value="120-淡水信合社">120 - 淡水信合社</option> 
                            <option value="124-宜蘭信合社">124 - 宜蘭信合社</option> 
                            <option value="127-桃園信合社">127 - 桃園信合社</option> 
                            <option value="130-新竹一信">130 - 新竹一信</option> 
                            <option value="132-新竹三信">132 - 新竹三信</option> 
                            <option value="146-台中二信">146 - 台中二信</option> 
                            <option value="147-三信商業銀行">147 - 三信商業銀行</option> 
                            <option value="158-彰化一信">158 - 彰化一信</option> 
                            <option value="161-彰化五信">161 - 彰化五信</option> 
                            <option value="162-彰化六信">162 - 彰化六信</option> 
                            <option value="163-彰化十信">163 - 彰化十信</option> 
                            <option value="165-鹿港信合社">165 - 鹿港信合社</option> 
                            <option value="178-嘉義三信">178 - 嘉義三信</option> 
                            <option value="179-嘉義四信">179 - 嘉義四信</option> 
                            <option value="188-台南三信">188 - 台南三信</option> 
                            <option value="204-高雄三信">204 - 高雄三信</option> 
                            <option value="215-花蓮一信">215 - 花蓮一信</option> 
                            <option value="216-花蓮二信">216 - 花蓮二信</option> 
                            <option value="222-澎湖一信">222 - 澎湖一信</option> 
                            <option value="223-澎湖二信">223 - 澎湖二信</option> 
                            <option value="224-金門信合社">224 - 金門信合社</option> 
                            <option value="512-雲林區漁會">512 - 雲林區漁會</option> 
                            <option value="515-嘉義區漁會">515 - 嘉義區漁會</option> 
                            <option value="517-南市區漁會">517 - 南市區漁會</option> 
                            <option value="518-南縣區漁會">518 - 南縣區漁會</option> 
                            <option value="520-小港區漁會">520 - 小港區漁會</option> 
                            <option value="520-高雄區漁會">520 - 高雄區漁會</option> 
                            <option value="521-彌陀區漁會">521 - 彌陀區漁會</option> 
                            <option value="521-永安區漁會">521 - 永安區漁會</option> 
                            <option value="521-興達港區漁">521 - 興達港區漁會</option> 
                            <option value="521-林園區漁會">521 - 林園區漁會</option> 
                            <option value="523-東港漁會">523 - 東港漁會</option> 
                            <option value="523-琉球區漁會">523 - 琉球區漁會</option> 
                            <option value="523-林邊區漁會">523 - 林邊區漁會</option> 
                            <option value="524-新港區漁會">524 - 新港區漁會</option> 
                            <option value="525-澎湖區漁會">525 - 澎湖區漁會</option> 
                            <option value="605-高雄市農會">605 - 高雄市農會</option> 
                            <option value="612-豐原市農會">612 - 豐原市農會</option> 
                            <option value="612-神岡鄉農會">612 - 神岡鄉農會</option> 
                            <option value="613-名間農會">613 - 名間農會</option> 
                            <option value="614-彰化地區農會">614 - 彰化地區農會</option> 
                            <option value="616-雲林地區農會">616 - 雲林地區農會</option> 
                            <option value="617-嘉義地區農會">617 - 嘉義地區農會</option> 
                            <option value="618-台南地區農會">618 - 台南地區農會</option> 
                            <option value="619-高雄地區農會">619 - 高雄地區農會</option> 
                            <option value="620-屏東地區農會">620 - 屏東地區農會</option> 
                            <option value="621-花蓮地區農會">621 - 花蓮地區農會</option> 
                            <option value="622-台東地區農會">622 - 台東地區農會</option> 
                            <option value="624-澎湖農會">624 - 澎湖農會</option> 
                            <option value="625-台中市農會">625 - 台中市農會</option> 
                            <option value="627-連江縣農會">627 - 連江縣農會</option> 
                            <option value="700-中華郵政">700 - 中華郵政</option> 
                            <option value="803-聯邦商業銀行">803 - 聯邦商業銀行</option> 
                            <option value="805-遠東銀行">805 - 遠東銀行</option> 
                            <option value="806-元大銀行">806 - 元大銀行</option> 
                            <option value="807-永豐銀行">807 - 永豐銀行</option> 
                            <option value="808-玉山銀行">808 - 玉山銀行</option> 
                            <option value="809-萬泰銀行">809 - 萬泰銀行</option> 
                            <option value="810-星展銀行">810 - 星展銀行</option> 
                            <option value="812-台新銀行">812 - 台新銀行</option> 
                            <option value="814-大眾銀行">814 - 大眾銀行</option> 
                            <option value="815-日盛銀行">815 - 日盛銀行</option> 
                            <option value="816-安泰銀行">816 - 安泰銀行</option> 
                            <option value="822-中國信託">822 - 中國信託</option> 
                            <option value="901-大里市農會">901 - 大里市農會</option> 
                            <option value="903-汐止農會">903 - 汐止農會</option> 
                            <option value="904-新莊農會">904 - 新莊農會</option> 
                            <option value="910-財團法人農漁會聯合資訊中心">910 - 財團法人農漁會聯合資訊中心</option> 
                            <option value="912-冬山農會">912 - 冬山農會</option> 
                            <option value="916-草屯農會">916 - 草屯農會</option> 
                            <option value="922-台南市農會">922 - 台南市農會</option> 
                            <option value="928-板橋農會">928 - 板橋農會</option> 
                            <option value="951-北農中心">951 - 北農中心</option> 
                            <option value="954中南部地區農漁會-">954 - 中南部地區農漁會</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_branch" class="col-md-3 control-label">分行名稱：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[branch]" id="bank_branch">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_account" class="col-md-3 control-label">帳       號：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[account]" id="bank_account">
                        <span class="help-block" style="color: grey;">請直接輸入數字部分</span>
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_username" class="col-md-3 control-label">戶       名：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="bank[username]" id="bank_username">
                    </div>
                </div>
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label for="bank_book_cover" class="col-md-3 control-label">存摺封面：</label>
                    <div class="col-md-8">
                        <input type="file" class="form-control" name="bank[bank_book_cover]" id="bank_book_cover">
                        <span class="help-block" style="color: grey;">請提供.pdf, .jpg或.png檔案</span>
                    </div>
                </div>
            </div>
        <hr />
        <div class="upload-direction">
            <div class="panel-heading">發票資訊</div>
            <div class="panel-body">
                <div class="form-group form-horizontal" style="overflow: auto;">
                    <label class="col-md-3 control-label">如何開立發票：</label>
                    <div class="btn-group col-md-8" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" value="1" name="invoice[type]" autocomplete="off" checked> 捐贈發票
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="2" name="invoice[type]" autocomplete="off"> 二聯式發票
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="3" name="invoice[type]" autocomplete="off"> 三聯式發票
                        </label>
                    </div>
                </div>
                <div id="input_for_invoice2">
                    <label for="invoice[carriertype]">請選擇</label>
                    <div>
                        <label>
                            <input type="radio" value="1" name="invoice[carriertype]" autocomplete="off" checked>&nbsp;存在Getmore自動對獎(會員載具)
                        </label>
                        </br>
                        <label>
                            <input type="radio" value="2" name="invoice[carriertype]" autocomplete="off">&nbsp;共通性載具
                        </label>
                    </div>
                </div>
                <div id="input_for_invoice3">
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-3  control-label">發票抬頭：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="invoice[title]">
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-3 control-label">統一編號：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="invoice[number]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="certifycontainer" style="border:0px;">
            <div class="upload-direction">
                <p>交易政策請妥善填寫，清楚寫出您的買賣規範，以確保自身權利，以減少買賣糾紛。填寫完成，Getmore將自動帶入您衣櫃的交易政策，套用到所有商品上。</p>
            </div>
            <div class="form-group upload-direction">
                <label for="trade_time"><u>商品寄送時間</u></label>
                <p>建議清楚填寫出貨時間，越快速買家滿意度也會越高。</p>
                <textarea class="form-control" name="trade[time]" rows="5" placeholder="確認付款後的 3 天內會將商品寄出">{{ trade.time|nl2br }}</textarea>
                <div class="planaex">字數限制100字，還剩 <span class="text_count">{{ 100 - trade.time|length }}</span> 字。</div>
            </div>
            <div class="form-group upload-direction">
                <label for="trade_method"><u>寄送方式</u></label>
                <p>請依照您所選擇的物流而訂定，除了快速，更重要的是在你所訂定的時間內送達，買家滿意度將會提高。<span style="color: red;">若您選擇其他貨運，請在【商品運送時間】欄位註明貨運名稱。</span></p>
                <select class="form-control width375" name="trade[method]">
                    <option value="黑貓宅急便" {% if trade.method == "黑貓宅急便" %}selected{% endif %}>黑貓宅急便</option>
                    <option value="郵局" {% if trade.method == "郵局" %}selected{% endif %}>郵局</option>
                    <option value="宅配通" {% if trade.method == "宅配通" %}selected{% endif %}>宅配通</option>
                    <option value="新竹物流" {% if trade.method == "新竹物流" %}selected{% endif %}>新竹物流</option>
                    <option value="其他貨運" {% if trade.method == "其他貨運" %}selected{% endif %}>其他貨運</option>
                </select>
            </div>
            <div class="upload-direction form-inline">
                <label><u>運費資訊</u></label>
                <div style="line-height: 35px;" class="form-inline">
                    <div class="form-group">
                        <label><input type="radio" name="shipping_price" checked="checked" value="1">運費</label>
                        <div class="input-group">
                          <div class="input-group-addon">NT$</div>
                          <input type="text" class="form-control" name="buyer[shipping_price]" value="80">
                          <div class="input-group-addon">/ 件</div>
                        </div>
                        <label><input type="radio" name="shipping_price" value="0">免運費</label>
                    </div>
                </div>
                <div style="line-height: 35px;" class="form-inline">
                    <div class="form-group">
                        <label><input type="checkbox" id="no_free_shipping" checked="checked">當訂單總金額滿</label>
                        <div class="input-group">
                          <div class="input-group-addon">NT$</div>
                          <input type="text" class="form-control" name="buyer[free_shipping]" value="1500">
                        </div>
                        元後，則免運費
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#no_free_shipping').bind('change', function(e){
                    if($(this).prop('checked')){
                        $('input[name="buyer[free_shipping]"]').prop('disabled', false).val(1500);
                    } else {
                        $('input[name="buyer[free_shipping]"]').prop('disabled', 'disabled').val('');
                    }
                });

                $('input[name="shipping_price"]').bind('change', function(e){
                    if(parseInt($(this).val())){
                        $('#no_free_shipping').prop('disabled', false);
                        $('input[name="buyer[shipping_price]"]').prop('disabled', false).val(80);
                    } else {
                        $('#no_free_shipping').prop("checked",false).prop('disabled', 'disabled').trigger('change');
                        $('input[name="buyer[shipping_price]"]').prop('disabled', 'disabled').val('');
                    }
                });
            </script>
            <div class="form-group upload-direction">
                <label for="trade_transport"><u>商品運送時間</u></label>
                <textarea class="form-control" name="trade[transport]" rows="5" placeholder="寄出後約 3 個工作天內送達 (不含週六日及國定假日)">{{ trade.transport|nl2br }}</textarea>
                <div class="planaex ng-binding">字數限制100字，還剩 <span class="text_count">{{ 100 - trade.transport|length }}</span> 字。</div>
            </div>
            <div class="form-group upload-direction">
                <label for="trade_returns"><u>退貨政策</u></label>
                <p>建議提供詳盡的退貨說明，清楚寫出時間、規範、運費負擔者，以減少買賣糾紛。</p>
                <textarea class="form-control" name="trade[returns]" rows="5" placeholder="在收到商品後，請立刻檢查商品是否正確，如果有問題請於 3 天內與我連絡，並於我回覆地址後 2 天內保持完整連同原商品包裝寄回，超過時限即視為無誤。退貨請自行負擔運費。">{{ trade.returns|nl2br }}</textarea>
                <div class="planaex ng-binding">字數限制100字，還剩 <span class="text_count">{{ 100 - trade.returns|length }}</span> 字。</div>
            </div>
        </div>
        <script type="text/javascript">
        $('textarea[name="trade[time]"], textarea[name="trade[returns]"], textarea[name="trade[transport]"]').bind('input', function(e){
            $(this).next('div').children('span.text_count').text(100 - $(this).val().length);
        });
        </script>
        <div>
           <!-- <button type="reset" class="btn btn-success">還原</button> -->
            <center><button type="submit" class="btn btn-info">提交，進行簡訊認證 >></button></center>

        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/vendor/jquery-twzipcode/jquery.twzipcode.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.8.2/holder.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.js"></script>
<script type="text/javascript">
    $('div.signboard_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#signboard_file').trigger('click');
            $('#signboard_file, input[name="buyer[signboard]"]').val('');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.signboard').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.signboard').cropper('destroy').attr('src', src);
            $('input[name="buyer[signboard]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('div.profile_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#personal_photo').trigger('click');
            $('#personal_photo, input[name="buyer[profile]"]').val('');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.profile').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.profile').cropper('destroy').attr('src', src);
            $('input[name="buyer[profile]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('div.logo_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#logo_photo').trigger('click');
            $('#logo_photo, input[name="buyer[logo]"]').val('');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.logo').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.logo').cropper('destroy').attr('src', src);
            $('input[name="buyer[logo]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('#signboard_file,#personal_photo, #logo_photo').bind('change', function(e){
        var reader = new FileReader(),
               file = e.target.files[0],
               img = '',
               ratio = '',
               min_width = '',
               min_height = '';

        if($(e.target).is('#signboard_file')){
            img = $('img.signboard');
            ratio = 36 / 13;
            min_width = 720;
            min_height = 260
        } else if($(e.target).is('#personal_photo')) {
            img = $('img.profile');
            ratio = 1 / 1;
            min_width = 300;
            min_height = 300
        } else {
            img = $('img.logo');
            ratio = 7 / 1;
            min_width = 350;
            min_height = 50
        }

        $(img).cropper('destroy').attr('src', 'holder.js/'+min_width+'x'+min_height);
        
        reader.onload = function(e){
            $(img).attr('src', e.target.result).cropper({
                aspectRatio: ratio,
                movable: false,
                guides: false,
                minCropBoxWidth: min_width,
                minCropBoxHeight: min_height,
                built: function(e){
                    $('a.crop_image', $(img).parent('div')).removeAttr('disabled');
                }
            });

        }.bind(this)

        reader.readAsDataURL(file);
    });

    $(function(e){
        $('#input_for_invoice2').hide();
        $('#input_for_invoice3').hide();

        $('#mobile_phone').bind('input', function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if (this.value.length > 10) {
                this.value = this.value.substr(0,10);
            }
        });

        $('#bank_account, #tax_id').bind('input', function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
        });

        $('#buyer_url')
            .bind('input', function(e){
                if(this.value.length <= 5){
                    $(this).trigger('reset');
                    return false;
                }

                if(/^\w+$/.test(this.value)){
                    return $(this).trigger('success');
                }
                $(this).trigger('error');
            })
            .bind('success', function(e){
                $(this).parent('div').removeClass("has-error");
                $(this).parent('div').addClass("has-success");
                $(this).siblings('.glyphicon').removeClass("glyphicon-remove");
                $(this).siblings('.glyphicon').addClass("glyphicon-ok");
            })
            .bind('error', function(e){
                $(this).parent('div').removeClass("has-success");
                $(this).parent('div').addClass("has-error");
                $(this).siblings('.glyphicon').removeClass("glyphicon-ok");
                $(this).siblings('.glyphicon').addClass("glyphicon-remove");
            })
            .bind('reset', function(e){
                $(this).parent('div').removeClass("has-success");
                $(this).parent('div').removeClass("has-error");
                $(this).siblings('.glyphicon').removeClass("glyphicon-ok");
                $(this).siblings('.glyphicon').removeClass("glyphicon-remove");
            });
        
        $("input[name='invoice[type]']").change(function(){
            if (this.value == 2) {
                $('#input_for_invoice3').hide();  
                $('#input_for_invoice2').show();
            } else if (this.value == 3) {
                $('#input_for_invoice2').hide();
                $('#input_for_invoice3').show();
            } else {
                $('#input_for_invoice2').hide();
                $('#input_for_invoice3').hide();  
            }
        });
    });
    
    $('#address_twzipcode').twzipcode({
        readonly: true
    });
    
    $('#buyer_url').on('focusout', function(){
        var lowerCase = this.value.toLowerCase();
        
        if (lowerCase.length < 5 || !/^\w+$/.test(lowerCase)) {
            return $('#buyer_url').trigger('error');
        }
        
        $.ajax({
            type: "GET",
            url: "/restful/buyer/"+lowerCase,
            success: function(response){
                if (!response.length) {
                    $('#buyer_url').trigger('success');
                } else {
                    $('#buyer_url').trigger('error');
                }
            }
        });
    });

    $('#account_activated_form').bind('submit', function(e){
        $('.error-div').removeClass('error-div');
        var have_error = false;

        if ($('.agree_getmore').is(':checked') == false) {
            $('.agree_getmore').parent('label').parent('div').addClass('error-div');
            have_error = true;
        }
        if ($(".agree_data").is(':checked') == false) {
            $('.agree_data').parent('label').parent('div').addClass('error-div');
            have_error = true;
        }

        if (!$('input[name="buyer[signboard]"]').val()) {
            $('div.signboard_preview').addClass('error-div');
            have_error = true;
        } else if(!/image\/(jpe?g|png)/.test($('input[name="buyer[signboard]"]').val())) {
            $('div.signboard_preview').addClass('error-div');
            have_error = true;
        }

        if (!$('input[name="buyer[logo]"]').val()) {
            $('div.logo_preview').addClass('error-div');
            have_error = true;
        } else if(!/image\/(jpe?g|png)/.test($('input[name="buyer[logo]"]').val())) {       
            $('div.logo_preview').addClass('error-div');
            have_error = true;
        }

        if (!$('input[name="buyer[profile]"]').val()) {
            $('div.profile_preview').addClass('error-div');
            have_error = true;
        } else if(!/image\/(jpe?g|png)/.test($('input[name="buyer[profile]"]').val())) {       
            $('div.profile_preview').addClass('error-div');
            have_error = true;
        }

        if ($.trim($("input[name='buyer[title]']").val()) == "") {
            $("input[name='buyer[title]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("textarea[name='buyer[description]']").val()) == "") {
            $("textarea[name='buyer[description]']").parent('div').addClass('error-div');
            have_error = true;
        }

        var url_code = $("#buyer_url").val();
        if (url_code.length < 5 || $("#buyer_url").siblings('.glyphicon').hasClass("glyphicon-remove")) {
            $("#buyer_url").trigger('error');
            console.log("fail in here");
            have_error = true;
        }
        
        if ($.trim($("input[name='buyer[company_name]']").val()) == "") {
            $("input[name='buyer[company_name]']").parent('div').addClass('error-div');
            have_error = true;
        }
        
        if ($.trim($("input[name='buyer[address]']").val()) == "") {
            $("input[name='buyer[address]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("input[name='user[mobile_phone]']").val()) == "") {
            $("input[name='user[mobile_phone]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("input[name='user[active_email]']").val()) == "") {
            $("input[name='user[active_email]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("select[name='bank[code]']").val()) == 0) {
            $("select[name='bank[code]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("input[name='bank[branch]']").val()) == "") {
            $("input[name='bank[branch]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("input[name='bank[account]']").val()) == "") {
            $("input[name='bank[account]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($.trim($("input[name='bank[username]']").val()) == "") {
            $("input[name='bank[username]']").parent('div').addClass('error-div');
            have_error = true;
        }
        if ($('#bank_book_cover')[0].files.length == 0) {
            $('#bank_book_cover').parent('div').addClass('error-div');
            have_error = true;
        } else {            
            if ($('#bank_book_cover')[0].files[0]['name'].search(/\.(jpe?g|pdf|png)$/i) < 0) {
                $('#bank_book_cover').parent('div').addClass('error-div');
                have_error = true;
            }
        }
        if ($("input[name='invoice[type]']:checked").val() == "3") {
            if ($("input[name='invoice[title]']").val() == "") {
                $("input[name='invoice[title]']").parent('div').addClass('error-div');
                have_error = true;
            }
        }
        console.log(have_error);
        if (have_error) {
            e.preventDefault();
            return false;
        }
    });

    function checkPID( id ) {
        var tab = "ABCDEFGHJKLMNPQRSTUVXYWZIO",
               A1 = new Array (1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3 ),
               A2 = new Array (0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5 ),
               Mx = new Array (9,8,7,6,5,4,3,2,1,1);

        if ( id.length != 10 ) {
            return false;
        }
        var i = tab.indexOf( id.charAt(0) );
        if ( i == -1 ) {
            return false;
        }
        var sum = A1[i] + A2[i]*9;

        for ( i=1; i<10; i++ ) {
            var v = parseInt( id.charAt(i) );
            if ( isNaN(v) ) {
                return false;
            }
            var sum = sum + v * Mx[i];
        }
        if ( sum % 10 != 0 ) {
            return false;
        }
        return true;
    }

</script>
{% endblock %}