{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.css" rel="stylesheet">
<style>
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

img {
    max-width: 100%;
}

div.signboard_preview,div.profile_preview {
    position: relative;
}
</style>
{% endblock %}

{% block body %}
<div class='col-254'>
    {% include '/buyer/sell_manage_sidebar.html.twig' %}       
</div>
<div class='col-726'>
    <div class="member_order_list_title">
        <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;品牌基本設定</h3>
    </div>
    <div class="certifycontainer">
        <form action="" method="post" class="form-horizontal container-fluid" style="margin-top: 10px;" enctype="multipart/form-data">
            <div class="upload-direction" style="overflow: auto;">
                <div class="pull-left" style="width: 50%;">
                    <label><u>個人大頭照</u></label>
                    <p>請上傳一張300 X 300以上（寬 X 高，等比例)照片</p>
                    <input id="personal_photo" type="file" style="display: none">
                    <input type="hidden" name="buyer[profile]">
                    <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
                </div>
                {% if buyer.profile_photo_file_id %}
                <div class="pull-left profile_preview" style="width: 50%;">
                    <img class="profile" src="http://s3.getmore.cc/buyer/profile/{{ buyer.profile_photo_file_id }}/medium.jpg" data-src="http://s3.getmore.cc/buyer/profile/{{ buyer.profile_photo_file_id }}/medium.jpg">
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-default reset_image btn-xs">重設</a><a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="upload-direction">
                <label><u>品牌招牌</u></label>
                {% if buyer.banner_photo_file_id %}
                <div class="signboard_preview">
                    <img class="signboard" src="http://s3.getmore.cc/buyer/signboard/{{ buyer.banner_photo_file_id }}/medium.jpg" data-src="http://s3.getmore.cc/buyer/signboard/{{ buyer.banner_photo_file_id }}/medium.jpg">
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-default reset_image btn-xs">重設</a><a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                    </div>
                </div>
                {% endif %}
                <p style="margin-top:30px;">請上傳一張 720 X 260 以上 (等比例)照片，招牌是您品牌的門面。</p>
                <input id="signboard_file" type="file" style="display: none;">
                <input type="hidden" name="buyer[signboard]">
                <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
            </div>
            <div class="upload-direction" style="overflow: auto;">
                <div class="pull-left" style="width: 50%;">
                    <label><u>品牌Logo</u></label>
                    <p>請上傳一張寬度350，高度50，以logo字樣置中的白底圖片。</p>
                    <input id="logo_photo" type="file" style="display: none">
                    <input type="hidden" name="buyer[logo]">
                    <span class="help-block" style="color: grey;">請提供.jpg或.png檔案</span>
                </div>
                {% if buyer.profile_photo_file_id %}
                <div class="pull-left logo_preview" style="width: 50%;">
                    <img class="logo" src="http://s3.getmore.cc/buyer/logo/{{ buyer.logo_photo_file_id }}/medium.jpg" data-src="http://s3.getmore.cc/buyer/logo/{{ buyer.logo_photo_file_id }}/medium.jpg">
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-default reset_image btn-xs">重設</a><a class="btn btn-default change_image btn-xs">換圖</a><a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <hr />
            <div class="upload-direction">
                <label><u>品牌名稱</u></label>
                <p>您可自行設定您的品牌名稱</p>
                <input type="text" name="buyer[title]" class="form-control input-area" value="{{ buyer.title }}">
            </div>
            <div class="upload-direction">
                <label><u>品牌介紹</u></label>
                <p>請輸入您的品牌介紹，建立個人品牌，讓消費者認識你。</p>
                <textarea type="text" name="buyer[description]" class="form-control" rows="5">{{ buyer.description }}</textarea>
            </div>
            <hr />

                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">品牌網址：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">http://getmore.cc/buyer/{{ buyer.url_code }}</p>
                            <input type="hidden" value="{{ buyer.url_code }}" name="buyer[url_code]">
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">公司名稱：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ buyer.company_name }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">統一編號：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ buyer.tax_id }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label class="col-md-4 control-label">手機號碼：</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.mobile_phone }}</p>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                      <label for="putname" class="col-md-3 control-label">聯絡地址：</label>
                      <div class="nameandgender col-md-9">
                        <div id="address_twzipcode">
                          <div class="address-city">
                            <div data-role="county" data-name="buyer[county]" data-style="form-control" data-value="{{ buyer.county }}"></div>
                          </div>
                          <div class="address-city">
                            <div data-role="district" data-name="buyer[district]" data-style="form-control" data-value="{{ buyer.district }}"></div>
                          </div>
                          <div class="address-zip">
                            <div data-role="zipcode" data-name="buyer[zipcode]" data-style="form-control" data-value="{{ buyer.zipcode }}"></div>
                          </div>
                        </div>
                        <div class="addressdetail">
                            <input type="text" name="buyer[address]" class="form-control required" placeholder="請填寫詳細地址" value="{{ buyer.address }}">
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript" src="/assets/vendor/jquery-twzipcode/jquery.twzipcode.min.js"></script>
                    <script type="text/javascript">
                        $('#address_twzipcode').twzipcode({
                            readonly: true
                        });
                    </script>
                    <div class="form-group form-horizontal" style="overflow: auto;">
                        <label for="active_email" class="col-md-4 control-label">常用電子郵件信箱：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="user[active_email]" id="active_email" value="{{ user.active_email }}">
                        </div>
                    </div>
            <div style="margin-top:40px;">
                <center>
                    <button type="submit" class="btn btn-primary">更新資訊</button>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.js"></script>
<script type="text/javascript">
    $('div.signboard_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#signboard_file').trigger('click');
        })
        .delegate('a.reset_image', 'click', function(e){
            $('img.signboard').cropper('destroy').attr({
                'src': $('img.signboard').data('src')
            });
            $('#signboard_file').val('');
            $('a.crop_image', 'div.signboard_preview').attr('disabled', 'disabled');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.signboard').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.signboard').cropper('destroy').attr('src', src);
            $('input[name="buyer[signboard]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('div.profile_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#personal_photo').trigger('click');
        })
        .delegate('a.reset_image', 'click', function(e){
            $('img.profile').cropper('destroy').attr({
                'src': $('img.profile').data('src')
            });
            $('#personal_photo').val('');
            $('a.crop_image', 'div.profile_preview').attr('disabled', 'disabled');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.profile').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.profile').cropper('destroy').attr('src', src);
            $('input[name="buyer[profile]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('div.logo_preview')
        .delegate('a.change_image', 'click', function(e){
            $('#logo_photo').trigger('click');
        })
        .delegate('a.reset_image', 'click', function(e){
            $('img.logo').cropper('destroy').attr({
                'src': $('img.logo').data('src')
            });
            $('#logo_photo').val('');
            $('a.crop_image', 'div.logo_preview').attr('disabled', 'disabled');
        })
        .delegate('a.crop_image', 'click', function(e){
            var src = $('img.logo').cropper('getCroppedCanvas').toDataURL("image/jpeg");
            $('img.logo').cropper('destroy').attr('src', src);
            $('input[name="buyer[logo]"]').val(src);
            $(this).attr('disabled', 'disabled');
        });

    $('#signboard_file,#personal_photo,#logo_photo').bind('change', function(e){
        var reader = new FileReader(),
               file = e.target.files[0],
               img = '',
               ratio = '',
               min_width = '',
               min_height = '';
        
        if($(e.target).is('#signboard_file')){
            img = $('img.signboard');
            ratio = 36 / 13;
            min_width = 720;
            min_height = 260;
        } else if($(e.target).is('#personal_photo')) {
            img = $('img.profile');
            ratio = 1 / 1;
            min_width = 300;
            min_height = 300;
        } else {
            img = $('img.logo');
            ratio = 7 / 1;
            min_width = 350;
            min_height = 50;
        }

        reader.onload = function(e){
            $(img).attr('src', e.target.result).cropper({
                aspectRatio: ratio,
                movable: false,
                guides: false,
                preview: '123',
                minCropBoxWidth: min_width,
                minCropBoxHeight: min_height,
                built: function(e){
                    $('a.crop_image', $(img).parent('div')).removeAttr('disabled');
                }
            });
        }.bind(this)

        reader.readAsDataURL(file);
    });
</script>
{% endblock %}