{% extends 'template/sell_manage.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.certifycontainer{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 
}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}
</style>
{% endblock %}
{% block body %}
<div>
    <div class='col-254'>
        {% include '/buyer/sell_manage_sidebar.html.twig' %}       
    </div>
    <div class='col-726' ng-app="getmore_sell_manage">
        <div class="col-726" ng-controller="tradeRuleController">
            <form id="tradeRuleForm" action="trade_rule" method="post">
                <div class="member_order_list_title">
                    <h3 style="display: inline-block;"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;編輯交易政策</h3>
                </div>
                <div class="certifycontainer">
                    <div class="upload-direction">
                        <p>交易政策請妥善填寫，清楚寫出您的買賣規範，以確保自身權利，以減少買賣糾紛。填寫完成，GetMore將自動帶入您衣櫃的交易政策，套用到所有商品上。</p>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_time"><u>商品寄送時間</u></label>
                        <p>建議清楚填寫出貨時間，越快速買家滿意度也會越高。</p>
                        <textarea class="form-control" name="trade[time]" ng-model="trade_time" rows="5" placeholder="確認付款後的 3 天內會將商品寄出"></textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩[[ time_remain_count ]]字。</div>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_method"><u>寄送方式</u></label>
                        <p>請依照您所選擇的物流而訂定，除了快速，更重要的是在你所訂定的時間內送達，買家滿意度將會提高。<span style="color: red;">若您選擇其他貨運，請在【商品運送時間】欄位註明貨運名稱。</span></p>
                        <select class="form-control width375" name="trade[method]">
                            <option value="黑貓宅急便" {% if trade.method == "黑貓宅急便" %}selected{% endif %}>黑貓宅急便</option>
                            <option value="郵局" {% if trade.method == "郵局" %}selected{% endif %}>郵局</option>
                            <option value="宅配通" {% if trade.method == "宅配通" %}selected{% endif %}>宅配通</option>
                            <option value="新竹物流" {% if trade.method == "新竹物流" %}selected{% endif %}>新竹物流</option>
                            <option value="其他貨運" {% if trade.method == "其他貨運" %}selected{% endif %}>其他貨運</option>
                        </select>
                    </div>
                    <div class="upload-direction form-inline">
                        <label><u>運費資訊</u></label>
                        <div style="line-height: 35px;" class="form-inline">
                            <div class="form-group">
                                <label><input type="radio" name="shipping_price" {% if buyer.shipping_price %} checked="checked" {% endif %} value="1">運費</label>
                                <div class="input-group">
                                  <div class="input-group-addon">NT$</div>
                                  <input type="text" class="form-control" name="buyer[shipping_price]" {% if buyer.shipping_price %} value="{{ buyer.shipping_price }}" {% else %} disabled="disabled"  {% endif %}>
                                  <div class="input-group-addon">/ 件</div>
                                </div>
                                <label><input type="radio" name="shipping_price" value="0" {% if not buyer.shipping_price %} checked="checked" {% endif %}>免運費</label>
                            </div>
                        </div>
                        <div style="line-height: 35px;" class="form-inline">
                            <div class="form-group">
                                <label><input type="checkbox" id="no_free_shipping" {% if buyer.free_shipping %} checked="checked" {% endif %}>當訂單總金額滿</label>
                                <div class="input-group">
                                  <div class="input-group-addon">NT$</div>
                                  <input type="text" class="form-control" name="buyer[free_shipping]" {% if buyer.free_shipping %} value="{{ buyer.free_shipping }}" {% else %} disabled="disabled"  {% endif %}>
                                </div>
                                元後，則免運費
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#no_free_shipping').bind('change', function(e){
                            if($(this).prop('checked')){
                                $('input[name="buyer[free_shipping]"]').prop('disabled', false).val(1500);
                            } else {
                                $('input[name="buyer[free_shipping]"]').prop('disabled', 'disabled').val('');
                            }
                        });

                        $('input[name="shipping_price"]').bind('change', function(e){
                            if(parseInt($(this).val())){
                                $('#no_free_shipping').prop('disabled', false);
                                $('input[name="buyer[shipping_price]"]').prop('disabled', false).val(80);
                            } else {
                                $('#no_free_shipping').prop("checked",false).prop('disabled', 'disabled').trigger('change');
                                $('input[name="buyer[shipping_price]"]').prop('disabled', 'disabled').val('');
                            }
                        });
                    </script>
                    <div class="form-group upload-direction">
                        <label for="trade_transport"><u>商品運送時間</u></label>
                        <textarea class="form-control" name="trade[transport]" ng-model="transport" rows="5" placeholder="寄出後約 3 個工作天內送達 (不含週六日及國定假日)"></textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩[[ transport_remain_count ]]字。</div>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_returns"><u>退貨政策</u></label>
                        <p>建議提供詳盡的退貨說明，清楚寫出時間、規範、運費負擔者，以減少買賣糾紛。</p>
                        <textarea class="form-control" name="trade[returns]" ng-model="returns" rows="5" placeholder="在收到商品後，請立刻檢查商品是否正確，如果有問題請於 3 天內與我連絡，並於我回覆地址後 2 天內保持完整連同原商品包裝寄回，超過時限即視為無誤。退貨請自行負擔運費。"> </textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩[[ returns_remain_count ]]字。</div>
                    </div>
                    <div>
                        <!-- <button type="reset" class="btn btn-success" value="還原"> -->
                        <center><button type="submit" class="btn btn-primary">更新</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function(){
    $('#tradeRuleForm').submit(function(){
        if ($("textarea[name='trade[time]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        } 
        else if ($("textarea[name='trade[transport]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        }
        else if ($("textarea[name='trade[returns]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        }
    });
  });

  app
    .controller('tradeRuleController', ['$scope', '$element', 
        function ($scope, $element){
            $scope.trade_time = {{ trade.time|json_encode }};
            $scope.transport = {{ trade.transport|json_encode }};
            $scope.returns = {{ trade.returns|json_encode }}
            
            $scope.$watch('time', function(newVal, oldVal){
                if(!newVal) {
                    $scope.time_remain_count = 100 - ($scope.trade_time).length;
                }
                else {
                    $scope.time_remain_count = 100 - newVal.length;
                }
            });
            $scope.$watch('transport', function(newVal, oldVal){
                if(!newVal) {
                    $scope.transport_remain_count = 100 - ($scope.transport).length;
                }
                else {
                    $scope.transport_remain_count = 100 - newVal.length;
                }
            });
            $scope.$watch('returns', function(newVal, oldVal){
                if(!newVal) {
                    $scope.returns_remain_count = 100 - ($scope.returns).length;
                }
                else {
                    $scope.returns_remain_count = 100 - newVal.length;
                }
            });
        }
    ]);

</script>
{% endblock %}