  
/*! 2014 clothing index */
.eh-banner{
	width: 980px;
	height: 550px;
	//        background-color: black;
	background-image: url(/assets/banner/earthhour-04.jpg);
}
.countdown_container{
	padding-top: 165px;
	padding-left: 105px;
}
.eh-digit, .eh-unit{
	width: 70px;
	display: inline-block;
	font-size: 40px;
	padding: 0 10px;
	margin: 0 20px;
	color: white;
	text-align: center;
}
.eh-digit{
	padding-top: 30px;
	padding-bottom: 30px;
	border: 1px solid #4DBAA9;      
}
.eh-digit-reverse{
	border: 1px solid #4DBAA9;      
	background-color: #4DBAA9;
	color: white;
}
.eh-unit{
	margin-top: 10px;
	font-size: 30px;
	margin-right: 17px;
}
.more_suggested_clothing{
	font-size: 14px;
	float: right;
	padding-right: 50px;
	color: red !important;
	padding-top: 40px;
}

/*! newpage by PoKai */

.pagetitle{
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 3px;
	margin-left: 30px;
	font-weight: bold;
}
.pagecentertitle{
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 3px;
	font-weight: bold;
}

.firstrow{
	overflow:auto;
}
.banner01{
	float: left;
	margin-right: 9px;
}
.banner02{
	float: left;
}

.secondrow{
	margin-top: 15px;
	overflow:auto;
}
.banner03{
	margin-bottom: 10px;
}
.banner0304box{
	float: left;
	margin-right: 10px;
}
.banner05{
	float: left;
	margin-right: 10px;
}
.banner06{
	margin-bottom: 10px;
}
.banner0607box{
	float: left;
}


.thirdrow{
	overflow: auto;
	width:980px;
	height:455px;
	margin-top: 15px;
}
.hotcloset{
	float: left;
	overflow: auto;
	margin-right: 10px;
}
.closettitle{
	width: 590px;
	border-bottom: 2px solid #000000;
}
.pagecloset{
	overflow: auto;
	margin-top: 10px;
}
.closet01{
	float: left;
	margin-right: 6px;
}
.closet02{
	float: left;
	margin-right: 6px;
}
.closet03{
	float: left;
}
.clothes020304box{
	overflow: auto;
}
.clothes01{
	border: 1px solid #DDD;
	margin-bottom: 3px;
}
.clothes02{
	float: left;
	border: 1px solid #DDD;
	margin-right: 3px;
}
.clothes03{
	float: left;
	border: 1px solid #DDD;
	margin-right: 3px;
}
.clothes04{
	float: left;
	border: 1px solid #DDD;
}
.closetrow{
	overflow: auto;
	margin-bottom: 10px;
}
.myfavorite{
	overflow: auto;
}
.favoritetitle{
	width: 380px;
	border-bottom: 2px solid #000000;
}
.pagemyfavorite{
	overflow: auto;
	margin-top: 10px;	
}
.favoriterow{
	overflow: auto;
	margin-bottom: 6px;
}
.favorite01{
	float: left;
	border: 1px solid #DDD;
	margin-right: 4px;
	width: 124px;
	height: 128px;
}
.favorite02{
	float: left;
	border: 1px solid #DDD;
	margin-right: 4px;
	width: 124px;
	height: 128px;
}
.favorite03{
	float: left;
	border: 1px solid #DDD;
	width: 124px;
	height: 128px;
}

.fourthrow{
	overflow: auto;
	margin-top: 15px;
//	height: 456px;
}

.lookbooktopic{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.entertobuy{
	float: left;
	overflow: auto;
	margin-right: 10px;
	width:395px;
}
.enterplanA{
	padding: 20px 20px 0 20px;
	font-size: 14px;
	height: 220px;
	line-height: 24px;
	letter-spacing: 5px;
}
.enterplanB{
	padding: 20px 20px 0 20px;
	font-size: 14px;
	height: 220px;
	line-height: 24px;
	letter-spacing: 5px;
}
.enterplantitle{
	font-size: 16px;
}
.enterplanp{
	line-height: 20px;
 	font-size: 14px;
}
.enterplanbtn{
	border-radius: 0px !important;
	margin-top:10px;
	border: 3px solid #000 !important;
	font-weight: bold !important;
}
.pagebuytitle{
	width: 395px;
	border-bottom: 2px solid #000000;
}

.otherentery{
	float: left;
	overflow: auto;
	margin-top: 10px;
}
.otherrow1{
	margin-bottom:18px;
}
.otherrow2{
	margin-bottom:18px;
}
.fifthrow{
	overflow: auto;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border-bottom: 1px dashed #000000;
	border-top: 1px dashed #000000;
	min-height: 160px;
}
.pageabouttitle{
	margin: 0 auto;
	width: 230px;
	border-bottom: 2px solid #000000;
	letter-spacing: 5px;
	text-align: center;

}
.pageaboutbox{
	margin-top: 15px;
}
.pageaboutp{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 25px;
}

.sixthrow{
	overflow: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 20px;
//	min-height: 160px;
	border-bottom: 2px solid #888;
}
.pageliketitle{
	margin: 0 auto;
	width: 330px;
	border-bottom: 2px solid #000000;
	letter-spacing: 5px;
	text-align: center;
}

.pagelikebox{
	overflow: auto;
	margin: 20px auto 0px auto;
	display:inline-block; 
}

.pagelikefacebook ,.pagelikeinstagram{
	float: left;
	margin-right: 20px;
}

.pagelikeyoutube{
	float: left;
}

a.pagelikea{
	color: #333;
	text-decoration: none;
}
a.pagelikea:hover{
	color: #000;
	text-decoration: none;
}
.gotonew{
	overflow: auto;
	margin-bottom: 30px;
}
