.go-back-next{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1140px;
    margin-left: -570px;
}
.go-left{
    float: left;
}
.go-right{
    float:right;
}
              
.new-social-share-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    display: inline-block;
    text-align: center;
    padding-top: 2.5px;
    width: 24px;
    height: 24px;
    font-size: 15px;
    border-radius: 99px;
    background: #f5f5f5;
    color: #333
}

.new-social-share-button.facebook:hover {
    background: #45629d
}

.new-social-share-button.twitter:hover {
    background: #55acee
}

.new-social-share-button.tumblr:hover {
    background: #529ecc
}

.new-social-share-button.pinterest:hover {
    background: #cb2027
}

.new-social-share-button:hover{
    color: white;
}

.item_status_comment{
    font-size: 12px;
    color: #bbbbbb;
}
        