/* 
 * checkout
 * 3 main cart layout structures, written by micobear
 * shifted by howtomakeaturn
 */
 .cart_1 {
    width: 760px;
    margin: 0px 0px 50px 110px;
    border: 1px solid #70afa4;
}

.cart_1_title {
    margin: 25px;
    font-size: 17px;
    font-weight: 600;
}

.cart_1_table {
    margin: 0px 0px 0px 20px;
}

.cart_1_table hr {
    border: 1px dashed #70afa4;
}

.cart_1_table_image {
    width: 160px;
}

.cart_1_table_image img {
    width: 150px;
}

.cart_1_table_sn {
    width: 155px;
}

.cart_1_table_detail {
    width: 300px;
}
.cart_1_table_price{
    width: 50px;
    // background-color: pink;
}
.cart_1_table_det {
    width: 50px;
    // background-color: orange;
}

.cart_1_money {
    text-align: right;
    font-weight: 600;
    // padding: 0px 65px 0px 0px;
    padding: 0;
}

.cart_1_count {
    margin: 0px 5px 0px 5px;
    width: 15px;
    display: inline-block;
    color: #70afa4;
}

.cart_1_price {
    margin: 0px 5px 0px 5px;
    width: 35px;
    display: inline-block;
}

.cart_1_tran {
    margin: 0px 5px 0px 0px;
    width: 35px;
    display: inline-block;
}

.cart_1_sum_block {
    width: 200px;
    background: #70afa4;
    float: right;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.cart_1_sum {
    margin: 0px 5px 0px 0px;
    width: 35px;
    display: inline-block;
}
 
 
.cart_2 {
    margin: 50px 0px 20px 110px;
    background: #BDE1D6;
    width: 760px;
    padding: 5px 0px 20px 0px;
}

.cart_2_title {
    border: 1px solid #FFFFFF;
    margin: 20px;
    color: #000;
    padding: 5px;
    font-size: 17px;
}

.cart_2_left {
    border: 1px solid #FFFFFF;
    height: 400px;
    width: 350px;
    margin: 1px 0px 0px 20px;
    float: left;
}

.cart_2_right {
    border: 1px solid #FFFFFF;
    height: 400px;
    width: 350px;
    margin: 5px 0px 0px 390px;
}

.cart_2_left_order {
    text-align: center;
    color: #666666;
}

.cart_2_left_input {
    padding: 0px 0px 0px 20px;
    color: #666666;
    line-height: 25px;
}

.cart_2_left_input_address {
    width: 200px;
}

.cart_2_footer{
    padding: 20px;
    color: #666666;
}

.checkout_button_block{
    margin-right: 110px;
    margin-bottom: 20px;
}

.cart_3 {
    margin: 20px 0px 20px 110px;
    width: 760px;
    padding: 5px 0px 20px 0px;
}

.cart_3_head {
    border: 1px solid #70afa4;
    height: 180px;
    width: 760px;
}

.cart_3_head_left{
    float: left;
    padding: 10px;
    width: 378px;
}
.cart_3_head_right{
    float: left;
    padding: 10px;
    width: 380px;
}

.cart_3_head table {
    padding: 0px 0px 0px 20px;
}

.cart_3_head_detail {
    width: 350px;
    line-height: 40px;
}

.cart_3_head_detail_title {
    font-size: 17px;
    font-weight: 600;
    height: 30px;
    margin: 0;
}

.cart_3_head_detail_con {
    margin-bottom: 10px;
}

.cart_3_ticket {
    font-weight: 600;
}

.cart_3_pay {
    background: #BDE1D6;
    padding: 10px 20px 20px 20px;
}

.cart_3_pay h4{
    margin-top: 20px;
}
.cart_3_pay p {
    margin-top:10px; 
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
    //font-weight: 600;
}

.cart_3_pay table {
    padding: 20px;
}

.cart_3_invoice{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart_3_choose_pay {
    width: 350px;
    color: #666666;
    line-height: 40px;
}
/* miscellaneous components made by micobear
 * shifted by howtomakeaturn
 */
#zip  { display: none; }

#twzipcode1 { margin-left: 20px; }

.checkcart_select {
  border: 1px solid #c0bbb4;
  float: left;
}

#user_zip , #delivery_zip  { display: none; }

#twzipcode1 { margin-left: 20px; }

#twzipcode2 { margin-left: 20px; }

.checkcart_select {
  border: 1px solid #c0bbb4;
  float: left;
}

.long_address{
    width: 302px;
}

.poaki-checkout-link{
    margin-left: 40px;
    color: #70AFA4;
}

.sub-banner-shoppingprocess{
    margin-left: 52px;
    margin-top: 20px;
    margin-bottom: 20px
}

.coupon-btn{
    margin-left: 10px;
    margin-right: 10px;
}