.go-left{
    position: absolute;
    top: 200px;
    margin-left: -70px;
}
.go-right{
    position: absolute;
    top: 200px;
    right: -70px;
}
              
.new-social-share-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    display: inline-block;
    text-align: center;
    padding-top: 2.5px;
    width: 24px;
    height: 24px;
    font-size: 15px;
    border-radius: 99px;
    background: #f5f5f5;
    color: #333
}

.new-social-share-button.facebook:hover {
    background: #45629d
}

.new-social-share-button.twitter:hover {
    background: #55acee
}

.new-social-share-button.tumblr:hover {
    background: #529ecc
}

.new-social-share-button.pinterest:hover {
    background: #cb2027
}

.new-social-share-button:hover{
    color: white;
}

.item_status_comment{
    font-size: 12px;
    color: #bbbbbb;
}

.mkt-product-image {
  //overflow: auto;
}
.product-other-image-box{
  float: left;
  height: 105px;
  margin-bottom: 5px;
}

.product-other-image-box img{
  max-width: 50px;
  max-height: 105px;
}

#clothing-information{
  padding:0px;
}
.left-detail-info-box{
 // border: 1px solid #ddd;
  padding: 30px;
  min-height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #888;
  font-size: 14px;
}
.right-detail-info-box{
 // border: 1px solid #ddd;
  padding:30px 30px 30px 0;
  min-height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #888;
  font-size: 14px;
}
.mkt-left-part{
  margin: 20px 0px 0px 0px;
  float: left;
  width: 390px;
  padding: 0 10px 0 40px;
}
.mkt-right-part{
  width: 590px;
  float: left;
  padding: 20px 0px 0px 30px;
}