#clothing-main{
    position: relative;
    margin-bottom: 50px;
}

#clothing-information{
    padding: 20px 0px 0px 70px;
    position: relative;
    display: inline-block;
}

#highlight-section{
    padding: 10px 0;

}

.highlight-information{
    font-weight: bold;
    font-size: 16px;
    color: #4DB2A2;
    line-height: 1;
    margin-bottom: 5px;
}

#checkout-section{
    display: block;
    margin: 35px 0px 35px 0px;
}

#checkout-prices{
    width: 250px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

#checkout-prices h3{
    color: red;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#checkout-prices p{
    font-size: 12px;

}

#checkoutcloset{
    text-align:center;
}

#checkoutcloset a{
    font-size:12px;
}

#checkout-cart{
    position: absolute;
    display: inline-block;
    right: 0;
    margin-right: 0px;
}

#add_to_favorite{
    text-align: center;
}

#add_to_favorite a{
    font-size: 12px;
}

#clothing-reminding, #other-information{
    width: 530px;
    font-size: 12px;
}

#other-information{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
    padding-top: 30px;
}

/* super ugly fix for the bootstrap misuse */
.col-md-7, .col-md-6, .col-md-5{
  padding: 0;
}

.getmore-color{
    color: #4DB2A2;
}

#size-modal-body{
    min-height: 400px;

}

#sizetable, #sizetable th, #sizetable td{
    border: 1px solid #B3DDD9;
    padding: 5px;
    text-align:center; 
    vertical-align:middle;      
}
#sizetable th{
    background-color: #B3DDD9;
}

.learn-more{
    color: #999;
    font-size: 10px;
}

.size-modal-text{
    color: black;
    font-size: 12px;
    margin: 0px 10px 5px 10px;
}

.social-funcs{
    position: absolute;
    top: 120px;
    right: 0;
    width: 180px 
}

.fbiframe{
    margin-top: 6px;
}

.product-additional, .product-condition{
    width: 480px;
    color: #727171;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-view-ul{
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-view-ul-p{
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-view-ul-p li{
    padding-bottom: 10px;
}

.clothing-reminding-detail{
    padding-right: 10px;
}

.clothing-reminding-detail p{
}

.qmark-adjust{
    margin-bottom: 5px;
}

.product-style{
    line-height: 2.5;
}

.likes_count{
    font-size:12px;
    color: #95B4BC;
}