/*----- clothes bar --------*/

ul#closetnav li:first-child {
border-left: 1px solid #ddd;
}

ul#closetnav li span {
color: #d60909;
font-weight: bold;
}

.closetbar{
margin-bottom:20px;
text-align:center;
}

ul#closetnav {
padding: 0;
margin: 16px 20px 0 20px;
background: #f7f7f9;
border: 1px solid #d1d1d1;
}

ul#closetnav li {
color: #404040;
list-style: none;
display: inline-block;
border-right: 1px solid #ddd;
padding: 14px 18px;
font-size: 14px;
}  



.category-container {
    clear: both;
    padding-top: 20px;
}

.subtype{

}

.search_container{
    margin-top: 78px;
}

.search_input{
    display: inline;
    width: 150px;
}

/* ----------------------------- 新鮮貨fresh ---------------------------------- */
.fresh {
    clear: both;
    padding-top: 40px;
}

.fresh-sequence{
    padding-right: 20px;
    padding-top: 20px;
}

.fresh-title {
    border: 1px solid #000000;
    height: 37px;
    font-size: 18px;
    line-height: 37px;
    padding: 5px 10px;
    margin: 0 30px;
}

.fresh .form-control{
    width: 110px;
    height: 20px;
    font-size: 10px;
}

.fresh-box{
    width: 980px;
    padding: 0 10px;
    margin-top: 20px;
}


.fresh-product-title {
    color: #000000;
    margin-bottom: 3px;
    margin-left: 10px;
    overflow: hidden;
    width: 180px;
    height: 25px;
}


.fresh-product-price {
    //text-decoration: line-through;
    color: #acabb5;
    margin-bottom: 3px;
    margin-left: 10px;
}

.is-deleted {
    text-decoration: line-through;
}


.fresh-product-sale {
//    float:left;
    color: red;
    margin-left: 10px;
}

.pricedown-tag {
    // float:left;
    margin-left:10px;
    color:#4dbbaa;
}

.size-tag{
    margin-left: 10px;
}
  
.like_tag{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.fresh-product-view > img {
    width: 200px;
    height: 300px;
    margin-bottom: 15px;
}

.soldoutsticker img{
    float: left;
    width: 222px;
    height: auto;
    position: absolute;
    margin-top: 135px;
    margin-left: -12px;
}

.soldoutsticker180 img{
    float: left;
    height: auto;
    position: absolute;
    margin-top: 120px;
    margin-left: 20px;
}

.recommended_tag img{
    position: absolute;
    margin-top: -10px;
    margin-left: 160px;
}


/*

.fresh-product-list {
    height: 257px;
    border-bottom: 1px solid #B9AFAF;
}


.fresh-product-view img:hover {
    box-shadow: 0 0 20px #BBBBBB;
}


.fresh-product-view p {
    padding: 4px 0px 0px 0px;
    width: 180px;
    text-align: left;
    margin: 0;
    font-size: 13px;
}

*/


/* -------------------------------- getmore view start ---------------------------- */
.product-view-more {
    height: 22px;
    border-bottom: 1px solid #C7C4C4;
    margin: 0px 0px 10px 0px;
    width: 920px;
    font-size: 14px;
    font-weight: 600;
    color: #AD0909;
}

.product-view {
    margin: 10px 0px 0px 0px;
  //  border-top: 1px solid #CCCCCC;
}

.product-image {
    margin: 20px 0px 0px 0px;
    float: left;
    width: 350px;
    padding: 0 30px 0 70px;
}

.product-main-image {
}

.product-main-image img {
     // width: 250px;
     // height: 375px;
     margin-bottom: 40px;
}

.product-other-image, .product-size-image {
    float: left;
    margin: 0px 6.6px 20px 6.6px;
}


.product-other-image img, .product-size-image img {
    width: 70px;
}

.product-other-image img:hover {
    cursor: pointer;
}

.product-view-detail {
    margin: 25px 0px 0px 0px;
}

.product-view-detail hr {
    border-style: dotted;
    margin-right: 10px;
}

.product-view-detail p {

}

.product-view-detail >p >a {
    font-size: 10px;
    text-decoration:underline;
}


.product-breadcrumb a{
    color: #70AFA4;
}

.product-view-name {
    font-size: 30px;
    color: #19a190;
    margin-bottom: 5px;
}

.product-view-sn {
    margin: 0px;
    color: #666666;
    font-size: 10px;
    font-family: "新細明體";
}

.product-view-brand {
    font-size: 14px;
    color: #666767;
    margin: 25px 0px 5px 0px;
}

.product-view-type {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-view-style {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-view-size {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-characteristic {
    font-size: 14px;
    color: #666767;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-view-special{ 
    color: black;
    background-color: #CCCCCC; 
    padding: 5px 6px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.product-hownew {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-additional {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
    padding-right: 20px;
}


.product-view-dist {
}

.product-view-dist-title {
    float: left;
    margin: 5px 0px 0px 0px;
}

.product-view-dist-p {
    margin: 0px 10px 0px 10px;
    background: #EEEEEE;
    height: 22px;
    float: left;
    line-height: 22px;
    padding: 5px;
    font-size: 14px;
}

.product-view-dist-div {
    clear: both;
}

.product-view-status {
    margin: 28px 0px 0px 0px;
}

.product-view-price {
    line-height: 30px;
    margin: 40px 0px 0px 0px;
}

.c-price {
}

.s-price {
    color: #E71F19;
    font-size: 26px;
    font-weight: 600;
}

.product-view-buy {
    width: 280px;
    height: 40px;
    background-color:#70AFA4;
    //margin: 0px 0px 0px 28px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.product-view-buy:hover{
  background-color:#BDE1D6;
  color: #FFFFFF;
}

.product-explanation {
    border: 1px solid #A8A8A8;
    clear: both;
    width: 773px;
    margin: 150px 0px 0px 80px;
}

.product-explanation-image {
    padding: 30px;
}

.product-explanation-image img {
    width: 270px;
    height: 180px;
}

.product-explanation-detail {
    font-size: 12px;
    color: #666767;
}

.product-declare {
    margin: 60px 0px 0px 80px;
}

.product-declare img {
    width: 773px;
}

#measure_main{
 // background-color: yellow;
    min-height: 300px;
    border: 1px solid #666767;
    border-color: #666767;
    margin: 20px;
    color: #666767;
}

.measure_unit{
    height: 20px;
}

#measure_bottom{
 // background-color: pink;
    color: #666767;
    padding: 10px;
    width: 350px;
    font-size: 11px;
}

#measure_left{
    width: 450px;
 // border: 1px solid black;
 // background-color: orange;
    padding: 25px 20px 20px 50px;
    float: left;
    border-right: 1px dashed #666767;
    border-color: #666767;
}

#measure_right{
    // background-color: red;
       float:left;
       margin-left: 100px;
       margin-top: 30px;
       font-size: 14px;
          
}

#measure_right h3{
    margin-bottom: 20px;
    font-size: 18px;
}

#measure_right a{
    color: #19a190;
}

#measure_pic{
    float: left;
}
      
#measure_column{
    float: left;        
}
 
#measure_img{
    height: 200px;
}

.getmorecenter-block {
    padding: 20px;
    display: block;
    margin: 60px auto 100px auto;
}

/* -------------------------------- getmore view end ---------------------------- */

/*----- dropdown cart --------*/


.cart-price{
  // color: orange;
  width: 50px;
  // background-color: pink;
  float: left;
  padding: 30px 0;
}

.cart-close{
  float: left;
  padding: 30px 0;
}
.cart-number{
  color: red;
  padding: 5px;
}

/*----- dropdown cart --------*/
#go_second_step{
  background-color:#70AFA4;
}

#go_second_step:hover{
  background-color:#BDE1D6;
}

#go_third_step{
  background-color:#70AFA4;
}

#go_third_step:hover{
  background-color:#BDE1D6;
    
}

/*----- clothes product --------*/

#similar_suggestion_title{
    color: #888888;
    padding-left: 40px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
 }
        
.suggested-item-selling-price span{
    color: red;
    background-color: white;
}
        
.suggested-item-original-price{
    color: #acabb5;
}


