/**************************************** The begining of customize bootstrap ****************************************/
 html {
  font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";

 }

 body {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
   background-color: #FFFFFF;
 }

 input,
 button,
 select,
 textarea {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
 }

 a {
   color: #95B4BC;
 }

 a:hover,
 a:focus {
   color: #687E84;
 }

 .h4,
 .h5,
 .h6 {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";

 }

  .container {
   background-color: #ffffff;
  //box-shadow: 0 0 20px #BBBBBB;
   width: 1000px !important;
   max-width: 1000px !important;
   padding: 0px;
 }

 .row {
   margin-right: 0;
   margin-left: 0;
 }

 .col-xs-1,
 .col-xs-2,
 .col-xs-3,
 .col-xs-4,
 .col-xs-5,
 .col-xs-6,
 .col-xs-7,
 .col-xs-8,
 .col-xs-9,
 .col-xs-10,
 .col-xs-11,
 .col-xs-12,
 .col-sm-1,
 .col-sm-2,
 .col-sm-3,
 .col-sm-4,
 .col-sm-5,
 .col-sm-6,
 .col-sm-7,
 .col-sm-8,
 .col-sm-9,
 .col-sm-10,
 .col-sm-11,
 .col-sm-12,
 .col-md-1,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-lg-1,
 .col-lg-2,
 .col-lg-3,
 .col-lg-4,
 .col-lg-5,
 .col-lg-6,
 .col-lg-7,
 .col-lg-8,
 .col-lg-9,
 .col-lg-10,
 .col-lg-11,
 .col-lg-12 {
   padding-right: 40px;
 }

  label {
  font-weight: normal;
 }

 input[type="radio"],
 input[type="checkbox"] {
   margin-right: 5px;
 }

  .form-control {
  height: 30px;
  padding: 0px 5px;
  border-radius: 0;
 }

  .btn {
  border-radius: 0;
 }

  .btn-primary {
  background-color: #4DBAA9;
   border-color: #4DBAA9;
 }

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .open .dropdown-toggle.btn-primary {
  background-color: #BDE1D6; 
  border-color: #BDE1D6;
 }

 .btn-success {
  color: #ffffff;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  border:0px;
 }

  .btn-success:hover,
 .btn-success:focus,
 .btn-success:active,
 .btn-success.active,
 .open .dropdown-toggle.btn-success {
  background-color: #5ba9ae;
  border-color: #5ba9ae;
  border: 0px;
 }

 .btn-success.disabled,
 .btn-success[disabled],
 fieldset[disabled] .btn-success,
 .btn-success.disabled:hover,
 .btn-success[disabled]:hover,
 fieldset[disabled] .btn-success:hover,
 .btn-success.disabled:focus,
 .btn-success[disabled]:focus,
 fieldset[disabled] .btn-success:focus,
 .btn-success.disabled:active,
 .btn-success[disabled]:active,
 fieldset[disabled] .btn-success:active,
 .btn-success.disabled.active,
 .btn-success[disabled].active,
 fieldset[disabled] .btn-success.active {
  background-color: #5ba9ae;
  border-color: #4cae4c;
 }

 .btn-info {
   color: #ffffff;
  background-color: #006699;
  border-color: #006699;
 }

 .btn-info:hover,
 .btn-info:focus,
 .btn-info:active,
 .btn-info.active,
 .open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #6DB0D1;
  border-color: #6DB0D1;
 }

 .btn-lg {
   border-radius: 0px;
 }

 .nav-pills > li.active > a,
 .nav-pills > li.active > a:hover,
 .nav-pills > li.active > a:focus {
   background-color: #4DBAA9;
 }

 .nav-stacked > li.active > a,
 .nav-stacked > li.active > a:hover,
 .nav-stacked > li.active > a:focus {
   background-color: #666;
 }

  .navbar {
   position: fixed;
   z-index: 1000;
   min-height: 40px;
   margin-bottom: 30px;
   width: 980px !important;
   max-width: 980px !important;
 }

  @media (min-width: 768px) {
   .navbar {
    border-radius: 0;
   }
 }

  .navbar-collapse {
   max-height: 40px;
   width: 980px !important;
   max-width: 980px !important;
 }

   .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -10px;
 }

  @media (min-width: 768px) {
   .navbar-nav {
     float: left;
     margin: 0;
   }
   .navbar-nav > li {
     float: left;
   }
   .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;

   }
 }
 

 .pagination > .active > a,
 .pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
 .pagination > .active > a:focus,
 .pagination > .active > span:focus {
   z-index: 2;
   color: #ffffff;
   cursor: default;
   background-color: #8caaac;
   border-color: #8caaac;
 }

 .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000;
    background-color: #eee;
    border-color: #ddd;
    cursor: default;
}


 .pagination>li>a{
    color: #000;
}

  .label {
   font-weight: normal;
 }

  .panel {
   border: 0px solid transparent;
   border-radius: 0px;
 }

 .panel > .panel-body + .table {
   border-top: 0px solid #dddddd;
 }

  .panel-footer {
   padding: 10px 15px;
   background-color: #cccccb;
   border-top: 0px solid #FFFFFF;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   font-size: 12px;
 }

  .panel-group .panel-footer + .panel-collapse .panel-body {
   border-bottom: 0px solid #dddddd;
 }

  .modal-dialog-800 {
   z-index: 1050;
   width: auto;
   padding: 10px;
   margin-right: auto;
   margin-left: auto;
}

  .modal-dialog-500 {
   z-index: 1050;
   width: auto;
   padding: 10px;
   margin-right: auto;
   margin-left: auto;
}
 .modal-center {
   margin-left: 40px;
}

 .modal-footer {
   padding: 19px 30px 20px;
 }

  @media screen and (min-width: 768px) {
   .modal-dialog {
    right: auto;
    //left: 50%;
    width: 650px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
    .modal-dialog-800 {
    right: auto;
    //left: 50%;
    width: 1100px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
    .modal-dialog-500 {
    right: auto;
    width: 500px;
    padding-top: 55px;
   }
 }

  .carousel {
   height: 430px;
 }
 .carousel-control {
   width: 10%;
   opacity: 0;
 }


/******************************************* customize *********************************************/
/* override */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: auto;
}
/* global setting */
nav {
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

a {
  outline: none; /* for Firefox */
}


a:hover,
a:focus {
  outline: none; /* for Firefox */
  
}


.bold_hr {
	height: 3px;
	background-color: #808080;
}

.dashed_hr {
	border: dashed 1px;	
	color: #808080;
	margin: 25px 0;
}

.bordered_div {
	border: solid 1px #b7b7b7;
}

.description {
	font-style: italic;
	float: right;
	font-size: 12px;
}

.panel {
	//background-color: #cccccb;
	margin: 0;
	border: 0;
}

.panel > a {
	target=_blank 	
}

.panel-body > div > h4 {
	//color: #989898;
	text-align: center;
}

.panel-footer {
	background-color: #bde1D6;
}

.panel-footer > p {
	margin: 0;
	color: #888888;
	padding-right:20px; 
	font-size: 10px;
	text-align: right;
}

.panel-footer > hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* nav bar saerch */
#nav_search_input {
	width: 200px;
	height: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 45px;
	background-color: #101010;
	color: #ffffff;
}

#nav_search_btn {
	margin-left: -35px;
	height: 30px;
	width: 30px;
	background: url('/assets/images/SearchIcon.png') no-repeat center center;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #dc2733;
	color: #ffffff;
	height: 40px;
}

#navbar_search {
	margin-top: 5px;
}

/* for #header */
#header {
	margin-bottom: 10px;
	margin-top: 45px;
	background-color: #FFFFFF;
	width: 980px;
}

#logo {
	width: 272px;
	height: 124px;
	margin-bottom: 20px ;
	margin-right: Auto;
	margin-top: Auto;
	margin-left: Auto;
}

.tags > li{
	background: url('/assets/images/IconStar.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
}

.tags > li:active, .tags > li:hover {
	color:#4cb2a2;
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
}

.noimgtags > li{
	padding-left: 30px;
	margin-left: 25px;
	font-size: 14px;
	color:#4cb2a2;
}

.nodimgtags > li:active, .noimgtags > li:hover {
	color:#666666;
}

.redtags > li{
	background: url('/assets/images/IconStar-red.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
	color:red;
}

.redtags > li:active, .redtags > li:hover {
	color:#4cb2a2;
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
	color:#4cb2a2;
}

#header_right_section {
	padding-left: 83px;
}

/* for cart */
.dropdown-menu {
	min-width: 300px;
}

.dropdown-menu > li {
	margin: 10px;
}

.item_in_cart {
	clear: both;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

#cart_summary {
	min-height: 60px;
}

#purchase {
	width:135px ;
	height: 55px;
	text-align: center;
	font-size: 22px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}
/* suggestion list carousel */
.suggestion_list {
	width: 980px;
}

#suggestions-carousel {
	position: relative;
	width: 1120px;
	right: 70px;
	padding-right: 40px;
	padding-left: 60px;
}

#suggestions-carousel > .carousel-inner {
	height: 420px;
}

/* #suggestions-carousel > .carousel { */
/* 	padding: 0 60px; */
/* } */
.suggestion_list > li {
	list-style-type: none;
}

.slide_item {
	float: left;
	width: 220px;
	margin: 0 5px;
}

.carousel-control .icon-prev:before {
  content: url('/assets/images/ButtonLeftGray.png');
}

.carousel-control .icon-prev:active {
	content: url('/assets/images/ButtonLeft.png')
}

.carousel-control .icon-next:before {
  content: url('/assets/images/ButtonRightGray.png');
}

.carousel-control .icon-next:active {
  content: url('/assets/images/ButtonRight.png');
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.cloth_name {
	margin-bottom: 3px;
}

.cloth_original_price {
	color: #717170;
	text-decoration: line-through;
	margin-bottom: 3px;
}

.cloth_current_price {
	color: #e72d2c;
	margin-bottom: 3px;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.panel-box {
	width: 925px;
	height: auto;
	margin-left: 20px; 
}

.panel-box .col-md-2 {
	padding-left:40px ;
	
}

.panel-like {
	margin-left: 5px;
	margin-top:5px;
}

.col-md-2 > h5 {
	color: #999999;
	font-size: 16px;
	
}


.panel-link > a h6 {
	color: #4E4D4D;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link > h4 {
	color: #AAAAAA;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link {
	margin-top:20px;
	
}

.banner-s {
	margin-bottom:15px;
	
}

.rightcol {
	padding-top: 35px;
	margin-bottom: 35px; 

}

.leftcol {
	padding-top: 80px;
	padding-left: 20px;

}

.rightcol >img {
	margin-bottom: 35px; 
}

.rightcol h4 {
	color: #52AF7E;
	font-size: 16px; 
}

.rightcol >h2 {
	font-weight: bold; 
	font-size: 20px;
}

.contactus > p {
	color: #AAAAAA;
	font-size: 11px;
	margin-top: 0px;

}

.contentbox {
	margin: 20px;
	padding: 20px;
}

.singlerowbox {
	margin-left: 30px;
	margin-bottom: 30px;
}

.login-page {
	text-align: center;
}

.controlls {
	margin-top: 10px;
}

.input-form {
	text-align: left;
}

.modal{
  overflow: auto;
}
/***************************************** The begining of home *****************************************/


a {
cursor: pointer;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.splash {
position: absolute;
z-index: 1001;
background-color: rgba(0, 0, 0, 0.6);
height: 2880px;
width: 1080px;
margin-top: -45px;
margin-left: -50px;
}

p {
  line-height: 1.9;
}

.boxborder{
   border:1px solid #DDD;
}

.eventcontent{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}
.boxcenter{
    right: auto;
    left:50%;
}

.width375{
    width: 375px;
}
.width600{
    width: 600px;
}

.width500{
    width: 500px;
}

.getmoregreen{
    color: #4DBAA9;
}

.fbsharebtn{
    background-color: #3b5998;
    height:35px;
    margin-left: 1px;
}

.paddingtop10{
    padding-top: 10px;
}

.paddingtop20{
    padding-top: 20px;
}

.paddingtop50{
    padding-top: 50px;
}
.padding90{
    padding: 30px 90px 0 90px;
}

.padding30{
    padding: 30px;
}
.margintop10{
    margin-top: 10px;
}

.margintop20{
    margin-top: 20px;
}

.margintop30{
    margin-top: 30px;
}

.margintop40{
    margin-top: 40px;
}

.margintop50{
    margin-top: 50px;
}

.margintop100{
    margin-top: 100px;
}

.margintop290{
    margin-top: 290px;
}

.marginbottom10{
    margin-bottom: 10px;
}

.marginbottom20{
    margin-bottom: 20px;
}

.marginbottom30{
    margin-bottom: 30px;
}

.marginbottom40{
    margin-bottom: 40px;
}

.marginbottom60{
    margin-bottom: 60px;
}

.marginleft40{
    margin-left: 40px;
}

.marginleft10{
    margin-left: 10px;
}

.marginleft15{
    margin-left: 15px;
}

.marginleft5{
    margin-left: 5px;
}

.marginright40{
    margin-right: 40px;
}

.marginright10{
    margin-right: 10px;
}

.marginright5{
    margin-right: 5px;
}

.margintop-3{
    margin-top: -3px;
}

.col-254{
    width: 254px;
    float: left;
    padding-left: 15px;
    padding-right: 40px;
}

.col-726{
    width: 726px;
    float: left;
    padding-left: 15px;
    padding-right: 40px;
}

.col-800 {
width: 800px;
float: left;
padding-left: 0px;
padding-right: 0px;
margin-left: 90px;
}

.line-height24{
    line-height: 24px;
}
.fontp15 p{
    font-size: 15px;
}

.font-size14{
    font-size: 14px;
}

.font-size18{
    font-size: 18px;
}

.font-size12{
    font-size: 12px;
}

.font-size10{
    font-size: 10px;
}

.red{
    color:  #d14;
}

.alignbottom{
    position: absolute;
    bottom: 0;
}

.bggetmorecolor{
    background-color: #bde1D6;

}

.nopadding{
    padding: 0px !important;
}

.hr-margin0 {
    margin: 0;
}

.hr-margintop0 {
    margin-top: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-notwork{
    background: #cccccc;
    color: #ffffff;
}

.btn-notwork:hover,.btn-notwork:focus{
    background: #cccccc;
    color: #ffffff;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-notwork{
    background: #cccccc;
    color: #ffffff;
}

.btn-notwork:hover,.btn-notwork:focus{
    background: #cccccc;
    color: #ffffff;
}

.popover{
  border-radius: 0px;
  font-size: 10px;
}

.navsolution{
text-align:center;
height:36px;
display:inline;
margin-top:4px;
}

.navsolutionactive{
text-align:center;
height:36px;
background:#fff;
display:inline;
margin-top:4px;
}

.subnavsolutionactive{
  font-size:10px;
  margin:auto;padding:10px 10px;
  text-decoration:underline;
}
.subnavsolutionactive a{
  color:#000;
}

.subnavsolution{
  font-size:10px;
  margin:auto;padding:10px 10px;
}

.subnavsolution a{
  color:#fff;
}

/* ----------------------------- sellchoice ---------------------------------- */

.sellchoice{
    width: 900px;
}

.levels{
    text-align: center;
    padding: 0;
}

.levels li{

}

.levelsbtn{
    border-radius: 30px;
    width: 250px;
}

.planA{
    border-right: 1px solid #f4f4f4;
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.planB{
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.whychoice li{
    display: block;
    padding: 0;
    text-align: left;
    line-height: 20px;
}

.whychoice{
    font-size: 14px;
    padding: 0;
}

.sellbox{

}

.planA{
    border-right: 1px solid #f4f4f4;
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.planB{
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.whychoice li{
    display: block;
    padding: 0;
    text-align: left;
    line-height: 20px;
}

.whychoice{
    font-size: 14px;
    padding: 0;
}

.sellbox{

}

#sellchoisetable{
    width: 800px;
}

#sellchoisetable td{
    padding: 20px;
    min-width: 150px;
    vertical-align: middle;
}

/* ----------------------------- msg ---------------------------------- */
#message_post{

}

.msgfrom{
    width: 120px;
    padding: 0 5px;
    float:left;
    font-size: 13px;
    line-height: 18px;
}

.msgfrom .avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    border-radius:50%;
}

.reply{
    border-top: 1px solid #E8E8E8;
    margin-left: 120px;
    width: 521px;
    padding: 10px 0;
    overflow:hidden;
}

.reply .avatar{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    float: left;
    margin-top:4px;
    border-radius:50%;
}

.subject{
    width: 521px;
    position: relative;
    float:left;
    font-size: 13px;
    line-height: 15px;
}

.replysubject{
    position: relative;
    float:left;
    width: 471px;
}

.replysubject p{
    color: #444;
}

.replysubject{
    position: relative;
    float:left;
    width: 481px;
}

.replysubject p{
    color: #444;
}

.msgbox {
}


.msgtime{
    font-size: 11px;
    color: #ddd;
}

#message_post .subject .delete{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 14px;
    color: #ddd;
}

.replypost{
    margin-left: 120px;
    width: 521px;
    padding: 10px 0;
    overflow:hidden;
}

.modal-header .avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    border-radius:50%;
}

.postmsgfrom{
    padding: 0 10px;
   // float:left;
    font-size: 18px;
   //line-height: 18px;
}

.postmsgfrom .avatar{
    width: 40px;
    height: 40px;
    margin-right: 20px;
 //   float: left;
    border-radius:50%;
}

.form-control{
    padding: 5px 5px;
}

/* ----------------------------- home20 ---------------------------------- */
.logoarea{
    //height: 80px;
    //padding-left: 30px;
    //padding-right:30px;
}

.pokai-hr {
  margin: 15px auto 5px auto;
  border: 0;
  border-top: 1px dashed #000000;
  width: 980px;
}

.logoarea-right{
    padding-top: 38px;
    display: inline;
}

.logoarea-right a{
    padding-left: 20px;
    //color: #000000;
}

.searchsuggest{
  font-size:12px;
  color: #687E84;
  margin-top:3px;
}
.searchsuggest a{
  padding-left: 3px;
  text-decoration: underline;
}

.carousel-margin{
    margin-bottom: 20px !important;
}

/* ----------------------------- oldhome ---------------------------------- */
.carousel-indicators {
	position: relative;
	top: 25px;
}

.carousel-indicators > .active {
	background-color: #4cb2a2;
}

.carousel-indicators > li {
	background-color: #bbbebd;
}

#getmore_suggestions {
	margin: 50px 0px;
}

#getmore_suggestions > h5 {
	color: #e72d2c;
	font-size: 22px;
}

#dannytag {
	background-image: none;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}

#log_in {
	position: relative;
	right: 3px;
	bottom: 3px;
}

.navbar-icon {
    position: relative;
    right: 3px;
    bottom: 3px;
}


.form-group > .col-md-5 {
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
	margin-top: 10px;
}
#getmore_login, .fb_login {
	width: 400px;
	margin: 0 auto;
}

.modal-title {
	text-align: center;
}

.fb_login > h4 {
	text-align: center;
	margin-bottom:30px;
}

.fb_login_btn {
	margin: 0 40px ;
	background-color: #2c5D97;
	border-width: 0px;
}

#getmore_login > .row > div {
	padding-left: 0;
}

#getmore_login > .row {
	padding-bottom: 10px;
}

.getmore_instruction {
	padding-top: 13px;
}

.announcement {
	color: #717170;
	font-size: 12px;
}

#start_to_getmore {
}

.form-group > input {
	width: 375px;
}

#registration {
	padding: 10px 0;
	color: #717170;
	font-size: 12px;
}

#forget_password {
	color: #e72d2c;
	padding-right: 25px;
  font-size: 12px;
}


#registration > a {
	color: #3e9b95;
}


.carousel{
	margin-bottom:60px;
	
}

/* apply.css */

.blank_rectangel {
	width: auto;
	height: 25px;
}

h4 {
	margin-bottom: 0;
}

div {
	padding: 0px;
}

.dashed_hr {
	margin-top:30px;
	margin-bottom: 30px;
}

#buttons {
	margin: 30px 0;
}

.bold_hr{
	margin-top: 0;
}

#flow {
	/* margin-left: 65px; */
}

#congratulation {
	color: #ff002b; 
}

#clothe_icon, #member_icon {
	position: relative;
	top: 2px;
	margin-right: 30px;
}

#sidebar {
	height: 255px;
}

#clothes_management {
	color: #4cb2a2;
}

#address_code {
	width: 45px;
}

#returning_description {
	padding: 0 20px;
	//width: 360px;
	float: none;
	font-size: 14px;
}

#info {
	border: solid 1px #b7b7b7;
	padding: 10px;
	margin: 10px;
}

#total_fee {
	color: #ff0019; 
}

#getting_info {
	clear: both;
}

#ssl_description {
	font-style: italic;
}

#insturction {
	margin: 30px 0px;
}

#print {
	margin-top: 20px;
}

#receipt {
	border: solid 1px #b7b7b7;
	margin: 10px;
	padding: 0;
}

#receipt > div {
	padding: 0;
}

#first_row {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.info_div {
	padding: 5px 0;
	text-align: bottom;
}

#production_number_code {
	height: 100%;
	overflow: auto;
	height: 100%;
	position: absolute;
	right: 0;
}

#selling {
	color:#4cb2a2;
}

#upper_container {
	height: 300px;
	margin-bottom: 60px;
}

#center_spliter {
	margin: 30px 0;
}

#next_step {
	position: relative;
	top: 200px;
}

#getmore_suggestions {
	margin: 50px 0px;
}

#pagerow {
	margin-bottom: 45px;
}

.header {
	width: 980px;
    margin-top: 
}

.sellstart{
	margin-bottom: 50px;
	margin-top: 30px;
}


.sell-process{
	margin-top: 20px;
	margin-bottom: 50px;
}
.row-img{
	float:left;
	width: 141px;
}

.row-text-right{
	width: 500px;
	float:left;
	padding: 20px 20px 10px 30px;
}

.row-text-right >h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold; 
}

.row-text-right >p {
	font-size: 13px;
	letter-spacing: 0.1em;
	line-height: 150%;
}

/* ----------------------------- newheader ---------------------------------- */

#headads{
    z-index: 100;
    width: 100%;
    min-width: 1000px;
    height: 40px;
    background-color: #4DBAA9;
    
}

#headads #headerads-container {
margin: 0 auto;
width: 980px;
color: #FFFFFF;
line-height: 3;
}

#newheader {
z-index: 100;
width: 100%;
background-color: #ffffff;
min-width: 1000px;
}

#header-containerbg {
z-index: 100;
width: 100%;
min-width: 1000px;
background-color: #000000;
}

#newheader #header-container {
margin: 0 auto;
width: 1000px;
height: 40px;
}

#header-container .right-menu {
    display: inline;
    float: right;
    margin-right: 8px;
    margin-top: 12px;
    color: #000000;
}

#navigation{
    margin: 10px auto 0px auto;
    background-color: #FFFFFF;
    width: 1000px;
}


.head-search{
    margin-top: -3px;
    font-size: 12px;
    height: 25px;
}

.head-search-btn{
    margin-top: -3px;
    font-size: 12px;
    margin-left: -12px;
}

/* ----------------------------- headbar ---------------------------------- */

.header-bar {
	width: 980px;
    //background-color: black;
    font-size: 14px;
    color: #999999;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    z-index:9999;
}

.header-bar .left-menu {
    display: inline;
    float: left;
    margin-top: 10px;
}

.header-bar .right-menu {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 8px;
    color: #000000;
}

.left-menu li {
    cursor: pointer;
    float: left;
    margin-left: 20px;
    color: #898989;
}

.right-menu li {
    cursor: pointer;
    float: left;
    margin-left: 25px;
    color: #898989;
}

ul.left-menu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.right-menu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.left-menu > li > a {
	color: #898989;
}

.right-menu > li > a {
	color: #898989;
}

.left-menu > li > a:hover {
	color: #4c4948;
	text-decoration:none;
}

.right-menu > li > a:hover {
	color: #FFFFFF;
	text-decoration:none;
}

#shopping-cart-menu {
	margin-left: -155PX;
}

/* ----------------------------- header ---------------------------------- */

.headmenu-left {
    display: inline;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.headmenu-right {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
   // margin-right: 20px;
}

.headmenu-left li {
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-right: 40px
}

.headmenu-right li {
    cursor: pointer;
    float: left;
  //  margin-right: 15px
}

ul.headmenu-left {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.headmenu-right {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.tags > li{
	background: url('/assets/images/IconStar.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 5px;
	font-size: 14px;
}

.tags > li:active, .tags > li:hover {
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
}

.headmenu-left > li > a {
	color: #595757;
}

.headmenu-right > li > a {
	color: #595757;
}

.headmenu-left > li > a:hover {
	color:#4DBAA9;
	text-decoration:none;
}

.headmenu-right > li > a:hover {
	color:#4DBAA9;
	text-decoration:none;
}

li.headmenu-highlight {
	//background: url('/assets/images/IconStar-red.png') no-repeat center left;
}

li.headmenu-highlight > a {
	color: red;
}


/* ----------------------------- homead ---------------------------------- */

.homead {
  margin-bottom: 55px;
  width: 980px;
  height: 152px;
}

.homead-box {
	width: 228px;
	margin-right: 22px;
	float: left;
}

.homead-box-right {
    width: 228px;
    //margin-left: 22px;
    float: left;
}

.homead-slogan {
	margin: 30px 10px 30px 50px;
}

.homead-slogan > h3 {
	letter-spacing: 0.1em;
	line-height: 200%;
}

.clear {zoom:1; clear:both;}
.clear:after {content:''; display:block; clear:both; visibility:hidden; height:0;}


/* ----------------------------- footer ---------------------------------- */

.footer-menu{
	float: left;
	width: 185px;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-menu h5,h6{
    color: #727171;
}

/* ----------------------------- suggestion ------------------------------ */
 
    	.suggested-box{
    		width: 980px;
    		margin-top:35px;
    	}
    	.suggested-box a:hover {
			text-decoration:none;
		}
        .buy-me-tag{
            position: absolute;
            bottom: 88px;
            right: 0px;
            z-index: 99;
            display: none;
        }

        .suggested-item{
            // margin: 0px 10px 20px 10px;
            // border: 1px solid #DDD;
            // padding: 10px;
        }
        .suggested-item:hover{
            // box-shadow: 0 0 5px #BBBBBB;
        }
        .suggested-item-original-image{
            border-bottom: 1px solid #DDD;
        }
        .suggested-item-original-image img{
            width: 180px;
            margin-left:20px; 
        }        
        .suggested-item-original-image img{
            border: 1px solid white;
            border-bottom: 0;
        }
        .suggested-item-original-image img:hover{
            border: 1px solid #DDD;
            border-bottom: 0;
            box-shadow: 0 0 5px #BBBBBB;              
        }
        .suggested-item-title{
            color: black;
            padding-top: 18px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
        }
        .suggested-item-original-price{
            text-decoration: line-through;
            color: #acabb5;
            padding-top: 5px;
            text-align: center;        
        }
        .suggested-item-selling-price{
            color: black;
            margin-top: 5px;
            text-align: center;
        }

        .suggested-item-selling-price span{
        	background-color: #90CFC6;
        	padding-left: 4px;
        	padding-right: 4px;
        }

        .suggested-item-button{
            margin-top: 150px;
            padding-left: 6px;
            padding-right: 6px;
        }

/* ----------------------------- mycloset ------------------------------ */
    /* top element start */

    .closet-top{
        border: solid 1px white;
        position: relative;
        padding-bottom: 15px;
        height: 230px;
    }
    
    .closet-banner-photo{
        position: relative;
    }

    .closet-banner-photo button{
        display: none;
        position: absolute;
        bottom: 50px;
        right: 20px;
    }
    
    .closet-profile-photo{
        position: absolute;
        top: 20px;
        left: 30px;
        border: 1px solid #bbbbbb;
        padding: 6px;
        background-color: white;
    }

    .closet-profile-photo button{
        display: none;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
    
  
    .closet-profile-title{
        position: relative;
        left: 250px;
        width: 600px;
        font-size: 20px;
        color: #444444;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .closet-profile-description{
        position: relative;
        left: 250px;
        width: 550px;
        font-size: 14px;
        color: #444444;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 104px;
        overflow: hidden;
    }
    .closet-share-button{
        position: absolute;
        top: 170px;
        right: 20px;
    }    
    
    /* top element end */
    .closet-nav-box{
    	margin: 0 20px 20px 20px;

    }

    .closet-nav{
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        padding-left: 50px;
    }

    .closet-nav-element{
        border-bottom: 1px;
        float: left;
    }

    .closet-nav-element a{
        display: block;
        padding: 10px;
    }

    .closet-nav-element a:hover{
        text-decoration: none;
    }
    
    .closet-nav-element-active{
        border: 1px solid black;
    }

    .closet-nav-element-active a{
        color: black;
    }
    
    .closet-nav-box > ul > li > a {
    	color: #4eb1a1;
    }
    /* nav element end */

    .newcloset-top{
        border: solid 1px ;
        position: relative;
        padding-bottom: 15px;
        height: 230px;
        color: #FFFFFF;
        background-color: #4DBAA9;
        border-color: #d6e9c6;
    }
    
    .newcloset-profile-photo{
        float: left;
        margin-right: 30px;
        width: 175px;
        height: 230px;
    }
    
    .newcloset-profile-description{
        float: left;
        margin-right: 30px;
        width: 300px;
        height: 100px;
    }

    .newcloset-profile-photo .img-circle{
        width: 115px;
        height: 115px;
        margin: 30px 30px 10px 30px;

    }

/* ----------------------------- showroom ------------------------------ */

.closet-main-show{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 40px;
    width: 980px;
}

    .demo{
        float: left;
        width: 252px;
        height: 550px;
        overflow: hidden;
        border: 0.5px solid #888888;
        margin: 10px 24px;
    }

.demo_title{
    font-size: 14px;
    color: #19a190;
    padding-left: 10px;
    line-height:20px;
}

.demo_title h3{
    font-size: 16px;
    color: #19a190;
    margin-bottom: 5px;
    margin-left: 10px;
}

.demo_description{
    padding: 0px 10px 10px 10px;
    word-break:break-all;        
    height: 100px;
    overflow: hidden;
}

    a.like_button{
        background-image: url('/assets/images/closet/ilike-02.png');
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        text-decoration: none;
    }
    a.like_button:hover{
        background-image: url('/assets/images/closet/ilike-01.png');
        background-repeat: no-repeat;
    }
    a.like_button_disabled{
        background-image: url('/assets/images/closet/ilike-01.png');
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        text-decoration: none;
    }
    a.like_button_disabled:hover{
        cursor: alias;
    }

.btn-add-photo {
    display: block;
    margin-left: 792px;
}


/* ----------------------------- member ------------------------------ */
.lable-margin{
    margin-left: 5px;
    margin-right: 15px; 
}

.termwindow{
    margin: 10px auto;
    width: 650px; 
    height: 280px; 
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px; 
    line-height: 18px; 
    color: #666; 
    padding: 10px; 
    background: white; 
    border-width:0.5px; 
    border-style:solid;
}

.alert-adjust{
    background-color:#FFF7C2;
    border-color:#FFF7C2;
    color: #eda180;
    margin-bottom: -20px;
}

.presellbtn{
    margin-top: 150px;
    position: absolute;
    margin-left: 800px;
}

.presellbtn1{
    margin-top: 50px;
    margin-left: 800px;
}

.grabtn{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 475px;
}

.btn-pink{
    background-color:#EC95B2;
}

.article-line p {
    line-height: 2;   
}

/* ----------------------------- member ------------------------------ */

.article-content{
    width: 650px;
    background-color: white;
    padding-right: 30px;
    float: left;
}

.article-content img{
    margin: 10px 0;
}

.article-side{
    width: 330px;
    background-color: white;
    padding-left: 30px;
    float: left;
}

.article-side p{
    font-size: 12px;
}

.article-side a{
    cursor:auto;
}

.article-side ul{
    list-style-type:square;
}

.article-side .to_like{
    font-size: 14px;
}

.article-breadcrumb {
font-size: 11px;
letter-spacing: 1px;
}

.article-date{
    color: #bbb;
}

.article-author{
    margin:20px 0;
    color: #bbb;
}

.author-name a{
    color: #bbb;
}

.article-side-title{
    color: #4DBAA9;
    margin-bottom: 10px;
    line-height: 1.9;
}

.article-social-funcs{
    width: 180px;
}

/* ----------------------------- article ------------------------------ */

.article-box {
    width: 306.6px;
    height: 320px;
    float: left;
    margin: 0px 10px 20px 10px;
    border: 1px solid #4DBAA9;
}

.article-box a{
    text-decoration: none;
}

.article-box:hover{
    box-shadow: 0 0 5px #4DBAA9;
}

.article-title {
    color: #000000;
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    overflow: hidden;
    height: 50px;
    font-weight:bold;
}


.article-thumbnail {
    width: 100%;
    height: 140px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}

.article-thumbnail img{
    width: 100%;
}

.article-abstract{
    color: #777;
    padding: 5px;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 19px;
}

.article-time{
    color: #777;
    font-size: 12px;
    padding: 5px;
    margin:5px 0;
}

.blog-category{
    margin-top: 10px;
    margin-bottom: 10px;  
    width: 700px;
}

/*--PlanA--*/

.planabox{
padding: 20px 50px 50px 50px;
margin-bottom: 14px;
min-height: 500px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #999;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: right;
}

.planpopover > .popover{
  border-radius:0px;
  border: 0.5px solid #000;
}

.planbtn{
  background-color: #fff;
  border-color: #333;
  color: #000;
  font-weight: 2px;
  letter-spacing: 1px;
}

.planbtn-hightlight{
  background-color: #000;
  border-color: #000;
  color: #fff;
  font-weight: 2px;
  letter-spacing: 1px;
}

.planbtn:hover,.planbtn:focus{
  background-color: #000;
  border-color: #333;
}
.headhighlight{
  color:#bbb;
  //text-decoration: underline;
}
.headhighlight:hover,.headhighlight:focus{
  color:#00677b;
  text-decoration: underline;
}
.newnavbar .modal{
  color:#000;
}
.newnavbar .modal a{
  color: #000;
}
.prmary-btn-a a{
  color: #fff;
}
/****************************************** The End of home ******************************************/
/****************************************** The begining of new head ******************************************/
#newHeaderContainer{

}
#newHeaderStickyContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
}
#newHeaderMenu{
  margin-bottom: 20px;
  z-index: 101;
  background: #fff;
  overflow: auto;
}
.getmorelogoimg{
  margin: 12px 50px 0 0;
  float: left;
}
.searchbar{
  margin-top: 25px;
  overflow: auto;
  float: left;
}
.searchbarform{
  width: 505px;
  margin: 10px 5px;
  overflow: auto;
}

.searchicon{
  position: absolute;
  left: 17px;
  top: 50px;
}
.newHeaderRight{
  float:right;
  margin-top: 25px;
  color: #333;
  position: relative;
}
.newHeaderCart{
  margin-top: 15px;
  width: 50px;
  text-align: center;
 // border-left: 1px solid;
  //border-right: 1px solid;
  float: left;
  position: relative;

}
.newHeaderMember{
  margin-top: 15px;
  width: 50px;
  text-align: center;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
}
.newHeaderMsg{
  margin-top: 15px;
  width: 50px;
  text-align: center;
 // border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
  position: relative;
}
.newHeaderlogin{
  margin-top: 15px;
  width: 60px;
  text-align: center;
  border-left: 1px solid #bbb;
 // border-right: 1px solid #bbb;
  float: left; 
}

.planbar{
  margin: 8px 0;
}
.newplanabtn{
  width: 325px;
  margin-right: 8px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}
.newplanbbtn{
  width: 325px;
  margin-right: 9px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}

.newplancbtn{
  width: 325px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}
.menuarea{
  //margin-bottom: 10px;
  border-bottom: 1px dashed #000000;
  padding: 10px 0 5px 0;
}

.newHeaderMenu-left {
    display: inline;
    float: left;
    margin-bottom: 0px;
}

.newHeaderMenu-right {
    display: inline;
    float: right;
    margin-bottom: 0px;
}

.newHeaderMenu-left li {
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-right: 40px
}

.newHeaderMenu-right li {
    cursor: pointer;
    float: left;
    margin-right: 15px
}

ul.newHeaderMenu-left {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.newHeaderMenu-right {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}
.newHeaderMenu-left > li > a {
  color: #595757;
}

.newHeaderMenu-right > li > a {
  color: #595757;
}

.newHeaderMenu-left > li > a:hover {
  color:#4DBAA9;
  text-decoration:none;
}

.newHeaderMenu-right > li > a:hover {
  color:#4DBAA9;
  text-decoration:none;
}

li.newHeaderMenu-highlight {
  //background: url('/assets/images/IconStar-red.png') no-repeat center left;
}

li.newHeaderMenu-highlight > a {
  color: red;
}
#newbannerContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newbannerfirstrow{
  overflow: auto;
}
#newbanner-1{
  float: left;
  margin-right: 14px;
}
#newbanner-2{
  float: left;
}
#newbannersecondrow{
  margin-top: 10px;
  overflow: auto;
}

#newbanner-3{
  float: left;
  margin-right: 11px;
}
#newbanner-4{
  float: left;
  margin-right: 13px;
}
#newbanner-5{
  float: left;
}

/*! newpage by PoKai */

.pagetitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  margin-left: 30px;
  font-weight: bold;
}
.pagecentertitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: bold;
}

.fifthrow {
  overflow: auto;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  min-height: 160px;
}

.plandescription {
  overflow: auto;
  text-align: center;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  min-height: 160px;
  margin-bottom:30px;
}
.pageabouttitle{
  margin: 0 auto;
  width: 230px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;

}
.pageaboutbox{
  margin-top: 15px;
}
.pageaboutp{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 25px;
}

.sixthrow{
  overflow: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
//  min-height: 160px;
  border-bottom: 2px solid #888;
}
.pageliketitle{
  margin: 0 auto;
  width: 330px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;
}

.pagelikebox{
  overflow: auto;
  margin: 20px auto 0px auto;
  display:inline-block; 
}

.pagelikefacebook ,.pagelikeinstagram{
  float: left;
  margin-right: 20px;
}

.pagelikeyoutube{
  float: left;
}

a.pagelikea{
  color: #333;
  text-decoration: none;
}
a.pagelikea:hover{
  color: #000;
  text-decoration: none;
}

#newContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newfooter{
  z-index: 101;
  background-color: #f9f9f9;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}

.boxmenu{
  margin-top: 5px;
  padding-top: 10px;
  z-index: 1000000;
}
.boxmenu-btn{
  float: left;
  width:321.33px;
  margin-right: 8px; 
  background-color: #bbb;
  position: relative;
  height: 35px;
}
.boxmenu-btn-a{
  width: 321.3px;
  position: absolute;
  top: -3px;
  left: -4px;
}

.pageaboutbox{
  margin-top: 15px;
}
.pageaboutp{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 25px;
}
/******************************************The End of new head ******************************************/

/***************************************** The begining of typeahead *****************************************/
/* custom font! */
/* ------------ */

/* scaffolding */
/* ----------- */

.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

/* site theme */
/* ---------- */

.typeahead,
.tt-query,
.tt-hint {

  width: 700px;
  height: 50px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #4DBAA9;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  top: -30px !important;
}

.tt-dropdown-menu {
  width: 396px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}
/***************************************** The End of typeahead *****************************************/
/***************************************** The Begining of clothes *****************************************/

/*----- clothes bar --------*/

ul#closetnav li:first-child {
border-left: 1px solid #ddd;
}

ul#closetnav li span {
color: #d60909;
font-weight: bold;
}

.closetbar{
margin-bottom:20px;
text-align:center;
}

ul#closetnav {
padding: 0;
margin: 16px 20px 0 20px;
background: #f7f7f9;
border: 1px solid #d1d1d1;
}

ul#closetnav li {
color: #404040;
list-style: none;
display: inline-block;
border-right: 1px solid #ddd;
padding: 14px 18px;
font-size: 14px;
}  



.category-container {
    clear: both;
    padding-top: 20px;
}

.subtype{

}

.search_container{
    margin-top: 78px;
}

.search_input{
    display: inline;
    width: 150px;
}

/* ----------------------------- 新鮮貨fresh ---------------------------------- */
.fresh {
    clear: both;
    padding-top: 40px;
}

.fresh-sequence{
    padding-right: 20px;
    padding-top: 20px;
}

.fresh-title {
    border: 1px solid #000000;
    height: 37px;
    font-size: 18px;
    line-height: 37px;
    padding: 5px 10px;
    margin: 0 30px;
}

.fresh .form-control{
    width: 110px;
    height: 20px;
    font-size: 10px;
}

.fresh-box {
  width: 1000px;
 // padding: 0 20px;
  margin-top: 20px;
  overflow: auto;
}

.fresh-product-view {
    //width: 220px;
    //float: left;
    //margin: 0px 10px 20px 10px;
   // border: 1px solid #DDD;
    //padding: 10px;
}

.fresh-product-view {
  width: 230px;
  height: 440px;
  float: left;
  margin: 0px 0px 20px 15px;
  position: relative;
}

.fresh-product-title {
  color: #666;
  font-size: 13px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow: hidden;
  width: 230px;
  height: 18px;
}


.product-brand {
  color: #000;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow: hidden;
  width: 230px;
  height: 18px;
  font-weight: 900;
  font-family: Tahoma,Arial,sans-serif;
}


.fresh-product-price {
    color: #acabb5;
    //margin-bottom: 3px;
    width: 230px;
    height: 18px;
    overflow: auto;
}

.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 10px;
}


.fresh-product-sale {
    color: #000;
    font-weight: bold;
    margin-right: 10px;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 10px;
}

.pricedown-tag {
    margin-left:10px;
    color:#4dbbaa;
}

.size-tag{
    margin-left: 10px;
}
  
.like_tag{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.fresh-product-view > img {
    width: 230px;
    height: 345px;
    margin-bottom:5px;
}
.fresh-product-view-img > img {
    width: 230px;
    height: 345px;
    margin-bottom:5px;
}

.fresh-product-view-img > img{
    width: 230px;
}

.soldoutsticker img{
    float: left;
    width: 222px;
    height: auto;
    position: absolute;
    margin-top: 135px;
    margin-left: 4px;
}

.soldoutsticker180 img{
    float: left;
    height: auto;
    position: absolute;
    margin-top: 120px;
    margin-left: 20px;
}

.recommended_tag img{
    position: absolute;
    margin-top: -10px;
    margin-left: 160px;
}

.fresh-product-view:hover {

}

/*

.fresh-product-list {
    height: 257px;
    border-bottom: 1px solid #B9AFAF;
}


.fresh-product-view img:hover {
    box-shadow: 0 0 20px #BBBBBB;
}


.fresh-product-view p {
    padding: 4px 0px 0px 0px;
    width: 180px;
    text-align: left;
    margin: 0;
    font-size: 13px;
}

*/


/* -------------------------------- getmore view start ---------------------------- */
.product-view-more {
    height: 22px;
    border-bottom: 1px solid #C7C4C4;
    margin: 0px 0px 10px 0px;
    width: 920px;
    font-size: 14px;
    font-weight: 600;
    color: #AD0909;
}

.product-view {
    margin: 10px 0px 0px 0px;
  //  border-top: 1px solid #CCCCCC;
}

.product-image {
    margin: 20px 0px 0px 0px;
    float: left;
    width: 350px;
    padding: 0 30px 0 70px;
}

.product-main-image {
}

.product-main-image img {
     // width: 250px;
     // height: 375px;
     margin-bottom: 40px;
}

.product-other-image, .product-size-image {
    float: left;
    margin: 0px 6.6px 20px 6.6px;
}


.product-other-image img, .product-size-image img {
    width: 70px;
}

.product-other-image img:hover {
    cursor: pointer;
}

.product-view-detail {
    margin: 25px 0px 0px 0px;
}

.product-view-detail hr {
    border-style: dotted;
    margin-right: 10px;
}

.product-view-detail p {

}

.product-view-detail >p >a {
    font-size: 10px;
    text-decoration:underline;
}

.product-breadcrumb{
    font-size: 11px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-weight: bold;
}

.product-breadcrumb a{
    color: #70AFA4;
}

.product-view-name {
    font-size: 30px;
    color: #19a190;
    margin-bottom: 5px;
}

.product-view-sn {
    margin: 0px;
    color: #666666;
    font-size: 10px;
    font-family: "新細明體";
}

.product-view-brand {
    font-size: 14px;
    color: #666767;
    margin: 25px 0px 5px 0px;
}

.product-view-type {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-view-style {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-view-size {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-characteristic {
    font-size: 14px;
    color: #666767;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-view-special{ 
    color: black;
    background-color: #CCCCCC; 
    padding: 5px 6px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.product-hownew {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
}

.product-additional {
    font-size: 14px;
    color: #666767;
    margin-bottom: 5px;
    padding-right: 20px;
}


.product-view-dist {
}

.product-view-dist-title {
    float: left;
    margin: 5px 0px 0px 0px;
}

.product-view-dist-p {
    margin: 0px 10px 0px 10px;
    background: #EEEEEE;
    height: 22px;
    float: left;
    line-height: 22px;
    padding: 5px;
    font-size: 14px;
}

.product-view-dist-div {
    clear: both;
}

.product-view-status {
    margin: 28px 0px 0px 0px;
}

.product-view-price {
    line-height: 30px;
    margin: 40px 0px 0px 0px;
}

.c-price {
}

.s-price {
    color: #E71F19;
    font-size: 26px;
    font-weight: 600;
}

.product-view-buy {
    width: 280px;
    height: 40px;
    background-color:#8caaac;
    //margin: 0px 0px 0px 28px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.product-view-buy:hover{
  background-color:#BDE1D6;
  color: #FFFFFF;
}

.product-explanation {
    border: 1px solid #A8A8A8;
    clear: both;
    width: 773px;
    margin: 150px 0px 0px 80px;
}

.product-explanation-image {
    padding: 30px;
}

.product-explanation-image img {
    width: 270px;
    height: 180px;
}

.product-explanation-detail {
    font-size: 12px;
    color: #666767;
}

.product-declare {
    margin: 60px 0px 0px 80px;
}

.product-declare img {
    width: 773px;
}

#measure_main{
 // background-color: yellow;
    min-height: 300px;
    border: 1px solid #666767;
    border-color: #666767;
    margin: 20px;
    color: #666767;
}

.measure_unit{
    height: 20px;
}

#measure_bottom{
 // background-color: pink;
    color: #666767;
    padding: 10px;
    width: 350px;
    font-size: 11px;
}

#measure_left{
    width: 450px;
 // border: 1px solid black;
 // background-color: orange;
    padding: 25px 20px 20px 50px;
    float: left;
    border-right: 1px dashed #666767;
    border-color: #666767;
}

#measure_right{
    // background-color: red;
       float:left;
       margin-left: 100px;
       margin-top: 30px;
       font-size: 14px;
          
}

#measure_right h3{
    margin-bottom: 20px;
    font-size: 18px;
}

#measure_right a{
    color: #19a190;
}

#measure_pic{
    float: left;
}
      
#measure_column{
    float: left;        
}
 
#measure_img{
    height: 200px;
}

.getmorecenter-block {
    padding: 20px;
    display: block;
    margin: 60px auto 100px auto;
}

/* -------------------------------- getmore view end ---------------------------- */

/*----- dropdown cart --------*/
.cart-block{
  // background-color: red;
  
}

.cart-img{
  width: 50px;
  margin-right: 5px;
  float: left;
}

.cart-title{
  width: 120px;
  float: left;
  padding: 20px 0;
}

.cart-price{
  // color: orange;
  width: 50px;
  // background-color: pink;
  float: left;
  padding: 30px 0;
}

.cart-close{
  float: left;
  padding: 30px 0;
}
.cart-number{
  color: red;
  padding: 5px;
}

/*----- dropdown cart --------*/
#go_second_step{
  background-color:#70AFA4;
}

#go_second_step:hover{
  background-color:#BDE1D6;
}

#go_third_step{
  background-color:#70AFA4;
}

#go_third_step:hover{
  background-color:#BDE1D6;
    
}

/*----- clothes product --------*/

#similar_suggestion_title{
    color: #888888;
    padding-left: 40px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
 }
        
.suggested-item-selling-price span{
    color: red;
    background-color: white;
}
        
.suggested-item-original-price{
    color: #acabb5;
}
/***************************************** The End of clothes *****************************************/
/***************************************** The begining of newnavbar and footer *****************************************/
.popoverstyle{
  font-size: 12px;
  padding:10px 0px; 
  width:120px;
  line-height:25px;
}

.dropdown-menu{
  z-index:1000!important;
}

.popoverstyle a{
  color: #000000;
}
.popoverstyle a:hover, a:focus{
    text-decoration: underline;
}
.Headerbadge {
  top: -8px;
  margin-left: -5px;
  position: absolute;
  background-color: #dd0017;
  float: left;
}
.newnavbar{
  color:#fff; 
  margin-top:10px;
}

.newnavbar a{
  color:#fff;
  text-decoration:none;
}

.newnavbar a:hover, a:focus{
  color:#bbb;
}

.newnavbar .dropdown-menu .divider {
  height: 0px;
}

.dropdown-formenu{
  min-width:180px; 
  border-radius:0px;
  margin-top: 4px;
  padding: 10px 0 15px 0;
  border-top: 5px solid #000;
}

.dropdown-formenu li{
  margin: 0;
  font-size: 12px;
}

.dropdown-formenu>li> a{
  color: #000;
  font-weight: bold;
}

.dropdown-formenu>li> a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

.dropdown-toggle-formenu{
  color:#000;
  font-size: 12px;
  text-transform:uppercase;
}

/***** footer  *****/
#newfootercontainer{
  background-color: #f9f9f9;
  z-index:100;
  width:100%;
  min-width: 1000px;
}
.footcontainer{
  max-width:980px;
  margin:0 auto;
}
#newfooterbox{
  z-index: 101;
  background-color: #f9f9f9;
  //width: 980px !important;
  margin: 30px auto 0 auto;
  overflow: auto;
  color: #666;
  //padding: 30px 15px 10px 15px;
  padding: 30px 0 10px 0px;
}
#newfooterbox a{
  color: #666;
}
#newfootercopyright{
  z-index: 101;
  background-color: #f9f9f9;
  //width: 1000px !important;
  margin: 0 auto;
  overflow: auto;
  color: #666;
  //padding: 0 15px 10px 15px;
  padding-bottom: 10px;
}
#footerabout{
  float: left;
  margin-left:30px;
  width: 380px;
  width: 38%;
}
.footerabouttitle{
  font-size: 14px;
  //font-weight: bold;
  color: #000;
}
.footerabout p{
  font-size: 12px;
  letter-spacing:1px;
}
.footerlinkbox{
  float: left;
  //width: 160px;
  margin-left: 15px;
  width: 16%;
}
.footerlink{
  font-size: 12px;
  margin-bottom: 3px;
}
/***************************************** The End of newnavbar and footer *****************************************/
.certifycontainer{
  margin-top: 30px;
}

/***********dsner*************/
  .dsnershop-left{
    float:left;
    padding: 30px 20px 20px;
    width: 270px;
    //border-right: 1px solid #ddd;
    min-height: 900px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsnershop-right{
    float: left;
    padding: 30px 0 20px 10px;
    width: 730px;
  }
  .likeslideup{
    background-color: rgba( 230, 230, 230, 0.6);
    height: 70px;
    bottom: 95px;
    width: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
  //display: none;
    overflow: auto;
  }
  .likeslideupcontent{
    float:right;
    min-width:50px;
    margin-top:10px;
    margin-right:40px;
    color:#000;
    text-align:center;
  }
  .likeslideupcontent:hover{
    color: #fff;
  }


/*****************sellmanage***************/
.editpimg {
  width: 30px;
  margin: 5px;
}

.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #006699;
  border-color: #006699;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.input-group-addon {
    border: 0px !important;
    background-color:transparent !important;
}

.measure-input {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
}
.cm-text {
    border: 0px;
    background-color: #FFFFFF;
}
.add-style-btn {
    display: inline-block;
}
#free_style-tokenfield {
    min-width: 629px !important;
}
.error-div {
    border:1px solid rgb(196,59,29);
}

.likeslideupcontent.to_like:hover{
   color: #777;
 }
.likeslideupcontent.liked{
  color: #ff3366;
}
.likeslideupcontent.liked:hover{
  color: #ff3366;
}

.subitem{
  padding-left: 10px;
}

/***** dsnerview  buyerview *****/
.fresh-product-view:hover .like-fade {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity:1;
}

.like-fade {
    opacity: 0;
}

.liked {
    color: red;
}

.bannerbox{
    margin: 10px 0;
}
.getmore_banner01{
    float:left;
    margin-right: 5px; 
}
.getmore_banner02{
    float:left;
}
.bannerbox2{
    margin: 10px 0;
}
.getmore_banner03{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner04{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner05{
    float:left;
  margin-top:10px;
}
.bannerboxtitle{
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: "HelveticaNeue-Light","細明體";
    color: #000;
}
.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
.leftcate{
  font-size: 10px;
  margin-bottom: 20px;
}
.leftcate a{
  color:#000;
}
.leftfilter{
  border-top: 1px solid #999;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.leftfilter-title{
  margin:20px 0 10px 0;
}
.season_label{
  display: block;
}
.style_label{
  margin-bottom: 0px;
}
.cateright{
  float:left;
  width:825px;
  padding-left:3px;
  min-height:500px;
  padding:15px;
}
.cateproduct{
  margin-top:0px;
  float: left;
  margin-left: 30px;
  min-width: 795px;
}
.clearall{
    font-size: 10px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    color: #bbb;
}
.discountlable{
  background-color:#e30450;
  width:50px;
  height:50px;
  color:#fff;
  position:absolute;
  top:-5px;
  left:-5px;
  border-radius:50%;
}
.discountlablep{
  margin-top:10px;line-height:16px;
}

.sold-out-text{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  padding-top:125px;
  font-weight:bold;
  font-size:1.4em;
  background-color:#ffffff;
  opacity:0.5;
}