  .dsner-left{
    float: left;
    padding:30px 20px 20px 0;
    width:471px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
    margin-bottom: 10px;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsner-right{
    float: left;
    padding:30px 20px 20px;
    width: 529px;
  }
  .dsner-des{
    padding-top:10px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .dsner-name{
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .dsner-color{
    font-size: 10px;
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }

  .dsner-number{
    font-size: 10px;
    border-radius: 0px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-size{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-nav{
    margin-top: 30px;
    width: 400px;
    margin: 40px auto 0 auto;
  }
  .dsner-tabs{

  }
  .dsner-tabs > li > a{
    border-radius: 0px;
    font-size: 10px;
  }
  .dsner-buy{
    width: 100%;
    margin-top: 10px;
  }
  .dsner-tab-content{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
    padding-top: 30px;
    //font-size: 10px;
    overflow: auto;
    letter-spacing:1px;
  }
  .dsner-p p{
    font-size: 10px;
  }

  .addto{
    background-color:#fff;
    color:#bbb;
    border:1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .dsner-size-box{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    overflow: auto;
  }
  .dsner-number-box{
    margin-top: 10px;
  }
  .product_size{
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 75px;
  }
  .detail_size{
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 40px;
  }
  .product_size.disabled{
    border: 1px dashed #ccc;
  }
  .zoomWindow{
        left: 410px !important; 
  }
  .zoomWrapperImage{
        height: 600px !important;
  }
.bannerbox{
  margin: 10px 0;
}
.getmore_banner01{
  float:left;
  margin-right: 5px; 
  position: relative; overflow: auto;

}
.getmore_banner01 img{
  height: 430px;
  width: 740px;
}
.getmore_banner02{
  float:left;
}
.bannerbox2{
  margin: 10px 0;
}
.getmore_banner03{
  float:left;
  margin-right: 5px; 
}
.getmore_banner04{
  float:left;
  margin-right: 5px; 
}
.getmore_banner05{
  float:left;
}
.bannerboxtitle{
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  font-family: "HelveticaNeue-Light","細明體";
  color: #000;
}
.viewproductslider{
  position: relative; 
  height: 230px;
}
.recentViewBox {
  overflow: auto;
  height: 200px !important;
  width: 996px;
}

.recentViewBox .product {
  width: 130px;
  height: 195px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.recentViewBox li {
  list-style: none;
  height: 200px;
  width: 996px;
}

.recentViewBox ul {
  height: 210px;
  margin-bottom: 0px;
}

.recentViewBox ul li {
  float: left;
}

.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
#next {
  position: absolute;
  z-index: 2;
  top: 88px;
  right: 0px;
}

#previous {
  position: absolute;
  z-index: 2;
  top: 88px;
  left: 0px;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  background: gray;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: black;
  opacity: 1;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0px  0px 0px rgba(0,0,0,.125);
    border-color:#000;
    border:1px solid #000;
}
/*
.product-view-buy{
    background-color: #ff9c32;
    color: #000;
}

.product-view-buy:hover{
    background-color: #ff8f16;
    color: #000;
}
*/