 html {
  font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";

 }

 body {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
   background-color: #FFFFFF;
 }

 input,
 button,
 select,
 textarea {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
 }

 a {
   color: #95B4BC;
 }

 a:hover,
 a:focus {
   color: #687E84;
 }

 .h4,
 .h5,
 .h6 {
   font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";

 }

  .container {
   background-color: #ffffff;
  //box-shadow: 0 0 20px #BBBBBB;
   width: 980px !important;
   max-width: 980px !important;
 }

 .row {
   margin-right: 0;
   margin-left: 0;
 }

 .col-xs-1,
 .col-xs-2,
 .col-xs-3,
 .col-xs-4,
 .col-xs-5,
 .col-xs-6,
 .col-xs-7,
 .col-xs-8,
 .col-xs-9,
 .col-xs-10,
 .col-xs-11,
 .col-xs-12,
 .col-sm-1,
 .col-sm-2,
 .col-sm-3,
 .col-sm-4,
 .col-sm-5,
 .col-sm-6,
 .col-sm-7,
 .col-sm-8,
 .col-sm-9,
 .col-sm-10,
 .col-sm-11,
 .col-sm-12,
 .col-md-1,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-lg-1,
 .col-lg-2,
 .col-lg-3,
 .col-lg-4,
 .col-lg-5,
 .col-lg-6,
 .col-lg-7,
 .col-lg-8,
 .col-lg-9,
 .col-lg-10,
 .col-lg-11,
 .col-lg-12 {
   padding-right: 40px;
 }

  label {
  font-weight: normal;
 }

 input[type="radio"],
 input[type="checkbox"] {
   margin-right: 5px;
 }

  .form-control {
  height: 30px;
  padding: 0px 5px;
  border-radius: 0;
 }

  .btn {
  border-radius: 0;
 }

  .btn-primary {
  background-color: #4DBAA9;
   border-color: #4DBAA9;
 }

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .open .dropdown-toggle.btn-primary {
  background-color: #BDE1D6; 
  border-color: #BDE1D6;
 }

 .btn-success {
   color: #ffffff;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  border:0px;
 }

  .btn-success:hover,
 .btn-success:focus,
 .btn-success:active,
 .btn-success.active,
 .open .dropdown-toggle.btn-success {
  background-color: #5ba9ae;
  border-color: #5ba9ae;
  border: 0px;
 }

 .btn-success.disabled,
 .btn-success[disabled],
 fieldset[disabled] .btn-success,
 .btn-success.disabled:hover,
 .btn-success[disabled]:hover,
 fieldset[disabled] .btn-success:hover,
 .btn-success.disabled:focus,
 .btn-success[disabled]:focus,
 fieldset[disabled] .btn-success:focus,
 .btn-success.disabled:active,
 .btn-success[disabled]:active,
 fieldset[disabled] .btn-success:active,
 .btn-success.disabled.active,
 .btn-success[disabled].active,
 fieldset[disabled] .btn-success.active {
  background-color: #5ba9ae;
  border-color: #4cae4c;
 }

 .btn-info {
   color: #ffffff;
  background-color: #006699;
  border-color: #006699;
 }

 .btn-info:hover,
 .btn-info:focus,
 .btn-info:active,
 .btn-info.active,
 .open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #6DB0D1;
  border-color: #6DB0D1;
 }

 .btn-lg {
   border-radius: 0px;
 }

 .nav-pills > li.active > a,
 .nav-pills > li.active > a:hover,
 .nav-pills > li.active > a:focus {
   background-color: #4DBAA9;
 }

  .navbar {
   position: fixed;
   z-index: 1000;
   min-height: 40px;
   margin-bottom: 30px;
   width: 980px !important;
   max-width: 980px !important;
 }

  @media (min-width: 768px) {
   .navbar {
    border-radius: 0;
   }
 }

  .navbar-collapse {
   max-height: 40px;
   width: 980px !important;
   max-width: 980px !important;
 }

   .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -10px;
 }

  @media (min-width: 768px) {
   .navbar-nav {
     float: left;
     margin: 0;
   }
   .navbar-nav > li {
     float: left;
   }
   .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;

   }
 }

 .pagination > .active > a,
 .pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
 .pagination > .active > a:focus,
 .pagination > .active > span:focus {
   z-index: 2;
   color: #ffffff;
   cursor: default;
   background-color: #19a190;
   border-color: #19a190;
 }
  .label {
   font-weight: normal;
 }

  .panel {
   border: 0px solid transparent;
   border-radius: 0px;
 }

 .panel > .panel-body + .table {
   border-top: 0px solid #dddddd;
 }

  .panel-footer {
   padding: 10px 15px;
   background-color: #cccccb;
   border-top: 0px solid #FFFFFF;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   font-size: 12px;
 }

  .panel-group .panel-footer + .panel-collapse .panel-body {
   border-bottom: 0px solid #dddddd;
 }

  .modal-dialog-800 {
   z-index: 1050;
   width: auto;
   padding: 10px;
   margin-right: auto;
   margin-left: auto;
}

  .modal-dialog-500 {
   z-index: 1050;
   width: auto;
   padding: 10px;
   margin-right: auto;
   margin-left: auto;
}
 .modal-center {
   margin-left: 40px;
}

 .modal-footer {
   padding: 19px 30px 20px;
 }

  @media screen and (min-width: 768px) {
   .modal-dialog {
    right: auto;
    left: 50%;
    width: 650px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
    .modal-dialog-800 {
    right: auto;
    left: 50%;
    width: 1100px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
    .modal-dialog-500 {
    right: auto;
    left: 50%;
    width: 500px;
    padding-top: 55px;

   }
 }

  .carousel {
   height: 430px;
 }
 .carousel-control {
   width: 10%;
   opacity: 0;
 }


/******************************************* customize *********************************************/
/* override */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: auto;
}
/* global setting */
nav {
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

a {
  outline: none; /* for Firefox */
}


a:hover,
a:focus {
  outline: none; /* for Firefox */
  
}


.bold_hr {
	height: 3px;
	background-color: #808080;
}

.dashed_hr {
	border: dashed 1px;	
	color: #808080;
	margin: 25px 0;
}

.bordered_div {
	border: solid 1px #b7b7b7;
}

.container {
  width: 980px !important;
  padding: 0px;
}

.description {
	font-style: italic;
	float: right;
	font-size: 12px;
}

.panel {
	//background-color: #cccccb;
	margin: 0;
	border: 0;
}

.panel > a {
	target=_blank 	
}

.panel-body > div > h4 {
	//color: #989898;
	text-align: center;
}

.panel-footer {
	background-color: #bde1D6;
}

.panel-footer > p {
	margin: 0;
	color: #888888;
	padding-right:20px; 
	font-size: 10px;
	text-align: right;
}

.panel-footer > hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* nav bar saerch */
#nav_search_input {
	width: 200px;
	height: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 45px;
	background-color: #101010;
	color: #ffffff;
}

#nav_search_btn {
	margin-left: -35px;
	height: 30px;
	width: 30px;
	background: url('/assets/images/SearchIcon.png') no-repeat center center;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #dc2733;
	color: #ffffff;
	height: 40px;
}

#navbar_search {
	margin-top: 5px;
}

/* for #header */
#header {
	margin-bottom: 10px;
	margin-top: 45px;
	background-color: #FFFFFF;
	width: 980px;
}

#logo {
	width: 272px;
	height: 124px;
	margin-bottom: 20px ;
	margin-right: Auto;
	margin-top: Auto;
	margin-left: Auto;
}

.tags > li{
	background: url('/assets/images/IconStar.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
}

.tags > li:active, .tags > li:hover {
	color:#4cb2a2;
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
}

.noimgtags > li{
	padding-left: 30px;
	margin-left: 25px;
	font-size: 14px;
	color:#4cb2a2;
}

.nodimgtags > li:active, .noimgtags > li:hover {
	color:#666666;
}

.redtags > li{
	background: url('/assets/images/IconStar-red.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
	color:red;
}

.redtags > li:active, .redtags > li:hover {
	color:#4cb2a2;
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
	color:#4cb2a2;
}

#header_right_section {
	padding-left: 83px;
}

/* for cart */
.dropdown-menu {
	min-width: 560px;
}

.dropdown-menu > li {
	margin: 10px;
}

.item_in_cart {
	clear: both;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

#cart_summary {
	min-height: 60px;
}

#purchase {
	width:135px ;
	height: 55px;
	text-align: center;
	font-size: 22px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}
/* suggestion list carousel */
.suggestion_list {
	width: 980px;
}

#suggestions-carousel {
	position: relative;
	width: 1120px;
	right: 70px;
	padding-right: 40px;
	padding-left: 60px;
}

#suggestions-carousel > .carousel-inner {
	height: 420px;
}

/* #suggestions-carousel > .carousel { */
/* 	padding: 0 60px; */
/* } */
.suggestion_list > li {
	list-style-type: none;
}

.slide_item {
	float: left;
	width: 220px;
	margin: 0 5px;
}

.carousel-control .icon-prev:before {
  content: url('/assets/images/ButtonLeftGray.png');
}

.carousel-control .icon-prev:active {
	content: url('/assets/images/ButtonLeft.png')
}

.carousel-control .icon-next:before {
  content: url('/assets/images/ButtonRightGray.png');
}

.carousel-control .icon-next:active {
  content: url('/assets/images/ButtonRight.png');
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.cloth_name {
	margin-bottom: 3px;
}

.cloth_original_price {
	color: #717170;
	text-decoration: line-through;
	margin-bottom: 3px;
}

.cloth_current_price {
	color: #e72d2c;
	margin-bottom: 3px;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.panel-box {
	width: 925px;
	height: auto;
	margin-left: 20px; 
}

.panel-box .col-md-2 {
	padding-left:40px ;
	
}

.panel-like {
	margin-left: 5px;
	margin-top:5px;
}

.col-md-2 > h5 {
	color: #999999;
	font-size: 16px;
	
}


.panel-link > a h6 {
	color: #4E4D4D;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link > h4 {
	color: #AAAAAA;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link {
	margin-top:20px;
	
}

.banner-s {
	margin-bottom:15px;
	
}

.rightcol {
	padding-top: 35px;
	margin-bottom: 35px; 

}

.leftcol {
	padding-top: 80px;
	padding-left: 20px;

}

.rightcol >img {
	margin-bottom: 35px; 
}

.rightcol h4 {
	color: #52AF7E;
	font-size: 16px; 
}

.rightcol >h2 {
	font-weight: bold; 
	font-size: 20px;
}

.contactus > p {
	color: #AAAAAA;
	font-size: 11px;
	margin-top: 0px;

}

.contentbox {
	margin: 20px;
	padding: 20px;
}

.singlerowbox {
	margin-left: 30px;
	margin-bottom: 30px;
}

.login-page {
	text-align: center;
}

.controlls {
	margin-top: 10px;
}

.input-form {
	text-align: left;
}