a {
cursor: pointer;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.splash {
position: absolute;
z-index: 1001;
background-color: rgba(0, 0, 0, 0.6);
height: 2880px;
width: 1080px;
margin-top: -45px;
margin-left: -50px;
}

p {
  line-height: 1.9;
}

.boxborder{
   border:1px solid #DDD;
}

.eventcontent{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}
.boxcenter{
    right: auto;
    left:50%;
}

.width375{
    width: 375px;
}
.width600{
    width: 600px;
}

.width500{
    width: 500px;
}

.getmoregreen{
    color: #4DBAA9;
}

.fbsharebtn{
    background-color: #3b5998;
    height:35px;
    margin-left: 1px;
}

.paddingtop10{
    padding-top: 10px;
}

.paddingtop20{
    padding-top: 20px;
}

.paddingtop50{
    padding-top: 50px;
}
.padding90{
    padding: 30px 90px 0 90px;
}

.padding30{
    padding: 30px;
}
.margintop10{
    margin-top: 10px;
}

.margintop20{
    margin-top: 20px;
}

.margintop30{
    margin-top: 30px;
}

.margintop40{
    margin-top: 40px;
}

.margintop50{
    margin-top: 50px;
}

.margintop100{
    margin-top: 100px;
}

.margintop290{
    margin-top: 290px;
}

.marginbottom10{
    margin-bottom: 10px;
}

.marginbottom20{
    margin-bottom: 20px;
}

.marginbottom30{
    margin-bottom: 30px;
}

.marginbottom40{
    margin-bottom: 40px;
}

.marginbottom60{
    margin-bottom: 60px;
}

.marginleft40{
    margin-left: 40px;
}

.marginleft10{
    margin-left: 10px;
}

.marginleft15{
    margin-left: 15px;
}

.marginleft5{
    margin-left: 5px;
}

.marginright40{
    margin-right: 40px;
}

.marginright10{
    margin-right: 10px;
}

.marginright5{
    margin-right: 5px;
}

.margintop-3{
    margin-top: -3px;
}

.col-254{
    width: 254px;
    float: left;
    padding-left: 15px;
    padding-right: 40px;
}

.col-726{
    width: 726px;
    float: left;
    padding-left: 15px;
    padding-right: 40px;
}

.col-800 {
width: 800px;
float: left;
padding-left: 0px;
padding-right: 0px;
margin-left: 90px;
}

.line-height24{
    line-height: 24px;
}
.fontp15 p{
    font-size: 15px;
}

.font-size14{
    font-size: 14px;
}

.font-size18{
    font-size: 18px;
}

.font-size12{
    font-size: 12px;
}

.font-size10{
    font-size: 10px;
}

.red{
    color:  #d14;
}

.alignbottom{
    position: absolute;
    bottom: 0;
}

.bggetmorecolor{
    background-color: #bde1D6;

}

.nopadding{
    padding: 0px !important;
}

.hr-margin0 {
    margin: 0;
}

.hr-margintop0 {
    margin-top: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-notwork{
    background: #cccccc;
    color: #ffffff;
}

.btn-notwork:hover,.btn-notwork:focus{
    background: #cccccc;
    color: #ffffff;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-notwork{
    background: #cccccc;
    color: #ffffff;
}

.btn-notwork:hover,.btn-notwork:focus{
    background: #cccccc;
    color: #ffffff;
}

/* ----------------------------- sellchoice ---------------------------------- */

.sellchoice{
    width: 900px;
}

.levels{
    text-align: center;
    padding: 0;
}

.levels li{

}

.levelsbtn{
    border-radius: 30px;
    width: 250px;
}

.planA{
    border-right: 1px solid #f4f4f4;
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.planB{
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.whychoice li{
    display: block;
    padding: 0;
    text-align: left;
    line-height: 20px;
}

.whychoice{
    font-size: 14px;
    padding: 0;
}

.sellbox{

}

.planA{
    border-right: 1px solid #f4f4f4;
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.planB{
    height: 250px;
    display: inline-block;
    padding: 0 50px;
}

.whychoice li{
    display: block;
    padding: 0;
    text-align: left;
    line-height: 20px;
}

.whychoice{
    font-size: 14px;
    padding: 0;
}

.sellbox{

}

#sellchoisetable{
    width: 800px;
}

#sellchoisetable td{
    padding: 20px;
    min-width: 150px;
    vertical-align: middle;
}

/* ----------------------------- msg ---------------------------------- */
#message_post{

}

.msgfrom{
    width: 120px;
    padding: 0 5px;
    float:left;
    font-size: 13px;
    line-height: 18px;
}

.msgfrom .avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    border-radius:50%;
}

.reply{
    border-top: 1px solid #E8E8E8;
    margin-left: 120px;
    width: 521px;
    padding: 10px 0;
    overflow:hidden;
}

.reply .avatar{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    float: left;
    margin-top:4px;
    border-radius:50%;
}

.subject{
    width: 521px;
    position: relative;
    float:left;
    font-size: 13px;
    line-height: 15px;
}

.replysubject{
    position: relative;
    float:left;
    width: 471px;
}

.replysubject p{
    color: #444;
}

.replysubject{
    position: relative;
    float:left;
    width: 481px;
}

.replysubject p{
    color: #444;
}

.msgbox {
}


.msgtime{
    font-size: 11px;
    color: #ddd;
}

#message_post .subject .delete{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 14px;
    color: #ddd;
}

.replypost{
    margin-left: 120px;
    width: 521px;
    padding: 10px 0;
    overflow:hidden;
}

.modal-header .avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    border-radius:50%;
}

.postmsgfrom{
    padding: 0 10px;
   // float:left;
    font-size: 18px;
   //line-height: 18px;
}

.postmsgfrom .avatar{
    width: 40px;
    height: 40px;
    margin-right: 20px;
 //   float: left;
    border-radius:50%;
}

.form-control{
    padding: 5px 5px;
}

/* ----------------------------- home20 ---------------------------------- */
.logoarea{
    height: 80px;
    padding-left: 30px;
    padding-right:30px;
}

.pokai-hr {
  margin: 15px auto 5px auto;
  border: 0;
  border-top: 1px dashed #000000;
  width: 980px;
}

.logoarea-right{
    padding-top: 58px;
    display: inline;
}

.logoarea-right a{
    padding-left: 20px;
    //color: #000000;
}

.carousel-margin{
    margin-bottom: 20px !important;
}

/* ----------------------------- oldhome ---------------------------------- */
.carousel-indicators {
	position: relative;
	top: 25px;
}

.carousel-indicators > .active {
	background-color: #4cb2a2;
}

.carousel-indicators > li {
	background-color: #bbbebd;
}

#getmore_suggestions {
	margin: 50px 0px;
}

#getmore_suggestions > h5 {
	color: #e72d2c;
	font-size: 22px;
}

#dannytag {
	background-image: none;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}

#log_in {
	position: relative;
	right: 3px;
	bottom: 3px;
}

.navbar-icon {
    position: relative;
    right: 3px;
    bottom: 3px;
}


.form-group > .col-md-5 {
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
	margin-top: 10px;
}
#getmore_login, .fb_login {
	width: 400px;
	margin: 0 auto;
}

.modal-title {
	text-align: center;
}

.fb_login > h4 {
	text-align: center;
	margin-bottom:30px;
}

.fb_login_btn {
	margin: 0 40px ;
	background-color: #2c5D97;
	border-width: 0px;
}

#getmore_login > .row > div {
	padding-left: 0;
}

#getmore_login > .row {
	padding-bottom: 10px;
}

.getmore_instruction {
	padding-top: 13px;
}

.announcement {
	color: #717170;
	font-size: 12px;
}

#start_to_getmore {
}

.form-group > input {
	width: 375px;
}

#registration {
	padding: 10px 0;
	color: #717170;
	font-size: 12px;
}

#forget_password {
	color: #e72d2c;
	padding-right: 25px;
}


#registration > a {
	color: #3e9b95;
}


.carousel{
	margin-bottom:60px;
	
}

/* apply.css */

.blank_rectangel {
	width: auto;
	height: 25px;
}

h4 {
	margin-bottom: 0;
}

div {
	padding: 0px;
}

.dashed_hr {
	margin-top:30px;
	margin-bottom: 30px;
}

#buttons {
	margin: 30px 0;
}

.bold_hr{
	margin-top: 0;
}

#flow {
	/* margin-left: 65px; */
}

#congratulation {
	color: #ff002b; 
}

#clothe_icon, #member_icon {
	position: relative;
	top: 2px;
	margin-right: 30px;
}

#sidebar {
	height: 255px;
}

#clothes_management {
	color: #4cb2a2;
}

#address_code {
	width: 45px;
}

#returning_description {
	padding: 0 20px;
	width: 360px;
	float: none;
	font-size: 14px;
}

#info {
	border: solid 1px #b7b7b7;
	padding: 10px;
	margin: 10px;
}

#total_fee {
	color: #ff0019; 
}

#getting_info {
	clear: both;
}

#ssl_description {
	font-style: italic;
}

#insturction {
	margin: 30px 0px;
}

#print {
	margin-top: 20px;
}

#receipt {
	border: solid 1px #b7b7b7;
	margin: 10px;
	padding: 0;
}

#receipt > div {
	padding: 0;
}

#first_row {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.info_div {
	padding: 5px 0;
	text-align: bottom;
}

#production_number_code {
	height: 100%;
	overflow: auto;
	height: 100%;
	position: absolute;
	right: 0;
}

#selling {
	color:#4cb2a2;
}

#upper_container {
	height: 300px;
	margin-bottom: 60px;
}

#center_spliter {
	margin: 30px 0;
}

#next_step {
	position: relative;
	top: 200px;
}

#getmore_suggestions {
	margin: 50px 0px;
}

#pagerow {
	margin-bottom: 45px;
}

.header {
	width: 980px;
    margin-top: 
}

.sellstart{
	margin-bottom: 50px;
	margin-top: 30px;
}


.sell-process{
	margin-top: 20px;
	margin-bottom: 50px;
}
.row-img{
	float:left;
	width: 141px;
}

.row-text-right{
	width: 500px;
	float:left;
	padding: 20px 20px 10px 30px;
}

.row-text-right >h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold; 
}

.row-text-right >p {
	font-size: 13px;
	letter-spacing: 0.1em;
	line-height: 150%;
}

/* ----------------------------- newheader ---------------------------------- */

#headads{
    z-index: 100;
    width: 100%;
    height: 40px;
    background-color: #4DBAA9;
    
}

#headads #headerads-container {
margin: 0 auto;
width: 980px;
color: #FFFFFF;
line-height: 3;
}

#newheader {
z-index: 100;
width: 100%;
background-color: #ffffff;
}

#header-containerbg {
z-index: 100;
width: 100%;
background-color: #000000;
}

#newheader #header-container {
margin: 0 auto;
width: 980px;
height: 40px;
}

#header-container .right-menu {
    display: inline;
    float: right;
    margin-right: 8px;
    margin-top: 12px;
    color: #000000;
}

#navigation{
    margin: 35px auto 0px auto;
    background-color: #FFFFFF;
    width: 980px;
}

.menuarea{
    margin-bottom: 10px;
}

.head-search{
    margin-top: -3px;
    font-size: 12px;
    height: 25px;
}

.head-search-btn{
    margin-top: -3px;
    font-size: 12px;
    margin-left: -12px;
}

/* ----------------------------- headbar ---------------------------------- */

.header-bar {
	width: 980px;
    //background-color: black;
    font-size: 14px;
    color: #999999;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    z-index:9999;
}

.header-bar .left-menu {
    display: inline;
    float: left;
    margin-top: 10px;
}

.header-bar .right-menu {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 8px;
    color: #000000;
}

.left-menu li {
    cursor: pointer;
    float: left;
    margin-left: 20px;
    color: #898989;
}

.right-menu li {
    cursor: pointer;
    float: left;
    margin-left: 25px;
    color: #898989;
}

ul.left-menu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.right-menu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.left-menu > li > a {
	color: #898989;
}

.right-menu > li > a {
	color: #898989;
}

.left-menu > li > a:hover {
	color: #4c4948;
	text-decoration:none;
}

.right-menu > li > a:hover {
	color: #FFFFFF;
	text-decoration:none;
}

#shopping-cart-menu {
	margin-left: -155PX;
}
/* ----------------------------- header ---------------------------------- */

.headmenu-left {
    display: inline;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.headmenu-right {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.headmenu-left li {
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-right: 40px
}

.headmenu-right li {
    cursor: pointer;
    float: left;
    margin-right: 15px
}

ul.headmenu-left {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.headmenu-right {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.tags > li{
	background: url('/assets/images/IconStar.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 5px;
	font-size: 14px;
}

.tags > li:active, .tags > li:hover {
	background: url('/assets/images/IconStarSelected.png') no-repeat center left;
}

.headmenu-left > li > a {
	color: #595757;
}

.headmenu-right > li > a {
	color: #595757;
}

.headmenu-left > li > a:hover {
	color:#4DBAA9;
	text-decoration:none;
}

.headmenu-right > li > a:hover {
	color:#4DBAA9;
	text-decoration:none;
}

li.headmenu-highlight {
	//background: url('/assets/images/IconStar-red.png') no-repeat center left;
}

li.headmenu-highlight > a {
	color: red;
}


/* ----------------------------- homead ---------------------------------- */

.homead {
  margin-bottom: 55px;
  width: 980px;
  height: 152px;
}

.homead-box {
	width: 228px;
	margin-right: 22px;
	float: left;
}

..homead-box-right {
    width: 228px;
    margin-left: 22px;
    float: left;
}

.homead-slogan {
	margin: 30px 10px 30px 50px;
}

.homead-slogan > h3 {
	letter-spacing: 0.1em;
	line-height: 200%;
}

.clear {zoom:1; clear:both;}
.clear:after {content:''; display:block; clear:both; visibility:hidden; height:0;}


/* ----------------------------- footer ---------------------------------- */

.footer-menu{
	float: left;
	width: 185px;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-menu h5,h6{
    color: #727171;
}

/* ----------------------------- suggestion ------------------------------ */
 
    	.suggested-box{
    		width: 980px;
    		margin-top:35px;
    	}
    	.suggested-box a:hover {
			text-decoration:none;
		}
        .buy-me-tag{
            position: absolute;
            bottom: 88px;
            right: 0px;
            z-index: 99;
            display: none;
        }

        .suggested-item{
            // margin: 0px 10px 20px 10px;
            // border: 1px solid #DDD;
            // padding: 10px;
        }
        .suggested-item:hover{
            // box-shadow: 0 0 5px #BBBBBB;
        }
        .suggested-item-original-image{
            border-bottom: 1px solid #DDD;
        }
        .suggested-item-original-image img{
            width: 180px;
            margin-left:20px; 
        }        
        .suggested-item-original-image img{
            border: 1px solid white;
            border-bottom: 0;
        }
        .suggested-item-original-image img:hover{
            border: 1px solid #DDD;
            border-bottom: 0;
            box-shadow: 0 0 5px #BBBBBB;              
        }
        .suggested-item-title{
            color: black;
            padding-top: 18px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
        }
        .suggested-item-original-price{
            text-decoration: line-through;
            color: #acabb5;
            padding-top: 5px;
            text-align: center;        
        }
        .suggested-item-selling-price{
            color: black;
            margin-top: 5px;
            text-align: center;
        }

        .suggested-item-selling-price span{
        	background-color: #90CFC6;
        	padding-left: 4px;
        	padding-right: 4px;
        }

        .suggested-item-button{
            margin-top: 150px;
            padding-left: 6px;
            padding-right: 6px;
        }

/* ----------------------------- mycloset ------------------------------ */
    /* top element start */

    .closet-top{
        border: solid 1px white;
        position: relative;
        padding-bottom: 15px;
        height: 230px;
    }
    
    .closet-banner-photo{
        position: relative;
    }

    .closet-banner-photo button{
        display: none;
        position: absolute;
        bottom: 50px;
        right: 20px;
    }
    
    .closet-profile-photo{
        position: absolute;
        top: 20px;
        left: 30px;
        border: 1px solid #bbbbbb;
        padding: 6px;
        background-color: white;
    }

    .closet-profile-photo button{
        display: none;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
    
  
    .closet-profile-title{
        position: relative;
        left: 250px;
        width: 600px;
        font-size: 20px;
        color: #444444;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .closet-profile-description{
        position: relative;
        left: 250px;
        width: 550px;
        font-size: 14px;
        color: #444444;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 104px;
        overflow: hidden;
    }
    .closet-share-button{
        position: absolute;
        top: 170px;
        right: 20px;
    }    
    
    /* top element end */
    .closet-nav-box{
    	margin: 0 20px 20px 20px;

    }

    .closet-nav{
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        padding-left: 50px;
    }

    .closet-nav-element{
        border-bottom: 1px;
        float: left;
    }

    .closet-nav-element a{
        display: block;
        padding: 10px;
    }

    .closet-nav-element a:hover{
        text-decoration: none;
    }
    
    .closet-nav-element-active{
        border: 1px solid black;
    }

    .closet-nav-element-active a{
        color: black;
    }
    
    .closet-nav-box > ul > li > a {
    	color: #4eb1a1;
    }
    /* nav element end */

    .newcloset-top{
        border: solid 1px ;
        position: relative;
        padding-bottom: 15px;
        height: 230px;
        color: #FFFFFF;
        background-color: #4DBAA9;
        border-color: #d6e9c6;
    }
    
    .newcloset-profile-photo{
        float: left;
        margin-right: 30px;
        width: 175px;
        height: 230px;
    }
    
    .newcloset-profile-description{
        float: left;
        margin-right: 30px;
        width: 300px;
        height: 100px;
    }

    .newcloset-profile-photo .img-circle{
        width: 115px;
        height: 115px;
        margin: 30px 30px 10px 30px;

    }

/* ----------------------------- showroom ------------------------------ */

.closet-main-show{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 40px;
    width: 980px;
}

    .demo{
        float: left;
        width: 252px;
        height: 550px;
        overflow: hidden;
        border: 0.5px solid #888888;
        margin: 10px 24px;
    }

.demo_title{
    font-size: 14px;
    color: #19a190;
    padding-left: 10px;
    line-height:20px;
}

.demo_title h3{
    font-size: 16px;
    color: #19a190;
    margin-bottom: 5px;
    margin-left: 10px;
}

.demo_description{
    padding: 0px 10px 10px 10px;
    word-break:break-all;        
    height: 100px;
    overflow: hidden;
}

    a.like_button{
        background-image: url('/assets/images/closet/ilike-02.png');
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        text-decoration: none;
    }
    a.like_button:hover{
        background-image: url('/assets/images/closet/ilike-01.png');
        background-repeat: no-repeat;
    }
    a.like_button_disabled{
        background-image: url('/assets/images/closet/ilike-01.png');
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        text-decoration: none;
    }
    a.like_button_disabled:hover{
        cursor: alias;
    }

.btn-add-photo {
    display: block;
    margin-left: 792px;
}


/* ----------------------------- member ------------------------------ */
.lable-margin{
    margin-left: 5px;
    margin-right: 15px; 
}

.termwindow{
    margin: 10px auto;
    width: 650px; 
    height: 280px; 
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px; 
    line-height: 18px; 
    color: #666; 
    padding: 10px; 
    background: white; 
    border-width:0.5px; 
    border-style:solid;
}

.alert-adjust{
    background-color:#FFF7C2;
    border-color:#FFF7C2;
    color: #eda180;
    margin-bottom: -20px;
}

.presellbtn{
    margin-top: 150px;
    position: absolute;
    margin-left: 800px;
}

.presellbtn1{
    margin-top: 50px;
    margin-left: 800px;
}

.grabtn{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 475px;
}

.btn-pink{
    background-color:#EC95B2;
}

.article-line p {
    line-height: 2;   
}

/* ----------------------------- member ------------------------------ */

.article-content{
    width: 650px;
    background-color: white;
    padding-right: 30px;
    float: left;
}

.article-content img{
    margin: 10px 0;
}

.article-side{
    width: 330px;
    background-color: white;
    padding-left: 30px;
    float: left;
}

.article-side p{
    font-size: 12px;
}

.article-side a{
    cursor:auto;
}

.article-side ul{
    list-style-type:square;
}

.article-side .to_like{
    font-size: 14px;
}

.article-breadcrumb {
font-size: 11px;
letter-spacing: 1px;
}

.article-date{
    color: #bbb;
}

.article-author{
    margin:20px 0;
    color: #bbb;
}

.author-name a{
    color: #bbb;
}

.article-side-title{
    color: #4DBAA9;
    margin-bottom: 10px;
    line-height: 1.9;
}

.article-social-funcs{
    width: 180px;
}

/* ----------------------------- article ------------------------------ */

.article-box {
    width: 306.6px;
    height: 320px;
    float: left;
    margin: 0px 10px 20px 10px;
    border: 1px solid #4DBAA9;
}

.article-box a{
    text-decoration: none;
}

.article-box:hover{
    box-shadow: 0 0 5px #4DBAA9;
}

.article-title {
    color: #000000;
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    overflow: hidden;
    height: 50px;
    font-weight:bold;
}


.article-thumbnail {
    width: 100%;
    height: 140px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}

.article-thumbnail img{
    width: 100%;
}

.article-abstract{
    color: #777;
    padding: 5px;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 19px;
}

.article-time{
    color: #777;
    font-size: 12px;
    padding: 5px;
    margin:5px 0;
}

.blog-category{
    margin-top: 10px;
    margin-bottom: 10px;  
    width: 700px;
}

/*--PlanA--*/

.planabox{
padding: 20px 50px 50px 50px;
margin-bottom: 14px;
min-height: 500px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: right;
}
