body{
  background: url('/assets/images/launch/body_background.png') no-repeat center center;
  background-color: #241916;
}

p {
  font-size: 12px;
  letter-spacing: 1px;
}

#launch_main{
  width: 800px;
  //background-color: orange;
  margin: 0 auto;
  padding-top: 40px;
}

#launch_register_btn{
  background-color: #4DBAA9;
  color: white;
  border: none;
  margin: 0 20px;
}

#launch_register_btn:hover{
  color: #333333;
  background-color: #ebebeb;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form.center{
  text-align: center;
}

.launchlogo{
  margin-bottom: 30px;
}

.joinus{
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.slogan{
  font-size: 12px;
  letter-spacing: 2px;
  margin-top:5px;
  margin-bottom: 25px;
}

.white-color{
  color: white;
}

p.fb_login{
  height: 26px;
  padding-top: 4px;
}

.fb_login_btn{
  background-color: #2c5D97;
  margin: -4px 25px auto 10px;
  border-radius: 5px;
  height: 26px;
  font-size: 12px;
  padding: 4px 10px;
}

.fb_login_btn:hover{
  color: #333333;
  background-color: #ebebeb;
}

.pwloginform{
  margin-left: 200px;
  margin-top: 20px;
}

.btnnote{
  font-size: 12px;
  margin-bottom: 0;  
}

.launchvideo{
  width: 480px;
  margin-top: 30px;
  margin-left: 160px;
}

.buyonfb {
  margin-right:20px;
  margin-top: 10px;
}

.buyonfb >a {
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
}

.buyonfb >a >img {
  margin-bottom: 5px;
}

.form-opacity {
  background-color: transparent;
  border-width: 1px;
  font-size: 12px;
}

.form-control:-moz-placeholder {
  color: #C9CACA;
}

.form-control::-moz-placeholder {
  color: #C9CACA;
}

.form-control:-ms-input-placeholder {
  color: #C9CACA;
}

.form-control::-webkit-input-placeholder {
  color: #C9CACA;
}

#bottom_half{
  width: 570px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}