.member_sidebar_title{
    border-bottom: 1px solid black;
    padding: 20px 20px 10px 20px;
}
.member_order_list_title{
    //border-bottom: 1px solid black;
    //padding: 20px 20px 10px 20px;
    overflow: auto; 
    padding:10px 20px 10px 20px;

}

.member_sidebar{
	padding-top: 30px;
}

.member_sidebar ul li{
    list-style: none;
}

.member-row{
	margin-bottom: 50px;
	margin-top: 30px;
}