.pagecontent{
  margin: 20px 0;
}
.carttitle{
	font-weight: bold;
	letter-spacing: 5px;
}
.cartbplan{
	width: 980px;
	border: 1px solid #70afa4;
	padding: 30px;
  margin: 20px 0;
}
.billtable{
  border-bottom: 2px solid #d3d3d3; 
}
.cartimg{
	width: 50px;
  margin: 10px;
}
.buy-next-time{
  font-size: 10px;
}
.delete-alert{
  font-size: 10px;
  color:#c7254e;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
  vertical-align: middle;
}
.totalpricebox{
  overflow:auto;
  position: relative;
}

.endprice1{
  position: absolute;
  right: 30px;
  bottom: 35px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  letter-spacing: 5px;
}

.endprice{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  letter-spacing: 5px;
  text-align: right;
}

.totalprice{
  letter-spacing: 2px;
  line-height: 20px;
}

.totalpricebtn{
  overflow: auto;
}
.subtotal{
  overflow: auto;
}

.everyreturn{
  width: 350px;
  margin: 0 10px 10px 10px;
  float: left;
}
/* check*/
.deduction_amount{
  width: 50px;
  display: inline;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.coupon_code{
  width: 150px;
  height: 25px;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.cart_3_choose_pay{
  width: 180px;
  display: inline-block;
}

.check-info{
  border-color: #fff;
  background-color: #BDE1D6!important;
  color: #666666;
}

.check-panel{
  margin-bottom:30px;
  padding-bottom: 10px;
}

.panel-body-title{
  padding: 15px 15px 0 15px;
}

.check-info-title{
  width: 950px;
  border: 1px solid #fff;
  font-size: 16px;
  padding:10px;
}

.check-info-left{
  float: left;
  width: 467px;
  margin-right: 16px;
  border: 1px solid #fff;
  padding: 15px 10px;
}

.check-info-right{
  position: relative;
  float: left;
  width: 467px;
//margin-right: 16px;
  border: 1px solid #fff;
  padding: 15px 10px;
}

.checksubtitle{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 5px 0 10px 0;
  text-decoration: underline;
}

.nameandgender{
  overflow: auto;
}

.genderbox{
 float:left;
 padding: 5px;
}

.namebox{
  float: left;
  width: 200px;
  margin-right: 5px;
}

.phonebox{
  width: 200px;
  margin-right: 5px;
}

#twzipcode2{
  margin: 0px;
  overflow: auto;
}

.address-city{
  float: left;
  width: 100px;
  margin-right: 5px;
}

.address-zip{
  float: left;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

.addressdetail{
  width: 350px;
  margin-top: 3px;
}

.aspay{
  position: absolute;
  top: 3px;
  right: 15px;
}

.panel-body-payment{
  margin: 15px;
  border: 1px solid #fff;
}


