.bannerbox{
  margin: 10px 0;
}
.getmore_banner01{
  float:left;
  margin-right: 5px; 
  position: relative; overflow: auto;

}
.getmore_banner01 img{
  height: 430px;
  width: 740px;
}
.getmore_banner02{
  float:left;
}
.bannerbox2{
  margin: 10px 0;
}
.getmore_banner03{
  float:left;
  margin-right: 5px; 
}
.getmore_banner04{
  float:left;
  margin-right: 5px; 
}
.getmore_banner05{
  float:left;
}
.bannerboxtitle{
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  font-family: "HelveticaNeue-Light","細明體";
  color: #000;
}
.viewproductslider{
  position: relative; 
  height: 230px;
}
.recentViewBox {
  overflow: auto;
  height: 200px !important;
  width: 996px;
}

.recentViewBox .product {
  width: 130px;
  height: 195px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.recentViewBox li {
  list-style: none;
  height: 200px;
  width: 996px;
}

.recentViewBox ul {
  height: 210px;
  margin-bottom: 0px;
}

.recentViewBox ul li {
  float: left;
}

.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
#next {
  position: absolute;
  z-index: 2;
  top: 88px;
  right: 0px;
}

#previous {
  position: absolute;
  z-index: 2;
  top: 88px;
  left: 0px;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  background: gray;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: black;
  opacity: 1;
}