.loginpageleft{
  float: left;
  width: 380px;
  margin: 40px auto 50px 40px; 
}

.loginpageright{
  float: right;
  margin: 40px 20px 50px auto;
  width: 500px;
}

#step2 {
	margin-bottom: 20px;
}

input[name=address]{
  margin-top: 5px;
}
