.editpimg {
  width: 30px;
  margin: 5px;
}

.col-254 {
    padding-right: 10px;
    padding-top:65px;"
}
.col-726{
    padding-right: 0;
}
.edit-icon{
    vertical-align: bottom;
    margin-left: 3px;
}
a{
    color: #687E84;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #006699;
  border-color: #006699;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.upload-direction p{
  font-size: 14px;
  line-height: 20px;
}

.hellpseller{
 padding: 20px; 
}

.planabox{
    padding:30px 20px;
    margin-bottom: 14px;
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.plananext{
    position:absolute;
    bottom:0px;
    right:0px;
}

.btn-plananext{
    min-width: 150px;
}

.planaex{
    font-size: 10px;
    color: #bbb;
    margin: 0 0 10px;
}

.textarea{
    resize: vertical;
}

.planabtn{
    margin: 20px 0;
    text-align: center;
}

.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}

.selectcolor{
    margin-bottom: 20px;
}

.selectstyle{
    margin-bottom: 20px;
}

.form-control{
    font-size: 10px;
    letter-spacing: 2px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.show-title{
    text-decoration: underline;
    color: #565a5c;
    font-size: 14px;
    margin-bottom: 10px;
}

.show-content{
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.show-img img{
    width: 120px;
    margin-bottom: 10px;
}

.input-group-addon {
    border: 0px !important;
    background-color:transparent !important;
}

.measure-input {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
}
.cm-text {
    border: 0px;
    background-color: #FFFFFF;
}
.add-style-btn {
    display: inline-block;
}
#free_style-tokenfield {
    min-width: 629px !important;
}
.error-div {
    border:1px solid rgb(196,59,29);
}
