/* override getmore_bootstrap */

.blank_rectangel {
	width: auto;
	height: 25px;
}

h4 {
	margin-bottom: 0;
}

div {
	padding: 0px;
}

.dashed_hr {
	margin: 0px
}

#buttons {
	margin: 30px 0;
}

.bold_hr{
	margin-top: 0;
}

#flow {
	/* margin-left: 65px; */
}

#congratulation {
	color: #ff002b; 
}

#clothe_icon, #member_icon {
	position: relative;
	top: 2px;
	margin-right: 30px;
}

#sidebar {
	height: 255px;
}

#clothes_management {
	color: #4cb2a2;
}

#address_code {
	width: 45px;
}

#returning_description {
	font-style: italic;
	padding: 20px;
	width: 360px;
	float: none;
}

#info {
	border: solid 1px #b7b7b7;
	padding: 10px;
	margin: 10px;
}

#total_fee {
	color: #ff0019; 
}

#getting_info {
	clear: both;
}

#ssl_description {
	font-style: italic;
}

#insturction {
	margin: 30px 0px;
}

#print {
	margin-top: 20px;
}

#receipt {
	border: solid 1px #b7b7b7;
	margin: 10px;
	padding: 0;
}

#receipt > div {
	padding: 0;
}

#first_row {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.info_div {
	padding: 5px 0;
	text-align: bottom;
}

#production_number_code {
	height: 100%;
	overflow: auto;
	height: 100%;
	position: absolute;
	right: 0;
}

#selling {
	color:#4cb2a2;
}

#upper_container {
	height: 300px;
}

#center_spliter {
	margin: 30px 0;
}

#next_step {
	position: relative;
	top: 200px;
}
