/* override */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: auto;
}
/* global setting */
nav {
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

.bold_hr {
	height: 3px;
	background-color: #808080;
}

.dashed_hr {
	border: dashed 1px;	
	color: #808080;
	margin: 25px 0;
}

.bordered_div {
	border: solid 1px #b7b7b7;
}

.container {
  width: 980px;
  padding: 0px;
}

.description {
	font-style: italic;
	float: right;
}

.panel {
	background-color: #cccccb;
	margin: 0;
}

.panel > a {
	target=_blank 	
}

.panel-body > div > h4 {
	color: #989898;
	text-align: center;
}


.panel-footer > p {
	margin: 0;
	color: #888888;
	padding-right:20px; 
	font-size: 10px;
	text-align: right;
}

.panel-footer > hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* nav bar saerch */
#nav_search_input {
	width: 200px;
	height: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 45px;
	background-color: #101010;
	color: #ffffff;
}

#nav_search_btn {
	margin-left: -35px;
	height: 30px;
	width: 30px;
	background: url('../assets/images/SearchIcon.png') no-repeat center center;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #dc2733;
	color: #ffffff;
	height: 40px;
}

#navbar_search {
	margin-top: 5px;
}

/* for #header */
#header {
	margin-bottom: 10px;
	margin-top: 45px;
	background-color: #FFFFFF;
}

#logo {
	width: 272px;
	height: 124px;
	margin-bottom: 30px ;
	margin-right: Auto;
	margin-top: Auto;
	margin-left: Auto;
}

.tags > li{
	background: url('../assets/images/IconStar.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
}

.tags > li:active, .tags > li:hover {
	color:#4cb2a2;
	background: url('../assets/images/IconStarSelected.png') no-repeat center left;
}

.noimgtags > li{
	padding-left: 30px;
	margin-left: 25px;
	font-size: 14px;
	color:#4cb2a2;
}

.nodimgtags > li:active, .noimgtags > li:hover {
	color:#666666;
}

.redtags > li{
	background: url('../assets/images/IconStar-red.png') no-repeat center left;
	padding-left: 15px;
	margin-left: 25px;
	font-size: 14px;
	color:red;
}

.redtags > li:active, .redtags > li:hover {
	color:#4cb2a2;
	background: url('../assets/images/IconStarSelected.png') no-repeat center left;
	color:#4cb2a2;
}

#header_right_section {
	padding-left: 83px;
}

/* for cart */
.dropdown-menu {
	min-width: 560px;
}

.dropdown-menu > li {
	margin: 10px;
}

.item_in_cart {
	clear: both;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

#cart_summary {
	min-height: 60px;
}

#purchase {
	width:135px ;
	height: 55px;
	text-align: center;
	font-size: 22px;
}

.collection {
	position: relative;
	left: 175px;
	top: 25px;
}
/* suggestion list carousel */
.suggestion_list {
	width: 980px;
}

#suggestions-carousel {
	position: relative;
	width: 1120px;
	right: 70px;
	padding-right: 40px;
	padding-left: 60px;
}

#suggestions-carousel > .carousel-inner {
	height: 420px;
}

/* #suggestions-carousel > .carousel { */
/* 	padding: 0 60px; */
/* } */
.suggestion_list > li {
	list-style-type: none;
}

.slide_item {
	float: left;
	width: 220px;
	margin: 0 5px;
}

.carousel-control .icon-prev:before {
  content: url('../assets/images/ButtonLeftGray.png');
}

.carousel-control .icon-prev:active {
	content: url('../assets/images/ButtonLeft.png')
}

.carousel-control .icon-next:before {
  content: url('../assets/images/uttonRightGray.png');
}

.carousel-control .icon-next:active {
  content: url('../assets/images/ButtonRight.png');
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.cloth_name {
	margin-bottom: 3px;
}

.cloth_original_price {
	color: #717170;
	text-decoration: line-through;
	margin-bottom: 3px;
}

.cloth_current_price {
	color: #e72d2c;
	margin-bottom: 3px;
}

.production {
	width: 212px;
	height: 360px;
	margin: 0 7px 10px 7px;
	padding: 0;
	border: solid 1px #b7b7b5;
	background: #ffffff;
}

.production > p {
	margin-left: 20px;
	margin-top: 5px;
}

.production > img {
	margin-top: -20px;
}

.panel-box {
	width: 925px;
	height: auto;
	margin-left: 20px;
	padding-bottom: 40px; 
}

.panel-box .col-md-2 {
	padding-left:40px ;
	
}

.panel-like {
	margin-left: 5px;
	margin-top:5px;
}

.col-md-2 > h5 {
	color: #999999;
	font-size: 16px;
	
}


.panel-link > a h6 {
	color: #4E4D4D;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link > h4 {
	color: #AAAAAA;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	
}

.panel-link {
	margin-top:20px;
	
}

.banner-s {
	margin-bottom:15px;
	
}

.rightcol {
	padding-top: 35px;
	margin-bottom: 35px; 

}

.leftcol {
	padding-top: 80px;
	padding-left: 20px;

}

.rightcol >img {
	margin-bottom: 35px; 
}

.rightcol >h4 {
	color: #52AF7E;
	font-size: 16px; 
}

.rightcol >h2 {
	font-weight: bold; 
	font-size: 20px;
}

.contactus > p {
	color: #AAAAAA;
	font-size: 11px;
	margin-top: 0px;

}

.contentbox {
	margin: 20px;
	padding: 20px;
}