    <style>
    .planbtn{
    	border: solid 1px #8caaac;
    	font-size:12px;
    }

    .planbtn:hover, .planbtn:focus,.planbtn:active, .nowplanbtn{
    color: #fff;
    border: solid 1px #8caaac;
    background: url('https://s3-ap-southeast-1.amazonaws.com/getmore/boxmenu.png');
}
    	</style>
    <div class='container planpopover boxmenu'>
       <div style="float:left;text-align:center;">
        <a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:247px;margin-right:4px;">原創新銳設計 / DESINGER</a>
       </div>
        <div style="float:left;text-align:center;">
            <a href="/clothing/newbrandsonly" class="btn btn-primary planbtn  nowplanbtn" style="width:247px;margin-right:4px;">品牌二手代售 / CONSIGNMENT</a>
        </div>
       <div style="float:left;text-align:center;">
        <a href="/clothing/buyerview" class="btn btn-primary planbtn" style="width:247px;margin-right:4px;">時尚買手 / FASHION BUYER</a>
       </div>
        <div style="float:left;text-align:center;">
            <a href="/pages/luxury" class="btn btn-primary planbtn" style="width:247px;    border: dashed 1px #8caaac;">二手精品 / LUXURY</a>
        </div>
    </div>