<ul class="nav navbar-nav">
    <li class="dropdown">  
        <a href="/clothing/newbrandsonly" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           What's New
        </a>
        <ul class="dropdown-menu dropdown-formenu" >
            <li><a tabindex="-1" href="/clothing/newbrandsonly">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women">WOMEN</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=11"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=12"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&pattern=26"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&item_long=sp&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&item_long=lp&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=14&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=15&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&page=1">MEN</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&page=1">KIDS</a></li>
            {#<li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>#}
        </ul>
    </li>
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Designers
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/clothinglist">依品牌</a></li>
            {#<li><a tabindex="-1" href="#">依種類</a></li>#}
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?page=1&keyword=BURBERRY"><i class="fa fa-angle-right" style="margin-right:7px;"></i>BURBERRY</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?page=1&keyword=CLUB MONACO"><i class="fa fa-angle-right" style="margin-right:7px;"></i>CLUB MONACO</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?page=1&keyword=KOOKAI"><i class="fa fa-angle-right" style="margin-right:7px;"></i>KOOKAI</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?page=1&keyword=Max Mara"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Max Mara</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?page=1&keyword=JILL STUART"><i class="fa fa-angle-right" style="margin-right:7px;"></i>JILL STUART</a></li>
        </ul>
    </li>

    <li class="dropdown"> 
        <a href="/clothing/newbrandsonly#?type=women" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           WOMEN
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=11"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=12"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&pattern=26"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&item_long=sp&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=13&item_long=lp&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=14&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=women&product_type=15&page=1"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
    {#      <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>   #}
        </ul>
    </li>

  {#}  <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Bags
        </a>
    </li> #}
    <li class="dropdown"><span style="padding-top: 10px;padding-bottom: 10px;  position: relative; display: block;padding: 10px 15px;">|</span></li>
    <li class="dropdown"> 
        <a href="/clothing/newbrandsonly#?type=men" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           MEN
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=21"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=22"><i class="fa fa-angle-right" style="margin-right:7px;"></i>襯衫</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=23&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=23&item_long=sp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=23&item_long=lp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=251&pattern=24"><i class="fa fa-angle-right" style="margin-right:7px;"></i>西裝外套</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=men&product_type=241&product_type=242&product_type=243"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
           {#} <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>#}
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="/clothing/newbrandsonly#?type=kids" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           KIDS
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&product_type=31"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身衣</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&product_type=32"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&product_type=33"><i class="fa fa-angle-right" style="margin-right:7px;"></i>下身</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&product_type=34"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="/clothing/newbrandsonly#?type=kids&product_type=351&product_type=352"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
          {#  <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>  #}
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="/clothing/sale/brandsonly" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/sale/brandsonly" style="color:red;">New to Sale</a></li>
            <li><a tabindex="-1" href="/clothing/sale/brandsonly">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/sale/brandsonly#?type=women"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="/clothing/sale/brandsonly#?type=men"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="/clothing/sale/brandsonly#?type=kids"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            {#<li><a tabindex="-1" href=""><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href=""><i class="fa fa-angle-right" style="margin-right:7px;"></i>Brands Only</a></li>#}
        </ul>
    </li>
  {#  <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>品牌代售</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>再次降價</a></li>
        </ul>
    </li>  #}
</ul>