<ul class="nav navbar-nav">
    <li class="dropdown">  
        <a href="/clothing/dsnerview" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           What's New
        </a>
        <ul class="dropdown-menu dropdown-formenu" >
            <li><a tabindex="-1" href="/clothing/dsnerview">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=women">WOMEN</a></li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>服裝
                </a>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=11"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=12"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&pattern=26"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&item_long=sp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&item_long=lp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=14"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=15"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Bags&product_type=1B1">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>包包
                </a>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Shoes">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋子
                </a>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Accessories">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>配件
                </a>
            </li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men">MEN</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids">KIDS</a></li>
            {#<li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>#}
        </ul>
    </li>
    <li class="dropdown">  
        <a href="/clothing/dsnerview" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Designers
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a href="/clothing/dsnerlist">依品牌</a></li>
            <li><a tabindex="-1" href="/shop/designer/acrosphere"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Acrosphere</a></li>       
            <li><a tabindex="-1" href="/shop/designer/hypnoticace"><i class="fa fa-angle-right" style="margin-right:7px;"></i>HYPA</a></li> 
            <li><a tabindex="-1" href="/shop/designer/mingmade"><i class="fa fa-angle-right" style="margin-right:7px;"></i>MING MADE</a></li> 
            <li><a tabindex="-1" href="/shop/designer/moinonplus"><i class="fa fa-angle-right" style="margin-right:7px;"></i>moi non plus</a></li>
            <li><a tabindex="-1" href="/shop/designer/ray77galaxy"><i class="fa fa-angle-right" style="margin-right:7px;"></i>RAY 77 GALAXY</a></li> 
            <li><a tabindex="-1" href="/shop/designer/Seagrass"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Seagrass</a></li> 
            <li><a tabindex="-1" href="/shop/designer/xiwistyle"><i class="fa fa-angle-right" style="margin-right:7px;"></i>XIWI</a></li> 
            <li><a tabindex="-1" href="/shop/designer/twinklecat"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Twinkle Cat</a></li> 
            <li><a tabindex="-1" href="/shop/designer/boomboomkidz"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Boom Boom Kidz</a></li> 
            <li><a tabindex="-1" href="/shop/designer/7crash"><i class="fa fa-angle-right" style="margin-right:7px;"></i>7crash</a></li> 
        </ul>
    </li>

    <li class="dropdown"> 
        <a href="/clothing/dsnerview#?type=women" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           WOMEN
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=women">全部商品</a></li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>服裝
                </a>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=11"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=12"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&pattern=26"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&item_long=sp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=13&item_long=lp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=14"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
                    <li class="subitem"><a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Clothing&product_type=15"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Bags&product_type=1B1">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>包包
                </a>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Shoes">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋子
                </a>
            </li>
            <li>
                <a tabindex="-1" href="/clothing/dsnerview#?type=women&gender=1&group=Accessories">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>配件
                </a>
            </li>
        </ul>
    </li>
  {#}  <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Bags
        </a>
    </li> #}
    <li class="dropdown"><span style="padding-top: 10px;padding-bottom: 10px;  position: relative; display: block;padding: 10px 15px;">|</span></li>
    <li class="dropdown"> 
        <a href="/clothing/dsnerview#?type=men" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           MEN
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=21"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=22"><i class="fa fa-angle-right" style="margin-right:7px;"></i>襯衫</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=23&pattern=13"><i class="fa fa-angle-right" style="margin-right:7px;"></i>牛仔褲</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=23&item_long=sp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>短褲</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=23&item_long=lp"><i class="fa fa-angle-right" style="margin-right:7px;"></i>長褲</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=251&pattern=24"><i class="fa fa-angle-right" style="margin-right:7px;"></i>西裝外套</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=men&gender=2&group=Clothing&product_type=241&product_type=242&product_type=243"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="/clothing/sale/designer" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="" style="color:red;">New to Sale</a></li>
            <li><a tabindex="-1" href="">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/sale/dsnerview#?type=women"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="/clothing/sale/dsnerview#?type=men"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
        </ul>
    </li>

    {#
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           for Kids
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids">全部商品</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids&product_type=31"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身衣</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids&product_type=32"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids&product_type=33"><i class="fa fa-angle-right" style="margin-right:7px;"></i>下身</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids&product_type=34"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="/clothing/dsnerview#?type=kids&product_type=351&product_type=352"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
           <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>  
        </ul>
    </li> #}
  {#  <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated disabled dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>品牌代售</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>再次降價</a></li>
        </ul>
    </li>  #}
</ul>