<ul class="list-inline pull-right newnavbar">
  {% if user_in_group("Buyer") %} 
  <li class="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg" style="color:#d45e26;"></i>&nbsp;<span class="badge Headerbadge sub_order" style="display: none;">1</span><span class="caret" style="border-top:4px solid #d45e26;"></span></a>
  <ul class="dropdown-menu" role="menu" style="min-width:60px;border-radius:0px;">
    <li><a href="/buyer/orderlist/2">我的訂單管理</a></li>
    <li><a href="/buyer/closet">時尚買手衣櫃</a></li>
    <li><a href="/buyer/manage">時尚買手管理平台</a></li>
  </ul>
  &nbsp;&nbsp;
  </li>
  |<li>{% endif %}

  {% if user_in_group("Designer") %} 
  <li class="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="fa fa-cog fa-lg" style="color:#8ca9ac"></i>&nbsp;<span class="badge Headerbadge sub_order" style="display: none;">1</span><span class="caret" style="border-top:4px solid #8ca9ac;"></span></a>
  <ul class="dropdown-menu" role="menu" style="min-width:60px;border-radius:0px;">
    <li><a href="/designer/orderlist/2">設計師訂單管理</a></li>
    <li><a href="/designer/closet">設計師專櫃</a></li>
    <li><a href="/designer/manage">設計師管理平台</a></li>
  </ul>
  &nbsp;&nbsp;
  </li>
  |<li>{% endif %}

  {% if user_in_group("Designer") or user_in_group("Seller") %}
  <script type="text/javascript">
  $('.sub_order.Headerbadge').bind('load_count', function(e){
    $.get('/restful/sub_order/count', {status: 2})
      .done(function(data){
        if(!data){
          return false;
        }
        $('.sub_order.Headerbadge').html(data).show();
      })
      .fail(function(){
        $('.sub_order.Headerbadge').hide();
      });
  });

  $('.sub_order.Headerbadge').trigger('load_count');
  </script>
  {% endif %}

  &nbsp;&nbsp;&nbsp;&nbsp;
  <a {% if not logined %} data-toggle="modal" href="#logInModal"  {% else %} href="/closet/my_favorite" {% endif %}><i class="fa fa-gratipay fa-lg"></i></a>&nbsp;&nbsp;&nbsp;</li>
  |<li class="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-lg"></i>&nbsp;<span class="caret" style="border-top:4px solid #fff;"></span></a>
  <ul class="dropdown-menu" role="menu" style="min-width:60px;border-radius:0px;">
    <li><a href="/member/order">購物訂單</a></li>
    <li><a href="/closet/my">我的衣櫃</a></li>
    <li><a href="/member/account">線上帳戶</a></li>
    <li><a href="/member/information">會員中心</a></li>
  </ul>
  &nbsp;&nbsp;</li>
  |<li style="position:relative;">&nbsp;&nbsp;&nbsp;&nbsp;<a href='/message/fin/box'><i class="fa fa-envelope fa-lg">{% if (count_notReadPost() != 0 ) %}<span class="badge Headerbadge">{{count_notReadPost() }}</span>{% endif %}&nbsp;&nbsp;&nbsp;</i></a>
  |<li class="dropdown">&nbsp;&nbsp;&nbsp;<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart fa-lg"><span class="badge Headerbadge" id ="cart_badge_Headerbadge"></span></i></a>
  <ul class="dropdown-menu" role="menu" id="shopping-cart-menu" style="color:#000;">
    <li>
      <span>Loading ... </span>
    </li>
  </ul>
    &nbsp;&nbsp;&nbsp;</li>

    {% if not logined %}
    |<li>
       &nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#logInModal">login&nbsp;&nbsp;&nbsp;</a>
    </li>
    {% else %}
    |<li>
        &nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="/auth/logout?redirect_url={{ current_url()|url_encode }}">logout
        &nbsp;&nbsp;&nbsp;</a>
    </li>
    {% endif %}
    |<li>
    <span><button type="button" class="btn btn-success btn-xs" style="background-color:#E70888;border-radius:10%;"><a href="/pages/jointogether" target="_blank">我要進駐</a></button></span>
    </li>
  </ul>