{% extends 'template/getmore_layout.html.twig' %}

{% block main %}
<!--<?= post_message_modal();?>-->
<!--<?= post_user_message_modal();?>-->

<!-- 個人訊息檢視 -->
<br />
<img class='banner-s' src="/assets/images/banner-s/about/intro.jpg">
<div class='row' id='pagerow'>
    <div class='col-254'>
        <div class='leftcol'>
            <p>我的信箱 / message</p>
                <p>
                    <a href="/message/fin/box"><button type="button" class="btn btn-primary btn-m">訊息夾</button></a>
                </p>
                <p>
                    <a href="/message/fin/sent"><button type="button" class="btn btn-primary btn-m">已寄出</button></a>
                </p>
        </div>
        <hr>
        <div class='contactus'><p> Contact us <br> service@getmore.cc </p> </div>
    </div>

    <div class='col-726'>
        <div class="tab-content article-line">
            <div class="tab-pane active rightcol" id="GetMore" getmore-post>
                   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      {% if post_messages(select) == "" %}
                        <div class="tab-pane active rightcol" id="GetMore" getmore-post=""> 
                            <div class="alert alert-success" role="alert">還沒有訊息喔！！！</div> 
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
                        </div>
                      {% endif %}
                      {{ post_messages(select) }}
                   </div>
           </div>
       </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        var hash = window.location.hash;
        hash && $('.nav-a[href="' +   + '"]').tab('show');

        $('.nav-a').click(function (e) {
          $(this).tab('show');
          var scrollmem = $('body').scrollTop();
          window.location.hash = this.hash;
          $('html,body').scrollTop(scrollmem);

        });
    });
</script>

<script>
    $(".panel-default").delegate(".panel-heading", "click", function (e) {  
        var post = {post_id: e.target.getAttribute('target'), user_personal_post:e.target.getAttribute('data-id')};

        var data ;

        if ( post['user_personal_post'] == 0 )
            data = {post_id:post['post_id'], owner_read:'true'}; 
        else
            data = {post_id:post['post_id'], user_read:'true'}; 

        var actionUrl = "/restful/post/"+data['post_id'];

        $.ajax({
            type: 'PUT',
            url: actionUrl,
            data: data,
            dataType: 'json'
        }).done(function(successpost){
            console.log("success");
            console.log(successpost);
        }).fail(function(error){
            console.log("error");
            console.log(error);
        });

    }); 
</script>

<script>
    $(document).ready(function(){
        $('#post_submit').click(function(event){
            event.preventDefault();
            // var actionUrl = "/post/new_post_post";
            var actionUrl = "/restful/post";

            var tempData, i , tempReceiver;
            tempReceiver = $( '#owner_id' ).val();
            //$( '#receiver' ).val( "999" );
            var tempData = $( '#post' ).serialize();
            var formData;

            for ( i = 0 ; i < tempReceiver.split(",").length ; i++ ) {
                $( '#owner_id' ).val( tempReceiver.split(",")[i] );
                tempData = $( '#post' ).serialize();
                formData = new FormData(document.getElementById("post"));

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    dataType: 'json'
                }).done(function(post){
                    formData.append("post_id", post['_id']);

                    $.ajax({
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: "/restful/post/message",
                        data: formData,
                        dataType: 'json'
                    }).done(function(post){
                        $.ajax({
                            type: 'POST',
                            url: '/post/change_message_value',
                            data: {post_id: post['post_id'], read: 'true'},
                            dataType: 'json'
                         });
                        console.log("success");
                    }).fail(function(error){
                        console.log(error);
                    });

                    console.log();
                }).error(function(){
                    console.log("error");
                });

            } // for
            document.getElementById("post").reset();
        });
    });
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
<script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js">
</script>
{% endblock %}