{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<style>
.certifycontainer {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 30px 30px;
}
.upload-direction{
  color:#565a5c;
  letter-spacing: 3px;
  padding: 10px 20px; 

}
</style>

<div class="col-md-10 col-md-offset-1 certifycontainer">
    <div class="alert alert-success" role="alert">{{ msg }}</div>
    <div class="upload-direction">
        <h3><i class="fa fa-mobile" style="color:#FFCC22;"></i>&nbsp;手機認證</h3>
        <p>最後一步囉！完成手機認證即可開始上架您的商品。</p>
    </div>
    <div class="upload-direction">
    <form action="check_sms_code" method="post">
        <div class="form-group">
            <label for="sms_code">請按<a class="text-warning">取得認證碼</a>, 並輸入您手機取得的<a class="text-warning">簡訊認證碼</a></label>
            <input type="text" class="form-control" id="sms_code" placeholder="SMS code" name="sms_code" style="display: inline;">
            <a id="send_sms_code" class="btn btn-default">取得認證碼</a>
        </div>
        <button type="submit" class="btn btn-default">傳送認證碼</button>
    </form>
    <div style="margin-top:20px;">若您沒有收到或遺失認證碼,若您沒收到驗證碼,請再次確認您輸入的手機號碼:<span><input type="text" class="form-control" id="mobile_phone" placeholder="mobile phone" name="mobile_phone" value="{{ mobile_phone }}" style="width: 8em;display: inline;"></span></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  
  $(function(){

    var alert_msg = "{{ msg }}";
    if (alert_msg == ""){
      $('div[role="alert"]').hide();
    }
  });

    $('#send_sms_code').bind('click', function(e){
        $.post('send_sms_code', {mobile_phone: $('#mobile_phone').val()}).done(function(response){
            $('div[role="alert"]').show();
            $('div[role="alert"]').html(response);
        });
    });
</script>
{% endblock %}