{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.css" rel="stylesheet">
    <meta property="og:title" content=" {{designer['title']}} | 新銳設計師品牌 @Getmore"/>
    <meta property="og:description" content="{{ designer['description']}}" />
    <meta property="og:image" content="http://s3.getmore.cc/clothing/{{items[0].files[0]}}/medium.jpg" />
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="/assets/javascript/jquery.sortable.min.js"></script>
    <script src="/assets/javascript/jquery.jrumble.1.3.min.js"></script>
  {% endblock %}

{% block searchbox%}
    {% include '/searchbox/dsner_search.twig' %}   
{% endblock %}

{% block boxmenu %}
    {% include '/dropdownnav/dsner_boxmenu.twig' %}
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
  {% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div style="border-bottom:1px solid #000;padding:10px 0;">
  <div style="font-size:10px;color:#333;">首頁 > designers > {{designer['title']}}
    <div style="float:right;font-size:10px;color:#333;" id="followDesignerBox">
      <a class="follow-designer" href="#" style="color:#000;"
      {% if follow %}
        disabled="disabled">Followed
      {% else %}
        >Follow Designer +
      {% endif %}
      </a>
    </div>
  </div>
</div>

<div class="dsnershop-left">
  <div id="designerDescription" style="overflow: auto">
    <div style="font-size:14px;margin-bottom:10px;">{{designer['title']}}</div>
      {% if user_id == designer_id %}
        <a href="#" class="pull-right" style="font-size:10px;margin-bottom:10px;" onclick="changeDescription()" id="changeDescription">修改介紹</a>
      {% endif %}
      <div style="margin-bottom:10px;font-size:13px;line-height:22px;" id="designerDescriptionText">
      {{ designer['description']|nl2br }}
      </div>
      {% if designer.from %}
      <div style="text-align:right;font-size:10px;color:#bbb;"><i class="fa fa-map-marker lg"></i>&nbsp;設計師來自{{designer.from}}</div>
      {% endif %}
      <hr />
  </div>
  <div class="fb-like" data-href="{{ current_url() }}" data-layout="button" data-share="true"></div>
{#<div class="fb-share-button" data-href="{{ current_url() }}" data-layout="button_count"></div>#}
  <hr>
  {% if user_id == designer_id %}
  <div style="text-align: center">
    <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="點選可重新排列商品" style="margin: 10px;" onclick="editButtonClick()" id="editButton">編輯商品排序</button>
  </div>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      function editButtonClick() {
        if ($("#editButton").html() == "儲存排序") {
          $("#editButton").html("編輯商品排序");
          $('.fresh-product-view').trigger('stopRumble');
          $(".productList").sortable("destroy");
          var result = [];
          console.log('yes');
          $(".productList").find(".item").each(function(index, value) {
            $.ajax({
              type: 'POST',
              url: '/restful/designer_products/updateOrder',
              data: {
                order: index,
                id: $(this).attr("id")
              },
              success: function(res){
                console.log(res);
              }
            });
          });
          slideDownAlert("排序已儲存");
        } else {
          $("#editButton").html("儲存排序");
          $(".productList").sortable({
            revert: true
          });
          $(".fresh-product-view").jrumble({
            speed: 100,
          });
          $('.fresh-product-view').trigger('startRumble');
        }
      }
    </script>
    <hr>
  {% endif %}
  {% if designer.interview %}
  <div style="text-align:center;font-size:10px;">
    <a href="{{ designer.interview }}" target="_blank">設計師專訪</a>
  </div>
  <hr/>
  {% endif %}
  <div id="designerPolicy" style="overflow: auto">
    <div style="text-align:center;font-size:10px;">
      <a data-toggle="collapse" data-target="#policy_collapse">交易政策</a>
    </div>
    <div class="collapse" id="policy_collapse" style="margin-top:10px;">
      <ul class='font-size12 product-view-ul-p list-unstyled'>
        <li>配送方式：{{ product['trade_rule']['method'] }}</li>
        {% if designer.shipping_price %}
        <li>運費資訊：NT${{ designer.shipping_price }}{% if designer.free_shipping %},滿 NT${{ designer.free_shipping }} 則免運費{% endif %}</li>
        {% else %}
        <li>運費資訊：免運費</li>
        {% endif %}
        <li>出貨時間：{{ product['trade_rule']['time'] }}</li>
        <li>運送時間：{{ product['trade_rule']['transport'] }}</li>
        <li>退貨政策：{{ product['trade_rule']['returns'] }}</li>
      <ul>
    </div>
    <hr/>
    {% if user_id == designer_id %}
      <a href="#" class="pull-right" style="font-size:10px;margin-bottom:10px;" data-toggle="modal" data-target="#changePolicyModal" id="changePolicy">修改交易政策</a>
    {% endif %}
  </div>
</div>

<div class="dsnershop-right">
  <div id="designerSignBoard" class="signboard_preview">
    <div style="width:720px;height:260px;overflow:hidden;">
      <img src="http://s3.getmore.cc/designer/signboard/{{designer['user_id']}}/medium.jpg" style="width:720px;" class="signboard">
    </div>
    {% if user_id == designer_id %}
    <input id="signboard_file" type="file" style="display: none;">
    <div class="btn-group btn-group-justified" role="group" id="imageSettingGroup">
        <a class="btn btn-default change_image btn-xs">換圖</a>
        <a class="btn btn-default crop_image btn-xs" disabled="disabled">確定</a>
        <a class="btn btn-default cancel_change btn-xs">取消</a>
    </div>
    <button class="btn btn-default" onclick="changeImageButtonClick()" id="changeImageButton">更換照片</button>
    {% endif %}
  </div>
  <div style="margin-top:10px;padding-top:10px;;margin-left:-15px;overflow:auto;">
   <div class="productList">
      {% for item in items if item.on_shelf != 0 %}
          <a href="/clothing/designer/{{item.id}}" target="_blank" id="{{item.id}}" class="item">
            <div class="fresh-product-view lock-status-{{item.lock_status}}">
              {% if item.lock_status == 2 %}
                <p class="sold-out-text text-center" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;">
                      SOLD<br/>OUT
                  </p>
              {% endif %}
              {% if discount(item.product_original_price, item.product_sell_price) %}
              <div class="discountlable"><center><div class="discountlablep">{{ discount(item.product_original_price, item.product_sell_price) }}<br/>折</div></center></div>
              {% endif %}
              <div style="background-image: url('http://s3.getmore.cc/clothing/{{item.files[0]}}/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="width: 230px;height:345px;">
              </div>
              <div class="product-brand">{{item.product_brand}}</div>
              <div class="fresh-product-title">{{item.product_title}}</div>
              <div class="fresh-product-price" style="overflow:hidden;">
                <span class="is-deleted">NT$ {{item.product_original_price}}</span>
                <span class="fresh-product-sale">NT$ {{item.product_sell_price}}</span>
              </div>
              {% if item.colors|length > 1 %}
              {% for color in item.colors %}
              <img src="/admin/assets/images/colorbox/{{ color }}.png" style="width: 10px;height: 10px;margin-right:3px;">
              {% endfor %}
              {% endif %}
              <div class="likeslideup like-fade">
                <div class="likeslideupcontent {% if item.is_liked %}liked{% else %}to_like{% endif %}" data-id="{{ item.id }}"><i class="fa fa-gratipay fa-2x"></i>
                  <div>
                    {% if item.is_liked %}
                      SAVED
                    {% else %}
                      SAVE
                    {% endif %}  
                  </div>
                  <input type="hidden" class="like_type" value="{{item.launch_way}}">
                </div>
              </div>
            </div>
          </a>
      {% endfor %}
      {% if items is empty %}
      <div class='alert alert-info'>這個衣櫃內還沒有衣服喔！</div>
      
      <!--<div class='alert alert-info zero-select'>這個選項中還沒有衣服喔！</div>-->
      {% endif %}
  </div>
  </div>
</div>
<div class="modal fade" id="changePolicyModal">
  <div class="modal-dialog">
      <div class="modal-content" style="width: 750px;">
        <form id="tradeRuleForm" action="/designer/trade_rule" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-pencil-square-o" style="color:#FFCC22;"></i>&nbsp;編輯交易政策</h4>
        </div>
        <div class="modal-body">
        <div ng-app="getmore_sell_manage">
          <div ng-controller="tradeRuleController">
                <div class="certifycontainer">
                    <div class="upload-direction">
                        <p>交易政策請妥善填寫，清楚寫出您的買賣規範，以確保自身權利，以減少買賣糾紛。填寫完成，GetMore將自動帶入您衣櫃的交易政策，套用到所有商品上。</p>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_time"><u>商品寄送時間</u></label>
                        <p>建議清楚填寫出貨時間，越快速買家滿意度也會越高。</p>
                        <textarea class="form-control" name="trade[time]" ng-model="trade_time" rows="5" placeholder="確認付款後的 3 天內會將商品寄出"></textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩{{'{{ time_remain_count }}'}}字。</div>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_method"><u>寄送方式</u></label>
                        <p>請依照您所選擇的物流而訂定，除了快速，更重要的是在你所訂定的時間內送達，買家滿意度將會提高。<span style="color: red;">若您選擇其他貨運，請在【商品運送時間】欄位註明貨運名稱。</span></p>
                        <select class="form-control width375" name="trade[method]">
                            <option value="黑貓宅急便" {% if trade.method == "黑貓宅急便" %}selected{% endif %}>黑貓宅急便</option>
                            <option value="郵局" {% if trade.method == "郵局" %}selected{% endif %}>郵局</option>
                            <option value="宅配通" {% if trade.method == "宅配通" %}selected{% endif %}>宅配通</option>
                            <option value="新竹物流" {% if trade.method == "新竹物流" %}selected{% endif %}>新竹物流</option>
                            <option value="其他貨運" {% if trade.method == "其他貨運" %}selected{% endif %}>其他貨運</option>
                        </select>
                    </div>
                    <div class="upload-direction form-inline">
                        <label><u>運費資訊</u></label>
                        <div style="line-height: 35px;">
                            運費
                            <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-addon">NT$</div>
                                  <input type="text" class="form-control" name="designer[shipping_price]" value="{{ designer.shipping_price }}">
                                  <div class="input-group-addon">/ 件</div>
                                </div>
                            </div><br />
                            當訂單總金額滿
                            <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-addon">NT$</div>
                                  <input type="text" class="form-control" name="designer[free_shipping]" value="{{ designer.free_shipping }}">
                                </div>
                            </div>
                            元後，則免運費
                        </div>
                    </div>
                    <div class="form-group upload-direction">
                        <label for="trade_transport"><u>商品運送時間</u></label>
                        <textarea class="form-control" name="trade[transport]" ng-model="transport" rows="5" placeholder="寄出後約 3 個工作天內送達 (不含週六日及國定假日)"></textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩{{'{{ transport_remain_count }}'}}字。</div>
                    </div>
                    <input type="hidden" value="{{ designer['url_code'] }}" name="url">
                    <div class="form-group upload-direction">
                        <label for="trade_returns"><u>退貨政策</u></label>
                        <p>建議提供詳盡的退貨說明，清楚寫出時間、規範、運費負擔者，以減少買賣糾紛。</p>
                        <textarea class="form-control" name="trade[returns]" ng-model="returns" rows="5" placeholder="在收到商品後，請立刻檢查商品是否正確，如果有問題請於 3 天內與我連絡，並於我回覆地址後 2 天內保持完整連同原商品包裝寄回，超過時限即視為無誤。退貨請自行負擔運費。"> </textarea>
                        <div class="planaex ng-binding">字數限制100字，還剩{{'{{ returns_remain_count }}'}}字。</div>
                    </div>
                    <div>
                        <!-- <button type="reset" class="btn btn-success" value="還原"> -->
                    </div>
                </div>
          </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">更新</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=175511119170333";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  $(document).ready(function(){//console.log('1');
    $('.follow-designer').on('click', function(e){
      {% if not user_id %}
        $('#logInModal').modal('show');
        return false;
      {% endif %}
      if($(this).attr('disabled')=='disabled') return false;
      e.preventDefault();
      console.log('{{url_code}}');
      $.ajax({
        type: 'POST',
        url: '/restful/follow_designer',
        data: {
          url_code: '{{url_code}}',
          user_id: '{{user_id}}'
        },
        dataType: 'json',
        success: function(res){
        }
      });
      $('.follow-designer').attr('disabled', 'disabled').text('Followed');
    })
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.likeslideupcontent').on('click', function(e){
      e.preventDefault();
      {% if not logined %}
        $('#logInModal').modal('show');
        return false;
      {% endif %}
      console.log('hi');
      var $tmp=$(this);
      console.log($('input', $tmp));
      $.ajax({
        type: 'PUT',
        url: '/restful/clothing_like/'.concat($tmp.data('id')),
        data: {
          user_id: {{user_id}},
          type: $('input', $tmp).attr('value')
        },
        success: function(res){
          console.log(res);
          //console.log($tmp);
          if($tmp.hasClass('to_like')){
            $tmp.addClass('liked').removeClass('to_like');
            $('div', $tmp).text('SAVED');
          }
          else{
            $tmp.addClass('to_like').removeClass('liked');
            $('div', $tmp).text('SAVE');
          }
        }
      });
    });
    $(".collapse").collapse();
  });

  var originalImageSrc = $('img.signboard').data('src');

  function changeImageButtonClick() {
    originalImageSrc = $('img.signboard')[0].src;
    $('#signboard_file').trigger('click');
  }

  function changeDescription() {
    $.getJSON('/restful/designer/id/{{ designer_id }}', function(data) {
      $("#designerDescriptionText").replaceWith('<textarea id="designerDescriptionText" class="form-control" rows="5">' + data.description + '</textarea><a href="#" class="pull-right" style="font-size:14px;margin-bottom:10px;" onclick="postDescription()" id="postDescription">修改</a>');
      $("#changeDescription").remove();
    });
  }

  function postDescription() {
    $.post('/restful/designer/changeDescription', {"description": $("#designerDescriptionText").val()}, function(data) {
      var description = $("#designerDescriptionText").val().split("\n").join("<br />");
      $("#postDescription").remove();
      $("#designerDescriptionText").replaceWith('<a href="#" class="pull-right" style="font-size:10px;margin-bottom:10px;" onclick="changeDescription()" id="changeDescription">修改介紹</a><div style="margin-bottom:10px;font-size:10px;" id="designerDescriptionText">'+ description +'</div>');
    }); 
  }

  $('div.signboard_preview')
    .delegate('a.change_image', 'click', function(e){
        $('#signboard_file').trigger('click');
    })
    .delegate('a.reset_image', 'click', function(e){
        $('img.signboard').cropper('destroy').attr({
            'src': $('img.signboard').data('src')
        });
        $('#signboard_file').val('');
        $('a.crop_image', 'div.signboard_preview').attr('disabled', 'disabled');
    })
    .delegate('a.cancel_change', 'click', function(e) {
        $('img.signboard').cropper('destroy').attr('src', originalImageSrc);
        $('input[name="designer[signboard]"]').val(originalImageSrc);
        $("#imageSettingGroup").hide();
        $(".signboard_preview").append('<button class="btn btn-default" onclick="changeImageButtonClick()" id="changeImageButton">更換照片</button>');
    })
    .delegate('a.crop_image', 'click', function(e){
        var src = $('img.signboard').cropper('getCroppedCanvas').toDataURL("image/jpeg");
        $('img.signboard').cropper('destroy').attr('src', src);
        $('input[name="designer[signboard]"]').val(src);
        $(this).attr('disabled', 'disabled');
        $("#imageSettingGroup").hide();

        $(".signboard_preview").append("<div id='uploadMessage'><i class='fa fa-spinner fa-spin'></i>上傳圖片中...</div>");
        $('img.signboard').css({opacity: 0.5});
        //ajax version
        $.ajax({
            url: '/restful/designer/signboard/file',
            method: 'POST',
            data: {
                file: src
            },
            success: function(data) {
              $("#uploadMessage").remove();
              $('img.signboard').css({opacity: 1});
              $(".signboard_preview").append('<button class="btn btn-default" onclick="changeImageButtonClick()" id="changeImageButton">更換照片</button>');
            }
        });
    });

  $('#signboard_file').bind('change', function(e){
    var reader = new FileReader(),
           file = e.target.files[0],
           img = $(e.target).is('#signboard_file')?$('img.signboard').data('ratio', 36 / 13).data('min_width', 720).data('min_height', 260):$('img.profile').data('ratio', 7 / 1).data('min_width', 350).data('min_height', 50);
    
    reader.onload = function(e){
        $("#changeImageButton").remove();
        $("#imageSettingGroup").show();
        $(img).attr('src', e.target.result).cropper({
            aspectRatio: $(img).data('ratio'),
            movable: false,
            guides: false,
            zoomable: false,
            preview: '123',
            minCropBoxWidth: $(img).data('min_width'),
            minCropBoxHeight: $(img).data('min_height'),
            built: function(e){
                $('a.crop_image', $(img).parent('div').parent('div')).removeAttr('disabled');
            }
        });
    }.bind(this)

    reader.readAsDataURL(file);
  });
</script>

<script type="text/javascript">
  $(function(){
    $('#tradeRuleForm').submit(function(){
        if ($("textarea[name='trade[time]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        } 
        else if ($("textarea[name='trade[transport]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        }
        else if ($("textarea[name='trade[returns]']").val() == "") {
            alert("所有交易政策皆為必填，請勿修改為空白");
            return false;
        }
    });
  });

  angular.module('getmore_sell_manage', [])
    .controller('tradeRuleController', ['$scope', '$element', 
        function ($scope, $element){
            $scope.trade_time = {{ trade.time|json_encode }};
            $scope.transport = {{ trade.transport|json_encode }};
            $scope.returns = {{ trade.returns|json_encode }}
            
            $scope.$watch('time', function(newVal, oldVal){
                if(!newVal) {
                    $scope.time_remain_count = 100 - ($scope.trade_time).length;
                }
                else {
                    $scope.time_remain_count = 100 - newVal.length;
                }
            });
            $scope.$watch('transport', function(newVal, oldVal){
                if(!newVal) {
                    $scope.transport_remain_count = 100 - ($scope.transport).length;
                }
                else {
                    $scope.transport_remain_count = 100 - newVal.length;
                }
            });
            $scope.$watch('returns', function(newVal, oldVal){
                if(!newVal) {
                    $scope.returns_remain_count = 100 - ($scope.returns).length;
                }
                else {
                    $scope.returns_remain_count = 100 - newVal.length;
                }
            });
        }
    ]);

</script>
 
<style>
  .dsnershop-left{
    float:left;
    padding: 30px 20px 20px;
    width: 270px;
    //border-right: 1px solid #ddd;
    min-height: 900px;
    color:#000;
    font-weight:300;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsnershop-right{
    float: left;
    padding: 30px 0 20px 10px;
    width: 730px;
  }
  #productList > a { 
    float: left; 
  }

  .likeslideup{
    background-color: rgba( 254, 254,254, 0.6);
    height: 70px;
    bottom: 95px;
    width: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    overflow: auto;
    opacity:0;
  }

.fresh-product-view:hover .likeslideup{
  opacity: 1;
  -webkit-transition:opacity ease-in-out 0.3s;
  -moz-transition:opacity ease-in-out 0.3s;
  -o-transition:opacity ease-in-out 0.3s;
  transition:opacity ease-in-out 0.3s;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.sortable-placeholder{
  width: 230px;
  height: 345px;
  border: 1px dashed #4dbaa9;
  border-radius: 5px;
  display: inline-block;
}

#changeImageButton {
  z-index: 9999;
  position: absolute;
  display: none;

  right: 10px;
  margin-top: -46px;
}

#designerSignBoard {
  position: relative;
}

#designerSignBoard:hover #changeImageButton {
  display: block;
}

#imageSettingGroup {
  display: none;
}

#uploadMessage {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -110px;
}

#changeDescription {
  display: none;
}

#designerDescription:hover #changeDescription {
  display: block;
}

#changePolicy {
  display: none;
}

#designerPolicy:hover #changePolicy {
  display: block;
}

</style>
{% endblock %}
