<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <table class='table'>
        <tr>
            <th>編號</th>
            <th>使用者ID</th>
            <th>異動名目</th>
            <th>商品編號/訂單編號</th>
            <th>異動額</th>
            <th>備註</th>
            <th>日期</th>
        </tr>
        {{#each transactions}}
            <tr>
                <td>{{ id }}</td>
                <td>{{ user_id }}</td>
                <td>{{ name }}</td>
                <td>{{ related_number }}</td>
                <td>{{ amount }}</td>
                <td>{{ note }}</td>
                <td>{{ created_at }}</td>
            </tr>
        {{/each}}                    
    </table>
</article>
<script>

</script>
