<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form">
      <div class="form-group">
        <label>使用者ID
            <input type="text" class="form-control" id="user_id">
        </label>
      </div>
      <div class="form-group">
        <label>異動名目
            <input type="text" class="form-control" id="name">
        </label>
      </div>
      <div class="form-group">
        <label>訂單/商品編號
            <input type="text" class="form-control" id="related_number">
        </label>
      </div>
      <div class="form-group">
        <label>異動額
            <input type="text" class="form-control" id="amount">
        </label>
        <span class="help-block">（扣除金額請以負數表示 ex: -100, -200。新增金額則不必輸入+號）</span>        
      </div>
      <div class="form-group">
        <label>備註
            <input type="text" class="form-control" id="note">
        </label>
      </div>
      
    </form>
    <button class="btn btn-primary" id='create_transaction_button'>新增</button>

</article>
<script>

</script>
