<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form" method='post' action='/api/articleapi/create' enctype="multipart/form-data" >

      <div class="form-group">
        <label>標題
        </label>
        <input type="text" class="form-control" name="title">
      </div>

      <div class="form-group">
        <label>作者
        </label>
        <input type="text" class="form-control" name="author">
      </div>


      <div class="form-group">
        <label>主題圖片
        </label>
        <input type="file" class="form-control" name="userfile">
      </div>
      
      <!--
      <div class="form-group">
        <label>內容
        </label>
        <textarea class='form-control' name='content' rows=20 style='width: 600px;'></textarea>
      </div>
      -->
      
      <div class="form-group">
        <label>簡介
        </label>
        <textarea class='form-control' name='intro' rows=10 style='width: 600px;'></textarea>
      </div>

      <div class="form-group">
        <label>內容
        </label>
        <textarea name="content" id="editor1" rows="30" cols="30">
        </textarea>

      </div>


      <div class="form-group">
        <label>About
        </label>
        <textarea class='form-control' name='about' rows=10 style='width: 600px;'></textarea>
      </div>

      <script>
            var instance = CKEDITOR.instances['editor1'];
            if (instance) {
                CKEDITOR.remove(instance);
            }
            CKEDITOR.replace( 'editor1', { height: 600 } );
      </script>

      <div class="form-group">
        <label>狀態
        </label>
        <select name='published' class='form-control'>
            <option value='1'>公開</option>
            <option value='0'>草稿</option>                
        </select>
      </div>   

      <div class="form-group">
        <label>分類
        </label>
        <select name='category_id' class='category_id form-control'>
        <option class='category-0' value='0'>未分類</option>
        {{#categories}}
            <option class='category-{{id}}' value='{{id}}'>{{name}}</option>
        {{/categories}}
        </select>
      </div>     

      <input type='submit' class="btn btn-primary" id='create_coupon_button' value='新增'>
            
    </form>

</article>

