<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form" method='post' action='/api/articleapi/update' enctype="multipart/form-data" >
      
      <input type='hidden' name='id' value='{{article.id}}' />
      
      <div class="form-group">
        <label>標題
        </label>
        <input type="text" class="form-control" name="title" value='{{article.title}}'>
      </div>

      <div class="form-group">
        <label>作者
        </label>
        <input type="text" class="form-control" name="author" value='{{article.author}}'>
      </div>


      <div class="form-group">
        <label>主題圖片
        </label>
        <input type="file" class="form-control" name="userfile">
      </div>

      <!--
      <div class="form-group">
        <label>內容
        </label>
        <textarea class='form-control' name='content' rows=20 style='width: 600px;'>{{content}}</textarea>
      </div>
      -->

      <div class="form-group">
        <label>簡介
        </label>
        <textarea class='form-control' name='intro' rows=10 style='width: 600px;'>{{article.intro}}</textarea>
      </div>


      <div class="form-group">
        <label>內容
        </label>
        <textarea name="content" id="editor1" rows="30" cols="30">{{article.content}}</textarea>

      </div>      
      

      <div class="form-group">
        <label>About
        </label>
        <textarea class='form-control' name='about' rows=10 style='width: 600px;'>{{article.about}}</textarea>
      </div>
      
      <div class="form-group">
        <label>狀態
        </label>
        <select name='published' class='form-control'>
            {{#if article.published}}
                <option value='1' selected="selected">公開</option>
                <option value='0'>草稿</option>        
            {{else}}
                <option value='1'>公開</option>
                <option value='0' selected="selected">草稿</option>        
            {{/if}}        
        
        </select>
      </div>      

      <div class="form-group">
        <label>分類
        </label>
        <select name='category_id' class='category_id form-control'>
        <option class='category-0' value='0'>未分類</option>
        {{#categories}}
            <option class='category-{{id}}' value='{{id}}'>{{name}}</option>
        {{/categories}}
        </select>
      </div>      


      <input type='submit' class="btn btn-primary" id='create_coupon_button' value='修改'>
            
    </form>

</article>


      <script>
            var instance = CKEDITOR.instances['editor1'];
            if (instance) {
                CKEDITOR.remove(instance);
            }
            CKEDITOR.replace( 'editor1', { height: 600 } );


            (function($){
                $('.category_id').val('{{article.category.id}}');
            }(jQuery));                
      </script>

