<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    
            {{#articles}}
                <div>
                    <a class='btn btn-warning' href='/admin/#!/article/edit/{{id}}'>Edit</a>
                    <form action='/api/articleapi/delete' method='post' class='inline'>
                        <button onclick='return confirm("確定要刪除？")' class='btn btn-danger' type='submit' name='id' value='{{id}}'>Delete</button>
                    </form>                
                    {{id}}
                    <a target='_blank' href='/blog/view/{{id}}'>{{ title }}</a>
                    {{created_at}}
                    {{#if published }}

                    {{else}}
                        <span class='label label-info'>草稿</span>                    
                    {{/if}}
                </div>
                <hr />
            {{/articles}}
        </tbody>
    </table>
</article>

<style>
    .inline{
        display: inline;
    }
</style>
