<article class="module width_full">

    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form" method='post' action='/api/articleapi/create_category'>
        <div class="form-group">
          <label>類別
          </label>
          <input type="text" class="form-control" name="name">
        </div>
        <input type='submit' class="btn btn-primary" value='新增'>            
    </form>
    
    <hr />

    
            {{#categories}}
                <div>
                    <span class='btn editable_name' id='{{ id }}'>{{name}}</span>
                    
                    
                    <form action='/api/articleapi/delete_category' method='post' class='inline'>
                        <button onclick='return confirm("確定要刪除？")' class='btn btn-danger' type='submit' name='id' value='{{id}}'>Delete</button>
                    </form>                                 
                    
                </div>
                <hr />
            {{/categories}}

</article>

<style>
    .inline{
        display: inline;
    }
</style>

<script>
(function($){
    $('.editable_name').editable('/api/articleapi/update_category', {
         type      : 'text',
         indicator : '<img src="/admin/assets/images/loading.gif">',
    });
}(jQuery));
</script>
