<article class="module width_full">
<div id='message-div'>
</div>
    <form method='GET'>
    <table class='table'>
        <tr>
            <td colspan="3">
                <input type='button' class='btn btn-primary btn-large' id='edit_buyorder' value='修改' />
                <input type='hidden' name="order_number" value="{{ item.order_number }}" />
            </td>
        </tr>    
        <tr>
            <td>
                <p>ID：{{ item.id }}</p>
                <p>訂單編號：{{ item.order_number }}</p>
                <p>使用者ID：{{ item.user_id }}</p>
                <p>件數：{{ item.items_count }}</p>
                <p>衣服總額：{{ item.items_price }}</p>
                <p>運費：{{ item.shipping_price }}</p>
                <p>總金額：{{ item.total_price }}</p>
                <p>付款方式：{{ item.payment_method }}</p>
                <p>配送時間：{{ item.delivery_time_label }}</p>
                <p>發票狀態：{{ item.receipt_to_label }}</p>
                <p>訂購時間：{{ item.created_at }}</p>
                <p>付款時間：{{ item.paid_at }}</p>
                <p>出貨時間：{{ item.shipped_at }}</p>
                <p>托運單號：<input type='text' name="shipping_number" value="{{ item.shipping_number }}" /></p>
                <p>備註：<input type='text' name="note" value="{{ item.note }}" /></p>
                <p>訂單狀態：
                    <select name='status'>
                        <option value='-2'>已取消</option>
                        <option value='1'>待付款</option>
                        <option value='2'>待出貨</option>
                        <option value='3'>已出貨</option>
                        <option value='4'>已到貨</option>
                        <option value='5'>已完成</option>
                        <option value='6'>已退貨</option>
                    </select>
                </p>
            </td>
            <td>
                <p>訂購人姓名：{{ item.buyer_name }}</p>
                <p>訂購人性別：{{ item.buyer_gender }}</p>
                <p>訂購人電話：{{ item.buyer_phone_number }}</p>
                <p>訂購人地址：{{ item.buyer_address }}</p>                    
            </td>
            <td>            
                <p>收件人姓名：{{ item.receiver_name }}</p>
                <p>收件人性別：{{ item.receiver_gender }}</p>
                <p>收件人電話：{{ item.receiver_phone_number }}</p>
                <p>收件人地址：{{ item.receiver_address }}</p>
            </td>
        </tr>
    </table>
    </form>
</article>
