<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>會員ID</th>
                <th>訂購人</th>
                <th>訂購日期</th>
                <th>訂購件數</th>
                <th>付款金額</th>
                <th>付款日期</th>
                <th>托運單號</th>
                <th>出貨日期</th>
                <th>訂單明細</th>
                <th class='statusColumn'>狀態轉換</th>
            </tr>
        </thead>
        <tbody>
            {{#items}}
            <tr>
                <td class='show_order_detail' data-order_number="{{order_number}}">{{order_number}}</td>
                <td>{{user_id}}</td>
                <td>{{buyer_name}}</td>
                <td>{{created_at}}</td>
                <td>{{items_count}}</td>
                <td>{{total_price}}</td>
                <td>{{paid_at}}</td>
                <td class='editable  editable_shipping_number' id='{{ id }}'>{{shipping_number}}</td>
                <td>{{shipped_at}}</td>
                <td><a href='/manage/order_detail/{{order_number}}' target='_blank' class='btn btn-default'>檢視</a></td>
                <td class='statusColumn'><a href='#' class='btn btn-primary status-button' data-order-number={{order_number}}>轉換</a></td>
            </tr>

            <tr class='hidden'>
                <td colspan="4">
                    <div>
                        <h3>訂購人資訊</h3>
                        <p>訂購人姓名：{{buyer_name}}</p>
                        <p>訂購人地址：{{buyer_address}}</p>
                        <p>訂購人電話：{{buyer_phone_number}}</p>
                        <h3>寄件資訊</h3>
                        <p>收貨人姓名：{{receiver_name}}</p>
                        <p>收貨人地址：{{receiver_address}}</p>
                        <p>收貨人電話：{{receiver_phone_number}}</p>
                        <h3>付款資訊</h3>
                        <p>付款金額：{{items_price}}（購物金額）+ {{shipping_price}}（運費） + ({{deduction_amount}})（抵扣額） + ({{coupon_amount}})（{{ coupon_code }}） = {{total_price}}元</p>
                        <p>付款方式：{{payment_method}}</p>
                        <h3>其他</h3>
                        <p>配送時間：{{delivery_time_label}}</p>
                        <p>發票狀態：{{receipt_to_label}}</p>
                        <p>二聯/三聯：{{uniform_invoice_type}}</p>
                        <p>發票抬頭：{{uniform_invoice_title}}</p>
                        <p>發票編號：{{uniform_invoice_number}}</p>
                        <p>log：</p>
                            {{#logs}}
                                <p>{{this}}</p>                            
                            {{/logs}}
                        <button class='btn btn-danger recalculate_order' data-id='{{id}}'>重新計算件數與金額</button>
                    </div>
                </td>
                <td colspan="4">
                </td>
            </tr>
            
            
            
            {{/items}}
        </tbody>
    </table>
</article>

<script>
(function($){
    $('.editable_shipping_number').editable('/api/buyorder/updateShippingNumber', {
         type      : 'text',
         indicator : '<img src="/admin/assets/images/loading.gif">',
    });
}(jQuery));
</script>
<style>
.editable{
    background-color: pink !important;
}
</style>
