<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="category_list" href="#!/category/list/{{type}}" style="color: white;"><i class="icon-edit icon-white"></i> {{title}}分類列表</a>
    </div>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="well" id="category_form">
        <div class="control-group">
            <label>中文名稱</label>
            <input type="text" name="tw_name" class="span2" placeholder="Chinese name" value="{{tw_name}}" />
            <p class="help-block"></p>
        </div>        
        <div class="control-group">
            <label>英文名稱</label>
            <input type="text" name="en_name" class="span2" placeholder="English name" value="{{en_name}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>排序</label>
            <input type="text" name="sort_order" class="span1" placeholder="number" value="{{sort_order}}" />
            <p class="help-block"></p>
        </div>
        <p class="help-block">*上面欄位務必填寫.</p>
        <input type="hidden" name="type" value="{{type}}">
        {{#is_edit}}
            <input type="hidden" name="id" value="{{id}}">
        {{/is_edit}}
        <button type="button" data-model="category" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}"><i class="icon-edit icon-white"></i> {{^is_edit}}建立分類{{/is_edit}}{{#is_edit}}更新分類{{/is_edit}}</button>        
        <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消更新{{/is_edit}}</button>
    </form>
</div>
</article>
