<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary search_category" data-form="#category_list_form" data-model="category" style="color: white;"><i class="icon-ok icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="category" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="category" href="#!/category/add/{{type}}" style="color: white;"><i class="icon-edit icon-white"></i> 新增分類</a>
        <a class="btn btn-danger delete_all" data-form="#category_list_form" data-model="category" style="color: white;"><i class="icon-trash icon-white"></i> 刪除分類</a>

    </div>
    <form action="#" method="post" id="category_list_form">
    <table id="category_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>英文代號</th>
                <th>中文代號</th>
                <th>順序</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="en_name" placeholder="search data" class="span2" value="{{en_name}}" /></td>
            <td><input type="text" name="tw_name" placeholder="search data" class="span2" value="{{tw_name}}" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {{#html}}
            {{&html}}
        {{/html}}
        </tbody>
    </table>
    </form>
</div>
</article>
