<tr>
    <td><input type="checkbox" name="id" value="{{id}}"></td>
    <td>{{id}}</td>
    <td>{{en_name}}</td>
    <td>{{tw_name}}</td>
    <td>{{sort_order}}</td>
    <td>
        <a class="btn btn-primary" data-model="category" data-id="{{id}}" href="#!/category/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 更新</a>&nbsp;
        <a class="btn btn-danger delete" data-model="category" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
    </td>
</tr>
