<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div class='alert alert-info'>
        點擊藍字進行編輯
    </div>
    <div class='alert alert-warning'>
        點擊欄位進行排序
    </div>
    <table id="shopping_list" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>商品編號</th>
                
                <th>會員帳號</th>

                <th>貨單編號</th>
                <th>洗衣編號</th>

                <th>商品敘述</th>
                <th>上架時間</th>
                <th>開放時間</th>
                
                <th>品牌</th>
                <th>二手販售價格</th>
                <th class='suggested_column'>建議價格</th>
                <th>上架者</th>
                <th>狀態</th>

            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td>{{product_item_number}}</td>
            
            <td>{{user_id}}</td>

            <td>{{order_number}}</td>
            <td>{{shipping_wash_id}}</td>

            <td>{{product_title}}</td>
            <td>{{add_time_tag}}</td>
            <td>{{publication_time}}</td>
            
            <td>{{product_brand}}</td>
            
            <td>{{product_sell_price}}</td>
            <td id='{{ id }}' class='edit suggested_column'>{{suggested_price}}</td>
            <td>{{added_user_id}}</td>
            <td>{{lock_status_label}}</td>

        </tr>
        {{/items}}
        </tbody>
    </table>
</div>
</article>

<script>
(function($){
        $('.edit').editable('/api/clothing/updatePrice', {
             type      : 'text',
             indicator : '<img src="/admin/assets/images/loading.gif">',
        });
        $('.branded_editable').editable('/api/clothing/updateBranded', {
             type      : 'text',
             indicator : '<img src="/admin/assets/images/loading.gif">',
        });
}(jQuery));
</script>
<style>
.suggested_column{
    color: blue;
}
.editable_column{
    color: blue;
}
</style>
