<article class="module width_full">
<div id='message-div'>
</div>
    <table class='table'>
        <tr>
            <td>
                <input type='button' class='btn btn-primary btn-large' id='edit_clothing' value='修改' />
                <input type='hidden' name="product_item_number" value="{{ item.product_item_number }}" />
            </td>
        </tr>        
        <tr>
            <td>
                <p>ID：{{ item.id }}</p>
                <p>product id：{{ item.product_id }}</p>
                <p>product item number：{{ item.product_item_number }}</p>
                <p>product_original_price：{{ item.product_original_price }}</p>
                <p>product_sell_price：{{ item.product_sell_price }}</p>
                <p>product_title：<input type='text' name="product_title" value="{{ item.product_title }}" /></p>
                <p>product_brand：<input type='text' name="product_brand" value="{{ item.product_brand }}" /></p>
                <p>product_type：{{ item.product_type }}</p>
                <p>product_comments：{{ item.product_comments }}</p>
                <p>
                    color：{{ item.color }}
                    <div class="controls item_color">
                        <input type="radio" name="r_color" value="black"> <img src="/admin/assets/images/colorbox/black.png">
                        <input type="radio" name="r_color" value="white"> <img src="/admin/assets/images/colorbox/white.png">
                        <input type="radio" name="r_color" value="gray"> <img src="/admin/assets/images/colorbox/gray.png">
                        <input type="radio" name="r_color" value="red"> <img src="/admin/assets/images/colorbox/red.png"> <br>
                        <input type="radio" name="r_color" value="green"> <img src="/admin/assets/images/colorbox/green.png">
                        <input type="radio" name="r_color" value="brown"> <img src="/admin/assets/images/colorbox/brown.png">
                        <input type="radio" name="r_color" value="blue"> <img src="/admin/assets/images/colorbox/blue.png">
                        <input type="radio" name="r_color" value="orange"> <img src="/admin/assets/images/colorbox/orange.png"> <br>
                        <input type="radio" name="r_color" value="purple"> <img src="/admin/assets/images/colorbox/purple.png">
                        <input type="radio" name="r_color" value="pink"> <img src="/admin/assets/images/colorbox/pink.png">
                        <input type="radio" name="r_color" value="yellow"> <img src="/admin/assets/images/colorbox/yellow.png">
                        <input type="radio" name="r_color" value="color"> <img src="/admin/assets/images/colorbox/color.png">
                    </div>
                </p>

                <p>season：{{ item.season }}</p>
                <p>style：
                    <input type="checkbox" value="7" name="style"> 條紋 
                    <input type="checkbox" value="5" name="style"> 幾何 
                    <input type="checkbox" value="6" name="style"> 格子 
                    <input type="checkbox" value="4" name="style"> 小碎花 
                    <input type="checkbox" value="9" name="style"> 牛仔 
                    <input type="checkbox" value="2" name="style"> 古著 
                    <input type="checkbox" value="3" name="style"> 夢幻 
                    <input type="checkbox" value="1" name="style"> 上班族 
                    <input type="checkbox" value="8" name="style"> 正式場合 
                    <input type="checkbox" value="10" name="style"> 運動風 
                    <input type="checkbox" value="11" name="style"> 休閒 
                    <input type="checkbox" value="12" name="style"> 學院 
                    <input type="checkbox" value="13" name="style"> 可愛 
                    <input type="checkbox" value="14" name="style"> 奢華 
                    <input type="checkbox" value="15" name="style"> 宴會 
                    <input type="checkbox" value="16" name="style"> 中國風
                    <input type="checkbox" value="17" name="style"> 小紳士
                    <input type="checkbox" value="18" name="style"> 小淑女
                    <input type="checkbox" value="19" name="style"> 動物紋
                    <input type="checkbox" value="20" name="style"> 印花
                    <input type="checkbox" value="21" name="style"> 個性
                    <input type="checkbox" value="22" name="style"> 民俗風
                    <input type="checkbox" value="23" name="style"> 性感
                    
                </p>
                <p>pattern：{{ item.pattern }}</p>
                <p>item_long：{{ item.item_long }}</p>
                <p>files：</p>
                
                <input type='hidden' name="files" value="{{ item.files }}" />
                <div class="control-group">
                    <div class="controls">
                        <p><input id="file_upload" type="file" name="userfile" data-type="product" /></p>
                        <p class="help-block">新增、刪除、修改順序完畢 請記得按下修改按鈕</p>
                    </div>
                    <ul class="thumbnails">
                        {{#item.pics}}
                            <li class="span2" style="text-align:center">
                                <a href="#" class="thumbnail">
                                    <img src="http://s3.getmore.cc/clothing/{{ this }}/medium.jpg" alt="">
                                </a>
                                <input type="hidden" name="banner_list[]" value="{{ this }}">
                                <button type="button" data-id="{{ this }}" class="btn btn-danger delete_file">刪除檔案</button>
                            </li>
                        {{/item.pics}}
                    </ul>
                    <input type="hidden" name="upload_file_name" value="banner_list">
                </div>
            <div class="control-group">
                <label class="control-label" style="color:red;">* 尺寸標示:</label>
                <div class="controls">
                    {{> size_table_partial}}                    
                    <hr />
                    <table class='table table-bordered'>
                        <tr>
                            <th>size type</th>
                            <th>size number</th>
                            <th>size standard</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class='size_type'></td>
                            <td class='size_number'></td>
                            <td class='size_standard'></td>
                            <td><button class='btn btn-primary add_size'>新增</button></td>
                        </tr>
                    </table>
                    
                    
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">尺寸1：</label>
                <div class="controls">
                    <p>type: <input type='text' name='size_type1' class='size_type1' value="{{ item.size_type_major }}" disabled='' /></p>
                    <p>number: <input type='text'  name='size_number1' class='size_number1' value="{{ item.size }}"  disabled='' /></p>
                    <p>standard: <input type='text'  name='size_standard1' class='size_standard1' value="{{ item.size_standard }}"  disabled='' /></p>
                    <button class='btn btn-danger size_clear1'>CLEAR</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">尺寸2：</label>
                <div class="controls">
                    <p>type: <input type='text'  name='size_type2' class='size_type2' value="{{ item.size_type_minor }}" disabled='disabled' /></p>
                    <p>number: <input type='text'  name='size_number2' class='size_number2' value="{{ item.size_number_minor }}" disabled='disabled' /></p>
                    <button class='btn btn-danger size_clear2'>CLEAR</button>
                </div>
            </div>

                <p>size_comment：<input type='text' name="size_comment" value="{{ item.size_comment }}" /></p>
                <p>
                    item_status：<input type='text' id='item_status' name="item_status" value="{{ item.item_status }}" />
                    <select id="item_status_select" class="span3">
                        <option value=''>請選擇</option>
                        <option value='全新未拆吊牌'>全新未拆吊牌</option>
                        <option value='幾近全新'>幾近全新</option>
                        <option value='狀況良好'>狀況良好</option>
                        <option value='有歲月痕跡'>有歲月痕跡</option>                        
                    </select>                                        
                </p>

                <p>material：{{ item.material }}</p>
                <p>location：{{ item.location }}</p>
                <p>measure：{{ item.measure }}</p>
                
                <div>
                  <div id="measure_pic">
                      <img src="{{ item.measure_image_path }}" id="measure_img" />
                  </div>
                  <div id='measure_column'>
                      <div class='measure_unit'><input type='text' id='measure1' value='{{ item.measures_array.[0] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure2' value='{{ item.measures_array.[1] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure3' value='{{ item.measures_array.[2] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure4' value='{{ item.measures_array.[3] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure5' value='{{ item.measures_array.[4] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure6' value='{{ item.measures_array.[5] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure7' value='{{ item.measures_array.[6] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure8' value='{{ item.measures_array.[7] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure9' value='{{ item.measures_array.[8] }}' />cm</div>
                      <div class='measure_unit'><input type='text' id='measure10' value='{{ item.measures_array.[9] }}' />cm</div>
                  </div>
                  <div style="clear: both;"></div>  
                </div>

<style>
    #measure_img{
        float: left;
    }
    #measure_column{
        float: left;
    }
    .measure_unit{
        height: 18px;
        border: 1px solid black;
        padding: 5px;
        font-size: 16px;        
    }
    .measure_unit input{
        width: 40px;
        padding: 0 10px;
    }
</style>
                <p>admin_comment：<input type='text' name="admin_comment" value="{{ item.admin_comment }}" /></p>
                <p>admin_remark：<input type='text' name="admin_remark" value="{{ item.admin_remark }}" /></p>
                
                <p id='descript_container'>descript：<button id='add_field' class='btn'>新增欄位</button><br /></p>

                <p>add_time：{{ item.add_time }}</p>
                <p>edit_time：{{ item.edit_time }}</p>
                <p>buy_order_id：{{ item.buy_order_id }}</p>
                <p>lock_status：{{ item.lock_status }}</p>
                <p>last_locked_time：{{ item.last_locked_time }}</p>
                {{#if item.can_changlock }}
                <p>publication_time：<input type='text' id='publication_time' name='publication_time' {{#if item.draft }} disabled="disabled" {{else}} value='{{ item.publication_time }}' {{/if}} /></p>
                <p>草稿：<input type='checkbox' id='draft' name='draft' {{#if item.draft }} checked="checked" {{/if}} /></p>
                {{/if}}
            </td>
        </tr>
    </table>
</article>
<script src="assets/javascript/libs/jquery/file_upload.js">
(function($){
    
}(jQuery));
</script>
