<li class="detail">
    <button type="button" class="btn btn-danger delete_link">刪除連結</button>&nbsp;{{&link}}&nbsp;
    {{#target}}<span class="label label-success">開啟新視窗</span>{{/target}}
    <input type="hidden" name="link_list[]" value="{{link}}::{{target_value}}">
</li>
