<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary edit" data-form="#config_form" data-model="config" hstyle="color: white;"><i class="icon-edit icon-white"></i> 儲存設定</a>&nbsp;
        <a class="btn btn-primary" data-model="config" href="/" style="color: white;"><i class="icon-edit icon-white"></i> 檢視首頁</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#banner" data-toggle="tab">首頁廣告</a></li>
        <li><a href="#shopping-cart" data-toggle="tab">購物車設定</a></li>
        <li><a href="#orders" data-toggle="tab">訂單設定</a></li>
    </ul>
    <form action="#" method="post" class="form-horizontal" id="config_form">
    <div class="tab-content well">
        <div class="tab-pane active" id="banner">
            <div class="control-group">
                <label class="control-label">圖片上傳:</label>
                <div class="controls">
                    <p><input id="file_upload" type="file" name="userfile" data-type="banner" /></p>
                    <p class="help-block">請選擇廣告首頁圖片</p>
                </div>
                <ul class="thumbnails">
                    {{#banner_file_list}}
                    <li class="span2" style="text-align:center">
                        <a href="#" class="thumbnail"><img src="/files/get/{{file_name}}/160/120" alt=""></a><input type="hidden" name="banner_list[]" value="{{file_id}}"><button type="button" data-id="{{file_id}}" class="btn btn-danger delete_file">刪除檔案</button>
                    </li>
                    {{/banner_file_list}}
                </ul>
                <input type="hidden" name="upload_file_name" value="banner_list">
            </div>
            <div class="control-group">
                <label class="control-label">開啟新視窗:</label>
                <div class="controls docs-input-sizes">
                    <label class="radio inline">
                        <input type="radio" name="target" value="1">是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="target" value="0" checked="true">否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">輸入新網址:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="link" class="span3" value="">&nbsp;&nbsp;<button type="button" data-form="#config_form" data-model="link" class="btn btn-primary add_link">新增</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">首頁圖片連結:</label>
                <div class="controls docs-input-sizes">
                    <ul id="link_list" class="unstyled">
                    {{#link_url_list}}
                        <li class="detail">
                            <button type="button" class="btn btn-danger delete_link">刪除連結</button>&nbsp;{{&link}}
                            {{#target}}<span class="label label-success">開啟新視窗</span>{{/target}}
                            <input type="hidden" name="link_list[]" value="{{link}}::{{target_value}}">
                        </li>
                    {{/link_url_list}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="shopping-cart">
            <div class="control-group">
                <label class="control-label">購物最低價格:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="min_price" class="span3" value="{{min_price}}">&nbsp;&nbsp;(購物滿此價格即可免運費)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">運費價格:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="transportation_charge" class="span3" value="{{transportation_charge}}">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="orders">
            <div class="control-group">
                <label class="control-label">清除訂單時間<br />(信用卡):</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="credit_card_limit_day" class="span1" value="{{credit_card_limit_day}}">&nbsp;天&nbsp;<input type="text" name="credit_card_limit_hour" class="span1" value="{{credit_card_limit_hour}}">&nbsp;時&nbsp;&nbsp;(訂單幾天後自動清除,&nbsp;0代表無限制)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">清除訂單時間<br />(Web):</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="atm_limit_day" class="span1" value="{{atm_limit_day}}">&nbsp;天&nbsp;<input type="text" name="atm_limit_hour" class="span1" value="{{atm_limit_hour}}">&nbsp;時&nbsp;&nbsp;(訂單幾天後自動清除,&nbsp;0代表無限制)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">清除訂單時間<br />(WebATM):</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="web_atm_limit_day" class="span1" value="{{web_atm_limit_day}}">&nbsp;天&nbsp;<input type="text" name="web_atm_limit_hour" class="span1" value="{{web_atm_limit_hour}}">&nbsp;時&nbsp;&nbsp;(訂單幾天後自動清除,&nbsp;0代表無限制)
                </div>
            </div>
        </div>
    </div>
    </form>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });
    $("#link_list").sortable();
}(jQuery));
</script>
<script src="assets/javascript/libs/jquery/file_upload.js">
