<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form">

      <div class="form-group">
        <label>名稱
            <input type="text" class="form-control" id="name">
        </label>
      </div>

      <div class="form-group">
        <label>序號
            <input type="text" class="form-control" id="code">
        </label>
      </div>

      <div class="form-group">
        <label>面額
            <input type="text" class="form-control" id="amount">
        </label>
      </div>

      <div class="form-group">
        <label>張數
            <input type="text" class="form-control" id="times_available">
        </label>
      </div>

      <div class="form-group">
        <label>抵扣限制
            <input type="text" class="form-control" id="minimum_charge">
        </label>
      </div>

      <div class="form-group">
        <label>使用期限
            <input type="text" class="form-control" id="expired_at">
        </label>
      </div>

      <div class="form-group">
        <label>專屬user id
            <input type="text" class="form-control" id="dedicated_user_id">
        </label>
      </div>

    </form>
    <p><button class="btn btn-primary" id='create_coupon_button'>新增</button></p>
    <hr />
    <h2>批次上傳：</h2>
    <h2><strong>名稱,序號,面額,張數,抵扣限制,使用期限,專屬id</strong></h2>
    <form id="data" method="post" enctype="multipart/form-data">
        <input name="csv" type="file" />
        <button class="btn btn-primary" id='upload_coupon_button'>上傳</button>
    </form>    

</article>
<script>
(function($){
    $('#expired_at').datetimepicker({ dateFormat: 'yy-m-d' });    
    

    
    
}(jQuery));
</script>
