<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

        <textarea class='form-control mail_content' rows='6'></textarea>
        <button class="btn btn-primary send_button">寄信</button>

</article>
<script>
(function($){
    
}(jQuery));
</script>
