<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <button class='btn btn-warning write_email'>寫信</button>
    <table class='table'>
        <tr>
            <th>寄信</th>
            <th>編號</th>
            <th>名稱</th>
            <th>序號</th>
            <th>面額</th>
            <th>發出張數</th>
            <th>已用張數</th>
            <th>抵扣限制</th>
            <th>使用期限</th>
            <th>產生日期</th>
            <th>產生者</th>
            <th>專屬user id</th>
            <th>編輯</th>
        </tr>
        {{#each coupons}}
            <tr>
                <td><input type='checkbox' name='mail_to' class='mail_to' value='{{ id }}'></td>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>{{ code }}</td>
                <td>{{ amount }}</td>
                <td>{{ times_available }}</td>
                <td>{{ times_used }}</td>
                <td>{{ minimum_charge }}</td>
                <td>{{ expired_at }}</td>
                <td>{{ created_at }}</td>
                <td>{{ creator_id }}</td>
                <td>{{ dedicated_user_id }}</td>
                <td><a class='btn btn-warning' href="/admin/#!/coupon/view/{{ id }}">編輯</a></td>
            </tr>
        {{/each}}                    
    </table>
</article>
<script>

</script>
