<li class="detail">
    <button type="button" data-id="{{id}}" class="btn btn-danger delete_product">刪除商品</button>&nbsp;<a class="btn btn-primary" href="#!/product/edit/{{id}}" style="color: #fff">檢視商品</a>&nbsp;{{title}}<input type="hidden" name="product_list[]" value="{{id}}">
</li>
