<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-warning" href="/print/output/event/user/excel?id={{id}}" target="_blank" style="color: white;"><i class="icon-download-alt icon-white"></i> 下載學員名單</a>
        <a class="btn btn-info" href="/print/output/event?id={{id}}" target="_blank" style="color: white;"><i class="icon-print icon-white"></i> 列印學員名單</a>
        <a class="btn btn-primary" href="#!/event/add" style="color: white;"><i class="icon-edit icon-white"></i> 建立活動</a>
        <a class="btn btn-primary" href="#!/event/list" style="color: white;"><i class="icon-edit icon-white"></i> 活動列表</a>
        <a class="btn btn-primary" href="#!/order/list" style="color: white;"><i class="icon-edit icon-white"></i> 訂單列表</a>
    </div>
    <form action="#" method="post" id="event_register_form" class="form-horizontal well">
    <div class="control-group">
        <label class="control-label" style="width: 100%; text-align: left">活動標題: {{title}}&nbsp;<a class="btn btn-primary" href="#!/event/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 檢視活動內容</a></label>
    </div>
    <div class="control-group">
        <label class="control-label" style="width: 100%; text-align: left">活動時間: {{event_time}}</label>
    </div>
    <div class="control-group">
        <label class="control-label" style="width: 100%; text-align: left">PM: {{username}}</label>
    </div>
    <div class="control-group">
        <label class="control-label" style="width: 100%; text-align: left">講師: {{teacher}}</label>
    </div>
    <table id="event_register" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>編號</th>
                <th>姓名</th>
                <th>手機</th>
                <th>購買人</th>
                <th>Email</th>
                <th>電話</th>
                <th>手機</th>
                <th>購買日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td>{{id}}</td>
            <td>{{user_name}}</td>
            <td>{{user_phone}}</td>
            <td>{{order_user_name}}</td>
            <td>{{email}}</td>
            <td>{{user_telephone}}</td>
            <td>{{user_mobile_phone}}</td>
            <td>{{date_time add_time}}</td>
            <td>
                <a class="btn btn-primary" href="#!/order/edit/{{order_id}}" style="color: white;"><i class="icon-edit icon-white"></i> 檢視訂單</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
