<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <button type="button" data-form="#event_form" data-model="event" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立活動{{/is_edit}}{{#is_edit}}更新活動{{/is_edit}}</button>
        {{#is_edit}}
        <a class="btn btn-warning" href="/print/output/event/user/excel?id={{id}}" target="_blank" style="color: white;"><i class="icon-download-alt icon-white"></i> 下載學員名單</a>
        <a class="btn btn-success" href="#!/event/register/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 檢視學員列表</a>
        {{/is_edit}}
        <a class="btn btn-primary" data-model="event" href="#!/event/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視活動列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#event_data" data-toggle="tab">活動資訊</a></li>
        <li><a href="#event_detail" data-toggle="tab">內容介紹</a></li>
        <li><a href="#event_price" data-toggle="tab">費用及人數</a></li>
        <li><a href="#event_product" data-toggle="tab">相關商品</a></li>
        {{#is_edit}}
        <li><a href="#event_remark" data-toggle="tab">備註</a></li>
        {{/is_edit}}
    </ul>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="form-horizontal well" id="event_form">
    <div class="tab-content">
        <div class="tab-pane active" id="event_data">
            <div class="control-group">
                <label for="select01" class="control-label">所屬大分類</label>
                <div class="controls">
                    <select id="category_id" name="category_id">
                        {{&category_option}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活動名稱:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="title" class="span3" placeholder="Please enter title" value="{{title}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活動敘述:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="description" class="span3" placeholder="Please enter  description" value="{{description}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">上架時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="up_time" name="up_time" class="span3" placeholder="Please enter up time" value="{{up_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">下架時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="down_time" name="down_time" class="span3" placeholder="Please enter down time" value="{{down_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">報名截止時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="deadline_time" name="deadline_time" class="span3" placeholder="Please enter deadline time" value="{{deadline_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活動時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="event_time" name="event_time" class="span3" placeholder="Please enter event time" value="{{event_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">PM:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="username" class="span3" placeholder="Please enter user name" value="{{username}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">講師:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="teacher" class="span3" placeholder="Please enter teacher name" value="{{teacher}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">首頁顯示:</label>
                <div class="controls docs-input-sizes">
                    <label class="radio inline">
                        <input type="radio" name="is_index" value="1" {{#if is_index}}checked="true"{{/if}}>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="is_index" value="0" {{#unless is_index}}checked="true"{{/unless}}{{^is_edit}}checked="true"{{/is_edit}}>否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否上架:</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="1" {{#if is_enabled}}checked="true"{{/if}}>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="0" {{#unless is_enabled}}checked="true"{{/unless}}{{^is_edit}}checked="true"{{/is_edit}}>否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">活動資訊:</label>
                <div class="controls docs-input-sizes">
                    <ul id="detail_list" class="unstyled">
                    {{#detail}}
                        <li class="detail">
                            <button type="button" data-model="{{model}}" class="btn btn-danger delete_detail">刪除資訊</button>&nbsp;{{&name}}:{{&value}}
                            <input type="hidden" name="{{model}}_name_list[]" value="{{name}}"><input type="hidden" name="{{model}}_value_list[]" value="{{value}}">
                        </li>
                    {{/detail}}
                    </ul>
                    <input type="text" name="detail_name" class="span2" value="">&nbsp;:&nbsp;<input type="text" name="detail_value" class="span3" value="">&nbsp;<button type="button" data-form="#product_form" data-model="detail" class="btn btn-primary add_detail">新增</button>
                </div>
            </div>
            {{#is_edit}}
                <input type="hidden" name="id" value="{{id}}">
            {{/is_edit}}
        </div>
        <div class="tab-pane" id="event_detail">
            <div class="control-group">
                <label class="control-label">活動內容:</label>
                <div class="controls">
                    <textarea class="input-xxlarge" id="content" name="content" rows="10">{{content}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">圖片上傳:</label>
                <div class="controls">
                    <p><input id="file_upload" type="file" name="userfile" data-type="event" /></p>
                    <p class="help-block">第一張是活動介紹圖片</p>
                </div>
                <ul class="thumbnails">
                    {{#image_list}}
                    <li class="span2" style="text-align:center">
                        <a href="#" class="thumbnail"><img src="/files/get/{{file_name}}/160/120" alt=""></a><input type="hidden" name="file_list[]" value="{{file_id}}"><button type="button" data-id="{{file_id}}" class="btn btn-danger delete_file">刪除檔案</button>
                    </li>
                    {{/image_list}}
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="event_price">
            <div class="control-group">
                <label class="control-label">費用:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2 event_price" type="text" size="16" name="price" placeholder="Please enter stock price" value="{{price}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">人數:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span2 event_price" type="text" size="16" name="peoples" placeholder="Please enter original price" value="{{peoples}}" /><span class="add-on">人</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">報名人數:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span2 event_price" type="text" size="16" name="participants" placeholder="Please enter sell price" value="{{participants}}" /><span class="add-on">人</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">成本:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2 event_price" type="text" size="16" name="costs" placeholder="Please enter sell price" value="{{costs}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">預估收益:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_1" value="{{number_1}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">預估毛利:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_2" value="{{number_2}}" /><span class="add-on">%</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">實際收益:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_3" value="{{number_3}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">實際毛利:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_4" value="{{number_4}}" /><span class="add-on">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="event_product">
            <div class="control-group">
                <label class="control-label">商品編號:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="product_id" class="span2" placeholder="Please enter product number" value="">
                    <a class="btn btn-primary add_product" style="color: white;"><i class="icon-pencil icon-white"></i> 新增</a>
                </div>
            </div>
            <ul id="product_list" class="ui-sortable">
                {{#product_list}}
                <li class="detail">
                    <button type="button" data-id="{{id}}" class="btn btn-danger delete_product">刪除商品</button>&nbsp;<a class="btn btn-primary" href="#!/product/edit/{{id}}" style="color: #fff">檢視商品</a>&nbsp;{{title}}<input type="hidden" name="product_list[]" value="{{id}}">
                </li>
                {{/product_list}}
            </ul>
        </div>
        {{#is_edit}}
        <div class="tab-pane" id="event_remark">
            <div class="menu menu_left">
                <a class="btn btn-primary check_all" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
                <a class="btn btn-danger delete_all_remarks" data-form="#event_form" style="color: white;"><i class="icon-trash icon-white"></i> 刪除備註</a>
            </div>
            <table id="event_remarks" class="table table-striped table-bordered table-condensed tablesorter">
                <thead>
                    <tr>
                        <th width="10">&nbsp;</th>
                        <th width="50">編號</th>
                        <th width="150">新增日期</th>
                        <th>備註內容</th>
                        <th width="100">動作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="control-group">
                <label class="control-label">輸入備註:</label>
                <div class="controls docs-input-sizes">
                    <textarea class="input-xxlarge" id="remarks" name="remarks" rows="10"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="r_id" value="{{id}}">
                <input type="hidden" name="type" value="event">
                <button type="button" data-form="#event_form" data-model="#event_remarks" class="btn btn-primary add_remarks">建立備註</button>
                <button class="btn" type="reset">重新填寫</button>
            </div>
        </div>
        {{/is_edit}}
    </div>
    </form>
</article>
<script type="text/javascript">
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });

    $("#deadline_time, #down_time, #up_time, #event_time").datetimepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-5:c+10',
        dateFormat: 'yy-mm-dd'
    });
    $("#product_list, #detail_list").sortable();
    RT.loadEditor('content');
    {{#is_edit}}
    RT.loadEditor('remarks');
    {{/is_edit}}
}(jQuery));
</script>
<script type="text/javascript" src="assets/javascript/libs/jquery/file_upload.js"></script>
