<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="group_list" href="#!/group/list" style="color: white;"><i class="icon-edit icon-white"></i> 群組列表</a>
    </div>
    <form action="#" method="post" class="well" id="group_form">
        <div class="control-group">
            <label>英文代號</label>
            <input type="text" name="name" class="span2" placeholder="Please enter group name" value="{{name}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>中文代號</label>
            <input type="text" name="description" class="span2" placeholder="Please enter group description" value="{{description}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>排序</label>
            <input type="text" name="group_order" class="span1" placeholder="number" value="{{group_order}}" />
            <p class="help-block"></p>
        </div>
        <p class="help-block">*上面欄位務必填寫.</p>
        {{#is_edit}}
            <input type="hidden" name="id" value="{{id}}">
        {{/is_edit}}
        <button type="button" data-model="group" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}"><i class="icon-edit icon-white"></i> {{^is_edit}}建立群組{{/is_edit}}{{#is_edit}}更新群組{{/is_edit}}</button>        
        <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消更新{{/is_edit}}</button>
    </form>
</div>
</article>
