<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    
    <div class="menu">
        <a class="btn btn-primary check_all" data-model="group" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="group" href="#!/group/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增群組</a>
        <a class="btn btn-danger delete_all" data-form="#group_list_form" data-model="group" style="color: white;"><i class="icon-trash icon-white"></i> 刪除群組</a>
        
    </div>
    <form action="#" method="post" id="group_list_form">
    <table id="group_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>英文代號</th>
                <th>中文代號</th>
                <th>順序</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{group_order}}</td>
            <td>
                <a class="btn btn-primary" data-model="group" data-id="{{id}}" href="#!/group/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 更新</a>&nbsp;
                <a class="btn btn-danger delete" data-model="group" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
