<li class="detail">
    <button type="button" data-model="{{model}}" class="btn btn-danger delete_detail">刪除資訊</button>&nbsp;{{&name}}:{{&value}}
    <input type="hidden" name="{{model}}_name_list[]" value="{{name}}"><input type="hidden" name="{{model}}_value_list[]" value="{{value}}">
</li>
