<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <button type="button" data-form="#order_form" data-model="order" class="btn btn-primary {{#is_edit}}edit{{/is_edit}}">更新訂單</button>
        <a class="btn btn-info" href="/print/output/order?order_id={{id}}" target="_blank" style="color: white;"><i class="icon-print icon-white"></i> 列印出貨單</a>
        <a class="btn btn-primary" data-model="order" href="#!/order/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視訂單列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#order_data" data-toggle="tab">訂購明細</a></li>
        <li><a href="#order_output" data-toggle="tab">出貨明細</a></li>
        <li><a href="#order_input" data-toggle="tab">退貨明細</a></li>
        <li><a href="#order_remark" data-toggle="tab">商品備註</a></li>
    </ul>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="form-horizontal well" id="order_form">
    <div class="tab-content">
        <div class="tab-pane active" id="order_data">
            <div class="control-group">
                <label for="select01" class="control-label">訂單狀態</label>
                <div class="controls">
                    <select id="status_id" name="status_id" style="width: 85px;">
                        {{&subject_option}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">購買人:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="user_name" class="span3" placeholder="Please enter user_name" value="{{user_name}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email:</label>
                <div class="controls docs-input-sizes">
                    <a href="#!/user/edit/{{user_id}}">{{email}}</a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">手機:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="user_mobile_phone" class="span3" placeholder="Please enter user_name" value="{{user_mobile_phone}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">電話:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="user_telephone" class="span3" placeholder="Please enter user_name" value="{{user_telephone}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">收件人:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="delivery_name" class="span3" placeholder="Please enter user_name" value="{{delivery_name}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">地址:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="delivery_address" class="span3" placeholder="Please enter user_name" value="{{delivery_address}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">手機:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="delivery_mobile_phone" class="span3" placeholder="Please enter user_name" value="{{delivery_mobile_phone}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">電話:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="delivery_telephone" class="span3" placeholder="Please enter user_name" value="{{delivery_telephone}}">
                </div>
            </div>
            {{#is_edit}}
                <input type="hidden" name="id" value="{{id}}">
            {{/is_edit}}
        </div>
        <div class="tab-pane" id="order_output">
            <div class="control-group">
                <label class="control-label">出貨單號:</label>
                <div class="controls docs-input-sizes">
                    <p>{{id}}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">託運單號:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="delivery_number" class="span3" placeholder="Please enter delivery number" value="{{delivery_number}}">
                </div>
            </div>
            <table id="order_list" class="table table-striped table-bordered table-condensed tablesorter">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>貨號</th>
                        <th>商品名稱</th>
                        <th>數量</th>
                        <th>檢查</th>
                    </tr>
                </thead>
                <tbody>
                    {{#products}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{product_item_number}}</td>
                        <td><a href="#!/product/edit/{{product_id}}">{{product_title}}</a></td>
                        <td>{{product_quantity}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    {{/products}}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="order_input">
        </div>
        {{#is_edit}}
        <div class="tab-pane" id="order_remark">
            <div class="menu menu_left">
                <a class="btn btn-primary check_all" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
                <a class="btn btn-danger delete_all_remarks" data-form="#order_form" style="color: white;"><i class="icon-trash icon-white"></i> 刪除備註</a>
            </div>
            <table id="order_remarks" class="table table-striped table-bordered table-condensed tablesorter">
                <thead>
                    <tr>
                        <th width="10">&nbsp;</th>
                        <th width="50">編號</th>
                        <th width="150">新增日期</th>
                        <th>備註內容</th>
                        <th width="150">動作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="control-group">
                <label class="control-label">輸入備註:</label>
                <div class="controls docs-input-sizes">
                    <textarea class="input-xxlarge" id="remarks" name="remarks" rows="10"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="r_id" value="{{id}}">
                <input type="hidden" name="type" value="order">
                <button type="button" data-form="#order_form" data-model="#order_remarks" class="btn btn-primary add_remarks">建立備註</button>
                <button class="btn" type="reset">重新填寫</button>
            </div>
        </div>
        {{/is_edit}}
        {{&single}}
    </div>
    </form>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });
    {{#is_edit}}
    RT.loadEditor('remarks');
    {{/is_edit}}
}(jQuery));
</script>
