<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <div class="controls" style="margin: 5px 0; float: right">
            <select id="c_status_id" name="c_status_id" style="width: 130px; margin:0;"><option value="">請選擇</option></select>
            <a class="btn btn-success change_status" data-form="#order_list_form" data-model="order" style="color: white;"><i class="icon-wrench icon-white"></i> 修改狀態</a>
        </div>
        <div class="controls" style="margin: 5px 0; float: left">
            <input type="text" id="delivery_prefix" name="delivery_prefix" placeholder="貨運固定編號" style="width: 120px; margin:0;" />
            <select id="delivery_count" name="delivery_count" style="width: 75px; margin:0;">
                <option value="">請選擇</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="text" id="delivery_number" name="delivery_number" placeholder="編號初始值" style="width: 75px; margin:0;" />
            <a class="btn btn-success delivery_number" data-form="#order_list_form" data-model="order" style="color: white;"><i class="icon-wrench icon-white"></i> 批次修改貨運編號</a>
        </div>
        <div class="clear"></div>
        <a class="btn btn-warning print_product_list" data-form="#order_list_form" data-model="excel" style="color: white;"><i class="icon-download-alt icon-white"></i> 下載揀貨單</a>
        <a class="btn btn-warning print_order_list" data-form="#order_list_form" data-model="excel" style="color: white;"><i class="icon-download-alt icon-white"></i> 下載託運單</a>
        <a class="btn btn-info print_product_list" data-form="#order_list_form" data-model="html" style="color: white;"><i class="icon-print icon-white"></i> 列印揀貨單</a>
        <a class="btn btn-info print_order_list" data-form="#order_list_form" data-model="html" style="color: white;"><i class="icon-print icon-white"></i> 列印託運單</a>
        <a class="btn btn-primary search_order" data-form="#order_list_form" data-model="order" style="color: white;"><i class="icon-filter icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="order" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
    </div>
    <form action="#" method="post" id="order_list_form" target="_blank">
    <table id="order_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>訂單編號</th>
                <th>購買人</th>
                <th>購買商品</th>
                <th>消費金額</th>
                <th>狀態</th>
                <th>託運編號</th>
                <th>購買日期</th>
                <th>完成日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="s_user_name" placeholder="search data" style="width: 75px" value="{{s_user_name}}" /></td>
            <td>&nbsp;</td>
            <td><input type="text" name="s_total_price" placeholder="search data" style="width: 75px" value="{{s_total_price}}" /></td>
            <td class="is_enabled">
                <select id="s_status_id" name="s_status_id" style="width: 75px">
                    <option value="">請選擇</option>
                </select>
            </td>
            <td><input type="text" name="s_delivery_number" placeholder="search data" style="width: 75px" value="{{s_delivery_number}}" /></td>
            <td><input type="text" name="s_date_purchased" placeholder="search data" style="width: 100px" value="{{s_date_purchased}}" /></td>
            <td><input type="text" name="s_date_finished" placeholder="search data" style="width: 100px" value="{{s_date_finished}}" /></td>
            <td>&nbsp;</td>
        </tr>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{order_number}}</td>
            <td>{{user_name}}</td>
            <td>
                {{#items}}
                    <a href="#!/{{type}}/edit/{{id}}">{{title}}</a><br />
                {{/items}}
            </td>
            <td>{{total_price}}</td>
            <td class="status_text">{{order_status}}</td>
            <td>{{delivery_number}}</td>
            <td>{{date_purchased}}</td>
            <td>{{date_finished}}</td>
            <td>
                <a class="btn btn-primary" data-model="order" data-id="{{id}}" href="#!/order/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 檢視</a>
                <!--<a class="btn btn-danger delete" data-model="order" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>-->
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    <input type="hidden" name="order_id" />
    </form>
</div>
</article>

<script type="text/javascript">
(function($){
    $("input[name='s_date_purchased'], input[name='s_date_finished']").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-5:c+5',
        dateFormat: 'yy-mm-dd'
    });
}(jQuery));
</script>
