<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div class='alert alert-info'>新增一筆狀態為已到貨的訂單</div>
    <h3>將訂單建在此管理員帳號之下</h3>
    <select id='admin_list'>
    </select>
    <h3>訂單名稱（會存進"訂購人姓名"的欄位，以利識別訂單）</h3>
    <input type='text' id='buyer_name' />
        
    <p><button class='btn btn-success' id='create_physical_buyorder'>確定</button></p>
</article>
<script>

</script>
