<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div class='alert alert-info'>選擇一筆實體訂單</div>
    <select id='physical_buyorder_list'>
        {{#each orders}}
        <option value={{ order_number }}>{{ buyer_name }}</option>
        {{/each}}    
    </select>        
    <p><button class='btn btn-success' id='view_physical_buyorder'>確定</button></p>
</article>
<script>

</script>
