<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div class="well">
        <strong>訂單編號：</strong>{{ complete_order.order.order_number }}
        <strong>訂單名稱：</strong>{{ complete_order.order.buyer_name }}
        <strong>建立日期：</strong>{{ complete_order.order.shipped_at }}
    </div>
    <div class='well'>
        <p>
            <strong>商品編號</strong>
            <input type='text' id='product_item_number' />
        </p>
        <p>
            <button class='btn btn-primary' id='put_one_into_physical_buyorder_button'>確定</button>
        </p>
    </div>
    <h3>訂單內的衣服</h3>
    <ul id='clothings_in_physical_order'>
        {{#each complete_order.clothing_array}}
            <li>{{ product_title }}</li>
        {{ else }}
            <li>訂單內還沒有衣服</li>
        {{/each}}
    </ul>        
</article>
<script>

</script>
