<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="privilege_list" href="#!/privilege/list" style="color: white;"><i class="icon-edit icon-white"></i> 權限列表</a>
    </div>
    <form action="#" method="post" class="well" id="privilege_form">
        <div class="control-group">
            <label>主權限</label>
            <select name="parent_id" class="span3">
                {{#resource}}
                <option value="{{resource_id}}" data-module="{{resource_name}}">{{resource_description}}({{resource_name}})</option>
                {{/resource}}
            </select>
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>子權限</label>
            <input type="text" name="resource_name" class="span3" placeholder="Please enter privilege name" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>權限說明</label>
            <input type="text" name="resource_description" class="span3" placeholder="Please enter privilege description"/>
            <p class="help-block"></p>
        </div>
        {{#all_group}}
        <div class="control-group" style="float:left; width: 100px;">
            <label>{{description}}</label>
            <select name="action[]" class="span1">
                <option value="deny">禁止</option>
                <option value="allow">允許</option>
            </select>
            <p class="help-block"></p>
            <input type="hidden" name="group_id" value="{{id}}" />
        </div>
        {{/all_group}}
        <p class="help-block" style="clear:both">*上面欄位務必填寫.</p>
        <button type="button" data-model="privilege" class="btn btn-primary add"><i class="icon-edit icon-white"></i> 建立權限</button>        
        <button class="btn" type="reset">重新選擇</button>
    </form>
</div>
</article>
