<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <button type="button" data-form="#product_form" data-model="product" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立商品{{/is_edit}}{{#is_edit}}更新商品{{/is_edit}}</button>
        <a class="btn btn-primary" data-model="product" href="#!/product/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視商品列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#product_data" data-toggle="tab">商品資訊</a></li>
        <li><a href="#product_image" data-toggle="tab">商品圖片</a></li>
        <li><a href="#product_price" data-toggle="tab">商品價格</a></li>
        <li><a href="#product_stock" data-toggle="tab">商品庫存</a></li>
        {{#is_edit}}
        <li><a href="#product_remark" data-toggle="tab">商品備註</a></li>
        {{/is_edit}}
    </ul>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="form-horizontal well" id="product_form">
    <div class="tab-content">
        <div class="tab-pane active" id="product_data">
            <div class="control-group">
                <label for="select01" class="control-label">所屬主題</label>
                <div class="controls">
                    <select id="subject_id" name="subject_id">
                        {{&subject_option}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商品貨號:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="item_number" class="span3" placeholder="Please enter item number" value="{{item_number}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商品名稱:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="title" class="span3" placeholder="Please enter title" value="{{title}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商品敘述:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="description" class="span3" placeholder="Please enter  description" value="{{description}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商品資訊:</label>
                <div class="controls docs-input-sizes">
                    <ul id="detail_list" class="unstyled">
                    {{#detail}}
                        <li class="detail">
                            <button type="button" data-model="{{model}}" class="btn btn-danger delete_detail">刪除資訊</button>&nbsp;{{&name}}:{{&value}}
                            <input type="hidden" name="{{model}}_name_list[]" value="{{name}}"><input type="hidden" name="{{model}}_value_list[]" value="{{value}}">
                        </li>
                    {{/detail}}
                    </ul>
                    <input type="text" name="detail_name" class="span2" value="">&nbsp;:&nbsp;<input type="text" name="detail_value" class="span3" value="">&nbsp;<button type="button" data-form="#product_form" data-model="detail" class="btn btn-primary add_detail">新增</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">運送資訊:</label>
                <div class="controls docs-input-sizes">
                    <ul id="delivery_list" class="unstyled">
                    {{#delivery}}
                        <li class="detail">
                            <button type="button" data-model="{{model}}" class="btn btn-danger delete_detail">刪除資訊</button>&nbsp;{{&name}}:{{&value}}
                            <input type="hidden" name="{{model}}_name_list[]" value="{{name}}"><input type="hidden" name="{{model}}_value_list[]" value="{{value}}">
                        </li>
                    {{/delivery}}
                    </ul>
                    <input type="text" name="delivery_name" class="span2" value="">&nbsp;:&nbsp;<input type="text" name="delivery_value" class="span3" value="">&nbsp;<button type="button" data-form="#product_form" data-model="delivery" class="btn btn-primary add_detail">新增</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否上架:</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="1" {{#is_enabled}}checked="true"{{/is_enabled}}>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="0" {{^is_enabled}}checked="true"{{/is_enabled}}{{^is_edit}}checked="true"{{/is_edit}}>否
                    </label>
                </div>
            </div>
            {{#is_edit}}
                <input type="hidden" name="id" value="{{id}}">
            {{/is_edit}}
        </div>
        <div class="tab-pane" id="product_image">
            <div class="control-group">
                <label class="control-label">商品介紹:</label>
                <div class="controls">
                    <textarea class="input-xxlarge" id="information" name="information" rows="10">{{information}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">詳細資訊:</label>
                <div class="controls">
                    <textarea class="input-xxlarge" id="introduction" name="introduction" rows="10">{{introduction}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">圖片上傳:</label>
                <div class="controls">
                    <p><input id="file_upload" type="file" name="userfile" data-type="product" /></p>
                    <p class="help-block">請上傳五張商品圖片</p>
                </div>
                <ul class="thumbnails">
                    {{#image_list}}
                    <li class="span2" style="text-align:center">
                        <a href="#" class="thumbnail"><img src="/files/get/{{file_name}}/160/120" alt=""></a><input type="hidden" name="file_list[]" value="{{file_id}}"><button type="button" data-id="{{file_id}}" class="btn btn-danger delete_file">刪除檔案</button>
                    </li>
                    {{/image_list}}
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="product_price">
            <div class="control-group">
                <label class="control-label">進貨價格:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2 price" type="text" size="16" name="stock_price" placeholder="Please enter stock price" value="{{stock_price}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">定價:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2 price" type="text" size="16" name="original_price" placeholder="Please enter original price" value="{{original_price}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">售價:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2 price" type="text" size="16" name="sell_price" placeholder="Please enter sell price" value="{{sell_price}}" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">折扣:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_1" value="{{number_1}}" /><span class="add-on">%</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">毛利:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span1 disabled" disabled="" type="text" size="4" name="number_2" value="{{number_2}}" /><span class="add-on">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="product_stock">
            <div class="control-group">
                <label class="control-label">進貨量:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span2" type="text" size="16" name="stock_amount" placeholder="Please enter stock amount" value="{{stock_amount}}" /><span class="add-on">件</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">庫存量:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span2" type="text" size="16" name="inventory_amount" placeholder="Please enter inventory amount" value="{{inventory_amount}}" /><span class="add-on">件</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">退貨量:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input id="appendedInput" class="span2" type="text" size="16" name="reject_amount" placeholder="Please enter reject amount" value="{{reject_amount}}" /><span class="add-on">件</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">廠商:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="manufacturer" class="span3" placeholder="Please enter manufacturer" value="{{manufacturer}}">
                </div>
            </div>
        </div>
        {{#is_edit}}
        <div class="tab-pane" id="product_remark">
            <div class="menu menu_left">
                <a class="btn btn-primary check_all" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
                <a class="btn btn-danger delete_all_remarks" data-form="#product_form" style="color: white;"><i class="icon-trash icon-white"></i> 刪除備註</a>
            </div>
            <table id="product_remarks" class="table table-striped table-bordered table-condensed tablesorter">
                <thead>
                    <tr>
                        <th width="10">&nbsp;</th>
                        <th width="50">編號</th>
                        <th width="150">新增日期</th>
                        <th>備註內容</th>
                        <th width="150">動作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="control-group">
                <label class="control-label">輸入備註:</label>
                <div class="controls docs-input-sizes">
                    <textarea class="input-xxlarge" id="remarks" name="remarks" rows="10"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="r_id" value="{{id}}">
                <input type="hidden" name="type" value="product">
                <button type="button" data-form="#product_form" data-model="#product_remarks" class="btn btn-primary add_remarks">建立備註</button>
                <button class="btn" type="reset">重新填寫</button>
            </div>
        </div>
        {{/is_edit}}
    </div>
    </form>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });
    $("#detail_list, #delivery_list").sortable();
    RT.loadEditor('introduction');
    RT.loadEditor('information');
    {{#is_edit}}
    RT.loadEditor('remarks');
    {{/is_edit}}
}(jQuery));
</script>
<script src="assets/javascript/libs/jquery/file_upload.js">
