<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary search_product" data-form="#product_list_form" data-model="product" style="color: white;"><i class="icon-ok icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="product" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary enable_all" data-form="#product_list_form" data-model="product" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 商品上架</a>
        <a class="btn btn-primary disable_all" data-form="#product_list_form" data-model="product" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 商品下架</a>
        <a class="btn btn-primary" data-model="product" href="#!/product/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增</a>
        <a class="btn btn-danger delete_all" data-form="#product_list_form" data-model="product" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
    </div>
    <form action="#" method="post" id="product_list_form">
    <table id="user_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>主題</th>
                <th>名稱</th>
                <th>廠商</th>
                <th>上架</th>
                <th>價格</th>
                <th>庫存</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="s_subject_name" placeholder="search data" style="width: 75px" value="{{s_subject_name}}" /></td>
            <td><input type="text" name="s_title" placeholder="search data" style="width: 75px" value="{{s_title}}" /></td>
            <td><input type="text" name="s_manufacturer" placeholder="search data" style="width: 75px" value="{{s_manufacturer}}" /></td>
            <td class="is_enabled">
                <select name="s_is_enabled" style="width: 75px">
                    <option value="">請選擇</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
            <td><input type="text" name="s_stock_price" placeholder="search data" style="width: 75px" value="{{s_stock_price}}" /></td>
            <td><input type="text" name="s_inventory_amount" placeholder="search data" style="width: 75px" value="{{s_inventory_amount}}" /></td>
            <td>&nbsp;</td>
        </tr>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{subject_name}}</td>
            <td>{{title}}</td>
            <td>{{manufacturer}}</td>
            <td class="is_enabled">
                {{#if is_enabled}}
                    <span style="color:blue">是</span>
                {{else}}
                    <span style="color:red">否</span>
                {{/if}}
            </td>
            <td>{{stock_price}}</td>
            <td>{{inventory_amount}}</td>
            <td>
                <a class="btn btn-primary" data-model="product" data-id="{{id}}" href="#!/product/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 更新</a>&nbsp;
                <a class="btn btn-danger delete" data-model="product" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
