    <td><input type="checkbox" name="id" value="{{id}}"></td>
    <td>{{id}}</td>
    <td>{{add_time}}</td>
    <td class="remarks {{id}}">{{&remarks}}</td>
    <td width="150">
        <a class="btn btn-primary edit_remarks" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 更新</a>
        <a class="btn btn-danger delete_remarks" data-form="#user_remarks_form" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
    </td>
