<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu" style="text-align:left;">
        <form action="/reports/sellorders" method="post" target="_blank">
        申請時間:
            起<input type="text" name="begin_time" id="begin_time">訖<input type="text" name="end_time" id="end_time">    
        指定賣家: <input type="text" name="user_id">
        <input type="submit" value="送出">
        <input type="reset" value="取消">
        </form>
    </div>
</div>
<script>
    (function($){
        var datepicker_config = {
            changeMonth: true,
            dateFormat: 'yy-mm-dd',
            onClose: function(selectedDate){}
        }
        
        $("#begin_time").datepicker($.extend(datepicker_config, {
            onClose: function( selectedDate ) {
                $("#end_time").datepicker( "option", "minDate", selectedDate );
            }
        }));
        
        $("#end_time").datepicker($.extend(datepicker_config, {
            onClose: function( selectedDate ) {
                $("#begin_time").datepicker( "option", "maxDate", selectedDate );
            }
        }));
    }(jQuery));
</script>
</article>
