<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu" style="text-align:left;">
        <form action="/reports/buy_order" method="post" target="_blank">
        訂購時間:
            起<input type="text" name="begin_time" id="begin_time">訖<input type="text" name="end_time" id="end_time">
        付款方式:
            <select name="payment">
                <option value="all">全部</option>
                <option value="credit-cart">信用卡</option>
                <option value="atm">ATM</option>
                <option value="cash">現金</option>
            </select>
        指定買家: <input type="text" name="user_id">
        <input type="submit" value="送出">
        <input type="reset" value="取消">
        </form>
    </div>
</div>
<script>
    (function($){
        var datepicker_config = {
            changeMonth: true,
            dateFormat: 'yy-mm-dd',
            onClose: function(selectedDate){}
        }
        
        $("#begin_time").datepicker($.extend(datepicker_config, {
            onClose: function( selectedDate ) {
                $("#end_time").datepicker( "option", "minDate", selectedDate );
            }
        }));
        
        $("#end_time").datepicker($.extend(datepicker_config, {
            onClose: function( selectedDate ) {
                $("#begin_time").datepicker( "option", "maxDate", selectedDate );
            }
        }));
    }(jQuery));
</script>
</article>
