<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>訂單編號</th>
                <th>商品編號</th>
                <th>金額</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr>
                <td>{{id}}</td>
                <td>{{order_number}}</td>
                <td>{{item_number}}</td>
                <td>{{price}}</td>
                <td>{{created_at}}</td>
            </tr>
            {{/rows}}
        </tbody>
    </table>
</article>
