<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form">

      <div class="form-group">
        <label>ID
            <input type="text" class="form-control" id="id" value='{{ id }}' disabled='disabled'>
        </label>
      </div>


      <div class="form-group">
        <label>名稱
            <input type="text" class="form-control" id="name" value='{{ name }}'>
        </label>
      </div>

      <div class="form-group">
        <label>序號
            <input type="text" class="form-control" id="code" value='{{ code }}'>
        </label>
      </div>

      <div class="form-group">
        <label>面額
            <input type="text" class="form-control" id="amount" value='{{ amount }}'>
        </label>
      </div>

      <div class="form-group">
        <label>張數
            <input type="text" class="form-control" id="times_available" value='{{ times_available }}'>
        </label>
      </div>

      <div class="form-group">
        <label>抵扣限制
            <input type="text" class="form-control" id="minimum_charge" value='{{ minimum_charge }}'>
        </label>
      </div>

      <div class="form-group">
        <label>使用期限
            <input type="text" class="form-control" id="expired_at" value='{{ expired_at }}'>
        </label>
      </div>
    </form>
    <button class="btn btn-primary" id='update_coupon_button'>修改</button>
    <button class="btn btn-danger" id='delete_coupon_button'>刪除</button>

</article>
<script>
(function($){
    $('#expired_at').datetimepicker({ dateFormat: 'yy-m-d' });    
}(jQuery));
</script>
