<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>

    <form role="form">

      <div class="form-group">
        <label>名稱
            <input type="text" class="form-control" id="name">
        </label>
      </div>

      <div class="form-group">
        <label>序號
            <input type="text" class="form-control" id="code">
        </label>
      </div>

      <div class="form-group">
        <label>面額
            <input type="text" class="form-control" id="amount">
        </label>
      </div>

      <div class="form-group">
        <label>張數
            <input type="text" class="form-control" id="times_available">
        </label>
      </div>

      <div class="form-group">
        <label>抵扣限制
            <input type="text" class="form-control" id="minimum_charge">
        </label>
      </div>

      <div class="form-group">
        <label>使用期限
            <input type="text" class="form-control" id="expired_at">
        </label>
      </div>
      
      <div class="form-group">
        <label>專屬user id
            <input type="text" class="form-control" id="dedicated_user_id">
        </label>
      </div>
            
    </form>
    <button class="btn btn-primary" id='create_coupon_button'>新增</button>

</article>
<script>
(function($){
    $('#expired_at').datetimepicker({ dateFormat: 'yy-m-d' });    
}(jQuery));
</script>
