<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#scan" data-toggle="tab" id="tabscan">刷入編號</a></li>
        <li><a href="#measure" data-toggle="tab" id="tabmeasure">拍照</a></li>
        <li><a href="#take_picture" data-toggle="tab" id="tabtake_picture">丈量</a></li>
        <li><a href="#size" data-toggle="tab" id="tabsize">尺寸</a></li>
        <li><a href="#descript" data-toggle="tab" id="tabdescript">敘述</a></li>
        <li><a href="#check" data-toggle="tab" id="tabcheck">Check</a></li>
    </ul>
    <form action="#" method="post" class="form-horizontal" id="config_form">

    <div class="tab-content well">

        <div class="tab-pane active" id="scan">
            <div class="control-group">
                <label class="control-label">洗衣編號:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="wash_id" class="span3" value="">&nbsp;&nbsp;(掃描條碼)
                </div>
            </div>
        </div>
        <div class="tab-pane" id="measure">
	  <div class="control-group-left">
            <div class="control-group">
                <label class="control-label">洗衣編號:</label>
                <div class="controls wash_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品編號:</label>
                <div class="controls item_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品敘述:</label>
                <div class="controls item_edit_desc"></div>
            </div>
            <div class="control-group">
                <label class="control-label">品牌:</label>
                <div class="controls item_label"></div>
            </div>
            <div class="control-group">
                <label class="control-label">類別:</label>
                <div class="controls item_class"></div>
            </div>
            <div class="control-group">
                <label class="control-label">顏色:</label>
                <div class="controls item_color">
<input type="radio" name="r_color" value="black"> <img src="/admin/assets/images/colorbox/black.png">
<input type="radio" name="r_color" value="white"> <img src="/admin/assets/images/colorbox/white.png">
<input type="radio" name="r_color" value="gray"> <img src="/admin/assets/images/colorbox/gray.png">
<input type="radio" name="r_color" value="red"> <img src="/admin/assets/images/colorbox/red.png"> <br>
<input type="radio" name="r_color" value="green"> <img src="/admin/assets/images/colorbox/green.png">
<input type="radio" name="r_color" value="brown"> <img src="/admin/assets/images/colorbox/brown.png">
<input type="radio" name="r_color" value="blue"> <img src="/admin/assets/images/colorbox/blue.png">
<input type="radio" name="r_color" value="orange"> <img src="/admin/assets/images/colorbox/orange.png"> <br>
<input type="radio" name="r_color" value="purple"> <img src="/admin/assets/images/colorbox/purple.png">
<input type="radio" name="r_color" value="pink"> <img src="/admin/assets/images/colorbox/pink.png">
<input type="radio" name="r_color" value="yellow"> <img src="/admin/assets/images/colorbox/yellow.png">
<input type="radio" name="r_color" value="gold"> <img src="/admin/assets/images/colorbox/gold.png"> <br>
<input type="radio" name="r_color" value="silver"> <img src="/admin/assets/images/colorbox/silver.png">
<input type="radio" name="r_color" value="color"> <img src="/admin/assets/images/colorbox/color.png">

		</div>
            </div>
            <div class="control-group">
                <label class="control-label">季節:</label>
                <div class="controls item_season"><input type="radio" value="1" name="r_season"> 春夏 <input type="radio" value="2" name="r_season"> 秋冬 <input type="radio" value="3" name="r_season"> 無季節</div>
            </div>
            <div class="control-group">
                <label class="control-label">風格:</label>
                <div class="controls item_style"></div>
            </div>
            <div class="control-group">
                <label class="control-label">款式:</label>
                <div class="controls item_pattern"></div>
            </div>
            <div class="control-group group_long">
                <label class="control-label"><span class="text_long">褲長</span>:</label>
                <div class="controls item_long"></div>
            </div>
          </div>
	  <div class="control-group-right">
            <div class="control-group">
                <label class="control-label">圖片上傳:</label>
                <div class="controls">
                    <p><input id="file_upload" type="file" name="userfile" data-type="product" /></p>
                    <p class="help-block">請選擇衣服圖片</p>
                </div>
                <ul class="thumbnails">
                </ul>
                <input type="hidden" name="upload_file_name" value="banner_list">

            </div>
	    <div style="width: 100%; text-align: right;"><span class="btn btn_next" data-next="tabtake_picture">下一步</span></div>
          </div>
        </div>
        <div class="tab-pane" id="take_picture">
          <div class="control-group-left">
            <div class="control-group">
                <label class="control-label">洗衣編號:</label>
                <div class="controls wash_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品編號:</label>
                <div class="controls item_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品敘述:</label>
                <div class="controls item_desc"></div>
            </div>
            <div class="control-group">
                <label class="control-label">品牌:</label>
                <div class="controls item_label"></div>
            </div>
            <div class="control-group">
                <label class="control-label">類別:</label>
                <div class="controls item_class"></div>
            </div>
            <div class="control-group">
                <label class="control-label">顏色:</label>
                <div class="controls item_color_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">季節:</label>
                <div class="controls item_season_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">風格:</label>
                <div class="controls item_style_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">款式:</label>
                <div class="controls item_pattern_set"></div>
            </div>
            <div class="control-group group_long">
                <label class="control-label"><span class="text_long">褲長</span>:</label>
                <div class="controls item_long_set"></div>
            </div>
          </div>
          <div class="control-group-right">
            <div class="control-group">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="measure_table">
		  <tr>
		    <td rowspan="10" align="right"><img src="" id="measure_img" /></td>
		    <td><div class="input-prepend input-append"><input type="text" id="measure1" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure2" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure3" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure4" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure5" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure6" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure7" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure8" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure9" /><span class="add-on">cm</span></div></td>
		  </tr>
		  <tr>
		    <td><div class="input-prepend input-append"><input type="text" id="measure10" /><span class="add-on">cm</span></div></td>
		  </tr>
		</table>
            </div>
	    <div style="width: 100%; text-align: right;"><span class="btn btn_next" data-next="tabsize">下一步</span></div>
          </div>
	  <div style="text-align:right;">
		<!--a style="color: white;" href="#descript" class="btn btn-primary"><i class="icon-edit icon-white"></i> 下一步</a-->
          </div>
        </div>
        <div class="tab-pane" id="size">
          <div class="control-group-left">

              <div class="control-group">
                {{> size_table_partial}}
              </div>


          </div>

          <div class="control-group-right">

            <div class="control-group">

                <label class="control-label">尺寸1：</label>
                <div class="controls">
                <table class='table table-bordered'>
                    <tr>
                        <th>size type</th>
                        <th>size number</th>
                        <th>size standard</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class='size_type'></td>
                        <td class='size_number'></td>
                        <td class='size_standard'></td>
                        <td><button class='btn btn-primary add_size'>新增</button></td>
                    </tr>
                </table>

                    <p>type: <input type='text' name='size_type1' class='size_type1' disabled='' /></p>
                    <p>number: <input type='text'  name='size_number1' class='size_number1'  disabled='' /></p>
                    <p>standard: <input type='text'  name='size_standard1' class='size_standard1'  disabled='' /></p>
                    <button class='btn btn-danger size_clear1'>CLEAR</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">尺寸2：</label>
                <div class="controls">
                    <p>type: <input type='text'  name='size_type2' class='size_type2' disabled='disabled' /></p>
                    <p>number: <input type='text'  name='size_number2' class='size_number2' disabled='disabled' /></p>
                    <button class='btn btn-danger size_clear2'>CLEAR</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">尺寸備註:</label>
                <div class="controls">
                    <input type="text" id="size_comment" class="span3" placeholder="Please input">
                </div>
            </div>


	    <div style="width: 100%; text-align: right;"><span class="btn btn_next" data-next="tabdescript">下一步</span></div>
          </div>
        </div>
        <div class="tab-pane" id="descript">

          <div class="control-group-left">
            <div class="control-group">
                <label class="control-label">洗衣編號:</label>
                <div class="controls wash_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品編號:</label>
                <div class="controls item_id"></div>
            </div>
            <div class="control-group">
                <label class="control-label">商品敘述:</label>
                <div class="controls item_desc"></div>
            </div>
            <div class="control-group">
                <label class="control-label">品牌:</label>
                <div class="controls item_label"></div>
            </div>
            <div class="control-group">
                <label class="control-label">類別:</label>
                <div class="controls item_class"></div>
            </div>
            <div class="control-group">
                <label class="control-label">顏色:</label>
                <div class="controls item_color_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">季節:</label>
                <div class="controls item_season_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">風格:</label>
                <div class="controls item_style_set"></div>
            </div>
            <div class="control-group">
                <label class="control-label">款式:</label>
                <div class="controls item_pattern_set"></div>
            </div>
            <div class="control-group group_long">
                <label class="control-label"><span class="text_long">褲長</span>:</label>
                <div class="controls item_long_set"></div>
            </div>
          </div>



          <div class="control-group-right">

            <div class="control-group">
                <label class="control-label">尺寸1：</label>
                <div class="controls">
                    <p>type: <input type='text' name='size_type1' class='size_type1' disabled='' /></p>
                    <p>number: <input type='text'  name='size_number1' class='size_number1'  disabled='' /></p>
                    <p>standard: <input type='text'  name='size_standard1' class='size_standard1'  disabled='' /></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">尺寸2：</label>
                <div class="controls">
                    <p>type: <input type='text'  name='size_type2' class='size_type2' disabled='disabled' /></p>
                    <p>number: <input type='text'  name='size_number2' class='size_number2' disabled='disabled' /></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" style="color:red;">* 狀態驗收:</label>
                <div class="controls">
                    <!-- <input type="text" id="item_status" class="span3" placeholder="Please input"> -->
                    <select id="item_status" class="span3">
                        <option value='全新未拆吊牌'>全新未拆吊牌</option>
                        <option value='幾近全新'>幾近全新</option>
                        <option value='狀況良好'>狀況良好</option>
                        <option value='有歲月痕跡'>有歲月痕跡</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">材質:</label>
                <div class="controls">
                    <input type="text" id="item_material" class="span3" placeholder="Please input">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">產地:</label>
                <div class="controls">
                    <input type="text" id="item_location" class="span3" placeholder="Please input">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">備註:</label>
                <div class="controls">
                    <input type="text" id="item_comment" class="span3" placeholder="Please input">
                    <br>(前台不顯示)
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">點評:</label>
                <div class="controls">
                    <input type="text" id="admin_comment" class="span3" placeholder="Please input">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">備註:</label>
                <div class="controls">
                    <input type="text" id="admin_remark" class="span3" placeholder="Please input"><br/>
                    （前台會顯示）
                </div>
            </div>

            <div class="control-group">
                <div class="controls docs-input-sizes">
                    <ul id="detail_list" class="unstyled">
                    {{#detail}}
                        <li class="detail">
                            <button type="button" data-model="{{model}}" class="btn btn-danger delete_detail">刪除資訊</button>&nbsp;{{&name}}:{{&value}}
                            <input type="hidden" name="{{model}}_name_list[]" value="{{name}}"><input type="hidden" name="{{model}}_value_list[]" value="{{value}}">
                        </li>
                    {{/detail}}
                    </ul>
                    <input type="text" name="detail_name" class="span2" value="">&nbsp;:&nbsp;<input type="text" name="detail_value" class="span3" value="">&nbsp;<button type="button" data-form="#product_form" data-model="detail" class="btn btn-primary add_detail">新增</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">吊牌:</label>
                <div class="controls">
                    <input type="text" id="has_tag" class="span3" disabled><br/>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">配件:</label>
                <div class="controls">
                    <input type="text" id="has_accessory" class="span3" disabled><br/>

                </div>
            </div>




	    <div style="width: 100%; text-align: right;"><span class="btn btn_next" data-next="tabcheck">下一步</span></div>
          </div>
        </div>
        <div class="tab-pane" id="check">
            <div class="control-group preview">
            </div>
            <div class="control-group">
            <span>開放時間<input type='text' id='publication_time' name='publication_time' /></span>
            <span>草稿<input type='checkbox' id='draft' name='draft' /></span>
	    <span class="btn btn_next" data-next="tabscan">確認上架</span>
            </div>
        </div>
    </div>
    </form>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });
    $("#link_list").sortable();
    $('#publication_time').datetimepicker({ dateFormat: 'yy-m-d' });
    $('#draft').bind('change', function(e){
        if($(this).is(':checked')){
            $('#publication_time').attr('disabled', 'disabled').val("");
        }
        else {
            $('#publication_time').removeAttr('disabled');
        }
    });
}(jQuery));
</script>
<script src="assets/javascript/libs/jquery/file_upload.js">
