<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu">
        <div class="barinfo"></div>
	<a class="btn btn-primary check_all" style="color: white;display:none;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="shipping" id="change_status" href="javascript:void(0);" style="color: white;">
            <i class="icon-edit icon-white"></i>
            轉待收貨
        </a>
        <!--<a class="btn btn-danger delete_all" data-form="#shipping_list_form" data-model="shipping" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>-->
    </div>
    <form action="#" method="post" id="shipping_list_form">
    <table id="shipping_list" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th data-sort="order_number" class="trheader">貨單編號</th>
                <th data-sort="user_id" class="trheader">會員帳號</th>
                <th data-sort="user_name" class="trheader">會員姓名</th>
                <th data-sort="date_purchased" class="trheader">申請日期</th>
                <th>送洗件數</th>
                <th data-sort="total_price" class="trheader">洗衣費</th>
                <th>收貨方式</th>
                <th data-sort="date_finished" class="trheader"><span id="th_name">狀態轉換</span></th>
                {{#if washer}}
                <th data-sort="user_id" class="trheader"><span id="washer_id">送洗者</span></th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td data-id="{{id}}" class="click_td">{{order_number}}</td>
            <td>{{user_id}}</td>
            <td>{{user_name}}</td>
            <td>{{date_purchased}}</td>
            <td><span class="items_count">{{count}}</span></td>
            <td>{{total_price}}</td>
            <td>物流派收</td>
            <td>
                <a class="btn btn-primary changeStatus" data-id="{{id}}" href="javascript:void(0);" style="color: white;display:none;"><i class="icon-edit icon-white"></i> 轉驗收</a>
                <span class="td_wash_date" style="display:none;">{{date_finished}}</span>
            </td>
            <td class="washer" style="display: none;">{{ washer }}</td>
        </tr>
	<tr style="display:none;">
	    <td colspan="8" align="center">
		<section>
		<div class="left_info">
		* 收貨資訊 <span style="color: #0088CC;">(點擊文字編輯)</span><br>
		賣家姓名: <div class="edit_info" id="user_name!{{id}}">{{user_name}}</div> <br>
		賣家地址: <div class="edit_info" id="user_address!{{id}}">{{user_address}}</div> <br>
		賣家手機: <div class="edit_info" id="delivery_mobile_phone!{{id}}">{{user_mobile_phone}}</div> <br>
		* 付款資訊 <br>
		洗衣總金額: <br>
		<span class="item_washprice">{{total_price}}</span> (洗衣費) + <span class="item_transport">{{transportation_charge}}</span> (運費) + {{deduction_amount}} (抵扣額) + {{coupon_amount}} (洗衣卷：{{ coupon_code }}) <br>
		= <span class="item_totalprice">{{  final_price  }}</span> 元 <br><br>
    
      <p>發票類別：{{ uniform_invoice_type_label }}</p>
      <p>發票抬頭：{{ uniform_invoice_title }}</p>
      <p>發票統編：{{ uniform_invoice_number }}</p>
    
      <p>付款方式: {{ payment_method }}</p>
      <p>帳號後5碼: {{ last_five_number }}</p>
      <p>預計匯款時間: {{ estimated_remit_datetime }}</p>
      
      
		<br><br>
	        <a style="display:none;color: white;" href="javascript:void(0);" data-id="{{id}}" class="btn btn-danger delete_item recount_price"><i class="icon-edit icon-white"></i> 重算洗衣金額</a>
		    <div class="recount_info"></div>
<div><hr>貨單修改記錄:<hr></div>
		    <div class="log_info">{{logs}}</div>
		</div>
		<div class="items_info" data-id="{{id}}">
		<ul>
		{{#html}}
            	    {{&html}}
        	{{/html}}
		</ul>
		</div>
		</section>

	    </td>
	</tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
