  <li class="clr">
    <img src="http://s3-ap-southeast-1.amazonaws.com/pinkoi.item/1qeAaL4U/0_t.jpg">
    <p>
商品編號: {{id}} <br>
商品敘述: {{product_title}} <br>
品牌: {{product_id}} <br>
參考售價: {{product_original_price}} <br>
建議售價: {{product_sell_price}} <br>
類別: {{product_item_number}} <br>
洗衣金額: {{shipping_price}} 元 <br>
<a href="javascript:void(0);">新增備註<a>
    </p>
  </li>
