<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <form action="#" method="post" id="shopping_list_form">
    <table id="shopping_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th data-sort="product_item_number" class="trheader">商品編號</th>
                <th data-sort="shipping_wash_id" class="trheader">洗衣編號</th>
                <th data-sort="user_id" class="trheader">會員帳號</th>
                <th data-sort="date_finished" class="trheader">送洗日期</th>
                <th data-sort="order_number" class="trheader">貨單編號</th>
                <th data-sort="shipping_price" class="trheader">洗衣金額</th>
                <th data-sort="product_title" class="trheader">商品敘述</th>
                <th data-sort="product_brand" class="trheader">品牌</th>
                <th data-sort="product_type" class="trheader">類別</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td data-id="{{id}}">{{product_item_number}}</td>
            <td>{{shipping_wash_id}}</td>
            <td>{{user_id}}</td>
            <td>{{date_finished}}</td>
            <td>{{order_number}}</td>
            <td>{{shipping_price}}</td>
            <td>{{product_title}}</td>
            <td>{{product_brand}}</td>
            <td>{{product_type}}</td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
