                      <table class='table table-bordered women-size'>
                          <caption>WOMEN</caption>
                          <tr>
                              <th>Regular</th>
                              <th></th>
                              <th>XS</th>
                              <th>S</th>
                              <th>M</th>
                              <th>L</th>
                              <th>XL</th>
                          </tr>
                          <tr>
                              <td>US</td>
                              <td><button class='btn size' data-type='US' data-number='0' data-standard='XS'>0</button></td>
                              <td><button class='btn size' data-type='US' data-number='2' data-standard='XS'>2</button></td>
                              <td><button class='btn size' data-type='US' data-number='4' data-standard='S'>4</button></td>
                              <td><button class='btn size' data-type='US' data-number='6' data-standard='M'>6</button></td>
                              <td><button class='btn size' data-type='US' data-number='8' data-standard='L'>8</button></td>
                              <td><button class='btn size' data-type='US' data-number='10' data-standard='XL'>10</button></td>
                          </tr>
                          <tr>
                              <td>UK</td>
                              <td><button class='btn size' data-type='UK' data-number='4' data-standard='XS'>4</button></td>
                              <td><button class='btn size' data-type='UK' data-number='6' data-standard='XS'>6</button></td>
                              <td><button class='btn size' data-type='UK' data-number='8' data-standard='S'>8</button></td>
                              <td><button class='btn size' data-type='UK' data-number='10' data-standard='M'>10</button></td>
                              <td><button class='btn size' data-type='UK' data-number='12' data-standard='L'>12</button></td>
                              <td><button class='btn size' data-type='UK' data-number='14' data-standard='XL'>14</button></td>
                          </tr>
                          <tr>
                              <td>EU</td>
                              <td><button class='btn size' data-type='EU' data-number='32' data-standard='XS'>32</button></td>
                              <td><button class='btn size' data-type='EU' data-number='34' data-standard='XS'>34</button></td>
                              <td><button class='btn size' data-type='EU' data-number='36' data-standard='S'>36</button></td>
                              <td><button class='btn size' data-type='EU' data-number='38' data-standard='M'>38</button></td>
                              <td><button class='btn size' data-type='EU' data-number='40' data-standard='L'>40</button></td>
                              <td><button class='btn size' data-type='EU' data-number='42' data-standard='XL'>42</button></td>
                          </tr>

                          <tr>
                              <td>IT</td>
                              <td><button class='btn size' data-type='IT' data-number='34' data-standard='XS'>34</button></td>
                              <td><button class='btn size' data-type='IT' data-number='36' data-standard='XS'>36</button></td>
                              <td><button class='btn size' data-type='IT' data-number='38' data-standard='S'>38</button></td>
                              <td><button class='btn size' data-type='IT' data-number='40' data-standard='M'>40</button></td>
                              <td><button class='btn size' data-type='IT' data-number='42' data-standard='L'>42</button></td>
                              <td><button class='btn size' data-type='IT' data-number='44' data-standard='XL'>44</button></td>
                          </tr>


                          <tr>
                              <td>JP</td>
                              <td></td>
                              <td><button class='btn size' data-type='JP' data-number='0' data-standard='XS'>0</button></td>
                              <td><button class='btn size' data-type='JP' data-number='1' data-standard='S'>1</button></td>
                              <td><button class='btn size' data-type='JP' data-number='2' data-standard='M'>2</button></td>
                              <td><button class='btn size' data-type='JP' data-number='3' data-standard='L'>3</button></td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>JP</td>
                              <td><button class='btn size' data-type='JP' data-number='3' data-standard='XS'>3</button></td>
                              <td><button class='btn size' data-type='JP' data-number='5' data-standard='XS'>5</button></td>
                              <td><button class='btn size' data-type='JP' data-number='7' data-standard='S'>7</button></td>
                              <td><button class='btn size' data-type='JP' data-number='9' data-standard='M'>9</button></td>
                              <td><button class='btn size' data-type='JP' data-number='11' data-standard='L'>11</button></td>
                              <td><button class='btn size' data-type='JP' data-number='13' data-standard='XL'>13</button></td>
                          </tr>
                          <tr>
                              <td>牛仔褲</td>
                              <td><button class='btn size' data-type='' data-number='22' data-standard='XS'>22</button></td>
                              <td><button class='btn size' data-type='' data-number='23' data-standard='XS'>23</button></td>
                              <td><button class='btn size' data-type='' data-number='24' data-standard='S'>24</button><button class='btn size' data-number='25' data-standard='S'>25</button></td>
                              <td><button class='btn size' data-type='' data-number='26' data-standard='M'>26</button><button class='btn size' data-number='27' data-standard='M'>27</button></td>
                              <td><button class='btn size' data-type='' data-number='28' data-standard='L'>28</button><button class='btn size' data-number='29' data-standard='L'>29</button></td>
                              <td><button class='btn size' data-type='' data-number='30' data-standard='XL'>30</button></td>
                          </tr>
                          <tr>
                              <td>Fits</td>
                              <td></td>
                              <td><button class='btn size' data-type='Fits' data-number='XS' data-standard='XS'>XS</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='S' data-standard='S'>S</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='M' data-standard='M'>M</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='L' data-standard='L'>L</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='XL' data-standard='XL'>XL</button></td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td><button class='btn size' data-type='' data-number='XS' data-standard='XS'>XS</button></td>
                              <td><button class='btn size' data-type='' data-number='S' data-standard='S'>S</button></td>
                              <td><button class='btn size' data-type='' data-number='M' data-standard='M'>M</button></td>
                              <td><button class='btn size' data-type='' data-number='L' data-standard='L'>L</button></td>
                              <td><button class='btn size' data-type='' data-number='XL' data-standard='XL'>XL</button></td>
                          </tr>
                          <tr>
                              <th>Other</th>
                              <th colspan='6'>F</th>
                          </tr>
                          <tr>
                              <td>One Size</td>
                              <td colspan='6'><div class='btn size' data-number='one size' data-standard='one size' data-type='' style='display: block;'>One Size</div></td>
                          </tr>
                      </table>

                      <table class='table table-bordered men-size'>
                          <caption>MEN</caption>
                          <tr>
                              <th>Regular</th>
                              <th></th>
                              <th>XS</th>
                              <th>S</th>
                              <th>M</th>
                              <th>L</th>
                              <th>XL</th>
                          </tr>
                          <tr>
                              <td>US</td>
                              <td></td>
                              <td></td>
                              <td><button class='btn size' data-type='US' data-number='14½' data-standard='S'>14½</button></td>
                              <td><button class='btn size' data-type='US' data-number='15' data-standard='M'>15</button></td>
                              <td><button class='btn size' data-type='US' data-number='15½' data-standard='L'>15½</button></td>
                              <td><button class='btn size' data-type='US' data-number='16' data-standard='XL'>16</button></td>
                          </tr>
                          <tr>
                              <td>UK</td>
                              <td></td>
                              <td></td>
                              <td><button class='btn size' data-type='UK' data-number='14½' data-standard='S'>14½</button></td>
                              <td><button class='btn size' data-type='UK' data-number='15' data-standard='M'>15</button></td>
                              <td><button class='btn size' data-type='UK' data-number='15½' data-standard='L'>15½</button></td>
                              <td><button class='btn size' data-type='UK' data-number='16' data-standard='XL'>16</button></td>
                          </tr>
                          <tr>
                              <td>EU</td>
                              <td></td>
                              <td></td>
                              <td><button class='btn size' data-type='EU' data-number='37' data-standard='S'>37</button></td>
                              <td><button class='btn size' data-type='EU' data-number='38' data-standard='M'>38</button></td>
                              <td><button class='btn size' data-type='EU' data-number='39' data-standard='L'>39</button></td>
                              <td><button class='btn size' data-type='EU' data-number='40' data-standard='XL'>40</button></td>
                          </tr>

                          <tr>
                              <td>JP</td>
                              <td></td>
                              <td><button class='btn size' data-type='JP' data-number='S' data-standard='XS'>S</button></td>
                              <td><button class='btn size' data-type='JP' data-number='M' data-standard='S'>M</button></td>
                              <td><button class='btn size' data-type='JP' data-number='L' data-standard='M'>L</button></td>
                              <td><button class='btn size' data-type='JP' data-number='XL' data-standard='L'>XL</button></td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>JP</td>
                              <td><button class='btn size' data-type='JP' data-number='36' data-standard='XS'>36</button></td>
                              <td><button class='btn size' data-type='JP' data-number='37' data-standard='XS'>37</button></td>
                              <td><button class='btn size' data-type='JP' data-number='38' data-standard='S'>38</button><button class='btn size' data-number='39' data-standard='S'>39</button></td>
                              <td><button class='btn size' data-type='JP' data-number='40' data-standard='M'>40</button><button class='btn size' data-number='41' data-standard='M'>41</button></td>
                              <td><button class='btn size' data-type='JP' data-number='42' data-standard='L'>42</button><button class='btn size' data-number='43' data-standard='L'>43</button></td>
                              <td><button class='btn size' data-type='JP' data-number='44' data-standard='XL'>44</button></td>
                          </tr>
                          <tr>
                              <td>牛仔褲</td>
                              <td><button class='btn size' data-type='' data-number='28' data-standard='XS'>28</button></td>
                              <td><button class='btn size' data-type='' data-number='29' data-standard='XS'>29</button></td>
                              <td><button class='btn size' data-type='' data-number='30' data-standard='S'>30</button><button class='btn size' data-number='31' data-standard='S'>31</button></td>
                              <td><button class='btn size' data-type='' data-number='32' data-standard='M'>32</button><button class='btn size' data-number='33' data-standard='M'>33</button><button class='btn size' data-number='34' data-standard='M'>34</button></td>
                              <td><button class='btn size' data-type='' data-number='35' data-standard='L'>35</button><button class='btn size' data-number='36' data-standard='L'>36</button><button class='btn size' data-number='37' data-standard='L'>37</button></td>
                              <td><button class='btn size' data-type='' data-number='38' data-standard='XL'>38</button><button class='btn size' data-number='39' data-standard='XL'>39</button><button class='btn size' data-number='40' data-standard='XL'>40</button></td>

                          </tr>
                          <tr>
                              <td>Fits</td>
                              <td></td>
                              <td><button class='btn size' data-type='Fits' data-number='XS' data-standard='XS'>XS</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='S' data-standard='S'>S</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='M' data-standard='M'>M</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='L' data-standard='L'>L</button></td>
                              <td><button class='btn size' data-type='Fits' data-number='XL' data-standard='XL'>XL</button></td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td><button class='btn size' data-type='' data-number='XS' data-standard='XS'>XS</button></td>
                              <td><button class='btn size' data-type='' data-number='S' data-standard='S'>S</button></td>
                              <td><button class='btn size' data-type='' data-number='M' data-standard='M'>M</button></td>
                              <td><button class='btn size' data-type='' data-number='L' data-standard='L'>L</button></td>
                              <td><button class='btn size' data-type='' data-number='XL' data-standard='XL'>XL</button></td>
                          </tr>
                          <tr>
                              <th>Other</th>
                              <th colspan='6'>F</th>
                          </tr>
                          <tr>
                              <td>One Size</td>
                              <td colspan='6'><div class='btn size' data-number='one size' data-standard='one size' data-type='' style='display: block;'>One Size</div></td>
                          </tr>
                      </table>



                      <div>
                          其他尺寸種類<input type='text' class='form-control other_size_type' />
                          <br />
                          其他尺寸號碼<input type='text' class='form-control other_size_number' />
                          <br />
                          <button class='btn size' data-standard='XS'>XS</button>
                          <button class='btn size' data-standard='S'>S</button>
                          <button class='btn size' data-standard='M'>M</button>
                          <button class='btn size' data-standard='L'>L</button>
                          <button class='btn size' data-standard='XL'>XL</button>
                          <button class='btn size' data-standard='one size'>One Size</button>
                      </div>
