<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="static_url_list" href="#!/static_url/list" style="color: white;"><i class="icon-edit icon-white"></i> 靜態網頁列表</a>
    </div>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="well" id="static_url_form">
        <div class="control-group">
            <label>標題</label>
            <input type="text" name="title" class="span2" placeholder="title name" value="{{title}}" />
            <p class="help-block">* 網頁顯示標題</p>
        </div>
        <div class="control-group">
            <label>網址</label>
            <input type="text" name="url" class="span2" placeholder="Please enter URL" value="{{url}}" />
            <p class="help-block">* 最前面請勿加上 / (請能填寫英文數字及 dash[-]符號)</p>
        </div>
        <div class="control-group">
            <label>內容</label>
            <div class="controls">
                <textarea class="input-xxlarge" id="content" name="content" rows="10">{{content}}</textarea>
            </div>
        </div>
        <p class="help-block">*上面欄位務必填寫.</p>
        {{#is_edit}}
            <input type="hidden" name="id" value="{{id}}">
        {{/is_edit}}
        <button type="button" data-model="static_url" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}"><i class="icon-edit icon-white"></i> {{^is_edit}}建立靜態網頁{{/is_edit}}{{#is_edit}}更新靜態網頁{{/is_edit}}</button>
        <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消更新{{/is_edit}}</button>
    </form>
</div>
</article>
<script type="text/javascript">
(function($){
    RT.loadEditor('content');
}(jQuery));
</script>
