<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary search_static_url" data-form="#static_url_list_form" data-model="static_url" style="color: white;"><i class="icon-ok icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="static_url" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="static_url" href="#!/static_url/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增</a>
        <a class="btn btn-danger delete_all" data-form="#static_url_list_form" data-model="static_url" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
    </div>
    <form action="#" method="post" id="static_url_list_form">
    <table id="static_url_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>標題</th>
                <th>url</th>
                <th>建立時間</th>
                <th>修改時間</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="s_title" placeholder="search data" style="width: 75px" value="{{s_title}}" /></td>
            <td><input type="text" name="s_url" placeholder="search data" style="width: 75px" value="{{s_url}}" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{url}}</td>
            <td>{{date_time add_time}}</td>
            <td>{{date_time edit_time}}</td>
            <td>
                <a class="btn btn-primary" data-model="static_url" data-id="{{id}}" href="#!/static_url/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 編輯</a>&nbsp;
                <a class="btn btn-danger delete_item" data-model="static_url" data-id="{{id}}" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
