<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary search_subject" data-form="#subject_list_form" data-model="subject" style="color: white;"><i class="icon-ok icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="subject" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary add_index" data-form="#subject_list_form" data-model="subject" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 加入首頁</a>
        <a class="btn btn-primary remove_index" data-form="#subject_list_form" data-model="subject" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 退出首頁</a>
        <a class="btn btn-primary enable_all" data-form="#subject_list_form" data-model="subject" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 主題上架</a>
        <a class="btn btn-primary disable_all" data-form="#subject_list_form" data-model="subject" href="#" style="color: white;"><i class="icon-edit icon-white"></i> 主題下架</a>
        <a class="btn btn-primary" data-model="subject" href="#!/subject/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增</a>
        <a class="btn btn-danger delete_all" data-form="#subject_list_form" data-model="subject" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
    </div>
    <form action="#" method="post" id="subject_list_form">
    <table id="subject_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>大分類</th>
                <th>名稱</th>
                <th>採購</th>
                <th>首頁</th>
                <th>上架</th>
                <th>上架時間</th>
                <th>下架時間</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="s_category_name" placeholder="search data" style="width: 75px" value="{{s_category_name}}" /></td>
            <td><input type="text" name="s_title" placeholder="search data" style="width: 75px" value="{{s_title}}" /></td>
            <td><input type="text" name="s_username" placeholder="search data" style="width: 75px" value="{{s_username}}" /></td>
            <td class="is_index">
                <select name="s_is_index" style="width: 75px">
                    <option value="">請選擇</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
            <td class="is_enabled">
                <select name="s_is_enabled" style="width: 75px">
                    <option value="">請選擇</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{category_name}}</td>
            <td>{{title}}</td>
            <td>{{username}}</td>
            <td class="is_index">
                {{#if is_index}}
                    <span style="color:blue">是</span>
                {{else}}
                    <span style="color:red">否</span>
                {{/if}}
            </td>
            <td class="is_enabled">
                {{#if is_enabled}}
                    <span style="color:blue">是</span>
                {{else}}
                    <span style="color:red">否</span>
                {{/if}}
            </td>
            <td>{{up_time}}</td>
            <td>{{down_time}}</td>
            <td>
                <a class="btn btn-primary" data-model="subject" data-id="{{id}}" href="#!/subject/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 更新</a>&nbsp;
                <a class="btn btn-danger delete" data-model="subject" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
