<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <button type="button" data-form="#subject_form" data-model="subject" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立主題{{/is_edit}}{{#is_edit}}更新主題{{/is_edit}}</button>
        <a class="btn btn-primary" data-model="subject" href="#!/subject/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視主題列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#subject_data" data-toggle="tab">主題資訊</a></li>
        <li><a href="#subject_image" data-toggle="tab">圖片上傳</a></li>
    </ul>
    {{#is_edit}}
    <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
    {{/is_edit}}
    <form action="#" method="post" class="form-horizontal well" id="subject_form">
    <div class="tab-content">
        <div class="tab-pane active" id="subject_data">
            <div class="control-group">
                <label for="select01" class="control-label">所屬分類</label>
                <div class="controls">
                    <select id="category_id" name="category_id">
                        {{&category_option}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">主題名稱:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="title" class="span3" placeholder="Please enter title" value="{{title}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">主題敘述:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="description" class="span3" placeholder="Please enter  description" value="{{description}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">定價:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input type="text" id="appendedPrependedInput" class="span2" size="16" name="fix_price" placeholder="Please enter fix price" value="{{fix_price}}"><span class="add-on">UP</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">售價:</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span><input id="appendedInput" class="span2" type="text" size="16" name="sell_price" placeholder="Please enter sell price" value="{{sell_price}}" /><span class="add-on">UP</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">上架時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="up_time" name="up_time" class="span3" placeholder="Please enter up time" value="{{up_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">下架時間:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" id="down_time" name="down_time" class="span3" placeholder="Please enter down time" value="{{down_time}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">採購人員:</label>
                <div class="controls docs-input-sizes">
                    <input type="text" name="username" class="span3" placeholder="Please enter user name" value="{{username}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">首頁顯示:</label>
                <div class="controls docs-input-sizes">
                    <label class="radio inline">
                        <input type="radio" name="is_index" value="1" {{#if is_index}}checked{{/if}}>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="is_index" value="0" {{#unless is_index}}checked{{/unless}}>否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否上架:</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="1" {{#if is_enabled}}checked{{/if}}>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="is_enabled" value="0" {{#unless is_enabled}}checked{{/unless}}>否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">主題內容:</label>
                <div class="controls">
                    <textarea class="input-xxlarge" id="content" name="content" rows="10">{{content}}</textarea>
                </div>
            </div>
            {{#is_edit}}
                <input type="hidden" name="id" value="{{id}}">
            {{/is_edit}}
        </div>
        <div class="tab-pane" id="subject_image">
            <div class="control-group">
                <label class="control-label">圖片上傳:</label>
                <div class="controls">
                    <p><input id="file_upload" type="file" name="userfile" data-type="subject" /></p>
                    <p class="help-block">第一張為主題圖片</p>
                    <p class="help-block">第二張為說明圖片</p>
                </div>
                <ul class="thumbnails">
                    {{#image_list}}
                    <li class="span2" style="text-align:center">
                        <a href="#" class="thumbnail"><img src="/files/get/{{file_name}}/160/120" alt=""></a><input type="hidden" name="file_list[]" value="{{file_id}}"><button type="button" data-id="{{file_id}}" class="btn btn-danger delete_file">刪除檔案</button>
                    </li>
                    {{/image_list}}
                </ul>
            </div>
        </div>
    </div>
    </form>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });

    $("#down_time, #up_time").datetimepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-5:c+10',
        dateFormat: 'yy-mm-dd'
    });
    RT.loadEditor('content');
}(jQuery));
</script>
<script src="assets/javascript/libs/jquery/file_upload.js">
