<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div>
        <div>
            <h2>新增推薦商品</h2>
            <p>
                商品編號：<input type="text" id="product_item_number" />
                <button class="btn" id="submit_product_item_number">確定</button>
            </p>
        </div>
        <hr />
        <button class="btn" id="update_suggested_sequence">更新順序</button>
        <hr />
        <div>
            <ul id="sortable">
            {{#items}}
              <li class="ui-state-default" data-id='{{ suggested_id }}'>
                  {{ product_title }}
                  <img style='height: 100px;' src='{{ picture_url }}'>
                  <button class='btn btn-danger delete-suggested-item'>DELETE</button>
              </li>
            {{/items}}

            </ul>
        </div>
    </div>

</div>
</article>
 <style>

  </style>
  <script>
      (function($){
          $( "#sortable" ).sortable();
      }(jQuery));
  </script>
