<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <h2>買衣服免運費促銷</h2>
    <p>
        目前狀態：
        {{#if free_shipping}}
            開啟
        {{else}}
            關閉
        {{/if}}
    </p>
    <select id='free_shipping'>
            {{#if free_shipping}}
        <option value='0'>關閉促銷</option>
        {{else}}
            <option value='1'>開啟促銷</option>
        {{/if}}
    </select>
    <button class='btn btn-primary' id='submit_btn'>確定</button>

    <h2>首頁BANNER</h2>
    <div id='create-demo-modal' class='alert alert-info'>
        <form action='/restful/banner/file/banner' method='POST' enctype="multipart/form-data">
            <strong>選擇圖片</strong>
            <input id='demo_upload_photo' type='file' name='userfile' />
            <strong>連結網址</strong>
            <input type='text' name='href' id='href' class='form-control' />
            <strong>開新分頁</strong>
            <input type='checkbox' name='open_in_new_tab' id='open_in_new_tab' value='1' class='form-control' />
            <input type='submit' class='btn btn-primary' value='新增BANNER' />                
        </form>
    </div>
    <p>
        修改完順序，請按此鈕。
    </p>
    <p>
        <button class='btn btn-success' id='update_order'>確定更新順序</button>
    </p>

    <ul id="sortable">
    {{#banners}}
          <li class="ui-state-default" data-id='{{ this.id }}'>
                <img style="width: 160px;" src="{{ this.image_url }}" alt="">
                <input type='text' class='form-control' value='{{ this.href }}' disabled='disabled' />
                {{#if this.open_in_new_tab}}
                    <span class="label label-info">開新分頁</span>
                {{/if}}
                <button type="button" data-id="{{ this.id }}" class="btn btn-danger delete_file">刪除檔案</button>
            </li>
    {{/banners}}    
    </ul>

    
</div>
</article>

<script>
(function($){

    $( "#sortable" ).sortable();

    $('#submit_btn').click(function(){
        var result = confirm('您確定要更改運費促銷設定？');
        if (!result){
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "/api/sys_config/setFreeShipping?format=json",
            dataType: 'json',
            data: { free_shipping: $('#free_shipping').val() },
            success: function(res){

            },
            error: function(res){
                alert("failed, please try again");
            },
            complete: function(res){
                window.location.reload();
            }
        });      
    });

        // initialize the jquery form plugin for sending ajax with input file
        jQuery('#create-demo-modal form').ajaxForm(function(res) {
            var file_id = $.parseJSON(res);
            var href = $('#href').val();
            var open_in_new_tab = $("#open_in_new_tab").attr("checked") ? 1 : 0;;
            
            var params = { file_id: file_id, href: href, open_in_new_tab: open_in_new_tab };

            $.ajax({
                type: 'POST',
                url: "/api/sys_config/addBanner?format=json",
                dataType: 'json',
                data: params,
                success: function(res){
                    location.reload();
                },
                error: function(res){
                    alert("failed, please try again");
                },
                complete: function(res){
                    RT.dialogs.loading('close');
                }
            });    

        });
        
        $('.delete_file').click(function(){
            var result = confirm('您確定要刪除？');
            if (!result){
                return false;
            }
        
            var banner_id = $(this).data('id'),
                  banner_image_id = parseInt($(this).siblings('img').attr('src').match(/\d+.jpg$/)[0]);
            
            var params = { banner_id: banner_id,banner_image_id: banner_image_id  };
            
            $.ajax({
                type: 'POST',
                url: "/api/sys_config/deleteBanner?format=json",
                dataType: 'json',
                data: params,
                success: function(res){
                    location.reload();
                },
                error: function(res){
                    alert("failed, please try again");
                },
                complete: function(res){
                    RT.dialogs.loading('close');
                }
            });    
        
        });

        $('#update_order').click(function(){
            var sortedIDs = $( "#sortable" ).sortable( "toArray" , { attribute: 'data-id' });
            var self = this;
            var data = { 'sequences': JSON.stringify(sortedIDs) };
            console.log(data);
            
            $.ajax({
                url: '/api/sys_config/set_banner_order?format=json',
                type: 'POST',
                dataType: 'json',
                data: data,
                beforeSend: function(jqXHR, settings) {
                    RT.dialogs.loading('open');
                },
                success: function(response) {
                    alert('success');
                    RT.dialogs.loading('close');
                },
                error: function(){
                    alert('失敗');
                    RT.dialogs.loading('close');
                }
            });
            
        });

}(jQuery));

    function post_to_url(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }  
</script>

