<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu">
        <button type="button" data-model="user" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立帳號{{/is_edit}}{{#is_edit}}更新帳號{{/is_edit}}</button>
        <a class="btn btn-primary" data-model="user" href="#!/user/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視帳號列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#user_profile" data-toggle="tab">會員資料</a></li>
        {{#is_edit}}
        <li><a href="#user_transaction" data-toggle="tab">交易紀錄</a></li>
        <li><a href="#user_service" data-toggle="tab">客服紀錄</a></li>
        <li><a href="#user_remark" data-toggle="tab">備註</a></li>
        {{/is_edit}}
    </ul>
    <div class="tab-content">
        {{#is_edit}}
        <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>最後編輯時間 {{edit_time}}</div>
        {{/is_edit}}
        <div class="tab-pane active" id="user_profile">
            <form action="#" method="post" class="form-horizontal well" id="user_add_form">
                <div class="control-group">
                    <label class="control-label">登入帳號(email):</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" name="email" class="span3" placeholder="Please enter user email" value="{{email}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{^is_edit}}登入密碼{{/is_edit}}{{#is_edit}}修改密碼{{/is_edit}}:</label>
                    <div class="controls docs-input-sizes">
                        <input type="password" name="password" class="span3" placeholder="Please enter password">
                        <p class="help-block">{{#is_edit}}如不需要修改密碼，請留空白{{/is_edit}}</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">確認密碼:</label>
                    <div class="controls docs-input-sizes">
                        <input type="password" name="confirm_password" class="span3" placeholder="Confirm Password">
                        <p class="help-block">{{#is_edit}}如不需要修改密碼，請留空白{{/is_edit}}</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">姓名:</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" name="user_name" class="span3" placeholder="Please enter user name" value="{{user_name}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">性別:</label>
                    <div class="controls docs-input-sizes">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="1" {{#if sex}}checked="true"{{/if}}>男
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="sex" value="0" {{#unless sex}}checked="true"{{/unless}}{{^is_edit}}checked="true"{{/is_edit}}>女
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">手機:</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" name="mobile_phone" class="span3" placeholder="Please enter user mobile phone" value="{{mobile_phone}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">電話:</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" name="telephone" class="span3" placeholder="Please enter user telephone" value="{{telephone}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">通訊地址:</label>
                    <div class="controls docs-input-sizes">
                        <div id="p_address"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">收件地址:</label>
                    <div class="controls docs-input-sizes">
                        <div id="s_address"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tag:</label>
                    <div class="controls">
                        <input type="text" id="tags" name="tags" class="span3" placeholder="Please enter user tags" value="{{tags}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">生日:</label>
                    <div class="controls">
                        <input type="text" id="datepicker" name="birthday" class="span3" placeholder="Please enter user birthday" value="{{birthday}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">狀態:</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="active" value="1" {{#active}}checked="true"{{/active}}{{^is_edit}}checked="true"{{/is_edit}}/>啟用
                        </label>
                    </div>
                </div>
                {{#is_edit}}
                <div class="control-group">
                    <label class="control-label">群組:</label>
                    <div class="controls">
                        {{#all_groups}}
                        <label class="checkbox">
                            <input type="checkbox" name="user_groups" value="{{id}}" {{checkbox active}}/>{{description}}
                        </label>
                        {{/all_groups}}
                    </div>
                </div>
                <input type="hidden" name="id" value="{{id}}">
                {{/is_edit}}
            </form>
        </div>
        {{#is_edit}}
        <div class="tab-pane well" id="user_transaction">
            <p>第二階段開發</p>
        </div>
        <div class="tab-pane well" id="user_service">
            <p>第二階段開發</p>
        </div>
        <div class="tab-pane well" id="user_remark">
            <div class="menu menu_left">
                <a class="btn btn-primary check_all" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
                <a class="btn btn-danger delete_all_remarks" data-form="#user_remarks_form" style="color: white;"><i class="icon-trash icon-white"></i> 刪除備註</a>
            </div>
            <form action="#" method="post" class="form-horizontal" id="user_remarks_form">
                <table id="user_remarks" class="table table-striped table-bordered table-condensed tablesorter">
                    <thead>
                        <tr>
                            <th width="10">&nbsp;</th>
                            <th width="50">編號</th>
                            <th width="150">新增日期</th>
                            <th>備註內容</th>
                            <th width="150">動作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="control-group">
                    <label class="control-label">輸入備註:</label>
                    <div class="controls docs-input-sizes">
                        <textarea class="input-xxlarge" id="remarks" name="remarks" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="r_id" value="{{id}}">
                    <input type="hidden" name="type" value="user">
                    <button type="button" data-form="#user_remarks_form" data-model="#user_remarks" class="btn btn-primary add_remarks">建立備註</button>
                    <button class="btn" type="reset">重新填寫</button>
                </div>
            </form>
        </div>
        {{/is_edit}}
    </div>
</div>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        /*
        console.log(e);
        console.log(e.relatedTarget.hash); // previous tab
        */
        console.log(e.target.hash); // activated tab
    });

    $("#datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-60:c',
        dateFormat: 'yy-mm-dd'
    });

    $('#tags').tagsInput({
        'height':'80px',
        'width':'300px',
        'interactive':true,
        'defaultText':'輸入標籤'
    });

    $('#p_address').twzipcode({
        {{#is_edit}}
        countySel: '{{p_address_json.county}}',
        districtSel: '{{p_address_json.district}}',
        zipcodeSel: '{{p_address_json.zipcode}}',
        addressSel: '{{p_address_json.address}}',
        {{/is_edit}}
        css:['input-small', 'input-small', 'input-small']
    });

    $('#s_address').twzipcode({
        {{#is_edit}}
        countySel: '{{s_address_json.county}}',
        districtSel: '{{s_address_json.district}}',
        zipcodeSel: '{{s_address_json.zipcode}}',
        addressSel: '{{s_address_json.address}}',
        {{/is_edit}}
        css:['input-small', 'input-small', 'input-small']
    });

    {{#is_edit}}
    RT.loadEditor('remarks');
    {{/is_edit}}
}(jQuery));
</script>
