<article class="module width_full">
<div style="width:99%;margin:0 auto;">

    <div class="menu">
        <a class="btn btn-primary search_user" data-form="#user_list_form" data-model="user" style="color: white;"><i class="icon-ok icon-white"></i> 搜尋列表</a>
        <a class="btn btn-primary check_all" data-model="user" style="color: white;"><i class="icon-ok icon-white"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="user" href="#!/user/add" style="color: white;"><i class="icon-edit icon-white"></i> 新增帳號</a>
        <a class="btn btn-danger delete_all" data-form="#user_list_form" data-model="user" style="color: white;"><i class="icon-trash icon-white"></i> 刪除帳號</a>
    </div>
    <form action="#" method="post" id="user_list_form">
    <table id="user_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>姓名</th>
                <th>性別</th>
                <th>Email</th>
                <th>手機</th>
                <th>電話</th>
                <th>Tag</th>
                <th>註冊日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="text" name="user_name" placeholder="search data" class="span1" value="{{user_name}}" /></td>
            <td>
                <select name="sex" style="width: 75px">
                    <option value="">請選擇</option>
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
            </td>
            <td><input type="text" name="email" placeholder="search data" style="width: 75px" value="{{email}}" /></td>
            <td><input type="text" name="mobile_phone" placeholder="search data" style="width: 75px" value="{{mobile_phone}}" /></td>
            <td><input type="text" name="telephone" placeholder="search data" style="width: 75px" value="{{telephone}}" /></td>
            <td><input type="text" name="tags" placeholder="search data" style="width: 75px" value="{{tags}}" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{user_name}}</td>
            <td>{{#if sex}}男{{else}}女{{/if}}</td>
            <td>{{email}}</td>
            <td>{{mobile_phone}}</td>
            <td>{{telephone}}</td>
            <td>{{tags}}</td>
            <td>{{date_time created_on}}</td>
            <td>
                <a class="btn btn-primary" data-model="user" data-id="{{id}}" href="#!/user/edit/{{id}}" style="color: white;"><i class="icon-edit icon-white"></i> 更新</a>&nbsp;
                <a class="btn btn-danger delete" data-model="user" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash icon-white"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </form>
</div>
</article>
