<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <h4>顧客ID</h4>
    <input type='text' id='user_id' />
        
    <p><button class='btn btn-success' id='create_button'>確定</button></p>
</article>
