<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <div class='alert alert-info'>
        <p>訂單編號：{{ order.order_number }}</p>
        <p>顧客姓名：{{ order.buyer_name }}</p>
        <p>建立時間：{{ order.created_at }}</p>
        <p>Admin ID：{{ order.admin_id }}</p>
        <p>訂單狀態：{{ order.status }}</p>
    </div>

    {{#unless order.is_paid}}
    <div class='alert alert-danger'>
        <p>
            請輸入洗衣編號：
            <input type='text' class='form-control' name='washing_id' id='washing_id' />
            <button class='btn btn-success' id='add_to_order'>加入訂單</button>
        </p>
    </div>
    {{/unless}}
    
    
    <table class='table table-bordered table-hover'>
        <tr>
            <th>洗衣編號</th>
            <th>商品編號</th>
            <th>商品名稱</th>
            <th>售價</th>        
            <th>狀態</th>        
            <th>檢視商品</th>        
            <th>取消訂購</th>        
        </tr>
        {{#clothings}}
        <tr>
            <td>{{ shipping_wash_id }}</td>
            <td>{{ product_item_number }}</td>
            <td>{{ product_title }}</td>
            <td>{{ product_sell_price }}</td>
            <td>{{ lock_status }}</td>
            <td><a class='btn btn-primary' target='_blank' href='/clothing/view/{{ id }}'>檢視</a></td>
            <td>
                {{#if cancelable }}
                    <button class='btn btn-danger remove_from_order' data-id='{{ id }}'>取消</button>
                {{/if }}
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan='5'>訂單內還沒有衣服</td>
        </tr>
        {{/clothings}}
    </table>

    <h2>總件數：{{ order.items_count }}件</h2>
    <h2>總金額：{{ order.total_price }}元</h2>

    {{#unless order.is_paid}}    
    <button class='btn btn-large btn-success' id='checkout_order'>確定結帳</button>
    {{/unless}}
</article>
<script>

</script>
