<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>顧客姓名</th>
                <th>訂購日期</th>
                <th>訂購件數</th>
                <th>付款金額</th>
                <th>Admin ID</th>
                <th>訂單管理</th>
            </tr>
        </thead>
        <tbody>
            {{#orders}}
            <tr>
                <td >{{order_number}}</td>
                <td>{{buyer_name}}</td>
                <td>{{created_at}}</td>
                <td>{{items_count}}</td>
                <td>{{total_price}}</td>
                <td>{{admin_id}}</td>
                <td><a href='#!/vendor/view/{{order_number}}' class='btn btn-primary'>管理</a></td>
            </tr>
            {{/orders}}
        </tbody>
    </table>
</article>
