<article class="module width_full">
<div style="width:99%;margin:0 auto;">
    <div>
    <div class="menu" style="height:28px;">
        <div class="barinfo"></div>
    </div>
    <table class='table'>
        <tr>
            <!--<th>ID</th>-->
            <th>使用者ID</th>
            <th>戶名</th>
            <th>金額</th>
            <th>銀行名稱</th>
            <th>分行名稱</th>
            <th>銀行帳號</th>
            <th>日期</th>
        </tr>
        {{#each withdraws}}
            <tr>
                <!--<td>{{ id }}</td>-->
                <td>{{ user_id }}</td>
                <td>{{ user_name }}</td>
                <td>{{ amount }}</td>
                <td>{{ bank_name }}</td>
                <td>{{ branch_name }}</td>
                <td>{{ bank_account }}</td>
                <td>{{ created_at }}</td>
            </tr>
        {{/each}}                    
    </table>
</article>
<script>

</script>
