<tr>
    <td class="type">{{item}}</td>
    <td class="title"><a href="/{{type}}/single/{{id}}"><span>{{title}}</span></a></td>
    <td class="quantity">{{count}}</td>
    <td class="price">${{total}}</td>
    <td class="action"><button class="btn btn-danger delete-cart" data-id="{{id}}" data-type="{{type}}">移除{{item}}</button></td>
</tr>