<div class="small-article">
    <div class="small-article-title">
        <div class="buy-icon">{{category_name}}</div>
    </div>
    <div class="small-article-thing">
        {{#sold}}
        <div class="sold-out"></div>
        {{/sold}}
        <a href="/subject/single/{{id}}">
            <div class="article-img-hover"></div>
            <div class="article-img-hover-text">get<br />this</div>
            <div class="small-article-img">
                <img class="lazy" src="/assets/images/white.gif" data-original="{{image_path}}" width="258" height="198" />
            </div>
            <div class="surplus-time">{{&message}}</div>
        </a>
    </div>
    <div class="small-article-theme">
        <h3>{{title}}</h3>
        <p class="discounts">{{description}}</p>
    </div>
</div>