
<!-- Footer -->
<div id="footer">

	<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>