<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ meta_charset }}">
    <title>{{ site_title }}</title>
    
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <!-- add meta tag added by howtomakeaturn -->
    <meta property="og:site_name" content="Getmore">
    <meta property="fb:app_id" content="239678122794926">
    <meta property="og:url" content="{{ current_url() }}">
    <meta property="og:locale"  content="zh_TW" />  
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/mobile_assets/css/main.css" />
    {% block css %}
    {% endblock %}
    <!-- Scripts -->
    <script src="/assets/mobile_assets/js/jquery.min.js"></script>
    <script src="/assets/mobile_assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/mobile_assets/js/jquery.scrollzer.min.js"></script>
    <script src="/assets/mobile_assets/js/skel.min.js"></script>
    <script src="/assets/mobile_assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/mobile_assets/js/main.js"></script>
    <script async="" src="//connect.facebook.net/en_US/fbds.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/underscore-amd/underscore.js"></script>

    {% block javascript %} {% endblock %}

</head>
<body>

        {% block main %}
        {% endblock %}


<script>
$(function(){   
    var cubuk_seviye = $(document).scrollTop();
    var header_yuksekligi = $('.yapiskan').outerHeight();

    $(window).scroll(function() {
        var kaydirma_cubugu = $(document).scrollTop();

        if (kaydirma_cubugu > header_yuksekligi){$('.yapiskan').addClass('gizle');} 
        else {$('.yapiskan').removeClass('gizle');}

        if (kaydirma_cubugu > cubuk_seviye){$('.yapiskan').removeClass('sabit');} 
        else {$('.yapiskan').addClass('sabit');}                

        cubuk_seviye = $(document).scrollTop(); 
     });
});
</script>
</body>
</html>
