<style>
#nav ul li a {
   // padding: 0em 1.5em 0em 1.5em;	
}
</style>
		<!-- Header -->
			<div id="header">
				<div class="top">
						{#
					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="/assets/images/mobile_images/avatar.jpg" alt="" /></span>
							<h1 id="title">Jane Doe</h1>
							<p>Hyperspace Engineer</p>
						</div>
						#}
					<!-- Nav -->
						<nav id="nav" style="margin-top:20px;">
							<ul>
								<center><h1>時尚小圈圈，把時尚圈起來&nbsp;</h1></center>
								<hr>
								<li><a href="#top" ><span class="icon fa-home">首頁</span></a></li>
								<li><a href="#portfolio"><span class="icon fa-hashtag">熱門主題</span></a></li>
								<li><a href="#portfolio"><span class="icon fa-th">所有分類</span></a></li>
								<hr / style="border-top: solid 1px #333;margin-top:10px;matgin-bottom:10px;">
								<li><a href="#about"><span class="icon fa-hand-o-right">原創設計</span></a></li>
								<li><a href="#contact"><span class="icon fa-hand-o-right">買手時尚</span></a></li>
								<div style="width:100%;padding:10px;">
									<div class="input-group">
								      	<input type="text" class="form-control search" placeholder="找原創、買手時尚..." style="letter-spacing:0px;height: 30px;border-radius:0px;background-color: #000;">
									      <span class="input-group-btn" style="height:30px;">
									        <button class="btn btn-default search" type="button" style="padding:4px 12px;vertical-align:top;background-color: #000;color:#555;"><i class="fa fa-search"></i></button>
									      </span>
								    </div><!-- /input-group -->
								</div>
								<hr / style="border-top: solid 1px #333;margin-top:10px;matgin-bottom:10px;">
								<li><a href="#contact"><span class="icon fa-hand-o-right">二手時尚</span></a></li>
								<div style="width:100%;padding:10px;">
									<div class="input-group">
								      	<input type="text" class="form-control search" placeholder="找品牌二手商品..." style="letter-spacing:0px;height: 30px;border-radius:0px;background-color: #000;">
									      <span class="input-group-btn" style="height:30px;">
									        <button class="btn btn-default search" type="button" style="padding:4px 12px;vertical-align:top;background-color: #000;color:#555;"><i class="fa fa-search"></i></button>
									      </span>
								    </div><!-- /input-group -->
								 </div>
								<hr / style="border-top: solid 1px #333;margin-top:10px;matgin-bottom:10px;">
								<li><a href="#top" ><span class="icon fa-heart">我的欲望清單</span></a></li>
								<li><a href="#portfolio"><span class="icon fa-list">我的購買訂單</span></a></li>
								<hr / style="border-top: solid 1px #333;margin-top:10px;matgin-bottom:10px;">
								<li><a href="#portfolio"><span class="icon fa-smile-o">關於 Getmore</span></a></li>
								<li><a href="#about"><span class="icon fa-envelope">聯絡我們</span></a></li>
								<li><a href="#contact"><span class="icon fa-desktop">全功能網站</span></a></li>
								
								</ul>
						</nav>
				</div>

					{% include 'template/mobile/bottom.html.twig' %}

			</div>