<div class="yapiskan">
	<div style="padding:10px 10px 0 10px;background-color:#bbb;height:60px;overflow:hidden;text-align:center;">
		<span style="font-size:24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src='/assets/images/logos/logogray.png' style="width:100px;">
		<div style="float:right;color:#FFF;margin-top:8px;margin-right:10px;">
			<div style="display: inline-block;font-size:22px;margin-right:15px;">
				<i class="fa fa-shopping-cart fa-lg"></i>
			</div>
			<div style="display: inline-block;font-size:22px;">
				<i class="fa fa-user fa-lg"></i>
			</div>
		</div>
	</div>
</div>
<div style="padding-bottom:60px;"></div>
