{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="//unslider.com/unslider.min.js"></script>
  {% endblock %}

{% block boxmenu %}
  {% if designers and brands %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
  {% elseif designers %}
     <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
  {% else %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
  {% endif %}
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% if designers and brands %}
  {% include '/dropdownnav/general_nav.twig' with {type: type} %}
{% elseif designers %}
    {% include '/dropdownnav/dsner_nav.twig' %}
{% else %}
    {% include '/dropdownnav/brandsonly_nav.twig' %}    
{% endif %}

</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}

<div style="margin-top: 30px">
  {% if designers %}
  <div style="overflow: auto;margin-bottom:50px;">
    <span class="fresh-title" id='type2'>設計師 DESIGNERS</span><br><br>
      {% for index, designer in designers %}
      <div style="float: left; width: 313px; height: 44.7px; overflow: hidden; margin: 10px 10px 10px 10px">
        <a href="/shop/designer/{{ designer.url_code }}" target="_blank">
          <img src="http://s3.getmore.cc/designer/profile/{{ designer.profile_photo_file_id }}/medium.jpg" alt="" style="width: 313px">
        </a>
      </div>
      {% endfor %}
  </div>
  {% endif %}
  {% if brands %}
  <div>
    <span class="fresh-title" id='type2'>
      品牌列表 Brand List of Vintage Clothing
    </span><br><br>
    <table class="table borderless">
        <tr>
          {% set categories = ["國際名品", "概念服裝", "時尚成衣", "流行女裝"] %}
          {% for index,category in categories %}
            {% if brands[index + 1] | length > 0 %}
              <td>
                <h4>{{ category }}</h4>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          {% for index, category in categories %}
            {% if brands[index + 1] | length > 0 %}
               <td>
                <ul class="list-unstyled">
                  {% for brand in brands[index + 1] %}
                    <li><a href="/clothing/newcate#?page=1&keyword={{ brand.name }}" target="blank">{{ brand.name }}</a></li>
                  {% endfor %}
                </ul>
            </td>
            {% endif %}
          {% endfor %}
        </tr>
        {% set categories = ["潮流服飾", "牛仔丹寧", "Select Shop", "運動休閒"] %}
        <tr>
          {% for index, category in categories %}
              {% if brands[index + 5] | length > 0 %}
              <td>
                <h4>{{ category }}</h4>
              </td>
              {% endif %}
          {% endfor %}
        </tr>
        <tr>
            {% for index, category in categories %}
            {% if brands[index + 5] | length > 0 %}
               <td>
                <ul class="list-unstyled">
                  {% for brand in brands[index + 5] %}
                    <li><a href="/clothing/newcate#?page=1&keyword={{ brand.name }}" target="blank">{{ brand.name }}</a></li>
                  {% endfor %}
                </ul>
            </td>
            {% endif %}
          {% endfor %}
        </tr>
    </table>
  </div>
  {% endif %}
</div>
<style>
.overbanner{
    width: 980px;
}
.overbannerbox{
    margin: 10px 0px 20px 0px;
    width: 980px;
}
.checkbrands{
    font-size: 40px !important;
    color: red;
    margin-left: 30px;
}
span.twitter-typeahead {
    display: inline !important;
}
</style>

{% endblock %}
