{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
  <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
  <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <meta property="og:title" content="{{ clothing.product_brand }} -  {{ clothing['product_title'] }} | Getmore 時尚二手"/>
    <meta property="og:description" content="尺寸：{{ clothing['size_type_major'] }} - {{ clothing['size'] }}【商品說明】{{ clothing['admin_comment'] }} |每件商品只有一件，獨一無二。| Getmore 新銳設計與二手時尚線上市集" />
    <meta property="og:image" content="{{ clothing['files'][0]|s3_url('large') }}" />
{% endblock %}

{% block javascript %}
  <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
{% endblock %}

{% block boxmenu %}
    {% include '/dropdownnav/bonly_boxmenu.twig' %}
{% endblock %}


{% block searchbox%}
    {% include '/searchbox/brandsonly_product_search.twig' %}   
{% endblock %}


{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
{% include '/dropdownnav/brandsonly_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}
{% block main %}
<!-- view -->
<div id='clothing-main'>
    {% if not no_previous %}
  <div class="go-back-next">
    <div class='go-left'>
        <a href='/clothing/brandsonly/{{ clothing['clothing_id'] }}/previous'><img src='/assets/images/productleft.png' /></a>
    </div>
    {% endif %}
    {% if not no_next %}
    <div class='go-right'>
        <a href='/clothing/brandsonly/{{ clothing['clothing_id'] }}/next'><img src='/assets/images/productright.png' /></a>
    </div>
  </div>
    {% endif %}

    <div class="product-view" >

        <div class="product-image">
            <a href='{{ clothing['files'][0]|s3_url('large') }}' class="product-main-image" title='{{ clothing['product_title'] }}' rel="gal1">
                <img src="{{ clothing['files'][0]|s3_url('medium') }}" id="product-main-image" title='{{ clothing['product_title'] }}' />
            </a>
            <div style='clear: both;'></div>
            {% for file_id in clothing['files'] %}
            <a class="product-other-image" href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '{{ file_id|s3_url('medium') }}',largeimage: '{{ file_id|s3_url('large') }}'}">
              <img src="{{ file_id|s3_url('medium') }}" />
            </a>
           {% endfor %}
            
            
            <a data-toggle="modal" href="#size-modal" class="product-size-image">
                <img src="{{ clothing['measure_img_url'] }}" />
            </a>
        </div><!-- END the left part.-->

    <div id='clothing-information'>
        
          <p class="product-breadcrumb">
            <a href="/">首頁</a>
               > 
               {% if clothing['gender'] == '1' %}
                  <a href="/clothing/newbrandsonly#?type=women">WOMEN</a>
              {% elseif clothing['gender'] == '2' %}
                  <a href="/clothing/newbrandsonly#?type=men">MEN</a>
              {% elseif clothing['gender'] == '3' %}
                  <a href="/clothing/newbrandsonly#?type=kids">KIDS</a>
              {% endif %}
              >
              <a href="{{ href }}&product_type={{ subtype }}">{{ subtype_name_mapping[subtype] }}</a>
           </p>
          <p id='clothing_json_data' class='hidden'>{{ clothing|json_encode() }}</p>
          <h2>
              {{ clothing['product_title'] }}
              {% if clothing['is_suggested'] %}
              &nbsp;&nbsp;<img class='recommendation_icon' src="/assets/images/superrecommend.png">
              {% endif %}
              <section style="width:180px;">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url() }}" target='_blank' class="new-social-share-button facebook">
                      <i class="fa fa-facebook"></i>
                  </a>
                  <a href="https://twitter.com/intent/tweet?url={{ current_url() }}&amp;text=♥{{ clothing['product_title'] }}" target='_blank' class="new-social-share-button twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a target='_blank' href="http://pinterest.com/pin/create/button/?media={{ clothing['files'][0]|s3_url('large') }}&amp;url={{ current_url() }}&amp;description=♥{{ clothing['product_title'] }}" class="new-social-share-button pinterest">
                      <i class="fa fa-pinterest"></i>
                  </a>
                  <div class='fbiframe floatright'>
                  <iframe src="//www.facebook.com/plugins/like.php?href={{ current_url() }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=239678122794926" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:21px;" allowTransparency="true"></iframe>
                  </div>
              </section>
              <!--
              <section class='social-funcs'>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url() }}" target='_blank' class="new-social-share-button facebook">
                      <i class="fa fa-facebook"></i>
                  </a>
                  <a href="https://twitter.com/intent/tweet?url={{ current_url() }}&amp;text=♥{{ clothing['product_title'] }}" target='_blank' class="new-social-share-button twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a target='_blank' href="http://pinterest.com/pin/create/button/?media={{ clothing['files'][0]|s3_url('large') }}&amp;url={{ current_url() }}&amp;description=♥{{ clothing['product_title'] }}" class="new-social-share-button pinterest">
                      <i class="fa fa-pinterest"></i>
                  </a>
                  <div class='fbiframe floatright'>
                  <iframe src="//www.facebook.com/plugins/like.php?href={{ current_url() }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=239678122794926" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:21px;" allowTransparency="true"></iframe>
                  </div>
              </section>-->
          </h2>

          <section id='highlight-section'>
              <p class='highlight-information'>
                  Size：{{ clothing['size_type_major'] }}
                  {{ clothing['size'] }}
                  {% if clothing['size_number_minor'] != '' %}
                      /
                      {{ clothing['size_type_minor'] }}
                      {{ clothing['size_number_minor'] }}
                  {% endif %}
                  {% if clothing['size_comment'] != '' %}
                      ({{ clothing['size_comment'] }})
                  {% endif %}
                  &nbsp;&nbsp;&nbsp;
                  {% if clothing['gender'] != '3' %}
                      <a data-toggle="modal" href="#sizetable-modal" class='learn-more'><img class="qmark-adjust" src='/assets/images/icon-qmark_light.png' />&nbsp;Learn more</a>
                  {% endif %}
              </p>
              <p class='highlight-information'>品牌：{{ clothing.product_brand }}</p>
          </section>
          
          <p class='product-condition'>              
              狀態驗收：{{ clothing['item_status'] }}
              <span class='item_status_comment'>{{ clothing['item_status']|get_item_status_comment }}</span>
          </p>
          {% if clothing['admin_comment'] != '' %}
              <p class='product-additional'>點評： {{ clothing['admin_comment'] }}</p>
          {% endif %}
          {% if clothing['admin_remark'] != '' %}
              <p class='product-additional'>備註： {{ clothing['admin_remark'] }}</p>
          {% endif %}
          {% for key, value in clothing['descript'] %}
              <p class='product-additional'>{{ key }}： {{ value }}</p>
          {% endfor %}
          {% for key, value in clothing['additional_fields'] %}
              <p class='product-additional'>{{ key }}： {{ value }}</p>
          {% endfor %}
          
          <section id='checkout-section'>

              <section id='checkout-prices'>
                  <h3>NT${{ clothing['product_sell_price'] }}</h3>
                  <p>參考原價：{{ clothing['product_original_price']|get_price_label }}元</p>
              </section>

              
              <section id='checkout-cart'>
                  <div>
                      {% if clothing['lock_status'] == 4 or date(clothing['publication_time']) > date() %}
                          <a class="btn product-view-buy" disabled='disabled'>準備上架中</a>
                      {% elseif clothing['lock_status'] == 3 or clothing['on_shelf'] == 0 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已下架</button>
                      {% elseif clothing['lock_status'] == 2 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已售出</button>
                      {% elseif clothing['lock_status'] == 1 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已預訂</button>
                      {% elseif clothing['lock_status'] == 0 %}
                          <button id="product-view-buy" class="btn product-view-buy">Add to Cart</button>
                      {% endif %}
                  </div>
                  
                  <div id='add_to_favorite'>
                      {% if clothing['isLike'] %}
                          <a class='liked' href='#' data-id='{{ clothing['clothing_id'] }}'>已加入欲望清單！</a>
                      {% else %}
                          <a class='to_like' href='#' data-id='{{ clothing['clothing_id'] }}'>加入我的欲望清單！</a>
                      {% endif %}

                      {% if clothing['likes_count'] %}
                          <span class="likes_count">(<em>{{ clothing['likes_count'] }}人已加入</em>)</span>
                      {% endif %}
                  </div>
                  <div id='checkoutcloset'>
                  &nbsp;&nbsp;&nbsp;<a href='/closet/tabs/{{ clothing['closet_url_code'] }}' target="_blank">看看這位賣家的衣櫃！</a>
                  </div>
              </section>
          </section>
          
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id='clothing-reminding'>
            <li class="active"><a href="#home" data-toggle="tab">商品說明</a></li>
            <li><a href="#profile" data-toggle="tab">配送方式</a></li>
            <li><a href="#returnpolicy" data-toggle="tab">退貨政策</a></li>
            <li><a href="#messages" data-toggle="tab">貼心小叮嚀</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id='other-information'>
            <div class="tab-pane active" id="home">
                <div class='row'>
                    <div class='col-md-6 clothing-reminding-detail'>
                        <strong><p>商品編號： {{ clothing['product_item_number'] }}</p>
                        <p>
                            款式：{{ pattern_name_mapping[clothing['pattern']] }}
                        </p>                
                        <p>{% if clothing['material'] != '' %} 材質：{{ clothing['material'] }} {% endif %}</p>
                        <p>{% if clothing['location'] != '' %} 產地：{{ clothing['location'] }} {% endif %}</p>
                        <p>{% if clothing['color'] != '' %} 顏色：<img src="/admin/assets/images/colorbox/{{ clothing['color'] }}.png">{% endif %}</p>
                        {% if clothing['style_names'] != '' %}
                            <p>風格：
                            {% for style_name in clothing['style_names'] %}
                                <span class="product-view-special product-style">{{ style_name }}</span>
                            {% endfor %}
                            </p>
                        {% endif %}
                        <p> 季節：{{ clothing['season']|season_label }}</p>
                        </strong>
                            <div style='clear: both;'></div>
                            <ul class='product-view-ul font-size10'>
                              <li>尺寸數據會因其布料彈性、水洗處理、測量起訖點等因素而出現些微誤差; 誤差值在±2公分內視為合理範圍。</li>
                              <li>每件商品都是在專業攝影棚拍攝，相當於陽光下採光，且在不同螢幕上可能產生色差，一律以實品顏色為準。</li>
                            </ul>
                    </div>
                    <div class='col-md-6'>
                        <div class='alert alert-info bggetmorecolor'>
                            <div class='row'>
                            <a class='pull-right' data-toggle="modal" href="#size-modal"><img src='/assets/images/icon-qmark_light.png' /></a>
                            </div>
                            <div class='row'>
                                <div class='col-md-6'>
                                    <p class='size-modal-text'>詳細尺寸</p>
                                    <br />
                                    <p class='size-modal-text'>尺寸為單面平放測量，都是Getmore仔細丈量的喔！</p>
                                </div>
                               <strong> 
                                <div class='col-md-6'>
                                    {% for key, label in measure_labels %}
                                    <p class='size-modal-text'>{{ key }}：{{ label }}cm</p>
                                    {% endfor %}
                                </div>
                              </strong>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div><!-- 商品說明 -->
            
            <div class="tab-pane" id="profile">  
                <p>品牌代售每筆訂單皆由Getmore協助賣家統一出貨，並由國內最專業的黑貓宅急便進行配送。</p>
                <ul class='font-size12 product-view-ul-p'>
                <li>配送範圍：目前配送範圍僅限台灣本島，不便之處敬請見諒。</li>
                <li>配送時間：週一至週六<br />常態的出貨時間為：今天下單，隔天出貨，後天就可以收到您訂購的衣物。
                <br/> (您可至【會員中心】—>【訂單查詢】來查看訂單處理進度喔!)</li>
                <li>運費計算：宅急便配送到府：單筆消費金額未滿千元，運費一律80元。
                 <br/>單筆消費金額1,000元以上，免運費。</li>
                 <ul>
            </div>
            <div class="tab-pane" id="returnpolicy">
                <p>「品牌代售」退貨政策<p>
                <p>品牌代售 Getmore 僅提供賣家統一出貨等服務，所有權為個人賣家所有。在收到商品後，請立刻檢查商品是否正確，如欲退貨請於 5 天內填寫<a href="http://desk.getmore.cc/knowledgebase/articles/727713-%E9%97%9C%E6%96%BC%E9%80%80%E8%B2%A8" target="_blank">退貨申請單</a> Email至客服信箱service@getmore.cc，並將保持完整的商品折疊好，妥善包裝，物流人員將與您聯繫或登門收件，電話聯絡2次或超過2日未能向您收貨視放棄退貨。來回運費由買家負擔，單趟運費以$80計算，運費將於退貨金額中扣除 。<a href="http://desk.getmore.cc/knowledgebase/articles/727713-%E9%97%9C%E6%96%BC%E9%80%80%E8%B2%A8" target="_blank">詳情</a></p>
            </div>
            <div class="tab-pane" id="messages">
                
                <p class='getmore-color'>二次時尚的生活，從擁有一件二手好衣開始 ：）</p>
                <ul class='font-size12 product-view-ul-p'>
                <li>為了避免因商品尺寸不合，耽誤您寶貴的時間，請在訂購前務必先確認各款尺寸。</li>
                <li>在Getmore，所有衣服都是獨一無二，請留給真心喜歡的人，減少退貨，也是節能減碳愛護地球的一種方式喔！  </li> 
                </ul>         
                <img class='pull-right' src='/assets/images/content/buy/product-07.png' />
                <div style='clear: both;'></div>
            </div>
          </div>
        </div>
    </div>
    <div style='clear: both;'></div>
</div>

    <div style="clear: both;"></div>
  <img src="/assets/images/content/buy/product-06.png" />
<div style="margin-top:30px;">
 <hr /><a href="http://bit.ly/22uiHMn" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/compaign/under1000.png"></a>
    <hr />
</div>
  {% if not (clothings is empty) %}
  <div id='similar_suggestion_title'>看看同款式的衣服</div>      
  <div class='suggested-box'>
    <ul id='target'>
        {% for item in clothings %}
        <li>
            <a target='_blank' href='/clothing/brandsonly/{{ item.id }}'>
                <div class='suggested-item-original-image'><img src="{{ item.files.0|s3_url }}" /></div>
                <div class='suggested-item-title'>{{ item.product_title }}</div>
                <div class='suggested-item-original-price'>NT$ {{ item.product_original_price|get_price_label }}</div>
                <div class='suggested-item-selling-price'><span>NT$ {{ item.product_sell_price }}</span></div>
            </a>
        </li>
        {% endfor %}
    </ul>
  </div>
  {% endif %}
  <img class='getmorecenter-block' src="/assets/images/content/sell/getmoreheart.jpg" />
    <script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js"></script>
    <script>        
        $(document).ready(function(){
            $('#target').lunZhuan({
                itemClass: 'suggested-item',
                buttonClass: 'suggested-item-button'
            });
            
            $('.new-social-share-button').click(function(e){
                e.preventDefault();
                window.open($(this).attr('href'), 'just_new', config='height=600,width=600');
            });
        });
    </script>
        
</div>
      <script>
          $(".product-other-image").click(function(){
              var src = $(this).children().attr("src");
              $("#product-main-image").attr("src", src);
              console.log(src);
          });
          
$(document).ready(function(){  
    var options = {  
            zoomType: 'standard',  
            lens:true,  
            preloadImages: true,  
            alwaysOn:false,  
            zoomWidth: 500,  
            zoomHeight: 400,  
            xOffset:90,  
          //  yOffset:30,  
            position:'left',
            showEffect: 'fadein'
            // hideEffect: 'fadeout'
            //...MORE OPTIONS  
    };  
    $('.product-main-image').jqzoom(options);  
});            
      </script>

<script type="text/javascript">
  
    /*$(function () {
        LikeButtonModule.setupLink();
        {% if logined %}
            LikeButtonModule.setIsLogined(true);
        {% endif %}
    });*/
$(document).ready(function(){
  {% if not clothing['isLike'] %}
  $('#add_to_favorite a').on('click', function(e){
    e.preventDefault();
    {% if not logined %}
      $('#logInModal').modal('show');
      return false;
    {% endif %}
    var $tmp=$(this);console.log($tmp.data('id'));
    $.ajax({
      type: 'PUT',
      url: '/restful/clothing_like/'.concat($tmp.data('id')),
      data: {
        user_id: {{ user_id }},
        type: {{clothing['launch_way']}}
      },
      dataType: 'json',
      success: function(res, textStatus, xhr){
        $tmp.text('已加入欲望清單！');
      }
    });
  });
  {% endif %}
});
</script>

 {% include '/modal/sizeref.twig' %}    
{% endblock %}

