{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
<ul class="nav navbar-nav">
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           What's New
        </a>
        <ul class="dropdown-menu dropdown-formenu" >
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#">新銳設計師</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Designers
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">依品牌</a></li>
            <li><a tabindex="-1" href="#">依種類</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#" >新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Boutiques
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">編輯精選</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#">> 新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Up-and-Coming Designer
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Bags
        </a>
    </li>
    <li class="dropdown"><a class="dropdown-toggle-formenu">|</a></li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Him
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>襯衫</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Kids
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>下身</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>品牌代售</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>再次降價</a></li>
        </ul>
    </li>
</ul>
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div style="border-bottom:1px solid #000;padding:10px 0;">
  <div style="font-size:10px;color:#333;">首頁 > designers > {{ url_code }}</div>
</div>

<div class="dsnershop-left">

  <div style="font-size:24px;margin-bottom:20px;">{{ url_code }}</div>
    <div style="margin-bottom:10px;font-size:10px;">
    
[mwa] [nɔ̃] [ply] <br/>
法語 : 我也不。<br /><br />

你不, 我也不。 你是, 我也不是。<br />
你喜歡不等於我喜歡。<br />
我喜歡也不在乎你喜歡。<br />
穿出自我。<br /><br />

台灣獨立設計師品牌。<br />
所有商品皆為台灣設計製造, 小量手工製作。<br /><br /> 
    </div>
  <hr />
  <div style="text-align:center;font-size:10px;">
    <a >交易政策</a>
  </div><hr />
</div>

<div class="dsnershop-right">
  <div>
    <img src="/assets/images/newpage/apujan/banner.png">
  </div>
  <div style="margin-top:20px;margin-left:-15px;overflow:auto;">
    {% for item in items %}
        {{ clothing_thumbnail_layout(item) }}
    {% endfor %}
   <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="http://s3.getmore.cc/clothing/14356527548085677/medium.jpg">
        <div class="product-brand">Jayro卡其色洋裝</div>
        <div class="fresh-product-title">Size  M</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$3,001~4,000</span><span class="fresh-product-sale">NT$1000</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div>
          </div>
        </div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j1.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div>
          </div>
        </div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j2.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
        </div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j3.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
        </div>
        <div ng-repeat="color in clothing.colors" style="width: 0;height: 0;border-width: 5px;border-style: solid;border-color: black;display: inline-block;margin-right:0px;" class="ng-scope"></div>
        <div ng-repeat="color in clothing.colors" style="width: 0;height: 0;border-width: 5px;border-style: solid;border-color: pink;display: inline-block;margin-right:0px;" class="ng-scope"></div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j4.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
        </div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j5.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
        </div>
      </div>
    </a>
    <a target="_blank" href="/clothing/brandsonly/6939">
      <div class="fresh-product-view lock-status-0">
        <img src="/assets/images/newpage/apujan/j6.jpg">
        <div class="product-brand">moi non plus </div>
        <div class="fresh-product-title">月神戴安娜洋裝</div>
        <div class="fresh-product-price"><span class="is-deleted">NT$5480</span><span class="fresh-product-sale">NT$5480</span></div>
        <div class="likeslideup">
          <div class="likeslideupcontent"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
        </div>
      </div>
    </a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.fresh-product-view').hover(function(){
      $(this).find('.likeslideup').fadeIn(200);
    }, function(){
      $(this).find('.likeslideup').hide();
    });
  });
</script>
 
<style>
  .dsnershop-left{
    float:left;
    padding: 30px 20px 20px;
    width: 270px;
    //border-right: 1px solid #ddd;
    min-height: 900px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsnershop-right{
    float: left;
    padding: 30px 0 20px 10px;
    width: 730px;
  }
  .likeslideup{
    background-color: rgba( 254, 254,254, 0.6);
    height: 70px;
    bottom: 95px;
    width: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    display: none;
    overflow: auto;
  }
  .likeslideupcontent{
    float:right;
    margin-top:10px;
    margin-right:40px;
    color:#000;
    text-align:center
  }
  .likeslideupcontent:hover{
    color: #fff;
  }

</style>
{% endblock %}
