{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
hr {
	margin-top: 10px;
	margin-bottom:10px;
}
.product-brand {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    line-height: 1;
}
.fresh-product-title {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    margin-top: 10px;

}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.dsner-box{
	padding-left: 10px;
//	padding-right: 10px;
	width: 33%;
	float: left;
}
.dsner-color {
    font-size: 10px;
    border-radius: 0px;
    outline: 1px inset black;
    outline-offset: -1px;
}
.product-size-guide{
	border:1px inset black;
}

.btn{
	border-radius: 0px;
}
.product-view-buy {
    background-color: #BDE1D6;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
}
/* Show only 4 lines in smaller screens */
article {
  max-height: 6em; /* (4 * 1.5 = 6) */
  line-height: 2;
}
.articlebox{
	padding:20px;
	color:#000;
	font-size:14px
}
.articlebox a{
	text-align: center;
	border-bottom: 0px;
}
.panel-heading{
	border-radius: 0;
}
.panel{
	border-radius: 0;	
}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators .active {
    background: black;
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
<script src="/assets/mobile_assets/js/readmore.min.js"></script>
<script src="/assets/javascript/carousel-swipe.js"></script>

<script>
  $(function(){
      var stocks = {{ product.Stocks|json_encode() }},
            select_number_html = _.template("<% _.each(_.range(1, max+1, 1), function(number){ %><option value=\"<%= number %>\"><%= number %></option><% }) %>");
      
      $('select.dsner-color').bind('change', function(e){
        var selected_color = $(this).val(),
              size_list = _.chain(stocks).where({color: selected_color}).reject(function(stock){
                return !parseInt(stock.number, 10);
              }).pluck('size').value(),
              reg_exp = new RegExp('\\s('+size_list.join('|')+')');console.log(selected_color);

        _.each($('.product_size'), function(size_button){
          $(size_button).removeClass('active');
          if(reg_exp.test($(size_button).attr('class')) && !_.isEmpty(size_list)){
            $(size_button).removeClass('disabled');
          }
          else {
            $(size_button).addClass('disabled');
          }
        });

        $('select.select_number').attr('disabled', true).html('<option>QUANTITY</option>');
        $('#product-view-buy').attr('disabled', true);
        $('.dsner-buy-box[data-toggle="tooltip"]').tooltip();
      });

      $('.select_size').delegate('input[type="radio"][name="size"]', 'change', function(e){
        var select_size = $(e.target).val(),
              selected_color = $('select.dsner-color').val(),
              select_stock = _.findWhere(stocks, {color: selected_color, size: select_size});
          
          $('select.select_number').removeAttr('disabled').html(select_number_html({max: select_stock.number}));

          $('#product-view-buy').removeAttr('disabled').html('Add to Cart');
          $('.dsner-buy-box[data-toggle="tooltip"]').tooltip('destroy');
      });

      $('input[type="radio"][name="displayMeasure"]').bind('change', function(e){
          var select_size = $(e.target).val();
          
          if(!$(e.target).parents('.modal-body').length) {
            $('.detail_size.'+select_size, '.modal-body').click();
          }

          $('.measure_labels', $(e.target).parents('.measure')).addClass('hidden').filter('.'+select_size).removeClass('hidden');
      });

    if($('select.dsner-color').val()){
      $('select.dsner-color').trigger('change');
    }
  });

$(document).ready(function() {
  $("#image-carousel-generic").carousel({
    swipe: 30
  });
});
</script>
{% endblock %}

{% block main %}

	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main">
	{% include 'template/mobile/navbar.html.twig' %}
	<div style="padding:10px;">
    <div id="image-carousel-generic" class="carousel slide" data-ride="carousel"  data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for index,file_id in product.files %}
        <li data-target="#image-carousel-generic" data-slide-to="{{ index }}" class="{% if index == 0 %} active {% endif %}"></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for index, file_id in product.files %}
          <div class="item {% if index == 0 %} active {% endif %}" style="padding: 10px">
            <img src="{{ file_id|s3_url('large') }}" class="img-responsive" style="display: inline-block;">
            <div class="carousel-caption">
            </div>
          </div>
        {% endfor %}
      </div>
	</div>

	<div style="padding:10px;">
		<div class="product-brand">{{ product.product_brand }}</div>
		<div class="fresh-product-title">{{ product.product_title }}</div>
		<div class="fresh-product-price">
	    	<span class="is-deleted" >NT$ {{ product.product_original_price }}</span>
	    	<span class="fresh-product-sale">NT$ {{ product.product_sell_price }}</span>
		</div>
	</div>
	<div style="overflow:auto;margin-top:15px;">
		<div class="dsner-box">
	      <select class="form-control dsner-color">
          {% if stock_info.color_list | length > 1 %}
            <option>COLOR</option>
          {% endif %}
          {% for color, color_comment in stock_info.color_list %}
          <option value="{{ color }}">{{ color_comment }}</option>
          {% endfor %}
        </select>
	    </div>
	   	<div class="dsner-box">
        <select class="form-control dsner-color">
          {% for size in stock_info.size_list %}
            <option value="{{ size }}">{{ size }}</option>
          {% endfor %}
        </select>
      </div>
	    <div class="dsner-box">
			<a class="btn btn-default btn-block product-size-guide"> size guide</a>  
	  	</div>
	 </div>
	 <div style="margin-top:10px;padding:10px;">
			<a class="btn btn-default btn-block product-view-buy">ADD TO CART</a>  
	 </div>
	 <div style="padding:0 10px;width:50%" class="dsner-buy-box">
			<button id="product-view-addto" class="btn btn-default product-view-buy dsner-buy addto">
        <span id='liked_word' {% if not product['is_liked'] %}style="display:none;"{% endif %}>
          已
        </span>
        加入欲望清單
      </button>
	 </div>
	 <div class="articlebox">
	 	<article data-readmore="" aria-expanded="false" id="rmjs-1" style=""><h4>商品資訊</h4>
	 	<div>{{ product.product_comments }}</div>
		</article>
	 </div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          尺寸說明 >
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <select class="form-control dsner-color">
          {% for size in stock_info.size_list %}
            <option value="{{ size }}">{{ size }}</option>
          {% endfor %}
        </select>
      </div>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          品牌介紹  >
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h3>{{ product.Designer.title }}</h3>
        <div style="margin-bottom:20px;">{{ product.Designer.description|nl2br }}</div>
        <div id="followBox">
            {% if follow %}
              <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;" disabled>Followed</button>
            {% else %}
              <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">Follow Designer&nbsp;&nbsp;&nbsp;&nbsp;+</button>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        	交易政策  >
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <ul class='font-size12 product-view-ul-p'>
          <li>配送方式：{{ product.trade_rule.method }}</li>
          {% if product.Designer.shipping_price %}
          <li>運費資訊：NT${{ product.Designer.shipping_price }}{% if product.Designer.free_shipping %},滿 NT${{ product.Designer.free_shipping }} 則免運費{% endif %}</li>
          {% else %}
          <li>運費資訊：免運費</li>
          {% endif %}
          <li>出貨時間：{{ product.trade_rule.time }}</li>
          <li>運送時間：{{ product.trade_rule.transport }}</li>
          <li>退貨政策：{{ product.trade_rule.returns }}</li>
        <ul>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<div id="footer">
	<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
</div>
<script>
$('article').readmore({
  speed: 75,
  moreLink: '<a href="#">...閱讀更多</a>',
  lessLink: '<a href="#">...閱讀更少</a>',

});
</script>
{% endblock %}