{% extends 'template/getmore_layout.html.twig'%}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <link rel="stylesheet" href="/assets/css/designer_product.css">
    <meta property="og:title" content=" {{ designer.url_code }} - {{ product.product_title }} | Getmore"/>
    <meta property="og:description" content=" 【商品說明】{{ product.product_comments|nl2br }}" />
    <meta property="og:image" content="    {{ product.files[0]|s3_url('medium') }}" />
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="//unslider.com/unslider.min.js"></script>
    <script type="text/javascript">
    $(function(){
      var stocks = {{ product.Stocks|json_encode() }},
            select_number_html = _.template("<% _.each(_.range(1, max+1, 1), function(number){ %><option value=\"<%= number %>\"><%= number %></option><% }) %>");
      
      $('select.dsner-color').bind('change', function(e){
        var selected_color = $(this).val(),
              size_list = _.chain(stocks).where({color: selected_color}).reject(function(stock){
                return !parseInt(stock.number, 10);
              }).pluck('size').value(),
              reg_exp = new RegExp('\\s('+size_list.join('|')+')');console.log(selected_color);

        _.each($('.product_size'), function(size_button){
          $(size_button).removeClass('active');
          if(reg_exp.test($(size_button).attr('class')) && !_.isEmpty(size_list)){
            $(size_button).removeClass('disabled');
          }
          else {
            $(size_button).addClass('disabled');
          }
        });

        $('select.select_number').attr('disabled', true).html('<option>QUANTITY</option>');
        $('#product-view-buy').attr('disabled', true);
        $('.dsner-buy-box[data-toggle="tooltip"]').tooltip();
      });

      $('.select_size').delegate('input[type="radio"][name="size"]', 'change', function(e){
        var select_size = $(e.target).val(),
              selected_color = $('select.dsner-color').val(),
              select_stock = _.findWhere(stocks, {color: selected_color, size: select_size});
          
          $('select.select_number').removeAttr('disabled').html(select_number_html({max: select_stock.number}));

          $('#product-view-buy').removeAttr('disabled').html('Add to Cart');
          $('.dsner-buy-box[data-toggle="tooltip"]').tooltip('destroy');
      });

      $('input[type="radio"][name="displayMeasure"]').bind('change', function(e){
          var select_size = $(e.target).val();
          
          if(!$(e.target).parents('.modal-body').length) {
            $('.detail_size.'+select_size, '.modal-body').click();
          }

          $('.measure_labels', $(e.target).parents('.measure')).addClass('hidden').filter('.'+select_size).removeClass('hidden');
      })

      var options = {  
            zoomType: 'standard',
            lens:true,
            preloadImages: true,
            alwaysOn:false,
            zoomWidth: 500,
            zoomHeight: 400,
            xOffset:90,
            position:'left',
            showEffect: 'fadein'
    };  
    $('.product-main-image').jqzoom(options);

    $("#other_image_list").delegate('.thumbnailListItem img', 'click', function(e){
        var src = $(e.target).attr("src");
        $('img', '.product-main-image').attr("src", src);
    });

    if($('select.dsner-color').val()){
      $('select.dsner-color').trigger('change');
    }
  });
  </script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}

{% block searchbox%}
    {% include '/searchbox/no_search.twig' %}   
{% endblock %}

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
{% include '/dropdownnav/dsner_nav.twig' %}
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div style="border-bottom:1px solid #000;padding:10px 0;overflow:auto;">
  <div style="float:right;font-size:10px;color:#333;" id="followBox">
    <a href="#" class="follow-designer" style="color:#000;"
    {% if follow %}
    disabled>Followed
    {% else %}
    >Follow Designer +
    {% endif %}
    </a>
  </div>
  <div style="float:left;font-size:10px;color:#333;">首頁 > {{ product.product_type|Breadcrumb }}</div>
</div>
<div style="overflow:auto;margin-bottom:30px;">
<div class="dsner-left">
  <div style="float:left;margin-right:15px;" id="other_image_list">
    {% for file_id in product.files %}
    <div class="thumbnailListItem"><a rel="{gallery: 'gal1', smallimage: '{{ file_id|s3_url('medium') }}',largeimage: '{{ file_id|s3_url('large') }}'}">
      <img src="{{ file_id|s3_url('medium') }}" >
    </a></div>
    {% endfor %}
  </div>
  <div style="float:left;">
    <a href='{{ product.files[0]|s3_url('large') }}' class="product-main-image" title='{{ product.product_title }}' rel="gal1">
      <img style="width:364px;" src="{{ product.files[0]|s3_url('medium') }}" title='{{ product.product_title }}'>
    </a>
    <div style="margin-top:30px;text-align:center;">
      <div class="fb-like" data-href="{{ current_url() }}" data-layout="button" data-share="true">
      </div>
    </div>
    <div style="margin-top:20px;text-align:center;font-size:10px;color:#bbb;">PRODUCT CODE: {{ product.product_item_number }}</div>
  </div>
</div>
<div class="dsner-right">
  <p id='clothing_json_data' class='hidden'>{{ product|json_encode()|e }}</p>
  <div class="dsner-des">
    <div class="dsner-brand" style="overflow:hidden;height:50px;"><a href="/shop/designer/{{ designer.url_code }}"><img src="http://s3.getmore.cc/designer/profile/{{ designer.profile_photo_file_id }}/medium.jpg"></a></div>
    <div class="dsner-name">{{ product.product_title }}</div>
    <div class="dsner-name">NT$ {{ product.product_sell_price }}</div>
    {% if product.product_original_price > product.product_sell_price %}
    <div class="dsner-name" style="font-size: 12px;">參考原價：NT$ {{ product.product_original_price }}</div>
    {% endif %}
    <div style="font-size:10px;margin-top:10px;">
      <a data-toggle="modal" href="#product-size-detail"  style="color:#bbb;">view size guide</a>
    </div>
    <div class="dsner-color-box">
      <select class="form-control dsner-color">
        {% if stock_info.color_list | length > 1 %}
          <option>COLOR</option>
        {% endif %}
        {% for color, color_comment in stock_info.color_list %}
        <option value="{{ color }}">{{ color_comment }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="dsner-size-box">
      <div class="btn-group select_size" data-toggle="buttons">
        {% for size in stock_info.size_list %}
        <label class="btn btn-default product_size disabled {{ size }} " style="margin-left: 0px;">
          <input type="radio" name="size" autocomplete="off" value="{{ size }}"> {{ size|size_translate }}
        </label>
        {% endfor %}
      </div>
    </div>
        {% set notShow = ["S/M/L", "one size", "Denim", "其他"] %}
        {% if stock_info.size_type_major not in notShow  and stock_info.size_type_major %}
          <div style="text-align:right;font-size:10px;color:#777;margin-top:5px;">尺碼種類：{{ stock_info.size_type_major }}</div>
        {% endif %}
    <div class="dsner-number-box">
      <select class="form-control select_number dsner-number" disabled="true">
        <option>QUANTITY</option>
      </select>
    </div>

    <div class="dsner-buy-box" {% if product['lock_status'] == 0 and product['on_shelf'] != 0 and date(product['publication_time']) <= date() %} data-toggle="tooltip" title="請先選好顏色、尺寸以及數量" {% endif %}>
      {% if product['lock_status'] == 4 or date(product['publication_time']) > date() %}
          <a class="btn product-view-buy dsner-buy" disabled='disabled'>準備上架中</a>
      {% elseif product['lock_status'] == 3 or product['on_shelf'] == 0 %}
          <button class="btn product-view-buy dsner-buy" disabled='disabled'>已下架</button>
      {% elseif product['lock_status'] == 2 %}
          <button class="btn product-view-buy dsner-buy" disabled='disabled'>SOLD OUT</button>
      {% elseif product['lock_status'] == 1 %}
          <button class="btn product-view-buy dsner-buy" disabled='disabled'>已預訂</button>
      {% elseif product['lock_status'] == 0 %}
          <button id="product-view-buy" class="btn product-view-buy dsner-buy" disabled='disabled'>Add to Cart</button>
      {% endif %}
    </div>
    <div class="dsner-buy-box">
      <button id="product-view-addto" class="btn btn-default product-view-buy dsner-buy addto">
        <span id='liked_word' {% if not product['is_liked'] %}style="display:none;"{% endif %}>
          已
        </span>
        加入欲望清單
      </button>
    </div>
    <button type="button" class="btn btn-default" style="margin-top: 10px;" data-toggle="modal" data-target="#sendMessageToDesigner">聯絡設計師</button>
  </div>
   {% include '/modal/msg.twig' with {'current_url': current_url(), 'owner_id': owner_id, 'url_code': url_code} %}
    <div class="dsner-nav">
      <ul class="nav nav-tabs dsner-tabs">
        <li role="presentation" class="active"><a href="#home" data-toggle="tab">商品說明</a></li>
        <li role="presentation"><a href="#measure" data-toggle="tab">尺寸說明</a></li>
        <li role="presentation"><a href="#brands" data-toggle="tab">品牌介紹</a></li>
        <li role="presentation"><a href="#trade" data-toggle="tab">交易政策</a></li>
      </ul>
      <div class="tab-content dsner-tab-content">
        <div class="tab-pane active" id="home">
          <ul class="list-unstyled" style="font-size:14px;line-height:23px;letter-spacing:1px;">
            {% if product.pattern %}
            <li>款式：{{ pattern }}</li>
            {% else %}
            <li>款式：{{ product.product_type|get_product_type_label }}</li>
            {% endif %}
            {% if product.material %}
            <li>材質：{{ product.material }}</li>
            {% endif %}
            {% if product.location %}
            <li>產地：{{ product.location }}</li>
            {% endif %}
            {% if product.style %}
            <li>風格：
              {% for style in product['style'] %}
                  <a href="{{ site_url('/clothing/dsnerview') }}#?page=1&style={{style['style_number']}}" class="style_link">
                  <button class="btn btn-default btn-xs" style="margin-right:5px;padding-left:10px;padding-right:10px;background-color:#efefef;border-radius:20px;">{{style['text']}}</button></a>
              {% endfor %}
            </li>
            {% endif %}
            <li>季節：{{ season_list[product.season] }}</li>
            <br>
            <li>{{ product.product_comments|nl2br }}</li>
          </ul>
          <div class="dsner-p">
            <p style="text-align:left;font-size:10px;color:#333;">
              {{ product.descript }}
            </p>
            <div id="followBox">
              {% if follow %}
                <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;" disabled>Followed</button>
              {% else %}
                <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">Follow Designer&nbsp;&nbsp;&nbsp;&nbsp;+</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="tab-pane measure" id="measure">
          <div>
            {% if product.model_size %}
              <u><strong>試穿報告</strong></u><div style="font-size:14px;margin-top:10px;line-height:20px;">{{ product.model_size|nl2br }}</div>
            {% endif %}
              <div style="margin:20px 0 10px 5px;">
                  <div class="btn-group" data-toggle="buttons">
                    {% for size in array_keys(stock_info.measure_labels_list) %}
                    <label class="btn btn-xs btn-default detail_size {{ str_replace(['.', ' '], '_', size) }} {% if loop.first %} active {% endif %}">
                      <input type="radio" name="displayMeasure" autocomplete="off" value="{{ str_replace(['.', ' '], '_', size) }}"> {{ size|size_translate }}
                    </label>
                    {% endfor %}
                  </div>
              </div>
              <div>
                {% for size, measure_labels in stock_info.measure_labels_list %}
                <div class='{{ str_replace(['.', ' '], '_', size) }} measure_labels {% if not loop.first %} hidden {% endif %}'>
                    {% if product.group != 'Clothing' %}
                      {% for key, label in measure_labels %}
                      {% if label %}
                      <div class='size-modal-text'>{{ accessories_semantic_measure_name(key, product.group) }}：{{ label }}</div>
                      {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for key, label in get_semantic_measure_name(size_code, measure_labels) %}
                      {% if label %}
                      <div class='size-modal-text'> {{ key }} : {{ label }}{% if key != '尺寸特殊說明' %}cm{% endif %}</div>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
              </div>
                  <a data-toggle="modal" href="#product-size-detail" class="btn btn-default" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">看詳細尺寸&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>

        </div>
        <div class="tab-pane" id="brands">
          <h3>{{ product.Designer.title }}</h3>
          <div style="margin-bottom:20px;">{{ product.Designer.description|nl2br }}</div>
          <div id="followBox">
              {% if follow %}
                <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;" disabled>Followed</button>
              {% else %}
                <button class="btn btn-default follow-designer" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">Follow Designer&nbsp;&nbsp;&nbsp;&nbsp;+</button>
              {% endif %}
          </div>
        </div>
        <div class="tab-pane" id="trade">
          <ul class='font-size12 product-view-ul-p'>
            <li>配送方式：{{ product.trade_rule.method }}</li>
            {% if product.Designer.shipping_price %}
            <li>運費資訊：NT${{ product.Designer.shipping_price }}{% if product.Designer.free_shipping %},滿 NT${{ product.Designer.free_shipping }} 則免運費{% endif %}</li>
            {% else %}
            <li>運費資訊：免運費</li>
            {% endif %}
            <li>出貨時間：{{ product.trade_rule.time }}</li>
            <li>運送時間：{{ product.trade_rule.transport }}</li>
            <li>退貨政策：{{ product.trade_rule.returns }}</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:30px;">
 <hr /><a href="http://getmore.cc/shop/designer/7crash" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/compaign/7preorder.png"></a>
  <hr />
</div>

  {% include '/modal/product_size.twig' with {'product': product, 'stock_info': stock_info} %} 
  {% if not mayLike is empty %}
  <div class="bannerboxtitle">你可能也會喜歡 &nbsp;&nbsp;/&nbsp;&nbsp; YOU MAY ALSO LIKE</div>
  <div class="viewproductslider">
    <div class="recentViewBox">
      <ul style="padding-left:40px;">
        {% for page in mayLike %}
          <li>
            {% for product in page%}
            <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
               <a href="{{ product_link(product.launch_way, product.id) }}" target="_blank">
                  <img src="http://s3.getmore.cc/clothing/{{ product.files[0]}}/medium.jpg" max-height="200" width="133">
              </a>
            </div>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
        <div id="next">
            <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <div id="previous">
            <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
        </div>
      </div>
  </div>
{% else %}
<div class="bannerboxtitle">主編推薦 &nbsp;&nbsp;/&nbsp;&nbsp; Editors' Picks</div>
<div class="viewproductslider">
 <div class="recentViewBox">
    <ul style="padding-left:10px;">
      {% for page in suggest %}
        <li>
          {% for product in page%}
          <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
             <a href="{{ product_link(2, product.product_id) }}" target="_blank">
                <img src="http://s3.getmore.cc/clothing/{{ product.files}}/medium.jpg" height="200" width="133">
            </a>
          </div>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
      <div id="next">
          <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
      </div>
      <div id="previous">
          <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
      </div>
    </div>
</div>
{% endif %}
<div id="fb-root"></div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.follow-designer').bind('click', function(e){
      {% if not user_id %}
        $('#logInModal').modal('show');
        return false;
      {% endif %}
      if($(this).attr('disabled')=='disabled') return false;
      e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/restful/follow_designer',
          data: {
            url_code: '{{url_code}}',
            user_id: {{user_id}}
          },
          dataType: 'json'
        });
        //$("#followBox").replaceWith("<span style='float: right'>Followed</span>");
        $('.follow-designer').attr('disabled', 'disabled').text('Followed');
    });
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $('#product-view-addto').on('click', function(){
      {% if not user_id %}
        $('#logInModal').modal('show');
        return false;
      {% endif %}
      $.ajax({
        type: 'PUT',
        url: '/restful/clothing_like/{{product["id"]}}',
        data:{
          user_id: {{user_id}},
          type: {{product['launch_way']}},
        },
        dataType: 'json',
        success: function(res, textStatus, xhr){//console.log(res);
          if(res==250){
            $('#liked_word').hide();
          }
          else{
            $('#liked_word').show();
          }
        }
      });
    });
  });
</script>

<script>
  var unslider = $('.recentViewBox').unslider({
    speed: 500,
    delay: false,
    keys: true,
    dots: true,
  });
  $('.next').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').next();
      return false;
  });
  $('.previous').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').prev();
      return false;
  });
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=175511119170333";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}