{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="/assets/javascript/jquery.sortable.min.js"></script>
    <script src="/assets/javascript/jquery.jrumble.1.3.min.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
<ul class="nav navbar-nav">
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           What's New
        </a>
        <ul class="dropdown-menu dropdown-formenu" >
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#">新銳設計師</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Designers
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">依品牌</a></li>
            <li><a tabindex="-1" href="#">依種類</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#" >新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Boutiques
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">編輯精選</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#">> 新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Up-and-Coming Designer
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Bags
        </a>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Women
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle-formenu">|</a></li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Him
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>襯衫</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Kids
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>下身</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>品牌代售</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>再次降價</a></li>
        </ul>
    </li>
</ul>
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div style="border-bottom:1px solid #000;padding:10px 0;overflow:auto;">
  <div style="float:right;font-size:10px;color:#333;"><a style="color:#000;">+ add to my designers</a></div><div style="float:left;font-size:10px;color:#333;">首頁 > WOMEN > 洋裝</div>
</div>
<div class="followed-content">
  <div style="margin-top:30px;">
    <span class="fresh-title">
        追蹤的設計師和品牌
    </span>
    {% if not follow_designers is empty %}
    <button type="button" class="btn btn-primary edit-list" id="edit_designer" data-toggle="tooltip" data-html="true" title="點選可重新排列<br/>或取消追隨">編輯</button>
    {% endif %}
    <div class="followdsnerbox">
      <ul class="sortable grid" id="designer_list">
      {% for designer in follow_designers %}
        <li>
          <div class="followdsnerbanner" id="{{designer.followed}}">
            <div class="user-disfollow" data-toggle="modal" data-target="#user-disfollow-modal">
              <a href="#"><span class="fa fa-times-circle-o fa-2x fa-inverse"></span></a>
            </div>
            <a href="/shop/designer/{{designer.info['url_code']}}" target="_blank">
              <img src="http://s3.getmore.cc/designer/signboard/{{designer.info['user_id']}}/small.jpg">
              <div class="followbrand">{{designer.info['title']}}</div>
            </a>
          </div>
        </li>
      {% endfor %}
      {% if follow_designers is empty %}
        <div class='alert alert-info'>您目前尚未追蹤任何人喔！</div>
      {% endif %}

    </ul></div>
    <hr />
  </div>
  <div style="margin-top:30px;">
    <span class="fresh-title">
        追蹤的達人
    </span>
    {% if not follow_users is empty %}
      <button type="button" class="btn btn-primary edit-list" id="edit_user" data-toggle="tooltip" data-html="true" title="點選可重新排列<br/>或取消追隨">編輯</button>
    {% endif %}
      <div class="followdsnerbox">
        <ul class="sortable grid" id="user_list">
          {% for user in follow_users %}
          <li>
            <div class="followmktbanner" id="{{user['user_id']}}">
              <div class="user-disfollow" data-toggle="modal" data-target="#user-disfollow-modal">
                <a href="#"><span class="fa fa-times-circle-o fa-2x fa-inverse"></span></a>
              </div>
              <a href="/closet/tabs/{{user['url_code']}}">
                <img src="{{user['profile_pic_url']}}">
                <div class="followbrand">{{user['title']}}</div>
              </a>
            </div>
          </li>
        {% endfor %}
    {% if follow_users is empty %}
    <div class='alert alert-info'>您目前尚未追蹤任何人喔！</div>
    {% endif %}
       
      </ul>
      </div>
  </div>
</div>

<div id="user-disfollow-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <!--<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align:center">Disfollow?</h4>
        </div>-->
        <div class="modal-body">
          Disfollow this user?
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <form action="" method="POST" target="_self" id="disfollowForm">
            <input type="submit" class="btn btn-warning" value="Yes" name="disfollow">
            <input type="hidden" name="user_id_disfollow" value="" id="disfollow_id">
            <input type="hidden" name="disfollow_type" value="">
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=175511119170333";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  $(document).ready(function(){

    $("#disfollowForm").submit(function() {
      $.ajax({
        type: 'POST',
        url: '/restful/follow_designer/disfollow_designer',
        data: {
          user_id: '{{ user_id }}',
          followed_id: $("#disfollow_id").val()
        },
        dataType: 'json',
        success: function(res){
        }
      });

      $("#"+ $("#disfollow_id").val()).remove();
      $("#user-disfollow-modal").modal("hide");
      return false;
    });

    $('.edit-list').on('click', function(e){
      if($(this).hasClass('editing')){
        $(this).html('編輯').removeClass('editing').tooltip('show');
        
        if($(this).attr('id')=='edit_user'){
          $('.followmktbanner .user-disfollow').hide();
          $('#user_list').sortable('destroy');
          $('.followmktbanner').trigger('stopRumble').removeClass('isRumble');
        }
        else if($(this).attr('id')=='edit_designer'){
          $('.followdsnerbanner .user-disfollow').hide();
          $('#designer_list').sortable('destroy');
          $('.followdsnerbanner').trigger('stopRumble').removeClass('isRumble');
        }
      }
      else{
        //$(this).siblings('div').find('.sortable').sortable();
        $(this).html('儲存').addClass('editing').tooltip('destroy');
        
        if($(this).attr('id')=='edit_user'){
          $('.followmktbanner .user-disfollow').show();
          $('#user_list').sortable();
          $('.followmktbanner').trigger('startRumble').addClass('isRumble');
        }
        else if($(this).attr('id')=='edit_designer'){
          $('.followdsnerbanner .user-disfollow').show();
          $('#designer_list').sortable();
          $('.followdsnerbanner').trigger('startRumble').addClass('isRumble');
        }
      }
    });
    $('#user-disfollow-modal').on('hide.bs.modal', function(){
      $('.isRumble').trigger('startRumble');
    });
    $('[data-toggle="tooltip"]').tooltip({container: "body"});
    $('.sortable').sortable('disable');
    $('.followmktbanner, .followdsnerbanner').jrumble({
      speed: 75,
    });
    $('.sortable').on('dragenter', function(){
      //console.log($('li .followdsnerbanner', this));
      if($(this).attr('id')=='user_list'){
        console.log('user');
        var tmp=$('.followmktbanner', this).css(['height', 'margin']);
        $('.sortable-placeholder', this).css({
          'height': tmp.height,
          'margin': tmp.margin
        });
      }
      else if($(this).attr('id')=='designer_list'){
        console.log('designer');
        var tmp=$('.followdsnerbanner', this).css(['height', 'margin']);
        $('.sortable-placeholder', this).css({
          'height': tmp.height,
          'margin': tmp.margin,
        });
      }
    });
    $('#user-disfollow-modal').on('show.bs.modal', function(e){
      
      $('.followdsnerbanner, .followmktbanner').trigger('stopRumble');
      // e.relatedTarget is the <div> that trigger the modal.
      // it's parent is the <div> of followed user or designer.
      var tmp=$(e.relatedTarget).parent();
      var user_id=$(tmp).attr('id');
      var disfollow_type=$(tmp).hasClass('followdsnerbanner');//console.log(disfollow_type);
      if(typeof user_id != 'undefined'){
        //var tmp=$(this).find('input[name=user_id_disfollow]').attr('value', user_id);
        $(this).find('input[name=user_id_disfollow]').attr('value', user_id);
        if(disfollow_type){
          $(this).find('input[name=disfollow_type]').attr('value', 'designer');
        }
        else{
          $(this).find('input[name=disfollow_type]').attr('value', 'user');
        }
      }
      else{
        //console.log($(this).find('input[name=user_id_disfollow]').attr('value', ""));
      }
    });
  });
</script>

<style>
  .fa-times-circle-o{
    color:#c0c0c0;
  }
  .btn.edit-list:focus{
    background-color: #4DBAA9;
    outline: none;
  }
  .sortable{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  .sortable li{
    float: left; 
  }
  .sortable-placeholder{
    height: 95px; 
    width: 180px;
    border: 1px dashed #4dbaa9;
    border-radius: 5px;
    background: none;
  }
  .user-disfollow{
    margin-top:-7px;
    margin-right: -5px;
    position:absolute;
    right:0;
    display:none;
  }
  .dsner-left{
    float: left;
    padding:30px 20px 20px 0;
    width:471px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsner-right{
    float: left;
    padding:30px 20px 20px;
    width: 529px;
  }
  .dsner-des{
    padding-top:10px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .dsner-name{
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .dsner-color{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-size{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-nav{
    margin-top: 30px;
    width: 350px;
    margin: 40px auto 0 auto;
  }
  .dsner-tabs{

  }
  .dsner-tabs > li > a{
    border-radius: 0px;
    font-size: 10px;
  }
  .dsner-buy{
    width: 100%;
    margin-top: 10px;
  }
  .dsner-tab-content{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
    padding-top: 30px;
    //font-size: 10px;
    overflow: auto;
  }
  .dsner-p p{
    font-size: 10px;
  }

  .addto{
    background-color:#fff;
    color:#bbb;
    border:1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .followdsnerbox{
    margin-top: 30px;
    min-height: 300px;
    overflow: auto;
    overflow-y: hidden;
  }

  .followdsnerbanner{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 95px;
    border-radius: 5px;
    position:relative;
  }

 .followdsnerbanner img{
    width: 180px;
    height: 65px;
    border-radius: 5px 5px 0 0;
 }

 .followbrand{
    padding: 5px;
    color: #000;
    font-size: 14px;
    color: #bbb;
    overflow: hidden;
    width: 180px;
    //height: 18px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
}

  .followmktbanner{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 95px;
    border-radius: 5px;
    position:relative;
  }

 .followmktbanner img{
    width: 180px;
    border-radius: 5px 5px 0 0;
 }

.followmktbanner{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 210px;
    border-radius: 5px;
  }
</style>
{% endblock %}