{% extends 'template/mkplace_layout.html.twig' %}

 {# 
 {% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">代買時尚 / Personal Shopper</a></div>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;background-color:#dd641d;color:#fff;">達人二手 / Closet</a></div>
    </div>
  {% endblock %}
  #}
{% block main %}
<div id='clothing-main'>
    {% if not no_previous %}
    <div class='go-left'>
        <a href='/clothing/marketplace/{{ clothing['id'] }}/previous'><img src='/assets/images/productleft.png' /></a>
    </div>
    {% endif %}
    {% if not no_next %}
    <div class='go-right'>
        <a href='/clothing/marketplace/{{ clothing['id'] }}/next'><img src='/assets/images/productright.png' /></a>
    </div>
    {% endif %}
    <div class="product-view" >
        <div class="mkt-left-part">
          <div class="mkt-product-image">
              <a href='{{ clothing['files'][0]|s3_url('large') }}' class="product-main-image" title='{{ clothing['product_title'] }}' rel="gal1">
                  <img style="width:340px;"src="{{ clothing['files'][0]|s3_url('medium') }}" id="product-main-image" title='{{ clothing['product_title'] }}' />
              </a>
              <div style='clear: both;'></div>
              {% for file_id in clothing['files'] %}
              <div class="product-other-image-box">
              <a class="product-other-image" href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '{{ file_id|s3_url('medium') }}',largeimage: '{{ file_id|s3_url('large') }}'}">
                <img src="{{ file_id|s3_url('medium') }}" />
              </a>
              </div>
             {% endfor %}
              <a data-toggle="modal" href="#size-modal" class="product-size-image">
                  <img src="{{ clothing['measure_img_url'] }}" />
              </a>
          </div><!-- END the left part.-->
          <div style='clear: both;'></div>
        <div class="left-detail-info-box">
          <div class="text-center detail-info-title">達人介紹</div><hr />
          <center><a href="" target="_blank"><img style="width: 165px; height: 165px;border-radius:50%;" src="http://s3.getmore.cc/profile/{{ clothing.user_id }}/small.jpg"></a>
          <!--<a href="" target="_blank"><img src="http://s3.getmore.cc/signboard/{{ clothing.closet_banner_id }}.jpg" style="width:280px;border-radius:7px;"></a>-->
          <h3>{{ clothing.closet_title }}</h3></center>
          <p>{{ clothing.closet_description }}</p>
          <a href="/closet/tabs/{{ clothing.closet_url_code }}#marketplace" target="_blank">去衣櫃逛逛>></a>
        </div>
      </div>
  <div class="mkt-right-part">
    <div id='clothing-information'>
        <strong>
          <!--<p class="product-breadcrumb">
            <a href="/">首頁</a>
               > 
               {% if clothing['gender'] == '1' %}
                  <a href="/clothing/category/women">WOMEN</a>
              {% elseif clothing['gender'] == '2' %}
                  <a href="/clothing/category/men">MEN</a>
              {% elseif clothing['gender'] == '3' %}
                  <a href="/clothing/category/kids">KIDS</a>
              {% endif %}
              >
              <a href="{{ href }}{{ hash }}">{{ subtype_name_mapping[subtype] }}</a>
           </p>-->
           <button type="button" class="btn btn-default" style="background:#fff;border-color:#adadad;">賣家自行出貨商品</button>

        </strong>
          <p id='clothing_json_data' class='hidden'>{{ clothing|json_encode() }}</p>
          <h2>
              {{ clothing['product_title'] }}
              {% if clothing['is_suggested'] %}
              &nbsp;&nbsp;<img class='recommendation_icon' src="/assets/images/superrecommend.png">
              {% endif %}
              <section style="width:180px;">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url() }}" target='_blank' class="new-social-share-button facebook">
                      <i class="fa fa-facebook"></i>
                  </a>
                  <a href="https://twitter.com/intent/tweet?url={{ current_url() }}&amp;text=♥{{ clothing['product_title'] }}" target='_blank' class="new-social-share-button twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a target='_blank' href="http://pinterest.com/pin/create/button/?media={{ clothing['files'][0]|s3_url('large') }}&amp;url={{ current_url() }}&amp;description=♥{{ clothing['product_title'] }}" class="new-social-share-button pinterest">
                      <i class="fa fa-pinterest"></i>
                  </a>
                  <div class='fbiframe floatright'>
                  <iframe src="//www.facebook.com/plugins/like.php?href={{ current_url() }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=239678122794926" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:21px;" allowTransparency="true"></iframe>
                  </div>
              </section>
          </h2>

          <section id='highlight-section'>
              <p class='highlight-information'>
                  Size：{{ clothing['size_type_major'] }}
                  {{ clothing['size'] }}
                  {% if clothing['size_number_minor'] != '' %}
                      /
                      {{ clothing['size_type_minor'] }}
                      {{ clothing['size_number_minor'] }}
                  {% endif %}
                  {% if clothing['size_comment'] != '' %}
                      ({{ clothing['size_comment'] }})
                  {% endif %}
                  &nbsp;&nbsp;&nbsp;
                  {% if clothing['gender'] != '3' %}
                      <a data-toggle="modal" href="#sizetable-modal" class='learn-more'><img class="qmark-adjust" src='/assets/images/icon-qmark_light.png' />&nbsp;Learn more</a>
                  {% endif %}
              </p>
              <p class='highlight-information'>品牌：{{ clothing.product_brand }}</p>
          </section>
          
          <p class='product-condition'>              
              商品狀態：
              {% if clothing['item_status'] == 1 %}
                全新未拆吊牌
              {% elseif clothing['item_status'] == 2 %}
                幾近全新
              {% elseif clothing['item_status'] == 3 %}
                狀況良好
              {% elseif clothing['item_status'] == 4 %}
                有歲月痕跡
              {% endif %}
              <span class='item_status_comment'>{{ clothing['item_status']|get_item_status_comment }}</span>
          </p>
          <p class='product-condition'>
            商品敘述：{{ clothing['product_comments'] }} 
          </p>
          {% if clothing['admin_comment'] != '' %}
              <p class='product-additional'>點評： {{ clothing['admin_comment'] }}</p>
          {% endif %}
          {% if clothing['admin_remark'] != '' %}
              <p class='product-additional'>備註： {{ clothing['admin_remark'] }}</p>
          {% endif %}
          {% for key, value in clothing['additional_fields'] %}
              <p class='product-additional'>{{ key }}： {{ value }}</p>
          {% endfor %}
          
          <section id='checkout-section'>

              <section id='checkout-prices'>
                  <h3>NT${{ clothing['product_sell_price'] }}</h3>
                  <p>參考原價：{{ clothing['product_original_price']|get_price_label }}元</p>
              </section>

              <section id='checkout-cart'>
                  <div>
                      {% if clothing['lock_status'] == 4 or date(clothing['publication_time']) > date() %}
                          <a class="btn product-view-buy" disabled='disabled'>準備上架中</a>
                      {% elseif clothing['lock_status'] == 3 or clothing['on_shelf'] == 0 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已下架</button>
                      {% elseif clothing['lock_status'] == 2 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已售出</button>
                      {% elseif clothing['lock_status'] == 1 %}
                          <button id="product-view-buy" class="btn product-view-buy" disabled='disabled'>已預訂</button>
                      {% elseif clothing['lock_status'] == 0 %}
                          <button id="product-view-buy" class="btn product-view-buy">Add to Cart</button>
                      {% endif %}
                  </div>
                  {% if clothing['closet_url_code'] %}

                  <div id='checkoutcloset'>
                  &nbsp;&nbsp;&nbsp;<a href='/closet/tabs/{{ clothing.closet_url_code }}#marketplace' target="_blank">看看這位賣家的衣櫃！</a>
                  </div>
                  <div id='checkoutcloset'>
                  &nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#userpostmsg">聯絡這位賣家！</a>
                  </div>
                  {{post_user_message_modal( owner_id, current_url() )}}
                  {% endif %}
              </section>
          </section>
          
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id='clothing-reminding'>
            <li class="active"><a href="#home" data-toggle="tab">商品說明</a></li>
            <li><a href="#profile" data-toggle="tab">交易政策</a></li>
            <li><a href="#messages" data-toggle="tab">貼心小叮嚀</a></li>
          </ul>

          <!-- Tab panels -->
          <div class="tab-content" id='other-information'>
            <div class="tab-pane active" id="home">
                <div class='row'>
                    <div class='col-md-6 clothing-reminding-detail'>
                        <strong><p>商品編號： {{ clothing['product_item_number'] }}</p>
                        <p>
                            款式：{{ pattern_name_mapping[clothing['pattern']] }}
                        </p>                
                        <p>{% if clothing['material'] != '' %} 材質：{{ clothing['material'] }} {% endif %}</p>
                        <p>{% if clothing['location'] != '' %} 產地：{{ clothing['location'] }} {% endif %}</p>
                        <p>{% if clothing['color'] != '' %} 顏色：<img src="/admin/assets/images/colorbox/{{ clothing['color'] }}.png">{% endif %}</p>
                        <p>{% if clothing['style'] != '' or clothing['free_style'] != '' %} 風格：
                          {% for style in clothing['all_styles'] %}{{ style }} {% endfor %}{% endif %}</p>
                        <p> 季節：{{ clothing['season']|season_label }}</p>
                        </strong>
                            <div style='clear: both;'></div>
                            <ul class='product-view-ul font-size10'>
                              <li>尺寸數據會因其布料彈性、水洗處理、測量起訖點等因素而出現些微誤差; 誤差值在±2公分內視為合理範圍。</li>
                            </ul>
                    </div>
                    <div class='col-md-6'>
                        <div class='alert alert-info bggetmorecolor'>
                            <div class='row'>
                            <a class='pull-right' data-toggle="modal" href="#size-modal"><img src='/assets/images/icon-qmark_light.png' /></a>
                            </div>
                            <div class='row'>
                                <div class='col-md-6'>
                                    <p class='size-modal-text'>詳細尺寸</p>
                                    <br />
                                </div>
                               <strong> 
                                <div class='col-md-6'>
                                    {% for key, label in measure_labels %}
                                    <p class='size-modal-text'>{{ key }}：{{ label }}cm</p>
                                    {% endfor %}
                                </div>
                              </strong>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div><!-- 商品說明 -->
            
            <div class="tab-pane" id="profile">

                <ul class='font-size12 product-view-ul-p'>
                <li>配送方式：{{ clothing['trade_rule']['method'] }}</li>
                <li>出貨時間：{{ clothing['trade_rule']['time'] }}</li>
                <li>運送時間：{{ clothing['trade_rule']['transport'] }}</li>
                <li>退貨政策：{{ clothing['trade_rule']['returns'] }}</li>
                <ul>
            </div>
            <div class="tab-pane" id="messages">
                
                <p class='getmore-color'>二次時尚的生活，從擁有一件二手好衣開始 ：）</p>
                <ul class='font-size12 product-view-ul-p'>
                <li>為了避免因商品尺寸不合，耽誤您寶貴的時間，請在訂購前務必先確認各款尺寸。</li>
                <li>在GetMore，所有衣服都是獨一無二，請留給真心喜歡的人，減少退貨，也是節能減碳愛護地球的一種方式喔！  </li> 
                </ul>         
                <img class='pull-right' src='/assets/images/content/buy/product-07.png' />
                <div style='clear: both;'></div>
            </div>            
        </div> <!--end of tap -->    
      </div>
       <div class="right-detail-info-box">
          <div class="text-center detail-info-title">關於GetMore狂熱市集</div><hr />
          <p>GetMore 是一個以「共享經濟」為概念的時尚分享平台，我們的使命是挖掘世界各地的搭配達人，以及獨立品牌的時裝設計師。平台上的商品物權皆屬於賣家 / 獨立服裝設計師所擁有，在狂熱市集，由賣家為您解答商品的疑問，包裝、出貨，或是後續的退貨等服務。</p>
          <a href="http://support.getmore.cc/" target="_blank">更多問題 >> </a>
       </div>
  </div> <!--end of right-part -->
    <div style='clear: both;'></div>
</div>

  <div style="clear: both;"></div>
  <img style="margin-top:20px;" src="/assets/images/content/buy/plan_a_banner_2.jpg" />
  {% if not (clothings is empty) %}
  <div id='similar_suggestion_title'>看看同款式的衣服</div>      
  <div class='suggested-box'>
    <ul id='target'>
        {% for item in clothings %}
        <li>
            <a target='_blank' href='/clothing/marketplace/{{ item.id }}'>
                <div class='suggested-item-original-image'><img src="{{ item.files.0|s3_url }}" /></div>
                <div class='suggested-item-title'>{{ item.product_title }}</div>
                <div class='suggested-item-original-price'>NT$ {{ item.product_original_price|get_price_label }}</div>
                <div class='suggested-item-selling-price'><span>NT$ {{ item.product_sell_price }}</span></div>
            </a>
        </li>
        {% endfor %}
    </ul>
  </div>
  {% endif %}
  <!--<img style="margin-top:20px;" src="/assets/images/content/sell/marketplace_coming_soon.jpg">-->
    <script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js"></script>
    <script>        
        $(document).ready(function(){
            $('#target').lunZhuan({
                itemClass: 'suggested-item',
                buttonClass: 'suggested-item-button'
            });
            
            $('.new-social-share-button').click(function(e){
                e.preventDefault();
                window.open($(this).attr('href'), 'just_new', config='height=600,width=600');
            });
        });
    </script>
        
</div>
      <script>
          $(".product-other-image").click(function(){
              var src = $(this).children().attr("src");
              $("#product-main-image").attr("src", src);
              console.log(src);
          });
          
$(document).ready(function(){  
    var options = {  
            zoomType: 'standard',  
            lens:true,  
            preloadImages: true,  
            alwaysOn:false,  
            zoomWidth: 500,  
            zoomHeight: 400,  
            xOffset:90,  
          //  yOffset:30,  
            position:'left',
            showEffect: 'fadein'
            // hideEffect: 'fadeout'
            //...MORE OPTIONS  
    };  
    $('.product-main-image').jqzoom(options);  
});            
      </script>

<script type="text/javascript">
  
    $(function () {
        LikeButtonModule.setupLink();
        {% if logined %}
            LikeButtonModule.setIsLogined(true);
        {% endif %}
    });
</script>


<div class="modal fade" id='size-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">詳細尺寸</h4>
      </div>
      <div class="modal-body" id='size-modal-body'>
        <div class="modal-center">
              <center>
              <div id="measure_pic">
                <img src="{{ clothing['measure_img_url'] }}" id="measure_img" />
              </div>
              <div id='measure_column'>
                {% for key, size in clothing['measure'] %}
                  <div class='measure_unit'>
                    {% if size != "" %}
                        {{ size }}cm
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              </center>

              <div style='clear: both'></div>
            <br />
              <ul class='product-view-ul'>
                <li>測量出的尺寸數據會因為其布料彈性、水洗處理、測量起訖點等因素而出現些微誤差; 誤差值在+-2公分內視為合理範圍。</li>
                <li>為了避免因商品尺寸不合，耽誤您寶貴的時間，請在訂購前務必先確認各款尺寸。</li>
                <li>在GetMore，所有衣服都是獨一無二，請留給真心喜歡的人，減少退貨，也是節能減碳愛護地球的一種方式。  </li> 
              </ul>  
            <br />
            <a class='pull-right' data-dismiss="modal" data-toggle="modal" href="{% if clothing['gender'] == '2' %}#modalmen{% elseif clothing['gender'] == '1' %}#modalwomen{% elseif clothing['gender'] == '3' %}#modalkids{% endif %}" class="product-size-image">？如何測量</a>
        </div>
      </div>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id='sizetable-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
              {% if clothing['gender'] == '1' %}
                  女裝尺碼對照參考
              {% elseif clothing['gender'] == '2' %}
                  男裝尺碼對照參考
              {% endif %}
          </h4>
      </div>
      <div class="modal-body">
        <div class="modal-center">
          <center>
            <table id='sizetable'>
                {% if clothing['gender'] == '1' %}
                <tr>
                    <th>Regular</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                </tr>
                <tr>
                    <td>US</td>
                    <td>0</td>
                    <td>2</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>UK</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>EUR/FR</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>JP 1</td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>JP 2</td>
                    <td>3</td>
                    <td>5</td>
                    <td>7</td>
                    <td>9</td>
                    <td>11</td>
                    <td>13</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>牛仔褲</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24.25</td>
                    <td>26.27</td>
                    <td>28.29</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
                {% elseif clothing['gender'] == '2' %}
                <tr>
                    <th>Regular</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                </tr>                
                <tr>
                    <td>US</td>
                    <td></td>
                    <td>14½</td>
                    <td>15</td>
                    <td>15½</td>
                    <td>16</td>
                    <td>16½</td>
                </tr>
                <tr>
                    <td>UK</td>
                    <td></td>
                    <td>14½</td>
                    <td>15</td>
                    <td>15½</td>
                    <td>16</td>
                    <td>16½</td>
                </tr>
                <tr>
                    <td>EUR/FR</td>
                    <td></td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>JP 1</td>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>XXL</td>
                    <td></td>
                </tr>
                <tr>
                    <td>JP 2</td>
                    <td>36-37</td>
                    <td>38-39</td>
                    <td>40-41</td>
                    <td>42-43</td>
                    <td>44</td>
                    <td></td>
                </tr>
                <tr>
                    <td>牛仔褲</td>
                    <td>28-29</td>
                    <td>30-31</td>
                    <td>32-34</td>
                    <td>35-37</td>
                    <td>38-40</td>
                    <td>41-43</td>
                </tr>
                {% endif %}
            </table>
          </center>
            <hr />
        <ul class='product-view-ul'>
        <li>F：One Size / Free Size。</li>
        <li>吊牌/布標遺失、無尺碼，我們會依據丈量尺寸結果，給予衣服一個近似尺碼。<br/>
         ex. Fits L：表示這件好衣尺寸近似 L 。</li>
        <li>上表尺碼對照為普遍情形，可能因各個品牌不同而有所差異，僅供參考。 </li>
        </ul>            
        </div>
      </div>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <style>
  .btn-primary,.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    border-color: #dd641d;
  }
  </style>

        <script>
          $('#post_submit').click(function(event){
            event.preventDefault();
            var actionUrl = "/restful/post";

            var tempData, i , tempReceiver;
            tempReceiver = $( '#owner_id' ).val();
            //$( '#receiver' ).val( "999" );
            var tempData = $( '#message_post' ).serialize();
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// check content
   var message_title = ($('#message_title').val()).replace(/\s/gm,'');
   var message_content = ($('#message_content').val()).replace(/\s/gm,'');
   document.getElementById("message_title").style.background = ( message_title == "" ) ? "#FFFFCC" : "#FFFFFF";
   document.getElementById("message_content").style.background = ( message_content == "" ) ? "#FFFFCC" : "#FFFFFF";

   var alert_message = "系統偵測到可能是私下交易的文字。為了交易安全以及平台的權益，嚴禁私下交易喔！";
   var re = /[0-9]{6,}|電話|私下交易|面交|手續費|[零一二三四五六七八九]{6,}|[零壹貳參肆伍陸柒捌玖]{6,}|直接跟你買|直接聯絡|傳真|e[-]{0,1}mail|E[-]{0,1}mail|Line|line|一手交錢一手交貨|歡迎來店選購/;
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }

   re =/^([a-z0-9_\.-]+\@[\da-z\.-]+\.[a-z\.]{2,6})$/gm; // mail
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
            var formData;
                formData = new FormData(document.getElementById("message_post"));

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    dataType: 'json'
                }).done(function(post){
                    formData.append("post_id", post['_id']);

                    $.ajax({
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: "/restful/post/message",
                        data: formData,
                        dataType: 'json'
                    }).done(function(post){
                        $.ajax({
                            type: 'POST',
                            url: '/post/change_message_value',
                            data: {post_id: post['post_id'], read: 'true'},
                            dataType: 'json'
                         });
                        console.log("success");
                        location.reload();
                        // form.reset();
                        // var html = message_template(post);
                        // $(form).before(html);
                    }).fail(function(error){
                        console.log(error);
                    });

                    console.log();
                }).error(function(){
                    console.log("error");
                });
          });
        </script>
{% endblock %}

