{% extends 'template/mkplace_layout.html.twig' %}
  
{#  {% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">代買時尚 / Personal Shopper</a></div>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">達人二手 / Closet</a></div>
    </div>
  {% endblock %}
#}
{% block main %}
<div id="newbannerContainer"style="display: block;">
    <div class="plandescription">
      <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle">狂熱市集/MARKETPLACE</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味，</div>
        <div class="pageaboutp">你在這可以玩上一整天，享受這場時尚市集饗宴。</div>
        <div class="pageaboutp"><< BETA 搶先試賣中 >></div>
      </div>
    </div>
      <div class="productcontainer">
      <span class="fresh-title">
        熱門推薦 / HOT PICKS
      </span>
        <div class="fresh-box">
          {% for _proposal in proposal %}
            {% if _proposal.MarketPlace is not null and _proposal.MarketPlace.on_shelf == true %}
            <a target="_blank" href="/clothing/marketplace/{{ _proposal.MarketPlace.id }}">
             <div class="fresh-product-view">
                {% if _proposal.MarketPlace.lock_status != 0 %}
                  <div class="soldoutsticker">
                    <img src="/assets/images/home/{% if _proposal.MarketPlace.lock_status == 1 %}reserved.png{% elseif _proposal.MarketPlace.lock_status == 2 %}soldout.png{% endif %}" />
                  </div>
                {% endif %}
                <img src="http://s3.getmore.cc/clothing/{{ _proposal.MarketPlace.files[0] }}/medium.jpg">
                <div class="fresh-product-title">{{ _proposal.MarketPlace.product_title }}</div>
                <div class="fresh-product-price">
                  <span class="is-deleted">{{ _proposal.MarketPlace.product_original_price|get_price_label }}</span>
                  <span class="fresh-product-sale">NT${{ _proposal.MarketPlace.product_sell_price }}</span>
                  <span class="size-tag">Size {% if _proposal.MarketPlace.size_type_major != '腰圍' and _proposal.MarketPlace.size_type_major != 'S/M/L' and _proposal.MarketPlace.size_type_major != '牛仔褲' %}{{ _proposal.MarketPlace.size_type_major }}{% endif %}{{ _proposal.MarketPlace.size }}</span>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>  
      </div>
  <div id="newContainer"style="display: block;">
    <div class="fifthrow" style="border-bottom:0px;">
      <div class="pageabouttitle"><font class="pagecentertitle">達人募集中</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">熱愛時尚，上傳搭配照，在 GetMore 經營自己的衣櫃。</div>
        <div class="pageaboutp">達人，部落客，藝人，招募中！</div>
        <div class="pageaboutp">在 Getmore 分享自己的時尚品味，賺取現金。</div>
        <div class="pageaboutp" style="margin-top:10px;"><p></br><center><a href="http://blog.getmore.cc/2015/04/getmore-plan-a/" target="_blank"><button type="button" class="btn btn-primary">申請加入</button></a></center></p></div>
      </div>
    </div>
    <div class="fifthrow">
      <div class="pageabouttitle"><font class="pagecentertitle">ABOUT GETMORE</font></div>
      <div class="pageaboutbox">
        <div class="pageaboutp">GetMore是一個以「共享經濟」為概念的時尚分享網站</div>
        <div class="pageaboutp">在這裡，你可以輕鬆享受二手衣帶來的自由、獨特 、環保等時尚樂趣</div>
        <div class="pageaboutp" style="margin-top:10px;">Enjoy Pre-owed Fashion on GetMore Now!</div>
      </div>
    </div>
    <div class='sixthrow'>
      <div class='pageliketitle'><font class='pagecentertitle'>GET MORE GETMORE ON</font></div>
      <div class='pagelikebox'>
          <div class='pagelikefacebook'><a href='https://www.facebook.com/getmore.cc' class='pagelikea' target='_blank'><i class="fa fa-facebook fa-3x"></i></a></div>
          <div class='pagelikeinstagram'><a href='https://instagram.com/getmorecc/' class='pagelikea' target='_blank'><i class="fa fa-instagram fa-3x"></i></a></div>
          <div class='pagelikeyoutube'><a href='https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/feed' class='pagelikea' target='_blank'><i class="fa fa-youtube-square fa-3x"></i></a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

