{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
<ul class="nav navbar-nav">
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           What's New
        </a>
        <ul class="dropdown-menu dropdown-formenu" >
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#">新銳設計師</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown">  
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Designers
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">依品牌</a></li>
            <li><a tabindex="-1" href="#">依種類</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#" >新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Boutiques
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">編輯精選</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#">> 新銳設計師</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Up-and-Coming Designer
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li style="padding-top:10px;"><a href="#">WOMEN</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
            <li style="padding-top:10px;"><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>吳日云</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>邱美寧</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>IF&N</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>版塊位移</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Bags
        </a>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Women
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>裙子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle-formenu">|</a></li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Him
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>襯衫</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>褲子</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           for Kids
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>連身衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>上衣</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>下身</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>洋裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>外套</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>鞋</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>包</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>配件</a></li>
        </ul>
    </li>
    <li class="dropdown"> 
        <a href="#" class="dropdown-toggle js-activated dropdown-toggle-formenu" data-toggle="dropdown">
           Sale
        </a>
        <ul class="dropdown-menu dropdown-formenu">
            <li><a tabindex="-1" href="#">全部商品</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>女裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>男裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>童裝</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>Getmore Select</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>品牌代售</a></li>
            <li><a tabindex="-1" href="#"><i class="fa fa-angle-right" style="margin-right:7px;"></i>再次降價</a></li>
        </ul>
    </li>
</ul>
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div style="border-bottom:1px solid #000;padding:10px 0;overflow:auto;">
  <div style="float:right;font-size:10px;color:#333;"><a style="color:#000;">+ add to my designers</a></div><div style="float:left;font-size:10px;color:#333;">首頁 > WOMEN > 洋裝</div>
</div>
<div class="dsner-left">
  <div style="float:left;margin-right:15px;">
    <div class="thumbnailListItem">
      <img src="/assets/images/newpage/apujan/j1.jpg">
    </div>
  </div>
  <div style="float:left">
    <img style="width:364px;" src="/assets/images/newpage/apujan/j1.jpg">
    <div style="margin-top:30px;text-align:center;">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count">
      </div>
    </div>
    <div style="margin-top:20px;text-align:center;font-size:10px;color:#bbb;">PRODUCT CODE: 671549</div>
  </div>
</div>
<div class="dsner-right">
  <div class="dsner-des">
    <div class="dsner-brand"><img src="/assets/images/newpage/apujan/logo.png"></div>
    <div class="dsner-name">月神戴安娜洋裝</div>
    <div class="dsner-name">NT$ 5480</div>
    <div style="font-size:10px;margin-top:10px;">
      <a style="color:#bbb;">view size guide</a>
    </div>
    <div class="dsner-color-box">
      <select class="form-control dsner-color">
        <option>Select Color</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="dsner-size-box">
      <select class="form-control dsner-size">
        <option>Select size</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="dsner-buy-box">
      <button id="product-view-buy" class="btn product-view-buy dsner-buy">Add to Cart</button>
    </div>
    <div class="dsner-buy-box">
      <button id="product-view-buy" class="btn btn-default product-view-buy dsner-buy addto">加入欲望清單</button>
    </div>
  </div>

    <div class="dsner-nav">
      <ul class="nav nav-tabs dsner-tabs">
        <li role="presentation" class="active"><a href="#home" data-toggle="tab">商品說明</a></li>
        <li role="presentation"><a href="#">尺寸說明</a></li>
        <li role="presentation"><a href="#tab2" data-toggle="tab">品牌介紹</a></li>
        <li role="presentation"><a href="#" data-toggle="tab">交易政策</a></li>
      </ul>
      <div class="tab-content dsner-tab-content">
        <div class="tab-pane active" id="home">
          <ul class="list-unstyled" style="font-size:12px;line-height:23px;letter-spacing:1px;">
            <li>款式：長洋裝</li>
            <li>顏色：灰</li>
            <li>材質：100%絲質</li>
            <li>風格：數位印花</li>
            <li>季節：春夏</li>
          </ul>
          <div class="dsner-p">
            <p style="text-align:left;font-size:10px;color:#333;">
[mwa] [nɔ̃] [ply]<br />
法語 : 我也不。<br />
你不, 我也不。 你是, 我也不是。<br />
你喜歡不等於我喜歡。<br />
我喜歡也不在乎你喜歡。<br />
穿出自我。<br />
<br />
台灣獨立設計師品牌。<br />
所有商品皆為台灣設計製造, 小量手工製作。<br />
<br>
            </p>
            <a class="btn btn-default" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">Follow Designer&nbsp;&nbsp;&nbsp;&nbsp;+</a>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <ul class="list-unstyled">
            <li>款式：長洋裝</li>
            <li>顏色：藍</li>
            <li>風格：數位印花</li>
            <li>季節：春夏</li>
          </ul>
          <div class="dsner-p">
            <p style="text-align:left;font-size:10px;color:#333;">
              [mwa] [nɔ̃] [ply]<br />
法語 : 我也不。<br />
你不, 我也不。 你是, 我也不是。<br />
你喜歡不等於我喜歡。<br />
我喜歡也不在乎你喜歡。<br />
穿出自我。<br />
<br />
台灣獨立設計師品牌。<br />
所有商品皆為台灣設計製造, 小量手工製作。<br />
<br>
            </p>
            <a class="btn btn-default" style="border-radius:20px;font-size:10px;padding-left:20px;padding-right:20px;float:right;">Follow Designer&nbsp;&nbsp;&nbsp;&nbsp;+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=175511119170333";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 
<style>
  .dsner-left{
    float: left;
    padding:30px 20px 20px 0;
    width:471px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsner-right{
    float: left;
    padding:30px 20px 20px;
    width: 529px;
  }
  .dsner-des{
    padding-top:10px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .dsner-name{
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .dsner-color{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-size{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-nav{
    margin-top: 30px;
    width: 350px;
    margin: 40px auto 0 auto;
  }
  .dsner-tabs{

  }
  .dsner-tabs > li > a{
    border-radius: 0px;
    font-size: 10px;
  }
  .dsner-buy{
    width: 100%;
    margin-top: 10px;
  }
  .dsner-tab-content{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
    padding-top: 30px;
    //font-size: 10px;
    overflow: auto;
  }
  .dsner-p p{
    font-size: 10px;
  }

  .addto{
    background-color:#fff;
    color:#bbb;
    border:1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
  }

</style>
{% endblock %}