{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <link rel="stylesheet" href="/assets/css/newpage.css">
<style>
  .bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}

.littleproduct{
  margin-right:10px;float:left;margin-top:10px;
}

.littleproduct img{
  width:113px;
}
.littleproduct1{
  margin-left:10px;float:left;margin-top:10px;
}

.littleproduct1 img{
  width:113px;
  height: 169px;
}

.littleproduct2{
  margin-left: 7px;float:left;margin-top:6px;
}

.littleproduct2 img{
  width:70px;
}
</style>
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="//unslider.com/unslider.min.js"></script>
  {% endblock %}

{% block boxmenu %}
     {% include '/dropdownnav/general_boxmenu.twig' %}
   {#<div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>#}
{% endblock %}

{% block searchbox%}

    {% include '/searchbox/outside_search.twig' %}  

{% endblock %} 

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' with {type: type} %}    

</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div class="bannerbox">
  <div class="getmore_banner01">
    <div id="main-carousel" class="carousel slide carousel-margin" data-ride="carousel">
      <div class="carousel-inner">
        {% for index,banner in banners %}
          {% if index == 0 %}      
            <div class="item active">
          {% else %}
            <div class="item">
          {% endif %}
          <a href='{{ banner.href }}'  
          {% if banner.open_in_new_tab == true %} 
            target="_blank"
          {% endif %}
          >
            <img src="http://s3.getmore.cc/banner/{{ banner.file_id }}.jpg" >
          </a>
          </div>
            {% endfor %}
          </div>

    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#main-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
    </div>
  </div>
  <div class="getmore_banner02">
    <a href="{{ banner1.href }}" 
      {% if banner1.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img class="lazy" data-original="http://s3.getmore.cc/banner/{{ banner1.file_id }}.jpg" height="430">      
    </a>  </div>
  <div class="clear"></div>
</div>

<hr />
<div style="overflow:auto;">
  {#<div style="float:left;width:220px;margin-top:20px;">
    <div style="">熱門分類</div>
    <div style="width:175px;background-color:#bbb;height:600px;margin-top:20px;"></div>
  </div>#}
  <div style="float:left;width:500px;padding-right:7px;border-right:1px solid #eee;">
    <div style="margin-top:20px;">熱門新銳設計 &nbsp;&nbsp;/&nbsp;&nbsp; Designer</div>
    <div style="font-size:12px;color:#687E84;margin-top:8px;">亞洲新銳設計師，支持原創，享受獨特。</div>
    <div style="margin-top:20px;">
      <div style="overflow:auto;">
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/designer/191" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14448118843466909/medium.jpg" width="154px" style="margin-bottom:5px;">
          <div class="product-brand ng-binding" style="width:154px;">7crash</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">太空棉前開衩窄裙</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
           {# <span class="is-deleted ng-binding">NT$ 3580</span> #}
            <span class="fresh-product-sale ng-binding">NT$ 3580</span>
          </div>
          </a>
        </div>
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/designer/215" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14449117668776814/medium.jpg" width="154px" style="margin-bottom:5px;">
          <div class="product-brand ng-binding" style="width:154px;">銀河星光</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">紫色燙金蕾絲合身窄裙</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
          <span class="is-deleted ng-binding" ng-bind-template="NT$ 3280">NT$ 6290</span>
            <span class="fresh-product-sale ng-binding" >NT$ 3145</span>
          </div>
          </a>
        </div>
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/designer/297" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14483595647527003/medium.jpg" width="154px" style="margin-bottom:5px;">
          <div class="product-brand ng-binding" style="width:154px;" >sophiawu</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">¾袖圓領蕾絲點綴襯衫</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
            <span class="is-deleted ng-binding" ng-bind-template="NT$ 3280">NT$ 2680</span>
            <span class="fresh-product-sale ng-binding">NT$ 1876</span>
          </div>
          </a>
        </div>
       
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/172" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14446610833336891/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/184" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14448092161266909/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/136" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14440237431956818/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/271" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14465422232746810/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/458" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14491455513207041/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/342" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14484654261747019/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/464" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14491080744037023/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>

          <div class="littleproduct">
            <a href="http://getmore.cc/clothing/designer/432" target="_blank">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14489388725607016/medium.jpg"  style="margin-bottom:5px;">
            </a>
          </div>         
        <div style="float:right;margin-top:10px;font-size:12px;margin-right:15px;margin-top:20px;">
          <a href="http://getmore.cc/clothing/dsnerview">看更多原創設計...</a>
        </div>
      </div>
    </div>
  </div>


  <div style="float:left;width:500px;padding-left:8px;">
    <div style="margin-top:20px;margin-left:8px;">買手時尚 &nbsp;&nbsp;/&nbsp;&nbsp; Fashion Buyer</div>
    <div style="font-size:12px;color:#687E84;margin-top:8px;margin-left:8px;">由小店以及時尚達人為您選購。</div>
    <div style="margin-top:20px;">
      <div style="overflow:auto;">
        <div style="margin-left:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/buyer/587" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14502923749407042/medium.jpg" width="154px" style="margin-bottom:5px;">
          <div class="product-brand ng-binding" style="width:154px;">Boga Shop</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">韓國絨布鬆緊壓摺裙</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
            <span class="is-deleted ng-binding">NT$ 550</span>
            <span class="fresh-product-sale ng-binding">NT$ 480</span>
          </div>
          </a>
        </div>
        <div style="margin-left:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/buyer/561" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14501932109747043/medium.jpg" width="154px" style="margin-bottom:5px;">
          <div class="product-brand ng-binding" style="width:154px;" >21&Being</div>
            <div class="fresh-product-title ng-binding"  style="width:154px;">트쥬르高質感霧面皮質方形吊牌包</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
            <span class="is-deleted ng-binding" >NT$ 2090</span>
            <span class="fresh-product-sale ng-binding" >NT$ 1980</span>
          </div>
          </a>
        </div>
        <div style="margin-left:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/buyer/547" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14500360363307088/medium.jpg" width="154px" style="margin-bottom:5px;height:231px;">
          <div class="product-brand ng-binding" style="width:154px;" >女孩別哭</div>
            <div class="fresh-product-title ng-binding"  style="width:154px;">電子線條京都古著和服浴衣</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px">
            <span class="is-deleted ng-binding">NT$ 1480</span>
            <span class="fresh-product-sale ng-binding" >NT$ 1200</span>
          </div>
          </a>
        </div>
      
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/585" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14502914277667042/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/584" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14502911146867042/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/575" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14502551170887042/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/583" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14502901316837042/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/545" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14500356412817088/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/539" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14499546951457088/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/596" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14509377682117083/medium.jpg" style="margin-bottom:5px;">
          </div>
          <div class="littleproduct1">
            <a href="http://getmore.cc/clothing/buyer/620" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14512803350217083/medium.jpg" style="margin-bottom:5px;">
          </div>       
        <div style="float:right;margin-top:10px;font-size:12px;margin-right:15px;margin-top:20px;">
          <a href="http://getmore.cc/clothing/dsnerview#?type=women&gender=1&group=Accessories&group=Bags&group=Shoes">看更多買手商品...</a>
        </div>
      </div>
    </div>
  </div>
 {# <div style="float:left;overflow:auto;">
    <div style="margin-top:20px;">
    <img src="http://img4.zozo.jp/internationalShipping/pc/bnr_buyee_han.gif" width="210px'">
    </div>
    <div style="margin-top:20px;">
    <img src="http://img4.zozo.jp/internationalShipping/pc/CpBusBnr20151102_han.gif" width="210px">
    </div>
  </div> #}
</div>
<hr />
<div style="overflow:auto">
  <div style="float:left;width:680px;padding-right:7px;border-right:1px solid #eee;">
        <div style="margin-top:20px;margin-left:8px;">新上架 二手代售 &nbsp;&nbsp;/&nbsp;&nbsp; Consignment</div>
        <div style="font-size:12px;color:#687E84;margin-top:8px;margin-left:8px;">二手代售，二次時尚的新選擇。</div>
        <div style="margin-top:20px;">
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/brandsonly/7644" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14483545319005677/medium.jpg" width="154px" style="margin-bottom:5px;">
            <div class="product-brand ng-binding" style="width:154px;" >BURBERRY</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">墨綠及膝裙</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px;height:40px;">
              <span class="is-deleted ng-binding" >NT$1.5萬~2萬元</span><br />
              <span class="fresh-product-sale ng-binding" >NT$ 3588</span>
              <span class="ng-binding ng-scope" style="font-size:10px;"> US 4</span>
            </div>
          </a>
        </div>
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/brandsonly/5496" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/20270/medium.jpg" width="154px" style="margin-bottom:5px;">
            <div class="product-brand ng-binding" style="width:154px;" >Club Monaco</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">黑白條紋上衣</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px;height:40px;">
              <span class="is-deleted ng-binding" >NT$4,001~5,000元</span><br />
              <span class="fresh-product-sale ng-binding" >NT$ 650</span>
              <span class="ng-binding ng-scope" style="font-size:10px;">S</span>
            </div>
          </a>
        </div>
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/brandsonly/7527" target="_blank" style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14401469700755677/medium.jpg" width="154px" style="margin-bottom:5px;">
            <div class="product-brand ng-binding" style="width:154px;" >CLUB MONACO</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">黑色小外套</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px;height:40px;">
              <span class="is-deleted ng-binding" >NT$6,001~7,000元</span><br />
              <span class="fresh-product-sale ng-binding" >NT$ 1000</span>
              <span class="ng-binding ng-scope" style="font-size:10px;"> XS </span>
            </div>
          </a>
        </div>
        <div style="margin-right:10px;float:left;margin-bottom:10px;">
          <a href="http://getmore.cc/clothing/brandsonly/7591" target="_blank"  style="text-decoration:none">
            <img class="lazy" data-original="http://s3.getmore.cc/clothing/14473992751305677/medium.jpg" width="154px" style="margin-bottom:5px;">
            <div class="product-brand ng-binding" style="width:154px;">JESSICA</div>
            <div class="fresh-product-title ng-binding" style="width:154px;">粉色金屬垂墜腰帶上衣</div>
            <div class="fresh-product-price" style="overflow:hidden;width:154px;height:40px;">
              <span class="is-deleted ng-binding" >NT$7,001~8,000元</span><br />
              <span class="fresh-product-sale ng-binding" >NT$ 1500</span>
              <span class="ng-binding ng-scope" style="font-size:10px;">S</span>
            </div>
          </a>
        </div>
        <div style="float:right;margin-top:10px;font-size:12px;margin-right:35px;margin-top:20px;">
          <a href="http://getmore.cc/clothing/newbrandsonly">看更多品牌二手...</a>
        </div>
        </div>
  </div>


  <div style="float:left;width:320px;padding-left:8px;">
    <div style="margin-top:20px;margin-left:8px;">秋冬精選二手大衣</div>
    <div style="font-size:12px;color:#687E84;margin-top:8px;margin-left:8px;">天冷，選一件品牌二手大衣</div>
    <div style="margin-top:20px;">
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/3409" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/13118/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/6026" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14274429905065677/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/1194" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/5202/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/1288" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/5545/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
            <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/7709" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/14495666477755677/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
            <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/5347" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/19683/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/4242" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/15974/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>
          <div class="littleproduct2">
            <a href="http://getmore.cc/clothing/brandsonly/5174" target="_blank">
              <img class="lazy" data-original="http://s3.getmore.cc/clothing/19062/medium.jpg" style="margin-bottom:5px;">
            </a>
          </div>    
          <div style="float:right;margin-top:10px;font-size:12px;margin-right:35px;margin-top:20px;">
          <a href="http://getmore.cc/clothing/newbrandsonly#?type=women&product_type=151&product_type=152&product_type=153&page=1 ">看更多品牌大衣...</a>
          </div>
      </div>
    </div>
  </div>

</div>
  <hr />
{#
<div class="bannerboxtitle">當週推薦 &nbsp;&nbsp;/&nbsp;&nbsp; WEEKLY MOST WANTED</div>
<div class="bannerbox2">
  <div class="getmore_banner03">
    <a href="{{ banner2.href }}"
      {% if banner2.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner2.file_id }}.jpg" height="330" width="330">      
    </a>
  </div>
  <div class="getmore_banner04">
    <a href="{{ banner3.href }}"
      {% if banner3.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner3.file_id }}.jpg" height="330" width="330">      
    </a>  </div>
  <div class="getmore_banner05">
    <a href="{{ banner4.href }}"
      {% if banner4.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner4.file_id }}.jpg" height="330" width="330">      
    </a>  </div>
  <div class="clear"></div>
</div> 
<div>
  <hr /> #}
  {% if recently_viewed|length > 0 %}
  <div class="bannerboxtitle">最近瀏覽 &nbsp;&nbsp;/&nbsp;&nbsp; RECENTLY VIEWED</div>
  <div class="viewproductslider">
    <div class="recentViewBox">
      <ul style="padding-left:40px;">
          {% for page in recently_viewed %}
            <li>
              {% for product in page %}
              <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
                <a href="{{ product_link(product.launch_way, product.id) }}" target="_blank">
                    <img src="http://s3.getmore.cc/clothing/{{ product.files[0] }}/medium.jpg"  width="133px; max-height:200px;">                    
                </a>
              </div>
              {% endfor %}
            </li>
          {% endfor %}
      </ul>
        <div id="next">
            <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <div id="previous">
            <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
        </div>
      </div>
  </div>
  {% else %}
  <div class="bannerboxtitle">主編推薦 &nbsp;&nbsp;/&nbsp;&nbsp; Editors' Picks</div>
  <div class="viewproductslider">
   <div class="recentViewBox">
      <ul style="padding-left:10px;">
        {% for page in suggest %}
          <li>
            {% for product in page%}
            <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
               <a href="{{ product_link(product.launch_way, product.product_id) }}" target="_blank">
                  <img src="http://s3.getmore.cc/clothing/{{ product.files}}/medium.jpg" height="200" width="133">
              </a>
            </div>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
        <div id="next">
            <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <div id="previous">
            <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
        </div>
      </div>
  </div>
  {% endif %}
  <hr />

<div class="marginbottom30">
  <div style="width:500px;float:left;">
      <div class="fb-page" data-href="https://www.facebook.com/getmore.cc" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getmore.cc"><a href="https://www.facebook.com/getmore.cc">Getmore</a></blockquote></div></div>
  </div> 
  <div style="float:right;width:450px;height:214px;" class="bookinggetmore">
    <form action="http://www.newsleopard.com/mailverify.htm?x=8a383d3a4e26ae89014e2e9128552da7"  target="popupwindow" method="post" onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
      <div style="padding:20px;margin-top:100px;float:right;">
        <p>
          <span><input style="width:260px;border:3px solid #000;"  class="form-control" placeholder="請輸入Email" name="email" type="text"/></span></center>
        </p>
        <input style="float:right;"class="btn" value="立即訂閱" type="submit"/>
      </div>
    </form>
  </div>
  <div class="clear"></div> 
</div>

<div class="modal fade" id='ask_for_email_modal'>
  <div class="modal-dialog-500">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">讓我們多了解你，輸入一些資料！</h4>
      </div>
      <form role="form" method='POST' action='/#' id="ask_for_email_form">
        <div class="modal-body" style="padding: 25px;">  
            <div class="form-group">
              <label ><span style="font-weight:blod;">暱稱：</span></label>
                <input type="text" id='nickname' class="form-control" name='nickname'  value='{{ userdata.nickname }}' placeholder="如何稱呼？">
                <label class="sex">
                  <input type="radio" name="sex" value="0" {% if userdata.sex  == false %} checked="true" {% endif %}> 小姐
                </label>
                <label class="sex">
                  <input type="radio" name="sex" value="1" {% if userdata.sex %} checked="true" {% endif %}> 先生
                </label>
            </div>
            <div class="form-group">
              <label ><span style="font-weight:blod;">常用email</span></label>
                <input type="email" id='active_email' class="form-control" name='active_email'  value='{{ userdata.active_email }}' placeholder="請輸入您常用的email">
                <p class="help-block">
                  <span class='btn btn-default btn-xs' id='fill_in_my_registration_email' data-registration_email='{{ userdata.email }}'>填入我的註冊信箱</span>
                </p>
            </div>
             <div class="form-group">
              <label ><span style="font-weight:blod;">生日</span></label>
                <input type="text" id='birthday' class="form-control" name='birthday'  value='{% if userdata.birthday %} {{ userdata.birthday }} {% endif %}' placeholder="yyyy-mm-dd">
                <label class="help-block" for="">格式為：yyyy-mm-dd</label>
            </div>        
         </div>
          <div class="modal-footer">
            <div class="form-group" style="text-align:center;margin-bottom:0px;">
                <button type="submit" id='submit' class="btn btn-primary">確定送出</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
  $("img.lazy").lazyload({
    effect : "fadeIn",
    skip_invisible : true,
    threshold : 200
  });
  var unslider = $('.recentViewBox').unslider({
    speed: 500,
    delay: false,
    keys: true,
    dots: true,
  });
  $('.next').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').next();
      return false;
  });
  $('.previous').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').prev();
      return false;
  });
  {% if dataNotComplete %}
    $(document).ready(function() {
      $('#ask_for_email_modal').modal('show');
      $('#fill_in_my_registration_email').click(function(){
        console.log('click');
        var registration_email = $(this).data('registration_email');
        console.log(registration_email);
        $('#active_email').val(registration_email);
      });
      $("#ask_for_email_form").submit(function(event) {
        $.ajax({
          method: "PUT",
          url: "/restful/user",
          data: $( this ).serialize(),
        });
        $('#ask_for_email_modal').modal('hide');
        event.preventDefault();
      });
    });
  {% endif %}

</script>
<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    $(function () {
        LikeButtonModule.initialize();
        //<?php if($logined): ?>
            LikeButtonModule.setIsLogined(true);
        //<?php endif; ?>
    });
</script>
{% endblock %}