{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
    <link rel="stylesheet" href="/assets/css/newpage.css">
<style>
  .bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
</style>
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="//unslider.com/unslider.min.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}

{% block searchbox%}
    {% include '/searchbox/outside_search.twig' %}   
{% endblock %} 

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' with {type: type} %}    

</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div class="bannerbox">
  <div class="getmore_banner01">
    <div id="main-carousel" class="carousel slide carousel-margin" data-ride="carousel">
      <div class="carousel-inner">
        {% for index,banner in banners %}
          {% if index == 0 %}      
            <div class="item active">
          {% else %}
            <div class="item">
          {% endif %}
          <a href='{{ banner.href }}'  
          {% if banner.open_in_new_tab == true %} 
            target="_blank"
          {% endif %}
          >
            <img src="http://s3.getmore.cc/banner/{{ banner.file_id }}.jpg" >
          </a>
          </div>
            {% endfor %}
          </div>

    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#main-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
    </div>
  </div>
  <div class="getmore_banner02">
    <a href="{{ banner1.href }}" 
      {% if banner1.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner1.file_id }}.jpg" height="430">      
    </a>  </div>
  <div class="clear"></div>
</div>
<div class="bannerboxtitle">當週推薦 &nbsp;&nbsp;/&nbsp;&nbsp; WEEKLY MOST WANTED</div>
<div class="bannerbox2">
  <div class="getmore_banner03">
    <a href="{{ banner2.href }}"
      {% if banner2.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner2.file_id }}.jpg" height="330" width="330">      
    </a>
  </div>
  <div class="getmore_banner04">
    <a href="{{ banner3.href }}"
      {% if banner3.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner3.file_id }}.jpg" height="330" width="330">      
    </a>  </div>
  <div class="getmore_banner05">
    <a href="{{ banner4.href }}"
      {% if banner4.open_in_new_tab == true %} 
        target="_blank"
      {% endif %}
    >
      <img src="http://s3.getmore.cc/banner/{{ banner4.file_id }}.jpg" height="330" width="330">      
    </a>  </div>
  <div class="clear"></div>
</div>
<div>
  <hr />
  {% if recently_viewed|length > 0 %}
  <div class="bannerboxtitle">最近瀏覽 &nbsp;&nbsp;/&nbsp;&nbsp; RECENTLY VIEWED</div>
  <div class="viewproductslider">
    <div class="recentViewBox">
      <ul style="padding-left:40px;">
          {% for page in recently_viewed %}
            <li>
              {% for product in page %}
              <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
                <a href="{{ product_link(product.launch_way, product.id) }}" target="_blank">
                    <img src="http://s3.getmore.cc/clothing/{{ product.files[0] }}/medium.jpg"  width="133px; max-height:200px;">                    
                </a>
              </div>
              {% endfor %}
            </li>
          {% endfor %}
      </ul>
        <div id="next">
            <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <div id="previous">
            <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
        </div>
      </div>
  </div>
  {% else %}
  <div class="bannerboxtitle">主編推薦 &nbsp;&nbsp;/&nbsp;&nbsp; Editors' Picks</div>
  <div class="viewproductslider">
   <div class="recentViewBox">
      <ul style="padding-left:10px;">
        {% for page in suggest %}
          <li>
            {% for product in page%}
            <div style="display:inline;height:210px;overflow:auto;padding:0 10px;">
               <a href="{{ product_link(product.launch_way, product.product_id) }}" target="_blank">
                  <img src="http://s3.getmore.cc/clothing/{{ product.files}}/medium.jpg" height="200" width="133">
              </a>
            </div>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
        <div id="next">
            <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <div id="previous">
            <a href="#" class="unslider-arrow previous"><i class="fa fa-chevron-circle-left  fa-2x"></i></a>
        </div>
      </div>
  </div>
  {% endif %}
  <hr />
</div>

    <div class="marginbottom30">
      <div style="width:500px;float:left;">
          <div class="fb-page" data-href="https://www.facebook.com/getmore.cc" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getmore.cc"><a href="https://www.facebook.com/getmore.cc">Getmore</a></blockquote></div></div>
      </div> 
      <div style="float:right;width:450px;height:214px;" class="bookinggetmore">
        <form action="http://www.newsleopard.com/mailverify.htm?x=8a383d3a4e26ae89014e2e9128552da7"  target="popupwindow" method="post" onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
          <div style="padding:20px;margin-top:100px;float:right;">
            <p>
              <span><input style="width:260px;border:3px solid #000;"  class="form-control" placeholder="請輸入Email" name="email" type="text"/></span></center>
            </p>
            <input style="float:right;"class="btn" value="立即訂閱" type="submit"/>
          </div>
        </form>
      </div>
      <div class="clear"></div> 
    </div>

<div class="modal fade" id='ask_for_email_modal'>
  <div class="modal-dialog-500">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">讓我們多了解你，輸入一些資料！</h4>
      </div>
      <form role="form" method='POST' action='/#' id="ask_for_email_form">
        <div class="modal-body" style="padding: 25px;">  
            <div class="form-group">
              <label ><span style="font-weight:blod;">暱稱：</span></label>
                <input type="text" id='nickname' class="form-control" name='nickname'  value='{{ userdata.nickname }}' placeholder="如何稱呼？">
                <label class="sex">
                  <input type="radio" name="sex" value="0" {% if userdata.sex  == false %} checked="true" {% endif %}> 小姐
                </label>
                <label class="sex">
                  <input type="radio" name="sex" value="1" {% if userdata.sex %} checked="true" {% endif %}> 先生
                </label>
            </div>
            <div class="form-group">
              <label ><span style="font-weight:blod;">常用email</span></label>
                <input type="email" id='active_email' class="form-control" name='active_email'  value='{{ userdata.active_email }}' placeholder="請輸入您常用的email">
                <p class="help-block">
                  <span class='btn btn-default btn-xs' id='fill_in_my_registration_email' data-registration_email='{{ userdata.email }}'>填入我的註冊信箱</span>
                </p>
            </div>
             <div class="form-group">
              <label ><span style="font-weight:blod;">生日</span></label>
                <input type="text" id='birthday' class="form-control" name='birthday'  value='{% if userdata.birthday %} {{ userdata.birthday }} {% endif %}' placeholder="yyyy-mm-dd">
                <label class="help-block" for="">格式為：yyyy-mm-dd</label>
            </div>        
         </div>
          <div class="modal-footer">
            <div class="form-group" style="text-align:center;margin-bottom:0px;">
                <button type="submit" id='submit' class="btn btn-primary">確定送出</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
  var unslider = $('.recentViewBox').unslider({
    speed: 500,
    delay: false,
    keys: true,
    dots: true,
  });
  $('.next').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').next();
      return false;
  });
  $('.previous').click(function() {
      var fn = this.className.split(' ')[1];
      unslider.data('unslider').prev();
      return false;
  });
  {% if dataNotComplete %}
    $(document).ready(function() {
      $('#ask_for_email_modal').modal('show');
      $('#fill_in_my_registration_email').click(function(){
        console.log('click');
        var registration_email = $(this).data('registration_email');
        console.log(registration_email);
        $('#active_email').val(registration_email);
      });
      $("#ask_for_email_form").submit(function(event) {
        $.ajax({
          method: "PUT",
          url: "/restful/user",
          data: $( this ).serialize(),
        });
        $('#ask_for_email_modal').modal('hide');
        event.preventDefault();
      });
    });
  {% endif %}

</script>
<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    $(function () {
        LikeButtonModule.initialize();
        //<?php if($logined): ?>
            LikeButtonModule.setIsLogined(true);
        //<?php endif; ?>
    });
</script>
{% endblock %}