{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
  {% endblock %}

{% block boxmenu %}
     {% include '/dropdownnav/general_boxmenu.twig' %}
{% endblock %}

{% block searchbox%}
    {% include '/searchbox/outside_search.twig' %}  
{% endblock %} 

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div class="loading text-center" style="margin:10% 0">
  <i class="fa fa-spinner fa-pulse fa-4x"></i>
</div>
<div ng-app="DesignerView" class="content" style="display:none">
  <div id="categorySelection" style="float:left;width:175px;padding:30px 10px 20px 0;" ng-controller="ClothingFilterController">
    <ul class="leftcate list-unstyled" style="font-size:12px;">
        <li><a tabindex="-1" href="#?page=1">全部商品</a></li>
        {% for gender_querys, title in gender_list %}
        <li data-toggle="collapse" style="padding-top:10px;"><a href="#?{{ gender_querys }}&page=1&[[ search_obj|param:['season'] ]]">{{ title }}</a></li>
        <ul class="collapse" style="list-style: none;margin-left: -30px;" ng-class="isActive('{{ gender_querys }}');">
            {% for product_tye_query, title in product_type_list[title] %}
            <li>
                <a tabindex="-1" data-toggle="collapse" href="#?{{ gender_querys }}&{{ product_tye_query }}&page=1&[[ search_obj|param:['season'] ]]">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>{{ title }}
                </a>
                <ul class="collapse" style="list-style: none;margin-left: -30px;" ng-class="isActive('{{ gender_querys }}&{{ product_tye_query }}');">
                {% for pattern_query, title in patterns[product_tye_query] %}
                    <li>
                        <a tabindex="-1" data-toggle="collapse" href="#?{{ gender_querys }}&{{ product_tye_query }}&{{ pattern_query }}&page=1&[[ search_obj|param:['season'] ]]">
                            <i class="fa fa-angle-right" style="margin-right:7px;"></i>{{ title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% if type == null %}
    <div class="leftfilter">
        <div class="leftfilter-title">類別<a class="pull-right clearall" ng-click="clearAll('launch_way')">Clear</a></div>
        <div style="max-height: 275px; font-size:10px; overflow:hidden; border:1px solid #bbb;padding: 5px;">
            <label class="style_label pull-left"><input type="checkbox" value="3" class="style" ng-model="launch_way_list[3]" ng-init="launch_way_list[3] = true">全新設計師商品</label>
            <label class="style_label pull-left"><input type="checkbox" value="2" class="style" ng-model="launch_way_list[2]" ng-init="launch_way_list[2] = true">二手品牌商品</label>
            <label class="style_label pull-left"><input type="checkbox" value="2" class="style" ng-model="launch_way_list[4]" ng-init="launch_way_list[4] = true">時尚買手商品</label>
        </div>
    </div>
    {% endif %}
    {% if type != null %}
    <div class="leftfilter">
        <div class="leftfilter-title">顏色<a class="pull-right clearall" ng-click="clearAll('color')">Clear</a></div>
        <div style="margin-top:10px;">
            {% for index, color in ['black', 'white', 'gray', 'red', 'green', 'brown', 'blue', 'orange', 'purple', 'pink', 'yellow', 'color'] %}
            <label class="color_label"><input type="checkbox" value="{{ color }}" class="color" ng-model="color_list['{{color}}']"> <img src="/admin/assets/images/colorbox/{{ color }}.png"></label>
            {% endfor %}
        </div>  
    </div>
    {% endif %}
    <div class="leftfilter">
        <div class="leftfilter-title">風格<a class="pull-right clearall" ng-click="clearAll('style')">Clear</a></div>
        <div style="max-height: 275px; font-size:10px; overflow:auto; border:1px solid #bbb;padding: 5px;">
            {% for style, text in style_list %}
            <label class="style_label pull-left" style="width: 50%;"><input type="checkbox" value="{{ style }}" class="style" ng-model="style_list['{{ style }}']">{{ text }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="leftfilter">
        <div class="leftfilter-title">季節<a class="pull-right clearall" ng-click="clearAll('season')">Clear</a></div>
          <div style="font-size:10px;padding: 5px;">
            <div>
                {% for season, text in season_list %}
                <label class="season_label"><input type="checkbox" value="{{ season }}" class="season" ng-model="season_list['{{ season }}']">{{ text }}</label>
                {% endfor %}
            </div>
          </div>
    </div>
  </div>
  <div class="cateright" ng-controller="PaginationController">
    <div class="plandescription" style="margin-bottom:0px;border-bottom: 1px solid #999;">
        <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle red">Sale!!&nbsp;Sale!!</font></div>
      <div class="pageaboutbox">
          <div class="pageaboutp">把握機會！享受時尚！</div> 
          <div class="pageaboutp">您也可以利用左側的篩選器，或是上方的分類，找到喜歡的單品。</div> 
      </div>
    </div>
    <div class="pull-right">
        <paging
            class="small"
            page="currentPage"
            page-size="pageSize"
            total="total"
            scroll-top="true" 
            hide-if-empty="true"
            show-prev-next="true"
            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
        </paging>
    </div>
    <div class="cateproduct">
        <div style="padding-top:10px;margin-left: -15px;overflow: auto;clear: both;" ng-controller="ClothingListController">
            <a target="_blank" ng-href="/clothing/[[ clothing.launch_way|launch_way ]]/[[ clothing.id ]]" ng-repeat="clothing in clothings">
                <div class="fresh-product-view lock-status-[[ clothing.lock_status ]]">
                <div class="discountlable" ng-if="clothing.product_original_price|discount:clothing.product_sell_price"><center><div class="discountlablep">[[ clothing.product_original_price|discount:clothing.product_sell_price ]]<br/>折</div></center></div>
                <div style="background-image: url('http://s3.getmore.cc/clothing/[[ clothing.files[0] ]]/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img  src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                </div>
                  <div class="product-brand" ng-bind-template="[[ clothing.product_brand ]]"></div>
                  <div class="fresh-product-title" ng-bind-template="[[ clothing.product_title ]]"></div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted" ng-bind-template="NT$ [[ clothing.product_original_price ]]" ng-if="clothing.launch_way == 3"></span>
                    <span class="is-deleted" ng-bind-template="NT$ [[ clothing.product_original_price|preview_price ]]" ng-if="clothing.launch_way == 2"></span>
                    <span class="fresh-product-sale" ng-bind-template="NT$ [[ clothing.product_sell_price ]]"></span>
                  </div>
                  <img ng-repeat="color in clothing.colors" ng-src="/admin/assets/images/colorbox/[[ color ]].png" style="width: 10px;height: 10px;margin-right:3px;" ng-if="clothing.launch_way == 3 && clothing.colors.length != 1">
                  <span ng-if="clothing.launch_way == 2" ng-bind-template="[[ clothing.size_type_major ]] [[ clothing.size ]]"></span>
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent" data-id="[[ clothing.id ]]" {% if user_id %} ng-click="toggle_like($event, clothing)" {% else %} data-toggle="modal" data-target="#logInModal" onclick="return false;" {% endif %} ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i>
                        <div ng-bind="clothing.isLike?'SAVED':'SAVE'"></div></div>
                  </div>
                </div>
            </a>
            <div ng-if="!(clothings|size)" class="text-center">
                <div class='alert alert-info'>系統目前找不到這類商品喔！</div>
                <img src="/assets/images/home20/noclothe.png">
            </div>
        </div>
        <div class="pull-right">
            <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                scroll-top="true" 
                hide-if-empty="true"
                show-prev-next="true"
                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
            </paging>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function toTop() {
    $(window).scrollTop($(".cateright").offset().top);
  }

  angular.module('DesignerView', ['ngRoute'])
    .config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }])
    .run(['$location', '$rootScope', function($location, $rootScope){
        $rootScope.$on('$locationChangeSuccess', function(e){
            if(!$location.search()['page']){
                $location.search('page', 1);
            }
            $rootScope.$broadcast('clothing_change');
        });
    }])
    .directive('paging', function () {

        /**
         * The angular return value required for the directive
         * Feel free to tweak / fork values for your application
         */
        return {

            // Restrict to elements and attributes
            restrict: 'EA',

            // Assign the angular link function
            link: fieldLink,

            // Assign the angular scope attribute formatting
            scope: {
                page: '=',
                pageSize: '=',
                total: '=',
                dots: '@',
                hideIfEmpty: '@',
                ulClass: '@',
                activeClass: '@',
                disabledClass: '@',
                adjacent: '@',
                scrollTop: '@',
                showPrevNext: '@',
                pagingAction: '&'
            },

            // Assign the angular directive template HTML
            template: 
                '<ul data-ng-hide="Hide" data-ng-class="ulClass"> ' +
                    '<li ' +
                        'title="{{Item.title}}" ' +
                        'data-ng-class="Item.liClass" ' +
                        'data-ng-click="Item.action()" ' +
                        'data-ng-repeat="Item in List"> ' +
                            '<span data-ng-bind="Item.value"></span> ' +
                    '</li>' +
                '</ul>'
        };


        /**
         * Link the directive to enable our scope watch values
         *
         * @param {object} scope - Angular link scope
         * @param {object} el - Angular link element
         * @param {object} attrs - Angular link attribute
         */
        function fieldLink(scope, el, attrs) {

            // Hook in our watched items
            scope.$watchCollection('[page,pageSize,total]', function () {
                build(scope, attrs);
            });
        }


        /**
         * Assign default scope values from settings
         * Feel free to tweak / fork these for your application
         *
         * @param {Object} scope - The local directive scope object
         * @param {Object} attrs - The local directive attribute object
         */
        function setScopeValues(scope, attrs) {

            scope.List = [];
            scope.Hide = false;
            scope.dots = scope.dots || '...';
            scope.page = parseInt(scope.page) || 1;
            scope.total = parseInt(scope.total) || 0;
            scope.ulClass = scope.ulClass || 'pagination pagination-sm';
            scope.adjacent = parseInt(scope.adjacent) || 2;
            scope.activeClass = scope.activeClass || 'active';
            scope.disabledClass = scope.disabledClass || 'disabled';

            scope.scrollTop = scope.$eval(attrs.scrollTop);
            scope.hideIfEmpty = scope.$eval(attrs.hideIfEmpty);
            scope.showPrevNext = scope.$eval(attrs.showPrevNext);
        }


        /**
         * Validate and clean up any scope values
         * This happens after we have set the scope values
         *
         * @param {Object} scope - The local directive scope object
         * @param {int} pageCount - The last page number or total page count
         */
        function validateScopeValues(scope, pageCount) {

            // Block where the page is larger than the pageCount
            if (scope.page > pageCount) {
                scope.page = pageCount;
            }

            // Block where the page is less than 0
            if (scope.page <= 0) {
                scope.page = 1;
            }

            // Block where adjacent value is 0 or below
            if (scope.adjacent <= 0) {
                scope.adjacent = 2;
            }

            // Hide from page if we have 1 or less pages
            // if directed to hide empty
            if (pageCount <= 1) {
                scope.Hide = scope.hideIfEmpty;
            }
        }


        /**
         * Assign the method action to take when a page is clicked
         *
         * @param {Object} scope - The local directive scope object
         * @param {int} page - The current page of interest
         */
        function internalAction(scope, page) {

            // Block clicks we try to load the active page
            if (scope.page == page) {
                return;
            }

            // Update the page in scope
            scope.page = page;

            // Pass our parameters to the paging action
            scope.pagingAction({
                page: scope.page,
                pageSize: scope.pageSize,
                total: scope.total
            });

            // If allowed scroll up to the top of the page
            if (scope.scrollTop) {
                scrollTo(0, 0);
            }
        }


        /**
         * Add the first, previous, next, and last buttons if desired
         * The logic is defined by the mode of interest
         * This method will simply return if the scope.showPrevNext is false
         * This method will simply return if there are no pages to display
         *
         * @param {Object} scope - The local directive scope object
         * @param {int} pageCount - The last page number or total page count
         * @param {string} mode - The mode of interest either prev or last
         */
        function addPrevNext(scope, pageCount, mode) {

            // Ignore if we are not showing
            // or there are no pages to display
            if (!scope.showPrevNext || pageCount < 1) {
                return;
            }

            // Local variables to help determine logic
            var disabled, alpha, beta;


            // Determine logic based on the mode of interest
            // Calculate the previous / next page and if the click actions are allowed
            if (mode === 'prev') {

                disabled = scope.page - 1 <= 0;
                var prevPage = scope.page - 1 <= 0 ? 1 : scope.page - 1;

                alpha = {
                    value: "<<",
                    title: 'First Page',
                    page: 1
                };

                beta = {
                    value: "<",
                    title: 'Previous Page',
                    page: prevPage
                };

            } else {

                disabled = scope.page + 1 > pageCount;
                var nextPage = scope.page + 1 >= pageCount ? pageCount : scope.page + 1;

                alpha = {
                    value: ">",
                    title: 'Next Page',
                    page: nextPage
                };

                beta = {
                    value: ">>",
                    title: 'Last Page',
                    page: pageCount
                };
            }

            // Create the Add Item Function
            var buildItem = function (item, disabled) {
                return {
                    value: item.value,
                    title: item.title,
                    liClass: disabled ? scope.disabledClass : '',
                    action: function () {
                        if (!disabled) {
                            internalAction(scope, item.page);
                        }
                    }
                };
            };

            // Build our items
            var alphaItem = buildItem(alpha, disabled);
            var betaItem = buildItem(beta, disabled);
            
            // Add our items
            scope.List.push(alphaItem);
            scope.List.push(betaItem);
        }


        /**
         * Adds a range of numbers to our list
         * The range is dependent on the start and finish parameters
         *
         * @param {int} start - The start of the range to add to the paging list
         * @param {int} finish - The end of the range to add to the paging list
         * @param {Object} scope - The local directive scope object
         */
        function addRange(start, finish, scope) {
           
            // Create the Add Item Function
            var buildItem = function (i) {
                return {
                    value: i,
                    title: 'Page ' + i,
                    liClass: scope.page == i ? scope.activeClass : '',
                    action: function () {
                        internalAction(scope, this.value);
                    }
                };
            };
           
            // Add our items where i is the page number
            var i = 0;
            for (i = start; i <= finish; i++) {
                var item = buildItem(i);
                scope.List.push(item);
            }
        }


        /**
         * Add Dots ie: 1 2 [...] 10 11 12 [...] 56 57
         * This is my favorite function not going to lie
         *
         * @param {Object} scope - The local directive scope object
         */
        function addDots(scope) {
            scope.List.push({
                value: scope.dots
            });
        }


        /**
         * Add the first or beginning items in our paging list
         * We leverage the 'next' parameter to determine if the dots are required
         *
         * @param {Object} scope - The local directive scope object
         * @param {int} next - the next page number in the paging sequence
         */
        function addFirst(scope, next) {

            addRange(1, 2, scope);

            // We ignore dots if the next value is 3
            // ie: 1 2 [...] 3 4 5 becomes just 1 2 3 4 5
            if (next != 3) {
                addDots(scope);
            }
        }


        /**
         * Add the last or end items in our paging list
         * We leverage the 'prev' parameter to determine if the dots are required
         *
         * @param {int} pageCount - The last page number or total page count
         * @param {Object} scope - The local directive scope object
         * @param {int} prev - the previous page number in the paging sequence
         */
        // Add Last Pages
        function addLast(pageCount, scope, prev) {

            // We ignore dots if the previous value is one less that our start range
            // ie: 1 2 3 4 [...] 5 6  becomes just 1 2 3 4 5 6
            if (prev != pageCount - 2) {
                addDots(scope);
            }

            addRange(pageCount - 1, pageCount, scope);
        }



        /**
         * The main build function used to determine the paging logic
         * Feel free to tweak / fork values for your application
         *
         * @param {Object} scope - The local directive scope object
         * @param {Object} attrs - The local directive attribute object
         */
        function build(scope, attrs) {

            // Block divide by 0 and empty page size
            if (!scope.pageSize || scope.pageSize <= 0) {
                scope.pageSize = 1;
            }

            // Determine the last page or total page count
            var pageCount = Math.ceil(scope.total / scope.pageSize);

            // Set the default scope values where needed
            setScopeValues(scope, attrs);

            // Validate the scope values to protect against strange states
            validateScopeValues(scope, pageCount);

            // Create the beginning and end page values
            var start, finish;

            // Calculate the full adjacency value
            var fullAdjacentSize = (scope.adjacent * 2) + 2;


            // Add the Next and Previous buttons to our list
            addPrevNext(scope, pageCount, 'prev');

            // If the page count is less than the full adjacnet size
            // Then we simply display all the pages, Otherwise we calculate the proper paging display
            if (pageCount <= (fullAdjacentSize + 2)) {

                start = 1;
                addRange(start, pageCount, scope);

            } else {

                // Determine if we are showing the beginning of the paging list
                // We know it is the beginning if the page - adjacent is <= 2
                if (scope.page - scope.adjacent <= 2) {

                    start = 1;
                    finish = 1 + fullAdjacentSize;

                    addRange(start, finish, scope);
                    addLast(pageCount, scope, finish);
                }

                // Determine if we are showing the middle of the paging list
                // We know we are either in the middle or at the end since the beginning is ruled out above
                // So we simply check if we are not at the end
                // Again 2 is hard coded as we always display two pages after the dots
                else if (scope.page < pageCount - (scope.adjacent + 2)) {

                    start = scope.page - scope.adjacent;
                    finish = scope.page + scope.adjacent;

                    addFirst(scope, start);
                    addRange(start, finish, scope);
                    addLast(pageCount, scope, finish);
                }

                // If nothing else we conclude we are at the end of the paging list
                // We know this since we have already ruled out the beginning and middle above
                else {

                    start = pageCount - fullAdjacentSize;
                    finish = pageCount;

                    addFirst(scope, start);
                    addRange(start, finish, scope);
                }
            }

            // Add the next and last buttons to our paging list
            addPrevNext(scope, pageCount, 'next');
        }
    })
    .filter('launch_way', function(){
      return function(launch_way){
        switch(launch_way){
          case 2:
            return 'brandsonly';
          case 3:
            return 'designer';
          case 4:
            return 'buyer';
        }
      }
    })
    .filter('split', function(){
      return function(str, split, index){
        return str.split(RegExp(split,'g'))[index];
      }
    })
    .filter('size', function(){
        return function(value){
            return _.size(value);
        }
    })
    .filter('param', function(){
        return function(obj, select){
            var args = _.chain(arguments).toArray().flatten().value();
            
            if(_.isEmpty(obj)){
                return false;
            }

            if(_.isUndefined(select)){
                args.concat(_.keys(obj));
            }

            obj = _.pick.apply(_, args);
            
            return $.param(obj).replace(/%5B%5D/g, '');
        }
    })
    .filter('discount', function(){
        return function(original_price, sell_price){
            var discount = parseInt((sell_price/original_price).toFixed(2) * 100);
            if(discount <= 95){
              if(discount >= 10){
                return discount.toString().replace('0', '');
              } else {
                return '1';
              }
            } else {
              return null;
            }
        }
    })
    .filter('preview_price', function(){
        return function(product_original_price){
            var preview = "";
            if (product_original_price == "0"){

            } else if (product_original_price == "1000"){
                preview = "500元 ~ 1,000元";
            } else if (product_original_price == "2000"){
                preview = "1,001元 ~ 2,000元";
            } else if (product_original_price == "3000"){
                preview = "2,001元 ~ 3,000元";
            } else if (product_original_price == "4000"){
                preview = "3,001元 ~ 4,000元";
            } else if (product_original_price == "5000"){
                preview = "4,001元 ~ 5,000元";
            } else if (product_original_price == "6000"){
                preview = "5,001元 ~ 6,000元";
            } else if (product_original_price == "7000"){
                preview = "6,001元 ~ 7,000元";
            } else if (product_original_price == "8000"){
                preview = "7,001元 ~ 8,000元";
            } else if (product_original_price == "9000"){
                preview = "8,001元 ~ 9,000元";
            } else if (product_original_price == "10000"){
                preview = "9,001元 ~ 10,000元";
            } else if (product_original_price == "15000"){
                preview = "10,001元 ~ 15,000元";
            } else if (product_original_price == "20000"){
                preview = "15,001元 ~ 20,000元";
            } else if (product_original_price == "25000"){
                preview = "20,001元 ~ 25,000元";
            } else if (product_original_price == "30000"){
                preview = "25,001元 ~ 30,000元";
            } else if (product_original_price == "35000"){
                preview = "30,001元 ~ 35,000元";
            } else if (product_original_price == "40000"){
                preview = "35,001元 ~ 40,000元";
            } else if (product_original_price == "45000"){
                preview = "40,001元 ~ 45,000元";
            } else if (product_original_price == "50000"){
                preview = "45,001元 ~ 50,000元";
            } else if (product_original_price == "60000"){
                preview = "50,001元 ~ 60,000元";
            } else if (product_original_price == "70000"){
                preview = "60,001元 ~ 70,000元";
            } else if (product_original_price == "80000"){
                preview = "70,001元 ~ 80,000元";
            } else if (product_original_price == "90000"){
                preview = "80,001元 ~ 90,000元";
            } else if (product_original_price == "100000"){
                preview = "90,001元 ~ 100,000元";
            } else if (product_original_price == "999999"){
                preview = "超過 100,000 元";
            }
            return preview;
        };
    })
    .controller('ClothingFilterController', ['$scope', '$location', '$http', function($scope, $location) {
        $scope.isActive = function(query_str){
            if(_.isEmpty($scope.search_obj)){
                return '';
            }
            var search_query = $.param($scope.search_obj).replace(/%5B%5D/g, '');

            if(RegExp('^'+query_str).test(search_query)){
                return 'in';
            }
            else {
                return '';
            }
        }

        $scope.clearAll = function(type){
            $location.search(type, []);
        }

        {% if type != null %}
        $scope.$watch('color_list', function(new_color_list, old_color_list){
            if(_.isEmpty(new_color_list)){
                return false;
            }

            $location.search('color', _.reduce(new_color_list, function(result, selected, color){
                if(selected){
                    result.push(color);
                }
                return result;
            }, []));
        }, true);
        {% endif %}

        $scope.$watch('style_list', function(new_style_list, old_style_list){
            if(_.isEmpty(new_style_list)){
                return false;
            }

            $location.search('style', _.reduce(new_style_list, function(result, selected, style){
                if(selected){
                    result.push(style);
                }
                return result;
            }, []));

            $location.search('page', 1);
        }, true);

        $scope.$watch('launch_way_list', function(new_launch_way_list, old_launch_way_list){
            if(_.isEmpty(new_launch_way_list)){
                return false;
            }

            $location.search('launch_way', _.reduce(new_launch_way_list, function(result, selected, launch_way){
                if(selected){
                    result.push(launch_way);
                }
                return result;
            }, []));

            $location.search('page', 1);
        }, true);

        $scope.$watch('season_list', function(new_season_list, old_season_list){
            if(_.isEmpty(new_season_list)){
                return false;
            }

            $location.search('season', _.reduce(new_season_list, function(result, selected, season){
                if(selected){
                    result.push(season);
                }
                return result;
            }, []));

            $location.search('page', 1);
        }, true);

        $scope.$on('clothing_change', function(){
            var {% if type != null %}
                  search_color = $location.search().color,
                  {% endif %}
                  search_style = $location.search().style,
                  search_launch_way = $location.search().launch_way,
                  search_season = $location.search().season;

            $scope.search_obj = $location.search();

            {% if type != null %}
            if(!_.isEmpty(search_color)){
                $scope.color_list = _.reduce(_.flatten([search_color]), function(result, color){
                    result[color] = true;
                    return result;
                }, {});
            } else {
                $scope.color_list = {};
            }
            {% endif %}

            if(!_.isEmpty(search_style)){
                $scope.style_list = _.reduce(_.flatten([search_style]), function(result, style){
                    result[style] = true;
                    return result;
                }, {});
            } else {
                $scope.style_list = {};
            }

            if(!_.isEmpty(search_launch_way)){
                $scope.launch_way_list = _.reduce(_.flatten([search_launch_way]), function(result, launch_way){
                    result[launch_way] = true;
                    return result;
                }, {});
            } else {
                $scope.launch_way_list = {};
            }

            if(!_.isEmpty(search_season)){
                $scope.season_list = _.reduce(_.flatten([search_season]), function(result, season){
                    result[season] = true;
                    return result;
                }, {});
            } else {
                $scope.season_list = {};
            }
        });
    }])
    .controller('ClothingListController', ['$scope', '$location', '$http', '$rootScope', function($scope, $location, $http, $rootScope) {

        $scope.clothings = [];

        {% if user_id %}
        $scope.toggle_like = function(e, clothing){
            e.preventDefault();
            e.stopPropagation();
            clothing.isLike = !clothing.isLike;
            $.ajax({
                type: 'PUT',
                url: '/restful/clothing_like/'.concat(clothing.id),
                data:{
                    user_id: {{user_id}},
                    type: clothing.launch_way
                },
                dataType: 'json',
                success: function(res){
                    console.log(res);
                }
            });
            return false;
        }
        {% endif %}
        
        $scope.$on('clothing_change', function(){
            {% if type == 'designer' %}
            $http.get('/restful/designer_products?number=30&reduction_again=1&'+$.param($location.search()))
            {% elseif type == 'brandsonly' %}
            $http.get('/restful/product_clothing?number=30&reduction_again=1&'+$.param($location.search()))
            {% else %}
            $http.get('/restful/combine/all_clothings?number=30&reduction_again=1&'+$.param($location.search()))
            {% endif %}
                .success(function(clothings, status_code){
                    $scope.clothings = clothings;
                    $(document).trigger('load_finished');
                })
                .error(function(error_msg, status_code){
                    $(document).trigger('load_finished');
                });

            {% if type == 'designer' %}
            $http.get('/restful/designer_products/count?reduction_again=1&'+$.param($location.search()))
            {% elseif type == 'brandsonly' %}
            $http.get('/restful/product_clothing/count?reduction_again=1&'+$.param($location.search()))
            {% else %}
             $http.get('/restful/combine/all_clothings/count?reduction_again=1&'+$.param($location.search()))
            {% endif %}
                .success(function(clothing_length, status_code){
                    $rootScope.$broadcast('clothing_length', clothing_length);
                });
        });
    }])
    .controller('PaginationController', ['$scope', '$location', '$http', function($scope, $location, $http){
        $scope.$on('clothing_length', function(e, clothing_length){
            $scope.currentPage = $location.search().page;
            $scope.pageSize = 30;
            $scope.total = clothing_length;
        });

        $scope.DoCtrlPagingAct = function(text, page, pageSize, total) {
            $location.search('page', page);
        };
    }]);

</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('load_finished', function(){
      $('.loading').fadeOut(200, function(){
        $('.content').fadeIn(200);
      });
    });
  });
</script>

{% endblock %}
