<div class="modal fade" id="sendMessageToDesigner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">發送訊息</h4>
      </div>
        <div class="modal-body" style="text-align: left">
            <div class="fb_login">
                <div class="postmsgfrom">
                    <font>有商品的疑問嗎？直接問衣櫃主人</font>
                </div>
                <hr class="dashed_hr">
            </div>

            <div id="getmore_login">
                <div class="row">
            <form method="POST" enctype="multipart/form-data" action="/restful/post" class="post" id="message_post" nate="post">
                <div style="display:none;">
                    <label>收件者</label>
                    <input class="form-control" type="text" id="owner_id" name="owner_id" value="{{ owner_id }}" placeholder="1234....">
                    <input class="form-control" type="text" id="url_code" name="url_code" value="{{ current_url }}" placeholder="1234....">
                </div>
                <a href="/shop/designer/{{ url_code }}"><img src="http://s3.getmore.cc/designer/profile/{{ owner_id }}/medium.jpg"></a>
                <div>
                    <label>關於</label>
                    <input class="form-control" type="text" id="message_title" name="title">
                </div>
                <div>
                    <label>訊息內容</label>
                    <textarea class="form-control" id="message_content" name="content" rows="7"></textarea>
                </div>
                <div>
                    <input type="file" id="file" name="file" style="margin-bottom:10px;">
                    <input type="reset" value="取消">
                    <input type="submit" value="送出" class="post_submit" id="post_submit">
                </div>
            </form>
            </div>
            <div>
                <font class="font-size12">您的購買帳款或先由GetMore保管，完成交易後才交由賣家，私下交易無法追蹤交易紀錄，也容易引起買賣糾紛，對您來說極無保障，且不符合GetMore的二次時尚精神。因此，<font class="red">請不要在刊登內容中加入任何引導私下交易的內容</font>。<u>若違反規則，您可能遭到停權，賣家商品或衣櫃也可能遭管理人員刪除。</u></font>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <p class="announcement text-center">更多交易安全及網站交易規範,<br>請閱讀<a href="/info/buy#buypolicy" target="_blank">購買條款</a>以及<a href="/info/sell#sellpolicy" target="_blank">代洗代售服務條款</a>。</p>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('form', '#sendMessageToDesigner').bind('submit', function(e){
    e.preventDefault();

    data = new FormData($(this)[0]);
    
    $.ajax({
        url: $(this).attr('action'),
        data: data,
        processData: false,
        cache: false,
        contentType: false,
        type: $(this).attr('method')
    }).done(function(){
        $('.modal-body','#sendMessageToDesigner').html('<div style="background-color: #edefed;min-height:630px;border-radius:6px 6px 6px 6px;" ><div class="getmoregreen" style="font-size:24px;text-align:center;padding-top:280px;"><i class="fa fa-paper-plane fa-3x"></i>&nbsp;訊息已送出!</div></div>');

        setTimeout(function(){
            $('#sendMessageToDesigner').modal('hide');
        }, 2500);
    });

    $(this)[0].reset();
    return false;
});

</script>