{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}

{% block menu %}
    <div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
        {% include '/dropdownnav/general_nav.twig' %}    
    </div>

    <script>
      // very simple to use!
      $(document).ready(function() {
        $('.js-activated').dropdownHover().dropdown();
      });
    </script>
{% endblock %}

{% block main %}

<div class="content">
    <div style="border-bottom:1px solid #000;padding:10px 0;" class="ng-scope">
      <div style="font-size:20px;color:#000;font-weight:bold;text-align:center;"> Boutiques</div>
    </div>
  <div style="float:left;width:175px;padding:30px 10px 20px 0;border-right:1px solid #000;min-height:800px;">
    <ul class="leftcate list-unstyled" style="font-size:12px;">
        <li><a href="/suggest/all">全部商品</a></li><br />
        <li><a href="/suggest/boutique-denim">丹寧</a></li>
        <li><a href="/suggest/boutique-office">上班族精選</a></li>
        <li><a href="/suggest/boutique-dresses">洋裝</a></li>
        <li><a href="/suggest/boutique-trend-2015aw">2015秋冬趨勢</a></li>
        <li><a href="/suggest/boutique-editorspicks">編輯挑選</a></li>
        <li><a href="/suggest/boutique-office">設計師</a></li>
    </ul>
  </div>
  <div class="cateright">
    <div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-denim"><img src="/assets/images/subpage/boutique-denim.jpg" style="width:255px;"></a></div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-office"><img src="/assets/images/subpage/boutique-office.jpg" style="width:255px;"></a></div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-dresses"><img src="/assets/images/subpage/boutique-dresses.jpg" style="width:255px;"></a></div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-trend-2015aw"><img src="/assets/images/subpage/boutique-trend-2015aw.jpg" style="width:255px;"></a></div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-editorspicks"><img src="/assets/images/subpage/boutique-editorspicks.jpg" style="width:255px;"></a></div>
        <div style="float:left;margin:5px;margin-bottom:20px;"><a href="/suggest/boutique-office"><img src="/assets/images/subpage/boutique-designers.jpg" style="width:255px;"></a></div>
    </div>
  </div>
</div>


<style>
.like-fade.ng-hide{
  opacity: 0;
}
.like-fade.ng-hide-add.ng-hide-add-active {
  -webkit-transition:all linear;
  -moz-transition:all linear;
  -o-transition:all linear;
  transition:all linear;
  opacity:1;
}
.like-fade.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition:all ease-in-out 0.2s;
  -moz-transition:all ease-in-out 0.2s;
  -o-transition:all ease-in-out 0.2s;
  transition:all ease-in-out 0.2s;
}

.bannerbox{
    margin: 10px 0;
}
.getmore_banner01{
    float:left;
    margin-right: 5px; 
}
.getmore_banner02{
    float:left;
}
.bannerbox2{
    margin: 10px 0;
}
.getmore_banner03{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner04{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner05{
    float:left;
  margin-top:10px;
}
.bannerboxtitle{
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: "HelveticaNeue-Light","細明體";
    color: #000;
}
.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
.leftcate{
  font-size: 10px;
  margin-bottom: 20px;
}
.leftcate a{
  color:#000;
}
.leftfilter{
  border-top: 1px solid #999;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.leftfilter-title{
  margin:20px 0 10px 0;
}
.season_label{
  display: block;
}
.style_label{
  margin-bottom: 0px;
}
.cateright{
  float:left;
  width:825px;
  padding-left:3px;
  min-height:500px;
  padding:15px;
}
.cateproduct{
  margin-top:20px;
  float: left;
  margin-left: 30px;
}
</style>
{% endblock %}
