{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}
{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
{% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div ng-app="DesignerView">
  <div style="float:left;width:175px;padding:30px 10px 20px 0;" ng-controller="ClothingFilterController">
    <ul class="leftcate list-unstyled" style="font-size:12px;">
        <li><a tabindex="-1" href="up_and_coming_dsner#?page=1&[[ search_obj|param:['color', 'season', 'style'] ]]">全部商品</a></li>
        {% for id, name in dsner_list %}
        <li><a tabindex="-1" href="#?page=1">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <div class="leftfilter">
        <div class="leftfilter-title">顏色</div>
        <div style="margin-top:10px;">
            {% for index, color in ['black', 'white', 'gray', 'red', 'green', 'brown', 'blue', 'orange', 'purple', 'pink', 'yellow', 'color'] %}
            <label class="color_label"><input type="checkbox" value="{{ color }}" class="color" ng-model="color_list['{{color}}']"> <img src="/admin/assets/images/colorbox/{{ color }}.png"></label>
            {% endfor %}
        </div>  
    </div>
    <div class="leftfilter">
        <div class="leftfilter-title">風格</div>
        <div style="max-height: 275px; font-size:10px; overflow:hidden; border:1px solid #bbb;padding: 5px;">
            {% for style, text in style_list %}
            <label class="style_label pull-left" style="width: 50%;"><input type="checkbox" value="{{ style }}" class="style" ng-model="style_list['{{ style }}']">{{ text }}</label>
            {% endfor %}
        </div>  
    </div>
    <div class="leftfilter">
        <div class="leftfilter-title">季節</div>
          <div style="font-size:10px;padding: 5px;">
            <div>
                {% for season, text in season_list %}
                <label class="season_label"><input type="checkbox" value="{{ season }}" class="season" ng-model="season_list['{{ season }}']">{{ text }}</label>
                {% endfor %}
            </div>
          </div>
    </div>
  </div>
  <div class="cateright">
    <div class="cateproduct" style="width: 100%;">
        <nav class="pull-right" style="width: auto;height: auto;" ng-controller="PaginationController">
          <ul class="pagination" style="margin: 0;" ng-if="page_count">
            <li ng-class="current_page == 1?'disabled':'';">
              <a aria-label="Previous" ng-click="GotoPage(current_page-1, current_page == page_count)">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
              </a>
            </li>
            <li ng-if="page_list[0] != 1" ng-class="current_page == 1?'active':'';"><a ng-click="GotoPage(1)">1</a></li>
            <li class="disabled" ng-if="current_page-4 > 0"><a>...</a></li>
            <li ng-repeat="page in page_list" ng-class="page == current_page?'active':'';"><a ng-bind="page" ng-click="GotoPage(page)"></a></li>
            <li class="disabled" ng-if="current_page+4 < page_count"><a>...</a></li>
            <li ng-if="page_list[page_list.length-1] != page_count" ng-class="page_count == current_page?'active':'';"><a ng-bind="page_count" ng-click="GotoPage(page_count)"></a></li>
            <li ng-class="current_page == page_count?'disabled':'';">
              <a aria-label="Next" ng-click="GotoPage(current_page+1, current_page == page_count)">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
        <div style="margin-top:0px;margin-left:-15px;overflow:auto;clear: both;" ng-controller="ClothingListController">
            <a target="_blank" href="/clothing/designer/[[ clothing.id ]]" ng-repeat="clothing in clothings" class="ng-hide" ng-show="clothing">
                <div class="fresh-product-view lock-status-[[ clothing.lock_status ]]" ng-mouseenter="show_like=true;" ng-mouseleave="show_like=false;">
                  <img ng-src="http://s3.getmore.cc/clothing/[[ clothing.files[0] ]]/medium.jpg">
                  <div class="product-brand" ng-bind="[[ clothing.product_brand ]]"></div>
                  <div class="fresh-product-title" ng-bind="[[ clothing.product_title ]]"></div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted" ng-bind-template="NT$ [[ clothing.product_original_price ]]"></span>
                    <span class="fresh-product-sale" ng-bind-template="NT$ [[ clothing.product_sell_price ]]"></span>
                  </div>
                  <div ng-repeat="color in clothing.colors" style="width: 0;height: 0;border-width: 5px;border-style: solid;border-color: [[ color ]];display: inline-block;margin-right:0px;" class="ng-scope"></div>
                  <div class="likeslideup like-fade" ng-show="show_like">
                    <div class="likeslideupcontent" data-id="[[ clothing.id ]]"><i class="fa fa-gratipay fa-2x"></i><div>LIKE</div></div>
                  </div>
                </div>
              </a>
              <div ng-if="!clothings.length && loadready" class="text-center">
                <div class='alert alert-info'>系統目前找不到這類商品喔！</div>
                <img src="/assets/images/home20/noclothe.png">
              </div>
        </div>
        <nav class="pull-right" style="width: auto;height: auto;" ng-controller="PaginationController">
          <ul class="pagination" style="margin: 0;" ng-if="page_count">
            <li ng-class="current_page == 1?'disabled':'';">
              <a aria-label="Previous" ng-click="GotoPage(current_page-1, current_page == page_count)">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
              </a>
            </li>
            <li ng-if="page_list[0] != 1" ng-class="current_page == 1?'active':'';"><a ng-click="GotoPage(1)">1</a></li>
            <li class="disabled" ng-if="current_page-4 > 0"><a>...</a></li>
            <li ng-repeat="page in page_list" ng-class="page == current_page?'active':'';"><a ng-bind="page" ng-click="GotoPage(page)"></a></li>
            <li class="disabled" ng-if="current_page+5 < page_count"><a>...</a></li>
            <li ng-if="page_list[page_list.length-1] != page_count" ng-class="page_count == current_page?'active':'';"><a ng-bind="page_count" ng-click="GotoPage(page_count)"></a></li>
            <li ng-class="current_page == page_count?'disabled':'';">
              <a aria-label="Next" ng-click="GotoPage(current_page+1, current_page == page_count)">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="clear"></div>
    <div ng-if="!clothings.length && loadready" class="text-center">
        <div class='alert alert-info'>系統目前找不到這類商品喔！</div>
        <img src="/assets/images/home20/noclothe.png">
    </div>
  </div>
</div>
<script type="text/javascript">
  angular.module('DesignerView', ['ngRoute', 'ngAnimate'])
    .config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }])
    .run(['$location', '$rootScope', function($location, $rootScope){
        $location.search('page', 1);
        $rootScope.$on('$locationChangeSuccess', function(e){
            $rootScope.$broadcast('clothing_change');
        });
    }])
    .filter('param', function(){
        return function(obj, select){
            var args = _.chain(arguments).toArray().flatten().value();
            
            if(_.isEmpty(obj)){
                return false;
            }
            
            if(_.isUndefined(select)){
                args.concat(_.keys(obj));
            }

            obj = _.pick.apply(_, args);
            
            return $.param(obj).replace(/%5B%5D/g, '');
        }
    })
    .controller('ClothingFilterController', ['$scope', '$location', '$http', function($scope, $location) {
        $scope.isActive = function(query_str){
            if(_.isEmpty($scope.search_obj)){
                return '';
            }
            var search_query = $.param($scope.search_obj).replace(/%5B%5D/g, '');

            if(RegExp('^'+query_str).test(search_query)){
                return 'in';
            }
            else {
                return '';
            }
        }

        $scope.$watch('color_list', function(new_color_list, old_color_list){
            if(_.isEmpty(new_color_list)){
                return false;
            }

            $location.search('color', _.reduce(new_color_list, function(result, selected, color){
                if(selected){
                    result.push(color);
                }
                return result;
            }, []));
        }, true);

        $scope.$watch('style_list', function(new_style_list, old_style_list){
            if(_.isEmpty(new_style_list)){
                return false;
            }

            $location.search('style', _.reduce(new_style_list, function(result, selected, style){
                if(selected){
                    result.push(style);
                }
                return result;
            }, []));
        }, true);

        $scope.$watch('season_list', function(new_season_list, old_season_list){
            if(_.isEmpty(new_season_list)){
                return false;
            }

            $location.search('season', _.reduce(new_season_list, function(result, selected, season){
                if(selected){
                    result.push(season);
                }
                return result;
            }, []));
        }, true);

        $scope.$on('clothing_change', function(){
            var search_color = $location.search().color,
                  search_style = $location.search().style,
                  search_season = $location.search().season;
            console.log(search_style);
            $scope.search_obj = $location.search();

            if(!_.isEmpty(search_color)){
                $scope.color_list = _.reduce(_.flatten([search_color]), function(result, color){
                    result[color] = true;
                    return result;
                }, {});
            }

            if(!_.isEmpty(search_style)){
                $scope.style_list = _.reduce(_.flatten([search_style]), function(result, style){
                    result[style] = true;
                    return result;
                }, {});
            }

            if(!_.isEmpty(search_season)){
                $scope.season_list = _.reduce(_.flatten([search_season]), function(result, season){
                    result[season] = true;
                    return result;
                }, {});
            }
        });
    }])
    .controller('ClothingListController', ['$scope', '$location', '$http', '$rootScope', function($scope, $location, $http, $rootScope) {
        $scope.clothings = [];
        $scope.loadready = 0;
        $scope.$on('clothing_change', function(){
            $http.get('/restful/designer_products?number=30&up_and_coming=1&'+$.param($location.search()))
                .success(function(clothings, status_code){
                    $scope.clothings = clothings;
                    $scope.loadready = 1;
                })
                .error(function(error_msg, status_code){
                    console.log(arguments);
                    $scope.loadready = 1;
                });

            $http.get('/restful/designer_products/count?'+$.param($location.search()))
                .success(function(clothing_length, status_code){
                    $rootScope.$broadcast('clothing_length', clothing_length);
                });
        });
    }]).controller('PaginationController', ['$scope', '$location', '$http', function($scope, $location, $http){
        $scope.$on('clothing_length', function(e, clothing_length){
            $scope.page_count = Math.ceil(clothing_length/30);
            $scope.current_page = parseInt($location.search()['page'], 10);

            var segment_size = 5,
                  start;

            if ($scope.page_count - 1 < segment_size){
                // 分頁數目不足以分段
                $scope.page_list = _.range(1, $scope.page_count + 1);
            } else if (($scope.page_count - $scope.current_page) < segment_size) {
                // 分頁結尾顯示
                $scope.page_list = _.range($scope.page_count - segment_size, $scope.page_count);
            } else if (($scope.current_page - segment_size) < 0) {
                // 分頁開頭顯示
                $scope.page_list = _.range(2, 6);
            } else {
                // 分頁開頭顯示
                start = Math.floor($scope.current_page/(segment_size - 1)) * (segment_size - 1);

                $scope.page_list = _.range(start, start+segment_size);
            }
        });

        $scope.GotoPage = function(page, disabled){
            if(disabled){
                return false;
            }
            $location.search('page', page);
        }
    }]);

</script>
<style>
.like-fade.ng-hide{
  opacity: 0;
}
.like-fade.ng-hide-add.ng-hide-add-active {
  -webkit-transition:all linear;
  -moz-transition:all linear;
  -o-transition:all linear;
  transition:all linear;
  opacity:1;
}
.like-fade.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition:all ease-in-out 0.2s;
  -moz-transition:all ease-in-out 0.2s;
  -o-transition:all ease-in-out 0.2s;
  transition:all ease-in-out 0.2s;
}

.bannerbox{
    margin: 10px 0;
}
.getmore_banner01{
    float:left;
    margin-right: 5px; 
}
.getmore_banner02{
    float:left;
}
.bannerbox2{
    margin: 10px 0;
}
.getmore_banner03{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner04{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner05{
    float:left;
  margin-top:10px;
}
.bannerboxtitle{
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: "HelveticaNeue-Light","細明體";
    color: #000;
}
.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
.leftcate{
  font-size: 10px;
  margin-bottom: 20px;
}
.leftcate a{
  color:#000;
}
.leftfilter{
  border-top: 1px solid #999;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.leftfilter-title{
  margin:20px 0 10px 0;
}
.season_label{
  display: block;
}
.style_label{
  margin-bottom: 0px;
}
.cateright{
  float:left;
  width:825px;
  padding-left:3px;
  min-height:500px;
  padding:15px;
}
.cateproduct{
  margin-top:20px;
  float: left;
  margin-left: 30px;
}
</style>
{% endblock %}
