<div style="float:left; margin-left:100px;margin-top:100px;color:#bbb;font-size:20px;">
	<div style="margin-bottom:15px;"><a href="/pages/about">關於 Getmore</a></div>
	<div style="margin-bottom:15px;"><a href="/pages/jointogether">在Getmore開店</a></div>
	<div style="margin-bottom:15px;"><a href="http://blog.getmore.cc/category/%E8%A8%AD%E8%A8%88%E5%B8%AB%E5%B0%88%E8%A8%AA/" target="_blank">設計師專訪</a></div>
	<div style="margin-bottom:15px;"><a href="http://desk.getmore.cc/" target="_blank"><i class="fa fa-info-circle"></i> &nbsp;說明中心</a></div>
	<div style="margin-bottom:15px;"><a href="mailto://service@getmore.cc" target="_blank"><i class="fa fa-envelope"></i> &nbsp;聯絡我們</a></div>

</div>