{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
    <meta property="og:title" content="Getmore 時尚小圈圈，把時尚圈在一起。"/>
    <meta property="og:description" content="集合原創新銳設計、買手時尚、精品二手、品牌二手的時尚購物網站" />
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/ogimg.png" />
<style>
p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  //  -webkit-font-smoothing:antialiased;
}
  .bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block searchbox%}
    {% include '/searchbox/outside_search.twig' %}   
{% endblock %} 

{% block main %}
<hr />
<div style="float:left;overflow:auto;width:600px;margin-left:100px;">
  <center>
      <h2><span style="color:#bbb;">WELCOME TO THE Getmore</span></h2><br /><br />
  </center>
    <p>
      Getmore 是專注在「時尚」社群的購物網站
      <br />
      聚集新銳設計師、買手、時尚愛好者的購物網站，<br />供應獨特單品以及二手時尚的時尚購物平台。<br /></p>
      <p>
      時尚很多元，就像是一個個精彩的小圈圈，<br />Getmore 負責把時尚圈在一起，你也可以稱這裡是「時尚小圈圈」。
    </p>
  <br />
  <hr />
  <p>Getmore 總部位於台灣 <br />
     2014年開始，Getmore 開始了品牌二手代售服務。<br />
     2015年的年底，Getmore 開始招募新銳設計師以及時尚買手，聚集「原創設計時裝」、「原創配件」、「二手品牌時裝」、「二手精品」。<br />
  <br />
  <div style="background-color:#f6f7f8;padding:20px;color:#141823;border-radius:10px;">
  <p style="color:#E70888">Getmore 從台灣、香港在地時尚開始。<br />這些時尚小圈圈聚集在一起的同時，我們的力量可以更大，影響就能越深。</p>
  <p>2014年的年初，Getmore開始了「二手衣代售服務」，透過 Getmore，你可以先查詢可以接受待售的品牌，填寫基本資料，線上支付洗衣費，就會有物流到府收件，並且經過專業流程送洗到上架。另一端的消費者，可以輕鬆安心挑選2折的品牌二手，享受二次時尚的樂趣。</p>
  <p>
  然而，2015年開始，我們開始思考在「時尚」以及「網路科技」結合下，Getmore 還可以扮演甚麼角色?</p>
  <p>
  我們認為，網路科技越發達，「人」的價值越會被凸顯，而總部位於台灣的 Getmore，正值時尚電商時代崛起的時代，這個時代，從台灣做為起點，最可以展現的正是「個人」在「時尚美學」以及「生活方式」的獨特多樣性。因此，我們開始接觸台灣以及香港的「新銳設計師」、「時尚買手」、「二手精品店」，也不停地改善網站功能，期待能提供時尚相關的美學服務提供者一個良好的社群電商環境。這就像是建立自己的時尚小圈圈，在這些小圈圈聚集在一起的同時，我們的力量可以更大，影響就能越深。</p>
  </div>
  <br/><br/>
  <p>Getmore 將正式於今年底推出完整的改版，新增「原創設計師」、「時尚買手」、「二手精品店」，加上原有的 「 個人二手 」 代售，一起在 Getmore 建立自己的小圈圈，服務喜歡多樣性風格的消費者。</p>

  </p>
  <p>歡迎在 Getmore 開一間時尚店，建立自己的時尚小圈圈。</p>
  <br/>
  <div style="background-color:#f6f7f8;padding:20px;color:#141823;border-radius:10px;margin-bottom:30px;">
  <p>
    申請時尚小圈圈 >> <a hrrf="/pages/jointogether">http://getmore.cc/pages/jointogether</a>
  </p>
  </div>
</div>
{% include '/pages/aboutmenu.html.twig' %}
    <div class="marginbottom30">
      <div style="width:500px;float:left;">
          <div class="fb-page" data-href="https://www.facebook.com/getmore.cc" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getmore.cc"><a href="https://www.facebook.com/getmore.cc">Getmore</a></blockquote></div></div>
      </div> 
      <div style="float:right;width:450px;height:214px;" class="bookinggetmore">
        <form action="http://www.newsleopard.com/mailverify.htm?x=8a383d3a4e26ae89014e2e9128552da7"  target="popupwindow" method="post" onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
          <div style="padding:20px;margin-top:100px;float:right;">
            <p>
              <span><input style="width:260px;border:3px solid #000;"  class="form-control" placeholder="請輸入Email" name="email" type="text"/></span></center>
            </p>
            <input style="float:right;"class="btn" value="立即訂閱" type="submit"/>
          </div>
        </form>
      </div>
      <div class="clear"></div> 
    </div>
<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}