{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
    <meta property="og:title" content="Getmore時尚線上市集 - 週年慶！"/>
    <meta property="og:description" content="今年最特別的一場時尚週年慶！Getmore 是新銳設計師、時尚買手的線上市集，透過新銳設計師以及時尚買手，聚集「新銳設計時裝」、「原創配件」、「二手品牌時裝」、「二手精品」。" />
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/annual2015aw/annual-sale-01.png" />
    <style>
    .gobtn{
    background-color: #ff6600;
    color:#ffff66;
    border-color: #ff6600;
    font-size: 30px;
    }
    .gobtn:hover, .goplanbtn:focus {
    background-color: #ffff66;
    color: #ff6600;
    border-color: #ff6600;
	}
	.brandlist{
		//width: 320px; 
		//height: 44.7px; 
		overflow: hidden; 
		margin: 10px 10px;
		padding: 5px;
		border: 1px #bbb solid;
	}
	.brandlist img{
		width:300px;
	}
	</style>
{% endblock %}

  {% block javascript %}

  {% endblock %}


{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn planbtn-hightlight" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}

{% block main %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' %}   
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script> 
</div>
	<div style="overflow:auto;margin-bottom:40px;margin-top:30px;">
		<div style="float:left;width:620px;margin-right:50px;">
			<img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/annual2015aw/annualsale-02.png" style="width:620px;" usemap="#image-maps-2015-10-14-044127">
			<map name="image-maps-2015-10-14-044127" id="ImageMapsCom-image-maps-2015-10-14-044127">
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?type=women&product_type=12&page=1" shape="rect" coords="211,170,399,410" style="outline:none;" target="_blanl"     />
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?type=women&product_type=14&page=1" shape="rect" coords="406,178,594,456" style="outline:none;" target="_blank"     />
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?type=women&product_type=11&page=1" shape="rect" coords="18,365,206,491" style="outline:none;" target="_blank"     />
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?page=1&season=2&season=3" shape="rect" coords="18,500,206,699" style="outline:none;" target="_blank"     />
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?type=women&product_type=15" shape="rect" coords="214,416,395,698" style="outline:none;" target="_blank"     />
			<area  alt="" title="" href="http://getmore.cc/clothing/newcate#?type=men&page=1" shape="rect" coords="405,461,589,700" style="outline:none;" target="_blank"     />
			<area  alt="" title="" href="#taaze" shape="rect" coords="211,118,589,160" style="outline:none;" target="_self"     />
			<area  alt="" title="" href="#annual" shape="rect" coords="16,119,204,242" style="outline:none;" target="_self"     />

		</div>
		<div style="float:left;margin-top:20px;width:330px;">
			<span class="fresh-title" id="type2" style="border:0px;"><u>新銳設計師品牌 DESIGNERS</u></span>
			<div class="brandlist">
	        	<a href="/shop/designer/moinonplus" target="_blank">
	          	<img src="http://s3.getmore.cc/designer/profile/6650/medium.jpg">
	        	</a>
      		</div>
			<div class="brandlist">
				<a href="/shop/designer/mingmade" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6771/medium.jpg">
	        	</a>
      		</div>
			<div class="brandlist">
	        	<a href="/shop/designer/xiwistyle" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6809/medium.jpg">			
	        	</a>
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/hypnoticace" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6810/medium.jpg">	
	        	</a>
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/ray77galaxy" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6812/medium.jpg">	
	        	</a>
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/twinklecat" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6814/medium.jpg">	
	        	</a>
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/acrosphere" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6818/medium.jpg" >
	        	</a>
      		</div>
			<div class="brandlist">
	        	<a href="/shop/designer/seagrass" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6831/medium.jpg">
	        	</a>
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/boomboomkidz" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6891/medium.jpg">
	        	</a> 
      		</div>
      		<div class="brandlist">
	        	<a href="/shop/designer/7crash" target="_blank">
				<img src="http://s3.getmore.cc/designer/profile/6909/medium.jpg">
	        	</a>
      		</div>
		</div>
	</div>
	<a name="annual"></a>
	<div style="margin:20px 0;overflow:auto;">
		<div style="float:left;">
			<img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/annual2015aw/1-2.png" style="width:500px;">
		</div>
		<div style="float:left;width:500px;">
			<div style="text-align:center;margin-top:110px;"><h2 style="color:#ff6699">全館買5000送300</h2><div style="font-size:16px;">滿10000送600(300元抵用券兩張)，以此類推</div></div>
		</div>
	</div>
	<div style="line-height:16px;color:#444;font-size:14px;letter-spacing:3px;-webkit-font-smoothing: antialiased;margin-bottom:50px;">
		<ol>詳細說明：
		<li>滿5000送300元E-coupon，滿10000送600(300元E-coupon兩張)，以此類推。</li>
		<li>單一Getmore會員帳號限兌換乙次，單筆訂單中不得與其他優惠活動合併使用，恕不折換現金。</li>
		<li>E-coupon將於2015年11月09日寄送。</li>
		<li>E-coupon不限金額皆可抵用，使用期限為2015年11月09日至2015年12月31日止，逾期無效。</li>
		<li>使用E-coupon情況下，如遇退貨，折扣恕不退還。</li>
		<li>Getmore保留修改使用及終止此項折扣碼之權利。 </li>
		</ol>
	</div>
	<div style="margin:20px 0;overflow:auto;">
		<div style="float:left;width:500px;">
			<div style="text-align:center;margin-top:110px;"><h2 style="color:#ff6699">結帳金額95折</h2><div style="font-size:16px;">結帳商品內含任一設計師品牌專區商品，即可享結帳金額95折優惠</div></div>
		</div>
		<div style="float:left;">
			<img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/annual2015aw/1-3.png" style="width:500px;">
		</div>
	</div>
	<div style="line-height:16px;color:#444;font-size:14px;letter-spacing:3px;-webkit-font-smoothing: antialiased;margin-bottom:50px;">
		<ol>詳細說明：
		<li>結帳商品內含設計師品牌專區商品，輸入折扣碼「2015AnnualSale」，即可享結帳金額95折優惠。（
			<a href="/shop/designer/acrosphere" target="_blank">Acrosphere</a>
			/
			<a href="/shop/designer/hypnoticace" target="_blank">HypA</a>
			/
	        <a href="/shop/designer/mingmade" target="_blank">MING MADE</a>
			/
			<a href="/shop/designer/moinonplus" target="_blank">moi non plus</a>
			/
			<a href="/shop/designer/ray77galaxy" target="_blank">RAY 77 GALAXY</a>
			/
			<a href="/shop/designer/seagrass" target="_blank">Seagrass</a>
			/
			<a href="/shop/designer/xiwistyle" target="_blank">XIWI</a>
			/
			<a href="/shop/designer/boomboomkidz" target="_blank">Boom Boom Kidz</a>
			/
			<a href="/shop/designer/7crash" target="_blank">7crash</a>
			/
			<a href="/shop/designer/twinklecat" target="_blank">Twinkle Cat</a>

			..等設計師品牌商品）</li>
		<li>如遇退貨，折扣恕不退還。</li><a name="taaze"></a>
		<li>Getmore保留修改使用及終止此項優惠之權利。</li>
		</ol>
	</div>
		<div style="margin:20px 0;overflow:auto;">
		<div style="float:left;">
			<img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/annual2015aw/1-0.png" style="width:500px;">
		</div>
		<div style="float:left;width:500px;">
			<div style="text-align:center;margin-top:100px;"><h2 style="color:#333399">消費即贈<br />TAAZE E-COUPON</h2><div style="font-size:16px;">數量有限，送完為止</div></div>
		</div>
	</div>
	<div style="line-height:16px;color:#444;font-size:14px;letter-spacing:3px;-webkit-font-smoothing: antialiased;margin-bottom:50px;">
		<ol>詳細說明：
		<li>Getmore週年慶期間不限金額消費，即贈 TAZZE讀冊生活網路書店 E-COUPON NT$50。</li>
		<li>TAAZE E-COUPON序號將於2015年11月02日(10/21-10/30期間內購買)以及11月09日（10/31-10/07期間內購買）寄送。  </li>
		<li>請至TAAZE讀冊生活網路書店<a href="http://www.taaze.tw" target="_blank;">www.taaze.tw</a>瀏覽書籍，將欲購商品放入購物車。 </li>
		<li>進入購物車，頁面下方勾選「折抵E-COUPON」，右方空白欄位中輸入E-COUPON序號。 選擇到貨方式後，即可折抵購物車內的消費金額。</li>
		<li>單筆消費滿NT$699以上，可抵扣NT$50元，使用效期至2015年11月24日止，逾期無效。</li>
		<li>單一組序號僅供單一TAAZE讀冊生活會員帳號使用一次。  </li>
		<li>如有使用上的問題，請連繫TAAZE讀冊生活網路書店客服信箱 。</li>
		</ol>
	</div>
	<div style="text-align:center;margin-top:60px;">
		<a href="http://getmore.cc" class="btn btn-primary gobtn" style="margin-bottom:50px;">手刀衝刺，即刻購買享受折扣</a>
	</div>
{% endblock %}