{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
    <meta property="og:title" content="聖誕節！買禮物送自己 @ Getmore 時尚小圈圈，把時尚圈在一起。"/>
    <meta property="og:description" content="集合原創新銳設計、買手時尚、精品二手、品牌二手的時尚購物網站" />
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/christmas/5inkpvu7s0hdpup6ggsle2hpf5_-01.png" />
<style>
p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  //  -webkit-font-smoothing:antialiased;
}
  .bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block searchbox%}
    {% include '/searchbox/outside_search.twig' %}   
{% endblock %} 

{% block main %}
<hr />
<div class="plandescription" style="min-height:50px;padding-bottom:10px;">
      <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle">聖誕快樂</font></div>
      <div class="pageaboutbox">
      <div class="pageaboutp">Getmore 是聚集新銳設計師、買手、時尚愛好者的購物網站，<br />供應獨特單品以及二手時尚的時尚購物平台。</div><br />
      <div class="pageaboutp">點選地區，可以看到來自歐洲、美國、台灣香港的新銳設計師商品</div>
      <div class="pageaboutp">或直接點選底下精選的商品，送自己一個禮物，發現原創時尚的獨特美好</div><br />    
      </div>
</div>
<div>
<img id="Image-Maps-Com-image-maps-2015-12-15-002847" src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/christmas/design_maps-01.png" border="0" width="1000" height="1200" orgWidth="1000" orgHeight="1200" usemap="#image-maps-2015-12-15-002847" alt="" />
<map name="image-maps-2015-12-15-002847" id="ImageMapsCom-image-maps-2015-12-15-002847">
<area id="http://bit.ly/1UbxLcs" alt="" title="手作真皮鑰匙包" href="http://www.image-maps.com/" shape="rect" coords="53,740,266,949" style="outline:none;" target="_blank"    data-maphilight='手作真皮鑰匙包' />
<area  alt="" title="7crash經典LOGO電繡毛帽" href="http://bit.ly/1M6OgA7" shape="rect" coords="52,961,265,1170" style="outline:none;" target="_blank"    data-maphilight='7crash經典LOGO電繡毛帽' />
<area  alt="" title="手工縫製SW水晶耳環" href="http://bit.ly/1NRC9Ia" shape="rect" coords="281,741,494,950" style="outline:none;" target="_blank"    data-maphilight='手工縫製SW水晶耳環' />
<area  alt="" title="HONESTY誠意5個" href="http://bit.ly/1Nme2lD" shape="rect" coords="281,963,495,1175" style="outline:none;" target="_blank"    data-maphilight='HONESTY誠意5個' />
<area  alt="" title="馴鹿羊毛圍巾" href="http://bit.ly/1Q6tqZy" shape="rect" coords="510,738,725,950" style="outline:none;" target="_blank"    data-maphilight='馴鹿羊毛圍巾' />
<area  alt="" title="Musical W1042 BI" href="http://bit.ly/1NZkMvl" shape="rect" coords="514,962,729,1174" style="outline:none;" target="_blank"    data-maphilight='Musical W1042 BI' />
<area  alt="" title=""根性"刺繡老布拼接零錢包" href="http://bit.ly/1NMBigK" shape="rect" coords="739,737,959,948" style="outline:none;" target="_blank"    data-maphilight='"根性"刺繡老布拼接零錢包' />
<area  alt="" title="紅寶石種子水滴型項鍊" href="http://bit.ly/1Z2SsKg" shape="rect" coords="742,964,958,1174" style="outline:none;" target="_blank"    data-maphilight='紅寶石種子水滴型項鍊' />
<area  alt="" title="來自歐洲的新銳設計" href="http://bit.ly/1NfI4cU" shape="rect" coords="46,172,207,404" style="outline:none;" target="_blank"    data-maphilight='來自歐洲的新銳設計' />
<area  alt="" title="台灣香港設計" href="http://bit.ly/1lA8HRa" shape="rect" coords="461,290,622,522" style="outline:none;" target="_blank"    data-maphilight='http://bit.ly/1lA8HRa' />
<area  alt="" title="來自美國" href="http://bit.ly/1Qizb67" shape="rect" coords="811,221,972,453" style="outline:none;" target="_blank"    data-maphilight='來自美國' />
<area shape="rect" coords="998,1198,1000,1200" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map>

{#
<img id="Image-Maps-Com-image-maps-2015-12-02-225017" src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/christmas/5inkpvu7s0hdpup6ggsle2hpf5_-01.png" border="0" width="1000" height="1200" orgWidth="1000" orgHeight="1200" usemap="#image-maps-2015-12-02-225017" alt="" />

<map name="image-maps-2015-12-02-225017" id="ImageMapsCom-image-maps-2015-12-02-225017">
<area  alt="" title="大扇形耳環" href="http://bit.ly/1NIBajN" shape="rect" coords="9,150,269,445" style="outline:none;" target="_blank"     />
<area  alt="" title="北極熊圍巾" href="http://bit.ly/1PxKrLX" shape="rect" coords="7,454,267,749" style="outline:none;" target="_blank"     />
<area  alt="" title="麋鹿紙鎮" href="http://bit.ly/1XAnoEu" shape="rect" coords="10,758,268,1135" style="outline:none;" target="_blank"     />
<area  alt="" title="圓盤雙銀框耳環" href="http://bit.ly/1HHcOom" shape="rect" coords="282,223,661,476" style="outline:none;" target="_blank"     />
<area  alt="" title="銀鞋" href="http://bit.ly/1Nrs9cR" shape="rect" coords="283,487,662,740" style="outline:none;" target="_blank"     />
<area  alt="" title="memo bank" href="http://bit.ly/1O5jWr2" shape="rect" coords="399,751,658,969" style="outline:none;" target="_blank"     />
<area  alt="" title="捲線器" href="http://bit.ly/1Iq6Zvu" shape="rect" coords="284,982,599,1191" style="outline:none;" target="_blank"     />
<area  alt="" title="自由五個手環" href="http://bit.ly/1NqkhE8" shape="rect" coords="616,983,825,1192" style="outline:none;" target="_blank"     />
<area  alt="" title="白色手環" href="http://bit.ly/1jA0f2d" shape="rect" coords="837,981,993,1190" style="outline:none;" target="_blank"     />
<area  alt="" title="簡約手錶" href="http://bit.ly/1O5kA81" shape="rect" coords="666,706,987,967" style="outline:none;" target="_blank"     />
<area  alt="" title="手工縫製鮑魚貝耳環-深藍雀鳥" href="http://bit.ly/1lxgpe0" shape="rect" coords="675,357,989,562" style="outline:none;" target="_blank"     />
<area  alt="" title="米白色圍巾" href="http://bit.ly/1Hpa6ni" shape="rect" coords="673,12,987,344" style="outline:none;" target="_blank"     />
<area  alt="" title="" href="http://goo.gl/IfC5Re" shape="rect" coords="8,3,391,135" style="outline:none;" target="_blank"     />
</map>
#}
  <div style="margin:30px auto 100px;text-align:center;">
    <a href="http://goo.gl/IfC5Re" target="_blank">
      <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/christmas/selectmore.png">
    </a>
  </div>
</div>

<hr />
    <div class="marginbottom30" style="margin-top:50px;">
      <div style="width:500px;float:left;">
          <div class="fb-page" data-href="https://www.facebook.com/getmore.cc" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getmore.cc"><a href="https://www.facebook.com/getmore.cc">Getmore</a></blockquote></div></div>
      </div> 
      <div style="float:right;width:450px;height:214px;" class="bookinggetmore">
        <form action="http://www.newsleopard.com/mailverify.htm?x=8a383d3a4e26ae89014e2e9128552da7"  target="popupwindow" method="post" onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
          <div style="padding:20px;margin-top:100px;float:right;">
            <p>
              <span><input style="width:260px;border:3px solid #000;"  class="form-control" placeholder="請輸入Email" name="email" type="text"/></span></center>
            </p>
            <input style="float:right;"class="btn" value="立即訂閱" type="submit"/>
          </div>
        </form>
      </div>
      <div class="clear"></div> 
    </div>
<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}