{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
    <meta property="og:title" content="Getmore 時尚小圈圈，把時尚圈在一起。"/>
    <meta property="og:description" content="集合原創新銳設計、買手時尚、精品二手、品牌二手的時尚購物網站" />
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/ogimg.png" />
<style>
p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  //  -webkit-font-smoothing:antialiased;
}
  .bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
#jointitle{
  width:110px;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block main %}
<hr />


<center>
<h2><div style="color:#bbb;margin-top:30px;margin-bottom:20px;">個人二手代售，你的「二次時尚」</div></h2><br />
  <p style="font-size:18px;margin-bottom:30px;">在Getmore賣出自己的品牌二手服飾，分享時尚，加入時尚小圈圈的行列</p> 
  <p style="font-size:16px;line-height:28px;color:#333;">透過 Getmore，你可以先<a href="http://getmore.cc/info/brandsonly" target="_blank">查詢可以接受代售的品牌</a>，填寫基本資料，線上支付洗衣費，就會有物流到府收件，並且經過專業流程送洗到上架。另一端的消費者，可以輕鬆安心挑選2折的品牌二手，享受二次時尚的樂趣。
  </p>
  <div style="margin-top:100px;">
   <img src="http://getmore.cc/assets/images/info/process.png">
 </div>
 <hr />
</center>
<div style="overflow:auto;">

  <div style="float:left;margin-top:30px;margin-right:20px;">
    <iframe width="480" height="300" src="//www.youtube.com/embed/wO7FvfhxGqk?rel=0" frameborder="0" allowfullscreen></iframe><br /><br/><center><h3>媒體報導</h3></center>
    <img src="/assets/images/info/report.jpg" width="480px;">
  </div>
  <div style="float:left;margin-top:30px">
        <table class="table table-bordered " id="jointable" style="width:500px;">
          <tr style="font-weight:600;background-color:#EEE;">
            <td class="font-size18" colspan="2" >
            <center>
              個人二手代售
            </center>
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              特色
            </td>
            <td>
              對於國際品牌以及高級成衣迷戀者，卻無暇處理洗衣拍照上架流程，委由專業管理
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              適用賣家
            </td>
            <td>
              藝人、明星、造型師、部落客，以及喜歡時尚的個人
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              管理方式
            </td>
            <td>
              代售期間內由Getmore統一出貨
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              客服
            </td>
            <td>
              由 Getmore 統一管理
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              收費方式
            </td>
            <td>
              洗衣費用 + 成交所得 X （ 30%+金流處理費5% ）(稅內)<a href="http://support.getmore.cc/?p=317" target="_blank">詳情</a>
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              如何領取現金
            </td>
            <td>
            鑑賞期過後，扣除費用後的賣衣服所得將於15~30天內入到「線上帳戶」，
            您可選擇在購買時抵扣，或是選擇匯出現金至您指定帳戶。
            由於會計作業，現金匯出依照您每月15日前的每筆申請(每筆匯款費用為15元)，
            統一每月20日匯入您指定的銀行帳戶(非上班日則順延)。
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              如何加入
            </td>

            <td align="center">
              申請即可開始
            </td>
          </tr>
          <tr>
            <td id="jointitle">
              必備條件
            </td>
            <td>
              符合相關規定，以分享為樂，讓好衣服有再次被愛的機會
            </td>
          </tr>
          <tr>

            <td colspan="2"><br />
            <center><a href="http://getmore.cc/info/brandsonly" target="_blank">查看品牌列表，開始代售</a><div style="font-size:10px;color:#bbb;">(個人二手代售)</div></center><br />
            </td>
          </tr>
        </table>
  </div>
</div>
<hr />

<div style="background-color:#f6f7f8;padding:20px;color:#141823;border-radius:10px;padding-top:30px;">
<p>在Getmore賣出自己的品牌二手服飾，分享時尚，加入時尚小圈圈的行列。<br />個人二手代售服務專區，時尚個人的分享專區，讓那些在您的衣櫃中閒置如新的品牌時裝有再次被愛的機會！
<br />
衣服的價值衡量來自於它的品牌、設計、材質、版型剪裁、新舊程度等元素，因此若是過於普及、沒有價值或是陳舊的衣物，則不適合提出代售申請。</p>
</div>
<br/>
<div style="margin-bottom:30px;">
<center><p><a href="http://getmore.cc/info/brandsonly" target="_blank"><button type="button" class="btn btn-primary">查看品牌列表，開始代售</button></a><div style="font-size:10px;color:#bbb;">(個人二手代售)</div>
</p></center>
</div>
<hr />
    <div class="marginbottom30">
      <div style="width:500px;float:left;">
          <div class="fb-page" data-href="https://www.facebook.com/getmore.cc" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getmore.cc"><a href="https://www.facebook.com/getmore.cc">Getmore</a></blockquote></div></div>
      </div> 
      <div style="float:right;width:450px;height:214px;" class="bookinggetmore">
        <form action="http://www.newsleopard.com/mailverify.htm?x=8a383d3a4e26ae89014e2e9128552da7"  target="popupwindow" method="post" onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
          <div style="padding:20px;margin-top:100px;float:right;">
            <p>
              <span><input style="width:260px;border:3px solid #000;"  class="form-control" placeholder="請輸入Email" name="email" type="text"/></span></center>
            </p>
            <input style="float:right;"class="btn" value="立即訂閱" type="submit"/>
          </div>
        </form>
      </div>
      <div class="clear"></div> 
    </div>
<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}