{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
<style>
p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  //  -webkit-font-smoothing:antialiased;
}

</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block main %}
<hr />
<center><img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/happy1111/7crash1-02.jpg"></center>
<br />
<center><img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/happy1111/7crash1-03.jpg"></center><br />
<hr />
<div style="overflow:auto;">
	<div class="col-md-4">
	<p>7crash
	7crash成立於2011年台北。「Crash」代表著「衝擊」，意味著突破既定框架的品牌精神，也因此品牌風格有別以往設計師品牌的灰階暗沈，反而使用大膽跳躍的印花色彩，觸動著人們內心的叛逆想像。</p>
	<ul>
	經歷：
	<li>2011台北購物節設計師聯合時尚秀‭</li>
	<li>2012台北魅力展時尚發表秀</li>
	<li>2013捷進國際注資</li>
	<li>2014台北誠品概念店成立</li>
	<li>2014香港FFFest時裝週靜態秀</li>
	<li>2015‬韓國首爾時裝發表秀</li>
	<li>2015‬溫哥華時裝周2016SS發表</li>
	</ul>
	</p>
	</div>

	<div class="col-md-8"><img src="http://s3.getmore.cc/designer/signboard/6909/medium.jpg" class="img-responsive" alt="Responsive image"><br />
	<center><a href="http://getmore.cc/shop/designer/7crash" target="_blank"><button type="button" class="btn btn-primary">火速前往，立即選購 >></button></a></center>
	</div>
</div>
<div>
	<hr />
	<p>
	<ol style="line-height:24px;"><h3>詳細說明：</h3>
	<li>11月1日至11月11日止，挑選任一件7crash設計商品以及一件7crashT恤以原價結賬，即享現金回饋至線上賬戶，等於第二件商品用NT$11即可入手！<br />（線上賬戶的金額可以繼續在Getmore網站消費，或是申請匯出現金至您的銀行帳戶。）</li>
	<li>加購價NT$11，無法與週年慶95折優惠並行。</li>
	<li>活動期間內購買之7crash商品只能換貨，不得退貨。</li>
	<li>Getmore保留修改使用以及終止此項優惠之權利。</li>
	</ol>
	</p>
</div>
	
{% endblock %}