{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
	<meta property="og:title" content="二手精品小店招募中 | Getmore 時尚小圈圈，把時尚圈在一起。"/>
    <meta property="og:description" content="集合原創新銳設計、買手時尚、精品二手、品牌二手的時尚購物網站" />
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/ogimg.png" />
<style>
p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  //  -webkit-font-smoothing:antialiased;
}
#jointable{
    width: 1000px;
}

#jointable td{
    padding: 20px;
    min-width: 180px;
    vertical-align: middle;
}
#jointitle {
	text-align: center;
	min-width:150px;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block main %}
<hr />

<center><h2><span style="color:#bbb;line-height:1.5;">We are comming soon!!<br />迎接時尚電商時代，精品二手小店招募中！！</span></h2><br /></center>
<div style="width:600px;margin:30px 200px;">
	<p>Getmore 是專注在「時尚」社群的購物網站 </p>
	<p>	聚集新銳設計師、買手、時尚愛好者的購物網站，供應獨特單品以及二手時尚的時尚購物平台。<br /></p>
	<p>Getmore 有一個特別的專區 - 「二手精品 / LUXURY」 是聚集台灣香港實體精品小店的線上專區。		在這裏，你的二手精品小店可以在線上找到最適合的客人，用簡單安全的交易方式。</p>
	<p>除了專業的網路服務，我們也將協助精品小店商品攝影，文案企劃，網路行銷，一起邁向時尚電商的時代。</p>
	<p>即將開始，台灣、香港二手精品小店火速聯絡我們！</p>
</br><center><a href="https://docs.google.com/a/getmore.cc/forms/d/1SvMB_00a8QDkYzNmwoXjNIJKlgwE-Sj_KzIvi-HCSIY/viewform?c=0&w=1" target="_blank"><button type="button" class="btn btn-primary" style="width:200px;">申請加入，即刻開店</button></a></center><br />
</div>
<center>	
	<img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/luxury/luxurybag.jpg">
</center>
<hr />
<div style="overflow:auto;width:400px;margin:0px 300px;">
	<br />
	<ul>	<h3>在 Getmore 開店的好處</h3>
	<li>專注時尚單品的平台，專業的上架後台</li>
	<li>免上架費，免開通費，成交後收取手續費用</li>
	<li>賣家審核制度，聚集台灣香港的時尚社群</li>
	<li>持續開發，提供時尚賣家最好的選擇</li>
	</ul>
	</br>
</div>
<div style="overflow:auto;width:400px;margin:0px 300px;">
	<br />
	<ul><h3>二手精品專區協力項目</h3>
	<li>專業精品商品攝影</li>
	<li>文案製作，專案行銷企劃</li>
	<li>出貨包裝，整體行銷</li>
	<li>完整安全金流服務，客人買得更安心</li>
	<li>facebook、Google 行銷廣告</li>
	<li>台灣、香港亞洲等地跨境電商支援</li>
	</ul>
	</br>
</div>
<br />
<center><a href="https://docs.google.com/a/getmore.cc/forms/d/1SvMB_00a8QDkYzNmwoXjNIJKlgwE-Sj_KzIvi-HCSIY/viewform?c=0&w=1" target="_blank"><button type="button" class="btn btn-primary" style="width:200px;">申請加入，專人聯繫</button></a></center><br />

<div>
<hr / style="border-top: 1px solid #000;">
<br />
<h3>誰可以在Getmore開店</h3>
<p>獨立設計師、時尚買手、二手精品店、個人二手代售</p>
<br />
</div>
		  <center>
		  	<table class="table table-bordered " id="jointable">
		  	<tr style="font-weight:600;background-color:#EEE;">
		  		<td id="jointitle"></td>
		  		<td class="getmoregreen font-size18">
		  		<center>
		  			原創設計師
		  		</center>
		  		</td>
		  		<td class="getmoregreen font-size18">
		  		<center>
		  			時尚買手
		  		</center>
		  		</td>
		  		<td class="getmoregreen font-size18">
		  		<center>
		  			二手精品店
		  		</center>
		  		</td>
		  		<td class="font-size18" style="color:#cc3333;">
		  		<center>
		  			個人二手代售
		  		</center>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			特色
		  		</td>
		  		<td align="center" colspan="3">
		  		 	結合台灣香港，專業的時尚網購平台
		  		</td>
		  		<td>
		  			對於國際品牌以及高級成衣迷戀者，卻無暇處理洗衣拍照上架流程，委由專業管理
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			適用賣家
		  		</td>
		  		<td>
		  		 	新銳設計師、手作配件設計師、獨家授權原創品牌
		  		</td>
		  		<td>
		  			歐美時尚買手、日韓買手、其他獨特設計買手、個人二手精品
		  		</td>
		  		<td>
		  			有店面、有鑑定保證的二手精品店
		  		</td>
		  		<td>
		  			藝人、明星、造型師、部落客，以及喜歡時尚的個人
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			管理方式
		  		</td>
		  		<td  colspan="3" align="center">
		  			自行管理<br/>
					使用Getmore後台上架，利用便利的系統管理訂單，以及客服相關事宜
		  		</td>
		  		<td>
		  			預付洗衣費，Getmore 代為處理清洗、拍照、丈量、上架、包裝、管理訂單以及出貨
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			出貨方式
		  		</td>
		  		<td  align="center" colspan="3" >
		  			自行出貨
		  		</td>
		  		<td>
		  			代售期間內由Getmore統一出貨
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			客服
		  		</td>
		  		<td align="center" colspan="3">
		  			透過 Getmore 訊息系統聯繫客人
		  		</td>
		  		<td>
		  			由 Getmore 統一管理
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			收費方式
		  		</td>
		  		<td colspan="3">
		  			免上架費！！
		  			成交所得 X （ 10%+金流處理費5%+$10 ）(稅內) {#<a href="http://support.getmore.cc/?p=163" target="_blank">詳情</a>#}
		  		</td>
		  		<td>
		  			洗衣費用 + 成交所得 X （ 30%+金流處理費5% ）(稅內){#<a href="http://support.getmore.cc/?p=317" target="_blank">詳情</a>#}
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			如何領取現金
		  		</td>
		  		<td colspan="3">
		  			扣除費用後的所得將於15~30天內入到「線上帳戶」，
		  			為方便設計師以及商家結帳，Getmore將於每月10日前自動結算上月營收，
		  			統一匯入您指定的銀行帳戶，每筆匯款費用為15元，非上班日則順延。
		  		</td>
		  		<td>
		  			鑑賞期過後，扣除費用後的賣衣服所得將於15~30天內入到「線上帳戶」，
					您可選擇在購買時抵扣，或是選擇匯出現金至您指定帳戶。
					由於會計作業，現金匯出依照您每月15日前的每筆申請(每筆匯款費用為15元)，
					統一每月20日匯入您指定的銀行帳戶(非上班日則順延)。
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			如何加入
		  		</td>
		  		<td align="center">
		  			審核制，商品原創性
		  		</td>
		  		<td align="center">
		  			審核制，選貨能力
		  		</td>
		  		<td align="center">
		  			審核制，鑑定力
		  		</td>
		  		<td align="center">
		  			申請即可開始
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">
		  			必備條件
		  		</td>
		  		<td align="center" colspan="3">
		  			符合分類以及相關規定，有商品攝影能力
		  		</td>
		  		<td>
		  			符合相關規定，以分享為樂，讓好衣服有再次被愛的機會
		  		</td>
		  	</tr>
		  	<tr>
		  		<td id="jointitle">

		  		</td>
		  		<td align="center">
	            	</br><center><a href="https://docs.google.com/a/getmore.cc/forms/d/1K9X7cPEqaIhlvD-yXdl_DheXHzsJxR5rD5LtZgNLOb8/viewform?c=0&w=1" target="_blank"><button type="button" class="btn btn-primary">申請加入，專人服務</button></a><div style="font-size:10px;color:#bbb;">(原創設計師)</div></center><br />
		  		</td>
		  		<td align="center" colspan="2">
	            	</br><center><a href="https://docs.google.com/a/getmore.cc/forms/d/1SvMB_00a8QDkYzNmwoXjNIJKlgwE-Sj_KzIvi-HCSIY/viewform?c=0&w=1" target="_blank"><button type="button" class="btn btn-primary" style="width:200px;">申請加入，即刻開店</button></a><div style="font-size:10px;color:#bbb;">(時尚買手、二手精品店)</div></center><br />
		  		</td>
		  		<td>
					</br><center><a href="/pages/closetsell" target="_blank"><button type="button" class="btn btn-primary">開始代售申請</button></a><div style="font-size:10px;color:#bbb;">(個人二手代售)</div></center><br />
		  		</td>
		  	</tr>

		  </table>
		</center>
</div>
	
{% endblock %}