{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
.well{
	padding:15px 10px;
}
.endprice {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: right;
}
.coupon_code {
    width: 150px;
    height: 25px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.red{
	color:red;
}
.carttitle {
    font-weight: bold;
    letter-spacing: 5px;
}

p{
	margin-bottom: 10px;
	font-size: 14px;
}

body{
	//font-size: 14px;
}

.cartimg{
	width: 50px;
    margin: 10px;
}
.product-brand {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    line-height: 1;
}
.fresh-product-title {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    margin-top: 10px;

}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.btn{
	border-radius: 0;
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/mobile_assets/js/readmore.min.js"></script>
{% endblock %}

{% block main %}

	{% include 'template/mobile/navbar.html.twig' %}
	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main" style="margin-bottom:30px;font-size:14px;line-height:18px;">
	<div style="padding: 0 10px;margin-top:20px;">		
	<span style="color:#bbb;font-size:16px;">結帳</span> 
	<div style="margin-top:5px;text-align:center;">
		<span style="color:#000;font-weight:blod;font-size:14px;text-decoration:underline;">確認訂單</span><span style="color:#bbb;font-size:14px;"> > 填寫資訊 > 付款</span>
		<br />      
		<span style="font-size:10px; color:#bbb;">(採用國泰銀行、LinePay等第三方安全付款) </span>

	</div>
	<hr />
		<div>
			<center>
				<a href="/" style="vertical-align:bottom;font-size:10px;color:#bbb;margin-right:5px;">繼續購物</a>
				<input type="submit" class="btn btn-primary btn-sm" id="go_second_step" value="下一步，填寫資訊" style="width:50%;">
			</center>
		</div>
		<div class="well" style="margin-top:10px;">
			<p><span style="font-size: 14px;">本次消費總金額共 $1500 元。</span><br>
            	<span style="font-size:10px; color:#bbb;">(提醒您，商品來自不同賣家可能個別出貨，請留意手機來電！) </span>
        	</p>
       		<div class="endprice">總計$1500元</div>
		</div>
		<div class="well" style="margin-top:10px;">
			<div>
				<i class="fa fa-gratipay fa-lg red"></i> 有折扣碼嗎？ <br /> 
				<input type="text" name="coupon_code" class="form-control coupon_code" placeholder="請輸入折扣碼" value="" ><button class="btn btn-info btn-xs coupon-btn">確定</button>
				<div style="margin-left:10px;margin-top:10px;font-size:10px; color:#bbb;">可折抵<span class="coupon_amount">  </span>元。</div>
				<hr/>
        	</div>
        	<p><i class="fa fa-gratipay fa-lg red"></i> 您的帳戶共有101元，請輸入抵扣金額 <br /><input type="tel" name="coupon_code" class="form-control coupon_code" placeholder="0" value="">元 &nbsp;<button class="btn btn-info btn-xs coupon-btn">確定</button><div style="margin-left:10px;margin-top:10px;font-size:10px; color:#bbb;">＊輸入金額後請按下「確定」</div>
        	</p>
		</div>
		<hr />
		賣家寄倉商品 / BRANDS ONLY
		<div style="padding:10px;border: 1px solid #70afa4;overflow:auto;margin-bottom:20px;">
				<div class="product-detail "style="position:relative;overflow:auto;">
					<div style="float:left">
						<img class="cartimg" src="http://s3.getmore.cc/clothing/14377284662225677/medium.jpg">
					</div>
					<div style="padding:10px;float:left;width:50%;">
						<div class="product-brand">MING MADE</div>
						<div class="fresh-product-title">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div><a href="#" style="font-size:10px; color:#bbb;">加清單，下次再買</a></div>
					</div>
					<div style="position:absolute;top:0;right:3px;">
						<i class="fa fa-times fa-lg"></i>
					</div>
					<div style="position:absolute;bottom:0;right:3px;">
						<span style="font-size:12px; color:#bbb;">QTY:1</span>
					</div>
				</div>
				<hr/>
				<div class="product-detail "style="position:relative;overflow:auto;">
					<div style="float:left">
						<img class="cartimg" src="http://s3.getmore.cc/clothing/14377284662225677/medium.jpg">
					</div>
					<div style="padding:10px;float:left;width:50%;">
						<div class="product-brand">MING MADE</div>
						<div class="fresh-product-title">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div><a href="#" style="font-size:10px; color:#bbb;">加清單，下次再買</a></div>
					</div>
					<div style="position:absolute;top:0;right:3px;">
						<i class="fa fa-times fa-lg"></i>
					</div>
					<div style="position:absolute;bottom:0;right:3px;">
						<span style="font-size:12px; color:#bbb;">QTY:1</span>
					</div>
				</div>
				<hr />
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <div class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				        	<div style="width:100%;"><span style="font-size:12px;">交易政策  ></span></div>
				        </a>
				      </div>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				</div>
		</div>
		<div>
			<center>
				<a href="/" style="vertical-align:bottom;font-size:10px;color:#bbb;margin-right:5px;">繼續購物</a>
				<input type="submit" class="btn btn-primary btn-sm" id="go_second_step" value="下一步，填寫資訊" style="width:50%;">
			</center>
		</div>
	</div>
</div>

	{% include 'template/mobile/mobile_footer.html.twig' %}

{% endblock %}