{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
hr {
	margin-top: 10px;
	margin-bottom:10px;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block main %}
	{% include 'template/mobile/navbar.html.twig' %}
	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main" style="margin-bottom:30px;">
	<div style="padding: 0 10px;margin-top:20px;">		
		<span style="color:#bbb;font-size:16px;">關於 Getmore</span><hr />
		<center>
			<p style="font-size:18px;">時尚小圈圈<br />專注在「時尚」社群的購物網站</p>
		  <div>
			 <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/pages/about/togetherbanner.png" class="img-responsive" alt="Responsive image">
		 </div>
		</center>
		<hr />
		<br />
		<p style="font-size:16px;line-height:22px;">Getmore 是聚集新銳設計師、買手、時尚愛好者的購物網站，供應獨特單品以及二手時尚的平台。
	   <br />透過「新銳設計師」、「時尚買手」，帶給消費者豐富的時尚體驗，消費者也可以透過分享自己的二手單品，共享時尚買賣樂趣。<br /><br />
	   台灣、香港「新銳設計師」、「時尚買手」、「二手精品店」陸續加入中，一起重新定義時尚！
		</p>
		<hr />
		<p style="font-size:16px;line-height:22px;">Getmore 總部位於台灣 <br />
	   2014年開始，Getmore 開始了品牌二手代售服務。<br />
	   2015年的年底，Getmore 開始招募新銳設計師以及時尚買手，聚集「原創設計時裝」、「原創配件」、「二手品牌時裝」、「二手精品」。<br />
		</p>
		<div style="background-color:#f6f7f8;padding:20px;color:#141823;border-radius:10px;">
		<p style="font-size:16px;line-height:28px;">2014年的年初，Getmore開始了「二手衣代售服務」，透過 Getmore，你可以先查詢可以接受待售的品牌，填寫基本資料，線上支付洗衣費，就會有物流到府收件，並且經過專業流程送洗到上架。另一端的消費者，可以輕鬆安心挑選2折的品牌二手，享受二次時尚的樂趣。</p>
		<p style="font-size:16px;line-height:28px;">
		然而，2015年開始，我們開始思考在「時尚」以及「網路科技」結合下，Getmore 還可以扮演甚麼角色?</p>
		<p style="font-size:16px;line-height:28px;">
		我們認為，網路科技越發達，「人」的價值越會被凸顯，而總部位於台灣的 Getmore，正值時尚電商時代崛起的時代，這個時代，從台灣做為起點，最可以展現的正是「個人」在「時尚美學」以及「生活方式」的獨特多樣性。因此，我們開始接觸台灣以及香港的「新銳設計師」、「時尚買手」、「二手精品店」。也不停地改善網站功能，期待能提供時尚相關的美學服務提供者一個良好的社群電商環境。這就像是建立自己的時尚小圈圈，在這些小圈圈聚集在一起的同時，我們的力量可以更大，影響就能越深。</p>
		</div>
		<hr />
		<p style="font-size:16px;line-height:28px;">Getmore 將正式於今年底推出完整的改版，新增「原創設計師」、「時尚買手」、「二手精品店」，加上原有的 「 個人二手 」 代售，一起在 Getmore 建立自己的小圈圈，服務喜歡多樣性風格的消費者。</p>
		<p style="font-size:16px;line-height:28px;">歡迎在 Getmore 開一間時尚店，建立自己的時尚小圈圈。</p>
		<br/>
		<div style="background-color:#f6f7f8;padding:20px;color:#141823;border-radius:10px;margin-bottom:30px;">
			<p>
				申請時尚小圈圈 >> <a hrrf="/pages/jointogether">http://getmore.cc/pages/jointogether</a>
			</p>
		</div>
	</div>
</div>

	{% include 'template/mobile/mobile_footer.html.twig' %}


{% endblock %}