{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
hr {
	margin-top: 10px;
	margin-bottom:10px;
}
.product-brand {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    line-height: 1;
}
.fresh-product-title {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    margin-top: 10px;

}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.dsner-box{
	padding-left: 10px;
//	padding-right: 10px;
	width: 33%;
	float: left;
}
.dsner-color {
    font-size: 10px;
    border-radius: 0px;
    outline: 1px inset black;
    outline-offset: -1px;
}
.product-size-guide{
	border:1px inset black;
}

.btn{
	border-radius: 0px;
}
.product-view-buy {
    background-color: #BDE1D6;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
}
/* Show only 4 lines in smaller screens */
article {
  max-height: 6em; /* (4 * 1.5 = 6) */
  line-height: 2;
}
.articlebox{
	padding:20px;
	color:#000;
	font-size:14px
}
.articlebox a{
	text-align: center;
	border-bottom: 0px;
}
.panel-heading{
	border-radius: 0;
}
.panel{
	border-radius: 0;	
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/mobile_assets/js/readmore.min.js"></script>
{% endblock %}

{% block main %}

	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main">
	{% include 'template/mobile/navbar.html.twig' %}
	<div style="padding:10px;">
    	<img src="http://s3.getmore.cc/clothing/14436205551386831/large.jpg" class="img-responsive" style="display: inline-block;">
	</div>
	<div style="padding:10px;">
		<div class="product-brand">MING MADE</div>
		<div class="fresh-product-title">"根性"刺繡老布拼接零錢包 (黑色)</div>
		<div class="fresh-product-price">
	    	<span class="is-deleted" >NT$ 1280</span>
	    	<span class="fresh-product-sale">NT$ 1280</span>
		</div>
	</div>
	<div style="overflow:auto;margin-top:15px;">
		<div class="dsner-box">
	      <select class="form-control dsner-color">
	          <option value="color">Color</option>
	      </select>
	    </div>
	   	<div class="dsner-box">
	      <select class="form-control dsner-color">
	          <option value="color">size</option>
	      </select>
	    </div>
	    <div class="dsner-box">
			<a class="btn btn-default btn-block product-size-guide"> size guide</a>  
	  	</div>
	 </div>
	 <div style="margin-top:10px;padding:10px;">
			<a class="btn btn-default btn-block product-view-buy">ADD TO CART</a>  
	 </div>
	 <div style="padding:0 10px;width:50%">
			<a class="btn btn-default btn-block">加入欲望清單</a>  
	 </div>
	 <div class="articlebox">
	 	<article data-readmore="" aria-expanded="false" id="rmjs-1" style=""><h4>商品資訊</h4>
	 	<div>品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。品牌首次推出的布料拼接錢包新作，主布採用60年代格子老土粗布與進口粗織布，搭配三款不同工法的特殊手工花布，正面以精密電腦繡花"根性"來展現，背面依然釘上品牌S的摩斯電碼形式眼扣，中間小夾層亦可區隔零錢鈔票或卡片等小物，使用YKK黑烤漆拉鍊，輔以手工縫皮製拉繩，內裏與面布皆經過高規格處理，讓錢包本身具有更扎實的手感。</div>
		</article>
	 </div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          尺寸說明 >
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          品牌介紹  >
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        	交易政策  >
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<div id="footer">

	<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>
<script>
$('article').readmore({
  speed: 75,
  moreLink: '<a href="#">...閱讀更多</a>',
  lessLink: '<a href="#">Read less</a>',

});
</script>
{% endblock %}