{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
.well{
	padding:15px 10px;
}
.endprice {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: right;
}
.coupon_code {
    width: 150px;
    height: 25px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.red{
	color:red;
}
.carttitle {
    font-weight: bold;
    letter-spacing: 5px;
}

p{
	margin-bottom: 10px;
	font-size: 14px;
}

body{
	//font-size: 14px;
}

.cartimg{
	width: 50px;
    margin: 10px;
}
.product-brand {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    line-height: 1;
}
.fresh-product-title {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    margin-top: 10px;

}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.btn{
	border-radius: 0;
}
.check-info {
    background-color: #BDE1D6!important;
    color: #666666;
    padding: 5px;
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/mobile_assets/js/readmore.min.js"></script>
{% endblock %}

{% block main %}
	{% include 'template/mobile/navbar.html.twig' %}

	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main" style="margin-bottom:30px;font-size:14px;line-height:18px;">
	<div style="padding: 0 10px;margin-top:20px;">		
	<span style="color:#bbb;font-size:16px;">結帳</span> 
	<div style="margin-top:5px;text-align:center;">
		<span style="color:#bbb;font-size:14px;"> 確認訂單 ></span>
		<span style="color:#000;font-weight:blod;font-size:14px;text-decoration:underline;">填寫資訊</span>
		<span style="color:#bbb;font-size:14px;"> > 付款</span>
		<br />      
		<span style="font-size:10px; color:#bbb;">(採用國泰銀行、LinePay等第三方安全付款) </span>
	</div>
	<hr />
		<div>
			<center>
				<a href="/checkout/first" style="vertical-align:bottom;font-size:10px;color:#bbb;margin-right:5px;">上一步，確認訂單</a>
				<input type="submit" class="btn btn-primary btn-sm" id="go_second_step" value="下一步，確認付款" style="width:50%;">
			</center>
		</div>
		<div class="well" style="margin-top:10px;">
			<p><span style="font-size: 14px;">本次消費總金額共 $1500 元。</span><br>
            	<span style="font-size:10px; color:#bbb;">(提醒您，商品來自不同賣家可能個別出貨，請留意手機來電！) </span>
        	</p>
       		<div class="endprice">總計$1500元</div>
		</div>
		<hr />

<form method="post" action="/checkout/third" id="order_info" novalidate="novalidate">
  	<div class="check-info" style="margin-bottom:10px;">
    	<div class="check-info" style="margin:5px;text-align:center;border:1px solid #fff;"><div>填入寄送資料</div></div>
		<div class="check-info" style="margin:5px;border:1px solid #fff;">
			<div class="text-center" style="text-decoration:underline;">
			      訂購人資料
			</div>
		    <div class="form-group">
		      <label for="putname">中文姓名<sup>*必填</sup></label>
		      <div class="nameandgender">
		        <div class="namebox">
		        <input type="text" name="buyer[name]" class="form-control required" placeholder="請填寫中文姓名" aria-required="true">
		        </div>
		        <div style="margin-top:5px;">
		          <label  style="display:inline-block">
		            <input type="radio" name="buyer[gender]" value="0" checked="checked">小姐
		          </label>
		          <label  style="display:inline-block">
		            <input type="radio" name="buyer[gender]" value="1" >先生
		          </label>
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="putphone">聯絡電話<sup>*請填入聯絡到您的電話</sup></label>
		      <div class="phonebox">
		        <input type="tel" name="buyer[telephone]" class="form-control required tel" placeholder="請填寫聯絡電話" aria-required="true">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="putname">地址<sup>*必填</sup></label>
		      <div class="nameandgender">
		        <div id="buyer_twzipcode">
		          <div class="address-city">
		            <div data-role="county" data-name="buyer[county]" data-style="form-control" data-value="台北市"><select name="buyer[county]" class="form-control"><option value="">縣市</option><option value="基隆市">基隆市</option><option value="台北市">台北市</option><option value="新北市">新北市</option><option value="宜蘭縣">宜蘭縣</option><option value="新竹市">新竹市</option><option value="新竹縣">新竹縣</option><option value="桃園市">桃園市</option><option value="苗栗縣">苗栗縣</option><option value="台中市">台中市</option><option value="彰化縣">彰化縣</option><option value="南投縣">南投縣</option><option value="嘉義市">嘉義市</option><option value="嘉義縣">嘉義縣</option><option value="雲林縣">雲林縣</option><option value="台南市">台南市</option><option value="高雄市">高雄市</option><option value="屏東縣">屏東縣</option><option value="台東縣">台東縣</option><option value="花蓮縣">花蓮縣</option><option value="金門縣">金門縣</option><option value="連江縣">連江縣</option><option value="澎湖縣">澎湖縣</option><option value="南海諸島">南海諸島</option></select></div>
		          </div>
		          <div class="address-city">
		            <div data-role="district" data-name="buyer[district]" data-style="form-control" data-value="大安區"><select name="buyer[district]" class="form-control"><option value="中正區">中正區</option><option value="大同區">大同區</option><option value="中山區">中山區</option><option value="松山區">松山區</option><option value="大安區">大安區</option><option value="萬華區">萬華區</option><option value="信義區">信義區</option><option value="士林區">士林區</option><option value="北投區">北投區</option><option value="內湖區">內湖區</option><option value="南港區">南港區</option><option value="文山區">文山區</option></select></div>
		          </div>
		          <div class="address-zip">
		            <div data-role="zipcode" data-name="buyer[zipcode]" data-style="form-control" data-value="106"><input type="text" name="buyer[zipcode]" readonly="" class="form-control valid" aria-invalid="false"></div>
		          </div>
		        </div>
		        <div class="addressdetail">
		            <input type="text" name="buyer[address]" class="form-control required" placeholder="請填寫詳細地址" aria-required="true">
		        </div>
		      </div>
		    </div>
		</div>

		<div class="check-info" style="margin:5px;border:1px solid #fff;">
			<div class="text-center" style="text-decoration:underline;">
			      收件人資料
			</div>
			<div><label><input type="checkbox" id="fill_receiver_from_buyer">收件人同訂購人</label></div>
		    <div class="form-group">
		      <label for="putname">中文姓名<sup>*必填</sup></label>
		      <div class="nameandgender">
		        <div class="namebox">
		        <input type="text" name="buyer[name]" class="form-control required" placeholder="請填寫中文姓名" aria-required="true">
		        </div>
		        <div style="margin-top:5px;">
		          <label  style="display:inline-block">
		            <input type="radio" name="buyer[gender]" value="0" checked="checked">小姐
		          </label>
		          <label  style="display:inline-block">
		            <input type="radio" name="buyer[gender]" value="1" >先生
		          </label>
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="putphone">聯絡電話<sup>*請填入聯絡到您的電話</sup></label>
		      <div class="phonebox">
		        <input type="tel" name="buyer[telephone]" class="form-control required tel" placeholder="請填寫聯絡電話" aria-required="true">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="putname">地址<sup>*必填</sup></label>
		      <div class="nameandgender">
		        <div id="buyer_twzipcode">
		          <div class="address-city">
		            <div data-role="county" data-name="buyer[county]" data-style="form-control" data-value="台北市"><select name="buyer[county]" class="form-control"><option value="">縣市</option><option value="基隆市">基隆市</option><option value="台北市">台北市</option><option value="新北市">新北市</option><option value="宜蘭縣">宜蘭縣</option><option value="新竹市">新竹市</option><option value="新竹縣">新竹縣</option><option value="桃園市">桃園市</option><option value="苗栗縣">苗栗縣</option><option value="台中市">台中市</option><option value="彰化縣">彰化縣</option><option value="南投縣">南投縣</option><option value="嘉義市">嘉義市</option><option value="嘉義縣">嘉義縣</option><option value="雲林縣">雲林縣</option><option value="台南市">台南市</option><option value="高雄市">高雄市</option><option value="屏東縣">屏東縣</option><option value="台東縣">台東縣</option><option value="花蓮縣">花蓮縣</option><option value="金門縣">金門縣</option><option value="連江縣">連江縣</option><option value="澎湖縣">澎湖縣</option><option value="南海諸島">南海諸島</option></select></div>
		          </div>
		          <div class="address-city">
		            <div data-role="district" data-name="buyer[district]" data-style="form-control" data-value="大安區"><select name="buyer[district]" class="form-control"><option value="中正區">中正區</option><option value="大同區">大同區</option><option value="中山區">中山區</option><option value="松山區">松山區</option><option value="大安區">大安區</option><option value="萬華區">萬華區</option><option value="信義區">信義區</option><option value="士林區">士林區</option><option value="北投區">北投區</option><option value="內湖區">內湖區</option><option value="南港區">南港區</option><option value="文山區">文山區</option></select></div>
		          </div>
		          <div class="address-zip">
		            <div data-role="zipcode" data-name="buyer[zipcode]" data-style="form-control" data-value="106"><input type="text" name="buyer[zipcode]" readonly="" class="form-control valid" aria-invalid="false"></div>
		          </div>
		        </div>
		        <div class="addressdetail">
		            <input type="text" name="buyer[address]" class="form-control required" placeholder="請填寫詳細地址" aria-required="true">
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
              <label for="delivery_time">指定寄送時間</label>
              <div>
                <select name="receiver[delivery_time]" id="delivery_time" style="font-size:14px;">
                  <option value="any">不指定</option>
                  <option value="0-12">中午前</option>
                  <option value="12-17">12~17</option>
                  <option value="17-20">17~20</option>
                </select>
              </div>
            </div>
		</div>
	</div>
	<div class="check-info" style="margin-bottom:10px;">
    	<div class="check-info" style="margin:5px;text-align:center;border:1px solid #fff;"><div>選擇付款方式</div></div>
		<div class="check-info" style="margin:5px;text-align:center;border:1px solid #fff;padding-top:15px;">
			<div class="cart_3_choose_pay">
	            <label>
	              <input type="radio" name="payment_method" value="line_pay" id="line_pay">LINE Pay &nbsp;
	              <img src="http://getmore.cc/assets/images/checkout/linepay.png">
	            </label>
	        </div>
	        <div class="cart_3_choose_pay">
	            <label>
	              <input type="radio" name="payment_method" value="credit-cart" checked="checked" id="credit-cart">信用卡 &nbsp;
	              <img src="/assets/images/checkout/credit_card.png">
	            </label>
	        </div>
			<div class="cart_3_choose_pay">
	          <label>
	            <input type="radio" name="payment_method" value="atm">ATM轉帳 &nbsp;
	            <img src="/assets/images/checkout/atm.png">
	          </label>
        	</div>
			<div class="cart_3_choose_pay">
          		<label>
		            <input type="radio" name="payment_method" value="pay-at-home">貨到付款 &nbsp;
		            <img src="/assets/images/checkout/bcat.png">
          		</label>
        </div>
	    </div>
	</div>
</form>
<hr />	
	<div>
			<center>
				<a href="/checkout/first" style="vertical-align:bottom;font-size:10px;color:#bbb;margin-right:5px;">上一步，確認訂單</a>
				<input type="submit" class="btn btn-primary btn-sm" id="go_second_step" value="下一步，確認付款" style="width:50%;">
			</center>
		</div>

	</div>
</div>

	{% include 'template/mobile/mobile_footer.html.twig' %}

{% endblock %}