{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
.ellipsisbox {
width: 100%;
}

.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.endprice {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: right;
}
.coupon_code {
    width: 150px;
    height: 25px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.red{
	color:red;
}
.carttitle {
    font-weight: bold;
    letter-spacing: 5px;
}

p{
	margin-bottom: 10px;
	font-size: 14px;
}


.listimg{
	width: 100%;
}
.product-brand {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    line-height: 1;
}
.fresh-product-title {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-top: 5px;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    margin-top: 5px;

}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.btn{
	border-radius: 0;
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/mobile_assets/js/readmore.min.js"></script>
{% endblock %}

{% block main %}
	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main" >
		{% include 'template/mobile/navbar.html.twig' %}

	<div style="padding: 0 10px;margin-top:20px;">		
	<span style="color:#bbb;font-size:16px;">買手時尚</span>
	<hr />
	<div style="overflow:auto;">
		<div style="float:left;width:50%;padding:10px 5px;overflow:auto;">
			<div style="overflow:auto;">
				<div class="product-detail "style="overflow:auto;">
					<div style="background-image: url('http://s3.getmore.cc/banner/14482462421536460.jpg');background-repeat: no-repeat;background-size:100%;padding:10px;">
						<img class="listimg" src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png">
					</div>
					<div class="ellipsisbox" style="padding:10px;background-color:#fff;">
						<div class="product-brand ellipsis">MING MADE</div>
						<div class="fresh-product-title ellipsis">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price ellipsis">
					    	<span class="is-deleted " >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="float:left;width:50%;padding:10px 5px;overflow:auto;">
			<div style="overflow:auto;">
				<div class="product-detail "style="overflow:auto;">
					<div style="background-image: url('http://p1-news.hfcdn.com/p1-news/MTAxMTAzNm5ld3M,/846558a234fbe15e.jpg');background-repeat: no-repeat;background-size:100%;padding:10px;">
						<img class="listimg" src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png">
					</div>
					<div class="ellipsisbox" style="padding:10px;">
						<div class="product-brand ellipsis">MING MADE</div>
						<div class="fresh-product-title ellipsis">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price ellipsis">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="float:left;width:50%;padding:10px 5px;overflow:auto;">
			<div style="overflow:auto;">
				<div class="product-detail "style="overflow:auto;">
					<div>
						<img class="listimg" src="http://s3.getmore.cc/clothing/14377284662225677/medium.jpg">
					</div>
					<div class="ellipsisbox" style="padding:10px;">
						<div class="product-brand ellipsis">MING MADE</div>
						<div class="fresh-product-title ellipsis">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price ellipsis">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="float:left;width:50%;padding:10px 5px;overflow:auto;">
			<div style="overflow:auto;">
				<div class="product-detail "style="overflow:auto;">
					<div>
						<img class="listimg" src="http://s3.getmore.cc/clothing/14377284662225677/medium.jpg">
					</div>
					<div class="ellipsisbox" style="padding:10px;">
						<div class="product-brand ellipsis">MING MADE</div>
						<div class="fresh-product-title ellipsis">"根性"刺繡老布拼接零錢包 (黑色)<span>(black)</span></div>
						<div class="fresh-product-price ellipsis">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

	{% include 'template/mobile/mobile_footer.html.twig' %}

{% endblock %}