{% extends 'template/mobile/mobile_layout.html.twig' %}
{% block css %}
<style>
hr {
	margin-top: 5px;
	margin-bottom:5px;
}

.cartimg {
    width: 45px;
    margin: 5px;
}
.is-deleted {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-family: Tahoma,Arial,sans-serif;
}
.fresh-product-price {
    color: #acabb5;
    line-height: 1;
    font-size: 14px;
    font-family: Tahoma,Arial,sans-serif;
}
.well{
	padding:15px 10px;
	font-size: 10px;
}
.endprice {
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: right;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block main %}
	{% include 'template/mobile/navbar.html.twig' %}
	{% include 'template/mobile/mobile_header.html.twig' %}

		<!-- Main -->
<div id="main" style="margin-bottom:30px;font-size:12px;line-height:18px;">
	<div style="padding: 0 10px;margin-top:20px;">		
		<span style="color:#bbb;font-size:16px;">我的購物訂單</span><hr />
		<div>
			<div style="font-size:14px;">訂單編號：B1511190002</div>
			<div class="alert alert-success" style="font-size:10px;line-height:14px;margin:5px 0;">此訂單為ATM轉帳（未付款）！！<br/>
			訂單送出時間：2015-11-19 00:23:20<br>
			匯款銀行 : 013<br>
			匯款帳戶 : 2687112000638002<br>
			匯款金額 : 880<br>
			請在 2015-11-19 23:30之前匯款，超過時限請勿轉帳，謝謝您。<br>
			</div>
			<div style="border:1px solid #70afa4;padding:15px 10px;">
				<div>
					<div>賣家：李小姐</div>
					<div>訂單狀態：尚未付款</div>
				</div>
				<div style="overflow:auto;">
					<div style="float:left;"><img class="cartimg" src="http://s3.getmore.cc/clothing/14334943349196460/medium.jpg"></div>
					<div style="float:left;margin-top:5px;" >
						<div>商品編號：A1506066460001</div>
						<div>商品敘述：2WAY紅色碎花裙(red)</div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div>件數:1</div>
					</div>
				</div>
				<hr/>
				<div style="overflow:auto;">
					<div style="float:left;"><img class="cartimg" src="http://s3.getmore.cc/clothing/14334943349196460/medium.jpg"></div>
					<div style="float:left;margin-top:5px;" >
						<div>商品編號：A1506066460001</div>
						<div>商品敘述：2WAY紅色碎花裙(red)</div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div>件數:1</div>
					</div>
				</div>
			</div>
			<div class="well" style="margin-top:10px;">
				<div><span style="font-size: 10px;">本次消費總金額共 $1500 元。</span><br />
	            	<span style="font-size:10px; color:#bbb;">(提醒您，商品來自不同賣家可能個別出貨，請留意手機來電！) </span>
	        	</div>
	       		<div class="endprice">總計$1500元</div>
			</div>
		</div>
		<hr / style="margin:10px -10px;border-top: solid 2px #000;">
		<div>
			<div style="font-size:14px;">訂單編號：B1511190002</div>
			<div class="alert alert-success" style="font-size:10px;line-height:14px;margin:5px 0;">此訂單為ATM轉帳（未付款）！！<br/>
			訂單送出時間：2015-11-19 00:23:20<br>
			匯款銀行 : 013<br>
			匯款帳戶 : 2687112000638002<br>
			匯款金額 : 880<br>
			請在 2015-11-19 23:30之前匯款，超過時限請勿轉帳，謝謝您。<br>
			</div>
			<div style="border:1px solid #70afa4;padding:15px 10px;">
				<div>
					<div>賣家：李小姐</div>
					<div>訂單狀態：尚未付款</div>
				</div>
				<div style="overflow:auto;">
					<div style="float:left;"><img class="cartimg" src="http://s3.getmore.cc/clothing/14334943349196460/medium.jpg"></div>
					<div style="float:left;margin-top:5px;" >
						<div>商品編號：A1506066460001</div>
						<div>商品敘述：2WAY紅色碎花裙(red)</div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div>件數:1</div>
					</div>
				</div>
				<hr/>
				<div style="overflow:auto;">
					<div style="float:left;"><img class="cartimg" src="http://s3.getmore.cc/clothing/14334943349196460/medium.jpg"></div>
					<div style="float:left;margin-top:5px;" >
						<div>商品編號：A1506066460001</div>
						<div>商品敘述：2WAY紅色碎花裙(red)</div>
						<div class="fresh-product-price">
					    	<span class="is-deleted" >NT$ 1280</span>
					    	<span class="fresh-product-sale">NT$ 1280</span>
						</div>
						<div>件數:1</div>
					</div>
				</div>
			</div>
			<div class="well" style="margin-top:10px;">
				<div><span style="font-size: 10px;">本次消費總金額共 $1500 元。</span><br />
	            	<span style="font-size:10px; color:#bbb;">(提醒您，商品來自不同賣家可能個別出貨，請留意手機來電！) </span>
	        	</div>
	       		<div class="endprice">總計$1500元</div>
	       		<div>
				<input type="submit" class="btn btn-primary btn-xs" id="go_second_step" value="立即付款" style="width:50%;">
				</div>	
			</div>

		</div>
	</div>
	

</div>

	{% include 'template/mobile/mobile_footer.html.twig' %}


{% endblock %}