{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
  {% endblock %}

{% block boxmenu %}
    <div class='container planpopover boxmenu'>
      <div style="float:left;text-align:center;"><a href="/clothing/dsnerview" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
      <div style="float:left;text-align:center;"><a href="/clothing/newbrandsonly" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
    </div>
{% endblock %}

{% block searchbox%}
    {% include '/searchbox/outside_search.twig' %}   
{% endblock %} 

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div class="plandescription" style="min-height:50px;padding-bottom:10px;">
      <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle">我在 Getmore 的慾望清單</font></div>
      <div class="pageaboutbox">        
        <div class="pageaboutp">越獨特，越時尚</div>        
        <div class="pageaboutp">越時尚，越快樂</div>        
      </div>
      <div  style="float:left;"><< 回去逛街</div>
      <div  style="float:right;">分享清單給朋友：</div>
</div>
<div ng-app="DesignerView" class="content" >
  <div class="cateright" ng-controller="PaginationController" style="width:1000px;padding: 15px 0;">
    <div class="cateproduct" style="margin-left:0px;">
      <div style="margin-top:0px;margin-left:10px;overflow:auto;clear: both;" ng-controller="ClothingListController" class="ng-scope">
            <!-- ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/439" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489520903127023/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Mirako">Mirako</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Blue Mountain W1048">Blue Mountain W1048</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="439" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/438" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489509013147023/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Mirako">Mirako</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Manba W1048">Manba W1048</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="438" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/437" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489502686987023/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Mirako">Mirako</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Ethiopia W1048">Ethiopia W1048</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="437" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/436" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489406304817016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Canvas 雙層小扇形山羊毛耳環">Canvas 雙層小扇形山羊毛耳環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 5000">NT$ 5000</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 5000">NT$ 5000</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="436" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/435" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489403292277016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Canvas 大扇形山羊毛耳環">Canvas 大扇形山羊毛耳環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 3400">NT$ 3400</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 3400">NT$ 3400</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="435" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/434" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489396885717023/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Mirako">Mirako</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Sumatra W1048">Sumatra W1048</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="434" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/433" ng-repeat="clothing in clothings" class="ng-scope">
               
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489390108917016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="DELTA 三角鑲晶耳環">DELTA 三角鑲晶耳環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 5800">NT$ 5800</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 5800">NT$ 5800</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="433" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/432" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489388725607016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="ILLUSION 飾丁狀純銀耳環">ILLUSION 飾丁狀純銀耳環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1900">NT$ 1900</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1900">NT$ 1900</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="432" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/431" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489384170467016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="ILLUSION 飾丁狀純銀鍍玫瑰金手環">ILLUSION 飾丁狀純銀鍍玫瑰金手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 5900">NT$ 5900</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 5900">NT$ 5900</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="431" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/430" ng-repeat="clothing in clothings" class="ng-scope">
                
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489382079707016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="UNDER EARTH 不規則手環">UNDER EARTH 不規則手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 12600">NT$ 12600</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 12600">NT$ 12600</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="430" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/429" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489379357207016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="UNDER EARTH 紋理手環">UNDER EARTH 紋理手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 8000">NT$ 8000</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 8000">NT$ 8000</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="429" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/428" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489374393847023/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Mirako">Mirako</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="Caffe W1048">Caffe W1048</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 2480">NT$ 2480</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="428" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/427" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489376854797016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="CRUSH 大彩石項鍊">CRUSH 大彩石項鍊</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 9900">NT$ 9900</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 9900">NT$ 9900</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="427" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/426" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489370487027016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="ILLUSION 飾丁狀純銀鍍玫瑰金項鍊">ILLUSION 飾丁狀純銀鍍玫瑰金項鍊</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 7200">NT$ 7200</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 7200">NT$ 7200</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="426" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/425" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489365643347016/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Niza Huang Jewellery">Niza Huang Jewellery</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="CRUSH 單彩石項鍊">CRUSH 單彩石項鍊</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 3800">NT$ 3800</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 3800">NT$ 3800</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="425" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/424" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489361293747034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="獅子造型吊飾(Lino-黃褐色)">獅子造型吊飾(Lino-黃褐色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="424" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/423" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489359499927034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="動物造型吊飾(大象)">動物造型吊飾(大象)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="423" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/422" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489358237237034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="動物造型吊飾(恐龍)">動物造型吊飾(恐龍)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="422" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/421" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489354455777034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="老鷹造型吊飾(黃褐色)">老鷹造型吊飾(黃褐色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1195">NT$ 1195</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1195">NT$ 1195</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="421" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/420" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489352841547034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="貓頭鷹造型吊飾(黃褐色)">貓頭鷹造型吊飾(黃褐色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1195">NT$ 1195</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1195">NT$ 1195</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="420" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/419" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489349700797034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="動物造型吊飾(河馬)">動物造型吊飾(河馬)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="419" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/418" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14489344790877034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="獅子造型吊飾(Abo-黑色)">獅子造型吊飾(Abo-黑色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1295">NT$ 1295</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="418" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/417" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488820809677024/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Fuchia">Fuchia</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="火星圓舞曲 黃銅手環">火星圓舞曲 黃銅手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 980">NT$ 980</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 980">NT$ 980</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="417" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/416" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488815203417024/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Fuchia">Fuchia</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="波希米亞旅人手環">波希米亞旅人手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 850">NT$ 850</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 850">NT$ 850</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="416" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/415" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488790120367034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="大象造型擺飾紙鎮(Abby-粉紅色)">大象造型擺飾紙鎮(Abby-粉紅色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="415" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/414" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488787429587034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="蛇造型擺飾紙鎮(黃褐色)">蛇造型擺飾紙鎮(黃褐色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="414" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/413" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488783145307034/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="ZUNY">ZUNY</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="老虎造型擺飾紙鎮(Mateo-黃褐色)">老虎造型擺飾紙鎮(Mateo-黃褐色)</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 990">NT$ 990</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="413" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/412" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488784254607024/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Fuchia">Fuchia</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="花雨夜天然石手環">花雨夜天然石手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1250">NT$ 1250</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1250">NT$ 1250</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="412" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/411" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488778015777024/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Fuchia">Fuchia</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="草莓多多天然石手環">草莓多多天然石手環</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 790">NT$ 790</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 790">NT$ 790</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="411" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings --><a target="_blank" href="/clothing/designer/410" ng-repeat="clothing in clothings" class="ng-scope">
                <div class="fresh-product-view lock-status-0">
                    <p class="sold-out-text text-center ng-hide" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br>OUT
                    </p>
                   <div style="background-image: url('http://s3.getmore.cc/clothing/14488771510947024/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                                   <div class="product-brand ng-binding" ng-bind-template="Fuchia">Fuchia</div>
                  <div class="fresh-product-title ng-binding" ng-bind-template="粉紅菲菲黃銅手鍊">粉紅菲菲黃銅手鍊</div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted ng-binding" ng-bind-template="NT$ 1180">NT$ 1180</span>
                    <span class="fresh-product-sale ng-binding" ng-bind-template="NT$ 1180">NT$ 1180</span>
                  </div>
                  <!-- ngRepeat: color in clothing.colors --><!-- ngIf: clothing.colors.length > 1 --><!-- end ngRepeat: color in clothing.colors -->
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent to_like" data-id="410" data-toggle="modal" data-target="#logInModal" onclick="return false;" ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i><div ng-bind="clothing.isLike?'SAVED':'SAVE'" class="ng-binding">SAVE</div></div>
                  </div>
                </div>
              </a><!-- end ngRepeat: clothing in clothings -->
              <!-- ngIf: !(clothings|size) -->
        </div>
    </div>
    <div class="pull-right">
        <paging
            class="small"
            page="currentPage"
            page-size="pageSize"
            total="total"
            scroll-top="true" 
            hide-if-empty="true"
            show-prev-next="true"
            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
        </paging>
    </div>
  </div>
</div>


<style>
.fresh-product-view:hover .like-fade {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity:1;
}

.like-fade {
    opacity: 0;
}

.liked {
    color: red;
}

#categorySelection {
    width: 175px;
}

#categorySelectionTop {

}

.bannerbox{
    margin: 10px 0;
}
.getmore_banner01{
    float:left;
    margin-right: 5px; 
}
.getmore_banner02{
    float:left;
}
.bannerbox2{
    margin: 10px 0;
}
.getmore_banner03{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner04{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner05{
    float:left;
  margin-top:10px;
}
.bannerboxtitle{
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: "HelveticaNeue-Light","細明體";
    color: #000;
}
.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
.leftcate{
  font-size: 10px;
  margin-bottom: 20px;
}
.leftcate a{
  color:#000;
}
.leftfilter{
  border-top: 1px solid #999;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.leftfilter-title{
  margin:20px 0 10px 0;
}
.season_label{
  display: block;
}
.style_label{
  margin-bottom: 0px;
}
.cateright{
  float:right;
  width:825px;
  padding-left:3px;
  min-height:500px;
  padding:15px;
}
.cateproduct{
  margin-top:20px;
  float: left;
  margin-left: 30px;
  min-width: 795px;
}
.clearall{
    font-size: 10px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    color: #bbb;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
</style>
{% endblock %}
