{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">
<style>
.col-254 {
    padding-right: 10px;
    padding-top:65px;
}
.col-726{
    padding-right: 0;
}
</style>
{% endblock %}
{% block body %}
<div>
        <div class='col-254'>
        {% include '/buyer/sell_manage_sidebar.html.twig' %}
    </div>
<div class='col-726' ng-app="getmore_sell_manage">
<div class="tab-content article-line">
    <div class="tab-pane active" id="GetMore">
        <div class='rightcol fontp15'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" style="height: auto;" ng-controller="launch">
                <ul class="list-unstyled list-inline text-center">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">圖片上傳</li>
                    <li data-target="#carousel-example-generic" data-slide-to="1">選擇分類</li>
                    <li data-target="#carousel-example-generic" data-slide-to="2">設定風格</li>
                    <li data-target="#carousel-example-generic" data-slide-to="3">商品敘述</li>
                    <li data-target="#carousel-example-generic" data-slide-to="4">尺碼顏色</li>

                    <li data-target="#carousel-example-generic" data-slide-to="5">詳細尺碼</li>
                    <li data-target="#carousel-example-generic" data-slide-to="6" ng-click="cross_size_with_color()">設定庫存</li>
                    <li data-target="#carousel-example-generic" data-slide-to="7">購買資訊</li>
                    <li data-target="#carousel-example-generic" data-slide-to="8">確認上架</li>
                </ul>
                <div class="planabox">
                    <form id="launchForm" name="launchForm" method="post" action="/buyer/launch_product?group=Accessories" class="carousel-inner" role="listbox" enctype="multipart/form-data" ng-submit="submit($event)">
                        <div class="item active">
                            <div class="upload-direction">
                                <h3><i class="fa fa-bullhorn 3x" style="color:#FFCC22;"></i>&nbsp Hello! 時尚買手夥伴！</h3>
                                <p>恭喜您完成審核成為Getmore的時尚買手夥伴，一起在 Getmore建立時尚小圈圈，分享好的時尚單品給消費者，創立個人時尚品牌。相關規範都在<a href="http://desk.getmore.cc/knowledgebase/articles/761004-%E6%99%82%E5%B0%9A%E8%B2%B7%E6%89%8B%E8%A6%8F%E7%AF%84">販售規定</a>，若有任何問題，歡迎聯繫您的相關服務專員，或點選右下角的<i class="fa fa-question-circle fa-lg" style="color:#bbb"></i>，將儘快解答您的問題。並且記得切勿私下交易喔！讓我們一同維護平台的永續經營。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>上傳圖片<sup class="red">*</sup></h3>
                                <p>您可以新增刪除圖片，或直接拖曳更換順序。首張圖片<span class="hint">請傳長寬比 3:2的圖片（直式）</span>，例：1800 X 1200。照片至多上傳五張，上傳前請先詳閱<a>規範。</a></p>
                                <div class="planaex">商品頁的照片顯示順序即是以您目前的擺放順序去做安排，第一張照片建議放model照或是形象照，每張照片的檔案大小不得超過10MB。</div>
                            <br />
                            <div class="row clothing_view_list"></div>
                            <input id="fileupload" type="file" name="files" data-url="/restful/buyer_products/files" multiple>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="1">下一步，填寫商品分類</a>
                            </div>
                        </div>
                        <!-- first step-->
                        <div class="item filelist">
                            <div  class="upload-direction">
                                <h3>選擇商品的分類</h3>
                                <p>根據商品選擇對的分類，能夠讓消費者快速地找到您的商品。</p>
                            </div>
                            <!-- just view -->
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>商品分類</u><sup class="red">*</sup></label>
                                <div class="col-md-12" style="overflow:hidden;">
                                    <div class="col-md-4 level_1">
                                        <h6>配件</h6>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="1" class="item_class1 item_class" ng-model="category">Women</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="2" class="item_class1 item_class" ng-model="category">Men</label>
                                        </div>
                                       <div class="radio">
                                            <label>
                                                <input type="radio" value="3" class="item_class1 item_class" ng-model="category">Kids / Baby</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 level_2">
                                        <h6>類別</h6>
                                        <div class="category" ng-show="category == 1" ng-hide="category != 1">
                                            {% for category2, text in array_combine(['1A1', '1A2', '1A3', '1A4', '1A5', '1A6', '1A7', '1A8', '1A9', '1A10', '1A11', '1A12', '1A13', '1A14', '1A15', '1A16'], ['飾品', '錢包', '手錶', '皮帶', '手套', '髮飾', '帽子', '鑰匙圈/鑰匙包', '絲巾/圍巾', '襪子', '眼鏡/太陽眼鏡', '3C配件', '文具', '家飾/居家用品', '旅行用品', '雨傘']) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="category men" ng-show="category == 2" ng-hide="category != 2">
                                            {% for category2, text in array_combine(['2A1', '2A2', '2A3', '2A4', '2A5', '2A6', '2A7', '2A8', '2A9', '2A10', '2A11', '2A12', '2A13', '2A14', '2A15', '2A16', '2A17'], ['飾品', '手錶', '皮帶', '手套', '領帶/領結', '手帕/口袋巾', '帽子', '鑰匙圈/鑰匙包', '絲巾/圍巾', '襪子', '眼鏡/太陽眼鏡', '皮夾/鈔票夾', '3C配件', '文具', '家飾/居家用品', '旅行用品', '雨傘']) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="category kid" ng-show="category == 3" ng-hide="category != 3">
                                            {% for category2, text in array_combine(['3A1', '3A2', '3A3', '3A4', '3A5', '3A6', '3A7', '3A8', '3A9', '3A10', '3A11'], ['飾品', '手錶', '皮帶', '手套', '髮飾', '帽子', '絲巾/圍巾', '襪子', '眼鏡/太陽眼鏡', '文具', '雨傘']) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="upload-direction">
                                    <h3>選擇款式</h3>
                                    <p>對於不同分類，選擇適當的款式，讓您的商品正確曝光。</p>
                                    <div class="planaex">＊為必選，無＊的部份請依照真實狀況填寫即可</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_title" ng-if="['1A1', '1A2', '1A6', '1A7', '1A9', '1A12', '1A14', '2A1', '2A7', '2A13', '2A15', '3A1'].indexOf(category2) >= 0"><u>款式</u><sup class="red">*</sup></label>
                                    <div ng-if="category == 1">
                                        <div class="item_pattern" ng-if="category2 == '1A1'">
                                            {% for pattern, text in array_combine([71, 72, 73, 74, 75, 76, 77], ['手鍊/手環', '項鍊', '戒指', '耳環/耳骨夾', '胸針/別針', '身體首飾/裝飾', '珠寶盒']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A2'">
                                            {% for pattern, text in array_combine([78, 79, 80], ['皮夾', '卡夾', '零錢包']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A6'">
                                            {% for pattern, text in array_combine([81, 82, 83, 84, 85, 86, 87], ['髮圈', '髮箍', '髮梳', '髮夾', '髮帶/頭巾', '頭飾/頭紗', '新娘花圈']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A7'">
                                            {% for pattern, text in array_combine([88, 89, 90, 91, 92, 93, 94], ['軟呢帽', '毛帽', '漁夫帽', '草帽/遮陽帽', '棒球帽', '貝蕾帽', '報童帽']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A9'">
                                            {% for pattern, text in array_combine([95, 96, 97, 98], ['絲巾', '圍巾', '圍脖', '披肩']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A12'">
                                            {% for pattern, text in array_combine([99, 100, 101, 102, 103], ['手機殼/手機包', '筆電包', '平板配件', '耳機', 'USB']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '1A14'">
                                            {% for pattern, text in array_combine([104, 105, 106, 107, 108], ['收藏擺飾', '香氛', '毛巾/浴巾', '洗滌', '寵物']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div ng-if="category == 2">
                                        <div class="item_pattern" ng-if="category2 == '2A1'">
                                            {% for pattern, text in array_combine([71, 72, 73, 114, 115, 116, 117], ['手鍊/手環', '項鍊', '戒指', '耳環', '領帶夾', '袖扣', '胸花']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '2A7'">
                                            {% for pattern, text in array_combine([118, 89, 119, 90, 120, 94, 121], ['紳士帽', '毛帽', '棒球帽', '漁夫帽', '草帽', '報童帽', '頭帶/頭巾']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '2A13'">
                                            {% for pattern, text in array_combine([99, 100, 101, 102, 103], ['手機殼/手機包', '筆電包', '平板配件', '耳機', 'USB']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-if="category2 == '2A15'">
                                            {% for pattern, text in array_combine([122, 123, 106, 107, 108], ['收藏品', '熏香', '毛巾/浴巾', '洗滌', '寵物']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div ng-if="category == 3">
                                        <div class="item_pattern" ng-if="category2 == '3A1'">
                                            {% for pattern, text in array_combine([71, 72, 73, 114, 125], ['手鍊/手環', '項鍊', '戒指', '耳環', '別針']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <div ng-if="category2 == '1A4'">
                                    <label for="product_title"><u>版型</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        {% for item_long, text in array_combine(['siim', 'wide'], ['細版', '寬版']) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div ng-if="category2 == '1A10'">
                                    <label for="product_title"><u>長度</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        {% for item_long, text in array_combine(['stock', 'stocking', 'tights'], ['短襪', '長襪', '褲襪']) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>季節</u><sup class="red">*</sup></label>
                                <div class="item_pattern" ng-init="season = 1">
                                    {% for season, text in array_combine(range(1,3,1), ["春夏", "秋冬", "無季節"]) %}
                                    <label>
                                        <input type="radio" value="{{ season }}" name="season" ng-model="season" > {{ text }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="0">上一步</a>
                                <a class="btn btn-info" data-target="#carousel-example-generic" data-slide-to="2">下一步，填寫風格</a>
                            </div>
                             <center><div class="planaex">商品分類與款式在上架後是無法修改的，請確認選擇後再進行下一步喔！</div></center>
                        </div>

                        <!-- add style -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>選擇風格</h3>
                                <p>選擇這件衣服相近的顏色，以及1~3項風格，讓潛在買家可以更快找到您的商品。另外，Getmore也會在各季推出宣傳活動，將挑選出類似風格、顏色的商品做行銷，增加您商品的曝光率。</p>
                            </div>
                            <div>
                                <div class="selectstyle form-group upload-direction">
                                    <label for="style"><u>風格</u></label>
                                    <div class="form-horizontal">
                                        {% for gender, style_category in style_lists %}
                                        <div ng-if="category == {{ gender }}">
                                            {% for label, style_list in style_category %}
                                            {% if label != '其他' %}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{ label }}</label>
                                                <div class="col-sm-10">
                                                    {% for style_value, style_text in style_list %}
                                                    <label class="checkbox-inline" style="margin-left: 0;">
                                                        <input type="checkbox" name="style[]" value="{{ style_value }}" ng-model="$parent.styles[{{ style_value }}]" ng-true-value="'{{ style_text }}'">{{ style_text }}
                                                    </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group filltag upload-direction">
                                    <label for="freestyle"><u>自訂風格</u></label>
                                    <p id="helpBlock" class="help-block">找不到適合您商品的風格？您可以在這邊自訂風格喔！<u>填寫完記得按下ENTER</u>。</p>
                                    <input type="text" class="form-control" id="free_style" name="free_style" ng-model="free_style" placeholder="請直接輸入並按下ENTER"/>
                                    <p class="help-block" style="font-size:10px;">請按ENTER區分不同的風格標籤。</p>
                                </div>
                            </div>
                            <hr>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="1">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="3">下一步，商品敘述</a>
                            </div>
                        </div>

                        <!-- add descioption -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>填寫商品資訊</h3>
                                <p>填寫顯示在商品頁面的商品名稱,品牌及敘述。</p>
                                <span class="planaex">＊為必填，請勿在此或其他頁面留下您的聯絡資料或是私下交易訊息，會被取消販售資格喔！請共同維護平台營運。</span>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_title"><u>商品名稱</u><sup class="red">*</sup></label>
                                    <p>幫商品取一個好的名字，也讓消費者能方便搜尋到。</p>
                                    <span class="planaex">不需加上品牌名稱，商品頁會自動帶入。</span>
                                    <input type="text" class="form-control" id="product_title" maxlength="20" ng-model="product_title" name="product_title" placeholder="商品名稱">
                                    <div class="planaex">例如：月偏蝕拼接洋裝</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_brand"><u>商品品牌</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="30" placeholder="商品品牌" value="{{ buyer.title }}" disabled="true">
                                    <input type="hidden" name="product_brand" value="{{ buyer.title }}">
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_comments"><u>商品敘述</u><sup class="red">*</sup></label>
                                    <textarea class="form-control" id="product_comments" name="product_comments" ng-model="product_comments" rows="5" placeholder="可說明創作理念、商品特色、觸感，以及建議搭配。加上洗滌方式、彈性度或是透膚程度會更加分喔！" ng-trim="true"></textarea>
                                    <div class="planaex">字數限制200字，還剩 [[ product_comments_remain_count ]] 字。</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品狀況</u><sup class="red">*</sup></label>
                                    <label>
                                        <input type="radio" value="0" name="item_status" ng-model="item_status" ng-click="second_hand = 0">全新商品
                                    </label>
                                    <label>
                                        <input type="radio" name="item_status" value="-1" ng-model="second_hand">二手商品
                                    </label>
                                    <select name="item_status" ng-if="second_hand == -1" class="form-control" ng-model="$parent.item_status" ng-init="$parent.item_status = 1">
                                        <option value="1">幾近全新</option>
                                        <option value="2">狀況良好</option>
                                        <option value="3">有歲月痕跡</option>
                                    </select>
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品材質</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="100" name="material" ng-model="material" placeholder="商品材質">
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品產地</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="30" name="location" ng-model="location" placeholder="商品產地">
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="2">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="4">下一步，填寫尺碼顏色</a>
                            </div>
                        </div>

                        <!-- add  size-->
                        <div class="item">
                            <div class="paddingtop20">
                                <div class="upload-direction">
                                <h3>填寫尺碼</h3>
                                <p>利用Getmore的系統輕鬆填入尺碼及顏色，庫存管理更方便！</p><span class="planaex">先選單位，再勾選該款商品所有的尺碼。                 若同一款服裝有出多款顏色，請勾選多款顏色，若只有出一款顏色，但為多色，則勾選商品主要色調或色彩。（ex.一款顏色請勾選一種;四款顏色則勾選四種）。</span>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_type_major" style="display: block;">先選單位
                                    <sup class="red">*</sup>
                                </label>
                                <select class="form-control width375" id="size_type_major" ng-model="size_type_major" style="display: inline-block;">
                                    <option value="S/M/L">S/M/L</option>
                                    <option value="one size">ONE SIZE</option>
                                    <option value="戒圍">戒圍</option>
                                    <option value="其他">其他</option>
                                </select>
                                <div ng-if="size_type_major == '其他'" class="form-inline" style="display: inline-block;">
                                    <div class="form-group">
                                        <label>:</label>
                                        <input type="text" class="form-control" ng-model="$parent.size_type_aliases">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction check_size">
                                <label for="size">再選SIZE<sup class="red">*</sup>
                                    <label>
                                        <input type="checkbox" ng-disabled="size_type_major == '0' || size_type_major == '其他' || size_type_major == 'one size' || size_type_major == '戒圍'" ng-model="select_all_size">全選
                                    </label>
                                </label>
                                <div class="width375" ng-if="size_type_major == 'S/M/L'">
                                    {% for index, size in ['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL'] %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'one size'">
                                    <label>
                                        <input type="checkbox" value="'one size'" ng-model="size_list[0]" ng-true-value="'one size'" ng-init="size_list[0] = 'one size'" class="check_size">one size
                                    </label>
                                </div>
                                <div class="form-inline" ng-if="size_type_major == '其他' || size_type_major == '戒圍'" ng-init="$parent.custom_size = ['', '', '']">
                                    <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                            </div>
                            <div class="selectcolor form-group upload-direction">
                                <label for="color"><u>顏色</u><sup class="red">*</sup></label>
                                <div class="planaex">選擇顏色後可修改後面顏色敘述。</div>
                                <ul class="list-inline">
                                    {% for index, color in ['black', 'white', 'gray', 'red', 'green', 'brown', 'blue', 'orange', 'purple', 'pink', 'yellow', 'gold', 'silver', 'color'] %}
                                    <li>
                                        <label>
                                            <input type="checkbox" value="{{ color }}" name="color" ng-model="color_list[{{ index }}]" ng-true-value="'{{ color }}'">
                                            <img src="/admin/assets/images/colorbox/{{ color }}.png">
                                        </label>
                                        <input type="text" ng-model="color_comment_list[{{ index }}]" ng-init="color_comment_list[{{ index }}] = '{{ color }}'" ng-disabled="!color_list[{{ index }}]">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="model_size"><u>試穿報告</u></label><br />
                                <span class="planaex">提供試穿報告可供消費者更容易選擇尺寸，也可自行增加其他穿著上說明。(請自行刪除舉例)</span>
                                <textarea style="line-height:25px;" class="form-control" id="model_size" ng-model="model_size" name="model_size" ng-trim="true" rows="5"></textarea>
                                <div class="planaex">字數限制100字，還剩 [[ model_size_remain_count ]] 字。</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="3">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="5">下一步，填寫詳細尺寸</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="paddingtop20">
                                <div class="upload-direction">
                                <h3>詳細尺寸</h3>
                                <p>請先點選尺碼，並在圖示旁輸入每個尺碼的詳細資訊（平放丈量）。完成後再點選下一個尺碼，每個尺碼的丈量尺寸都要填寫。</p>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-primary choiceSize" ng-repeat="size in size_order(size_list) track by $index" ng-click="size_selected(size)" ng-if="size" ng-class="$parent.stock_size == size?'active':'';">
                                    <input type="radio" name="stock_size"> [[ size ]]
                                  </label>
                                </div>
                                <div class="planaex">請先點選尺碼，並在下方選填詳細尺寸。</div>
                                <div class="planaex">勾選固定值的尺寸，後續尺碼會自動帶入指定數值。</div>
                            </div>
                            <div class="form-group upload-direction text-center">
                                <ul class="form-horizontal list-unstyled">
                                    <li class="form-group">
                                        <label class="col-sm-5 control-label">高度(Height)：</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="text" class="form-control" placeholder="高度(Height)" ng-model="measure_obj[stock_size]['measure']['height']">
                                            <span class="input-group-addon">cm</span>
                                            <label ng-if="first_size == stock_size">
                                                <input type="checkbox" ng-model="$parent.fix_height">固定值
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <label class="col-sm-5 control-label">寬度(Width)：</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="text" class="form-control" placeholder="寬度(Width)" ng-model="measure_obj[stock_size]['measure']['width']">
                                            <span class="input-group-addon">cm</span>
                                            <label ng-if="first_size == stock_size">
                                                <input type="checkbox" ng-model="$parent.fix_width">固定值
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <label class="col-sm-5 control-label">長度(Length)：</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="text" class="form-control" placeholder="長度(Length)" ng-model="measure_obj[stock_size]['measure']['length']">
                                            <span class="input-group-addon">cm</span>
                                            <label ng-if="first_size == stock_size">
                                                <input type="checkbox" ng-model="$parent.fix_length">固定值
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <label class="col-sm-5 control-label">深度(Depth)：</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="text" class="form-control" placeholder="深度(Depth)" ng-model="measure_obj[stock_size]['measure']['depth']">
                                            <span class="input-group-addon">cm</span>
                                            <label ng-if="first_size == stock_size">
                                                <input type="checkbox" ng-model="$parent.fix_depth">固定值
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <label class="col-sm-5 control-label">重量(Weight)：</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="text" class="form-control" placeholder="重量(Weight)" ng-model="measure_obj[stock_size]['measure']['weight']">
                                            <span class="input-group-addon">g</span>
                                            <label ng-if="first_size == stock_size">
                                                <input type="checkbox" ng-model="$parent.fix_weight">固定值
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form-group" ng-repeat="info_obj in custom_info_obj[stock_size]">
                                        <label class="col-sm-5 control-label">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="info_obj['key']" placeholder="尺寸名稱"><span class="input-group-addon">：</span>
                                            </div>
                                        </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" ng-model="info_obj['value']" placeholder="數值">
                                            <input type="text" class="form-control" ng-model="info_obj['unit']" placeholder="單位">
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn btn-default" ng-click="add_custom_info(stock_size)">新增自訂</a>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_comment"><u>其他尺碼敘述（選填）</u></label>
                                <input type="text" class="form-control" id="size_comment" maxlength="20" ng-model="measure_obj[stock_size]['size_comment']" name="size_comment" placeholder="其他尺碼敘述">
                                <div class="planaex">可填寫該處尺碼的特殊之處，例如：偏大/偏小、緊身/寬鬆。若無則不需填寫。</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="4">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="6" ng-click="cross_size_with_color()">下一步，設定庫存數量</a>
                            </div>
                        </div>
                        <div class="item">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>尺碼</th><th>顏色</th><th>顏色描述</th><th>數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stock in stocks" class="form-group">
                                        <td>[[ stock.size|size_translate ]]</td>
                                        <td><img ng-src="/admin/assets/images/colorbox/[[ stock.color ]].png"></td>
                                        <td>[[ stock.color_comment ]]</td>
                                        <td><input type="text" class="form-control" ng-model="stock.number"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="[[ stocks|json ]]" name="stocks">
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="5">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="7" ng-click="check_stocks()">最後一步，填寫價格</a>
                            </div>
                        </div>
                        <!-- add price -->
                        <div class="item">
                            <div class="upload-direction">
                                <h3>設定價格</h3>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_sell_price"><u>定價</u><sup class="red">*</sup></label>
                                    <div class="input-group" style="width:120px;">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control numbersOnly" id="product_original_price" maxlength="20" ng-model="product_original_price" name="product_original_price">
                                    </div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_sell_price"><u>售價</u><sup class="red">*</sup></label>
                                    <div class="input-group" style="width:120px;">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control numbersOnly" id="product_sell_price" maxlength="20" ng-model="product_sell_price" name="product_sell_price" ng-blur="checkSellPrice($event)">
                                    </div>
                                    <small>「售價」為消費者購買價格，必須小於或等於「定價」</small>
                                </div>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>編輯交易政策</h3>
                                <p>交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</p>
                                <p>已自動帶入您衣櫃的交易政策，會套用到所有商品上。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_time"><u>寄送時間</u></label>
                                <div>{{ trade_rule["time"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_method"><u>寄送方式</u></label>
                                <div>{{ trade_rule["method"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_transport"><u>商品運送方式</u></label>
                                <div>{{ trade_rule["transport"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_returns"><u>退貨政策</u></label>
                                <div>{{ trade_rule["returns"]|nl2br }}</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="6">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="8">下一步，確認上架資訊</a>
                            </div>
                        </div>

                        <!-- check new clothing info-->
                        <div class="item">
                            <div  class="upload-direction">
                                <h3>確認您填入的資料</h3>
                                <p>以下為您填入的上架資料，可按「上一步」往前編輯內容，並再次確認是否符合<a href="">販售規定</a>，確認無誤後請按「確認上架」，商品會立即上架。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <div class="show-title">商品分類</div>
                                <div class="show-content" id="preview_product">
                                    <p>[[ category|preview_type:category2:long ]]</p>
                                </div>
                                <div class="show-title">款式</div>
                                <div class="show-content">
                                    <p>[[ pattern|preview_pattern ]]</p>
                                </div>
                                <div>
                                    <div class="show-title" ng-if="category2 == 11 || category2 == 12 || category2 == 21 || category2 == 22 || category2 == 32 || category2 == 34">袖長</div>
                                    <div class="show-title" ng-if="category2 == 15 || category2 == 24">長度</div>
                                    <div class="show-title" ng-if="category2 == 13 || category2 == 23 || category2 == 33">褲長</div>
                                    <div class="show-title" ng-if="category2 == '1A4'">版型</div>
                                    <div class="show-title" ng-if="category2 == '1A10'">長度</div>
                                    <div class="show-content">
                                        <p>[[ long|preview_long:category2 ]]</p>
                                    </div>
                                </div>
                                <div class="show-title">季節</div>
                                <div class="show-content">
                                    <p ng-if="[[ season ]] == 1">春夏</p>
                                    <p ng-if="[[ season ]] == 2">秋冬</p>
                                    <p ng-if="[[ season ]] == 3">無季節</p>
                                </div>
                                <hr>
                                <div class="show-title">風格</div>
                                <div class="show-content" ng-repeat="style in styles" ng-if="style != false">
                                    <p>[[ style ]]</p>
                                </div>
                                <div class="show-title">自訂風格</div>
                                <div class="show-content">
                                    <p>[[ free_style ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品名稱</div>
                                <div class="show-content">
                                    <p>[[ product_title ]]</p>
                                </div>
                                <div class="show-title">品牌</div>
                                <div class="show-content">
                                    <p>{{ buyer.title }}</p>
                                </div>
                                <div class="show-title">商品描述</div>
                                <div class="show-content">
                                    <p>[[ product_comments ]]</p>
                                </div>
                                <div class="show-title">商品狀況</div>
                                <div class="show-content">
                                    <p>[[ item_status|item_status_translate ]]</p>
                                </div>
                                <div class="show-title">商品材質</div>
                                <div class="show-content">
                                    <p>[[ material ]]</p>
                                </div>
                                <div class="show-title">商品產地</div>
                                <div class="show-content">
                                    <p>[[ location ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品尺碼/顏色/庫存</div>
                                <div class="show-content">
                                    <table class="table">
                                        <thead>
                                            <caption class="text-center">[[ size_type_aliases || size_type_major ]]</caption>
                                            <tr>
                                                <th>尺碼</th><th>顏色</th><th>顏色描述</th><th>數量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="stock in stocks" class="form-group">
                                                <td>[[ stock.size|size_translate ]]</td>
                                                <td><img ng-src="/admin/assets/images/colorbox/[[ stock.color ]].png"></td>
                                                <td>[[ stock.color_comment ]]</td>
                                                <td>[[ stock.number || 0 ]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="show-title">商品價格</div>
                                <ul class="show-content list-unstyled">
                                    <li><p>訂價：$[[ product_original_price ]]</p></li>
                                    <li><p>售價：$[[ product_sell_price ]]</p></li>
                                </ul>
                                <div class="show-title">交易政策</div>
                                <div class="show-content">交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</div>
                                <br>
                                <hr>
                            </div>
                            <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="7">上一步</a>
                            <button type="submit" class="btn btn-info" data-target="#carousel-example-generic">完成上架！</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript">
    $('body').delegate('*', 'change', function(e){
        $(window).bind('beforeunload', function(e){
            return "確定離開嗎？離開的話 剛才所輸入的資訊都會消失喔！";
        });

        $('body').undelegate('*', 'change');
    });

    (function(){
        var file_count = 5;

        $('div.clothing_view_list').delegate('a.del_file', 'click', function(e){
            if(file_count === 5){
                return false;
            }
            var target = e.target;
            $.ajax({
                url: '/restful/buyer_products/files/'+$(target).data('file_id'),
                type: 'DELETE'
            }).done(function(){
                $(target).parents('div.clothing_view').remove();
                file_count++;
            });
        });

        $("div.clothing_view_list").sortable();
        $("div.clothing_view_list").disableSelection();

        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /\.(gif|jpe?g|png)$/i,
            maxFileSize: 5000000,
            autoUpload: false,
            done: function (e, data) {
                var img = $('<img class="clothing_view_img">').attr('src', 'http://s3.getmore.cc/clothing/'+data.result[0]+'/medium.jpg');
                var del_btn = $('<a class="btn btn-danger del_file">').data('file_id', data.result[0]).html('刪除');
                var input = $('<input type="hidden" name="files[]">').attr('value', data.result[0]);
                $('i.clothing_loading_icon:first').after(input).after(del_btn).replaceWith(img);
            },
            add: function (e, data) {
                if(file_count > 0){
                    file_count--;
                    data.submit();
                }
                else {
                    $('#fileupload').hide();
                }
            }
        }).bind('fileuploadsubmit', function(){
            var div = $('<div class="col-xs-6 col-md-3 clothing_view"><a class="thumbnail text-center"><i class="fa fa-spinner fa-spin fa-5x clothing_loading_icon"></i></a></div>');

            $('div.clothing_view_list').append(div);
        });
    }());

    $(function() {

        if(location.hash == "#success") {
            alert("上架成功！");
            location.hash = "";
        }

        //tag input
        var exist_style = {{ styles | json_encode() }};

        $('#free_style').tokenfield({
            autocomplete: {
                source: exist_style,
                delay: 100,
                minLength: 1
            },
            showAutocompleteOnFocus: true
        }).on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function(index, token) {
                if (token.value === event.attrs.value)
                    event.preventDefault();
            });
        });
        //$('#free_style').tokenfield('setTokens', 'blue,red,white');
        $('#free_style').parent().keypress(function(e){
            if(e.keyCode === 13) {
                e.preventDefault();
            }
        })

        $('.numbersOnly').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g,'');
        });

        $("#launchForm").submit(function(e){
            console.log(e);
            var have_error = false;
            var error_input = ["請完成以下必填欄位："];
            $('.has-error').removeClass('has-error');
            $('.error-div').removeClass('error-div');

            if ($("input[name='color']:checked").length == 0){
                $(".selectcolor").addClass('error-div');
                have_error = true;
                error_input.push("顏色");
            }
            if ($("input[name='product_title']").val() == ""){
                $("input[name='product_title']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品名稱");
            }
            if ($("textarea[name='product_comments']").val() == ""){
                $("textarea[name='product_comments']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品敘述");
            }
            if ($('img.clothing_view_img').length == 0){
                have_error = true;
                error_input.push("上傳照片");
            }
            if ($("select[name='size_type_major']").val() == 0){
                $("select[name='size_type_major']").parent('div').addClass('error-div');
                have_error = true;
                error_input.push("尺碼");
            }
            if ($("input[name='product_sell_price']").val() == ""){
                $("input[name='product_sell_price']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品售價");
            }
            else if(parseInt($("input[name='product_sell_price']").val()) > parseInt($("input[name='product_original_price']").val())){
                have_error = true;
                error_input = ['「定價」必須大於或等於「售價」']
            }

            if(!$('input[type="checkbox"].check_size:checked').length) {
                $('div.form-group.check_size').addClass('error-div');
                have_error = true;
                error_input.push("SIZE");
            }

            if (have_error == true) {
                error_input = error_input.join('\n');
                alert(error_input);
                return false;
            }

        });
    });

    app
        .controller('launch', ['$scope', '$element', '$http', function ($scope, $element, $http) {
            $scope.category = 1;
            $scope.category2 = 11;

            $scope.size_type_major = '0';
            $scope.stocks = [];
            //default values
            $scope.custom_info_obj = {};
            $scope.item_status = "0";

            $scope.stock_size = 'one size';

            $scope.$watch('category', function(newVal, oldVal){
                $scope.category2 = newVal + 'A1';
            });

            $scope.$watch('category2', function(newVal, oldVal){
                // 款式預設值
                if(_.contains(['1A1'], newVal)){
                    $scope.pattern = 71;
                }
                else if(_.contains(['1A2'], newVal)){
                    $scope.pattern = 78;
                }
                else if(_.contains(['1A6'], newVal)){
                    $scope.pattern = 81;
                }
                else if(_.contains(['1A7'], newVal)){
                    $scope.pattern = 88;
                }
                else if(_.contains(['1A9'], newVal)){
                    $scope.pattern = 95;
                }
                else if(_.contains(['1A12'], newVal)){
                    $scope.pattern = 99;
                }
                else if(_.contains(['1A14'], newVal)){
                    $scope.pattern = 104;
                }
                else if(_.contains(['2A1'], newVal)){
                    $scope.pattern = 71;
                }
                else if(_.contains(['2A7'], newVal)){
                    $scope.pattern = 118;
                }
                else if(_.contains(['2A13'], newVal)){
                    $scope.pattern = 99;
                }
                else if(_.contains(['2A15'], newVal)){
                    $scope.pattern = 122;
                }
                else if(_.contains(['3A1'], newVal)){
                    $scope.pattern = 71;
                } else {
                    $scope.pattern = 0;
                }

                if(_.contains(['1A4'], newVal)){
                    $scope.long = 'siim';
                } else if(_.contains(['1A10'], newVal)){
                    $scope.long = 'stock';
                } else {
                    $scope.long = '';
                }
            });

            $scope.$watch('product_comments', function(newVal, oldVal){
                $scope.product_comments_remain_count = 200 - ($scope.product_comments || []).length;
                $scope.product_comments = ($scope.product_comments || "").substring(0, 200);
            });

            $scope.$watch('model_size', function(newVal, oldVal){
                $scope.model_size_remain_count = 100 - ($scope.model_size || []).length;
                $scope.model_size = ($scope.model_size || "").substring(0, 100);
            });

            $scope.$watch('select_all_size', function(newVal, oldVal){
                if(newVal){
                    $scope.size_list = _.map($('input[type="checkbox"].check_size'), function(check_size){
                        return $(check_size).val();
                    });
                }
            });

            $scope.$watch('size_type_major', function(newVal, oldVal){
                $scope.measure_obj = {};
                $scope.size_list = {};
                $scope.select_all_size = false;
            });

            $scope.$watch('fix_height', function(newVal, oldVal){
                if(newVal){
                    _.each($scope.measure_obj, function(obj){
                        obj['measure']['height'] = $scope.measure_obj[$scope.first_size]['measure']['height'];
                    });
                }
            });

            $scope.$watch('fix_width', function(newVal, oldVal){
                if(newVal){
                    _.each($scope.measure_obj, function(obj){
                        console.log(obj);
                        obj['measure']['width'] = $scope.measure_obj[$scope.first_size]['measure']['width'];
                    });
                }
            });

            $scope.$watch('fix_length', function(newVal, oldVal){
                if(newVal){
                    _.each($scope.measure_obj, function(obj){
                        obj['measure']['length'] = $scope.measure_obj[$scope.first_size]['measure']['length'];
                    });
                }
            });

            $scope.$watch('fix_depth', function(newVal, oldVal){
                if(newVal){
                    _.each($scope.measure_obj, function(obj){
                        obj['measure']['depth'] = $scope.measure_obj[$scope.first_size]['measure']['depth'];
                    });
                }
            });

            $scope.$watch('fix_weight', function(newVal, oldVal){
                if(newVal){
                    _.each($scope.measure_obj, function(obj){
                        obj['measure']['weight'] = $scope.measure_obj[$scope.first_size]['measure']['weight'];
                    });
                }
            });

            $scope.$watch('size_list', function(newVal, oldVal){
                var new_size_list = _.chain(newVal).values().compact().value(),
                      origin_size_list = _.chain(oldVal).values().compact().value(),
                      difference_size,
                      origin_size,
                      new_size;
                /*
                if(_.size(new_size_list) < $('input[type="checkbox"].check_size').length) {
                    $scope.select_all_size = false;
                } else if($('input[type="checkbox"].check_size').length) {
                    $scope.select_all_size = true;
                }
                */
                $scope.first_size = _.chain(newVal).values().first().value();

                if($scope.select_all_size){
                    if(_.size(new_size_list) > _.size(origin_size_list)){
                        difference_size = _.difference(new_size_list, origin_size_list);
                        _.each(difference_size, function(size){
                            $scope.measure_obj[size] = {
                                size_comment: '',
                                measure: {
                                    1: '',
                                    2: '',
                                    3: '',
                                    4: '',
                                    5: '',
                                    6: '',
                                    7: '',
                                    8: '',
                                    9: '',
                                    10: ''
                                }
                            }
                        });
                    } else if(_.size(new_size_list) < _.size(origin_size_list)){
                        difference_size = _.difference(origin_size_list, new_size_list);
                        _.each(difference_size, function(size){
                            delete $scope.measure_obj[difference_size];
                        });
                    } else {
                        origin_size = _.difference(origin_size_list, new_size_list);
                        new_size = _.difference(new_size_list, origin_size_list);

                        _.each(new_size, function(size, index){
                            $scope.measure_obj[size] = angular.copy(origin_size[index]);
                            delete $scope.measure_obj[origin_size[index]];
                        });
                    }
                } else {
                    if(_.size(new_size_list) > _.size(origin_size_list)){
                        difference_size = _.difference(new_size_list, origin_size_list)[0];
                        $scope.measure_obj[difference_size] = {
                            size_comment: '',
                            measure: {}
                        }
                    } else if(_.size(new_size_list) < _.size(origin_size_list)){
                        difference_size = _.difference(origin_size_list, new_size_list)[0];
                        delete $scope.measure_obj[difference_size];
                    } else {
                        origin_size = _.difference(origin_size_list, new_size_list)[0];
                        new_size = _.difference(new_size_list, origin_size_list)[0];

                        $scope.measure_obj[new_size] = angular.copy($scope.measure_obj[origin_size]);
                        delete $scope.measure_obj[origin_size];
                    }
                }
                angular.element('label.choiceSize:not(:first)').removeClass('active');
                $scope.stock_size = new_size_list[0];
            }, true);

            $scope.size_selected = function(size){
                $scope.stock_size = size;
            }

            $scope.cross_size_with_color = function(){
                var origin_stocks = $scope.stocks;
                $scope.stocks = [];

                _.each(_.chain($scope.size_list).values().compact().value(), function(size){
                    _.each($scope.color_list, function(color, index){
                        if(!color){
                            return false;
                        }
                        var origin_stock = _.findWhere(origin_stocks, {size: size, color: color});

                        $scope.stocks.push({
                            size_type_major: $scope.size_type_aliases || $scope.size_type_major,
                            size: size,
                            color: color,
                            measure: _.isUndefined($scope.measure_obj[size])?{}:$scope.measure_obj[size].measure,
                            custom_info: _.reject($scope.custom_info_obj[size], function(custom_info){
                                return custom_info.key == '' || custom_info.value == '' || custom_info.unit == '';
                            }),
                            color_comment: $scope.color_comment_list[index],
                            number: _.isEmpty(origin_stock) ? 0 : origin_stock.number,
                            size_comment: _.isUndefined($scope.measure_obj[size])?'':$scope.measure_obj[size].size_comment
                        });
                    });
                });
            }

            $scope.checkSellPrice = function(e){
                var parent = angular.element(e.target).parents('div.form-group.upload-direction');
                if(parseInt($scope.product_sell_price) > parseInt($scope.product_original_price)){
                    parent.addClass('has-error');
                }
                else {
                    parent.removeClass('has-error');
                }
            }

            $scope.add_custom_size = function(e){
                e.preventDefault();
                $scope.custom_size.push('');
            }

            $scope.change_custom_size = function(index){
                $scope.size_list[index] = $scope.custom_size[index];
            }

            $scope.submit = function(e){
                $(window).unbind('beforeunload');
            }

            $scope.size_order = function(size_list){
                return _.sortBy(size_list, function(size){
                    return _.indexOf($scope.custom_size, size);
                });
            }

            $scope.select_all_size = function(e){
                if($(e.target).prop('checked')){
                    $scope.size_list = _.map($('input[type="checkbox"].check_size'), function(check_size){
                        return $(check_size).val();
                    });
                } else {
                    $scope.size_list = [];
                }
            }

            $scope.add_custom_info = function(stock_size){
                if(_.isUndefined(stock_size) || _.size($scope.custom_info_obj[stock_size]) >= 20){
                    return false;
                }
                if(_.isUndefined($scope.custom_info_obj[stock_size])){
                    $scope.custom_info_obj[stock_size] = [];
                }
                $scope.custom_info_obj[stock_size].push({
                    key: '',
                    value: '',
                    unit: ''
                });
            }
        }]);
</script>
{% endblock %}
