{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">
<style>
.col-254 {
    padding-right: 10px;
    padding-top:65px;
}
.col-726{
    padding-right: 0;
}
</style>
{% endblock %}
{% block body %}
<div>
        <div class='col-254'>
        {% include '/buyer/sell_manage_sidebar.html.twig' %}
    </div>
<div class='col-726' ng-app="getmore_sell_manage">
<div class="tab-content article-line">
    <div class="tab-pane active" id="GetMore">
        <div class='rightcol fontp15'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" style="height: auto;" ng-controller="launch">
                <ul class="list-unstyled list-inline text-center">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">圖片上傳</li>
                    <li data-target="#carousel-example-generic" data-slide-to="1">選擇分類</li>
                    <li data-target="#carousel-example-generic" data-slide-to="2">設定風格</li>
                    <li data-target="#carousel-example-generic" data-slide-to="3">商品敘述</li>
                    <li data-target="#carousel-example-generic" data-slide-to="4">尺碼顏色</li>
                    <li data-target="#carousel-example-generic" data-slide-to="5">詳細尺碼</li>
                    <li data-target="#carousel-example-generic" data-slide-to="6" ng-click="cross_size_with_color()">設定庫存</li>
                    <li data-target="#carousel-example-generic" data-slide-to="7">購買資訊</li>
                    <li data-target="#carousel-example-generic" data-slide-to="8">確認上架</li>
                </ul>
                <div class="planabox">
                    <form id="launchForm" name="launchForm" method="post" action="/buyer/launch_product?group=Clothing" class="carousel-inner" role="listbox" enctype="multipart/form-data" ng-submit="submit($event)">
                        <div class="item active">
                            <div class="upload-direction">
                                <h3><i class="fa fa-bullhorn 3x" style="color:#FFCC22;"></i>&nbsp Hello! 時尚買手夥伴！</h3>
                                <p>恭喜您完成審核成為Getmore的時尚買手夥伴，一起在 Getmore建立時尚小圈圈，提供更好的時尚單品，創立個人時尚品牌。相關規範都在<a href="http://desk.getmore.cc/knowledgebase/articles/761004-%E6%99%82%E5%B0%9A%E8%B2%B7%E6%89%8B%E8%A6%8F%E7%AF%84">販售規定</a>，若有任何問題，歡迎聯繫您的相關服務專員，或點選右下角的<i class="fa fa-question-circle fa-lg" style="color:#bbb"></i>，將儘快解答您的問題。並且記得切勿私下交易喔！讓我們一同維護平台的永續經營。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>上傳圖片<sup class="red">*</sup></h3>
                                <p>您可以新增刪除圖片，或直接拖曳更換順序。首張圖片<span class="hint">請傳長寬比 3:2的圖片（直式）</span>，例：1800 X 1200。照片至多上傳五張，上傳前請先詳閱<a>規範。</a></p>
                                <div class="planaex">商品頁的照片顯示順序即是以您目前的擺放順序去做安排，第一張照片建議放model照或是形象照，每張照片的檔案大小不得超過10MB。</div>
                            <br />
                            <div class="row clothing_view_list"></div>
                            <input id="fileupload" type="file" name="files" data-url="/restful/buyer_products/files" multiple>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="1">下一步，填寫商品分類</a>
                            </div>
                        </div>
                        <!-- first step-->
                        <div class="item filelist">
                            <div  class="upload-direction">
                                <h3>選擇商品的分類</h3>
                                <p>根據商品選擇對的分類，能夠讓消費者快速地找到您的商品。</p>
                            </div>
                            <!-- just view -->
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>商品分類</u><sup class="red">*</sup></label>
                                <div class="col-md-12" style="overflow:hidden;">
                                    <div class="col-md-4 level_1">
                                        <h6>服裝</h6>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="1" class="item_class1 item_class" ng-model="category">Women</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="2" class="item_class1 item_class" ng-model="category">Men</label>
                                        </div>
                                       <div class="radio">
                                            <label>
                                                <input type="radio" value="3" class="item_class1 item_class" ng-model="category">Kids / Baby</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 level_2">
                                        <h6>類別</h6>
                                        <div class="category women" ng-show="category == 1" ng-hide="category != 1">
                                            {% for category2, text in array_combine(range(11, 15, 1), ["上衣", "洋裝", "褲子", "裙子", "外套"]) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="category men" ng-show="category == 2" ng-hide="category != 2">
                                            {% for category2, text in array_combine(range(21, 24, 1), ["上衣", "襯衫", "褲子", "外套"]) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="category kid" ng-show="category == 3" ng-hide="category != 3">
                                            {% for category2, text in array_combine(range(31, 35, 1), ["連身衣", "上衣", "下身", "洋裝", "外套"]) %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ category2 }}" name="product_type" class="item_class2 item_class" ng-model="category2">{{ text }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="upload-direction">
                                    <h3>選擇款式</h3>
                                    <p>對於不同分類，選擇適當的款式，讓您的商品正確曝光。</p>
                                    <div class="planaex">＊為必選，無＊的部份請依照真實狀況填寫即可</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_title" ng-if="category2 != 34 && category2 != 31;"><u>款式</u><sup class="red">*</sup></label>
                                    <div ng-if="category == 1">
                                        <div class="item_pattern" ng-show="$parent.category2 == 11">
                                            {% for pattern, text in array_combine([3, 23, 19, 2, 33, 28, 35], ["T-Shirt", "襯衫", "背心", "Polo衫", "雪紡", "針織/毛衣", "休閒運動衫"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 12">
                                            {% for pattern, text in array_combine([31, 15], ['長洋裝', '短洋裝']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 13">
                                            {% for pattern, text in array_combine([5, 25, 13, 26, 1, 22, 40], ['休閒褲','西裝褲', '牛仔褲', '連身褲', 'Legging', '褲裙', '運動褲']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 14">
                                            {% for pattern, text in array_combine([36, 37], ['A Line/圓裙', '窄裙/鉛筆裙']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 15">
                                            {% for pattern, text in array_combine([24, 29, 14, 12, 18, 9, 11, 34, 38], ['西裝外套', '針織/毛衣外套', '皮衣', '棉質外套', '羽絨衣', '大衣', '斗篷', '背心外套', '風衣']) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div ng-if="category == 2">
                                        <div class="item_pattern" ng-show="$parent.category2 == 21">
                                            {% for pattern, text in array_combine([3, 2, 28, 19, 35], ["T-Shirt", "Polo衫", "針織/毛衣", "背心", "休閒運動衫"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 22">
                                            {% for pattern, text in array_combine([8, 6], ["商務襯衫", "休閒襯衫"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 24">
                                            {% for pattern, text in array_combine([24, 14, 27, 17, 9, 29, 34, 38], ["西裝外套", "皮衣", "運動外套", "羽絨衣", "大衣", "針織/毛衣外套", "背心外套", "風衣"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 23">
                                            {% for pattern, text in array_combine([5, 25, 13, 40, 39], ["休閒褲", "西裝褲", "牛仔褲", "運動褲", "海灘褲"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div ng-if="category == 3">
                                        <div class="item_pattern" ng-show="$parent.category2 == 32">
                                            {% for pattern, text in array_combine([3, 19, 28, 23, 35, 2], ["T-Shirt", "背心", "針織/毛衣", "襯衫", "休閒運動衫", "Polo衫"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 33">
                                            {% for pattern, text in array_combine([21, 20, 22], ["褲子", "裙子", "褲裙"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                        <div class="item_pattern" ng-show="$parent.category2 == 35">
                                            {% for pattern, text in array_combine([4, 18, 34, 38, 24, 29, 14], ["夾克", "羽絨衣", "背心外套", "風衣", "西裝外套", "針織/毛衣外套", "皮衣"]) %}
                                            <label>
                                                <input type="radio" value="{{ pattern }}" name="pattern" ng-model="$parent.pattern"> {{ text }}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction form-inline" style="overflow: auto;">
                                <div ng-if="category2 == 11" class="pull-left" style="margin-right: 20px;">
                                    <label class="control-label"><u>特殊長度</u></label>
                                    <select class="item_pattern form-control" ng-model="$parent.sub_pattern_1" name="sub_pattern_1">
                                        <option value="" ng-selected="true">請選擇</option>
                                        {% for sub_pattern_1, text in array_combine([7, 8], ['短版上衣', '長上衣']) %}
                                        <option value="{{ sub_pattern_1 }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div ng-if="category2 == 13" class="pull-left" style="margin-right: 20px;">
                                    <label class="control-label"><u>褲型</u></label>
                                    <select class="item_pattern form-control" ng-model="$parent.sub_pattern_1" name="sub_pattern_1">
                                        <option value="" ng-selected="true">請選擇</option>
                                        {% for sub_pattern_1, text in array_combine(range(1, 6, 1), ['靴型', '窄管', '喇叭', '直筒', '男友褲', '縮口']) %}
                                        <option value="{{ sub_pattern_1 }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div ng-if="category2 == 23" class="pull-left" style="margin-right: 20px;">
                                    <label class="control-label"><u>褲型</u></label>
                                    <select class="item_pattern form-control" ng-model="$parent.sub_pattern_1" name="sub_pattern_1">
                                        <option value="" ng-selected="true">請選擇</option>
                                        {% for sub_pattern_1, text in array_combine([2, 3, 6], ['窄管', '直筒', '縮口']) %}
                                        <option value="{{ sub_pattern_1 }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div ng-if="category2 == 13 || category2 == 14 || category2 == 23" class="pull-left" style="margin-right: 20px;">
                                    <label class="control-label"><u>特殊腰線</u></label>
                                    <select class="item_pattern form-control" ng-model="$parent.sub_pattern_2" name="sub_pattern_2">
                                        <option value="" ng-selected="true">請選擇</option>
                                        {% for sub_pattern_2, text in array_combine([1, 3], ['高腰', '低腰']) %}
                                        <option value="{{ sub_pattern_2 }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div ng-if="category2 == 13 || category2 == 23" class="pull-left" style="margin-right: 20px;">
                                    <label class="control-label"><u>特殊褲檔</u></label>
                                    <select class="item_pattern form-control" ng-model="$parent.sub_pattern_3" name="sub_pattern_3">
                                        <option value="" ng-selected="true">請選擇</option>
                                        {% for sub_pattern_3, text in array_combine([1], ['低檔']) %}
                                        <option value="{{ sub_pattern_3 }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <div ng-if="category2 == 14">
                                    <label for="product_title"><u>裙長</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        {% for item_long, text in array_combine(["mini", "knee", "midi", "maxi"], ["短裙", "及膝裙", "中長裙", "長裙"]) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div ng-if="category2 == 11 || category2 == 12 || category2 == 21 || category2 == 22 || category2 == 32 || category2 == 34">
                                    <label for="product_title"><u>袖長</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        {% for item_long, text in array_combine(["ns", "ss", "ls"], ["無袖", "短袖", "長袖"]) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div ng-if="category2 == 15 || category2 == 24">
                                    <label for="product_title"><u>長度</u><sup class="red">*</sup></label>
                                    <div class="item_pattern">
                                        {% for item_long, text in array_combine(["sb", "lb"], ["短版", "長版"]) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div ng-if="category2 == 13 || category2 == 23 || category2 == 33">
                                    <label for="product_title"><u ng-if="$parent.category2 == 33">褲/裙 長</u><u ng-if="$parent.category2 != 33">褲長</u><sup class="red">*</sup></label>
                                    <div class="item_pattern" ng-if="$parent.category2 != 33">
                                        {% for item_long, text in array_combine(["sp", "lp"], ["短褲", "長褲"]) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="item_pattern" ng-if="$parent.category2 == 33">
                                        {% for item_long, text in array_combine(["sp", "lp"], ["短 褲/裙", "長 褲/裙"]) %}
                                        <label>
                                            <input type="radio" value="{{ item_long }}" name="item_long" ng-model="$parent.long"> {{ text }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="product_title"><u>季節</u><sup class="red">*</sup></label>
                                <div class="item_pattern" ng-init="season = 1">
                                    {% for season, text in array_combine(range(1,3,1), ["春夏", "秋冬", "無季節"]) %}
                                    <label>
                                        <input type="radio" value="{{ season }}" name="season" ng-model="season" > {{ text }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="0">上一步</a>
                                <a class="btn btn-info" data-target="#carousel-example-generic" data-slide-to="2">下一步，填寫風格</a>
                            </div>
                             <center><div class="planaex">商品分類與款式在上架後是無法修改的，請確認選擇後再進行下一步喔！</div></center>
                        </div>

                        <!-- add style -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>選擇風格</h3>
                                <p>選擇這件衣服相近的顏色，以及1~3項風格，讓潛在買家可以更快找到您的商品。另外，Getmore也會在各季推出宣傳活動，將挑選出類似風格、顏色的商品做行銷，增加您商品的曝光率。</p>
                            </div>
                            <div>
                                <div class="selectstyle form-group upload-direction">
                                    <label for="style"><u>風格</u></label>
                                    <div class="form-horizontal">
                                        {% for gender, style_category in style_lists %}
                                        <div ng-if="category == {{ gender }}">
                                            {% for label, style_list in style_category %}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{ label }}</label>
                                                <div class="col-sm-10">
                                                    {% for style_value, style_text in style_list %}
                                                    {% if style_value != 34 %}
                                                    <label class="checkbox-inline" style="margin-left: 0;">
                                                        <input type="checkbox" name="style[]" value="{{ style_value }}" ng-model="$parent.styles[{{ style_value }}]" ng-true-value="'{{ style_text }}'">{{ style_text }}
                                                    </label>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group filltag upload-direction">
                                    <label for="freestyle"><u>自訂風格</u></label>
                                    <p id="helpBlock" class="help-block">找不到適合您商品的風格？您可以在這邊自訂風格喔！<u>填寫完記得按下ENTER</u>。</p>
                                    <input type="text" class="form-control" id="free_style" name="free_style" ng-model="free_style" placeholder="請直接輸入並按下ENTER"/>
                                    <p class="help-block" style="font-size:10px;">請按ENTER區分不同的風格標籤。</p>
                                </div>
                            </div>
                            <hr>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="1">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="3">下一步，商品敘述</a>
                            </div>
                        </div>

                        <!-- add descioption -->
                        <div class="item">
                            <div class='upload-direction'>
                                <h3>填寫商品資訊</h3>
                                <p>填寫顯示在商品頁面的商品名稱,品牌及敘述。</p>
                                <span class="planaex">＊為必填，請勿在此或其他頁面留下您的聯絡資料或是私下交易訊息，會被取消販售資格喔！請共同維護平台營運。</span>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_title"><u>商品名稱</u><sup class="red">*</sup></label>
                                    <p>幫商品取一個好的名字，也讓消費者能方便搜尋到。</p>
                                    <span class="planaex">不需加上品牌名稱，商品頁會自動帶入。</span>
                                    <input type="text" class="form-control" id="product_title" maxlength="20" ng-model="product_title" name="product_title" placeholder="商品名稱">
                                    <div class="planaex">例如：月偏蝕拼接洋裝</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_brand"><u>商品品牌</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="30" placeholder="商品品牌" value="{{ buyer.title }}" disabled="true">
                                    <input type="hidden" name="product_brand" value="{{ buyer.title }}">
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_comments"><u>商品敘述</u><sup class="red">*</sup></label>
                                    <textarea class="form-control" id="product_comments" name="product_comments" ng-model="product_comments" rows="5" placeholder="可說明創作理念、商品特色、觸感，以及建議搭配。加上洗滌方式、彈性度或是透膚程度會更加分喔！" ng-trim="true"></textarea>
                                    <div class="planaex">字數限制200字，還剩 [[ product_comments_remain_count ]] 字。</div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品狀況</u><sup class="red">*</sup></label>
                                    <label>
                                        <input type="radio" value="0" name="item_status" ng-model="item_status" ng-click="second_hand = 0">全新商品
                                    </label>
                                    <label>
                                        <input type="radio" name="item_status" value="-1" ng-model="second_hand">二手商品
                                    </label>
                                    <select name="item_status" ng-if="second_hand == -1" class="form-control" ng-model="$parent.item_status" ng-init="$parent.item_status = 1">
                                        <option value="1">幾近全新</option>
                                        <option value="2">狀況良好</option>
                                        <option value="3">有歲月痕跡</option>
                                    </select>
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品材質</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="100" name="material" ng-model="material" placeholder="商品材質">
                                </div>
                                <div class="form-group upload-direction">
                                    <label><u>商品產地</u></label>
                                    <input type="text" style="position: relative;" class="form-control" maxlength="30" name="location" ng-model="location" placeholder="商品產地">
                                </div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="2">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="4">下一步，填寫尺碼顏色</a>
                            </div>
                        </div>

                        <!-- add  size-->
                        <div class="item">
                            <div class="paddingtop20">
                                <div class="upload-direction">
                                <h3>填寫尺碼</h3>
                                <p>利用Getmore的系統輕鬆填入尺碼及顏色，庫存管理更方便！</p><span class="planaex">先選單位，再勾選該款商品所有的尺碼。                 若同一款服裝有出多款顏色，請勾選多款顏色，若只有出一款顏色，但為多色，則勾選商品主要色調或色彩。（ex.一款顏色請勾選一種;四款顏色則勾選四種）。</span>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_type_major" style="display: block;">先選單位<sup class="red">*</sup></label>
                                <select class="form-control width375" id="size_type_major" ng-model="$parent.size_type_major" ng-if="category == 1" style="display: inline-block;">
                                    <option value="S/M/L">S/M/L</option>
                                    <option value="one size">one size</option>
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                    <option value="EU">EU</option>
                                    <option value="IT">IT</option>
                                    <option value="JP">JP</option>
                                    <option value="Denim">Denim</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" id="size_type_major" ng-model="$parent.size_type_major" ng-if="category == 2" style="display: inline-block;">
                                    <option value="S/M/L">S/M/L</option>
                                    <option value="one size">one size</option>
                                    <option value="US/UK">US/UK</option>
                                    <option value="US/UK(領圍)">US/UK(領圍)</option>
                                    <option values="EU/IT">EU/IT</option>
                                    <option value="EU(領圍)">EU(領圍)</option>
                                    <option value="JP">JP</option>
                                    <option value="Denim">Denim</option>
                                    <option value="其他">其他</option>
                                </select>
                                <select class="form-control width375" id="size_type_major" ng-model="$parent.size_type_major" ng-if="category == 3" style="display: inline-block;">
                                    <option value="S/M/L">S/M/L</option>
                                    <option value="one size">one size</option>
                                    <option value="MONTH">MONTH</option>
                                    <option value="YEARS">YEARS</option>
                                    <option value="身長(cm)">身長(cm)</option>
                                    <option value="身高(cm)">身高(cm)</option>
                                    <option value="其他">其他</option>
                                </select>
                                <div ng-if="size_type_major == '其他'" class="form-inline" style="display: inline-block;">
                                    <div class="form-group">
                                        <label>:</label>
                                        <input type="text" class="form-control" ng-model="$parent.size_type_aliases">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group upload-direction check_size">
                                <label for="size">再選SIZE<sup class="red">*</sup>
                                    <label>
                                        <input type="checkbox" ng-disabled="size_type_major == '0' || size_type_major == '其他' || size_type_major == 'one size'" ng-model="select_all_size">全選
                                    </label>
                                </label>
                                <div class="width375" ng-if="size_type_major == 'S/M/L'">
                                    {% for index, size in ['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL'] %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'one size'">
                                    <label>
                                        <input type="checkbox" value="'one size'" ng-model="$parent.size_list[0]" ng-true-value="'one size'" ng-init="$parent.size_list[0] = 'one size'" class="check_size">one size
                                    </label>
                                </div>
                                <div class="width375" ng-if="size_type_major == 'US'">
                                    {% for index, size in array_merge(['00'], range(0, 12, 2)) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'UK'">
                                    {% for index, size in range(2, 16, 2) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'US/UK'">
                                    {% for index, size in range(34, 44, 2) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'US/UK(領圍)'">
                                    {% for index, size in range(14, 17, 0.5) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'EU/IT'">
                                    {% for index, size in range(44, 54, 2) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'EU(領圍)'">
                                    {% for index, size in range(36, 42, 1) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'EU'">
                                    {% for index, size in range(30, 44, 2) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'IT'">
                                    {% for index, size in range(34, 48, 2) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'JP' && category == 1">
                                    {% for index, size in range(0, 3, 1) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'JP' && category == 2">
                                    {% for index, size in range(36, 44, 1) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'Denim' && category == 1">
                                    {% for index, size in range(22, 32, 1) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="width375" ng-if="size_type_major == 'Denim' && category == 2">
                                    {% for index, size in range(27, 43, 1) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'" class="check_size">{{ size }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="form-inline" ng-if="size_type_major == 'MONTH'" ng-init="$parent.custom_size = ['']">
                                    <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                                <div class="form-inline" ng-if="size_type_major == 'YEARS'" ng-init="$parent.custom_size = ['']">
                                    <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                                <div class="form-inline" ng-if="size_type_major == '身長(cm)'" ng-init="$parent.custom_size = []">
                                    {% for index, size in range(60, 90, 10) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'">{{ size }}
                                    </label>
                                    {% endfor %}
                                    <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                                <div class="form-inline" ng-if="size_type_major == '身高(cm)'" ng-init="$parent.custom_size = []">
                                    {% for index, size in array_merge(range(100, 160, 10), [165, 170]) %}
                                    <label>
                                        <input type="checkbox" value="{{ size }}" ng-model="$parent.size_list[{{ index }}]" ng-true-value="'{{ size }}'">{{ size }}
                                    </label>
                                    {% endfor %}
                                   <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                                <div class="form-inline" ng-if="size_type_major == '其他'" ng-init="$parent.custom_size = ['', '', '']">
                                    <label ng-repeat="size in custom_size track by $index" class="form-group" style="margin-right: 10px;">
                                        <input type="checkbox" ng-value="size" class="checkbox check_size" style="width: auto;" ng-checked="$parent.size_list[$index]" ng-click="!$parent.size_list[$index]?($parent.size_list[$index] = custom_size[$index]):($parent.size_list[$index] = false)">
                                        <input type="text" class="form-control" ng-model="custom_size[$index]" ng-change="change_custom_size($index)">
                                    </label>
                                    <button class="btn" ng-click="add_custom_size($event)" style="margin-top: 10px;"><i class="fa fa-plus"></i>新增尺碼</button>
                                </div>
                            </div>
                            <div class="selectcolor form-group upload-direction">
                                <label for="color"><u>顏色</u><sup class="red">*</sup></label>
                                <div class="planaex">選擇顏色後可修改後面顏色敘述。</div>
                                <ul class="list-inline">
                                    {% for index, color in ['black', 'white', 'gray', 'red', 'green', 'brown', 'blue', 'orange', 'purple', 'pink', 'yellow', 'gold', 'silver', 'color'] %}
                                    <li>
                                        <label>
                                            <input type="checkbox" value="{{ color }}" name="color" ng-model="color_list[{{ index }}]" ng-true-value="'{{ color }}'">
                                            <img src="/admin/assets/images/colorbox/{{ color }}.png">
                                        </label>
                                        <input type="text" ng-model="color_comment_list[{{ index }}]" ng-init="color_comment_list[{{ index }}] = '{{ color }}'" ng-disabled="!color_list[{{ index }}]">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="model_size"><u>試穿報告</u></label><br />
                                <span class="planaex">提供試穿報告可供消費者更容易選擇尺寸，也可自行增加其他穿著上說明。(請自行刪除舉例)</span>
                                <textarea style="line-height:25px;" class="form-control" id="model_size" ng-model="model_size" name="model_size" ng-init="model_size = '▪ 版型：緊身/合身/正常/寬鬆（擇一）\n▪ 穿著說明：(例如：透膚，需要內搭）\n▪ Model試穿報告：（例如：175cm/50kg，穿M號）'" ng-trim="true" rows="5"></textarea>
                                <div class="planaex">字數限制100字，還剩 [[ model_size_remain_count ]] 字。</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="3">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="5">下一步，填寫詳細尺寸</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="paddingtop20">
                                <div class="upload-direction">
                                <h3>詳細尺寸</h3>
                                <p>請先點選尺碼，並在圖示旁輸入每個尺碼的詳細資訊（平放丈量）。完成後再點選下一個尺碼，每個尺碼的丈量尺寸都要填寫。</p>
                                </div>
                            </div>
                            <div class="form-group upload-direction">
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-primary choiceSize" ng-repeat="size in size_order(size_list) track by $index" ng-click="size_selected(size)" ng-if="size" ng-class="$parent.stock_size == size?'active':'';">
                                    <input type="radio" name="stock_size"> [[ size ]]
                                  </label>
                                </div>
                                <div class="planaex">請先點選尺碼，並在下方輸入詳細尺寸。</div>
                            </div>
                            <div class="form-group upload-direction">
                                <table width="100%" border="2px" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td rowspan="10" align="right">
                                                <img ng-src="[[ category2|measure_img:long:pattern ]]" id="measure_img" style="height: auto;">
                                            </td>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][1]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][2]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][3]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][4]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][5]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][6]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][7]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][8]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][9]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 30px;">
                                                <div class="input-group">
                                                    <input type="text" class="form-control measure-input numbersOnly" style="height: 30px;" ng-model="measure_obj[stock_size]['measure'][10]">
                                                    <span class="input-group-addon cm-text">cm</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="size_comment"><u>其他尺碼敘述（選填）</u></label>
                                <input type="text" class="form-control" id="size_comment" maxlength="20" ng-model="measure_obj[stock_size]['size_comment']" name="size_comment" placeholder="其他尺碼敘述">
                                <div class="planaex">可填寫該處尺碼的特殊之處，例如：偏大/偏小、緊身/寬鬆。若無則不需填寫。</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="4">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="6" ng-click="cross_size_with_color()">下一步，設定庫存數量</a>
                            </div>
                        </div>
                        <div class="item">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>尺碼</th><th>顏色</th><th>顏色描述</th><th>數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stock in stocks" class="form-group">
                                        <td>[[ stock.size|size_translate ]]</td>
                                        <td><img ng-src="/admin/assets/images/colorbox/[[ stock.color ]].png"></td>
                                        <td>[[ stock.color_comment ]]</td>
                                        <td><input type="text" class="form-control" ng-model="stock.number"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="[[ stocks|json ]]" name="stocks">
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="5">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="7" ng-click="check_stocks()">最後一步，填寫價格</a>
                            </div>
                        </div>
                        <!-- add price -->
                        <div class="item">
                            <div class="upload-direction">
                                <h3>設定價格</h3>
                            </div>
                            <div>
                                <div class="form-group upload-direction">
                                    <label for="product_sell_price"><u>定價</u><sup class="red">*</sup></label>
                                    <div class="input-group" style="width:120px;">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control numbersOnly" id="product_original_price" maxlength="20" ng-model="product_original_price" name="product_original_price">
                                    </div>
                                </div>
                                <div class="form-group upload-direction">
                                    <label for="product_sell_price"><u>售價</u><sup class="red">*</sup></label>
                                    <div class="input-group" style="width:120px;">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control numbersOnly" id="product_sell_price" maxlength="20" ng-model="product_sell_price" name="product_sell_price" ng-blur="checkSellPrice($event)">
                                    </div>
                                    <small>「售價」為消費者購買價格，必須小於或等於「定價」</small>
                                </div>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <h3>編輯交易政策</h3>
                                <p>交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</p>
                                <p>已自動帶入您衣櫃的交易政策，會套用到所有商品上。</p>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_time"><u>寄送時間</u></label>
                                <div>{{ trade_rule["time"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_method"><u>寄送方式</u></label>
                                <div>{{ trade_rule["method"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_transport"><u>商品運送方式</u></label>
                                <div>{{ trade_rule["transport"]|nl2br }}</div>
                            </div>
                            <div class="form-group upload-direction">
                                <label for="trade_returns"><u>退貨政策</u></label>
                                <div>{{ trade_rule["returns"]|nl2br }}</div>
                            </div>
                            <div class="planabtn">
                                <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="6">上一步</a>
                                <a class="btn btn-info" role="button" data-target="#carousel-example-generic" data-slide-to="8">下一步，確認上架資訊</a>
                            </div>
                        </div>

                        <!-- check new clothing info-->
                        <div class="item">
                            <div  class="upload-direction">
                                <h3>確認您填入的資料</h3>
                                <p>以下為您填入的上架資料，可按「上一步」往前編輯內容，並再次確認是否符合<a href="">販售規定</a>，確認無誤後請按「確認上架」，商品會立即上架。</p>
                            </div>
                            <hr>
                            <div class="upload-direction">
                                <div class="show-title">商品分類</div>
                                <div class="show-content" id="preview_product">
                                    <p>[[ category|preview_type:category2:long ]]</p>
                                </div>
                                <div class="show-title">款式</div>
                                <div class="show-content">
                                    <p>[[ pattern|preview_pattern ]]</p>
                                </div>
                                <div>
                                    <div class="show-title" ng-if="category2 == 11 || category2 == 12 || category2 == 21 || category2 == 22 || category2 == 32 || category2 == 34">袖長</div>
                                    <div class="show-title" ng-if="category2 == 15 || category2 == 24">長度</div>
                                    <div class="show-title" ng-if="category2 == 13 || category2 == 23 || category2 == 33">褲長</div>
                                    <div class="show-content">
                                        <p>[[ long|preview_long:category2 ]]</p>
                                    </div>
                                </div>
                                <div class="show-title">季節</div>
                                <div class="show-content">
                                    <p ng-if="[[ season ]] == 1">春夏</p>
                                    <p ng-if="[[ season ]] == 2">秋冬</p>
                                    <p ng-if="[[ season ]] == 3">無季節</p>
                                </div>
                                <hr>
                                <div class="show-title">風格</div>
                                <div class="show-content" ng-repeat="style in styles" ng-if="style != false">
                                    <p>[[ style ]]</p>
                                </div>
                                <div class="show-title">自訂風格</div>
                                <div class="show-content">
                                    <p>[[ free_style ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品名稱</div>
                                <div class="show-content">
                                    <p>[[ product_title ]]</p>
                                </div>
                                <div class="show-title">品牌</div>
                                <div class="show-content">
                                    <p>[[ product_brand ]]</p>
                                </div>
                                <div class="show-title">商品描述</div>
                                <div class="show-content">
                                    <p>[[ product_comments ]]</p>
                                </div>
                                <div class="show-title">商品狀況</div>
                                <div class="show-content">
                                    <p>[[ item_status|item_status_translate ]]</p>
                                </div>
                                <div class="show-title">商品材質</div>
                                <div class="show-content">
                                    <p>[[ material ]]</p>
                                </div>
                                <div class="show-title">商品產地</div>
                                <div class="show-content">
                                    <p>[[ location ]]</p>
                                </div>
                                <hr>
                                <div class="show-title">商品尺碼/顏色/庫存</div>
                                <div class="show-content">
                                    <table class="table">
                                        <thead>
                                            <caption class="text-center">[[ size_type_aliases || size_type_major ]]</caption>
                                            <tr>
                                                <th>尺碼</th><th>顏色</th><th>顏色描述</th><th>數量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="stock in stocks" class="form-group">
                                                <td>[[ stock.size|size_translate ]]</td>
                                                <td><img ng-src="/admin/assets/images/colorbox/[[ stock.color ]].png"></td>
                                                <td>[[ stock.color_comment ]]</td>
                                                <td>[[ stock.number || 0 ]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="show-title">商品價格</div>
                                <ul class="show-content list-unstyled">
                                    <li><p>訂價：$[[ product_original_price ]]</p></li>
                                    <li><p>售價：$[[ product_sell_price ]]</p></li>
                                </ul>
                                <div class="show-title">交易政策</div>
                                <div class="show-content">交易政策是全衣櫃統一的，您可以<a href="#">另開視窗</a>確認及修改您的交易政策。</div>
                                <br>
                                <hr>
                            </div>
                            <a class="btn btn-success" role="button" data-target="#carousel-example-generic" data-slide-to="7">上一步</a>
                            <button type="submit" class="btn btn-info" data-target="#carousel-example-generic">完成上架！</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
 <script type="text/javascript" src="/assets/vendor/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript">
    $('body').delegate('*', 'change', function(e){
        $(window).bind('beforeunload', function(e){
            return "確定離開嗎？離開的話 剛才所輸入的資訊都會消失喔！";
        });

        $('body').undelegate('*', 'change');
    });

    (function(){
        var file_count = 5;

        $('div.clothing_view_list').delegate('a.del_file', 'click', function(e){
            if(file_count === 5){
                return false;
            }
            var target = e.target;
            $.ajax({
                url: '/restful/buyer_products/files/'+$(target).data('file_id'),
                type: 'DELETE'
            }).done(function(){
                $(target).parents('div.clothing_view').remove();
                file_count++;
            });
        });

        $("div.clothing_view_list").sortable();
        $("div.clothing_view_list").disableSelection();

        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /\.(gif|jpe?g|png)$/i,
            maxFileSize: 5000000,
            autoUpload: false,
            done: function (e, data) {
                var img = $('<img class="clothing_view_img">').attr('src', 'http://s3.getmore.cc/clothing/'+data.result[0]+'/medium.jpg');
                var del_btn = $('<a class="btn btn-danger del_file">').data('file_id', data.result[0]).html('刪除');
                var input = $('<input type="hidden" name="files[]">').attr('value', data.result[0]);
                $('i.clothing_loading_icon:first').after(input).after(del_btn).replaceWith(img);
            },
            add: function (e, data) {
                if(file_count > 0){
                    file_count--;
                    data.submit();
                }
                else {
                    $('#fileupload').hide();
                }
            }
        }).bind('fileuploadsubmit', function(){
            var div = $('<div class="col-xs-6 col-md-3 clothing_view"><a class="thumbnail text-center"><i class="fa fa-spinner fa-spin fa-5x clothing_loading_icon"></i></a></div>');

            $('div.clothing_view_list').append(div);
        });
    }());

    $(function() {
        //tag input
        var exist_style = {{ styles | json_encode() }};

        $('#free_style').tokenfield({
            autocomplete: {
                source: exist_style,
                delay: 100,
                minLength: 1
            },
            showAutocompleteOnFocus: true
        }).on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function(index, token) {
                if (token.value === event.attrs.value)
                    event.preventDefault();
            });
        });
        //$('#free_style').tokenfield('setTokens', 'blue,red,white');
        $('#free_style').parent().keypress(function(e){
            if(e.keyCode === 13) {
                e.preventDefault();
            }
        })

        $('.numbersOnly').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g,'');
        });

        $("#launchForm").submit(function(e){
            console.log(e);
            var have_error = false;
            var error_input = ["請完成以下必填欄位："];
            $('.has-error').removeClass('has-error');
            $('.error-div').removeClass('error-div');

            if ($("input[name='color']:checked").length == 0){
                $(".selectcolor").addClass('error-div');
                have_error = true;
                error_input.push("顏色");
            }
            if ($("input[name='product_title']").val() == ""){
                $("input[name='product_title']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品名稱");
            }
            if ($("textarea[name='product_comments']").val() == ""){
                $("textarea[name='product_comments']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品敘述");
            }
            if ($('img.clothing_view_img').length == 0){
                have_error = true;
                error_input.push("上傳照片");
            }
            if ($("select[name='size_type_major']").val() == 0){
                $("select[name='size_type_major']").parent('div').addClass('error-div');
                have_error = true;
                error_input.push("尺碼");
            }
            if ($("input[name='product_sell_price']").val() == ""){
                $("input[name='product_sell_price']").parent('div').addClass('has-error');
                have_error = true;
                error_input.push("商品售價");
            }
            else if(parseInt($("input[name='product_sell_price']").val()) > parseInt($("input[name='product_original_price']").val())){
                have_error = true;
                error_input = ['「定價」必須大於或等於「售價」']
            }

            if(!$('input[type="checkbox"].check_size:checked').length) {
                $('div.form-group.check_size').addClass('error-div');
                have_error = true;
                error_input.push("SIZE");
            }

            if (have_error == true) {
                error_input = error_input.join('\n');
                alert(error_input);
                return false;
            }

        });
    });

    app
        .controller('launch', ['$scope', '$element', '$http', function ($scope, $element, $http) {
            $scope.category = 1;
            $scope.category2 = 11;

            $scope.size_type_major = '0';
            $scope.stocks = [];
            //default values

            $scope.item_status = "0";
            $scope.brandslist = _.pluck({{ brandslist }}, 'name');

            $scope.$watch('category', function(newVal, oldVal){
                $scope.category2 = newVal + '1';
            });

            $scope.$watch('category2', function(newVal, oldVal){
                // 上衣款式預設值
                if(_.contains(['11', '21', '32'], newVal)){
                    $scope.pattern = '3';
                }
                // 襯衫款式預設值
                else if(_.contains(['22'], newVal)){
                    $scope.pattern = '8';
                }
                // 洋裝款式預設值
                else if(_.contains(['12'], newVal)){
                    $scope.pattern = '31';
                }
                // 成人褲子款式預設值
                else if(_.contains(['13', '23'], newVal)){
                    $scope.pattern = '5';
                }
                // 小孩褲子款式預設值
                else if(_.contains(['33'], newVal)){
                    $scope.pattern = '21';
                }
                // 裙子款式預設值
                else  if(_.contains(['14'], newVal)){
                    $scope.pattern = '36';
                }
                // 成人外套款式預設值
                else if(_.contains(['15', '24'], newVal)){
                    $scope.pattern = '24';
                }
                // 小孩外套款式預設值
                else if(_.contains(['35'], newVal)){
                    $scope.pattern = '4';
                }

                if(_.contains(['11', '12', '21', '22', '32', '34'], newVal)){
                    $scope.long = 'ns';
                }
                else if(_.contains(['15', '24'], newVal)){
                    $scope.long = 'sb';
                }
                else if(_.contains(['13', '23', '33'], newVal)){
                    $scope.long = 'sp';
                }
            });

            $scope.$watch('select_all_size', function(newVal, oldVal){
                if(newVal){
                    $scope.size_list = _.map($('input[type="checkbox"].check_size'), function(check_size){
                        return $(check_size).val();
                    });
                }
            });

            $scope.$watch('product_comments', function(newVal, oldVal){
                $scope.product_comments_remain_count = 200 - ($scope.product_comments || []).length;
                $scope.product_comments = ($scope.product_comments || "").substring(0, 200);
            });

            $scope.$watch('model_size', function(newVal, oldVal){
                $scope.model_size_remain_count = 100 - ($scope.model_size || []).length;
                $scope.model_size = ($scope.model_size || "").substring(0, 100);
            });

            $scope.$watch('size_type_major', function(newVal, oldVal){
                $scope.measure_obj = {};
                $scope.size_list = {};
                $scope.select_all_size = false;
            });

            $scope.$watch('size_list', function(newVal, oldVal){
                var new_size_list = _.chain(newVal).values().compact().value(),
                      origin_size_list = _.chain(oldVal).values().compact().value(),
                      difference_size,
                      origin_size,
                      new_size;
                /*
                if(_.size(new_size_list) < $('input[type="checkbox"].check_size').length) {
                    $scope.select_all_size = false;
                } else if($('input[type="checkbox"].check_size').length) {
                    $scope.select_all_size = true;
                }
                */
                $scope.first_size = _.chain(newVal).values().first().value();

                if($scope.select_all_size){
                    if(_.size(new_size_list) > _.size(origin_size_list)){
                        difference_size = _.difference(new_size_list, origin_size_list);
                        _.each(difference_size, function(size){
                            $scope.measure_obj[size] = {
                                size_comment: '',
                                measure: {
                                    1: '',
                                    2: '',
                                    3: '',
                                    4: '',
                                    5: '',
                                    6: '',
                                    7: '',
                                    8: '',
                                    9: '',
                                    10: ''
                                }
                            }
                        });
                    } else if(_.size(new_size_list) < _.size(origin_size_list)){
                        difference_size = _.difference(origin_size_list, new_size_list);
                        _.each(difference_size, function(size){
                            delete $scope.measure_obj[difference_size];
                        });
                    } else {
                        origin_size = _.difference(origin_size_list, new_size_list);
                        new_size = _.difference(new_size_list, origin_size_list);

                        _.each(new_size, function(size, index){
                            $scope.measure_obj[size] = angular.copy(origin_size[index]);
                            delete $scope.measure_obj[origin_size[index]];
                        });
                    }
                } else {
                    if(_.size(new_size_list) > _.size(origin_size_list)){
                        difference_size = _.difference(new_size_list, origin_size_list)[0];
                        $scope.measure_obj[difference_size] = {
                            size_comment: '',
                            measure: {}
                        }
                    } else if(_.size(new_size_list) < _.size(origin_size_list)){
                        difference_size = _.difference(origin_size_list, new_size_list)[0];
                        delete $scope.measure_obj[difference_size];
                    } else {
                        origin_size = _.difference(origin_size_list, new_size_list)[0];
                        new_size = _.difference(new_size_list, origin_size_list)[0];

                        $scope.measure_obj[new_size] = angular.copy($scope.measure_obj[origin_size]);
                        delete $scope.measure_obj[origin_size];
                    }
                }
                angular.element('label.choiceSize:not(:first)').removeClass('active');
                $scope.stock_size = new_size_list[0];
            }, true);

            $scope.size_order = function(size_list){
                return _.sortBy(size_list, function(size){
                    return _.indexOf($scope.custom_size, size);
                });
            }

            $scope.size_selected = function(size){
                $scope.stock_size = size;
            }

            $scope.cross_size_with_color = function(){
                var origin_stocks = $scope.stocks;
                $scope.stocks = [];

                var size_list = _.chain($scope.size_list).values().compact().sortBy(function(size){
                    return _.indexOf($scope.custom_size, size);
                }).value();

                _.each(size_list, function(size){
                    _.each($scope.color_list, function(color, index){
                        if(!color){
                            return false;
                        }
                        var origin_stock = _.findWhere(origin_stocks, {size: size, color: color});
                        $scope.stocks.push({
                            size_type_major: $scope.size_type_aliases || $scope.size_type_major,
                            size: size,
                            color: color,
                            measure: _.isUndefined($scope.measure_obj[size])?{}:$scope.measure_obj[size].measure,
                            color_comment: $scope.color_comment_list[index],
                            number: _.isEmpty(origin_stock) ? 0 : origin_stock.number,
                            size_comment: _.isUndefined($scope.measure_obj[size])?'':$scope.measure_obj[size].size_comment
                        });
                    });
                });
            }

            $scope.checkSellPrice = function(e){
                var parent = angular.element(e.target).parents('div.form-group.upload-direction');
                if(parseInt($scope.product_sell_price) > parseInt($scope.product_original_price)){
                    parent.addClass('has-error');
                }
                else {
                    parent.removeClass('has-error');
                }
            }

            $scope.add_custom_size = function(e){
                e.preventDefault();
                $scope.custom_size.push('');
            }

            $scope.change_custom_size = function(index){
                $scope.size_list[index] = $scope.custom_size[index];
            }

            $scope.submit = function(e){
                $(window).unbind('beforeunload');
            }
        }]);
</script>
{% endblock %}
