{% extends 'template/sell_manage.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/assets/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">
<style>
.col-254 {
    padding-right: 10px;
    padding-top:65px;
}
.col-726{
    padding-right: 0;
}

.uploadtypebtn{
    border-radius: 5px;
    color: #bbb;
    width:200px;
    height: 100px;
    font-size: 22px;
    margin:10px 20px;
    padding: 35px;
}
</style>
{% endblock %}
{% block body %}
<div>
    <div class='col-254'>
        {% include '/buyer/sell_manage_sidebar.html.twig' %}       
    </div>
    <div class='col-726'>
        <h3>先選擇要上架的種類</h3>
        <div style="margin:30px;">
            <a href="/buyer/manage/clothings" class="btn btn-default uploadtypebtn">衣服</a>
            <a href="/buyer/manage/shoes"  class="btn btn-default uploadtypebtn">鞋子</a>
            <a href="/buyer/manage/bags"  class="btn btn-default uploadtypebtn">包包</a>
            <a href="/buyer/manage/accessories"  class="btn btn-default uploadtypebtn">配件</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){
    if(location.hash == "#success") {
        alert("上架成功！");
        location.hash = "";
    }
});
</script>
{% endblock %}