<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<form action="/closet/insert_follow" method="post">
		<input type="hidden" name="type" value="designers"/>
		<label>Enter designer's user_id</label><br/>
		<input type="text" name="user_id" id="user_id"/>
		<input type="submit" value="enter"/>
	</form>
</body>
<script type="text/javascript">
</script>
</html>