<!-- 個人訊息檢視 -->
{% extends 'template/clothing_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>

{% endblock %}

{% block main %}
<script src="/assets/javascript/bootstrap.js"></script>
<img class='banner-s' src="/assets/images/banner-s/about/intro.jpg">
<div class='row' id='pagerow'>
    <div class='col-254'>
        <div class='leftcol'>
            <p>我的信箱 / message</p>
                <p>
                    <a class='nav-a' href="#GetMore" data-toggle="tab"><button type="button" class="btn btn-primary btn-m">訊息夾</button></a>
                </p>
                <p>
                    <a href="/info/joinus"><button type="button" class="btn btn-primary btn-m">已寄出</button></a>
                </p>
        </div>
        <hr>
        <div class='contactus'><p> Contact us <br> service@getmore.cc </p> </div>
    </div>

    <div class='col-726'>
        <div class="tab-content article-line">
            <div class="tab-pane active rightcol" id="GetMore">
                   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="row margintop10" id="5">
                                <div class="msgfrom">
                                    <a href="/closet/view/9883"  target="_blank">
                                        <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                    </a>
                                    <a href="/closet/view/9883" target="_blank">溫博凱</a>
                                </div>
                                <div class="subject">
                                    <div class="msgbox">
                                        <p>
                                            <b style="font-size:15px;">破版也太嚴重了</b>
                                        <a style="margin-left:10px;font-size:10px;" href="/closet/post/9883" target="_blank">查看衣櫥</a>
                                        </p>
                                        <p style="line-height:1.5;">
                                            <a style="text-decoration:none; font-weight:400; color:gray;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。
                                            </a>
                                        </p>
                                    </div>
                                    <div class="msgtime">2014-11-25 00:00</div>
                                </div>
                           </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                             <div class="replypost">
                                <form method="POST" enctype="multipart/form-data" action="/api/posts/new_message" class="form-horizontal">
                                  <div>
                                    <textarea name="content" class="form-control" rows="3"></textarea>
                                    <input type="hidden" value="<?=$post['id']?>" name="post_id">
                                      <div>
                                        <div class="margintop10 marginbottom20">
                                          <button type="submit" class="btn btn-default btn-xs">回覆訊息</button>
                                        </div>
                                      </div>
                                  </div>
                                </form>
                            </div>

                              <div class="row margintop10" id="5">
                                <div class="msgfrom">
                                    <a href="/closet/view/9883"  target="_blank">
                                        <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                    </a>
                                    <a href="/closet/view/9883" target="_blank">溫博凱</a>
                                </div>
                                <div class="subject">
                                    <div class="msgbox">
                                        <p>
                                            <b style="font-size:15px;">破版也太嚴重了</b>
                                        <a style="margin-left:10px;font-size:10px;" href="/closet/post/9883" target="_blank">查看衣櫥</a>
                                        </p>
                                        <p style="line-height:1.5;">
                                            <a style="text-decoration:none; font-weight:400; color:gray;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                            研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。研究一下，研究一下看看，這是留言的測試。
                                            </a>
                                        </p>
                                    </div>
                                    <div class="msgtime">2014-11-25 00:00</div>
                                </div>
                           </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                            <div class="reply">
                                <img class="avatar" src="http://beta.getmore.cc/upload/thumbs/165_165_2d2f27cb2b6e53ea11ea8564836e477f.jpg">
                                <div class="replysubject">
                                    <p style="line-height:1.5; font-size:13px; color:#444;">
                                        這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。這是回覆的內容。
                                    </p>
                                    <div class="msgtime">2014-11-25 00:00:35</div>
                                </div>
                            </div>

                             <div class="replypost">
                                <form method="POST" enctype="multipart/form-data" action="/api/posts/new_message" class="form-horizontal">
                                  <div>
                                    <textarea name="content" class="form-control" rows="3"></textarea>
                                    <input type="hidden" value="<?=$post['id']?>" name="post_id">
                                      <div>
                                        <div class="margintop10 marginbottom20">
                                          <button type="submit" class="btn btn-default btn-xs">回覆訊息</button>
                                        </div>
                                      </div>
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Collapsible Group Item #3
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                    </div>

<!--
    <div getmore-post id='message_post'>
    <? foreach ($postslist as $post): ?>
        <div class="row" id="<?=$post['id']?>">
            <div class="msgfrom">
                <a href="/closet/view/<?=$post['user_id']+9881;?>" class="avatar" target="_blank">
                    <img src="<?=$post['profile_pic_url']?>">
                </a>
                <a href="/closet/view/<?=$post['user_id']+9881;?>" target="_blank"><?=$post['user_name']?></a>
            </div>
            <div class="subject">
                <div class="msgbox">
                <p>
                    <b><?=$post['title']?></b>
                    <? if($post['product_id']): ?>
                    <a style="margin-left:10px;font-size:10px;" href="/clothing/view/<?=$post['product_id']?>" target="_blank">查看商品</a>
                    <? elseif($post['url_code']):?>
                    <a style="margin-left:10px;font-size:10px;" href="/closet/post/<?=$post['url_code']?>" target="_blank">查看衣櫥</a>
                    <? endif;?>
                </p>
                    <p><?=$post['content']?></p>
                </div>
                <div class="created"><?=$post['created_time']?></div>
                <a class="delete" mid="<?=$post['id']?>" role="receiver">×</a>
                <hr>
                <div class="hidable">
                    <?if($post['last_message']):?>
                    <div class="readmore_messages" data-post_id=<?=$post['id']?>>看其他留言</div>
                    <div class="messages">
                        <div class="reply clr">
                            <img class="avatar" src="<?=$post['last_message'][0]['profile_pic_url'];?>">
                            <div class="subject">
                                <p class="text"><?=$post['last_message'][0]['content']?></p>
                                <div class="created"><?=$post['last_message'][0]['created_time']?></div>
                            </div>
                        </div>
                    </div>
                    <?endif;?>
                    <div class="wrap">
                        <form method="POST" enctype="multipart/form-data" action="/api/posts/new_message" class="form-horizontal">
                          <div>
                            <textarea name="content" class="form-control" rows="3"></textarea>
                            <input type="hidden" value="<?=$post['id']?>" name="post_id">
                              <div>
                                <div class="margintop10 marginbottom20">
                                  <button type="submit" class="btn btn-default">回覆訊息</button>
                                </div>
                              </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <? endforeach; ?>
    </div>
    <script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js">
    </script>
    <?php if (empty($postslist)): ?>
    <div class='alert alert-info'>您尚未收到任何訊息喔！</div>
    <?php endif; ?>
    <div style='clear: both;'></div>





                      </div>

                    </div>
                  </div>
                </div>
                     <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fgetmore.cc&amp;width=980&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=207910605914306" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:980px; height:258px;" allowTransparency="true"></iframe>
-->
<script>
    $(document).ready(function(){
        var hash = window.location.hash;
        hash && $('.nav-a[href="' + hash + '"]').tab('show');

        $('.nav-a').click(function (e) {
          $(this).tab('show');
          var scrollmem = $('body').scrollTop();
          window.location.hash = this.hash;
          $('html,body').scrollTop(scrollmem);

        });
    });
</script>






<div class='fresh-box'>
    <div getmore-post>
    <? foreach ($postslist as $post): ?>
        <div class="row clr " id="<?=$post['id']?>">
            <span class="replied"></span>
            <div class="from">
                <a href="/closet/view/<?=$post['user_id']+9881;?>" class="avatar" target="_blank">
                    <img src="<?=$post['profile_pic_url']?>">
                </a>
                <a href="/closet/view/<?=$post['user_id']+9881;?>" target="_blank"><?=$post['user_name']?></a>
            </div>
            <div class="subject">
                <div class="line">
                    <b><?=$post['title']?></b>
                    <? if($post['product_id']): ?>
                    <a style="margin-left:10px;font-size:10px;" href="/clothing/view/<?=$post['product_id']?>" target="_blank">查看商品</a> 
                    <? elseif($post['url_code']):?>
                    <a style="margin-left:10px;font-size:10px;" href="/closet/post/<?=$post['url_code']?>" target="_blank">查看衣櫥</a>
                    <? endif;?>
                </div>
                <p class="description magictext"><?=$post['content']?></p>
                <div class="created"><?=$post['created_time']?></div>
                <a class="delete" mid="<?=$post['id']?>" role="receiver">×</a>
                <div class="hidable">
                    <?if($post['last_message']):?>
                    <div class="readmore_messages" data-post_id=<?=$post['id']?>>看其他留言</div>
                    <div class="messages">
                        <div class="reply clr">
                            <img class="avatar" src="<?=$post['last_message'][0]['profile_pic_url'];?>">
                            <div class="subject">
                                <p class="text magictext"><?=$post['last_message'][0]['content']?></p>
                                <div class="created"><?=$post['last_message'][0]['created_time']?></div>
                            </div>
                        </div>
                    </div>
                    <?endif;?>
                    <div class="wrap">
                        <form method="POST" enctype="multipart/form-data" action="/api/posts/new_message" class="message">
                            <textarea name="content"></textarea>
                            <input type="hidden" value="<?=$post['id']?>" name="post_id">
                            <div class="action clr">
                                <!-- <div class="file"> 附加圖片或檔案 <input name="file" type="file"></div> -->
                                <input type="submit" value="回覆訊息">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <? endforeach; ?>
    </div>
    <script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js">
    </script>
    {% if postslist is empty %}
    <div class='alert alert-info'>您尚未收到任何訊息喔！</div>
    {% endif %}
    <div style='clear: both;'></div>    
</div>
{% endblock %}