{% extends 'template/clothing_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>

{% endblock %}

{% block main %}  <div class="main">
        

<div class="closet-top">
        <div class="closet-profile-photo">
            <div style="width: 165px; height: 165px; overflow: hidden;">
                <img style="width: 165px;" src="http://s3.getmore.cc/profile/2/small.jpg">
            </div>
                    </div>
        
        <div class="closet-profile-title">
            <div>
                Founder<!--            -->            
            </div>
        </div>
        <div class="closet-profile-description">
            <div>
                <p>Founder closet</p> <!--   -->
            </div>
        </div>
<!--        <div class="follower_count" style="position: absolute;top: 0;right: 0;">
          有1人關注
        </div>
-->
  <div class="closet-share-button">
                                            <div class="btn-group">
          <a target="_self" href="/closet/follow/9883">
            <button class="btn btn-primary">
              追蹤
            </button>
          </a>
        </div>
                            <div class="btn-group">
        <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://beta.getmore.cc/closet/view/winner">
          <button class="btn btn-primary">
            分享
          </button>
        </a>        


                <a data-toggle="modal" href="#logInModal"><button type="button" class="btn btn-primary btn-m">留言</button></a>
        
         

                
        </div>
  </div>
</div> <!--END closet-top-->
        <!-- 衣櫃bar-->
    <div class="closetbar">
        <ul id="closetnav">
          <li class="rel_btn" id="rel_follow">追蹤: <span>2</span></li>
          <li class="rel_btn" id="rel_follower">粉絲: <span>1</span></li>
          <li>減少CO2排放: <span>36.00 kg</span></li>
          <!-- <li class="views">衣櫃瀏覽次: <span>267</span></li> -->
        </ul>
    </div>



<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>


<div class="closet-nav-box">
    <ul class="nav nav-tabs">
        <li class="closet-li-view active"><a href="/closet/view/winner">品牌代售衣櫃</a></li>
        <li class="closet-li-view "><a href="/closet/marketplace/winner">狂熱市集衣櫃</a></li>
                            </ul>
</div> 
    <script>
        $(document).ready(function(){
            $('.closet-profile-photo').hover(function(){
                console.log('in');
                $('.closet-profile-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-photo button').hide();
            });
            
            $('.closet-banner-photo').hover(function(){
                console.log('in');
                $('.closet-banner-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-banner-photo button').hide();
            });
            
            $('.closet-profile-title').hover(function(){
                console.log('in');
                $('.closet-profile-title button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-title button').hide();
            });

            $('.closet-profile-description').hover(function(){
                console.log('in');
                $('.closet-profile-description button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-description button').hide();
            });
            

            // initialize the jquery form plugin for sending ajax with input file
            $('#banner-photo-file').parent().ajaxForm(function(res) { 
                var item = $.parseJSON(res).upload_data;
                console.log(item);
                var params = { file_id: item.id, photo_type: 'banner' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#banner-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            // initialize the jquery form plugin for sending ajax with input file
            $('#profile-photo-file').parent().ajaxForm(function(res) {
                var file_id = $.parseJSON(res);
                console.log(file_id);
                var params = { file_id: file_id, photo_type: 'profile' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#profile-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            
        });
        
        function post_to_url(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }    
</script>

    <div class="modal fade" id="edit-title-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">編輯標題</h4>
          </div>
          <div class="modal-body">
            <div class="modal-center">
                <form action="/closet/change_text" method="post">
                    <input type="hidden" name="type" value="title">
                    <input type="text" class="form-control" name="content" maxlength="16" value="Founder">
                    <input type="submit" class="btn btn-primary" value="確定">
                </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="edit-description-modal">
      <div class="modal-dialog" style="width:720px;">
        <div class="modal-content" style="height:500px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">編輯敘述</h4>
          </div>
          <div class="modal-body" style="padding-top:40px;">
            <div class="modal-center marginbottom30" style="height:110px;">
                <p>為您的衣櫃取一個標題，可以是暱稱或是一個吸引人的名字，限定16個字內。</p>
                <form action="/closet/change_text" method="post" style="width:340px; height:28px;">
                    <input type="hidden" name="type" value="title">
                    <input type="text" class="form-control" name="content" maxlength="16" value="Founder"><br>
                    <input type="submit" class="btn btn-primary" value="確定修改標題">
                </form>
            </div>
            <div class="modal-center">
                <p>為您的衣櫃寫下一段敘述，可以是個人風格或是二手衣搭配理念，4行以內，輸入框大小即是顯示大小。</p>
                <form action="/closet/change_text" method="post" style="width:600px; height:78px;">
                    <input type="hidden" name="type" value="description">
                    <textarea name="content" class="form-control" rows="3" maxlength="158" style="width:560px; height:104px;">Founder closet</textarea><br>
                    <input type="submit" class="btn btn-primary" value="確定修改簡介">
                </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<style>
#select-lock-status{
  width: 200px;
}
</style>

<div class='fresh-box'>
    <!-- post -->
    <div getmore-post>
      {% for post in postslist %}
          <div class="row clr " id="{{ post['id'] }}" >
              <span class="replied"></span>
              <div class="from">
                  <a href="/closet/view/{{ post['user_id']+9881 }}" class="avatar" target="_blank">
                      <img src="{{ post['profile_pic_url'] }}">
                  </a>
                  <a href="/closet/view/{{ post['user_id']+9881 }}" target="_blank">{{ post['user_name'] }}</a>
              </div>
              <div class="subject">
                  <div class="line">
                      <b>{{ post['title'] }}</b>
                      {% if post['product_id'] %}
                      <a style="margin-left:10px;font-size:10px;" href="/clothing/view/{{ post['product_id'] }}" target="_blank">查看商品</a> 
                      {% elseif post['url_code'] %}
                      <a style="margin-left:10px;font-size:10px;" href="/closet/view/{{ post['url_code'] }}" target="_blank">查看衣櫥</a>
                      {% endif %}
                  </div>
                  <p class="description magictext">{{ post['content'] }}</p>
                  <div class="created">{{ post['created_time'] }}</div>
                  <a class="delete" mid="{{ post['id'] }}" role="receiver">×</a>
                  <div class="hidable">
                  {% if post['last_message'] %}
                      <div class="readmore_messages" data-post_id={{ post['id'] }}>看其他留言</div>
                      <div class="messages">
                        <div class="reply clr">
                            <img class="avatar" src="{{ post['last_message'][0]['profile_pic_url'] }}">
                            <div class="subject">
                                <p class="text magictext">{{ post['last_message'][0]['content'] }}</p>
                                <div class="created">{{ post['last_message'][0]['created_time'] }}</div>
                            </div>
                        </div>
                      </div>
                  {% endif %}
                  </div>
              </div>
          </div>
      {% endfor %}
      {% if has_login %}
      <form method="POST" enctype="multipart/form-data" action="/api/posts/new_post" class="post">
        <div>
          <label>關於</label>
          <input type="text" name="title">
        </div>
        <div>
          <label>訊息內容</label>
          <textarea name="content" rows="7"></textarea>
        </div>
        <input type="hidden" name="url_code" value="<?=$closet['url_code'];?>">
        <input type="hidden" name="owner_id" value="<?=$closet['user_id'];?>">
        <div>
          <input type="reset" value="取消">
          <input type="submit" value="送出">
        </div>
      </form>
      {% else %}
      <div>請先登入才能留言喔！</div>
      {% endif %}
    </div>
    <script type="text/javascript" src="/assets/javascript/grassshrimp/posts.js">
    </script>
    <div style='clear: both;'></div>    
</div>
{% endblock %}