<html>
<head>
    <meta property="fb:app_id" content="239678122794926">
    <meta property="og:url" content="{{ current_url() }}">
    <meta property="og:image" content="{{ closet['profile_pic_url'] }}">
    <meta property="og:title" content="{{ site_title }}">
    <meta property="og:description" content="{{ site_description }}">
    <meta http-equiv="refresh" content="0; URL='/closet/tabs/{{ url_code ~ hash }}'" />
</head>
</html>