{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
<meta property="og:title" content="{{ closet['title'] }} 的衣櫃 | Getmore 時尚二手"/>
<meta property="og:description" content="快來逛逛我在Getmore的衣櫃！每件商品只有一件，獨一無二。| Getmore 新銳設計與二手時尚線上市集" />
<meta property="og:image" content="http://s3.getmore.cc/clothing/{{ items[0].files[0] }}/medium.jpg">
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
<script src="/assets/javascript/howtomakeaturn/jquery.form.min.js"></script>
<script src="/assets/javascript/jquery.sortable.min.js"></script>
<script src="/assets/javascript/jquery.jrumble.1.3.min.js"></script>
{% endblock %}
{% block main %}
<div class="main">
<div class='closet-top'>
        <div class='closet-profile-photo'>
            <div style='width: 165px; height: 165px; overflow: hidden;'>
                <img style='width: 165px;' src='{{ closet['profile_pic_url'] }}' />
            </div>
            {% if is_owner %}
                <button class='btn' onclick='$("#profile-photo-file").click();'>更換照片</button>
                <form action='/restful/closet/file/{{ closet['user_id'] }}' method='POST' enctype="multipart/form-data">
                    <input type='hidden' name='type' value='profile' />
                    <input type='file' name='userfile' id='profile-photo-file' style='display: none;' />
                </form>
            {% endif %}
        </div>
        
        <div class='closet-profile-title'>
            <div>
                {{ closet['title'] }}
<!--            <?php //if ($is_owner): ?>
                    <button class='btn btn-xs' style='display: none;' onclick="$('#edit-title-modal').modal('show');">編輯</button>
                <?php //endif; ?>
-->            
            </div>
        </div>
        <div class='closet-profile-description'>
            <div>
                {{ closet['description_tag'] }}
 <!--   <?php //if ($is_owner): ?>            
             <button class='btn btn-xs' style='display: none;' onclick="$('#edit-description-modal').modal('show');">編輯</button>
        <?php //endif; ?>
-->
            </div>
        </div>
<!--        <div class="follower_count" style="position: absolute;top: 0;right: 0;">
          有<?= //$closet['follower_count'];?>人關注
        </div>
-->
  <div class="closet-share-button">
        {% if is_owner %}
        <div class="btn-group">
        <a data-toggle="modal" href="#edit-description-modal">
          <button class='btn btn-primary'>編輯敘述</button>
        </a>
        </div>
        {% endif %}
        {#{% if uri[1] == 'view' or uri[1] == 'marketplace' %}#}
          {% if not is_owner %}
            {% if closet['had_followed'] %}
        <div class="btn-group">
          <a target='_self' href='/closet/disfollow/{{ closet['user_id']+9881 }}'>
            <button class="btn btn-default">
              取消追蹤
            </button>
          </a>
        </div>
            {% else %}
        <div class="btn-group">
          <a target='_self' href='/closet/follow/{{ closet['user_id']+9881 }}'>
            <button class="btn btn-primary">
              追蹤
            </button>
          </a>
        </div>
            {% endif %}
          {% endif %}
        <div class="btn-group">
        <a target='_blank' href='http://www.facebook.com/sharer.php?u={{ current_url() }}'>
          <button class='btn btn-primary'>
            分享
          </button>
        </a>        


        {% if not session.user_id %}
        <a data-toggle="modal" href="#logInModal"><button type="button" class="btn btn-primary btn-m">留言</button></a>
        {% endif %}

        {% if session.user_id and not is_owner %}
        {{ post_user_message_modal_for_layout_without_link_bootstrap(closet['user_id'], current_url()) }}

        <a data-toggle="modal" href="#userpostmsg"><button type="button" class="btn btn-primary btn-m">留言</button></a>
        <script>
          $('#post_submit').click(function(event){
            event.preventDefault();
            var actionUrl = "/restful/post";

            var tempData, i , tempReceiver;
            tempReceiver = $( '#owner_id' ).val();
            //$( '#receiver' ).val( "999" );
            var tempData = $( '#message_post' ).serialize();

//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// check content
   var message_title = ($('#message_title').val()).replace(/\s/gm,'');
   var message_content = ($('#message_content').val()).replace(/\s/gm,'');
   document.getElementById("message_title").style.background = ( message_title == "" ) ? "#FFFFCC" : "#FFFFFF";
   document.getElementById("message_content").style.background = ( message_content == "" ) ? "#FFFFCC" : "#FFFFFF";

   var alert_message = "系統偵測到可能是私下交易的文字。為了交易安全以及平台的權益，嚴禁私下交易喔！";
   var re = /[0-9]{6,}|電話|私下交易|面交|手續費|[零一二三四五六七八九]{6,}|[零壹貳參肆伍陸柒捌玖]{6,}|直接跟你買|直接聯絡|傳真|e[-]{0,1}mail|E[-]{0,1}mail|Line|line|一手交錢一手交貨|歡迎來店選購/;
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }

   re =/^([a-z0-9_\.-]+\@[\da-z\.-]+\.[a-z\.]{2,6})$/gm; // mail
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

            var formData;
                formData = new FormData(document.getElementById("message_post"));

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    dataType: 'json'
                }).done(function(post){
                    formData.append("post_id", post['_id']);

                    $.ajax({
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: "/restful/post/message",
                        data: formData,
                        dataType: 'json'
                    }).done(function(post){
                        $.ajax({
                            type: 'POST',
                            url: '/post/change_message_value',
                            data: {post_id: post['post_id'], read: 'true'},
                            dataType: 'json'
                         });
                        console.log("success");
                        location.reload();
                        // form.reset();
                        // var html = message_template(post);
                        // $(form).before(html);
                    }).fail(function(error){
                        console.log(error);
                    });

                    console.log();
                }).error(function(){
                    console.log("error");
                });
          });
        </script>
        {% endif %}
        </div>
  </div>
</div> <!--END closet-top-->



        <!-- 衣櫃bar-->
    <div class="closetbar">
        <ul id="closetnav">
          <li class="rel_btn" id="rel_follow">追蹤: <span>{{ closet['follow_count'] }}</span></li>
          <li class="rel_btn" id="rel_follower">粉絲: <span>{{ closet['follower_count'] }}</span></li>
          <li id="co2_amount">減少CO2排放: <span></span></li>
          <!-- <li class="views">衣櫃瀏覽次: <span><?= $closet['view_count']; ?></span></li> -->
        </ul>
    </div>

<div class='closet-nav-box'>
    <ul id='maintabs' class="nav nav-tabs">
        <li class='closet-li-view'>
        <a data-target='#view' data-toggle='tab' href='#view'>品牌代售衣櫃</a></li>
        <li class='closet-li-view'>
        <a data-target='#marketplace' data-toggle='tab' href='#marketplace'>狂熱市集衣櫃</a></li>
      {% if is_owner %}
          <li class='closet-li-favorite'>
          <a data-target='#my_favorite' data-toggle='tab' href='#my_favorite'>我的欲望清單</a></li>
      {% endif %}
      {% if is_owner %}
          <li class='close-li-advertise'>
          <a data-target='#advertise' data-toggle='tab' href='#advertise'>宣傳我的衣櫥</a></li>
      {% endif %}
      {% if is_owner %}
          <li class='closet-li-followlist'>
          <a data-target='#followlist' data-toggle='tab' href='#followlist'>我的關注對象</a></li>
      {% endif %}
      {% if is_owner %}
          <li class='closet-li-history'>
          <a data-target='#history' data-toggle='tab' href='#history'>購買紀錄</a></li>
      {% endif %}
      {% if is_owner %}
          <li class='closet-li-rating'>
          <a data-target='#rating_history' data-toggle='tab' href='#rating_history'>已給的評價</a></li>
      {% endif %}
      {% if is_owner %}
          <li class='closet-li-rated'>
          <a data-target='#rated_history' data-toggle='tab' href='#rated_history'>被給的評價</a></li>
      {% endif %}

    </ul>
</div>
<script>
        $(document).ready(function(){
            $('.closet-profile-photo').hover(function(){
                console.log('in');
                $('.closet-profile-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-photo button').hide();
            });
            
            $('.closet-banner-photo').hover(function(){
                console.log('in');
                $('.closet-banner-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-banner-photo button').hide();
            });
            
            $('.closet-profile-title').hover(function(){
                console.log('in');
                $('.closet-profile-title button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-title button').hide();
            });

            $('.closet-profile-description').hover(function(){
                console.log('in');
                $('.closet-profile-description button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-description button').hide();
            });
            

            // initialize the jquery form plugin for sending ajax with input file
            $('#banner-photo-file').parent().ajaxForm(function(res) { 
                var item = $.parseJSON(res).upload_data;
                console.log(item);
                var params = { file_id: item.id, photo_type: 'banner' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#banner-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            // initialize the jquery form plugin for sending ajax with input file
            $('#profile-photo-file').parent().ajaxForm(function(res) {
                var file_id = $.parseJSON(res);
                console.log(file_id);
                var params = { file_id: file_id, photo_type: 'profile' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#profile-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            
        });
        
        function post_to_url(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }    
</script>

<div class="modal fade" id='edit-title-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">編輯標題</h4>
      </div>
      <div class="modal-body">
        <div class="modal-center">
          <form action='/closet/change_text' method='post'>
              <input type='hidden' name='type' value='title' />
              <input type='text' class='form-control' name='content' maxlength='16' value='{{ closet['title'] }}' />
              <input type='submit' class='btn btn-primary' value='確定' />
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='edit-description-modal'>
  <div class="modal-dialog" style="width:720px;">
    <div class="modal-content" style="height:500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">編輯敘述</h4>
      </div>
      <div class="modal-body" style="padding-top:40px;">
        <div class="modal-center marginbottom30" style="height:110px;">
          <p>為您的衣櫃取一個標題，可以是暱稱或是一個吸引人的名字，限定16個字內。</p>
            <form action='/closet/change_text' method='post' style="width:340px; height:28px;">
              <input type='hidden' name='type' value='title' />
              <input type='text' class='form-control' name='content' maxlength='16' value='{{ closet['title'] }}' /><br>
              <input type='submit' class='btn btn-primary' value='確定修改標題' />
            </form>
        </div>
        <div class="modal-center">
          <p>為您的衣櫃寫下一段敘述，可以是個人風格或是二手衣搭配理念，4行以內，輸入框大小即是顯示大小。</p>
            <form action='/closet/change_text' method='post' style="width:600px; height:78px;">
              <input type='hidden' name='type' value='description' />
              <textarea name='content' class='form-control' rows='3' maxlength="158" style="width:560px; height:104px;">{{ closet['description'] }}</textarea><br>
              <input type='submit' class='btn btn-primary' value='確定修改簡介' />
            </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End of closet-bar -->
<style>
#select-lock-status{
  width: 200px;
}
</style>
<div class='fresh-box'>
  <div style="overflow:auto; padding-right: 10px;">
    {% if is_owner %}
    <select id="select-lock-status" class="form-control pull-right">
      <option value="0" selected="selected">銷售中</option>
      <option value="2">已售出</option>
      <option value="3+4">準備上架中</option>
      <option value="5">已下架</option>
      <option value="-1">全部</option>
    </select>
    {% else %}
    <select id="select-lock-status" class="form-control pull-right">
      <option value="0" selected="selected">銷售中</option>
      <option value="2">已售出</option>
      <option value="-1">全部</option>
    </select>
    {% endif %}
  </div>
  </br>
  
  <div class='tab-content'>
    <div class='tab-pane' id='view'>
      <div class='alert alert-info zero-select'>這個選項中還沒有衣服喔！</div>
      <div id='view_content'>
      </div>
    </div>
    <div class='tab-pane' id='marketplace'>
      <div class='alert alert-info zero-select'>這個選項中還沒有衣服喔！</div>
      <div id='marketplace_content'>
      </div>
    </div>
    <div class='tab-pane' id='my_favorite'>
      <div class='alert alert-info zero-select'>這個選項中還沒有衣服喔！</div>
      <div id='my_favorite_content'>
      </div>
    </div>
    <div class="tab-pane" id="history">
      <div class='alert alert-info zero-select'>您還沒有購買紀錄喔！</div>
      <div id='history_content'>
      </div>
    </div>    
    <div class="tab-pane" id="rating_history">
      <div class='alert alert-info zero-select'>您還沒有評價紀錄喔！</div>
      <div id='rating_history_content'>
      </div>
    </div>
    <div class="tab-pane" id="rated_history">
      <div class='alert alert-info zero-select'>您還沒有被評價紀錄喔！</div>
      <div id='rated_history_content'>
      </div>
    </div>
    <div class='tab-pane' id='advertise'>
      {% set url_advertise = site_url('/closet/redir/' ~ closet['url_code']) ~ '/view' %}
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="advertise-type" value="view"/> View
        </label> 
        <label class="btn btn-primary">
          <input type="radio" name="advertise-type" value="marketplace"/> Marketplace
        </label> 
      </div>
      <div id="advertise_content">
        <div class="col-md-7">
          <h4 class='marginbottom20 getmoregreen'>方法1.透過facebook宣傳</h4>
          <a target='_blank' href='http://www.facebook.com/sharer.php?u={{ url_advertise }}' id="advertise_url"><img src="/assets/images/fb_button.png"></a><a class='btn btn-primary fbsharebtn' target='_blank' 
              href='http://www.facebook.com/sharer.php?u={{ url_advertise }}' id="advertise_url">
            分享衣櫃給FB上的朋友
        </a>
        </div>
        <div class="col-md-11"><hr></div>
        <div class="col-md-7">
          <h4 class='marginbottom20 getmoregreen'>方法2.Email給朋友</h4>
          <form role="form" action='/closet/invite_friends' method='post' id="form_advertise">
            <div class="form-group">
              <label>寄件人名稱</label>
              <input type="text" name='sender' class="form-control" placeholder="告訴朋友你是誰，未輸入則是預設的暱稱">
              <input type="hidden" name="url_code" value="{{ url_code }}">
              <input type="hidden" name="hash" value="#view">
            </div>

  <div class="form-group">
    <label>好友email</label>
    <input type="text" name='receiver' class="form-control" placeholder="若有多個收件人，請以逗號「,」隔開" required>
  </div>

  <div class="form-group">
    <label>主旨</label>
    <input type="text" name='title' class="form-control" value="來逛逛我在GetMore衣櫃吧！" required>
  </div>

  <div class="form-group">
    <label>內容</label>
    <textarea name='content' class='form-control' rows=10 placeholder="這是我在GetMore的衣櫃，快來來逛逛，有問題可以發問喔！" required></textarea>
    <p class="help-block">系統會自動帶入衣櫃網址，您不需要複製貼上</p>
  </div>

  <button type="submit" class="btn btn-default">送出</button>
</form>
</div>

<div class="col-md-11"><hr></div>
<div class="col-md-7">
    <h4 class='marginbottom20 getmoregreen'>方法3.我的衣櫃小貼紙</h4>
    <a target='_blank' href='{{ url_advertise }}' id="advertise_url"><img src={{ site_url('/assets/images/closet/sticker.png') }} /></a>
    <p class="help-block  marginbottom20">（245 x 142）</p>
    <p>在你的部落格加入衣櫃小貼紙，可以增加衣櫃的人氣喔！</p>
    <textarea rows="4" class='form-control' id="advertise_url">
    <a target='_blank' href='{{ url_advertise }}'><img src={{ site_url('/assets/images/closet/sticker.png') }} /></a>
    </textarea>
    <p class="help-block">（貼紙程式碼）</p>
</div>
    </div>
    </div>
    <div class='tab-pane' id='followlist'>
      <div id='followlist_content'>
      </div>
    </div>
  </div>
  <div style='clear: both;'>
  </div>    
</div>
</div>
<style>
  .dsnershop-left{
    float:left;
    padding: 30px 20px 20px;
    width: 270px;
    //border-right: 1px solid #ddd;
    min-height: 900px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsnershop-right{
    float: left;
    padding: 30px 0 20px 10px;
    width: 730px;
  }
  .likeslideup{
    background-color: rgba( 254, 254,254, 0.6);
    height: 70px;
    bottom: 95px;
    width: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    display: none;
    overflow: auto;
  }
  .likeslideupcontent{
    float:right;
    margin-top:10px;
    margin-right:40px;
    color:#000;
    text-align:center
  }
  .likeslideupcontent:hover{
    color: #fff;
  }

</style>
<!-- AJAX and Bootstrap tabs control block -->
<script type="text/javascript">
  function updateInformation(hash){
    switch(window.location.hash){
      case '#advertise':
      case '#followlist':
      case '#my_favorite':
        $('#co2_amount').hide();
        break;
      default:
        $('#co2_amount').show();
    }
    $('#select-lock-status').hide();
    var data={
      user_id: {{ closet['user_id'] }},
      current_hash: hash,
    };
    $.ajax({
      type: 'POST',
      url: '/closet/update_information',
      data: data,
      dataType: 'json',
      success: function(res){
        //console.log(response['items_html']);
        var $tmp=$(hash.concat('_content'));
        switch(hash){
          case '#view':
          case '#marketplace':
              $('#co2_amount > span').html(res['co2_amount']);
          case '#my_favorite':console.log(res);//return false;
            if(res['is_empty']==1){//console.log('0');
              $tmp.html(res['empty_msg']);
              $('#select-lock-status').hide();
              $('.zero-select').hide();
            }
            else{
              $tmp.html(res['items_html']);
              if($(".lock-status-0").length == 0){
                $('option[value="0"]').hide();
                $('option[value="-1"]').attr('selected', 'selected');
              }
              if($(".lock-status-2").length == 0){
                $('option[value="2"]').hide();
              }
              if($(".lock-status-4, .lock-status-3").length == 0){
                $('option[value="3+4"]').hide();
              }
              if($(".lock-status-5").length == 0){
                $('option[value="5"]').hide();
              }
              $('#select-lock-status').show();
              $('#select-lock-status').trigger('change');
            }
          case '#advertise':
            //$('#select-lock-status').hide();
            $tmp.before(res['advertise_message']);
            break;
          case '#followlist':
            $tmp.html(res['followlist_html']);
            break;
          case '#history':
            var result = "";
            var history = JSON.parse(res['history']);
            $.each(history, function(index, item) {
              var img = '';
              if (item.files)
              img = item.files[0];
              result += '<div class="fresh-product-view" style="width:150px;height:280px;position:relative; ">\
                          <a href="/clothing/brandsonly/' + item['id'] + '" target="_blank" id="productBox">\
                            <img src="http://s3.getmore.cc/clothing/' + img + '/medium.jpg" style="width:150px; margin-bottom:10px;"></a>\
                            <div class="fresh-product-title" style="width:150px;">' + item['product_title'] + '</div>\
                            <div class="fresh-product-price" style="overflow:hidden;width:150px;">\
                              <span class="fresh-product-sale" >NT$ ' + item.product_sell_price + '</span>\
                            </div>';
              if (item['rating']) {
                result += '<div class="put-review-btn" style="text-align: center">已評價</div>\
                          </div>';
              } else {
                result += '<button class="btn btn-default put-review-btn" data-toggle="modal" data-target="#ratingModal" id="#ratingButton" onclick="changeModalId(\'' + item['product_item_number'] + '\' , ' + item['user_id'] + ')">給評價</button>\
                          </div>'; 
              }
            });
            $tmp.html(result);
            break;
            case '#rating_history':
              var result = "<table class='table' style='color:#777;'><thead><tr><td>評價等級</td><td>評價內容</td><td>商品內容</td><td>評價時間</td></tr></thead><tbody>";
              var history = JSON.parse(res['rating_history']);
              $.each(history, function(index, item) {
                result += "<tr><td>";
                for (var i = item.rating - 1; i >= 0; i--) {
                  result += '<i class="fa fa-heart" style="color:#ff3366"></i> ';
                };
                if (item['photo'] != 'empty')
                  result +="</td><td>" + item['comment'] + "<div><img src='http://s3.getmore.cc/rating/" + item['photo'] + "/medium.jpg'/ width='280px' style='margin:20px 0;'></div></td>";
                else
                  result +="</td><td>" + item['comment'] + "</td>";
                result += "<td><a href='/clothing/brandsonly/" + item["product_id"] + "' target='_blank'><img src='http://s3.getmore.cc/clothing/" + item['product_file'] + "/medium.jpg' width='100px' style='margin-top:20px;'/></a></td>";
                result += "<td>" + item["record_time"] + "</td>";
                result += "</tr>";
              });
              result += "</tbody></table>";
              $tmp.html(result);
              break;
            case '#rated_history':
              var result = "<table class='table' style='color:#777;'><thead><tr><td>評價等級</td><td>評價內容</td><td>商品內容</td><td>評價時間</td></tr></thead><tbody>";
              var history = JSON.parse(res['rated_history']);
              $.each(history, function(index, item) {
                result += "<tr><td>";
                for (var i = item.rating - 1; i >= 0; i--) {
                  result += '<i class="fa fa-heart" style="color:#ff3366"></i> ';
                };
                if (item['photo'] != 'empty')
                  result +="</td><td>" + item['comment'] + "<div><img src='http://s3.getmore.cc/rating/" + item['photo'] + "/medium.jpg'/ width='280px' style='margin:20px 0;'></div></td>";
                else
                  result +="</td><td>" + item['comment'] + "</td>";
                result += "<td><a href='/clothing/brandsonly/" + item["product_id"] + "' target='_blank'><img src='http://s3.getmore.cc/clothing/" + item['product_file'] + "/medium.jpg' width='100px' style='margin-top:20px;'/></a></td>";
                result += "<td>" + item["record_time"] + "</td>";
                result += "</tr>";
              });
              result += "</tbody></table>";
              $tmp.html(result);
              break;
        }
        $('.like_tag').hide();
        $tmp.trigger('ajaxLoadFinish');
      }
    });
  }
$(document).ready(function(){
  var hash = (window.location.hash==''?'#view':window.location.hash);
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');
  updateInformation(hash);
  $('input[name=advertise-type]').on('change', function(){
    var str=$(this).val();console.log(str);
    var rep_str=/[a-z]+$/;
    //console.log(str);
    $('#advertise_content input[name="hash"]').attr('value', str);
    //console.log($('#advertise-content input[name="hash"]').attr('value'));
    $('#advertise_content #advertise_url').each(function(){
      if($(this).is('textarea')){
        //console.log('hi');
        $(this).html("<a target='_blank' href='http://tsunglin.getmore.tw/closet/tabs/16449#".concat(str).concat("'><img src={{ site_url('/assets/images/closet/sticker.png') }} /></a>"));
      }
      else{
        var tmp=$(this);
        var url=tmp.attr('href');
        tmp.attr('href', url.replace(rep_str, str));
        console.log(url.replace(rep_str, str));
      }
    });
  });
  
  $('.nav-tabs a').on('click', function (e) {
    var scrollmem = $('body').scrollTop();
    hash=window.location.hash = this.hash;
    updateInformation(hash);
    $(this).tab('show');
    $('html,body').scrollTop(scrollmem);
  });

  $('.tab-content').delegate(this, 'ajaxLoadFinish', function(){
    $('.fresh-product-view').hover(function(){
      $('.likeslideup', this).fadeIn(300);
    }, function(){
      $('.likeslideup', this).hide();
    })
    $('.user-disfollow a').on('click', function(e){
      e.preventDefault();
    })
    $('.edit-list').on('click', function(){
      console.log('123');
      if($(this).hasClass('editing')){
        $(this).html('編輯').removeClass('editing').tooltip('show');      
        if($(this).attr('id')=='edit_user'){
          $('.followmktbanner .user-disfollow').hide();
          $('#user_list').sortable('destroy');
          $('.followmktbanner').trigger('stopRumble').removeClass('isRumble');
        }
        else if($(this).attr('id')=='edit_designer'){
          $('.followdsnerbanner .user-disfollow').hide();
          $('#designer_list').sortable('destroy');
          $('.followdsnerbanner').trigger('stopRumble').removeClass('isRumble');
        }
      }
      else{
        //$(this).siblings('div').find('.sortable').sortable();
        $(this).html('儲存').addClass('editing').tooltip('destroy');
      
        if($(this).attr('id')=='edit_user'){
          $('.followmktbanner .user-disfollow').show();
          $('#user_list').sortable();
          $('.followmktbanner').trigger('startRumble').addClass('isRumble');
        }
        else if($(this).attr('id')=='edit_designer'){
          $('.followdsnerbanner .user-disfollow').show();
          $('#designer_list').sortable();
          $('.followdsnerbanner').trigger('startRumble').addClass('isRumble');
        }
      }
    });
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $('.sortable').sortable('disable');
    $('.followmktbanner, .followdsnerbanner').jrumble({
      speed: 75,
    });
    $('#user-disfollow-modal').on('hide.bs.modal', function(){
      $('.isRumble').trigger('startRumble');
    });
    $('.sortable').on('dragenter', function(){
      //console.log($('li .followdsnerbanner', this));
      if($(this).attr('id')=='user_list'){
        console.log('user');
        var tmp=$('.followmktbanner', this).css(['height', 'margin']);
        $('.sortable-placeholder', this).css({
          'height': tmp.height,
          'margin': tmp.margin
        });
      }
      else if($(this).attr('id')=='designer_list'){
        console.log('designer');
        var tmp=$('.followdsnerbanner', this).css(['height', 'margin']);
        $('.sortable-placeholder', this).css({
          'height': tmp.height,
          'margin': tmp.margin,
        });
      }
    });
    $('#user-disfollow-modal').on('show.bs.modal', function(e){
      
      $('.followdsnerbanner, .followmktbanner').trigger('stopRumble');
      // e.relatedTarget is the <div> that trigger the modal.
      // it's parent is the <div> of followed user or designer.
      var tmp=$(e.relatedTarget).parent();
      var followed_id=$(tmp).attr('id');
      var type=$(tmp).hasClass('followdsnerbanner');//console.log(disfollow_type);
      if(typeof followed_id != 'undefined'){
        //var tmp=$(this).find('input[name=user_id_disfollow]').attr('value', user_id);
        $(this).find('input[name=followed_id]').attr('value', followed_id);
        if(type){
          $(this).find('input[name=type]').attr('value', 'designers');
        }
        else{
          $(this).find('input[name=type]').attr('value', 'users');
        }
        $(this).find('input[name=follower_id]').attr('value', {{session['user_id']}});
      }
      else{
        //console.log($(this).find('input[name=user_id_disfollow]').attr('value', ""));
      }
    });
    $('#disfollow_confirm').on('click', function(e){
      var $tmp=$(this).parent();
      $.ajax({
        type: 'POST',
        url: '/restful/follow_designer/disfollow',
        data: {
          follower_id: {{session['user_id']}},
          followed_id: $('input[name=followed_id]', $tmp).attr('value'),
          type: $('input[name=type]', $tmp).attr('value')
        }
      });
      window.location.reload();
    });
    $('.likeslideupcontent').on('click', function(e){
      e.preventDefault();
      {% if not logined %}
        $('#logInModal').modal('show');
        return false;
      {% endif %}
      console.log('hi');
      var $tmp=$(this);
      console.log($('input', $tmp));
      $.ajax({
        type: 'PUT',
        url: '/restful/clothing_like/'.concat($tmp.data('id')),
        data: {
          user_id: {{session.user_id}},
          type: $('input', $tmp).attr('value')
        },
        success: function(res){
          console.log(res);
          //console.log($tmp);
          if($tmp.hasClass('to_like'))
            $tmp.addClass('liked').removeClass('to_like').find('div').text('SAVED');
          else
            $tmp.addClass('to_like').removeClass('liked').find('div').text('SAVE');
        }
      });
    });
  });
  

  $(function(){
    $('#maintabs').tab();
    $('#maintabs').bind('show', function(e){
      var content_id=$(e.target).attr('data-target');
      var content_url=$(e.target).attr('href');
      if(typeof(content_url)!='undefined'){
        $(document).scrollTop(0);
        $(content_id).load(content_url, function(){
            $('#maintabs').tab();
        });
      }
      else{
        $(content_id).tab('show');
      }
    });
    $('#maintabs a[href$="#view"]').tab('show');
  });
});
</script>
<!-- End of Block -->

<hr>

<div class="fb-comments margintop20 marginleft15" data-href="{{ current_url() }}" data-width="950" data-numposts="5" data-colorscheme="light"></div>

 {% include '/modal/put-review.twig' %}  

<script type="text/javascript">
        LikeButtonModule.initialize();
        {% if logined %}
            LikeButtonModule.setIsLogined(true);
        {% endif %}
        $('.zero-select').hide();

        $('#select-lock-status').change(function(){

          $('.zero-select').hide();
          $('.fresh-product-view').hide();
          switch ($(this).val()) {
            case '-1':
              $('.fresh-product-view').show();
              break;
            case '0':
              $('.lock-status-0').show();
              if($(".lock-status-0").length == 0){
                $('.zero-select').show();
              }
              break;
            case '2':
              $('.lock-status-2').show();
              if($(".lock-status-2").length == 0){
                $('.zero-select').show();//console.log('123');
              }
              break;
            case '3+4':
              $('.lock-status-4, .lock-status-3').show();
              if($(".lock-status-4, .lock-status-3").length == 0){
                $('.zero-select').show();
              }
              break;
            case '5':
              $('.lock-status-5').show();
              if($(".lock-status-5").length == 0){
                $('.zero-select').show();
              }
              break;
          }
        });
</script>
<style type="text/css">
  .fa-times-circle-o{
    color:#c0c0c0;
  }
  .btn.edit-list:focus{
    background-color: #4DBAA9;
    outline: none;
  }
  .sortable{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  .sortable li{
    float: left; 
  }
  .sortable-placeholder{
    height: 95px; 
    width: 180px;
    border: 1px dashed #4dbaa9;
    border-radius: 5px;
    background: none;
  }
  .user-disfollow{
    margin-top:-7px;
    margin-right: -5px;
    position:absolute;
    right:0;
    display:none;
  }
    .dsner-left{
    float: left;
    padding:30px 20px 20px 0;
    width:471px;
  }
  .thumbnailListItem{
    border: 1px solid transparent;
  }
  .thumbnailListItem img{
    width: 70px;
  }
  .thumbnailListItem:hover{
    border: 1px solid #000;
  }
  .dsner-right{
    float: left;
    padding:30px 20px 20px;
    width: 529px;
  }
  .dsner-des{
    padding-top:10px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .dsner-name{
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .dsner-color{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-size{
    border-radius: 0px;
    margin-top: 20px;
    outline: 1px inset black; outline-offset:-1px
  }
  .dsner-nav{
    margin-top: 30px;
    width: 350px;
    margin: 40px auto 0 auto;
  }
  .dsner-tabs{

  }
  .dsner-tabs > li > a{
    border-radius: 0px;
    font-size: 10px;
  }
  .dsner-buy{
    width: 100%;
    margin-top: 10px;
  }
  .dsner-tab-content{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 15px;
    padding-top: 30px;
    //font-size: 10px;
    overflow: auto;
  }
  .dsner-p p{
    font-size: 10px;
  }

  .addto{
    background-color:#fff;
    color:#bbb;
    border:1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .followdsnerbox{
    margin-top: 30px;
    min-height: 300px;
    overflow: auto;
    overflow-y: hidden;
  }

  .followdsnerbanner{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 95px;
    border-radius: 5px;
    position:relative;
  }

 .followdsnerbanner img{
    width: 180px;
    height: 65px;
    border-radius: 5px 5px 0 0;
 }

 .followbrand{
    padding: 5px;
    color: #000;
    font-size: 14px;
    color: #bbb;
    overflow: hidden;
    width: 180px;
    //height: 18px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
}

  .followmktbanner{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 95px;
    border-radius: 5px;
    position:relative;
  }

 .followmktbanner img{
    width: 180px;
    border-radius: 5px 5px 0 0;
 }

.followmktbanner{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 210px;
    border-radius: 5px;
  }
  .put-review-btn{
    border: 0px;
    width:80px;
    position:absolute; 
    top:90px; 
    left:35px;
    background-color:rgba(100%, 100%, 100%, 0.4);
    color:#bbb;
  }

</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=239678122794926&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}