{% extends 'template/getmore_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
<style type="text/css">
  .fresh-product-view:hover .like-fade {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity:1;
}

.like-fade {
    opacity: 0;
}

.liked {
    color: red;
}
</style>
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
<script src="/assets/javascript/howtomakeaturn/jquery.form.min.js"></script>
{% endblock %}
{% block main %}
  <div class="main">
<div class='closet-top'>
        <div class='closet-profile-photo'>
            <div style='width: 165px; height: 165px; overflow: hidden;'>
                <img style='width: 165px;' src='{{ closet['profile_pic_url'] }}' />
            </div>
            {% if is_owner %}
              <button class='btn btn' onclick='$("#profile-photo-file").click();'>更換照片</button>
              <form action='/restful/closet/file/{{ closet['user_id'] }}' method='POST' enctype="multipart/form-data">
                    <input type='hidden' name='type' value='profile' />
                    <input type='file' name='userfile' id='profile-photo-file' style='display: none;' />
                </form>
            {% endif %}
        </div>
        
        <div class='closet-profile-title'>
            <div>
                {{ closet['title'] }}
<!--            <?php //if ($is_owner): ?>
                    <button class='btn btn-xs' style='display: none;' onclick="$('#edit-title-modal').modal('show');">編輯</button>
                <?php //endif; ?>
-->            
            </div>
        </div>
        <div class='closet-profile-description'>
            <div>
                {{ closet['description_tag'] }}
 <!--   <?php //if ($is_owner): ?>            
             <button class='btn btn-xs' style='display: none;' onclick="$('#edit-description-modal').modal('show');">編輯</button>
        <?php //endif; ?>
-->
            </div>
        </div>
<!--        <div class="follower_count" style="position: absolute;top: 0;right: 0;">
          有<?= //$closet['follower_count'];?>人關注
        </div>
-->
  <div class="closet-share-button">
        {% if is_owner %}
        <div class="btn-group">
        <a data-toggle="modal" href="#edit-description-modal">
          <button class='btn btn-primary'>編輯敘述</button>
        </a>
        </div>
        {% endif %}
        {% if uri[1] == 'view' or uri[1] == 'marketplace' %}
          {% if not is_owner %}
            {% if closet['had_followed'] %}
        <div class="btn-group">
          <a target='_self' href='/closet/disfollow/{{ closet['user_id']+9881 }}'>
            <button class="btn btn-default">
              取消追蹤
            </button>
          </a>
        </div>
            {% else %}
        <div class="btn-group">
          <a target='_self' href='/closet/follow/{{ closet['user_id']+9881 }}'>
            <button class="btn btn-primary">
              追蹤
            </button>
          </a>
        </div>
            {% endif %}
          {% endif %}
        <div class="btn-group">
        <a target='_blank' href='http://www.facebook.com/sharer.php?u={{ current_url() }}'>
          <button class='btn btn-primary'>
            分享
          </button>
        </a>        


        {#{% if not session.user_id %}
        <a data-toggle="modal" href="#logInModal"><button type="button" class="btn btn-primary btn-m">留言</button></a>
        {% endif %}

        {% if session.user_id and not is_owner %}
        {#{{ post_user_message_modal_for_layout_without_link_bootstrap($closet['user_id'], current_url()) }}#}

        <a data-toggle="modal" href="#userpostmsg"><button type="button" class="btn btn-primary btn-m">留言</button></a>
        <script>
          $('#post_submit').click(function(event){
            event.preventDefault();
            var actionUrl = "/restful/post";

            var tempData, i , tempReceiver;
            tempReceiver = $( '#owner_id' ).val();
            //$( '#receiver' ).val( "999" );
            var tempData = $( '#message_post' ).serialize();

//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// check content
   var message_title = ($('#message_title').val()).replace(/\s/gm,'');
   var message_content = ($('#message_content').val()).replace(/\s/gm,'');
   document.getElementById("message_title").style.background = ( message_title == "" ) ? "#FFFFCC" : "#FFFFFF";
   document.getElementById("message_content").style.background = ( message_content == "" ) ? "#FFFFCC" : "#FFFFFF";

   var alert_message = "系統偵測到可能是私下交易的文字。為了交易安全以及平台的權益，嚴禁私下交易喔！";
   var re = /[0-9]{6,}|電話|私下交易|面交|手續費|[零一二三四五六七八九]{6,}|[零壹貳參肆伍陸柒捌玖]{6,}|直接跟你買|直接聯絡|傳真|e[-]{0,1}mail|E[-]{0,1}mail|Line|line|一手交錢一手交貨|歡迎來店選購/;
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }

   re =/^([a-z0-9_\.-]+\@[\da-z\.-]+\.[a-z\.]{2,6})$/gm; // mail
   if (re.test(message_title) || re.test(message_content)){
    alert( alert_message );
    return;
   }
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

            var formData;
                formData = new FormData(document.getElementById("message_post"));

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    dataType: 'json'
                }).done(function(post){
                    formData.append("post_id", post['_id']);

                    $.ajax({
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: "/restful/post/message",
                        data: formData,
                        dataType: 'json'
                    }).done(function(post){
                        $.ajax({
                            type: 'POST',
                            url: '/post/change_message_value',
                            data: {post_id: post['post_id'], read: 'true'},
                            dataType: 'json'
                         });
                        console.log("success");
                        location.reload();
                        // form.reset();
                        // var html = message_template(post);
                        // $(form).before(html);
                    }).fail(function(error){
                        console.log(error);
                    });

                    console.log();
                }).error(function(){
                    console.log("error");
                });
          });
        </script>
        {% endif %} 
        </div>
  </div>
</div> <!--END closet-top-->



        <!-- 衣櫃bar-->
    <div class="closetbar">
        <ul id="closetnav">
          <li class="rel_btn" id="rel_follow">追蹤: <span>{{ closet['follow_count'] }}</span></li>
          <li class="rel_btn" id="rel_follower">粉絲: <span>{{ closet['follower_count'] }}</span></li>
          <li>減少CO2排放: <span>{{ co2_amount }}</span></li>
          <!-- <li class="views">衣櫃瀏覽次: <span><?= $closet['view_count']; ?></span></li> -->
        </ul>
    </div>




<div class='closet-nav-box'>
    <ul class="nav nav-tabs">
      {% if uri[1] == 'view' %}
        <li class='closet-li-view active'>
      {% else %}
        <li class='closet-li-view'>
      {% endif %}
        <a href='/closet/view/{{ closet['url_code'] }}'>品牌代售衣櫃</a></li>
      {% if uri[1] == 'marketplace' %}
        <li class='closet-li-view active'>
      {% else %}
        <li class='closet-li-view'>
      {% endif %}
        <a href='/closet/marketplace/{{ closet['url_code'] }}'>狂熱市集衣櫃</a></li>
      {% if is_owner %}
        {% if uri[1] == 'my_favorite' %}
          <li class='closet-li-favorite active'>
        {% else %}
          <li class='closet-li-favorite'>
        {% endif %}
          <a href='/closet/my_favorite'>我的欲望清單</a></li>
      {% endif %}
      {% if is_owner %}
        {% if uri[1] == 'advertise' %}
          <li class='closet-li-advertise active'>
        {% else %}
          <li class='close-li-advertise'>
        {% endif %}
          <a href='/closet/advertise'>宣傳我的衣櫥</a></li>
      {% endif %}
      {% if is_owner %}
        {% if uri[1] == 'followlist' %}
          <li class='closet-li-followlist active'>
        {% else %}
          <li class='closet-li-followlist'>
        {% endif %}
          <a href='/closet/followlist'>我的關注對象</a></li>
      {% endif %}
    </ul>
</div>
    <script>
        $(document).ready(function(){
            $('.closet-profile-photo').hover(function(){
                console.log('in');
                $('.closet-profile-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-photo button').hide();
            });
            
            $('.closet-banner-photo').hover(function(){
                console.log('in');
                $('.closet-banner-photo button').show();
            }, function(){
                console.log('out');
                $('.closet-banner-photo button').hide();
            });
            
            $('.closet-profile-title').hover(function(){
                console.log('in');
                $('.closet-profile-title button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-title button').hide();
            });

            $('.closet-profile-description').hover(function(){
                console.log('in');
                $('.closet-profile-description button').show();
            }, function(){
                console.log('out');
                $('.closet-profile-description button').hide();
            });
            

            // initialize the jquery form plugin for sending ajax with input file
            $('#banner-photo-file').parent().ajaxForm(function(res) { 
                var item = $.parseJSON(res).upload_data;
                console.log(item);
                var params = { file_id: item.id, photo_type: 'banner' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#banner-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            // initialize the jquery form plugin for sending ajax with input file
            $('#profile-photo-file').parent().ajaxForm(function(res) {
                var file_id = $.parseJSON(res);
                console.log(file_id);
                var params = { file_id: file_id, photo_type: 'profile' }
                post_to_url('/closet/change_pic', params);
            });
            
            $('#profile-photo-file').change(function(){
                if ($(this).val() == "") {
                    return;
                }
                $(this).parent().submit();            
                $(this).val("");
            })
            
            
        });
        
        function post_to_url(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }    
</script>

    <div class="modal fade" id='edit-title-modal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">編輯標題</h4>
          </div>
          <div class="modal-body">
            <div class="modal-center">
                <form action='/closet/change_text' method='post'>
                    <input type='hidden' name='type' value='title' />
                    <input type='text' class='form-control' name='content' maxlength='16' value='{{ closet['title'] }}' />
                    <input type='submit' class='btn btn-primary' value='確定' />
                </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id='edit-description-modal'>
      <div class="modal-dialog" style="width:720px;">
        <div class="modal-content" style="height:500px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">編輯敘述</h4>
          </div>
          <div class="modal-body" style="padding-top:40px;">
            <div class="modal-center marginbottom30" style="height:110px;">
                <p>為您的衣櫃取一個標題，可以是暱稱或是一個吸引人的名字，限定16個字內。</p>
                <form action='/closet/change_text' method='post' style="width:340px; height:28px;">
                    <input type='hidden' name='type' value='title' />
                    <input type='text' class='form-control' name='content' maxlength='16' value='{{ closet['title'] }}' /><br>
                    <input type='submit' class='btn btn-primary' value='確定修改標題' />
                </form>
            </div>
            <div class="modal-center">
                <p>為您的衣櫃寫下一段敘述，可以是個人風格或是二手衣搭配理念，4行以內，輸入框大小即是顯示大小。</p>
                <form action='/closet/change_text' method='post' style="width:600px; height:78px;">
                    <input type='hidden' name='type' value='description' />
                    <textarea name='content' class='form-control' rows='3' maxlength="158" style="width:560px; height:104px;">{{ closet['description'] }}</textarea><br>
                    <input type='submit' class='btn btn-primary' value='確定修改簡介' />
                </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<!-- End of closet-bar -->
<style>
#select-lock-status{
  width: 200px;
}
</style>
<div class='fresh-box'>
    <div style="overflow:auto; padding-right: 10px;">
      {% if not items is empty %}
        <select id="select-lock-status" class="form-control pull-right">
          <option value="0" selected="selected">銷售中</option>
        {% if uri[1] == 'view' %}
          <option value="1">已預定</option>
        {% endif %}
          <option value="2">已售出</option>
        {% if is_owner %}
          {% if uri[1] == 'view' %}
          <option value="3+4">準備上架中</option>
          {% endif %}
          <option value="5">已下架</option>
        {% endif %}
          <option value="-1">全部</option>
        </select>
      {% endif %}
    </div>
    </br>
    <div>
      {% for item in items %}
        {{ clothing_thumbnail_layout(item) }}
      {% endfor %}
      {% if items is empty %}
      <div class='alert alert-info'>這個衣櫃內還沒有衣服喔！</div>
      {% endif %}
      <div class='alert alert-info zero-select' style="display: none;">這個選項中還沒有衣服喔！</div>
    </div>
    <div style='clear: both;'>
    </div>    
</div>
</div>
<hr>

<div class="fb-comments margintop20 marginleft15" data-href="{{ current_url() }}" data-width="950" data-numposts="5" data-colorscheme="light"></div>

<script type="text/javascript">
        LikeButtonModule.initialize();
        {% if logined %}
            LikeButtonModule.setIsLogined(true);
        {% endif %}
        $('.zero-select').hide();
        if($(".lock-status-0").length == 0){
          $("option[value='0']").hide();
          $("option[value='-1']").attr('selected', 'selected');
        }
        if($(".lock-status-1").length == 0){
          $("option[value='1']").hide();
        }
        if($(".lock-status-3, .lock-status-4").length == 0){
          $("option[value='3+4']").hide();
        }
        if($(".lock-status-5").length == 0){
          $("option[value='5']").hide();
        }

        $('#select-lock-status').change(function(){
          $('.zero-select').hide();
          $('.fresh-product-view').hide();
          switch ($(this).val()) {
            case '-1':
              $('.fresh-product-view').show();
              if($('.fresh-product-view').length == 0){
                $('.zero-select').show();
              }
              break;
            case '0':
              $('.lock-status-0').show();
              if($('.lock-status-0').length == 0){
                $('.zero-select').show();
              }
              break;
            case '1':
              $('.lock-status-1').show();
              if($('.lock-status-1').length == 0){
                $('.zero-select').show();
              }
              break;
            case '2':
              $('.lock-status-2').show();
              if($(".lock-status-2").length == 0){
                $('.zero-select').show();
              }
              break;
            case '3+4':
              $('.lock-status-3, .lock-status-4').show();
              if($('.lock-status-3, .lock-status-4').length == 0){
                $('.zero-select').show();
              }
              break;
            case '5':
              $('.lock-status-5').show();
              if($('.lock-status-5').length == 0){
                $('.zero-select').show();
              }
              break;
          }
        });
        $('#select-lock-status').trigger('change');
        $('div.fresh-box')
          .delegate('div.likeslideupcontent', 'click', function(e){
            {% if user_id %}
            $.ajax({
                type: 'PUT',
                url: '/restful/clothing_like/'.concat($(this).data('id')),
                data:{
                    user_id: {{ user_id }},
                    type: '2'
                },
                dataType: 'json',
                success: function(res){
                    $(e.target).toggleClass('liked');
                    console.log(res);
                }
            });
            {% else %}
            $('#logInModal').modal('show');
            {% endif %}
            return false;
          });
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=239678122794926&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}