{% extends 'getmore_layout.html.twig' %}

{% block main %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- newpage -->
<link rel="stylesheet" href="/assets/css/getmorepage/newpage.css"/>
<div class="container" style="min-height:2300px;">
	<div class='firstrow'>
		<div class='banner01'><img src="/assets/images/newpage/1-01.png"></div>
		<div class='banner02'><img src="/assets/images/newpage/2-01.png"></div>
	</div>

	<div class='secondrow'>
		<div class='banner0304box'>
			<div class='banner03'><img src="/assets/images/newpage/3-01.png"></div>
			<div class='banner04'><img src="/assets/images/newpage/4-01.png"></div>
		</div>
		<div class='banner05'><img src="/assets/images/newpage/5-01.png"></div>
		<div class='banner0607box'>
			<div class='banner06'><img src="/assets/images/newpage/6-01.png"></div>
			<div class='banner07'><img src="/assets/images/newpage/7-01.png"></div>
		</div>
	</div>
<hr class="pokai-hr">
<div class='fresh'>
	<span class="fresh-title">
	        新鮮貨 / NEW LOOK
	</span>
	<div class="fresh-box" style="overflow:auto;">
        <a target="_blank" href="/clothing/view/5649"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5649" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_200a6ce3be7e23fe8c92d3fe71f41204.JPG"><div class="fresh-product-title">Mexx 綠色V領針織洋裝</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$600</span></div><span class="size-tag">Size UK10/US6</span></div></a>        
        <a target="_blank" href="/clothing/view/5648"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5648" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_fea294ce304b609e7d5ded0624f7e481.JPG"><div class="fresh-product-title">Forever 21基本牛仔襯衫</div><div class="fresh-product-price"><span class="is-deleted">NT$1,001~2,000</span><span class="fresh-product-sale">NT$500</span></div><span class="size-tag">Size US6/EU38</span><span class="pricedown-tag">再次降價↓</span></div></a>        
        <a target="_blank" href="/clothing/view/5647"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5647" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_50f756913c52e72a3fd56cc69998f465.JPG"><div class="fresh-product-title">貓圖案牛仔襯衫</div><div class="fresh-product-price"><span class="is-deleted">NT$1,001~2,000</span><span class="fresh-product-sale">NT$650</span></div><span class="size-tag">Size F</span></div></a>        
        <a target="_blank" href="/clothing/view/5646"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5646" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_7c9c30cab77646baf32cf970342423bf.JPG"><div class="fresh-product-title">Calvin Klein 橘色polo衫</div><div class="fresh-product-price"><span class="is-deleted">NT$1,001~2,000</span><span class="fresh-product-sale">NT$580</span></div><span class="size-tag">Size US4</span></div></a>        
        <a target="_blank" href="/clothing/view/5645"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5645" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_f05bcad1cdb596c84820069c49909c70.JPG"><div class="fresh-product-title">Burberry桃紅針織上衣</div><div class="fresh-product-price"><span class="is-deleted">NT$5,001~6,000</span><span class="fresh-product-sale">NT$2500</span></div><span class="size-tag">Size IT40</span></div></a>        
        <a target="_blank" href="/clothing/view/5644"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5644" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_60e9b5eecd7a1aa2f433903095064730.JPG"><div class="fresh-product-title">黑白針織外套</div><div class="fresh-product-price"><span class="is-deleted">NT$2,001~3,000</span><span class="fresh-product-sale">NT$500</span></div><span class="size-tag">Size F</span></div></a>        
        <a target="_blank" href="/clothing/view/5643"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5643" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_930440eb0feace0f9675dc57b64e71f8.JPG"><div class="fresh-product-title">A/X銀灰短袖長版毛衣</div><div class="fresh-product-price"><span class="is-deleted">NT$4,001~5,000</span><span class="fresh-product-sale">NT$880</span></div><span class="size-tag">Size US6</span><span class="pricedown-tag">再次降價↓</span></div></a>        
        <a target="_blank" href="/clothing/view/5642"><div class="fresh-product-view"><div class="like_tag to_like" data-id="5642" style="display: none;"><img src="/assets/likeicon/to_like.png"></div><img src="http://getmore.cc/upload/thumbs/200_300_703c518328f02ea8c9de71e1da91b0df.JPG"><div class="fresh-product-title">菱格米色高領毛衣</div><div class="fresh-product-price"><span class="is-deleted">NT$4,001~5,000</span><span class="fresh-product-sale">NT$2000</span></div><span class="size-tag">Size Fits M</span></div></a>            
    </div>
    <div class="gotonew text-center"><a class="btn btn-default enterplanbtn" href="#" role="button" style='width:920px;'>到最新上架一件一件逛 >></a></div>
</div>
	<hr class="pokai-hr">

	<div class='fourthrow'>
		<div class='lookbooktopic'>
			<div class='lookbootshowimg'><a href='http://getmore.cc/blog/view/86' target='_blank'><img src="/assets/images/lookbook/weblookbook03-01.png"></a></div>
		</div>
		<div class='entertobuy'>
			<div class='enterplanB'>
				<font class='enterplantitle'>品牌限定</font><br>
				<font>MARKETPLACE</font><br>
				<font>／</font><br>
				<font class='enterplanp'>國際品牌限定，每件商品都經過第三方專業清洗整燙，由GetMore統一出貨，2折起，輕鬆上手精品服飾！</font><br>
				<a class="btn btn-default enterplanbtn" href="/clothing/category/women" role="button">SHOP >></a>
			</div>
			<div class='enterplanA'>
				<font class='enterplantitle'>狂熱市集</font><br>
				<font>MARKETPLACE</font><br>
				<font>／</font><br>
				<font class='enterplanp'>這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味，你在這可以玩上一整天，享受這場時尚市集饗宴。</font><br>
				<a href='http"//getmore.cc/info/sellchoice' class="btn btn-default enterplanbtn" href="#" role="button" target='_blank'>籌備中 >></a>
			</div>
		</div>
		<div class='otherentery'>
			<div class='otherrow1'><a href="/clothing/reduction" target="_blank"><img src="/assets/images/newpage/11-01.png"></a></div>
			<div class='otherrow2'><a href="/clothing/category/women/#type-women&page-1&price_to-300&price_from-0" target="_blank"><img src="/assets/images/newpage/12-01.png"></a></div>
			<div class='otherrow3'><a href="http://blog.getmore.cc/" target="_blank"><img src="/assets/images/newpage/13-01.png"></a></div>
		</div>
	</div>
	<div class='fifthrow'>
		<div class='pageabouttitle'><font class='pagecentertitle'>ABOUT GETMORE</font></div>
		<div class='pageaboutbox'>
			<div class='pageaboutp'>GetMore是一個以「共享經濟」為概念的時尚分享網站</div>
			<div class='pageaboutp'>在這裡，你可以輕鬆享受二手衣帶來的自由、獨特 、環保等時尚樂趣</div>
			<div class='pageaboutp' style="margin-top:10px;">Enjoy Pre-owed Fashion on GetMore Now!</div>
		</div>
	</div>
    <div class='sixthrow'>
		<div class='pageliketitle'><font class='pagecentertitle'>GET MORE GETMORE ON</font></div>
		<div class='pagelikebox'>
				<div class='pagelikefacebook'><a href='https://www.facebook.com/getmore.cc' class='pagelikea' target='_blank'><i class="fa fa-facebook fa-3x"></i></a></div>
				<div class='pagelikeinstagram'><a href='https://instagram.com/getmorecc/' class='pagelikea' target='_blank'><i class="fa fa-instagram fa-3x"></i></a></div>
				<div class='pagelikeyoutube'><a href='https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/feed' class='pagelikea' target='_blank'><i class="fa fa-youtube-square fa-3x"></i></a></div>
		</div>
	</div>
	<p class="text-center marginbottom30">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fgetmore.cc&amp;width=980&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=207910605914306" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:980px; height:258px;" allowTransparency="true"></iframe>
    </p>
</div>
{% endblock %}
