{% extends 'template/sell_manage.html.twig' %}

{% block body %}
<div class='col-254'>
{% include '/member/member_side_bar.html.twig' %}
</div>
<div class="col-726">
<div class='member_order_list_title'>
<img src='/assets/images/my_account.png' />
<span>我的帳戶</span>
</div>
<h3>您累計的帳戶金額共{{ account.balance }}元</h3>
{% if account.balance > 0 and not user_in_group('Designer') and not user_in_group('Buyer') %}
<a href='/member/withdraw' class='btn btn-primary pull-right marginbottom10'>匯出現金給我</a>
{% endif %}
{% if user_in_group('Designer') %}
<div class='alert alert-info'>
為提供設計師更便利的營收結帳方式，將統一每月20日匯入上月營收至您指定的銀行帳戶（若非上班日，則順延；匯款帳號後五碼為"05870"）
</div>
{% endif %}
{% if user_in_group('Buyer') %}
<div class='alert alert-info'>
為提供時尚買手更便利的營收結帳方式，將統一每月20日匯入上月營收至您指定的銀行帳戶（若非上班日，則順延；匯款帳號後五碼為"05870"）
</div>
{% endif %}
<table class='table'>
<tr>
<th class='col-md-2'>日期</th>
<th class='col-md-2'>異動名目</th>
<th class='col-md-2'>商品/貨單/訂單編號</th>
<th>新增金額</th>
<th>扣除金額</th>
<th>餘額</th>
<th>備註</th>
</tr>
{% set balance = account.balance %}
{% for trans in transactions %}
<tr>
<td>{{ strtotime(trans.created_at)|date('Y-m-d') }}</td>
<td>{{ trans.name }}</td>
{% if trans.clothing_id is empty %}
<td>{{ trans.related_number }}</td>
{% else %}
<td><a href='/clothing/view/{{ trans.clothing_id }}' target='_blank'>{{ trans.related_number }}</a></td>
{% endif %}
{% if trans.amount > 0 %}
<td>{{ trans.amount }}</td>
<td></td>
{% else %}
<td></td>
<td>{{ -1*trans.amount }}</td>
{% endif %}
<td>{{ balance }}{% set balance = balance - trans.amount %}</td>
<td>{{ trans.note }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}