{% extends 'template/sell_manage.html.twig' %}

{% block body %}
<div class='col-254'>
{% include '/member/member_side_bar.html.twig' %}
</div>
<div class="col-726">
<div class='member_order_list_title'>
  <img src='/assets/images/user_information.png' />
  <span>資料更新</span>
</div>
<br />
{% if flashdata('message') %}
  <div class='alert alert-info'>
    {{ flashdata('message') }}
  </div>
{% endif %}
<h3>修改常用Email</h3>
<form role="form" method='POST' action='/member/information'>
  <div class="form-group">
    <label >註冊email</label>
      <input type="text" class="form-control" value='{{ user.email }}' disabled='disabled'>
      <p class="help-block">此為註冊時所填寫email，無法修改。</p>
  </div>
  <div class="form-group">
    <label >常用email</label>
      <input type="text" id='active_email' class="form-control" name='active_email'  value='{{ user.active_email }}'>
      <p class="help-block">請輸入您常用的email。<span class='btn btn-default btn-xs' id='fill_in_my_registration_email' data-registration_email='{{ user.email }}'>填入我的註冊email</span></p>
  </div>
    
  <div class="form-group">
      <button type="submit" id='submit' class="btn btn-success" >確定修改常用email</button>
  </div>
</form>
<hr />
{% if user.password %}
<h3>修改密碼</h3>
<form role="form" method='POST' action='/member/change_password'>
  <div class="form-group">
    <label>請輸入原本密碼</label>
    <input type="password" id='old_password' class="form-control" name='old_password' >
  </div>

  <div class="form-group">
    <label>新密碼（區分大小寫，請用8個字元以上）</label>
    <input type="password" id='new_password' class="form-control" name='new_password' >
  </div>

  <div class="form-group">
    <label>再一次輸入新密碼</label>
    <input type="password" id='confirm_password' class="form-control" name='confirm_password' >
  </div>
  
  <div class="form-group">
    <button type="submit" id='submit' class="btn btn-success" >確定修改密碼</button>
  </div>
</form>
<hr />
{% endif %}

  <h3>匯款帳戶資訊</h3>
  <div class="form-group">
    <label class="col-sm-2 control-label">銀行名稱</label>
    <div class="col-sm-10">
    <select class="form-control" disabled>      
        <option>{{ bank_info.code }} - {{ bank_info.title }}</option>
    </select>      
    </div>
    <div class="clear"></div>
 </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">分行名稱</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" disabled value="{{ bank_info.branch }}">
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" >銀行帳號</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{ bank_info.account }}" disabled>
    </div>
    <div class="clear"></div>
  </div>

  <p>＊匯款帳戶若需要更改，請Email 聯繫客服人員 <a href="mailto:service@getmore.c" target="_blank">service@getmore.cc</a>。</p>
</div>
<script>
    $(document).ready(function(){
        $('#fill_in_my_registration_email').click(function(){
            console.log('click');
            var registration_email = $(this).data('registration_email');
            console.log(registration_email);
            $('#active_email').val(registration_email);
        })
    });

</script>
{% endblock %}