<div class="member_sidebar_title">
  <img src="/assets/images/left.png">
  <span>會員中心</span>
</div>
<div class="member_sidebar">
  <ul>
    <li>
      <p>
        <a href="/member/information" class="btn btn-primary btn-m">會員資料</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/member/order" class="btn btn-primary btn-m">購物訂單</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/member/account" class="btn btn-primary btn-m">我的帳戶</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/member/clothing_management" class="btn btn-primary btn-m">販售管理</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/member/sellorder" class="btn btn-primary btn-m">二手衣申請進度查詢</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/closet/my" class="btn btn-primary btn-m">我的衣櫃</a>
      </p>
    </li>
  </ul>
  <hr>
  <div class="contactus"><p> Contact us <br> service@getmore.cc </p> </div>
</div>