{% extends 'template/sell_manage.html.twig' %}

{% block body %}
<div class='col-254'>
{% include '/member/member_side_bar.html.twig' %}
</div>
<div class="col-726">

  <div class='member_order_list_title'>
    <img src='/assets/images/order_list.png' />
    <span>購物訂單</span>
  </div>
  <table class='table'>
    <tr>
      <th>訂單編號</th>
      <th>訂購日期</th>
      <th>訂購件數</th>
      <th>消費金額</th>
      <th>訂單狀態</th>
      <th>訂單過期倒數</th>
      <th></th>
    </tr>
    {% for order in orders %}
    <tr>
      <td>{{ order.order_number }}</td>
      <td>{{ order.created_at_label }}</td>
      <td>{{ order.items_count }}</td>
      <td>{{ order.total_price }}</td>
      <td>
      {% if not order.payable and order.status == '1' %}
        已過期
      {% else %}
        {{ order.status_label }}
      {% endif %}
      </td>
      {% if order.payable and order.status == '1' %}
      <td>
        {% if order.payment_method == 'credit-cart' %}
        
        <span data-expired='{{ order.expired_at }}' class="defaultCountdown"></span>
        <form action='http://{{ payment_url() }}checkout/restart_for_pay?redirect={{ base_url()|urlencode }}' method='post'>
          <input type='hidden' name='order_number' value='{{ order.order_number }}' />
          <input type='hidden' name='payment_method' value='credit-cart' />
          <input type='submit' value='立即付款' class='btn btn-primary btn-xs' />
        </form>
        {% endif %}
        {% if order.payment_method == 'atm' %}
        <span data-expired='{{ order.expired_at }}' class="atmCountdown"></span>
        <form action='/member/view_order' method='post'>
          <input type='hidden' name='order_number' value='{{ order.order_number }}' />
          <input type='submit' value='立即付款' class='btn btn-primary btn-xs' />
        </form>
        {% endif %}
      </td>
      {% else %}
      <td></td>
      {% endif %}
      <td>
      {% if order.status != '-1' and not order.payable or order.payable %}
      <form action='/member/view_order' method='post'>
        <input type='hidden' name='order_number' value='{{ order.order_number }}' />
        <input type='submit' value='查看' class='btn btn-xs margintop-3' />
      </form>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.plugin.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.countdown.min.js"></script>
  <script type="text/javascript">
  $(function () {
    $('.defaultCountdown').each(function(){
      var expired_at_string = $(this).data('expired');
      var expired_at = new Date(expired_at_string);
      $(this).countdown({ 
        until: expired_at,
        layout: '{mn}:{sn}',
        expiryUrl: '/member/order'
      });
    });

    $('.atmCountdown').each(function(){
      var expired_at_string = $(this).data('expired');
      var expired_at = new Date(expired_at_string);
      $(this).countdown({ 
        until: expired_at,
        layout: '{dn}:{hn}:{mn}:{sn}',
        expiryUrl: '/member/order'
      });
    });
  });
  </script>
  <style>
    form{
      display: inline;
    }
  </style>
</div>
{% endblock %}