{% extends 'template/sell_manage.html.twig' %}

{% block css %}
<style>
form{
display: inline;
}
</style>
{% endblock %}

{% block body %}
<div class='col-254'>
{% include '/member/member_side_bar.html.twig' %}
</div>
<div class="col-726">

<div class='member_order_list_title'>
<img src='/assets/images/little_clothing.png' />
<span>二手衣申請進度查詢</span>
</div>
<table class='table'>
<tr>
<th>申請單號</th>
<th>申請日期</th>
<th>申請筆數</th>
<th>處理進度</th>
<th></th>
</tr>
{% for order in orders %}
<tr>
<td>{{ order.order_number }}</td>
<td>{{ order.date_purchased }}</td>
<td>{{ order.how_many }}</td>
<td>
{{ order.status_id|get_sellorder_status_label }}
{% if order.status_id == '1' and in_array(order.payment_method, ['credit-cart', 'web-atm']) %}
<form action='http://{{ payment_url() }}checkout/restart_for_pay?redirect={{ site_url("/sellorder/steps/4")|urlencode }}' method='post'>
<input type='hidden' name='order_number' value='{{ order.order_number }}' />
<input type='submit' value='立即付款' class='btn btn-primary btn-xs marginleft5 margintop-3' />
</form>
{% endif %}
{% if order.status_id == '1' and order.payment_method == 'atm' %}
<form action='/member/' method='post'>
<input type='hidden' name='order_number' value='{{ order.order_number }}' />
<input type='submit' value='立即付款' class='btn btn-primary btn-xs marginleft5 margintop-3' />
</form>
{% endif %}

</td>
<td>
<form action='/member/view_sellorder' method='post'>
<input type='hidden' name='order_number' value='{{ order.order_number }}' />
<input type='submit' value='查看' class='btn btn-xs margintop-3' />
</form>
</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}