{% extends 'template/sell_manage.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/newcart.css">
{% endblock %}

{% block body %}
<div class='col-254'>
{% include '/member/member_side_bar.html.twig' %}
</div>
<div class="col-726">
<div class='member_order_list_title'>
<img src='/assets/images/order_list.png' />
<span>訂單管理</span>
</div>
{% if order.status == 1.5 %}
<div class="alert alert-success">此訂單為貨到付款（未付款）！！訂單送出時間：{{ order.created_at|date('Y-m-d H:i:s') }}<br><br>
【貨到付款】說明 <br>
1. 感謝您的購買，您選擇的是貨到付款<br>
2. 貨到時，物流士將與您電話聯繫，來電為一般手機號碼，請勿拒接，以免錯過配送。<br>
3. 物流士將著「黑貓宅急便」的制服，確認商品後，將貨款直接交由物流士。<br> 
4. 提醒您！連續配送3次無法成功，您的訂單將被取消，並且有可能被取消使用貨到付款的權利。<br><br>
感謝您的購買！ 祝二次時尚的生活愉快！</div>
{% endif %}

{% if order.payment_method == 'atm' and order.status == 1 %}
<div class="alert alert-success">此訂單為ATM轉帳（未付款）！！訂單送出時間：{{ order.created_at|date('Y-m-d H:i:s') }}<br><br>
匯款銀行 : {{ order.bankid }}<br/><br/>

匯款帳戶 : {{ order.virtualaccount }}<br/><br/>

匯款金額 : {{ order.total_price }}<br/><br/>

請在 {{ get_expiration_time(order.created_at, 'atm')|date('Y-m-d H:30') }} 之前匯款，超過時限請勿轉帳，謝謝您。<br/>
</div>
{% endif %}

{% if in_array(order.status, [2,3,4,5]) %}
<div class="alert alert-success">此訂單已成立！！付款時間：{{ order.paid_at|date('Y-m-d H:i:s') }}</div>
{% endif %}
<div class="alert">您的訂單編號是：{{ order.order_number }}</div>

<div class='pagecontent'>
<hr>

<div class="carttitle">
賣家寄倉商品 / BRANDS ONLY
</div>
<div class="cartbplan" style="width:680px;">
<div>
<p>訂單狀態：{{ order.status|order_status_label }}
</p>
</div>
<div>
<p>托運單號：{{ order.shipping_number }}</p>
</div>
<table class="table table-condensed billtable">
<thead>  
<tr>
<th></th><th>商品編號</th><th>商品敘述</th><th>價格</th>
</tr>
</thead>
<tbody>
{% for index, product in products %}
<tr>
<th><img class="cartimg" src="{{ product.files[0]|s3_url }}"></th>
<th>{{ product.product_item_number }}</th>
<th>{{ product.product_title }}</th>
<th>{{ product.product_sell_price }}</th>
</tr>
{% endfor %}
</tbody>
</table>
<div class="subtotal">
<div class="panel panel-default everyreturn" style="width:280px;">
<div class="panel-heading">
<h3 class="panel-title">退貨條款</h3>
</div>
<div class="panel-body" style="font-size:10px; margin-bottom:10px;">
GetMore上的每一件衣服都是獨一無二的，若您收到的衣服尺寸不合或不如預期，很抱歉我們也無法提供相同款式的衣服供您更換。
</div>
</div>
<div class="pull-right">
<table style="width:300px;">
<tbody>
<tr>
<td class="cart_1_money">
<p>
商品件數<span class="cart_1_count">{{ order.items_count }}</span>件，
商品金額<span class="cart_1_price">{{ order.items_price }}</span>元
</p>
<p>
運費金額 <span class="cart_1_tran">{{ order.shipping_price }}</span>元
</p>
</td>
</tr>
<tr>
<td class="cart_1_money">
<p class="cart_1_sum_block">
消費小計NT$<span class="cart_1_sum">{{ order.total_price }}</span>元
</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<hr>
<div class='totalpricebox'>
<div class='well totalprice'>
<p>本次消費總金額共 ${{ order.items_price }} 元{% if order.deduction_amount %}，帳戶折抵 {{ order.deduction_amount }} 元{% endif %}{% if order.bonus_points %}，紅利折抵 ${{ round(order.bonus_points/100) }}元{% endif %}{% if order.coupon_code %}，折扣碼折抵${{ order.coupon_amount }}({{ order.coupon_code }})元{% endif %}{% if order.shipping_price %}，運費 ${{ order.shipping_price }} 元{% endif %}。<br>
<span style='font-size:10px; color:#bbb;'>(提醒您，商品來自不同賣家可能個別出貨，請留意手機來電！) </span>
</p>
<div class='endprice'>總計${{ order.total_price }}元</div>
</div>
</div>

</div>

<div class='order_other_information'>
<h3>付款方式與寄送資訊</h3>
<hr/>
<p>付款方式：{{ order.payment_method|payment_method_label }}</p>
<p>收件姓名：{{ order.receiver_name }}</p>
<p>寄送地址：{{ order.receiver_address }}</p>

{% if order.status == 1 and get_expiration_time(order.created_at, order.payment_method) > date() %}
<span>訂單過期倒數</span>
<span>{{ get_expiration_time(order.created_at, order.payment_method) }}</span>
<span class="defaultCountdown"></span>
<form action='{{ payment_url() }}checkout/restart_for_pay?redirect={{ base_url()|urlencode }}' method='post'>
<input type='hidden' name='order_number' value='{{ order.order_number }}' />
<input type='hidden' name='payment_method' value='credit-cart' />
{% if order.payment_method == 'credit-cart' %}
<input type='submit' value='立即付款' class='btn btn-primary' />
{% endif %}
</form>
{% endif %}
<a class='btn btn-primary' href='/member/order'>回訂單列表</a>
</div>                  

</div>


</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.plugin.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.countdown.min.js"></script>
<script type="text/javascript">
$('.defaultCountdown').countdown({
until: new Date("{{ get_expiration_time(order.created_at, order.payment_method)|date('Y-m-d H:30:00') }}"),
layout: '<b>{dn}:{hn}:{mn}:{sn}</b>'
});
</script>
{% endblock %}