{% extends 'template/clothing_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>

{% endblock %}

{% block main %}
	
 		<img class='banner-s' src="/assets/images/banner-s/GetMoreLove.jpg">
		<div class="row rightcol marginleft40 marginright40 sellchoicebox">
	        <div style="padding:20px; text-center">
	        	<h4 class="marginbottom20" style="font-size:20px;">時尚人士招募中！成為 GetMore 的賣家，分享品味，賺取收入。</h4>
		        <p>
				GetMore 是一個以「共享經濟」為概念的時尚分享平台，我們的使命是挖掘世界各地的搭配達人，以及獨立品牌的時裝設計師。		            
				<p/>
			</div>
			<div style="position:relative;">
				<div class="sell-or-bg"></div>
				<div class="sell-or">or</div>
				<div class="sellchoise-img">
					<img class="" src="http://support.getmore.cc/wp-content/uploads/2015/04/4124131252_7b70c81b51_o.png" alt="狂熱市集" width="400px">
					<div style="margin-top:20px; font-size:16px; letter-spacing:2px;">
	            	專為頂級時尚客打造的「品牌代售」，針對高端國際品牌提供代售服務，您只要線上填單，線上支付洗衣費，即可開始展開前所未有的代售新體驗。
	            	</div>
	            	<p></br><center><a href="/info/brandsonly"><button type="button" class="btn btn-primary">品牌列表</button></a></center></p>
				</div>
				<div class="sellchoise-img">
					<img class="" src="http://support.getmore.cc/wp-content/uploads/2015/04/aplan.png" alt="狂熱市集" width="400px">
					<div style="margin-top:20px; font-size:16px; letter-spacing:2px;">
					為達人，部落客，藝人設計的自行上架方案，自行上傳搭配照，使用GetMore的系統，經營自己的衣櫃，審核制，專業金流，輕鬆分享自己的時尚品味，賺取現金。</div>
					<p></br><center><a href="http://blog.getmore.cc/2015/04/getmore-plan-a/" target="_blank"><button type="button" class="btn btn-primary">申請加入</button></a></center></p>
				</div>
			</div>
    	</div>
    	<hr>
				<div class='contentbox'>
					<div class="sellchoice">
						<ul class="levels">
							<li class="planA">
								<div class="sellbox">
									<div class="marginbottom60 getmoregreen"><h3>品牌代售賣家</h3><h3>Brabds only</h3></div>
                                    <a href="/info/brandsonly"><button class="btn btn-success btn-lg levelsbtn">申請品牌代售</button></a>
									<div class="margintop30">
										<ul class="whychoice">
                                            <li>尊榮的品牌代售管家</li>
											<li>GetMore 管理</li>
											<li>代為送洗</li>
											<li>統一出貨</li>
											<li>交給GetMore，專業的品牌代售</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="planB">
								<div class="sellbox">
									<div class="marginbottom60 getmoregreen"><h3>狂熱市集賣家</h3><h3>Marketplace</h3></div>
									<a href="http://blog.getmore.cc/2015/04/getmore-plan-a/" target="_blank"><button class="btn btn-success btn-lg levelsbtn">申請加入</button></a>
									<div class="margintop30">
										<ul class="whychoice">
											<li>搭配達人、部落客、明星</li>
											<li>審核制，自行上傳搭配照</li>
                                            <li>自由的分享樂趣</li>
											<li>自行管理</li>
											<li>專業金流系統</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>

					</div>
				</div>

			<hr>
		<div class="getmorecenter-block">
		  <center>
		  	<table class="table table-bordered" id="sellchoisetable">
		  	<tr>
		  		<td></td>
		  		<td class="getmoregreen font-size18">
		  		<center>
		  			品牌代售賣家
		  		</center>
		  		</td>
		  		<td class="getmoregreen font-size18">
		  		<center>
		  			狂熱市集
		  		</center>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center" valign="center">
		  			適用賣家
		  		</td>
		  		<td>
		  			對於國際品牌以及高級成衣迷戀者，卻無暇處理洗衣拍照上架流程，委由專業管理。（ <a href="/info/brandsonly">品牌列表</a>）
		  		</td>
		  		<td>
		  			喜歡分享自我穿搭照，覺得賣衣服是一種分享樂趣，可以把照片拍得像時尚雜誌封面一樣的服裝狂熱份子。
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			代表人物
		  		</td>
		  		<td align="center">
		  			貴婦、明星、職場女性
		  		</td>
		  		<td align="center">
		  			穿搭達人、部落客、明星、模特兒
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			管理方式
		  		</td>
		  		<td>
		  			GetMore管理<br/>
					預付洗衣費，GetMore全部幫您搞定
		  		</td>
		  		<td>
		  			自行管理<br/>
					賣家自行清洗、拍照、丈量、上架、包裝、管理訂單以及出貨 （首張圖必須是穿搭照）
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			出貨方式
		  		</td>
		  		<td>
		  			代售期間內由GetMore統一出貨
		  		</td>
		  		<td>
		  			自行出貨
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			客服聯繫
		  		</td>
		  		<td>
		  			由GetMore管理
		  		</td>
		  		<td>
		  			透過GetMore訊息系統管理客服
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			收費方式
		  		</td>
		  		<td>
		  			洗衣費用 + 成交所得 X （ 30%+金流手續費5% ）<a href="http://support.getmore.cc/?p=317" target="_blank">詳情</a>
		  		</td>
		  		<td>
		  			成交所得 X （ 10%+金流手續費5%+$10 ）<a href="http://support.getmore.cc/?p=163" target="_blank">詳情</a>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			如何領取現金
		  		</td>
		  		<td colspan="2">
		  			鑑賞期過後，扣除費用後的賣衣服所得將於15~30天內入到「線上帳戶」，
					您可選擇在購買時抵扣，或是選擇匯出現金至您指定帳戶。
					由於會計作業，現金匯出依照您每月15日前的每筆申請(每筆匯款費用為15元)，
					統一每月20日匯入您指定的銀行帳戶(非上班日則順延)。
		  		</td>
		  	</tr>
		  	<tr>
		  		<td align="center">
		  			如何加入
		  		</td>
		  		<td>
		  			詳閱相關規定，線上申請即可開始
		  		</td>
		  		<td>
		  			審核制，通過後開通系統即可開始
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>

		  		</td>
		  		<td>
	            	<p></br><center><a href="/info/brandsonly"><button type="button" class="btn btn-primary">開始代售申請</button></a></center></p>
		  		</td>
		  		<td>
					<p></br><center><a href="http://blog.getmore.cc/2015/04/getmore-plan-a/" target="_blank"><button type="button" class="btn btn-primary">申請加入</button></a></center></p>
		  		</td>
		  	</tr>
		  </table>
		</center>
		</div>
		<style>
		.sellchoicebox p {
			font-size: 16px;
		}
		.sellchoise-img{
			float: left;
			width: 450px;
			padding: 30px 20px;
		}
		.sell-or-bg{
			position:absolute; 
			top:160px; left:400px; 
			font-size: 40px; 
			font-weight:bold;
			background-color: #bbb;
			border-radius: 50%;
			color: #fff;
			width: 100px;
			height: 100px;
			padding: 20px 0 0 25px;
			z-index: 0;
			opacity: 0.7;
		}
		.sell-or{
			position:absolute; 
			top:160px; left:400px; 
			font-size: 40px; 
			font-weight:bold;
			//background-color: #bbb;
			border-radius: 50%;
			color: #fff;
			width: 100px;
			height: 100px;
			padding: 20px 0 0 25px ;
			z-index: 1;
		}
		</style>
{% endblock %}
