{% extends 'template/clothing_layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bonly_clothing.css">
<link rel="stylesheet" href="/assets/css/clothing_view.css">
{% endblock %}

{% block javascript %}
<script src="/assets/javascript/howtomakeaturn/clothing.js"></script>

{% endblock %}

{% block main %}
	
<div class='row' id='pagerow'>
	<h3>品牌代售 / Brands only</h3>
	<center><img class='margintop50' src="/assets/images/info/process.png"></center><br>
	<div class="alert alert-danger margintop40 padding30" role="alert">
		<p><i class="fa fa-info-circle" ></i>&nbsp;親愛的賣家：</p>
		<p>7/1 申請代售，不分類別，單件清洗費用 $99，運費統一收取 $120，並採用新制收取成交後手續費(依申請時間判定)，其他詳情，請閱讀以下規範。</p>
		<p>祝您時尚生活愉快！</p>		
	</div>
			<hr>
			<div class='padding90'>
                <p>GetMore是一個專為時尚人士打造的二手衣買賣平台，品牌代售的服務，希望那些在您的衣櫃中<u><b>閒置如新的品牌時裝</b></u>有再次被愛的機會！透過GetMore的網路技術讓會員享受二次時尚的生活</p>
            <!-- <p>您現在進入的是GetMore「品牌代售」申請流程。</p> -->
			<p>衣服的價值衡量來自於它的品牌、設計、材質、版型剪裁、新舊程度等元素，因此若是<u>過於普及、沒有價值或是陳舊的衣物，則不適合提出代售申請</u>。</p>
			<br><strong><p class='text-danger'>品牌代售申請前，請務必先仔細閱讀以下內容</p></strong>
			<p>GetMore提醒您！若遇以下狀況一律拒售：</p>
			<ul>
                <li>商品必須符合<a href="/info/brandsonly" target="_blank">品牌列表</a></li>
				<li>衣服狀態只售九成新以上。（陳年古著衣、特色衣除外）</li>
				<li>只售3年內購入的衣服。（壓箱寶勿入）</li>
				<li>貼身衣物。 </li>
				基於保障消費者個人衛生，GetMore只賣外衣(outerwear)，貼身衣物（內睡衣、泳衣、內搭小可愛、襯衣、貼身內搭褲）無論新舊程度， 一律不售。
				<li>衣服有瑕疵。</li>
				<img src="/assets/images/content/buy/errorsell.png"><br>
				衣服上若有污漬，請自行判斷是否能清洗掉。如清洗完畢，污漬仍殘留，一律以撤單退回處理。<br>
				（洗衣整新費用不會退還/衣服退回須加收處理費，所有提出申請代售的衣服皆視為同意送洗。因此，請仔細檢查。）
				<li>保存不良。（包含纖維老化、纖維脫落、布料鬆弛等狀況都會造成衣服明顯陳舊。）</li>
				<li>新娘婚紗禮服。</li>
				<li>衣服適合年齡層過高。（阿罵不會上網買衣服）</li>
                <li>真皮、麂皮商品考量賣家投入成本，僅做基本清潔保養。因此<u>只接受無瑕疵、幾近全新商品</u>，斑駁、磨損、發霉、色差、刮痕、死摺...等狀況恕不接受！</li>
				<li>其他狀況。</li>
				<ul>
					<li>GetMore拒售仿冒品，若不是真品，請不要提出代售申請，相關法律責任須自行負責。</li>
					<li>衣服原價低於$500。</li>
					<li>棉T因材質顏色等因素易顯舊，僅接受全新、幾近全新的狀況。(特殊設計除外）</li>
					<li>剪標商品/品牌標示不完整</li>
					<li>若某類型商品已達上架比例上限，則依該規定進行驗收，品牌列表會做更動，請逐次檢視。</li>
				</ul>
			</ul>
			<br>
			<p>GetMore再次提醒您！您的代售衣物在送洗前後將經過衣管家兩道驗收程序，若驗收時發現瑕疵或為拒收項目時，所產生之運費及手續費必須由賣家負擔。因此申請前請務必仔細檢查所有代售衣物！</p>
			<hr class="dashed_hr" />
			<p>撤單相關費用說明如下：</p>
			<p>運費：退回運費80元；若撤單後洗衣整新費用未達免運門檻將加收公告運費。</p>
			<p>處理費：2件以內不收費，第三件起 20元/件，處理費300元為限。若衣物已送洗，洗衣整新費用恕不退還。</p>
			</div><br>
			<hr>
			<div class='padding90 marginbottom40'>
			<h3>清洗整新費及運費定價</h3>
			<p>為保證一貫的品質，在GetMore的每一件衣服，都是必須經過洗衣公司嚴格清洗整新的，即使是全新的衣服也是。<br/>(皮衣由GetMore基本保養)</p>
			<img src="/assets/images/content/sell/washfee.png"><br /><br />
			<p class="getmoregreen" style="font-size:22px;  font-weight:bold;text-decoration: underline;">清洗整新費用：$99 / 件</p>
			貨單與運費說明：<br><br>
			<ol>
				<li>在GetMore，衣服的清洗費用皆以件計價。</li>
				<li>不分類別，單件清洗費用 $99。</li>
				<li>適當大小的包材裝成1袋/箱，並確實封口，單趟運費為 $120。</li>
				<li>若超過1袋/箱，每1袋/箱加收 $80。</li>
				<li>每張代售申請以30件為限，超過請另外申請一張單。</li>
			</ol>
			</div>
			<hr>
			<div class='padding90 marginbottom40'>
			<h3>上架時間</h3>
			<p>GetMore收到您的代售申請後，會通知物流到您指定的地點取件，請將代售衣服裝成<b>1袋/箱</b>，並確實封口。之後會經過以下的流程：收貨→驗收→送洗→驗收→拍照→丈量→上架，若在流程中無異常狀況發生(ex：驗收時發現衣服不符合規範)，約需14個工作天完成上架；若有異常狀況，客服人員將以e-mail或電話與您聯繫，完成上架時間將會往後延遲。</p>
			<h3>撤單處理</h3>
			<p>商品不符合規範將會進行撤單，您可至【會員中心】→【二手衣申請進度查詢】→【查看】，確認每件商品的驗收結果。撤單的商品將會寄還給您。</p>
			<h3>成交後手續費</h3>
			<p>當訂單商品確認售出時，GetMore會針對每項商品扣除銷售金額的30%代售手續費（包含上架、訂單運費、退貨等管理流程）＋5%金流管理手續費用，最低收取金額$100，剩餘金額會入到您的線上帳戶；若衣服未賣出，則不會收取代售手續費。（ps. GetMore負責洗衣、上架、行銷等流程，但並不保證您一定能獲利。建議您提供符合GetMore理念與規範的衣物，提高成交率。）</p>
			<p>若商品於代售期間未售出，寄回運費將由 GetMore 為您負擔。</p>
			<h3>期滿退回</h3>
			<p>商品代售期為六個月，GetMore評估後可能會視狀況延長，若代售期過後您沒有接到下架通知，也可主動提出。在您開始申請代售時，會徵詢您的意願，若衣服在代售期後沒有賣出，您可以選擇退回指定地址，或是全數交由平台協助處理。</p>
			<h3>其他注意事項</h3>
			<ul>
			<li>由於代售期約為半年，請提出<u>符合近期季節</u>的服飾申請代售</li>
			<li>捐贈的衣物一律需送洗（即使撤單也是），賣家必須負擔洗衣費</li>
            <li>商品攝影原則上以系統化方式並採用人檯拍攝</li>
			<li>衣服的價值衡量來自於它的品牌、設計、材質、版型剪裁、新舊程度等元素，GetMore提供代售服務，不保證一定售出</li>
            <li>ＧetMore 有可能將您代售的商品帶到實體活動販售</li>
            <li>GetMore 不預先收取上架費用，若代售期間要將商品領回，您需要負擔返還運費80元，以及上架途中領回處理費100元/件。</li>
            <li>對於上架方式若有不符合商品事實請Email至客服信箱，由於網站風格、版面設計以及字數限制，最終上架資訊包含影像呈現由GetMore決定，請您見諒</li>
			<li>GetMore保留代售上架權利</li>
            </ul>
			</div>

			<hr>
			<div class="margintop50">
    <center>
    	<a href="/sell/first" class="btn btn-primary">
        √ 詳讀規範並同意，開始代售申請 >>
    	</a><br>
    	(僅接受<a href="/info/brandsonly" target="_blank">限定品牌服飾</a>喔！)
  	</center>
			</div>
	</div>
	<style>
	#brandsonly{
		position: fixed;
		z-index: 1002;
		margin-top: -30px;
		margin-left: 115px;
	}
	.btn-nolink {
		color: #ffffff;
		background-color: #bde1d6;
		}
	</style>
{% endblock %}
