{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
  {% endblock %}


{% block boxmenu %}
   {% include '/dropdownnav/general_boxmenu.twig' %}
{% endblock %}

{% block searchbox%}
{% include '/searchbox/general_search.twig' %}
{% endblock %}  

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">

{% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}

{% block main %}
<div class="loading text-center" style="margin:10% 0">
  <i class="fa fa-spinner fa-pulse fa-4x"></i>
</div>
<div ng-app="DesignerView" class="content" style="display:none">
  <div id="categorySelection" style="float:left;width:175px;padding:30px 10px 20px 0;" ng-controller="ClothingFilterController">
    <ul class="leftcate list-unstyled" style="font-size:12px;">
        <li><a tabindex="-1" href="#?page=1">全部商品</a></li>
        {% for gender_querys, title in gender_list %}
        <li data-toggle="collapse" style="padding-top:10px;"><a href="#?{{ gender_querys }}&page=1&[[ search_obj|param:['season'] ]]">{{ title }}</a></li>
        <ul class="collapse" style="list-style: none;margin-left: -30px;" ng-class="isActive('{{ gender_querys }}');">
            {% for product_tye_query, title in product_type_list[title] %}
            <li>
                <a tabindex="-1" data-toggle="collapse" href="#?{{ gender_querys }}&{{ product_tye_query }}&page=1&[[ search_obj|param:['season'] ]]">
                    <i class="fa fa-angle-right" style="margin-right:7px;"></i>{{ title }}
                </a>
                <ul class="collapse" style="list-style: none;margin-left: -30px;" ng-class="isActive('{{ gender_querys }}&{{ product_tye_query }}');">
                {% for pattern_query, title in patterns[product_tye_query] %}
                    <li>
                        <a tabindex="-1" data-toggle="collapse" href="#?{{ gender_querys }}&{{ product_tye_query }}&{{ pattern_query }}&page=1&[[ search_obj|param:['season'] ]]">
                            <i class="fa fa-angle-right" style="margin-right:7px;"></i>{{ title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    <div class="leftfilter">
        <div class="leftfilter-title">風格<a class="pull-right clearall" ng-click="clearAll('style')">Clear</a></div>
        <div style="max-height: 275px; font-size:10px; overflow:auto; border:1px solid #bbb;padding: 5px;">
            {% for style, text in style_list %}
            <label class="style_label pull-left" style="width: 50%;"><input type="checkbox" value="{{ style }}" class="style" ng-model="style_list['{{ style }}']">{{ text }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="leftfilter">
        <div class="leftfilter-title">季節<a class="pull-right clearall" ng-click="clearAll('season')">Clear</a></div>
          <div style="font-size:10px;padding: 5px;">
            <div>
                {% for season, text in season_list %}
                <label class="season_label"><input type="checkbox" value="{{ season }}" class="season" ng-model="season_list['{{ season }}']">{{ text }}</label>
                {% endfor %}
            </div>
          </div>
    </div>
  </div>
  <div class="cateright">
      <div class="plandescription" style="margin-bottom:0px;border-bottom: 1px solid #999;">
        <div class="pageabouttitle" style="width:400px;"><font class="pagecentertitle red">主編推薦</font></div>
      <div class="pageaboutbox">
          <div class="pageaboutp">由 Getmore 主編精心挑選的單品！</div>          
          <div class="pageaboutp">您也可以利用左側的篩選器，或是上方的分類，找到喜歡的單品。</div> 

      </div>
    </div>
    <div class="pull-right">
        <nav style="width: auto;height: auto;" ng-controller="PaginationController">
          <ul class="pagination pagination-sm ng-hide" ng-show="page_count">
            <li ng-class="current_page == 1?'disabled':'';">
              <a aria-label="Previous" ng-click="GotoPage(current_page-1, current_page == 1)">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
              </a>
            </li>
            <li ng-if="page_list[0] != 1" ng-class="current_page == 1?'active':'';"><a ng-click="GotoPage(1)">1</a></li>
            <li class="disabled" ng-if="current_page-4 > 0"><a>...</a></li>
            <li ng-repeat="page in page_list" ng-class="page == current_page?'active':'';"><a ng-bind="page" ng-click="GotoPage(page)"></a></li>
            <li class="disabled" ng-if="current_page+4 < page_count"><a>...</a></li>
            <li ng-if="page_list[page_list.length-1] != page_count" ng-class="page_count == current_page?'active':'';"><a ng-bind="page_count" ng-click="GotoPage(page_count)"></a></li>
            <li ng-class="current_page == page_count?'disabled':'';">
              <a aria-label="Next" ng-click="GotoPage(current_page+1, current_page == page_count)">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="cateproduct">
        <div style="margin-top: 0px;margin-left: -15px;overflow: auto;clear: both;" ng-controller="ClothingListController">
            <a target="_blank" ng-href="/clothing/[[ clothing.launch_way | launch_way]]/[[ clothing.id ]]" ng-repeat="clothing in clothings">
                <div class="fresh-product-view lock-status-[[ clothing.lock_status ]]">
                    <p class="sold-out-text text-center" style="position:absolute;top:0;left:0;bottom:0;right:0;padding-top:125px;font-weight:bold;font-size:1.4em;background-color:#ffffff;opacity:0.7;" ng-show="clothing.lock_status==2">
                        SOLD<br/>OUT
                    </p>
                    <div style="background-image: url('http://s3.getmore.cc/clothing/[[ clothing.files[0] ]]/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
                    <img  src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
                    </div>
                  <div class="product-brand" ng-bind-template="[[ clothing.product_brand ]]"></div>
                  <div class="fresh-product-title" ng-bind-template="[[ clothing.product_title ]]"></div>
                  <div class="fresh-product-price" style="overflow:hidden;">
                    <span class="is-deleted" ng-bind-template="NT$ [[ clothing.product_original_price ]]" ng-if="clothing.launch_way == 3"></span>
                    <span class="is-deleted" ng-bind-template="NT$ [[ clothing.product_original_price|preview_price ]]" ng-if="clothing.launch_way == 2"></span>
                    <span class="fresh-product-sale" ng-bind-template="NT$ [[ clothing.product_sell_price ]]"></span>
                  </div>
                  <img ng-repeat="color in clothing.colors" ng-src="/admin/assets/images/colorbox/[[ color ]].png" style="width: 10px;height: 10px;margin-right:3px;" ng-if="clothing.launch_way == 3">
                  <span ng-if="clothing.launch_way == 2" ng-bind-template="[[ clothing.size_type_major ]] [[ clothing.size ]]"></span>
                  <div class="likeslideup like-fade">
                    <div class="likeslideupcontent" data-id="[[ clothing.id ]]" {% if user_id %} ng-click="toggle_like($event, clothing)" {% else %} data-toggle="modal" data-target="#logInModal" onclick="return false;" {% endif %} ng-class="clothing.isLike?'liked':'to_like'"><i class="fa fa-gratipay fa-2x"></i>
                        <div ng-bind="clothing.isLike?'SAVED':'SAVE'"></div></div>
                  </div>
                </div>
            </a>
            <div ng-if="!(clothings|size)" class="text-center">
                <div class='alert alert-info'>系統目前找不到這類商品喔！</div>
                <img src="/assets/images/home20/noclothe.png">
            </div>
        </div>
    </div>
        <div class="pull-right">
            <nav style="width: auto;height: auto;" ng-controller="PaginationController">
              <ul class="pagination pagination-sm ng-hide" ng-show="page_count">
                <li ng-class="current_page == 1?'disabled':'';">
                  <a aria-label="Previous" ng-click="GotoPage(current_page-1, current_page == page_count)" onclick="toTop()">
                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                  </a>
                </li>
                <li ng-if="page_list[0] != 1" ng-class="current_page == 1?'active':'';"><a ng-click="GotoPage(1)" onclick="toTop()">1</a></li>
                <li class="disabled" ng-if="current_page-4 > 0"><a>...</a></li>
                <li ng-repeat="page in page_list" ng-class="page == current_page?'active':'';"><a ng-bind="page" ng-click="GotoPage(page)" onclick="toTop()"></a></li>
                <li class="disabled" ng-if="current_page+5 < page_count"><a>...</a></li>
                <li ng-if="page_list[page_list.length-1] != page_count" ng-class="page_count == current_page?'active':'';"><a onclick="toTop()" ng-bind="page_count" ng-click="GotoPage(page_count)"></a></li>
                <li ng-class="current_page == page_count?'disabled':'';">
                  <a aria-label="Next" ng-click="GotoPage(current_page+1, current_page == page_count)" onclick="toTop()">
                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
  </div>
</div>



<script type="text/javascript">
  function toTop() {
    $(window).scrollTop($(".cateright").offset().top);
  }

  angular.module('DesignerView', ['ngRoute'])
    .config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }])
    .run(['$location', '$rootScope', function($location, $rootScope){
        $rootScope.$on('$locationChangeSuccess', function(e){
            if(!$location.search()['page']){
                $location.search('page', 1);
            }
            $rootScope.$broadcast('clothing_change');
        });
    }])
    .filter('split', function(){
      return function(str, split, index){
        return str.split(RegExp(split,'g'))[index];
      }
    })
    .filter('launch_way', function(){
      return function(way){
        if (way == 1) {
            return "brandsonly";
        } else if (way == 2) {
            return "brandsonly";
        } else if (way == 3) {
            return "designer";
        } else {
            return "buyer";
        }
      }
    })
    .filter('param', function(){
        return function(obj, select){
            var args = _.chain(arguments).toArray().flatten().value();
            
            if(_.isEmpty(obj)){
                return false;
            }

            if(_.isUndefined(select)){
                args.concat(_.keys(obj));
            }

            obj = _.pick.apply(_, args);
            
            return $.param(obj).replace(/%5B%5D/g, '');
        }
    })
    .filter('size', function(){
        return function(value){
            return _.size(value);
        }
    })
    .filter('preview_price', function(){
        return function(product_original_price){
            var preview = "";
            if (product_original_price == "0"){

            } else if (product_original_price == "1000"){
                preview = "500元 ~ 1,000元";
            } else if (product_original_price == "2000"){
                preview = "1,001元 ~ 2,000元";
            } else if (product_original_price == "3000"){
                preview = "2,001元 ~ 3,000元";
            } else if (product_original_price == "4000"){
                preview = "3,001元 ~ 4,000元";
            } else if (product_original_price == "5000"){
                preview = "4,001元 ~ 5,000元";
            } else if (product_original_price == "6000"){
                preview = "5,001元 ~ 6,000元";
            } else if (product_original_price == "7000"){
                preview = "6,001元 ~ 7,000元";
            } else if (product_original_price == "8000"){
                preview = "7,001元 ~ 8,000元";
            } else if (product_original_price == "9000"){
                preview = "8,001元 ~ 9,000元";
            } else if (product_original_price == "10000"){
                preview = "9,001元 ~ 10,000元";
            } else if (product_original_price == "15000"){
                preview = "10,001元 ~ 15,000元";
            } else if (product_original_price == "20000"){
                preview = "15,001元 ~ 20,000元";
            } else if (product_original_price == "25000"){
                preview = "20,001元 ~ 25,000元";
            } else if (product_original_price == "30000"){
                preview = "25,001元 ~ 30,000元";
            } else if (product_original_price == "35000"){
                preview = "30,001元 ~ 35,000元";
            } else if (product_original_price == "40000"){
                preview = "35,001元 ~ 40,000元";
            } else if (product_original_price == "45000"){
                preview = "40,001元 ~ 45,000元";
            } else if (product_original_price == "50000"){
                preview = "45,001元 ~ 50,000元";
            } else if (product_original_price == "60000"){
                preview = "50,001元 ~ 60,000元";
            } else if (product_original_price == "70000"){
                preview = "60,001元 ~ 70,000元";
            } else if (product_original_price == "80000"){
                preview = "70,001元 ~ 80,000元";
            } else if (product_original_price == "90000"){
                preview = "80,001元 ~ 90,000元";
            } else if (product_original_price == "100000"){
                preview = "90,001元 ~ 100,000元";
            } else if (product_original_price == "999999"){
                preview = "超過 100,000 元";
            }
            return preview;
        };
    })
    .controller('ClothingFilterController', ['$scope', '$location', '$http', function($scope, $location) {
        $scope.isActive = function(query_str){
            if(_.isEmpty($scope.search_obj)){
                return '';
            }
            var search_query = $.param($scope.search_obj).replace(/%5B%5D/g, '');

            if(RegExp('^'+query_str).test(search_query)){
                return 'in';
            }
            else {
                return '';
            }
        }

        $scope.clearAll = function(type){
            $location.search(type, []);
        }

        $scope.$watch('style_list', function(new_style_list, old_style_list){
            if(_.isEmpty(new_style_list)){
                return false;
            }

            $location.search('style', _.reduce(new_style_list, function(result, selected, style){
                if(selected){
                    result.push(style);
                }
                return result;
            }, []));

            $location.search('page', 1);
        }, true);

        $scope.$watch('season_list', function(new_season_list, old_season_list){
            if(_.isEmpty(new_season_list)){
                return false;
            }

            $location.search('season', _.reduce(new_season_list, function(result, selected, season){
                if(selected){
                    result.push(season);
                }
                return result;
            }, []));

            $location.search('page', 1);
        }, true);

        $scope.$on('clothing_change', function(){
            var search_style = $location.search().style,
                  search_season = $location.search().season;

            $scope.search_obj = $location.search();

            if(!_.isEmpty(search_style)){
                $scope.style_list = _.reduce(_.flatten([search_style]), function(result, style){
                    result[style] = true;
                    return result;
                }, {});
            } else {
                $scope.style_list = {};
            }

            if(!_.isEmpty(search_season)){
                $scope.season_list = _.reduce(_.flatten([search_season]), function(result, season){
                    result[season] = true;
                    return result;
                }, {});
            } else {
                $scope.season_list = {};
            }
        });
    }])
    .controller('ClothingListController', ['$scope', '$location', '$http', '$rootScope', function($scope, $location, $http, $rootScope) {

        $scope.clothings = [];

        {% if user_id %}
        $scope.toggle_like = function(e, clothing){
            e.preventDefault();
            e.stopPropagation();
            clothing.isLike = !clothing.isLike;
            $.ajax({
                type: 'PUT',
                url: '/restful/clothing_like/'.concat(clothing.id),
                data:{
                    user_id: {{user_id}},
                    type: clothing.launch_way
                },
                dataType: 'json',
                success: function(res){
                    console.log(res);
                }
            });
            return false;
        }
        {% endif %}

        $scope.$on('clothing_change', function(){
            $http.get('/restful/suggested_page/url/{{ url }}?'+$.param($location.search()))
                .success(function(clothings, status_code){
                    $scope.clothings = clothings;
                    $(document).trigger('load_finished');
                })
                .error(function(error_msg, status_code){
                    $(document).trigger('load_finished');
                });

            $http.get('/restful/suggested_page/url/count/{{ url }}?'+$.param($location.search()))
                .success(function(clothing_length, status_code){
                    $rootScope.$broadcast('clothing_length', clothing_length);
                });
        });
    }])
    .controller('PaginationController', ['$scope', '$location', '$http', function($scope, $location, $http){
        $scope.$on('clothing_length', function(e, clothing_length){
            $scope.page_count = Math.ceil(clothing_length/30);
            $scope.current_page = parseInt($location.search()['page'], 10);

            var segment_size = 5,
                  start;

            if ($scope.page_count - 1 < segment_size){
                // 分頁數目不足以分段
                $scope.page_list = _.range(1, $scope.page_count + 1);
            } else if (($scope.page_count - $scope.current_page) < segment_size) {
                // 分頁結尾顯示
                $scope.page_list = _.range($scope.page_count - segment_size, $scope.page_count);
            } else if (($scope.current_page - segment_size) < 0) {
                // 分頁開頭顯示
                $scope.page_list = _.range(2, 6);
            } else {
                // 分頁開頭顯示
                start = Math.floor($scope.current_page/(segment_size - 1)) * (segment_size - 1);

                $scope.page_list = _.range(start, start+segment_size);
            }
        });

        $scope.GotoPage = function(page, disabled){
            if(disabled){
                return false;
            }
            $location.search('page', page);
        }
    }]);

</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('load_finished', function(){
      $('.loading').fadeOut(200, function(){
        $('.content').fadeIn(200);
      });
    });
  });
</script>

<style>
.fresh-product-view:hover .like-fade {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity:1;
}

.like-fade {
    opacity: 0;
}

.liked {
    color: red;
}

#categorySelection {
    width: 175px;
}

#categorySelectionTop {

}

.bannerbox{
    margin: 10px 0;
}
.getmore_banner01{
    float:left;
    margin-right: 5px; 
}
.getmore_banner02{
    float:left;
}
.bannerbox2{
    margin: 10px 0;
}
.getmore_banner03{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner04{
    float:left;
    margin-right: 20px; 
  margin-top:10px;
}
.getmore_banner05{
    float:left;
  margin-top:10px;
}
.bannerboxtitle{
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    font-family: "HelveticaNeue-Light","細明體";
    color: #000;
}
.bookinggetmore {
  background-image: url("/assets/images/bookinggetmore.jpg");
  background-repeat: no-repeat;
}
.leftcate{
  font-size: 10px;
  margin-bottom: 20px;
}
.leftcate a{
  color:#000;
}
.leftfilter{
  border-top: 1px solid #999;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.leftfilter-title{
  margin:20px 0 10px 0;
}
.season_label{
  display: block;
}
.style_label{
  margin-bottom: 0px;
}
.cateright{
  float:right;
  width:825px;
  padding-left:3px;
  min-height:500px;
  padding:15px;
}
.cateproduct{
  margin-top:20px;
  float: left;
  margin-left: 30px;
  min-width: 795px;
}
.clearall{
    font-size: 10px;
    font-weight: 900;
    font-family: Tahoma,Arial,sans-serif;
    color: #bbb;
}
</style>
{% endblock %}
