{% extends 'template/getmore_layout.html.twig' %}

  {% block css %}
    {% include '/template/meta_general.html.twig' %}
    <link rel="stylesheet" href="/assets/css/bonly_clothing.css">
    <link rel="stylesheet" href="/assets/css/clothing_view.css">
  {% endblock %}

  {% block javascript %}
    <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
    <script src="//unslider.com/unslider.min.js"></script>
  {% endblock %}

{% block boxmenu %}
   {% include '/dropdownnav/general_boxmenu.twig' %}
{% endblock %}

{% block searchbox%}
{% include '/searchbox/general_search.twig' %}
{% endblock %}  

{% block menu %}
<div class='menuarea row font-size14' style="width:1000px;margin:0 auto;">
{% include '/dropdownnav/general_nav.twig' %}    
</div>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover().dropdown();
  });
</script>
{% endblock %}


{% block main %}
<div class="main" style="margin-top: 10px">
  <span class='fresh-title'>{{ title }}</span><br>
  {% for cloth in data %}
      <a target="_blank" href="/clothing/brandsonly/{{ cloth.product_id }}">
        <div class="fresh-product-view lock-status-0">
          <div class="like_tag  to_like " data-id="{{ cloth.product_id }}" style="display: none;">
            <img src="/assets/likeicon/to_like.png">
          </div>
          <div style="background-image: url('s3.getmore.cc/clothing/{{ cloth.cloth_data.files[0] }}/medium.jpg');background-repeat: no-repeat;background-size:100%;margin-bottom: 5px;">
          <img  src="https://s3-ap-southeast-1.amazonaws.com/getmore/3X2.png" style="    width: 230px;height:345px;">
          </div>
          <div class="fresh-product-title">{{ cloth.product_title }}</div>
          <div class="fresh-product-price" style="white-space:nowrap;">
            <span class="is-deleted">NT${{ cloth.cloth_data.product_original_price }}</span>
            <span class="fresh-product-sale">NT${{ cloth.cloth_data.product_sell_price }}</span>
          </div>
          <span class="size-tag">Size {{ cloth.cloth_data.size }}</span>
        </div>
      </a>
  {% endfor %}
</div>
<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=239678122794926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    $(function () {
        LikeButtonModule.initialize();
        //<?php if($logined): ?>
            LikeButtonModule.setIsLogined(true);
        //<?php endif; ?>
    });
</script>
{% endblock %}
