<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ meta_charset }}">
    <title>{{ site_title }}</title>
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="format-detection" content="telephone=no">
    <!-- add meta tag added by howtomakeaturn -->
    <meta property="fb:app_id" content="239678122794926">
    <meta property="og:url" content="{{ current_url() }}">
    {% if uri[0] == 'closet' %}
        <meta property="og:image" content="{{ closet['profile_pic_url_big'] }}" />
        <meta property="og:title" content="{{ closet['title'] }}" />
        <meta property="og:description" content="{{ closet['description'] }}" />
    {% else %}
        <meta property="og:image" content="http://beta.getmore.cc/assets/images/fb-01.png" />
    {% endif %}    
    <meta property="og:image" content="{{ clothing['files'][0]|s3_url('large') }}">
    <meta property="og:title" content="{{ clothing['product_title'] }}">
    <meta property="og:description" content="{{ clothing['description'] }}">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/core.css">
    <link rel="stylesheet" href="/assets/css/clothing.css">
    <link rel="stylesheet" href="/assets/css/checkout.css">
    <link rel="stylesheet" href="/assets/css/member.css">
    <link rel="stylesheet" href="/assets/css/sellorder.css">

    {% if uri[0] == 'closet' %}
        <script src="/assets/vendor/jquery/jquery.js"></script>
        <script src="/assets/javascript/bootstrap.js"></script>
        <script src="/assets/javascript/howtomakeaturn/jquery.form.min.js"></script>

        <script src="/assets/vendor/underscore-amd/underscore.js"></script>
        <script src="/assets/vendor/backbone-amd/backbone.js"></script>
        <script src="/assets/javascript/howtomakeaturn/backbone.localStorage.js"></script>
        <script src="/assets/javascript/howtomakeaturn/main.js"></script>
    {% else %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/javascript/bootstrap.js"></script>
        <script type="text/javascript">
            var getmore = getmore || {}; // Backbone namespace
            var root_path = '.';
        </script>        
    {% endif %}

    <script async="" src="//connect.facebook.net/en_US/fbds.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/javascript/bootstrap.js"></script>
    <script src="/assets/vendor/underscore-amd/underscore.js"></script>
    <script src="/assets/vendor/backbone-amd/backbone.js"></script>
    <script src="/assets/javascript/howtomakeaturn/backbone.localStorage.js"></script>
    <script src="/assets/javascript/libs/jquery/jquery.twzipcode-1.4.1.js"></script>
    <script src="/assets/javascript/libs/jquery/jquery.browser.js"></script>
    <script src="/assets/javascript/libs/jquery/jqzoom/js/jquery.jqzoom-core.js"></script>
    <link rel="stylesheet" href="/assets/javascript/libs/jquery/jqzoom/css/jquery.jqzoom.css" type="text/css">
    <script src="/assets/javascript/howtomakeaturn/main.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.lunZhuan.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.countdown.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.simplePagination.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.jeditable.js"></script>

    {% block javascript %}
    {% endblock %}

    <script type="text/javascript">
        var getmore = getmore || {}; // Backbone namespace
        getmore.free_shipping = 0;
        var root_path = '.';
    </script>
    <script src="/assets/javascript/howtomakeaturn/search.js"></script>

    <!-- new google analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46722397-1', 'getmore.cc');
        ga('send', 'pageview');
    </script>
    <script>
    var originalLeave = $.fn.popover.Constructor.prototype.leave;
    $.fn.popover.Constructor.prototype.leave = function(obj){
      var self = obj instanceof this.constructor ?
        obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
      var container, timeout;

      originalLeave.call(this, obj);

      if(obj.currentTarget) {
        container = $(obj.currentTarget).siblings('.popover')
        timeout = self.timeout;
        container.one('mouseenter', function(){
          //We entered the actual popover – call off the dogs
          clearTimeout(timeout);
          //Let's monitor popover content instead
          container.one('mouseleave', function(){
            $.fn.popover.Constructor.prototype.leave.call(self, self);
          });
        })
      }
    };

    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover click',
            delay:{show: 50, hide: 400},
            'placement': 'bottom',
            'show': true,
            'content': '<div class="popoverstyle"><a href="/clothing/category/new/">NEW / 最新上架</a> <br /> <a href="/clothing/category/women/">WOMEN / 女裝</a> <br /><a href="/clothing/category/men/">MEN / 男裝</a><br /> <a href="/clothing/category/kids/" target="_blank">KIDS / 童裝</a> </div>',
            'html': true
        });
    })
    </script>
</head>
<body>
    <header id="newheader">  
        <div id="header-containerbg">
            <div id="header-container">
                <div class="pull-left" style="text-align:center;height:36px;background:#fff;display:inline;margin-top:4px;">
                    <div style="font-size:10px;margin:auto;padding:10px 10px;text-decoration:underline;"><a href="/#" style="color:#000;">GETMORE</a></div>
                </div>
                <div class="pull-left" style="text-align:center;height:36px;display:inline;margin-top:4px;">
                    <div style="font-size:10px;margin:auto;padding:10px 10px;"><a href="/marketplace" style="color:#fff;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味，
                    你在這可以玩上一整天，享受這場時尚市集饗宴。">MARKETPLACE</a></div>
                </div>
                <ul class="list-inline pull-right newnavbar">
                  {% if user_in_group('Seller') %} 
                  <li class="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg"></i>&nbsp;<span class="caret" style="border-top:4px solid #fff;"></span></a>
                  <ul class="dropdown-menu" role="menu" style="min-width:60px;border-radius:0px;">
                    <li><a href="/marketplace/orderlist/2">我的訂單管理</a></li>
                    <li><a href="/closet/my/marketplace">狂熱市集衣櫃</a></li>
                    <li><a href="/marketplace/manage">狂熱市集管理平台</a></li>
                  </ul>
                  &nbsp;&nbsp;
                  </li>
                  |<li>&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<a href="/closet/my_favorite"><i class="fa fa-gratipay fa-lg"></i></a>&nbsp;&nbsp;&nbsp;</li>
                  |<li class="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-lg"></i>&nbsp;<span class="caret" style="border-top:4px solid #fff;"></span></a>
                  <ul class="dropdown-menu" role="menu" style="min-width:60px;border-radius:0px;">
                    <li><a href="/member/order">購物訂單</a></li>
                    <li><a href="/closet/my">我的衣櫃</a></li>
                    <li><a href="/member/account">線上帳戶</a></li>
                    <li><a href="/member/information">會員中心</a></li>
                  </ul>
                  &nbsp;&nbsp;</li>
                  |<li style="position:relative;">&nbsp;&nbsp;&nbsp;&nbsp;<a href='/message/fin/box'><i class="fa fa-envelope fa-lg">{% if (count_notReadPost() != 0 ) %}<span class="badge Headerbadge">{{count_notReadPost()}}</span>{% endif %}&nbsp;&nbsp;&nbsp;</i></a>
                  |<li class="dropdown">&nbsp;&nbsp;&nbsp;<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart fa-lg"><span class="badge Headerbadge" id ="cart_badge_Headerbadge"></span></i></a>
                  <ul class="dropdown-menu" role="menu" id="shopping-cart-menu" style="color:#000;">
                    <li>
                      <span>Loading ... </span>
                    </li>
                  </ul>
                    &nbsp;&nbsp;&nbsp;</li>
                
                <div id='checkout-modal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <center>
                            <div class="modal-header">
                                <h4 class="modal-title">結帳提醒</h4>                                          
                            </div>
                            <div class="modal-body">
                                <p>
                                    請問是否確認過這些衣服尺寸有符合您的身型嗎？<br />
                                    商品照片下方有詳細尺寸表。<br />
                                    （愛護地球，避免退貨可節省不必要的浪費喔！）<br />
                                </p>
                                <p><span class="prmary-btn-a"><a class='btn btn-primary' href='/checkout/first'>我確認過了</a></span> <a class='btn btn-default' data-dismiss="modal">再檢查看看</a></p>
                            </div>
                        </center>
                    </div>
                  </div>
                </div>
                    {% if not logined %}
                    |<li>
                       &nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#logInModal">login&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    {% else %}
                    |<li>
                        &nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="/auth/logout?redirect_url={{ current_url()|url_encode }}">logout
                        &nbsp;&nbsp;&nbsp;</a>
                    </li>
                    {% endif %}
            </ul>
            </div>
        </div>
      <div id="navigation">
        <div class='row logoarea'>
          <div class='pull-left'>
            <a href="/"><img src='/assets/images/logos/logo17760.png'></a>
          </div>
          <div class="pull-right logoarea-right">
            <a class="headhighlight" href='http://blog.getmore.cc/about-getmore/' target="_blank">什麼是GetMore?</a>
            <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">GetMore時尚誌</a>
            <a class="headhighlight" href="/info/sellchoice" target="_blank">賣衣服</a>
          </div>
        </div>
      </div>
      <div class='container planpopover boxmenu'>
        <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">設計師品牌 / Getmore Select</a></div>
        <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">品牌二手代售 / Brands Only</a></div>
      </div>

        <div class='menuarea row font-size14' style="width:980px;margin:0 auto;">
            <ul class='headmenu-left font-size12'>
              <li><a href="/clothing/category/new/">NEW</a></li>
              <li><a href="/clothing/category/women/"><span class="red">WOMEN</span></a></li>
              <li><a href="/clothing/category/men/">MEN</a></li>
              <li><a href="/clothing/category/kids/" target='_blank'>KIDS</a></li>
              <li>|</li>
              <li><a href="http://blog.getmore.cc/category/getmore-lookbook/" target="_blank">LOOKBOOK人物誌</a></li>
            </ul>
            <ul class='headmenu-right'>
              <li style="margin-right:15px;"><input type="text" name="href" id="href" class="form-control head-search" placeholder="Search"></li>
              <li><img class="head-search-btn" src="/assets/images/search.png"></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <!-- modals -->
        <div class="modal fade" id="signUpModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">註冊會員</h4>
                    </div>
                    <div class="modal-body">
                        <div class="fb_login">
                            <h4>GetMore 是亞洲第一個二手衣時尚購物網站</h4>
                            <a class="fb_login_btn btn btn-primary" href="{{ site_url('/auth/facebook?redirect_url=') }}{{ current_url()|url_encode }}">用facebook登入</a> 快使用facebook快速登入!
                            <hr class="dashed_hr">
                        </div>
                        <div id="getmore_login">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>註冊會員</h4>
                                </div>
                                <div class="col-md-8 pull-right announcement getmore_instruction">
                                    還不是GetMore的會員嗎？ 免費加入！
                                </div>
                            </div>
                            <form method="POST" action="/auth/register" name="dig_register">
                                <div class="form-group">
                                    <label for="sign_up_email">信箱</label>
                                    <div class="col-md-5 pull-right description">此為您的會員登入帳號</div>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                                </div>
                                <div class="form-group">
                                    <label for="nickname">暱稱</label>
                                    <div class="col-md-5 pull-right description">14字元以內</div>
                                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="暱稱">
                                </div>
                                <div class="form-group">
                                    <label for="new_password">密碼</label>
                                    <input type="password" class="form-control" id="new_password" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="password_confirm">確認密碼</label>
                                    <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" value="1" name="aggree" style="width:20px;">我已閱讀，並同意<a href="/info/buy#buypolicy">GetMore 服務條款</a>
                                </div>
                                <a id="start_to_getmore" href="javascript:document.forms['dig_register'].submit();" class="btn btn-primary">開始GetMore</a>
                                <div id="registration" class="col-md-4 pull-right">
                                    已是會員？ <a id="logIn" href="#logInModal" data-toggle="modal" onclick="$(&quot;#signUpModal&quot;).modal(&quot;hide&quot;);">由此登入！</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="announcement text-center">已成為「會員」或是點擊「用facebook 登入」按鈕的同時,
                            <br>表示您已詳讀並同意GetMore相關的<a href="/info/buy#buypolicy" target="_blank">購買條款</a>以及<a href="/info/sell#sellpolicy" target="_blank">代洗代售服務條款</a>。</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="logInModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">會員入口</h4>
                    </div>
                    <div class="modal-body">
                        <div class="fb_login">
                            <h4>GetMore 是亞洲第一個二手衣時尚購物網站</h4>
                            <a class="fb_login_btn btn btn-primary" href="{{ site_url('/auth/facebook?redirect_url=') }}{{ current_url()|url_encode }}">用facebook登入</a> 快使用facebook快速登入!
                            <hr class="dashed_hr">
                        </div>
                        <div id="getmore_login">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>會員登入</h4>
                                </div>
                                <div class="getmore_instruction col-md-8 pull-right announcement">
                                    若已是GetMore的會員,請在此登入!
                                </div>
                            </div>
                            <form name="login-form" action="/auth/login" method="POST">
                                <div class="form-group">
                                    <label for="email">信箱</label>
                                    <input type="email" class="form-control" id="email" name="identity" placeholder="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">密碼</label> <a target="_blank" id="forget_password" class="pull-right" href="/auth/forget_password">忘記密碼？</a>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <a id="start_to_getmore" href="javascript:document.forms['login-form'].submit();" class="btn btn-primary">開始GetMore</a>
                                <input type="hidden" name="redirect_url" value="{{ current_url()|url_encode }}">
                                <div id="registration" class="col-md-4 pull-right">
                                    還不是會員? <a id="register" href="#signUpModal" data-toggle="modal" onclick="$(&quot;#logInModal&quot;).modal(&quot;hide&quot;);">來註冊!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="announcement text-center">已成為「會員」或是點擊「用facebook 登入」按鈕的同時,
                            <br>表示您已詳讀並同意GetMore相關的<a href="/info/buy#buypolicy" target="_blank">購買條款</a>以及<a href="/info/sell#sellpolicy" target="_blank">代洗代售服務條款</a>。</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modalwomen">
            <div class="modal-dialog-800">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">尺寸參考表-WOMEN</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-center">
                            <img src="/assets/images/content/buy/womensize.png">
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modalmen">
            <div class="modal-dialog-800">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">尺寸參考表-MEN</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-center">
                            <img src="/assets/images/content/buy/mensize.png">
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modalkids">
            <div class="modal-dialog-800">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">尺寸參考表-KIDS/BABY</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-center">
                            <img src="/assets/images/content/buy/kidssize.png">
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modalbtn-04">
            <div class="modal-dialog-800">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">創造更多，得到更多</h4>
                    </div>
                    <div class="modal-body">
                        <a href="http://getmore.cc/sellorder/info/sellpolicy/"><img src="/assets/images/banner/btn-04.png">
                        </a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- modals end -->

        <!-- header start -->

        <div class="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
    <!-- /.main -->
    <!-- /.container -->


<!--New footer-->

<div style="margin:0 auto;">
<footer id="newfootercontainer">
  <div class="footcontainer">
    <div id="newfooterbox">
      <div id="footerabout">
        <div class="footerabouttitle">
          關於 GetMore
        </div>
        <div class="footerabout" style="margin-top:10px;">
          <p>在 GetMore 直接向時尚達人購買精選的獨立品牌以及二手時尚單品！</p>
          <p>GetMore 是一個以「共享經濟」為概念的時尚分享平台，我們的使命是挖掘世界各地的搭配達人，以及獨立品牌的時裝設計師。在這，你可以透過 GetMore 的網站，發掘，購買時尚賣家供應的獨特搭配單品。<a href="http://blog.getmore.cc/about-getmore/" target="_blank">..more</a></p>
        </div>
      </div>
      <div>
        <div class="footerlinkbox" style="margin-left:80px;">
          <div class="footerabouttitle">
            發掘
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://getmore.cc" target="_blank">HOME 購物首頁</a></div>
            <div class="footerlink"><a href="/info/sellchoice" target="_blank" style="color:#b31217">賣衣服</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc" target="_blank">GetMore Blog</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc/category/getmore-lookbook/" target="_blank">LookBook 人物誌</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc/websitemap/" target="_blank">網站地圖</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/knowledgebase/returnpolicy/" target="_blank">退貨政策</a></div>
          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            公司
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://blog.getmore.cc/about-getmore/" target="_blank">關於 GetMore</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc" target="_blank">工作機會</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc/2015-summer-intern/" target="_blank">夏季實習計畫</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc/publicrelations/" target="_blank">新聞室</a></div>
          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            聯絡
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://support.getmore.cc/" target="_blank">說明中心</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/faqpage/" target="_blank">常見問題</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/" target="_blank">聯絡我們</a></div>
            <div class="footerlink" style="margin-top:8px;">
              <a href="http://www.facebook.com/getmore.cc" target="_blank">
                <i class="fa fa-facebook-square fa-2x"  style="color:#3b5998;"></i>
              </a>
              <a href="https://instagram.com/getmorecc/" target="_blank"> 
                <i class="fa fa-instagram fa-2x" style="color:#3F729B;"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/" target="_blank">  
                <i class="fa fa-youtube-square fa-2x" style="color:#b31217;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="newfootercopyright">
      <hr style="margin:0 0 10px 0;">
      <div class="pull-left" style="margin-left:30px;"><i class="fa fa-cc-visa fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-credit-card fa-2x"></i></div>
      <div class="pull-right" style="font-size:10px;margin-right:30px;">Copyright © 2015 GetMore.cc INC. All rights reserved.</div>
    </div>
  </div>
</footer>
<!--END of footer -->
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>
</body>

</html>