<!DOCTYPE html>
<html class="no-js" lang="zh-tw">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>GetMore - 二手衣時尚購物網站/綠色時尚/買二手衣/賣二手衣</title>
        <meta name="description" content="GetMore 是亞洲第一個二手衣時尚買賣網站，提供穿二手衣的生活新理念，輕鬆享受二手衣獨特、環保、時尚的二次生活。">
        <meta name="keywords" content="時尚,衣著,服飾,時裝,流行,褲子,買二手衣,賣二手衣,環保,電子商務,startup,二次時尚">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <!-- add meta tag added by howtomakeaturn -->
        <meta property="fb:app_id" content="239678122794926">
        <meta property="og:url" content="http://beta.getmore.cc/info/orderlist_0">
        <meta property="og:image" content="http://beta.getmore.cc/assets/images/fb-01.png">
            
        <link rel="shortcut icon" href="http://beta.getmore.cc/assets/images/favicon.ico">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/typeahead.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/getmore_bootstrap.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/home.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/clothing.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/checkout.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/member.css">
        <link rel="stylesheet" href="http://beta.getmore.cc/assets/css/sellorder.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
#newHeaderContainer{

}
#newHeaderStickyContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
}
#newHeaderMenu{
  margin-bottom: 20px;
  z-index: 101;
  background: #fff;
  overflow: auto;
}
.getmorelogoimg{
  margin: 12px 50px 0 0;
  float: left;
}
.searchbar{
  margin-top: 25px;
  overflow: auto;
  float: left;
}
.searchbarform{
  width: 505px;
  margin: 10px 5px;
  overflow: auto;
}

.searchicon{
  position: absolute;
  left: 17px;
  top: 50px;
}
.newHeaderRight{
  float:right;
  margin-top: 25px;
  color: #333;
  position: relative;
}
.newHeaderCart{
  margin-top: 15px;
  width: 50px;
  text-align: center;
 // border-left: 1px solid;
  //border-right: 1px solid;
  float: left;
  position: relative;

}
.newHeaderMember{
  margin-top: 15px;
  width: 50px;
  text-align: center;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
}
.newHeaderMsg{
  margin-top: 15px;
  width: 50px;
  text-align: center;
 // border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
  position: relative;
}
.newHeaderlogin{
  margin-top: 15px;
  width: 60px;
  text-align: center;
  border-left: 1px solid #bbb;
 // border-right: 1px solid #bbb;
  float: left; 
}
.Headerbadge{
  top: -8px;
  margin-left: -5px;
  position: absolute;
  background-color: #dd0017;
  float: left;
}
.planbar{
  margin: 8px 0;
}
.newplanabtn{
  width: 325px;
  margin-right: 8px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}
.newplanbbtn{
  width: 325px;
  margin-right: 9px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}
.newplancbtn{
  width: 325px;
  border-radius: 0px;
  background-color: #000;
  border: 0px solid #000;
  color: #fff;
  padding: 4px 12px;
}
.menuarea{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: auto;
  padding: 7px 0;
}

.newHeaderMenu-left {
    display: inline;
    float: left;
    margin-bottom: 0px;
}

.newHeaderMenu-right {
    display: inline;
    float: right;
    margin-bottom: 0px;
}

.newHeaderMenu-left li {
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-right: 40px
}

.newHeaderMenu-right li {
    cursor: pointer;
    float: left;
    margin-right: 15px
}

ul.newHeaderMenu-left {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

ul.newHeaderMenu-right {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}
.newHeaderMenu-left > li > a {
  color: #595757;
}

.newHeaderMenu-right > li > a {
  color: #595757;
}

.newHeaderMenu-left > li > a:hover {
  color:#4DBAA9;
  text-decoration:none;
}

.newHeaderMenu-right > li > a:hover {
  color:#4DBAA9;
  text-decoration:none;
}

li.newHeaderMenu-highlight {
  //background: url('/assets/images/IconStar-red.png') no-repeat center left;
}

li.newHeaderMenu-highlight > a {
  color: red;
}
#newbannerContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newbannerfirstrow{
  overflow: auto;
}
#newbanner-1{
  float: left;
  margin-right: 14px;
}
#newbanner-2{
  float: left;
}
#newbannersecondrow{
  margin-top: 10px;
  overflow: auto;
}

#newbanner-3{
  float: left;
  margin-right: 11px;
}
#newbanner-4{
  float: left;
  margin-right: 13px;
}
#newbanner-5{
  float: left;
}

/*! newpage by PoKai */

.pagetitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  margin-left: 30px;
  font-weight: bold;
}
.pagecentertitle{
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: bold;
}

.fifthrow {
  overflow: auto;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  min-height: 160px;
}
.pageabouttitle{
  margin: 0 auto;
  width: 230px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;

}
.pageaboutbox{
  margin-top: 15px;
}
.pageaboutp{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 25px;
}

.sixthrow{
  overflow: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
//  min-height: 160px;
  border-bottom: 2px solid #888;
}
.pageliketitle{
  margin: 0 auto;
  width: 330px;
  border-bottom: 2px solid #000000;
  letter-spacing: 5px;
  text-align: center;
}

.pagelikebox{
  overflow: auto;
  margin: 20px auto 0px auto;
  display:inline-block; 
}

.pagelikefacebook ,.pagelikeinstagram{
  float: left;
  margin-right: 20px;
}

.pagelikeyoutube{
  float: left;
}

a.pagelikea{
  color: #333;
  text-decoration: none;
}
a.pagelikea:hover{
  color: #000;
  text-decoration: none;
}

#newContainer {
  z-index: 101;
  background-color: #fff;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
#newfooter{
  z-index: 101;
  background-color: #f9f9f9;
  width: 1000px !important;
  margin: 0 auto;
  padding-top: 10px;
}
{% block stylesheets %}
{% endblock %}
</style>

    </head>
    <body>
      {% include 'GetMore_HomePage_headbar.html.twig' %}
      {% block body %}{% endblock %}

      <script async="" src="/assets/GetMore_HomePage_files/fbds.js"></script>
      <script async="" src="/assets/GetMore_HomePage_files/analytics.js"></script>
      <script src="/assets/GetMore_HomePage_files/jquery.min.js"></script>
      <script src="/assets/GetMore_HomePage_files/bootstrap.js"></script>
      <script type="text/javascript">
          var getmore = getmore || {}; // Backbone namespace
          var root_path = '.';
      </script>        
      <script src="/assets/GetMore_HomePage_files/search.js"></script>
        
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46722397-1', 'getmore.cc');
        ga('send', 'pageview');
      </script>
        
      <script>
      (function() {

        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6022979096894', {'value':'0.00','currency':'USD'}]);
      </script>
      <noscript>&lt;img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022979096894&amp;amp;cd[value]=0.00&amp;amp;cd[currency]=USD&amp;amp;noscript=1" /&gt;</noscript>     

      <script>
        if ( localStorage.getItem('ItemCollection') ) {
          var dropdownFooter1 = '<li role="presentation" class="divider"></li><li><img src="/assets/images/cartempty.png"></li>';
          $("#shopping-cart-menu").append(dropdownFooter1);
          var temparray = localStorage.getItem('ItemCollection');
          temparray = temparray.split(",");

          var ClothingNum = 0;
          for (var i = 0; i < temparray.length; i++)
            if (localStorage.getItem('ItemCollection-'+temparray[i]) ) 
              ClothingNum++;

            if ( ClothingNum != 0 ) {
              var dealtemplate = '<span id = "dealtemplate" class="pull-right checkout-button"><a class="poaki-checkout-link" href="/checkout/first"><img src="/assets/images/checkout/paybillbtn.png"></a></span>';
              $("#shopping_cart_title").append(dealtemplate);
              document.getElementById("numDealCloting").style.display = "inline";
              document.getElementById("numDealCloting").innerHTML = ClothingNum;

                    if ( temparray.length != 0 ) {
                      document.getElementById("shopping-cart-menu").children[2].remove();       

                      var itemsPrice = 0;
                      for ( var i = 0 ; i < temparray.length ; i++ ) {
                        if ( localStorage.getItem('ItemCollection-'+temparray[i]) ) {
                            var cart_obj = localStorage.getItem('ItemCollection-'+temparray[i]);
                            cart_obj = JSON.parse(cart_obj);
                            // console.log(cart_obj);
                            var newLi = $('<li/>')
                            var mainDiv = $('<div class="cart-block">');                    
                            var img = $('<img>'); //Equivalent: $(document.createElement('img'))
                            img.attr('src', 'http://s3.getmore.cc/clothing/'+cart_obj.files[0]+'/small.jpg');
                            img.css('width', '50px');
                            var newDiv = $('<div class="cart-img">');
                            img.appendTo(newDiv);
                            newDiv.appendTo(mainDiv);
                            mainDiv.append("<div class='cart-title'>" + cart_obj.product_title + "</div>");
                            mainDiv.append("<div class='cart-price'>$" + cart_obj.product_sell_price + "</div>");
                            var newButton = $('<button type="button" class="close">&times;</button>');
                            newButton.attr("data-id", cart_obj.id);
                            newButton.attr("id", cart_obj.id);
                            newButton.addClass('delete_item');
                            var newDiv2 = $("<div class='cart-close'>")
                            newDiv2.append(newButton);
                            mainDiv.append(newDiv2);
                            mainDiv.append('<div style="clear: both;"></div>');      
                            newLi.append(mainDiv);
                            $("#shopping-cart-menu").append(newLi);                              
                            itemsPrice += parseInt(cart_obj.product_sell_price);  
                        } // if        

                      } // for
                      var dropdownFooter = '' + 
                          '<li role="presentation" class="divider"></li>' +
                          '<li class="pull-right">共<span id = "ClothingNum" class="cart-number">' + ClothingNum + '</span>件 好衣服</li>' +
                          "<li style='clear: both;'></li>" +
                          '<li class="pull-right">好衣總價 $<span id ="itemsPrice" class="cart-number">' + itemsPrice  + '</span></li>';
                      
                      $("#shopping-cart-menu").append(dropdownFooter);
                      $("#shopping-cart-menu").css('max-height', '400px');
                      $("#shopping-cart-menu").css('min-width', '280px');
                      $("#shopping-cart-menu").css('overflow', 'auto'); 
                    } // if
            } // if

      } // if
      else{
        var dropdownFooter = '<li role="presentation" class="divider"></li><li><img src="/assets/images/cartempty.png"></li>';
        $("#shopping-cart-menu").append(dropdownFooter);
      } // else


        $("#shopping-cart-menu").delegate(".delete_item", "click", function (event) {
            event.preventDefault();
            console.log($(this).attr('id'));
            for ( var i = 0 ; i < temparray.length ; i++ ) {
              if ( localStorage.getItem('ItemCollection-'+temparray[i]) ) {
                var cart_obj = localStorage.getItem('ItemCollection-'+temparray[i]);
                cart_obj = JSON.parse(cart_obj);
                if ( cart_obj.id == $(this).attr('id') ) {
                  localStorage.removeItem('ItemCollection-'+temparray[i]);
                  console.log(i);
                  document.getElementById("itemsPrice").innerHTML = 
                  parseInt( document.getElementById("itemsPrice").innerHTML ) - 
                  parseInt(cart_obj.product_sell_price);

                  document.getElementById("ClothingNum").innerHTML = 
                  parseInt( document.getElementById("ClothingNum").innerHTML ) - 1;


                  document.getElementById("numDealCloting").innerHTML = document.getElementById("ClothingNum").innerHTML;

                  document.getElementById($(this).attr('id')).parentNode.parentNode.parentNode.remove();
                  if ( document.getElementById("itemsPrice").innerHTML == 0 ) {
                    document.getElementById("shopping-cart-menu").children[5].remove();
                    document.getElementById("shopping-cart-menu").children[4].remove();
                    document.getElementById("shopping-cart-menu").children[3].remove();
                    document.getElementById("shopping-cart-menu").children[2].remove();
                    document.getElementById("shopping-cart-menu").children[1].remove();
                    document.getElementById("dealtemplate").remove();
                    var dropdownFooter2 = '<li role="presentation" class="divider"></li><li><img src="/assets/images/cartempty.png"></li>';
                    $("#shopping-cart-menu").append(dropdownFooter2);
                    document.getElementById("numDealCloting").style.display = "none";

                  }
                } // if
              } // if
            } // for

        });

      </script>
      {% block javascripts %}
      {% endblock %}
    </body>
</html>