        <div class="modal fade" id='logInModal'>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">會員入口</h4>
              </div>
              <div class="modal-body">
                <div class="fb_login">
                  <h4>GetMore 是亞洲第一個二手衣時尚購物網站</h4>
                  <a class='fb_login_btn btn btn-primary' href="{{fburl}}">用facebook登入</a> 快使用facebook快速登入!
                  <hr class="dashed_hr"/>
                </div>
                <div id="getmore_login">
                  <div class="row">
                    <div class="col-md-4">
                      <h4>會員登入</h4> 
                    </div>
                    <div class="getmore_instruction col-md-8 pull-right announcement">
                      若已是GetMore的會員,請在此登入!
                    </div>
                  </div>
                  <form name="login-form" action="/auth/login" method="POST">
                    <div class="form-group">
                      <label for="email">信箱</label>
                      <input type="email" class="form-control" id="email" name="identity" placeholder="email">
                    </div>
                    <div class="form-group">
                      <label for="password">密碼</label> <a target='_blank' id='forget_password' class="pull-right" href="/auth/forget_password">忘記密碼？</a>
                      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <a id='start_to_getmore' href="javascript:document.forms['login-form'].submit();" class='btn btn-primary'>開始GetMore</a>
                    <input type="hidden" name="redirect_url" value="{{current_url()}}"/>
                                        <div id='registration' class="col-md-4 pull-right">
                      還不是會員? <a id='register' href="/signUpModal" data-toggle="modal" onClick='$("#logInModal").modal("hide");'>來註冊!</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <p class='announcement text-center'>已成為「會員」或是點擊「用facebook 登入」按鈕的同時,<br>表示您已詳讀並同意GetMore相關的<a href="/info/buy#buypolicy" target='_blank'>購買條款</a>以及<a href="/info/sell#sellpolicy" target='_blank'>代洗代售服務條款</a>。</p>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      <div id="newHeaderContainer" style="z-index:100;width:100%;">
        <div id="newHeaderStickyContainer">
            <div id="newHeaderMenu" style = "overflow: visible;">
              <a href="http://nate.getmore.tw/getmore_homepage" id="homeimg" class="getmorelogoimg"><img src="/assets/GetMore_HomePage_files/logo.png"></a>
              <div class="searchbar">
                 <form class="searchbarform">
                    <div class="searchbarinput">
                      <input type="text" class="form-control" placeholder="搜尋 嬉皮,圖騰,幾何" style="width:400px;border-radius:0px;float:left;margin-right:5px;">
                    </div>
                    <button type="submit" class="btn btn-default" style="border-radius:0px;float:left;"><i class="fa fa-search"></i>&nbsp;搜尋</button>
                  </form> 
              </div>
              <div class="newHeaderRight">

                <div class="newHeaderMember" style = "{% if islogin == 0 %}display:none;{% endif %}"><i class="fa fa-gratipay 1x"></i></div>

                <div class="newHeaderMsg" style = "{% if islogin == 0 %}display:none;{% endif %}"><a href = "/message"  style="color: black;">
                  <i class="fa fa-envelope-o 1x"></i><span class="badge Headerbadge" style = " {% if get_num_notReadPost() == 0 %}display:none{% endif %}">{{get_num_notReadPost()}}</span></a></div>
                
                <div class="newHeaderCart"><a class="dropdown-toggle" data-toggle="dropdown"  style="color: black;">
                  <i class="fa fa-shopping-cart fa-1x"></i><span class="badge Headerbadge"></span>
                  <span id = "numDealCloting" class="badge Headerbadge" style = "displat:none"></span>
                </a>

                <ul class="dropdown-menu" id="shopping-cart-menu" style="max-height: 400px; min-width: 280px; overflow: auto;">
                  <li id = "shopping_cart_title"><span>SHOPPING CART</span></li>
{#                   <li role="presentation" class="divider"></li>
                  <li><img src="/assets/images/cartempty.png"></li> #}
                </ul>
                </div>

                <div class="newHeaderlogin" style = "{% if islogin == 1 %}display:none;{% endif %}"><a data-toggle="modal" data-target="#logInModal" href="#" class="pagelikea" target="_blank">Login</a></div>

                <div class="newHeaderlogin" style = "{% if islogin == 0 %}display:none;{% endif %}">
                  <a class="dropdown-toggle" data-toggle="dropdown" style="color: black;">{{nickname}}</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3" style="max-height: 400px; min-width: 210px;">
                    <a data-toggle="modal" href="/auth/logout?redirect_url={{current_url()}}"><li role="presentation" class="dropdown-header">Logout</li></a>
                    <a href = "/closet/manage"><li role="presentation" class="dropdown-header">賣家管理平台</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="planbar">
              <a class="btn btn-default newplanabtn", href="/getmore_homepage/barlist/Marketplace/">狂熱市集 / MarKetplace&nbsp;&nbsp;&nbsp;></a> 
              <a class="btn btn-default newplanbbtn", href="/getmore_homepage/barlist/Brandsonly/">品牌限定 / Brandsonly&nbsp;&nbsp;&nbsp;></a>
              <a class="btn btn-default newplancbtn", href="/getmore_homepage/barlist/Boutiques/">獨立設計師品牌 / Boutiques&nbsp;&nbsp;&nbsp;></a>
            </div>
            <div class="menuarea font-size14">
                <ul class="newHeaderMenu-left">
                  <li><a href="/clothing/category/new/", herf = "/clothing/category/new/">NEW</a></li>
                  <li><a href="/clothing/category/women/", herf = "/clothing/category/women/">WOMEN</a></li>
                  <li><a href="/clothing/category/men/", herf = "/clothing/category/men/">MEN</a></li>
                  <li><a href="/clothing/category/kids/" target="_blank", herf = "/clothing/category/men/">KIDS</a></li>
                  <li>|</li>
                  <li><a href="http://blog.getmore.cc" target="_blank", herf = "/blog/page">Blog</a></li>
                </ul>
                
                <ul class="newHeaderMenu-right">
                  <li class="newHeaderMenu-highlight"><a href="/info/sellchoice">賣衣服</a></li>
                  <li>|</li>
                  <li><a href="/clothing/category/new">關於 GetMore</a></li>
                </ul>
            </div>
        </div>
      </div>
