{% extends 'template/layout.html.twig' %}
  
  {% block navsolution %}
   {# <div class="pull-left navsolutionactive">
        <div class="subnavsolutionactive"><a href="/">GETMORE</a></div>
    </div>
    <div class="pull-left navsolution">
        <div class="subnavsolution"><a href="/clothing/mkplace" data-container="body" data-toggle="popover" data-placement="bottom" data-content="直接跟達人購買，這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味。">MARKETPLACE</a></div>
    </div> #}
            <div class="pull-left" style="margin-top:10px">
              <a href="http://bit.ly/22uiHMn" target=
              "_blank" style="color:#fff;font-size:10px;">小資女孩兒，$1,000元內時尚單品專區</a>
            </div>
  {% endblock %}

  {% block logo %}
    <a href="/"><img src='/assets/images/logos/logogreen.png'></a>
    <!--<div class="form-group">
      <input type="text" class="form-control" style="width:120px; display:inline" id="searchInput">
      <button type="submit" class="btn btn-primary planbtn" style="float: right" onclick="search()">找衣服</button>
    </div>
    <script type="text/javascript">
      function search() {
        window.location = "/clothing/newcate#?page=1&keyword=" + $("#searchInput").val();
      }
      $(document).keypress(function(e) {
        if(e.which == 13 && $('#searchInput').is(':focus')) {
          search();
        }
      });
    </script> !-->
  {% endblock %}


