<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ meta_charset }}">
    <title>{{ site_title }}</title>
    <meta name="viewport" content="width=1024">
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <!-- add meta tag added by howtomakeaturn -->
    <meta property="og:site_name" content="Getmore">
    <meta property="fb:app_id" content="239678122794926">
    <meta property="og:url" content="{{ current_url() }}">
    <meta property="og:locale"  content="zh_TW" />  
   {# <meta property="og:image" content="{{ clothing['files'][0]|s3_url('large') }}">
    <meta property="og:title" content="{{ clothing['product_title'] }}">
    <meta property="og:description" content="{{ clothing['description'] }}">
#}
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/core.css">
    <link rel="stylesheet" href="/assets/css/checkout.css">
    <link rel="stylesheet" href="/assets/css/member.css">
    <link rel="stylesheet" href="/assets/css/sellorder.css">
    
    {% block css %}
    {% endblock %}

    <script async="" src="//connect.facebook.net/en_US/fbds.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/assets/vendor/jquery/jquery.js"></script>
    {#<script src="/assets/javascript/bootstrap.js"></script>#}
    {# 
        Replace old bootstrap.js with 3.3.5 version bootstrap.min.js
        to fix dropdown menu problem
    #} 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/underscore-amd/underscore.js"></script>
    <script src="/assets/vendor/backbone-amd/backbone.js"></script>
    <script src="/assets/javascript/howtomakeaturn/backbone.localStorage.js"></script>
    <script src="/assets/javascript/libs/jquery/jquery.twzipcode-1.4.1.js"></script>
    <script src="/assets/javascript/libs/jquery/jquery.browser.js"></script>
    <script src="/assets/javascript/libs/jquery/jqzoom/js/jquery.jqzoom-core.js"></script>
    <link rel="stylesheet" href="/assets/javascript/libs/jquery/jqzoom/css/jquery.jqzoom.css" type="text/css">
    <script src="/assets/javascript/howtomakeaturn/main.js?time={{ time() }}"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.lunZhuan.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.countdown.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.simplePagination.js"></script>
    <script src="/assets/javascript/howtomakeaturn/jquery.jeditable.js"></script>
    <script src="/assets/javascript/bootstrap/bootstrap_dropdown_hover.js"></script>
    <script src="/assets/javascript/jquery-scrolltofixed-min.js"></script>

    {% block javascript %}
    {% endblock %}

    <script type="text/javascript">
        var getmore = getmore || {}; // Backbone namespace
        getmore.free_shipping = 0;
        var root_path = '.';
    </script>
    <script src="/assets/javascript/howtomakeaturn/search.js"></script>

    <!-- new google analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46722397-1', 'getmore.cc');
        ga('send', 'pageview');
    </script>
    <script>
    var originalLeave = $.fn.popover.Constructor.prototype.leave;
    $.fn.popover.Constructor.prototype.leave = function(obj){
      var self = obj instanceof this.constructor ?
        obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
      var container, timeout;

      originalLeave.call(this, obj);

      if(obj.currentTarget) {
        container = $(obj.currentTarget).siblings('.popover')
        timeout = self.timeout;
        container.one('mouseenter', function(){
          //We entered the actual popover – call off the dogs
          clearTimeout(timeout);
          //Let's monitor popover content instead
          container.one('mouseleave', function(){
            $.fn.popover.Constructor.prototype.leave.call(self, self);
          });
        })
      }
    };

    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover click',
            delay:{show: 50, hide: 400},
            'placement': 'bottom',
            'show': true,
            'content': '',
            'html': true
        });
    })
    </script>
</head>
<body>
  <header id="newheader">
    {% if 1|FirstBuy %}
 <div style="z-index:10000;width: 100%;background-color:#E70888;height:30px;text-align:center;padding-top:5px;color:#fff;position:fixed;">首次購買，享再95折優惠！最高折價$250</div>
 <div style="height:30px;"></div>
    {% endif %}

    <div id="header-containerbg">
      <div id="header-container">
      {% block navsolution %}
      {% endblock %}
      {% include '/dropdownnav/newnavbar_right.twig' %}
      </div>
      </div>
      <div id="navigation">
        <div class='row logoarea'>
          <div class='pull-left'>
            {% block logo %}
            {% endblock %}
          </div>
            {% block searchbox %}
            {% endblock %}
          {#<div class="pull-right logoarea-right">
            <a class="headhighlight" href='http://blog.getmore.cc/about-getmore/' target="_blank">什麼是Getmore?</a>
            <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">Getmore時尚誌</a>
            <a class="headhighlight" href="/info/sellchoice" target="_blank">賣衣服</a>
          </div>#}
        </div>
      </div>
    {% block boxmenu %}
    {% endblock %}
    {% block menu %}
    {% endblock %}
    
    </header>

    <div class="container">
        <!-- header start -->
        <div class="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
    <!-- /.main -->
    <!-- /.container -->


<!--New footer-->

<div style="margin:0 auto;">
<footer id="newfootercontainer">
  <div class="footcontainer">
    <div id="newfooterbox">
      <div id="footerabout">
        <div class="footerabouttitle">
          關於 Getmore
        </div>
        <div class="footerabout" style="margin-top:10px;">
          <p>專注在「時尚」社群的購物網站</p>
          <p>Getmore 是聚集新銳設計師、買手、時尚愛好者的購物網站，供應獨特單品以及二手時尚的時尚購物平台。 </p>
          <p>時尚很多元，就像是一個個精彩的小圈圈，Getmore 負責把時尚圈在一起，你也可以稱這裡是「時尚小圈圈」<a href="/pages/about" target="_blank">..more</a></p>
        </div>
      </div>
      <div>
        <div class="footerlinkbox" style="margin-left:80px;">
          <div class="footerabouttitle">
            發掘
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://getmore.cc" target="_blank">HOME 購物首頁</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc" target="_blank">Getmore's Blog</a></div>
            <div class="footerlink"><a href="http://bit.ly/1OMRn3p" target="_blank">新銳設計師專訪</a></div>
            <div class="footerlink"><a href="http://desk.getmore.cc/knowledgebase/articles/727713-%E9%97%9C%E6%96%BC%E9%80%80%E8%B2%A8" target="_blank">退貨政策</a></div>
          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            公司
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="/pages/about" target="_blank">關於 Getmore</a></div>
            <div class="footerlink"><button type="button" class="btn btn-success btn-xs" style="background-color:#E70888;border-radius:10%;"><a href="/pages/jointogether" target="_blank" style="color:#fff">我要進駐</a></button></div>
            <div class="footerlink"><a href="/pages/closetsell" target="_blank" style="color:#E70888;">個人二手代售申請</a></div>
            <div class="footerlink"><a href="http://getmore.cc/pages/fashionbuyer" target="_blank" style="color:#E70888;">時尚買手進駐</a></div>
            <div class="footerlink"><a href="http://getmore.cc/pages/luxury" target="_blank" style="color:#E70888;">二手精品店進駐</a></div>

          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            聯絡
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://desk.getmore.cc/" target="_blank">說明中心</a></div>
            <div class="footerlink"><a href="http://desk.getmore.cc/" target="_blank">聯絡我們</a></div>
            <div class="footerlink" style="margin-top:8px;">
              <a href="http://www.facebook.com/getmore.cc" target="_blank">
                <i class="fa fa-facebook-square fa-2x"  style="color:#3b5998;"></i>
              </a>
              <a href="https://instagram.com/getmorecc/" target="_blank"> 
                <i class="fa fa-instagram fa-2x" style="color:#3F729B;"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/" target="_blank">  
                <i class="fa fa-youtube-square fa-2x" style="color:#b31217;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="newfootercopyright">
      <hr style="margin:0 0 10px 0;">
      <div class="pull-left" style="margin-left:30px;"><i class="fa fa-cc-visa fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-credit-card fa-2x"></i></div>
      <div class="pull-right" style="font-size:10px;margin-right:30px;">Copyright © 2015 GetMore.cc INC. All rights reserved.</div>
    </div>
  </div>
</footer>
<!--END of footer -->
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    $(document).ready(function(){
      var logInModalHandler=function(e){
        if(e.which==13) 
          document.forms['login-form'].submit();
      };
      $('#logInModal').on('show.bs.modal', function(){
        var $tmp=$(this);
        $(window).bind('keypress', logInModalHandler);
      });
      $('#logInModal').on('hide.bs.modal', function(){
        $(window).unbind('keypress', logInModalHandler);
      });
    });
</script>

 {% include '/modal/general_modals.twig' %}    

</body>
</html>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?2CzTS30m2Lrz7FqqNDx0kz5JG84zmbBd";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->