<meta property="og:title" content="Getmore 專注在「時尚」社群的購物網站 - 原創新銳設計/時尚配件/時尚買手/二手精品/二手包/品牌二手代售"/>
<meta property="og:description" content="Getmore 是專注在「時尚」社群的購物網站。聚集新銳設計師、買手、時尚愛好者的購物網站，供應獨特單品以及二手時尚的時尚購物平台。時尚很多元，就像是一個個精彩的小圈圈，Getmore 負責把時尚圈在一起，你也可以稱這裡是「時尚小圈圈」。" />
<meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/getmore/logogreen800.png" />