{% extends 'template/layout.html.twig' %}

	{% block navsolution %}
	<div class="pull-left navsolution">
	    <div class="subnavsolution"><a href="/">GETMORE</a></div>
	</div>
	<div class="pull-left navsolutionactive">
	    <div class="subnavsolutionactive"><a href="/clothing/mkplace" data-container="body" data-toggle="popover" data-placement="bottom" data-content="這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味，
	    你在這可以玩上一整天，享受這場時尚市集饗宴。">MARKETPLACE</a></div>
	</div>
	{% endblock %}

	{% block logo %}
	  <a href="/clothing/mkplace"><img src='/assets/images/logos/logored.png'></a>
	{% endblock %}

	{#{% block boxmenu %}
	  <div class='container planpopover boxmenu'>
	    <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">代買時尚 / Personal Shopper</a></div>
	    <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">達人二手 / Closet</a></div>
	  </div>
	{% endblock %}
#}
  {% block css %}
  <link rel="stylesheet" href="/assets/css/clothing_view.css">
  <link rel="stylesheet" href="/assets/css/clothing_view_mkplace.css">
  <style>
  .btn-primary,.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    border-color: #dd641d;
  }
  .btn-primary{
    background-color:#dd641d;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color:#cc3333;
  }
  .planbtn{
    background: #fff;
  }
  </style>
  {% endblock %}

{% block javascript %}
  <script src="/assets/javascript/howtomakeaturn/clothing.js"></script>
{% endblock %}




