<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ meta_charset }}">
    <title>{{ site_title }}</title>
    <meta name="viewport" content="width=1024">
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='CACHE-CONTROL' content='NO-CACHE'>
    <meta http-equiv='EXPIRES' content='Mon, 22 Jul 2002 11:12:01 GMT'>
    <meta http-equiv='PRAGMA' content='NO-CACHE'>
    <meta name="format-detection" content="telephone=no">
    <!-- add meta tag added by howtomakeaturn -->
    <meta property="fb:app_id" content="239678122794926">
    <meta property="og:url" content="{{ current_url() }}">
    <meta property="og:image" content="{{ clothing['files'][0]|s3_url('large') }}">
    <meta property="og:title" content="{{ clothing['product_title'] }}">
    <meta property="og:description" content="{{ clothing['description'] }}">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/core.css">
    {% block css %}
    {% endblock %}
    
    <link rel="stylesheet" href="/assets/css/clothing.css">
    <link rel="stylesheet" href="/assets/css/checkout.css">
    <link rel="stylesheet" href="/assets/css/member.css">
    <link rel="stylesheet" href="/assets/css/sellorder.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script type="text/javascript">
        var getmore = getmore || {}; // Backbone namespace
        var root_path = '.';
    </script>

    <script src="/assets/javascript/howtomakeaturn/search.js"></script>
    <!-- new google analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46722397-1', 'getmore.cc');
        ga('send', 'pageview');
    </script>


    <style>
    .col-254 {
        padding-right: 10px;
    }
    </style>
    
</head>

<body>
    {% block stylesheets %}{% endblock %}
            <header id="newheader">  
        <div id="header-containerbg">
            <div id="header-container">
                <div class="pull-left" style="text-align:center;height:36px;background:#fff;display:inline;margin-top:4px;">
                    <div style="font-size:10px;margin:auto;padding:10px 10px;text-decoration:underline;"><a href="/#" style="color:#000;">GETMORE</a></div>
                </div>
                <div class="pull-left" style="text-align:center;height:36px;display:inline;margin-top:4px;">
                    <div style="font-size:10px;margin:auto;padding:10px 10px;"><a href="/clothing/mkplace" style="color:#fff;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="這裏聚集了許多對服飾狂熱份子，分享他們的穿搭品味，
                    你在這可以玩上一整天，享受這場時尚市集饗宴。">MARKETPLACE</a></div>
                </div>
                {% include '/dropdownnav/newnavbar_right.twig' %}
            </div>
        </div>
      <div id="navigation">
        <div class='row logoarea'>
          <div class='pull-left'>
              <a href="/"><img src='/assets/images/logos/logogray.png'></a>
          </div>
          <div class="pull-right logoarea-right">
            <a class="headhighlight" href='http://blog.getmore.cc/about-getmore/' target="_blank">什麼是Getmore?</a>
            <a class="headhighlight" href="http://blog.getmore.cc" target="_blank">Getmore時尚誌</a>
            <a class="headhighlight" href="/info/sellchoice" target="_blank">賣衣服</a>
          </div>
        </div>
      </div>
     {# <div class='container planpopover boxmenu'>
        <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;margin-right:6px;">代買時尚 / Personal Shopper</a></div>
        <div style="float:left;text-align:center;"><a href="#" class="btn btn-primary planbtn" style="width:497px;">達人二手 / Closet</a></div>
      </div>#}
    </header>
    <div class='container'>
        <div class='main'>
            <div class='row' id='pagerow'>
                {% block body %}
                {% endblock %}
                <!--</div>-->
            </div>
        </div>
        <!-- /.main -->
    </div>
    <!-- /.container -->
    {% include '/modal/general_modals.twig' %}    

<!--New footer-->

<div style="margin:0 auto;">
<footer id="newfootercontainer">
  <div class="footcontainer">
    <div id="newfooterbox">
      <div id="footerabout">
        <div class="footerabouttitle">
          關於 GetMore
        </div>
        <div class="footerabout" style="margin-top:10px;">
          <p>在 GetMore 直接向時尚達人購買精選的獨立品牌以及二手時尚單品！</p>
          <p>GetMore 是一個以「共享經濟」為概念的時尚分享平台，我們的使命是挖掘世界各地的搭配達人，以及獨立品牌的時裝設計師。在這，你可以透過 GetMore 的網站，發掘，購買時尚賣家供應的獨特搭配單品。<a href="http://blog.getmore.cc/about-getmore/" target="_blank">..more</a></p>
        </div>
      </div>
      <div>
        <div class="footerlinkbox" style="margin-left:80px;">
          <div class="footerabouttitle">
            發掘
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://getmore.cc" target="_blank">HOME 購物首頁</a></div>
            <div class="footerlink"><a href="/info/sellchoice" target="_blank" style="color:#b31217">賣衣服</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc" target="_blank">Getmore's Blog</a></div>
            <div class="footerlink"><a href="http://bit.ly/1OMRn3p" target="_blank">新銳設計師專訪</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/knowledgebase/returnpolicy/" target="_blank">退貨政策</a></div>
          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            公司
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://blog.getmore.cc/about-getmore/" target="_blank">關於 Getmore</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc" target="_blank">工作機會</a></div>
            <div class="footerlink"><a href="http://blog.getmore.cc/publicrelations/" target="_blank">新聞室</a></div>
          </div>
        </div>
        <div class="footerlinkbox" style="margin-left:10px;">
          <div class="footerabouttitle">
            聯絡
          </div>
          <div class="footerabout" style="margin-top:10px;">
            <div class="footerlink"><a href="http://support.getmore.cc/" target="_blank">說明中心</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/faqpage/" target="_blank">常見問題</a></div>
            <div class="footerlink"><a href="http://support.getmore.cc/" target="_blank">聯絡我們</a></div>
            <div class="footerlink" style="margin-top:8px;">
              <a href="http://www.facebook.com/getmore.cc" target="_blank">
                <i class="fa fa-facebook-square fa-2x"  style="color:#3b5998;"></i>
              </a>
              <a href="https://instagram.com/getmorecc/" target="_blank"> 
                <i class="fa fa-instagram fa-2x" style="color:#3F729B;"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCMFEkClqi18ge_EItQa0lAg/" target="_blank">  
                <i class="fa fa-youtube-square fa-2x" style="color:#b31217;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="newfootercopyright">
      <hr style="margin:0 0 10px 0;">
      <div class="pull-left" style="margin-left:30px;"><i class="fa fa-cc-visa fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-credit-card fa-2x"></i></div>
      <div class="pull-right" style="font-size:10px;margin-right:30px;">Copyright © 2015 GetMore.cc INC. All rights reserved.</div>
    </div>
  </div>
</footer>
<!--END of footer -->

      <script type="text/javascript" src="/assets/javascript/howtomakeaturn/main.js"></script>
    <script type="text/javascript">
    var app = angular.module('getmore_sell_manage', []);

    app
        .directive('autoComplete', function($timeout){
            return function(scope, iElement, iAttrs) {
                iElement.autocomplete({
                    source: scope[iAttrs.uiItems],
                    select: function() {
                        $timeout(function() {
                            iElement.trigger('input');
                        }, 0);
                    }
                });
            };
        })
        .filter('item_status_translate', function(){
            return function(item_status){
                switch(parseInt(item_status, 10)){
                    case 0:
                        return '全新商品';
                    break;
                    case 1:
                        return '幾近全新';
                    break;
                    case 2:
                        return '狀況良好';
                    break;
                    case 3:
                        return '有歲月痕跡';
                    break;
                }
            }
        })
        .filter('console', function(){
            return function(data){
                console.log(data);
            }
        })
        .filter('size_translate', function(){
            return function(size){
                switch(size){
                    case 'custom_made':
                        return '量身訂做';
                    default:
                        return size;
                }
            }
        })
        .filter('measure_img', function() {
            return function(category2, r_long, r_pattern) {
                var setting = "/admin/assets/images/clothing_table/";
                setting += category2;

                if(!(category2 == "14" || category2 == "15" || category2 == "24" || category2 == "31" || category2 == "35")){
                    if(!(category2 == "33" && r_pattern == "20")){
                        setting += r_long;
                    }
                    else{
                        setting += 'skirt';
                    }
                }

                setting += ".png";
                
                return setting;
            };
        })

        .filter('preview_type', function(){
            var product_type_mapping = {
                    '11': '上衣',
                    '12': '洋裝',
                    '13': '褲子',
                    '14': '裙子',
                    '15': '外套',
                    '21': '上衣',
                    '22': '襯衫',
                    '23': '褲子',
                    '24': '外套',
                    '31': '連身衣',
                    '32': '上衣',
                    '33': '下身',
                    '34': '洋裝',
                    '35': '外套',
                    '1S1': '靴子',
                    '1S2': '平底鞋',
                    '1S3': '雨鞋',
                    '1S4': '涼拖鞋',
                    '1S5': '運動休閒鞋',
                    '1S6': '高跟鞋',
                    '2S1': '靴子',
                    '2S2': '皮鞋',
                    '2S3': '休閒鞋',
                    '2S4': '運動鞋',
                    '2S5': '涼拖鞋',
                    '2S6': '鞋把',
                    '3S1': '靴子',
                    '3S2': '平底鞋',
                    '3S3': '雨鞋',
                    '3S4': '涼拖鞋',
                    '3S5': '運動休閒鞋',
                    '3S6': '學步鞋',
                    '1B1': '包',
                    '2B1': '包',
                    '3B1': '包',
                    '1A1': '飾品',
                    '1A2': '錢包',
                    '1A3': '手錶',
                    '1A4': '皮帶',
                    '1A5': '手套',
                    '1A6': '髮飾',
                    '1A7': '帽子',
                    '1A8': '鑰匙圈/鑰匙包',
                    '1A9': '絲巾/圍巾',
                    '1A10': '襪子',
                    '1A11': '眼鏡/太陽眼鏡',
                    '1A12': '3C配件',
                    '1A13': '文具',
                    '1A14': '家飾/居家用品',
                    '1A15': '旅行用品',
                    '1A16': '雨傘',
                    '2A1': '飾品',
                    '2A2': '手錶',
                    '2A3': '皮帶',
                    '2A4': '手套',
                    '2A5': '領帶/領結',
                    '2A6': '手帕/口袋巾',
                    '2A7': '帽子',
                    '2A8': '鑰匙圈/鑰匙包',
                    '2A9': '絲巾/圍巾',
                    '2A10': '襪子',
                    '2A11': '眼鏡/太陽眼鏡',
                    '2A12': '皮夾/鈔票夾',
                    '2A13': '3C配件',
                    '2A14': '文具',
                    '2A15': '家飾/居家用品',
                    '2A16': '旅行用品',
                    '2A17': '雨傘',
                    '3A1': '飾品',
                    '3A2': '手錶',
                    '3A3': '皮帶',
                    '3A4': '手套',
                    '3A5': '髮飾',
                    '3A6': '帽子',
                    '3A7': '絲巾/圍巾',
                    '3A8': '襪子',
                    '3A9': '眼鏡/太陽眼鏡',
                    '3A10': '文具',
                    '3A11': '雨傘'
                };

            return function(category, category2) {
                var preview = "";
                if (category == "1") {
                    preview = "Women > " + product_type_mapping[category2];
                } else if (category == "2") {
                    preview = "Men > " + product_type_mapping[category2];
                } else if (category == "3") {
                    preview = "Kids / Baby > " + product_type_mapping[category2];
                }
                return preview;
            };
        })
        
        .filter('preview_long', function(){
            return function(r_long, category2){
                var preview = "";
                if (r_long == "ns") {
                    preview = "無袖";
                } else if (r_long == "ss") {
                    preview = "短袖";
                } else if (r_long == "ls") {
                    preview = "長袖";
                } else if (r_long == "sp" && category2 != '33') {
                    preview = "短褲";
                } else if(r_long == "sp" && category2 == '33'){
                    preview = "短 褲/裙";
                } else if (r_long == "lp" && category2 != '33') {
                    preview = "長褲";
                } else if (r_long == "lp" && category2 == '33') {
                    preview = "長 褲/裙";
                } else if (r_long == "sb") {
                    preview = "短版";
                } else if (r_long == "lb") {
                    preview = "長板";
                }                 
                return preview;
            };
        })
        .filter('preview_pattern', function(){
            return function(r_pattern){
                var pattern = "";
                if (r_pattern == "1") {
                    pattern = "Legging";
                } else if (r_pattern == "2") {
                    pattern = "Polo衫";
                } else if (r_pattern == "3") {
                    pattern = "T-Shirt";
                } else if (r_pattern == "4") {
                    pattern = "一般外套";
                } else if (r_pattern == "5") {
                    pattern = "休閒褲";
                } else if (r_pattern == "6") {
                    pattern = "休閒襯衫";
                } else if (r_pattern == "7") {
                    pattern = "其他";
                } else if (r_pattern == "8") {
                    pattern = "商務襯衫";
                } else if (r_pattern == "9") {
                    pattern = "大衣";
                } else if (r_pattern == "10") {
                    pattern = "娃娃裝";
                } else if (r_pattern == "11") {
                    pattern = "斗篷";
                } else if (r_pattern == "12") {
                    pattern = "棉質外套";
                } else if (r_pattern == "13") {
                    pattern = "牛仔褲";
                } else if (r_pattern == "14") {
                    pattern = "皮衣";
                } else if (r_pattern == "15") {
                    pattern = "短洋裝";
                } else if (r_pattern == "16") {
                    pattern = "短裙";
                } else if (r_pattern == "17" || r_pattern == "18") {
                    pattern = "羽絨衣";
                } else if (r_pattern == "19") {
                    pattern = "背心";
                } else if (r_pattern == "20") {
                    pattern = "裙子";
                } else if (r_pattern == "21") {
                    pattern = "褲子";
                } else if (r_pattern == "22") {
                    pattern = "褲裙";
                } else if (r_pattern == "23") {
                    pattern = "襯衫";
                } else if (r_pattern == "24") {
                    pattern = "西裝外套";
                } else if (r_pattern == "25") {
                    pattern = "西裝褲";
                } else if (r_pattern == "26") {
                    pattern = "連身褲";
                } else if (r_pattern == "27") {
                    pattern = "運動外套";
                } else if (r_pattern == "28") {
                    pattern = "針織/毛衣";
                } else if (r_pattern == "29") {
                    pattern = "針織/毛衣外套";
                } else if (r_pattern == "30") {
                    pattern = "長上衣";
                } else if (r_pattern == "31") {
                    pattern = "長洋裝";
                } else if (r_pattern == "32") {
                    pattern = "長裙";
                } else if (r_pattern == "33") {
                    pattern = "雪紡";
                } else if (r_pattern == "34") {
                    pattern = "背心外套";
                } else if(r_pattern == "35") {
                    pattern = "休閒運動衫";
                } else if(r_pattern == "36") {
                    pattern = "A Line/圓裙";
                } else if(r_pattern == "37") {
                    pattern = "窄裙/鉛筆裙";
                } else if(r_pattern == "38") {
                    pattern = "風衣";
                } else if(r_pattern == "39") {
                    pattern = "海灘褲";
                } else if(r_pattern == "40") {
                    pattern = "運動褲";
                }
                return pattern;
            };
        })

        .filter('preview_price', function(){
            return function(product_original_price){
                var preview = "";
                if (product_original_price == "0"){

                } else if (product_original_price == "1000"){
                    preview = "500元 ~ 1,000元";
                } else if (product_original_price == "2000"){
                    preview = "1,001元 ~ 2,000元";
                } else if (product_original_price == "3000"){
                    preview = "2,001元 ~ 3,000元";
                } else if (product_original_price == "4000"){
                    preview = "3,001元 ~ 4,000元";
                } else if (product_original_price == "5000"){
                    preview = "4,001元 ~ 5,000元";
                } else if (product_original_price == "6000"){
                    preview = "5,001元 ~ 6,000元";
                } else if (product_original_price == "7000"){
                    preview = "6,001元 ~ 7,000元";
                } else if (product_original_price == "8000"){
                    preview = "7,001元 ~ 8,000元";
                } else if (product_original_price == "9000"){
                    preview = "8,001元 ~ 9,000元";
                } else if (product_original_price == "10000"){
                    preview = "9,001元 ~ 10,000元";
                } else if (product_original_price == "15000"){
                    preview = "10,001元 ~ 15,000元";
                } else if (product_original_price == "20000"){
                    preview = "15,001元 ~ 20,000元";
                } else if (product_original_price == "25000"){
                    preview = "20,001元 ~ 25,000元";
                } else if (product_original_price == "30000"){
                    preview = "25,001元 ~ 30,000元";
                } else if (product_original_price == "35000"){
                    preview = "30,001元 ~ 35,000元";
                } else if (product_original_price == "40000"){
                    preview = "35,001元 ~ 40,000元";
                } else if (product_original_price == "45000"){
                    preview = "40,001元 ~ 45,000元";
                } else if (product_original_price == "50000"){
                    preview = "45,001元 ~ 50,000元";
                } else if (product_original_price == "60000"){
                    preview = "50,001元 ~ 60,000元";
                } else if (product_original_price == "70000"){
                    preview = "60,001元 ~ 70,000元";
                } else if (product_original_price == "80000"){
                    preview = "70,001元 ~ 80,000元";
                } else if (product_original_price == "90000"){
                    preview = "80,001元 ~ 90,000元";
                } else if (product_original_price == "100000"){
                    preview = "90,001元 ~ 100,000元";
                } else if (product_original_price == "999999"){
                    preview = "超過 100,000 元";
                }
                return preview;
            };
        })

        .filter('s3_url', function(){
            return function(file_id, size, type) {
                var image_path = 'http://s3.getmore.cc/'

                size = size || 'medium';
                type = type || 'clothing';

                switch (type) {
                    case 'clothing':
                    case 'profile':
                        image_path += type+'/'+file_id+'/'+size+'.jpg';
                        break;
                    case 'banner':
                    case 'blog':
                        image_path += type+'/'+file_id+'.jpg';
                        break;
                    default:
                        image_path += 'white.gif';
                        break;
                }

                return image_path; 
            };
        })

        .config(['$interpolateProvider', function ($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }])
    </script>
    {% block javascript %}{% endblock %}
      <script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/9OtoZKbwa8oCjjkTPqsEw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#808283',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>




